[2017-05-22 17:54] samreid commented on #315
Fixed above, closing.

[2017-05-22 17:54] #315 closed

[2017-05-22 17:56] samreid commented on #323
I agree, the commit you made does not solve the problem in the layout code.  I think AlignBox/AlignGroup is supposed to automatically handle the spacing, but I don't know how to use it.  Perhaps we can collaborate on this on Tuesday and get it figured out.

[2017-05-22 17:58] Denz1994 commented on #323
Okay sounds good. I found it hard to manage the spacing as well. Postponing until next collaboration.

[2017-05-22 19:45] samreid commented on #59
After adding switches and series ammeters, this number is back up to 54.

[2017-05-22 20:16] samreid commented on #201
Testing on iPad3, I saw that multiple vertices plus a circuit could be selected simultaneously even on the DC sim (problem is not specific to Black Box).  Proposed fix is in the preceding 2 commits, and published a dev version here for testing: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.23/circuit-construction-kit-dc_en.html

@phet-steele can you take a loo

[2017-05-22 20:18] samreid commented on #289
Thanks @arouinfar, I'll close this issue and create a new issue for centering the label over the bulb.

[2017-05-22 20:18] #289 closed

[2017-05-22 20:18] samreid opened #325 "The show values label should be centered over the light bulb"
From https://github.com/phetsims/circuit-construction-kit-common/issues/289

![image](https://cloud.githubusercontent.com/assets/8419308/26129378/3003bee8-3a4d-11e7-9b24-cc080cc4dc34.png)

[2017-05-22 20:22] samreid commented on #325
I used the charge path length to center it over the correct part of the filament:
![image](https://cloud.githubusercontent.com/assets/679486/26326815/1658746e-3efa-11e7-8ff2-812dacc8c510.png)

[2017-05-22 20:24] samreid commented on #325
Fixed above, but the solution depends on the filament geometry.  May need to be re-tested after working on the other light bulb issues.

[2017-05-22 20:31] samreid commented on #325
I published a version here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.24/circuit-construction-kit-dc_en.html

@arouinfar can you test this version and help me remember to test this again after other light bulb changes?

[2017-05-22 21:07] jonathanolson commented on #323
Since I was tagged:
[code]

[2017-05-22 21:12] samreid commented on #274
I added the new artwork in the above commits.  Still need to move the vertices apart.

[2017-05-22 21:18] samreid commented on #259
Fixed in #274 and the above commit.  Posted dev version here http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.25/circuit-construction-kit-dc_en.html .  @arouinfar can you please see if this transparency issue is OK?

I also noticed a tiny yellow flake on the unlit bulb, not sure what it is.  Should we make an issue for it?

![image](https://cloud.githubuserconten

[2017-05-22 21:30] samreid commented on #259
Fix for the yellow flakes is on the way

[2017-05-22 21:31] samreid commented on #259
OK Yellow flakes should be gone after the above commit.

[2017-05-22 21:40] samreid opened #326 "Move the light bulb vertices apart"
See #274, we need to move the vertices apart so they aren't touching.

![image](https://cloud.githubusercontent.com/assets/679486/26329518/da4c7546-3f04-11e7-83a6-08a7080399e0.png)

When I tried separating the vertices, it came out like this:

![image](https://cloud.githubusercontent.com/assets/679486/26329532/ec6304de-3f04-11e7-8026-d9ff3533dd48.png)

[2017-05-22 21:41] samreid commented on #274
I'm going to work on the vertices issue in #326.  @arouinfar can you review the artwork in this dev version?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.25/circuit-construction-kit-dc_en.html

[2017-05-22 21:47] samreid commented on #326
It was recommended to move the bottom vertex, but it turned out to be much simpler to move the right hand vertex.  The current version looks like this:
![image](https://cloud.githubusercontent.com/assets/679486/26329764/f8c4a164-3f05-11e7-911e-361d58efc061.png)

[2017-05-22 21:50] samreid commented on #326
I published http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.26/circuit-construction-kit-dc_en.html with this proposed fix.  The code is currently anchored about the bottom socket point.  It could be changed to adjust the position of the left vertex but it would take more work.  @arouinfar can you please review it and let me know your recommendation?

[2017-05-23 01:47] samreid opened #327 "Factor out schematic thickness"
Many components currently have different thickness

![image](https://cloud.githubusercontent.com/assets/679486/26335187/74a977b6-3f27-11e7-8ee5-5c9762c89564.png)

[2017-05-23 01:58] samreid commented on #273
Perhaps it wouldn't be so bad to redo the circuit path, we could trigger a relayout of electrons on schematic/lifelike change and use the new path.  Then code both paths in LightBulb.js

[2017-05-23 05:12] samreid commented on #273
I published a dev version: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.27/circuit-construction-kit-dc_en.html

This shows the schematic icon in the toolbox with no leads and shows a rough draft of the schematic light bulb in the play area, with the leads overlapping the electron paths.  The main question for this dev version is: should we spend time to updat

[2017-05-23 05:28] samreid commented on #279
Proposed fix is here http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.28/circuit-construction-kit-dc_en.html

@phet-steele can you please test it?

[2017-05-23 15:20] samreid commented on #323
Thanks @jonathanolson, I used the code above and now it looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/26361715/1006d53e-3f99-11e7-9cde-54343f3ae54c.png)

Is there an option to left-align the "electrons" and "conventional" text?

[2017-05-23 15:21] samreid commented on #323
Looks like AlignBox has leftAlign.  Not sure if I can specify this through the AlignGroup.  Checking...

[2017-05-23 15:25] samreid commented on #323
Fixed above, thanks @jonathanolson!

[2017-05-23 15:25] #323 closed

[2017-05-23 15:29] samreid commented on #271
A new test shows about 11ish electrons in around 10 seconds.  @arouinfar here is a recent dev version:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.28/circuit-construction-kit-dc_en.html

Can you review and let me know your thoughts?

[2017-05-23 15:47] samreid opened #328 "Revisit light bulb scale"
From https://github.com/phetsims/circuit-construction-kit-common/issues/327 I removed the content scale to get the wire width scale working.  We'll need to update the size of the bulb next.

[2017-05-23 15:47] samreid commented on #327
Looks much better after the preceding commit, closing.

[2017-05-23 15:47] #327 closed

[2017-05-23 15:55] samreid commented on #273
After fixing #328 the code for this got simpler and the layout may have changed a bit.  I'll post a new version.

[2017-05-23 15:57] samreid commented on #273
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.29/circuit-construction-kit-dc_en.html

@arouinfar can you take a look?

[2017-05-23 15:59] samreid commented on #328
Fixed above, closing.

[2017-05-23 15:59] #328 closed

[2017-05-23 18:53] phet-steele commented on #279
Looks fixed to me.

[2017-05-23 18:53] #279 closed

[2017-05-23 19:11] phet-steele commented on #201
At the time of finding, DC didn't exist 😄!

I checked both dev.23 and dev.29 (latest). The multiple scissors problem is fixed, but I would imagine that touching anything other than a scissor would dismiss the visible scissor? (it doesn't).

For example, with a mouse I can click a vertex for a scissor, then click away and dismiss the scissor (sort of like modal behaviour). Same with a click & drag.

[2017-05-23 21:55] samreid commented on #245
The circuit dynamics assume that no electron can go around 2 corners or more in one time step (and time is slowed down enough to make this so).  When we limit the amount the speed can be reduced, (say to 10% or so), the electrons in the short circuit get bunched up.  I tried subdividing the dt by 100 and running it 100 times, but this is computationally demanding and still did not have the correct

[2017-05-24 00:52] samreid commented on #131
I changed the algorithm from "when any vertex is dropped, check all vertices for bad overlap" to "when any vertex is dropped, check it and its neighbors against all other vertices for bad overlap" and published a dev version here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.34/circuit-construction-kit-dc_en.html

@arouinfar or @phet-steele can you please tes

[2017-05-24 00:55] samreid commented on #201
It would be easy to add a listener to the background.  Not sure how to add a listener to "anywhere else".  I'll ask around.

[2017-05-24 00:56] samreid commented on #201
Oh wait there is already code that is supposed to be doing this:

[code]

[2017-05-24 01:01] samreid commented on #201
Testing http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.29/circuit-construction-kit-dc_en.html I see that if I drag out a battery, then click a vertex it becomes selected and the scissors show.  Then if I click in the background, the selected vertex becomes unhighlighted and the scissor button disappears.  Is this the desired behavior?  Are you seeing something

[2017-05-24 01:42] samreid commented on #281
@phet-steele can you please test this in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.35/circuit-construction-kit-dc_en.html and see if it is still a problem?

[2017-05-24 01:43] samreid commented on #273
It looks like the height deviated, I'll post a fix for this.

[2017-05-24 01:48] samreid commented on #273
Height is much better in this revision:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.36/circuit-construction-kit-dc_en.html

Also, after seeing this, I'm less concerned about the electron path because it kind of matches the curve of the schematic bulb.

[2017-05-24 02:16] samreid commented on #282
Since we decided to always have some wire resistance, this issue is moot. Closing.

[2017-05-24 02:16] #282 closed

[2017-05-24 02:27] samreid commented on #264
As noted in #317 this simulation needs to be feature complete and ready for code review by June 26 in order to meet our "end of July" deadline.  It would be great to have this artwork a month before code review--I could work with placeholders in the meantime but that's not as efficient.  @arouinfar @ariel-phet @kathy-phet can you please update on this status?

[2017-05-24 02:33] samreid commented on #123
Moved to black box repo, closing.

[2017-05-24 02:33] #123 closed

[2017-05-24 02:38] samreid opened #329 "Can we gray out investigate wires that are inside the black box and vice versa?"
Please see https://github.com/phetsims/circuit-construction-kit-common/issues/107 for full details

[2017-05-24 02:38] #329 closed

[2017-05-24 02:39] samreid commented on #107
Issue will now be tracked in the black box study repo.

[2017-05-24 02:39] #107 closed

[2017-05-24 02:50] samreid opened #330 "On screen 2-3, the circuit element toolbox should be a carousel"
From https://github.com/phetsims/circuit-construction-kit-common/issues/234

It should look like this

![image](https://cloud.githubusercontent.com/assets/8419308/23812569/4a54b0d4-0598-11e7-9939-78f50f557b92.png)

![image](https://cloud.githubusercontent.com/assets/8419308/23812499/0f70dcc2-0598-11e7-93a4-f9c1988e2d9c.png)

[2017-05-24 02:51] samreid opened #331 "Add grab bag items"
From #234.  Once we have a carousel in #330, we can start adding grab bag items.  They can be placeholders until #264 is complete.

[2017-05-24 02:52] samreid commented on #234
I have split this issue into two steps, noted above and will proceed in those, closing.

[2017-05-24 02:52] #234 closed

[2017-05-24 13:44] samreid commented on #330
@jbphet @jonathanolson Can I use a carousel with only one page for the first screen, or will I need to use a different component?

[2017-05-24 15:53] samreid commented on #331
I asked on skype:

[2017-05-24 16:02] samreid opened #332 "Segregating DC strings from Common"
Before we publish we will need to think carefully about what strings should be "common" strings and what strings should be only in the "dc" repo.  It is difficult to change strings after the sim is published.  Some strings like "voltmeter" clearly belong in the common repo because they will be used in many CCK variants.  Will grab bag items be used in other CCK sims?  Also, can you take a look thr

[2017-05-24 16:17] jonathanolson commented on #330
No clue, does it not work?

[2017-05-24 16:18] samreid commented on #330
I didn't want to show the carousel buttons when there is only one page.  The default behavior is to show grayed out carousel buttons.  I worked around this with an if statement that creates a carousel if there are >1 pages, otherwise creates a sun panel.

[2017-05-24 16:25] phet-steele commented on #201
I would imagine this is desired (it's desired in my book!) which is why I mentioned that it wasn't happening with touch. @arouinfar?

[2017-05-24 16:26] samreid commented on #201
Sorry, I wasn't testing on touch.  I'll take a closer look.

[2017-05-24 19:28] samreid commented on #330
I'm considering putting the dots on the right-hand-side of the carousel--it seems like it would impinge less on the amount of play area.

[2017-05-24 19:50] phet-steele commented on #281
@samreid, this still occurs in dev.35. Looking at your above setup, it wasn't obvious that you have a wire from the negative end of the battery to the base of the lightbulb, there is some overlap. Here is your setup without the overlap:
<img width="473" alt="screen shot 2017-05-24 at 1 47 04 pm" src="https://cloud.githubusercontent.com/assets/5863899/26422603/c1fcddd0-4087-11e7-998f-b7a497f9a57e.p

[2017-05-24 20:27] samreid commented on #330
@Denz1994 and I added the page control dots in the preceding commit.  We tried them on the left side, but it trapped a lot of space and looked odd.

[2017-05-24 20:41] samreid commented on #330
The carousel has an odd layout because the light bulb is so tall.  We tried to make the labels equally spaced using AlignBox, but it's still problematic.

![image](https://cloud.githubusercontent.com/assets/679486/26424593/03d0017c-408f-11e7-87ac-38a7157a790d.png)

[2017-05-24 20:43] samreid commented on #330
Here's a pic with the light bulb at the bottom.  Looks better in my opinion but there is still a problem near the light bulb:

![image](https://cloud.githubusercontent.com/assets/679486/26424681/522e40ae-408f-11e7-9b40-0a43ad7800a3.png)

[2017-05-24 20:44] samreid commented on #330
Removing the "bottom alignment" gives the switch much more room and looks much better:

![image](https://cloud.githubusercontent.com/assets/679486/26424730/715ce5de-408f-11e7-8327-1bb91b358c2c.png)

[2017-05-24 20:50] samreid commented on #330
@Denz1994 and I posted a dev version for design team feedback:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.37/circuit-construction-kit-dc_en.html

[2017-05-24 22:13] samreid commented on #201
New version is published here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.38/circuit-construction-kit-dc_en.html

I'll test the built version on iPad before sending it back to @phet-steele

[2017-05-24 22:31] samreid commented on #201
[5/24/17, 4:16:48 PM] Steele Dalton: needs to disable after a drag too, even if the drag is on a vertex that has scissors already
[5/24/17, 4:30:04 PM] Sam Reid: I see what you mean. Denzel tested that and thought it seemed OK to remain selected over a drag.  I’ll test again and try to see it from your perspective.

[2017-05-24 22:50] samreid opened #333 "After dropping a selected circuit element, it should become deselected"
When dropping a selected vertex, it becomes deselected.  We should do the same for circuit elements.  See #201

[2017-05-24 22:53] samreid commented on #201
In the previous commit, the vertex deselects after drag.

[2017-05-25 02:30] samreid commented on #331
I've got placeholders for everything, still awaiting artwork but I could enter in the resistance values.

[2017-05-25 02:40] samreid commented on #201
Dev version posted here for testing:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.40/circuit-construction-kit-dc_en.html

@phet-steele can you take a look?  Note that the "deselect circuit element after dragging" is now a separate issue #333

[2017-05-25 02:41] samreid commented on #331
I'll close this issue and create new issues for adding the artwork and resistance values.

[2017-05-25 02:41] #331 closed

[2017-05-25 02:41] samreid opened #334 "Add grab bag item resistances"
See https://github.com/phetsims/circuit-construction-kit-common/issues/331

[2017-05-25 02:42] samreid opened #335 "Add item artwork to the sim"
See #331 and #264

On hold until the artwork is delivered.

[2017-05-25 03:06] samreid commented on #334
I took the values from Java, closing.

[2017-05-25 03:06] #334 closed

[2017-05-25 03:26] samreid commented on #291
Proposed implementation is here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.41/circuit-construction-kit-dc_en.html

@arouinfar can you take it for a test drive?

[2017-05-25 03:35] samreid commented on #74
@arouinfar can we punt on this issue (by not worrying about it)?  I suspect that in many cases, the wires will not overlap, and in many cases where they do overlap, there is no problem.

![image](https://cloud.githubusercontent.com/assets/679486/26434914/d2ac4292-40c8-11e7-9687-6a20d55d1f45.png)

[2017-05-25 03:44] samreid commented on #333
Fixed above, closing.

[2017-05-25 03:45] samreid commented on #333
On second thought, would be good to get this tested:

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.42/circuit-construction-kit-dc_en.html

@phet-steele can you take a look?

[2017-05-25 03:50] samreid commented on #165
I think we will need to add a phase that moves the wires behind the solder.

[2017-05-25 04:22] arouinfar commented on #74
Sounds reasonable to me @samreid!

[2017-05-25 04:24] samreid commented on #74
Thanks, I'll close it and we can reopen this or similar issue if something more critical comes up.

[2017-05-25 04:24] #74 closed

[2017-05-25 04:39] arouinfar commented on #332
@samreid if a string is "common" would it need to appear in all CCK flavors? For example, I could see grab bag items appearing in CCK: DC, CCK: AC, and possibly CCK: Basics, but they probably won't appear in CCK: Black Box.

Comparing the AC and DC flavors of Java, all DC strings also appear in AC, so I don't think there would need to be any CCK: DC-specific strings.

[2017-05-25 04:42] samreid commented on #332
The main heuristic is that if a string should be identical in 2 or more flavors then it should be in common.  Good to know that the grab bag items will be the same in AC.  At some point it will be nice to discuss the design for AC CCK, since it may pertain to how things are built for DC CCK.

[2017-05-25 04:42] #332 closed

[2017-05-25 04:45] arouinfar commented on #330
@samreid overall, it's looking good! I have a few suggestions:

* I'd prefer to keep the light bulb in its original location, as students tend to navigate top-down.
* We could make the light bulb icon 10-20% smaller so its alignment would look less odd. This would also allow us to make the carousel a bit shorter.
* I'm not a huge fan of having the navigation dots to the right of the carousel -- us

[2017-05-25 04:58] arouinfar commented on #325
Looks good @samreid, thanks!

[2017-05-25 04:58] #325 closed

[2017-05-25 05:00] arouinfar commented on #326
I reviewed the bulb in dev.37, and everything looks good to me. I don't think you need to make any further changes @samreid.

[2017-05-25 05:00] #326 closed

[2017-05-25 05:02] arouinfar commented on #318
@samreid the gradient looks great!

[2017-05-25 05:02] #318 closed

[2017-05-25 05:07] arouinfar commented on #319
@samreid here's what it would look like if the switch is layered beneath the solder:
![image](https://cloud.githubusercontent.com/assets/8419308/26436691/1b54e310-40cd-11e7-879b-1c25d5aa88dc.png)

Personally, I prefer this layering. Any thoughts @samreid?

[2017-05-25 05:08] arouinfar commented on #274
👍

[2017-05-25 05:08] #274 closed

[2017-05-25 05:11] arouinfar commented on #273
@samreid looks good! I am not bothered by the electron path, so I don't think it's worth spending the time to adjust. That said, I think it'd be good to briefly review in the next design meeting to see what @ariel-phet and @kathy-phet think.

[2017-05-25 05:16] arouinfar commented on #271
@samreid I find it much easier to time 10 electrons, than count the the number of electrons that pass in 10 seconds. I tested dev.37 and consistently timed 10 electrons in ~9.5 seconds. I think that's close enough, but if you wish to further tweak the electron timing, go for it.

[2017-05-25 05:19] arouinfar commented on #291
@samreid something's not quite right. In dev.37, the solder laying is the same in the lifelike and schematic views.
![image](https://cloud.githubusercontent.com/assets/8419308/26436938/fc521b98-40ce-11e7-871d-7613a35a5704.png)

[2017-05-25 05:22] samreid commented on #319
It seems OK to me (I don't feel too strongly one way or the other) but am concerned that the layering code is getting complicated.  @Denz1994 and I can surely give it a try though!

[2017-05-25 05:23] samreid commented on #271
That seems close enough to me, thanks!

[2017-05-25 05:23] #271 closed

[2017-05-25 05:24] arouinfar commented on #264
@samreid I've pinged the artist in the artwork task.

[2017-05-25 05:25] samreid commented on #291
Did you test dev.37?  The proposed fix for this is in dev.41, linked above.

![image](https://cloud.githubusercontent.com/assets/679486/26437090/3ea2febe-40d8-11e7-95dc-2980fcd20aff.png)

[2017-05-25 05:28] arouinfar commented on #291
Ah, my bad @samreid. For some reason I was thinking dev.37 was the latest. Things look good in dev.41!

[2017-05-25 05:28] #291 closed

[2017-05-25 05:36] arouinfar commented on #319
@samreid @Denz1994 please look into re-ordering the solder layering, but if things look like they'll be unnecessarily complicated, please feel free to shoot down this request.

[2017-05-25 15:41] samreid commented on #295
I can get the performance of dragging a single battery up to 20fps (up from 15fps) if I skip electron relayout in fixed length components.  However, I don't have it working quite right and electrons are disappearing and spreading out.

[2017-05-25 16:05] samreid commented on #295
The above commit only lays out electrons in circuit elements with a wire, which speeds up battery-dragging to 19fps.  However, it seems less robust and I bet @phet-steele can figure out how to break it.

[2017-05-25 19:52] samreid commented on #319
If the solder is always in front of switches, I'm concerned that cases like this may look odd or asymmetrical:

![image](https://cloud.githubusercontent.com/assets/679486/26467804/5622c83e-4151-11e7-84af-54870a15e609.png)

Just wanted to check before @Denz1994 and I investigate further.  @arouinfar what do you think?

[2017-05-25 19:54] samreid commented on #319
@Denz1994 said it may look better if the switch edges were rounded out instead of square.

[2017-05-25 19:59] Denz1994 commented on #251
After performance improvements #295, we can only reproduce this bug by having a wire connected to the wire. It is because a relayout() function is being called when a non-fixed circuit element's length is changed.

[2017-05-25 20:50] samreid opened #336 "Investigate structuring the circuit scene graph"
Currently the circuit node "mainLayer" is a flat list of nodes.  @Denz1994 and I discussed adding structure to make it look better (such as not being able to bisect a light bulb)

"Light Bulb" (translate(0,0)) <- note there is no x/y transform here so that the existing coordinate frames will all still work
 -background
 -some electrons
 -socket node
 -other electrons

For instance, it may be able

[2017-05-25 20:59] samreid commented on #336
@Denz1994 said it may be costly to keep adding and removing electrons to different parts of the scene graph.  But is that also happening for the current implementation?

[2017-05-25 21:02] samreid commented on #251
Proposed fix is in https://github.com/phetsims/circuit-construction-kit-common/commit/0838e897322dc8468a26c8022189ad3139efe660

and

https://github.com/phetsims/circuit-construction-kit-common/commit/e15082b2660ee1dc9a6b3f63f1534f0ce50eaec3

[2017-05-25 21:04] samreid commented on #251
Dev version published here for testing:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.44/circuit-construction-kit-dc_en.html

@phet-steele can you take a look?

[2017-05-25 21:10] arouinfar commented on #259
:+1:

[2017-05-25 21:10] #259 closed

[2017-05-25 21:10] arouinfar commented on #131
@samreid I have not been able to recreate the 2nd case in https://github.com/phetsims/circuit-construction-kit-common/issues/131#issue-160070906 in dev.41. @phet-steele can you please review?

[2017-05-25 21:11] arouinfar commented on #270
@samreid the series ammeter looks great! Functionally, everything seems good. I would recommend reducing the corner radius on the rounded rectangles a bit -- it feels too round. The mockups had a corner radius of 3pt.

We should also discuss how many series ammeters to include in the toolbox. @samreid can you think of a disadvantage to increasing the number of ammeters to 5-8? Not sure if there wo

[2017-05-25 21:16] samreid commented on #270
It's easy to add more, but at some point when the number of circuit elements (of any type) gets too high, the sim will lag.  We'll reduce the rounding of the corners and go to 6 ammeters (unless you recommend another number).

@Denz1994 can you please take care of this?

[2017-05-25 21:16] arouinfar commented on #319
Good point @samreid.  For now, let's not worry about re-layering the solder.

I like @Denz1994 suggestion to round the corners on the switch edge. Can you try that, and then I can review again?

[2017-05-25 21:33] samreid opened #337 "Unchecking "Labels" should hide the labels in the sensor toolbox"
Currently unchecking "labels" removes the labels from the circuit element toolbox, but not the sensor toolbox:

![image](https://cloud.githubusercontent.com/assets/679486/26471565/637f5a2a-415f-11e7-9e0e-d095ed766e75.png)

@arouinfar should the labels in the toolbox be hidden in this case?  Am I getting Deja Vu?  If we want to hide the labels in the sensor toolbox, please reassign to @Denz1994.

[2017-05-25 21:37] samreid opened #338 "Round the corners of the switch"
In https://github.com/phetsims/circuit-construction-kit-common/issues/319 @Denz1994 and @arouinfar recommended to round the corners of the switch.  @Denz1994 can you give this a try?  For the leftmost component, it may be as easy as passing radii to the rectangle constructor (if it is indeed a Rectangle).  For the component on the right, you will probably have to lineTo() a point before the corner

[2017-05-25 21:38] samreid commented on #319
OK I created a new issue "Round the corners of the switch" and will close this one.

[2017-05-26 16:55] arouinfar commented on #337
@samreid not sure if we explicitly talked about the behavior, but I think the toolbox labels should behave like the carousel labels and be hidden when "Labels" is unchecked. Reassigning to @Denz1994.

[2017-05-26 22:43] arouinfar commented on #270
Sounds good @samreid. I'll tag this for design meeting to discuss the desired number of series ammeters.

[2017-05-29 15:09] samreid opened #339 "Review and Refine new code"
Several of the recent feature additions will need cleanup before this code is ready for review.  Perhaps after the sim is feature complete.

[2017-05-29 15:26] samreid commented on #330
I moved the light bulb back to its original location.  80% seemed a bit too small, so I went with 85% which seemed good.

I published versions here with carousel page controls on the left or right so we can easily compare them.  I see that having the carousel buttons on the right impinges on the play area, but putting them on the left traps a lot of space.  Let's take a look and chat:

http://www.

[2017-05-30 04:10] samreid opened #340 "Generate more unit tests for the resistor color bands"
The QUnit tests can be run at: http://localhost/circuit-construction-kit-common/tests/qunit/unit-tests.html

Here are the current tests for the resistor colors:
[code]

Can you please use https://www.allaboutcircuits.com/tools/resistor-color-code-calculator/ or something like it to generate more color bands tests, to make sure our algorithm is correct?

[2017-05-30 20:08] Denz1994 commented on #340
Let's add 10 more of these test.

Pick a resistance, give it the correct color bands following the provided link, and check for errors.

[2017-05-30 20:39] Denz1994 commented on #338
The right and left most edges have been rounded as suggested. Assigning to @arouinfar for review of dev version:  http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.46/circuit-construction-kit-dc_en.html

[2017-05-30 20:47] Denz1994 opened #341 "Odd layering of yellow circle highlight for series ammeters."
![image](https://cloud.githubusercontent.com/assets/13894380/26604230/eb38422a-4546-11e7-9c0a-3e049afdc51b.png)

The yellow highlight is cut off in by some layering issues on the Ammeter.

[2017-05-30 20:59] Denz1994 commented on #270
![image](https://cloud.githubusercontent.com/assets/13894380/26604401/809ab4d8-4547-11e7-880a-17569c36fa30.png)

The corners of the series ammeter were reduced as suggested and the black border was made a point slimmer. Does this seem okay @arouinfar? Please check dev version: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.47/circuit-construction-kit-dc_en.html

[2017-05-30 21:28] Denz1994 commented on #341
The layering was adjusted so that the readout and "Current" string would have its own layer in the series ammeter. The yellow circle is no longer an obstruction.

![image](https://cloud.githubusercontent.com/assets/13894380/26605520/a347ae6a-454b-11e7-9e3f-2089215b7ed7.png)

![image](https://cloud.githubusercontent.com/assets/13894380/26605531/abc50722-454b-11e7-8592-36ebeb1f38ae.png)

[2017-05-30 21:28] #341 closed

[2017-05-30 21:37] arouinfar commented on #338
Looks great! Thanks @Denz1994.

[2017-05-30 21:37] #338 closed

[2017-05-30 21:40] arouinfar commented on #330
Thanks @samreid! I really like the updated light bulb size. I still prefer the tracking dots to the left, but we can get the team's feedback during the next design meeting.

[2017-05-30 21:42] arouinfar commented on #270
Looks good @Denz1994!

[2017-05-31 01:17] samreid opened #342 "Improve matrix math"
- [x] factor out translate/rotate like so:

- [x] get rid of defensive copies like:

[code]

[2017-05-31 01:34] samreid commented on #342
Fixed above, closing.

[2017-05-31 01:34] #342 closed

[2017-05-31 17:10] phet-steele commented on #131
@samreid I too cannot reproduce the above cases. The verticies look to be correctly applying only to neighbors.

However (and maybe this warrants a new issue), I've discussed with @arouinfar and we feel the pushing has the potential of being incredibly large. For example with this two wire setup, moving the upper left vertex only slightly produces a reasonable jump, but moving far creates a huge j

[2017-05-31 17:21] phet-steele commented on #251
@Denz1994 @samreid I couldn't see that pesky 5th electron, let's hope it never shows up again.

[2017-05-31 17:21] #251 closed

[2017-05-31 17:48] phet-steele commented on #201
Love it!

[2017-05-31 17:48] #201 closed

[2017-05-31 17:48] phet-steele commented on #333
Great!

[2017-05-31 17:48] #333 closed

[2017-05-31 19:02] jessegreenberg opened #343 "Fuzz test error: Failed to execute 'removeChild' on 'Node'"
Continuous testing is showing this accessibility related error:
[code]

[2017-05-31 21:22] arouinfar commented on #270
@samreid @Denz1994 is it possible that the series ammeter has been given some internal resistance? The battery doesn't have any internal resistance, yet the circuit on the left is registering 0.9 amps.

![image](https://cloud.githubusercontent.com/assets/8419308/26654651/d7d5166c-4614-11e7-9b99-b69a239957f6.png)

[2017-06-01 01:38] samreid opened #344 "Vertex moves too far"
From https://github.com/phetsims/circuit-construction-kit-common/issues/131

@phet-steele said:
I've discussed with @arouinfar and we feel the pushing has the potential of being incredibly large. For example with this two wire setup, moving the upper left vertex only slightly produces a reasonable jump, but moving far creates a huge jump:
![cckdc03](https://cloud.githubusercontent.com/assets/58638

[2017-06-01 01:39] samreid commented on #131
Moved to new issue, closing.

[2017-06-01 01:39] #131 closed

[2017-06-01 01:45] samreid commented on #270
Good catch on the resistance, should be fixed in this version:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.48/circuit-construction-kit-dc_en.html

Please verify.

[2017-06-01 04:16] arouinfar commented on #321
@samreid I thought I had seen a sim where the scene selection buttons are kept at the bottom. After reviewing the published HTML5 sims, the closest I could find is ESPB. However, in that case, the friction slider is appended to the top panel, so it's a bit different.
<img src="https://cloud.githubusercontent.com/assets/8419308/26664014/e226a0ae-464b-11e7-9cde-06c80b374b4b.png" width=250> <img src=

[2017-06-01 04:27] arouinfar commented on #270
Looks good @samreid!

[2017-06-01 14:18] samreid opened #345 "Revise the LightBulb layering strategy"
Some components like the SeriesAmmeterNode have sub-nodes that must be in different layers.  I think this is also true for all highlight nodes.  I was about to do the same for the light bulb in #161 but realized that the light bulb base follows a different pattern.  Perhaps the light bulb base should use this same pattern.  We should see if there are other nodes that should follow this pattern as

[2017-06-01 16:17] arouinfar commented on #245
@samreid let's discuss during design meeting. I think we'll want to avoid computationally demanding features wherever possible. Perhaps we can make a compromise and turn off the light bulb when shorted?

Suppose these circuits are both in the play area and use the default bulb. The circuit on the right is shorted, so the animation speed is reduced. The electrons through both bulbs will appear froz

[2017-06-01 17:19] arouinfar commented on #302
@samreid it seems like there are two cases of losing things off-screen.

1) The circuit is built outside of dev, and window is resized. The circuit jumps back into the play area (this could use some polishing), and the meter scoots with the edge of the window. I think portrait > landscape iPad rotation would likely behave the same.
<img width="353" alt="screen shot 2017-06-01 at 10 24 52 am" src="

[2017-06-01 17:49] Denz1994 commented on #337
I have added logic to make sure the labels in the sensor toolbox respond to the labels checkbox in the display options. Assigning to @samreid for review.

Also, this also took care of an i18n TODO for the strings in the sensor toolbox.

[2017-06-01 18:04] samreid commented on #317
@ariel-phet requested @jonathanolson to code review this when the time is right.

[2017-06-01 18:06] arouinfar commented on #260
@samreid I've been playing with sigmoid functions, and I think I've found a function that will allow for reasonable range of brightnesses up to 100 W:
![image](https://cloud.githubusercontent.com/assets/8419308/26693711/5f639984-46c2-11e7-93e0-4d09f7eb6b55.png)

![screen shot 2017-06-01 at 11 50 22 am](https://cloud.githubusercontent.com/assets/8419308/26693285/e214f992-46c0-11e7-871a-655cb31f6fad

[2017-06-01 18:11] samreid commented on #317
@ariel-phet mentioned that it is sometimes good to have at least dev testing complete before code review.

[2017-06-01 18:33] ariel-phet commented on #317
Clearing assignees until sim is ready for review

[2017-06-01 18:58] Denz1994 commented on #340
10 more unit test were added. Assigning to @samreid for review.

[2017-06-01 19:12] Denz1994 opened #346 "5-Band Resistors added to sim?"
While creating some unit tests for the checking the color bands accuracy to its resistance values, I noticed that the colors of the bands were behaving as if the resistance values were being rounded up for decimal values. For example, a 33.5 ohm resistor is producing color bands for a 34 ohm resistor.

There is a %5 tolerance for our resistors due to the gold band, but the thought was raised after

[2017-06-01 19:13] samreid commented on #340
Looks great, thanks!  We'll discuss decimal bands in #346, closing this one.

[2017-06-01 19:13] #340 closed

[2017-06-01 19:15] Denz1994 commented on #346
@samreid mentioned that using a 5 band resistor to represent resistance with decimal values will cause the resistor to switch between a 5 band and 4 band representation if the user is constantly incrementing the resistor values.

[2017-06-01 19:29] samreid commented on #337
Looks great, thanks!  Closing.

[2017-06-01 19:29] #337 closed

[2017-06-01 19:49] Denz1994 opened #347 "Reset All Button doesn't reset all sim elements."
List of current items not reset by reset all button.

- [x] Wire Resistivity
- [x] Battery Resistivity
- [x] Carousel for Circuit Nodes

I will try to fix this issue.

[2017-06-01 20:12] samreid commented on #330
We decided to keep the dots on the left, but adjust the zoom buttons so they align with the left side of the carousel.  Indent the toolbox on screen 1.  On the right hand side make all the margins match.

[2017-06-01 20:18] samreid commented on #273
Today we decided the schematic light bulb view looks good enough.  I informed the team that it is a 4 hour estimate to change the path and we decided to leave it as-is since it seems good enough.

[2017-06-01 20:35] arouinfar commented on #245
Discussed in 6/1/17 design meeting.

For 1.0, the behavior is fine as-is, as it does no harm over the Java version.

To reduce the animation speed of the shorted electrons, we would need to model a current-limited battery (or one that has an internal resistance that scales with the current). We could consider this for 1.1+.

[2017-06-01 20:38] arouinfar commented on #245
Will need to document consequences of an ideal battery in the teacher's tips.

[2017-06-01 21:00] samreid opened #348 "Limit string widths"
![image](https://cloud.githubusercontent.com/assets/679486/26700577/17af0cf4-46db-11e7-95d8-8dccf374a08c.png)

[2017-06-01 21:18] Denz1994 commented on #347
These properties have now been triggered to reset on the resetAllButton's click. Closing.

[2017-06-01 21:18] #347 closed

[2017-06-01 21:44] samreid opened #349 "Internationalize the screen names for DC"
"intro" "explore" and "lab".  These strings will be in circuit-construction-kit-dc string file, not common.

[2017-06-01 21:44] samreid opened #350 "Internationalize the "animation speed limit reached" message"
Use a placeholder for the percentage of speed reduced.

[2017-06-01 22:12] samreid opened #351 "Improve layering code"
Right now it is kind of confusing that WireNode (for instance) adds HighlightNode to CircuitNode during its constructor, but it doesn't get added itself until after constructor is complete and circuitNode.addChild(wireNode) is called.  There must be a better way of doing this.  Perhaps the WireNode would create all of its children, then have a method for adding its parts to CircuitNode.

Same prob

[2017-06-01 22:20] arouinfar opened #352 "Series ammeter pixel polishing"
* Body 10% larger
* "Current" as small as possible
* Widen top orange rectangle
* Made readout a bit bigger

Self-assigning to work on some mockups.

[2017-06-02 14:35] samreid commented on #321
If I recall correctly, we decided to put the scene selection buttons right above the reset all button.  That way they will be in the same spot on every screen and always at the bottom.

[2017-06-02 17:36] arouinfar commented on #264
@samreid I've emailed you the assets for the coin, eraser, pencil, and hand. I'll send you the dog and dollar bill as soon as I have them.

[2017-06-02 18:39] samreid opened #353 "Paper clip electron placement looks odd"
When I added the paperclip graphic, it looked like this:
![image](https://cloud.githubusercontent.com/assets/679486/26739784/6c101a94-4790-11e7-98c3-96077000233d.png)

It seemed odd to me that the electrons are in the blank space of the paperclip.  Should we address this, and if so, how?

[2017-06-02 20:25] arouinfar commented on #353
Good catch @samreid. I reviewed master, and the paper clip seems a bit large. Can you scale it down so it's the same length as the battery? I've also lengthened  the interior curve so that the electrons are always in contact with the paper clip, and have emailed you the updated assets.

![image](https://cloud.githubusercontent.com/assets/8419308/26743348/b252a5cc-479e-11e7-9829-fc13818fc110.png)

[2017-06-02 20:37] arouinfar commented on #352
Here's a comparison of the current series ammeter (top) and the proposed change (bottom). Both ammeters have the same height, but the updated ammeter has been made 10% longer. "Current" is 10 pt and the value is 14 pt.
![image](https://cloud.githubusercontent.com/assets/8419308/26743804/7c302530-47a0-11e7-84e8-f7ed8d604d75.png)

@samreid is this enough to get started with the changes? Anything els

[2017-06-02 20:45] samreid commented on #352
That should be good for now, thanks!

[2017-06-02 23:05] samreid commented on #330
The dots are on the left, and horizontal margins were updated to match.
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.49/circuit-construction-kit-dc_en.html

@arouinfar can you please check it out?

[2017-06-02 23:07] arouinfar commented on #330
Looks great! Thanks @samreid.

[2017-06-02 23:07] #330 closed

[2017-06-02 23:11] samreid commented on #321
Not sure if I am just used to the old way--this looks unbalanced to me:

![image](https://cloud.githubusercontent.com/assets/679486/26747921/80f48802-47b6-11e7-9f26-515304b274de.png)

Perhaps the sizes need to be adjusted.

[2017-06-02 23:14] samreid commented on #321
@arouinfar here's a live one if you want to take it for a test drive:

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.50/circuit-construction-kit-dc_en.html

Not sure if sizes/layouts are tracked elsewhere, but let me know if you have recommendations for this issue.

[2017-06-02 23:16] samreid opened #354 "Customize geometry for grab bag items"

[2017-06-03 00:31] samreid commented on #354
And so they can be different lengths

[2017-06-05 16:17] samreid opened #355 "What to name CircuitNode.js?"
CircuitNode.js shows the circuit elements, wires, electrons, vertices, solder.  Now it also shows the voltmeter.  Should I still call it CircuitNode even though the voltmeter is not technically part of the circuit (or is it?)

[2017-06-05 16:34] samreid opened #356 "Find a better way to look up nodes for model elements"
CircuitNode.js currently has:

[code]

and

[code]

Along with usages of these arrays.  It makes it more difficult to add new element types.

On skype, I asked:

[2017-06-05 16:39] samreid commented on #356
@jonathanolson suggested:

[6/5/17, 10:37:39 AM] Jonathan Olson: SR: I prefer a lookup map where either model elements use IDs (and it's ID => node), or a list of nodes with node.(model) = model which can be checked
[6/5/17, 10:37:42 AM] Jonathan Olson: first one is faster

[2017-06-05 16:44] samreid commented on #356
Thanks, I’ll look into using the map.  I’m wondering if that will make memory management more complicated?  For instance, if I forget to remove things from the map it is a memory leak.  That’s not a problem with the model.view = … strategy, right?

[2017-06-05 17:10] samreid commented on #356
[6/5/17, 10:50:32 AM] Jonathan Olson: If there's a memory leak, then yes it would be less bad with the model.view strategy
[6/5/17, 10:51:00 AM] Jonathan Olson: What happens if you want to create multiple views of the model elements though?
[6/5/17, 10:51:33 AM] Sam Reid: model.views = […] ?
[6/5/17, 10:57:19 AM] Jonathan Olson: Why break MVC for:

// when creating a view node
node.model = model;

[2017-06-05 19:40] arouinfar commented on #321
@samreid thanks for relocating the view selection buttons. I agree it looks a bit unbalanced. The view selection buttons seem way too large, so I reduced the width to 50px in all of the mockups below.

I've tried two options -- lower right corner and below the carousel. Originally we had the view selection buttons below the carousel (better proximity), but had moved them during a design meeting (u

[2017-06-05 20:08] samreid commented on #321
@arouinfar would you be OK with having the view buttons be the same width as the sensor toolbox and showing up below all of the controls on the right?

[2017-06-05 20:37] samreid commented on #356
Map strategy implemented above, thanks @jonathanolson, closing.

[2017-06-05 20:37] #356 closed

[2017-06-05 20:38] samreid commented on #355
@jonathanolson said:

@jbphet said:

[2017-06-05 20:48] samreid commented on #355
Here's the JSDoc:

[code]

How about CircuitLayerNode, indicating that it shows everything that must be in the same layer as the circuit?

[2017-06-05 20:50] jonathanolson commented on #355
Sounds great. Sorry was confused earlier, recommended `{ElectricalNode}` as a supertype for circuit elements or the meter.

[2017-06-05 20:56] samreid commented on #355
Renamed to CircuitLayerNode, closing.

[2017-06-05 20:56] #355 closed

[2017-06-05 21:04] arouinfar commented on #321
@samreid I made the buttons wider to match the panel width. They're 90 px wide in these mockups. The alignment looks a bit cleaner, but I think the buttons are far too big and command more attention than necessary. I could with it, though.

![image](https://cloud.githubusercontent.com/assets/8419308/26802542/0c9d9a12-49fe-11e7-871c-86c0a2926a50.png)
![image](https://cloud.githubusercontent.com/ass

[2017-06-05 21:33] samreid commented on #321
Sorry, I meant the buttons would be immediately below the control panels, like this:

![image](https://cloud.githubusercontent.com/assets/679486/26804150/37e9b376-4a04-11e7-8178-1fef5b3fa895.png)

![image](https://cloud.githubusercontent.com/assets/679486/26804155/3dd9195c-4a04-11e7-931a-b031b4fe8233.png)

OK to give this a try?

[2017-06-05 21:55] Denz1994 commented on #349
Added i18n formatting to .json file and appropriate references code base. Performed stringTest=double and stringTest=x to test.

[2017-06-05 22:10] arouinfar commented on #321
Thanks for the clarification @samreid. Yes, let's give your suggestion a try!

[2017-06-05 23:05] Denz1994 commented on #350
Used StringUtils for formatting. Tested using stringTest=double and stringTest=x.

[2017-06-06 00:58] samreid opened #357 "Memory profiling"
We will need to make sure the simulation is leak-free.

I used this script in CircuitElementToolNode to create 1000s of Batteries and make sure there is no memory leak.

[code]

[2017-06-06 01:00] samreid commented on #335
On hold awaiting dog and dollar.

[2017-06-06 01:34] samreid commented on #345
We may need a separate layer in front of the bulb socket for showing the frontmost electrons:
![image](https://cloud.githubusercontent.com/assets/679486/26809969/e34e3c8e-4a25-11e7-8356-b37ceeccdaf6.png)

@arouinfar do you think it would be OK if the electrons on the right went behind like in this mock-up?  It could be easier to program.

[2017-06-06 02:04] samreid commented on #345
Putting the electrons in the socket layer kind of works.  There is a flickering and webgl snag crash though.

[2017-06-06 14:50] samreid commented on #345
Fixed in above commits, closing.

[2017-06-06 14:50] #345 closed

[2017-06-06 20:14] Denz1994 opened #358 "Address i18n TODO SeriesAmmeterNode"
Please reference `seriesAmmeterNode.js` line 66 for TODO.

 `var currentText = ( current < 1E-10 ) ? '' : Util.toFixed( current, 2 ) + ' A'; // TODO i18n and fillIn`

Also check ammeterNode to factor out this duplicate code (line 81)
`StringUtils.fillIn( currentAmpsString, { current: Util.toFixed( Math.abs( current ), 2 ) } );`

[2017-06-06 20:39] Denz1994 opened #359 "Vertices should not overlap."
Circuit element nodes vertices don't bounce away from each other when stacked. The red dotted lines should not overlap. #121

![image](https://user-images.githubusercontent.com/13894380/26850761-e4f3bb7c-4ac5-11e7-9156-e3b8c5a636ac.png)

[2017-06-06 21:41] #359 closed

[2017-06-06 21:43] Denz1994 opened #360 "Creating small wires not handled well"
![image](https://user-images.githubusercontent.com/13894380/26853322-c03d9740-4ace-11e7-9664-df65594982fe.png)

Wires that are adjusted to have small lengths don't expand well. The vertices overlap as well.

[2017-06-06 22:34] samreid commented on #357
No memory leak in dragging around a single battery, that's good!

[2017-06-06 23:03] arouinfar commented on #161
No need to address for 1.0 @samreid. Tagging for 1.1+.

[2017-06-06 23:07] samreid commented on #321
The view radio buttons now appear below the bottom-most component on the right hand side, please test here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.51/circuit-construction-kit-dc_en.html

[2017-06-06 23:08] arouinfar commented on #321
👍

[2017-06-06 23:08] #321 closed

[2017-06-06 23:09] samreid commented on #343
@jessegreenberg what is your estimate timeline for investigating this issue?

[2017-06-06 23:10] samreid commented on #290
On hold until we have high R components.

[2017-06-06 23:11] samreid commented on #270
Thanks, closing.

[2017-06-06 23:11] #270 closed

[2017-06-06 23:11] samreid commented on #261
Tagging for upcoming design meeting in case @kathy-phet hasn't had a chance to review before then.q

[2017-06-07 03:03] samreid commented on #349
Looks great, thanks! Closing.

[2017-06-07 03:03] #349 closed

[2017-06-07 03:07] samreid commented on #350
StringUtils.format is documented like so:

```NOTE: Please use StringUtils.fillIn instead of this function.```

Can you please write this using StringUtils.fillIn?

[2017-06-07 03:27] samreid commented on #352
After refining, its looking like this:

![image](https://user-images.githubusercontent.com/679486/26861102-e3dab8ba-4afe-11e7-88b4-daee8f4bce06.png)

I'll commit and create a dev version for review.

[2017-06-07 03:29] samreid commented on #352
Ready for testing here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.52/circuit-construction-kit-dc_en.html

@arouinfar can you please take a look?

[2017-06-07 03:32] samreid commented on #353
This cannot be implemented until https://github.com/phetsims/circuit-construction-kit-common/issues/354 is complete.

[2017-06-07 03:33] samreid commented on #351
On the other hand, having this happen automatically in the constructor and dispose is working nicely and doesn't require another "phase" for setup or teardown.  Perhaps a good question for @jonathanolson during review?

[2017-06-07 03:36] samreid commented on #352
I have a few other changes on the way.  Best to hold off testing for now.

[2017-06-07 03:57] samreid commented on #352
OK ready for testing after other changes:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.53/circuit-construction-kit-dc_en.html

[2017-06-07 15:15] samreid commented on #59
I've completed the TODOs for the DC simulation.  I've left 7 TODOs that pertain only to the Black Box Study or PhET-iO variants.  Hence I will close this issue and open a new issue for those.

[2017-06-07 15:15] #59 closed

[2017-06-07 15:16] samreid opened #361 "7 TODOs marked for PhET-iO or Black Box Study"
The simulation has 7 TODOs marked with `TODO (phet-io)` or `TODO (black-box-study)`.  These do not need to be addressed for publication of 1.0.  The main TODO issue was https://github.com/phetsims/circuit-construction-kit-common/issues/59

[2017-06-07 17:14] jessegreenberg commented on #343
Will be working on this today, should have it closed up by end of day tomorrow but still need to understand exactly what is happening.

[2017-06-07 17:16] arouinfar commented on #264
@samreid I have emailed you the latest assets, including the dog and dollar bill. For the dog, I think you'll want to off-set the vertices a bit, otherwise things may look a bit odd. In the carousel, the dog should be upright, but when pulled out, it could remain upright with the vertices offset (middle) or the dog could be rotated a bit so that the vertices are level with one another (bottom).

!

[2017-06-07 17:20] arouinfar commented on #352
Love it!

[2017-06-07 17:20] #352 closed

[2017-06-08 16:44] arouinfar commented on #290
@samreid I'm sure this is already on your radar, but we'll definitely need to add a third decimal to both ammeters, otherwise it's pretty easy to run into situations where the ammeter reads 0.00 A, but the light bulb is lit. Even after adding a 3rd digit, it will be possible to have a lit bulb with 0.000 A displayed, but this will only occur for V<5 (which seems more reasonable).

![image](https:/

[2017-06-08 16:44] samreid commented on #290
Thanks @arouinfar, I'll look into it.

[2017-06-08 19:25] jessegreenberg commented on #343
This is caused by https://github.com/phetsims/scenery/issues/624 because this sim is using Scenery's DAG feature.

While investigating, I also saw this bit of code in ```CircuitElementNode```
[code]

which is a workaround for this bug, since the icons are used in the screen icons and joist uses the DAG for home screen and navigation bar icons.

[2017-06-08 20:49] Denz1994 commented on #165
The wire now is set behind all other connected circuit elements. There is a dev version you can use for review.

 http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.56/circuit-construction-kit-dc_en.html

[2017-06-08 21:07] Denz1994 commented on #202
@samreid and I tried to reproduce this on an iPhone 5 and iPhone 6 (iOS 10.3.2), also on the iPad named  "Pauling" with no success. Can you reproduce this bug @phet-steele with the latest dev version?

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.56/circuit-construction-kit-dc_en.html

[2017-06-08 21:07] samreid commented on #202
Testing dev.56 on an iPhone 5s running iOS 10.2.1 doesn't leave straggling vertices when deleted while dragging.

[2017-06-09 02:34] samreid commented on #260
@arouinfar to clarify, should I subtract 0.5 from the sigmoid so that 0 power => 0 brightness?

[2017-06-09 02:47] samreid commented on #260
I tried

[code]

And saw that for a default 10 ohm bulb, the brightness lines saturate at 93.02130662342283 watts, for a 35V battery.  I'll try to stretch out the sigmoid a bit more.

[2017-06-09 02:53] samreid commented on #260
Wolfram Alpha said it got the same answer:

plot (1 / (1 + e^( -0.05 * x )) - 0.5) * 2 from x = 0 to 100

![image](https://user-images.githubusercontent.com/679486/26959201-222c86dc-4c8c-11e7-8a4d-b015f4247e39.png)

Here's one that has a broader range:
plot (1 / (1 + e^( -0.0035 * x )) - 0.5) * 2 from x = 0 to 1000

![image](https://user-images.githubusercontent.com/679486/26959255-72f6753c-4c8c-1

[2017-06-09 02:55] samreid commented on #260
The preceding function with 0.0035 has a great dynamic range up to 1000W, but the default brightness (default bulb + default battery) is kind of wimpy and very different than what we've done until now:

![image](https://user-images.githubusercontent.com/679486/26959296-bf8ced04-4c8c-11e7-8523-7c4996f4f504.png)

[2017-06-09 03:12] kathy-phet commented on #260
I had recently looked at the prior brightness and I thought it was in a good place because you could do the whole 0-100v without it maxing out on the default resistance. It seemed like it was a nice improvement over the Java and you hit the main issue with that.
K

Sent from my iPhone

On Jun 8, 2017, at 8:55 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

The prec

[2017-06-09 03:51] samreid commented on #260
I agreed it is working great for 0-100v in the current version.  If we want to extend the range (to handle values beyond 100v) while keeping this behavior mostly the same, we could choose piecewise linear segments like this:

![image](https://user-images.githubusercontent.com/679486/26960420-4520e9e6-4c94-11e7-9bf7-13581190a998.png)

This doesn't seem perfect because it is too sharp of a curve aro

[2017-06-09 04:50] kathy-phet commented on #260
Sam, Note I said 0-100v on battery. In watts that is at v^2/r which is 1000watts for the 100v setting.

Sent from my iPhone

On Jun 8, 2017, at 9:51 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

I agreed it is working great for 0-100v in the current version. If we want to extend the range (to handle values beyond 100v) while keeping this behavior mostly the same,

[2017-06-09 05:43] samreid commented on #260
I agree the main part was fixed for 0-100V and it is working much better than the Java version.  I think it is still desirable to show the brightness changing as the power changes, even beyond 1000 volts.  Not sure how we will want to handle this for the high-voltage high-resistance components, but we may need some flexibility.

@jonathanolson recommended looking into a logarithm to keep the desir

[2017-06-09 13:40] samreid opened #362 "Objects should move to front (z-order) when dragging"
For instance, CircuitElements layer in the order they are created and the voltmeter is always behind the ammeter.  When something is dragged, it should normally be moved to the front.

[2017-06-09 14:01] samreid commented on #260
Here is the function @jonathanolson and I developed yesterday:

[code]

The free parameters are the `maximumPower` which sets the overall scale factor and the `multiplier` which determines the steepness of the logarithm.  I'll publish a dev version and we can discuss it further.

[2017-06-09 14:08] samreid commented on #260
Here's a dev version with the logarithm:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.58/circuit-construction-kit-dc_en.html

Also, here's a pic of the logarithm (using multiplier 0.35), note that after the logarithm, the brightness is clamped to 1.0 (so it isn't a true asymptote in the y-dimension)

![image](https://user-images.githubusercontent.com/679486/2

[2017-06-09 16:32] samreid opened #363 "Grab bag items are too big"
In #264 @arouinfar said:

I also find that the Grab Bag items are overly large. Do you need to address #354 before tweaking the size?
![image](https://user-images.githubusercontent.com/8419308/26890686-a4b72206-4b6f-11e7-932d-7381c842ea84.png)

[2017-06-09 16:32] samreid opened #364 "Offset the dog vertices"
In #264 @arouinfar said:

For the dog, I think you'll want to off-set the vertices a bit, otherwise things may look a bit odd. In the carousel, the dog should be upright, but when pulled out, it could remain upright with the vertices offset (middle) or the dog could be rotated a bit so that the vertices are level with one another (bottom).

![image](https://user-images.githubusercontent.com/841930

[2017-06-09 16:32] samreid commented on #364
I may need to implement #354 to implement this.

[2017-06-09 16:33] samreid commented on #264
Thanks, I added the dog and dollar and opened separate issues for the points you raised above.

[2017-06-09 16:33] #264 closed

[2017-06-09 16:46] samreid commented on #363
In the preceding commits, I reduced the sizes and now it looks like this:

![image](https://user-images.githubusercontent.com/679486/26985356-6dbcb77e-4d00-11e7-9a7e-eda6d54bf94a.png)

The new sizes are:

[code]

I published a dev version here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.59/circuit-construction-kit-dc_en.html

@arouinfar can you please revie

[2017-06-10 00:26] jessegreenberg commented on #343
https://github.com/phetsims/scenery/issues/624 is closed, and this issue should also be resolved.  I used to be able to reproduce this issue with consistency by adding a wire to the screen and then opening the AboutDialog, and those steps no longer produce this bug.

I also removed these lines
[code]
and the home screen and navigation bar are working. Closing, but @samreid please let me know if yo

[2017-06-10 00:26] #343 closed

[2017-06-12 15:36] samreid commented on #364
For reference, here is the dog before working on this issue:

![image](https://user-images.githubusercontent.com/679486/27041898-99298046-4f52-11e7-9b51-bfc31d411457.png)

[2017-06-12 15:43] samreid commented on #364
If I vertically adjust the dog node, it looks like this:

![image](https://user-images.githubusercontent.com/679486/27042263-a50cee4c-4f53-11e7-81f5-456369bd4cfb.png)

This seems good to me, I think I'll commit it.

[2017-06-12 16:08] samreid commented on #364
Dog is ready for testing in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.62/circuit-construction-kit-dc_en.html

@arouinfar can you please test?

[2017-06-12 16:14] samreid commented on #362
@arouinfar can you comment on priority and confirm whether is essential for 1.0?

[2017-06-12 16:19] samreid commented on #354
Dog vertices are OK in #364.  @arouinfar do any other grab bag items need custom (non-centered) vertex coordinates?

[2017-06-12 16:25] samreid commented on #353
The size was adjusted in https://github.com/phetsims/circuit-construction-kit-common/issues/363

Latest dev version is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.62/circuit-construction-kit-dc_en.html

@arouinfar can you see if everything is OK?

[2017-06-12 16:32] samreid opened #365 "Objects move when the window is reshaped"
Perhaps related to https://github.com/phetsims/circuit-construction-kit-common/issues/302 but the vertices move when the window is reshaped, usually to a buggy position.

[2017-06-12 18:01] samreid commented on #348
@Denz1994 can you please measure the current english strings using console.log(textNode.width), then use that to set the maxWidth of those texts?  You can test it by ?stringTest=double

[2017-06-12 18:03] samreid commented on #344
It looks like the pushing is caused by a rotation.  The angle is the same, but for the longer wire the translation is much further.

[2017-06-12 18:08] samreid commented on #335
Dog and dollar are in the house, closing.

[2017-06-12 18:08] #335 closed

[2017-06-12 18:21] Denz1994 commented on #358
StringUtils.fillIn( currentAmpsString, { current: Util.toFixed( Math.abs( current ), 2 ) } );

Because `ammeter.js` and `seriesAmmeterNode.js` don't inherit from the same file (outside of Node.js in common code) I don't know where to factor out the code.

I was thinking of having a function that just takes the current returns the duplicated line:

[code]
I think this would work but where would I p

[2017-06-12 18:22] Denz1994 commented on #358
I have used a util file for creating arrows in Masses-And-Springs as well.

[2017-06-12 18:22] samreid commented on #358
That sounds like it will work great.  Or you could put the code in SeriesAmmeterNode or AmmeterNode.js as a static function and let one call the other.  Not sure what's best.

[2017-06-12 18:35] arouinfar commented on #363
The sizes look much better now, thanks @samreid!

[2017-06-12 18:35] #363 closed

[2017-06-12 18:35] arouinfar commented on #353
👍

[2017-06-12 18:35] #353 closed

[2017-06-12 18:37] arouinfar commented on #364
Now that I see the dog in context, I think it's pretty good. I don't think you need to adjust the vertices any further @samreid.

[2017-06-12 18:37] #364 closed

[2017-06-12 18:37] arouinfar commented on #354
Everything looks good to me!

[2017-06-12 18:37] #354 closed

[2017-06-12 19:57] Denz1994 commented on #358
After toiling with both approaches, I think using the utility function would work better.

Main Reasons:
- There may be more utility functions needed besides this one.
- This function creates a formatted readout, which is not specific for an ammeter. It can be refactored to produce any readout with a unit.

I went a bit further than suggested @samreid. All of the sensors follow a similar means of

[2017-06-12 20:27] arouinfar commented on #362
@samreid I haven't noticed any issues with the layering, so I think you can probably hold off on this. However, I think it may be good to keep an eye for this in QA testing to make sure there aren't any blocking issues that crop up.

[2017-06-12 20:47] arouinfar commented on #260
@samreid I think the brightness on the standard bulb looks really good! I think it would be good to discuss how to handle brightness above 2000 W in the next design meeting.

[2017-06-12 21:15] samreid commented on #358
This looks pretty good but I would recommend taking one step back in the abstraction.  Can you please divide up createMeasurementReadout into CCKUtil.createVoltageReadout and CCKUtil.createCurrentReadout?  That will eliminate the need for the strings and object keys to be passed in from all client sites.

[2017-06-12 21:16] Denz1994 commented on #358
Understood. I will work on that.

[2017-06-12 21:55] samreid commented on #290
I've added another decimal place for both ammeters (but not the voltmeter), it will look like this after commit:

![image](https://user-images.githubusercontent.com/679486/27057040-99fcf28e-4f87-11e7-938f-6d57e305231b.png)

[2017-06-12 21:58] samreid commented on #290
Commit is above and dev version is here for review:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.65/circuit-construction-kit-dc_en.html

[2017-06-12 22:01] arouinfar commented on #290
👍

[2017-06-12 22:01] #290 closed

[2017-06-12 22:10] samreid commented on #354
I also adjusted the vertices for the hand, will be available in next version. and should look like this:

![image](https://user-images.githubusercontent.com/679486/27057480-9e6eb08a-4f89-11e7-91d8-738699e02307.png)

[2017-06-13 02:24] samreid commented on #365
Fixed above.  To clarify, vertex groups are translated onscreen when a window resize or tablet rotation could move them off the screen.  This was buggy before because the bounds check was in the wrong coordinate frame.

[2017-06-13 02:26] samreid commented on #365
@arouinfar commented:

1) The circuit is built outside of dev, and window is resized. The circuit jumps back into the play area (this could use some polishing), and the meter scoots with the edge of the window. I think portrait > landscape iPad rotation would likely behave the same.
<img width="353" alt="screen shot 2017-06-01 at 10 24 52 am" src="https://cloud.githubusercontent.com/assets/8419308

[2017-06-13 02:27] samreid commented on #302
I moved (1) to #365 and we can continue (2) in this issue.

[2017-06-13 02:28] samreid commented on #365
This also relates to zoom.  If you zoom out so that a circuit is out of visible area then reshape the window, the circuit moves.  We should discuss what is desirable here.

[2017-06-13 02:29] samreid commented on #302
This seems more closely related to #365 than I thought (due to zoom), let's discuss #365 and this at an upcoming design meeting.

[2017-06-13 02:31] samreid commented on #365
The simplest implementation would be to allow objects to be dragged out of bounds and let window reshaping/tablet rotation move them out of bounds.  I was hoping we could come up with an elegant solution that kept objects always within reach but it's getting complicated.

[2017-06-13 02:32] samreid commented on #365
Another possibility (more complex to implement): translate vertex groups together (including all wire vertices).  Not sure how to keep probes in the same relative locations though.

[2017-06-13 03:02] samreid commented on #281
Hypothesis: the problem is because the ChargeAnimator is only looking at 1 adjacent wire to determine electron density.  Because of the very short wire fragment, it rarely has an electron in it.  The general solution would be to find the nearest electron throughout a directional path graph (following the current direction).

[2017-06-13 03:04] samreid commented on #281
I recall previous versions used "furthest electron" but I can see the code is now about density.  What about preventing the length of wires from being too small?  I asked @phet-steele about that and he said it would lead to an odd user interface.  Can we estimate density along a path or set of paths?  Maybe if we are trying to compute density and we haven't found any electrons, we could search fur

[2017-06-13 03:07] samreid commented on #281
Another simpler possibility?  If any of the outgoing branches has a 0 electron density, then use an n-way coin flip to decide where to send electrons.  Could be simpler to implement than more graph search--not sure if it would lead to odd-looking behavior or not.

[2017-06-13 03:22] samreid commented on #281
I tried detecting short wires and using _.sample for that case, but it is leading to odd gaps:

[code]

[2017-06-13 03:44] samreid commented on #281
Even better would be something like this:

[code]

[2017-06-13 03:46] samreid commented on #281
I tried a simpler solution to average the density based on nearby neighbors (for circuit elements that have no electrons in them), and it seems OK for this case:

![image](https://user-images.githubusercontent.com/679486/27065075-666f091c-4fb8-11e7-879e-0056d87cef87.png)

It would fail when there are two tiny wire segments in series next to each other.  But perhaps that is rare enough?

[2017-06-13 03:53] samreid commented on #281
@arouinfar can you read through this issue, test the fix above and let me know your recommendation?  The recursive solution described in https://github.com/phetsims/circuit-construction-kit-common/issues/281#issuecomment-307995591 would be medium complexity and take a couple hours to get it working properly (but it would handle any number of short wire segments).  Or let me know if this is good en

[2017-06-13 14:54] samreid commented on #295
I tested a current version of DC on my iPad3 today and it felt usable to me.  Have I lowered my standards?  Is it actually better?  How much effort should be put into this?  Would be good to discuss at design meeting.

[2017-06-13 15:42] samreid commented on #295
@jonathanolson can we please schedule an appointment to work on CCK performance?

[2017-06-13 16:27] samreid commented on #344
I chose to do a rotation because any number of fixed length circuit elements maybe attached to the offending vertex.  Rotation guarantees that none of the lengths will change.  @arouinfar can you recommend a better strategy?  Should I retain rotation as a general strategy but add special cases for situations like this?

[2017-06-13 16:29] samreid commented on #351
This is documented in implementation-notes, I think it is a good strategy and working well.  Closing for now.

[2017-06-13 16:29] #351 closed

[2017-06-13 16:30] samreid commented on #360
Similar to #344, @arouinfar do you want to add special cases for the rules about translating away vertices that overlap?  Right now it is a rotation because that cannot disturb fixed length elements, but we could add special cases for situations like this.

[2017-06-13 17:13] arouinfar commented on #344
@samreid perhaps you could continue to rotate away by some angle, but only if the resulting arc length is less than 100 px (or whatever you think is reasonable). In most situations, the component would rotate away as it does now. When dealing with long wires, the rotation would be limited by arc length, resulting in a much smaller angle of rotation.

Here's a rough sketch recreating the situation

[2017-06-13 17:15] arouinfar commented on #281
@samreid I left these circuits running in the background for ~30 minutes and the electrons didn't back up, so I think your solution is definitely good enough. :)
![image](https://user-images.githubusercontent.com/8419308/27095044-7c0e8df8-5029-11e7-81c6-0ea981fd53be.png)

[2017-06-13 19:19] Denz1994 commented on #358
The voltage and ampere readouts are now using two separate util functions. There are multiple commits because I had some issues merging conflicts, but it is now resolved.

[2017-06-13 20:01] samreid commented on #295
@jonathanolson and I discussed the following possibilities:

- [ ] Combine light rays into a single path, one is in the navbar
- [ ] Font awesome node in VertexNode, removeChild
- [ ] possibly same thing for ValueNode, don't have it be a child when
- [ ] Memory profiling, lots of churn when dragging battery
- [ ] Try getting rid of intermediate node in ChargeNode

We will continue tomorrow.

[2017-06-13 20:24] samreid commented on #358
@Denz1994 and I looked at this together, everything is looking great, thanks!

[2017-06-13 20:24] #358 closed

[2017-06-13 20:30] samreid commented on #350
@Denz1994 and I changed it to use `fillIn` above.  @arouinfar we are wondering if we should internationalize the "<" sign that appears here:
![image](https://user-images.githubusercontent.com/679486/27103101-c4b9644a-5044-11e7-985c-9d7db4d065dd.png)

It is currently hard coded to be `< 1` for this case, but we are wondering if RTL or other languages will need the flexibility to change this.

[2017-06-13 21:09] Denz1994 commented on #295
See issue: https://github.com/phetsims/scenery-phet/issues/309

[2017-06-13 22:01] Denz1994 commented on #295
**Fix**
A util function was provided to check if the cutButton needs to be added/removed from the scene graph. This check makes sure that the cutButton isn't being moved with the circuit element when it is not displayed.

**Testing on iPad3**
FPS status: 19fps --> 19.5fps (toggles between 20fps and 19fps)

[2017-06-13 22:06] samreid commented on #295
After applying the same strategy to Vertex.highlightNode, performance remains steady at 19fps.

[2017-06-13 22:31] samreid commented on #295
*Fix*
We used setInSceneGraph for CircuitElementNode and ValueNode

*Testing on iPad3*
FPS status: around 21fps

[2017-06-14 01:15] samreid opened #366 "Fix options for LightRaysNode"
Putting https://github.com/phetsims/scenery-phet/issues/313 on my CCK TODO list.

[2017-06-14 02:49] samreid commented on #295
When tethered, Safari tells me that most of the time is being spent in handling the touch event:

![image](https://user-images.githubusercontent.com/679486/27113382-af614b00-5079-11e7-9e8c-ee7bb69e1da4.png)

That is about 60 milliseconds, but of course things are much slower when tethered.

[2017-06-14 02:51] samreid commented on #295
Looks like 10% of the JS time is getting used in validatePointers.

![image](https://user-images.githubusercontent.com/679486/27113456-2349db9a-507a-11e7-8d08-8bd811527d1b.png)

[2017-06-14 02:54] samreid commented on #295
DragVertex could get a speed boost:

![image](https://user-images.githubusercontent.com/679486/27113481-4317342c-507a-11e7-9ec1-ffdd96cc4a56.png)

[2017-06-14 03:05] samreid commented on #295
It looks like ObservableArray is wrecking performance if we use toArray afterwards:
![image](https://user-images.githubusercontent.com/679486/27113736-00389946-507c-11e7-81ea-421777ba32ed.png)

[2017-06-14 03:09] samreid commented on #295
Still around 21fps after the change above.

[2017-06-14 03:55] samreid commented on #295
For WireNode, a custom (rectangular) hit area may speed things up.

[2017-06-14 04:30] samreid commented on #295
@jonathanolson pointed out that it is odd that we are getting a low frame rate when the threads aren't even maxed out... There are gaps in the phases which may be caused by the act of recording the data.

![image](https://user-images.githubusercontent.com/679486/27115422-cdfa5e36-5087-11e7-976c-7704794d38b3.png)

[2017-06-14 04:34] samreid commented on #295
- [ ] only update cutButton position when it is visible

[2017-06-14 04:37] samreid commented on #295
- [ ] Can set Text or other nodes to have their center at zero (with a new intermediate node in the tree), then we can use setTranslation (fast) instead of setCenter (slow).  This will work best when the text is not changing every frame.

[2017-06-14 04:39] samreid commented on #295
My hope is that Safari is throttling the frame rate to 20-30 frames a second to keep it consistent, and that if we can speed up enough we will pass a threshold to jump to a higher frame rate.

[2017-06-14 15:42] #366 closed

[2017-06-14 16:00] samreid commented on #336
I'm concerned that the code would be more complicated if we use relative locations to everything and reparenting, I'm going to recommend against this issue.

[2017-06-14 16:00] #336 closed

[2017-06-14 17:00] samreid commented on #295
After the above changes, I'm seeing 22fps on iPad3 (and once a 23fps!).

[2017-06-14 17:54] samreid commented on #295
I removed everything from the scene graph except one battery and still seeing around 23fps.

![image](https://user-images.githubusercontent.com/679486/27146918-3620bca6-50f8-11e7-8e02-12f2aa5983a8.png)

[2017-06-14 18:11] samreid commented on #295
Commenting out ChargeAnimator and ChargeLayout gets close to 30fps

[2017-06-14 20:30] arouinfar commented on #350
@samreid I don't think we need to internationalize "<" as it is a mathematical symbol.

[2017-06-14 20:47] samreid commented on #295
Chrome reports about 10MB/s in garbage.  Compare this to blast which has 0.7MB/s while animating.

[2017-06-14 20:55] samreid commented on #295
6.4 MB/sec is baseline, when commenting out body of getDropTarget, this drops to 5MB/sec.  So getDropTarget should be improved.

[2017-06-14 21:06] samreid commented on #295
- [ ] use imageOpacity where possible

[2017-06-14 21:33] samreid commented on #295
Putting mainLayer as 'webgl' gives 47 frames per second with electrons animating.  I'm dragging a battery at 57 frames per second.

This version has webgl batteries and resistors:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.67/circuit-construction-kit-dc_en.html

I am very excited to finally see good performance on the iPad for this sim.  We could rasterize

[2017-06-14 22:09] samreid commented on #295
@jonathanolson and I added some synthetic garbage like this:

[code]

This reduced resting frame rate on ipad from 60fps to 50fps.  Chrome reports 100MB/sec getting garbage collected but it isn't slowed down too much.

Hence searching for and eliminating excess memory allocation in our simulations may not have a significant impact on the user experience.  (Unless we see GC stutters after performan

[2017-06-14 22:21] samreid commented on #350
Do you think RTL languages may need to do 1 < ?

[2017-06-14 22:33] samreid opened #367 "Render with WebGL"
After investigating many avenues in https://github.com/phetsims/circuit-construction-kit-common/issues/295 we found the most significant change we could make which yields a huge performance boost on iPad3 is to use WebGL.

To make this work, we would need to isolate a layer where all elements can be images and rectangles (since that is all scenery supports at the moment for WebGL).  Paths and stat

[2017-06-14 23:10] arouinfar commented on #350
@samreid Arabic and Persian both read numbers LTR... not sure about other RTL languages, though.  Given that the number itself is not translatable, I don't think `< 1` is likely to be misinterpreted.

[2017-06-15 00:34] samreid commented on #350
Thanks for clarifying, sounds good, closing.

[2017-06-15 00:34] #350 closed

[2017-06-15 03:29] samreid commented on #295
I rasterized some circles and switched to use imageOpacity, now the performance without webgl is up to about 24fps (42ms/frame).

[2017-06-15 16:41] arouinfar commented on #360
@samreid if the solution I proposed in https://github.com/phetsims/circuit-construction-kit-common/issues/344#issuecomment-308185781 is feasible, then perhaps we can use a similar approach for handling short wires.

[2017-06-15 16:46] samreid commented on #360
If I understood the recommendation in https://github.com/phetsims/circuit-construction-kit-common/issues/344#issuecomment-308185781 correctly, it still used a rotation, so would be unable to lengthen wires.

[2017-06-15 16:48] arouinfar commented on #360
Ok, let's talk about this issue more at design meeting @samreid.

[2017-06-15 17:57] Denz1994 commented on #348
I added maxWidth options to strings that weren't scaled. I tested using &stringTest=long. From what I can see the texts now scale with a limited maxWidth. I followed the suggestion given in the last comment but added a bit more space (10-15 pixels) to the strings' maxWidth.

[2017-06-15 20:56] arouinfar commented on #261
Discussed 6/15/17 and we can go ahead and close this issue.

[2017-06-15 20:56] #261 closed

[2017-06-15 21:04] arouinfar commented on #346
Drawing bands is performance heavy, so avoid adding 5th band. @Denz1994 have you found any resistors outside of the stated tolerance? If so, we can change the tolerance band color. If not, please go ahead and close this issue.

[2017-06-15 21:07] arouinfar commented on #307
SR estimates 2 hours to implement this feature. AP says go for it, but leave as an easter egg.

[2017-06-15 21:31] Denz1994 opened #368 "Using Delete/Backspace to remove a circuit element, doesn't allow for second click."
1. Go to explore or lab screen.
2. Drag a circuit element out of the carousel.
3. Drop the circuit element in the play area.
4. Click on the circuit element (it should be highlighted).
5. Press delete or backspace.
6. Now click on a circuit element within the carousel.

At this point, you should have to click twice for you to retrieve an element from the carousel

[2017-06-15 21:44] samreid opened #369 "Speed up performance when dragging an object out of the toolbox"

[2017-06-15 21:46] samreid commented on #369
Here's our starting spot:
![image](https://user-images.githubusercontent.com/679486/27203154-ba0e89be-51e1-11e7-8508-52be1800e964.png)

[2017-06-15 21:54] jessegreenberg commented on #307
@samreid please let me know if I can assist with this.

[2017-06-15 21:59] samreid commented on #369
After the above commit and commenting out VertexNode buttons and ValueNodes, it looks like this:
![image](https://user-images.githubusercontent.com/679486/27203565-a73f8174-51e3-11e7-9524-a82e63ccdd9c.png)

[2017-06-15 22:41] arouinfar commented on #302
Discussed in 6/15/17 design meeting. It should not be possible to lose circuit components off-screen. When zooming in, the circuit should move into the play area. The meter behavior is fine as is.

[2017-06-15 22:44] arouinfar commented on #365
Discussed in 6/15/17 design meeting. Circuits built outside of dev should get pushed back into dev when the window is resized. @samreid will look into the solution he proposed in https://github.com/phetsims/circuit-construction-kit-common/issues/365#issuecomment-307989010.

[2017-06-15 23:11] arouinfar commented on #360
Discussed in 6/15/17 design meeting. Wire vertices should not be allowed to overlap. We discussed two possible approaches

1. Vertices cannot be dragged over one another.
2. Allow vertices to drag over/through one another, but on release translate the vertex so it doesn't overlap.

@kathy-phet prefers option 2, but I am fine with whatever option is easiest/most stable @samreid.

[2017-06-16 03:27] samreid commented on #346
To clarify, performance is not the issue, it is more of a design issue.

[2017-06-16 16:07] samreid commented on #369
I'm deciding between these two approaches:

1. Preallocate all or many model and view objects.  Then dragging out of the toolbox just makes it visible.  This is guaranteed to be the fastest approach but will be more invasive.
2. Speed up individual steps that are taking up time when model and view objects are allocated.  There is no way this can ever be as fast as (1) and may take a long time to i

[2017-06-16 17:01] arouinfar commented on #369
@samreid option (1) sounds good to me, but I think this is more a question for you and @ariel-phet.

[2017-06-16 18:49] ariel-phet commented on #369
@samreid, what is the cost of (1) in terms of "more invasive". I assume this step will cause a longer start up time of the sim (which I think is acceptable), but what other penalties will we pay?

I would also think there are some "slick" ways to perform (1) that we discussed the other day, such as for instance preallocating only one of each circuit element, but preallocate another once the first

[2017-06-16 19:36] samreid commented on #369
This is mostly speculative--we would know better after trying to build it.  It seems it would mainly be an issue of rewriting parts of the code that assume objects are created dynamically to a pre-allocation strategy.  I would need to add a `visible` or `active` or `unallocated` sort of attribute to circuit elements so the circuit knows whether they are alive or just waiting to be alive.

If a "pr

[2017-06-16 20:07] samreid commented on #369
I asked on Skype:

[2017-06-16 20:31] ariel-phet commented on #369
@samreid sounds good

[2017-06-16 20:32] samreid commented on #369
I'm noticing that rendering things with WebGL speeds this up significantly.  I think I should look into rendering with webgl before spending too much more time on the preallocation strategy.

[2017-06-16 20:55] samreid commented on #367
- [ ] light rays node needs a dedicated layer outside of the webgl layer (perhaps behind everything)
- [ ] switchnode should rasterize lifelike open, lifelike closed, schematic open, schematic closed.
- [ ] wire needs two gradients and caps
- [ ] we have to do schematic nodes too

[2017-06-16 21:17] samreid commented on #369
Dragging out the first object is very slow even with webgl, but 2nd and later is fine even with no preallocation.  Perhaps we need to (a) exercise that code path or (b) make sure the webgl layer is all ready to go.

[2017-06-19 19:32] samreid commented on #369
@jonathanolson identified that an important step is to prepopulate the sprite sheet.  This is done for the battery and working nicely.  Still needs to be done for all other circuit element types as well as schematic mode.

[2017-06-20 15:12] Denz1994 commented on #346
After some further investigation, it turns out that our %5 tolerance is accurate for our current ohm readings.

For example, 34.5 ohms corresponding to a 35.0 ohm resistor with %5 tolerance gives us a possible range of (36.75>x>33.5). We are within the bounds or tolerance.

At this point, I don't think we need 5 bands.

Closing this issue.

[2017-06-20 15:12] #346 closed

[2017-06-20 16:04] arouinfar commented on #346
Thanks for looking into things @Denz1994!

[2017-06-22 16:50] samreid opened #370 "iPad2 crash when running with all 3 screens"
Perhaps it is creating 3 webgl canvases?

[2017-06-22 16:56] samreid opened #371 "Add swipe to snag"
For ammeter, voltmeter and toolbox items.

[2017-06-22 16:58] samreid commented on #365
Notes from previous meeting:

translate the entire group, make sure everything remains in view all the time
meter should always stay in bounds
	meters are good as is (regarding zoom and boundaries)
when zooming trigger the code that moves circuit things inside
make it so the geometry is preserved.

[2017-06-22 17:00] samreid commented on #360
Other notes from the meeting:

shouldn't have overlapping vertices once dropped
try making it so wires have a minimum length
or when dropped it translates away

[2017-06-22 17:12] samreid commented on #370
@jonathanolson suggests: sharing one WebGL across all screens, we may need to collaborate on it.  I could also try removing that child when switching screens, but that could slow down switching screens.

[2017-06-23 03:10] samreid commented on #295
We switched to WebGL in #367 and that made a huge difference.  We also worked specifically on performance when dragging an object out of the toolbox in #369.  WebGL has been more work to implement and will complicate some AC and basics features (if we now want to draw all circuit elements in WebGL), but it seems like a dramatically improved user experience on slow platforms.  Continuing in other o

[2017-06-23 03:10] #295 closed

[2017-06-23 03:22] samreid commented on #307
I implemented this using the same pattern as we used for deleting circuit elements and it seems to work OK.  I tested for 1-2 minutes using Chrome only.

[2017-06-23 03:30] samreid commented on #307
I published a version here for testing:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.71/circuit-construction-kit-dc_en.html

While testing in Firefox, I noticed that the delete key (for circuit elements and vertices) causes the browser to navigate back a page.  @jessegreenberg do you know how to work around that?  I noticed that in the published version of Jo

[2017-06-23 03:34] samreid commented on #368
I was able to reproduce this problem.

[2017-06-23 03:36] samreid commented on #368
CircuitElementNode has a clickToDismissListener which is correlated with this problem.

[2017-06-23 03:42] samreid commented on #368
The proposed fix is in the preceding commit.  @Denz1994 can you please review and test?

[2017-06-23 03:51] samreid commented on #302
It sounds like meters are behaving nicely.  We'll address other objects in https://github.com/phetsims/circuit-construction-kit-common/issues/365

[2017-06-23 03:51] #302 closed

[2017-06-23 03:59] samreid commented on #348
This looks very nice, the only 2 recommendations I have are that the tick mark labels and battery resistance text box are limited to be too small.

![image](https://user-images.githubusercontent.com/679486/27466166-d601b696-5795-11e7-91e8-2448edb907ac.png)

![image](https://user-images.githubusercontent.com/679486/27466180-ec370eb6-5795-11e7-85d3-5c98cad7f92e.png)

@Denz1994 can you please investi

[2017-06-23 04:02] samreid commented on #311
This is no longer prominent in profile traces, closing.

[2017-06-23 04:02] #311 closed

[2017-06-23 04:04] samreid commented on #308
This no longer seems necessary after WebGL improvements, closing.

[2017-06-23 04:04] #308 closed

[2017-06-23 05:38] samreid commented on #357
Fuzz errors like https://github.com/phetsims/scenery/issues/635 are making profiling difficult.

[2017-06-23 15:41] jessegreenberg commented on #307
Thanks @samreid, I tried published john-travoltage in Firefox and the backspace key does navigate to the previous page.  I will look into seeing if we can use preventDefault or some other trick to prevent this behavior.

[2017-06-23 15:45] samreid commented on #339
I've been adding TODO for new code, will track it there, closing.

[2017-06-23 15:45] #339 closed

[2017-06-23 15:58] samreid commented on #344
Proposed fix committed above and published for testing here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.72/circuit-construction-kit-dc_en.html

@arouinfar or @phet-steele can you please test it out?

[2017-06-23 16:01] samreid opened #372 "Bump away vertices after cut?"
In #344 we showed how cutting a vertex can create vertices that are very close to each other.  Perhaps we should run the "bump" away code when a cut occurs?

@arouinfar can you think of any problems this may cause?  Should I go for it?

[2017-06-23 16:07] samreid commented on #357
Here's memory during a fuzz test:
![image](https://user-images.githubusercontent.com/679486/27490522-cf393454-57fb-11e7-92d7-e90837f240c1.png)

[2017-06-23 16:50] jessegreenberg commented on #307
```preventDefault``` seems to do the trick for Firefox on Windows, Ill give it a try on a few other platforms.

[2017-06-23 16:55] jessegreenberg commented on #307
Seems to be working on MacOS 10.12.6 (beta) on Chrome, Firefox, and Safari. Ill commit the change.

[2017-06-23 17:02] jessegreenberg commented on #307
Pushed.  @samreid I also noticed that a vertex can be removed when the cut button is disabled, perhaps
[code]
should be hidden behind ```cutButton.enabled```?  I won't commit that in case you have a preferred method.

[2017-06-23 17:18] arouinfar commented on #372
@samreid I like this idea, but my worry is that the "bump" code will push the vertices too far apart, causing things to look odd. Ideally, the cut vertices would bump away enough so that there vertices are still close, but not overlapping.

[2017-06-23 17:29] arouinfar commented on #344
@samreid I couldn't reproduce the situation in https://github.com/phetsims/circuit-construction-kit-common/issues/344#issuecomment-308185781, but I think it would be good if @phet-steele could also review.

[2017-06-23 17:37] arouinfar commented on #372
After reviewing #344, perhaps the bump wouldn't be too far.

Before cutting:
<img width="198" alt="screen shot 2017-06-23 at 11 31 23 am" src="https://user-images.githubusercontent.com/8419308/27493613-93314666-5807-11e7-9208-bd447232c50c.png">

Current behavior:
<img width="178" alt="screen shot 2017-06-23 at 11 31 30 am" src="https://user-images.githubusercontent.com/8419308/27493612-932ef8ac-58

[2017-06-23 19:40] samreid commented on #307
In the above commit, I'm only allowing the keyboard to cut if the cut button is enabled.  It seems like it is working great.  @jessegreenberg anything else for this issue?

[2017-06-23 19:49] samreid commented on #372
It looks like the problem is is that the vertices move away from the old vertex toward the opposite vertex (which is still connected).  If two components are in the same direction this can cause an overlap:

![image](https://user-images.githubusercontent.com/679486/27498098-bcd358b6-581a-11e7-9c17-5c2f0d6eeed4.png)

[2017-06-23 20:55] samreid commented on #372
Here's a 2-point cutVertex that seems to have much better behavior:

[code]

[2017-06-23 22:14] samreid commented on #372
New algorithm puts cut vertices equidistant on a circle

![image](https://user-images.githubusercontent.com/679486/27502112-faf903d4-582e-11e7-9d5e-164a564d807f.png)

![image](https://user-images.githubusercontent.com/679486/27502118-0f7c109e-582f-11e7-9941-75878b9edf74.png)

[2017-06-23 22:21] samreid commented on #372
I've published a fixed version here for review:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.73/circuit-construction-kit-dc_en.html

@arouinfar can you please take a look?

[2017-06-23 22:27] samreid opened #373 "Wire needs 2 gradients"
After moving to WebGL in #367 , the wire needs gradients

[2017-06-23 22:27] samreid opened #374 "Wire needs end caps"
After moving to WebGL in #367 , the wire needs rounded end caps

[2017-06-23 22:28] samreid opened #375 "For WebGL, use toDataURLNodeSynchronous everywhere"
After moving to WebGL in #367, we need to us toDataURLNodeSynchronous everywhere

[2017-06-23 22:28] samreid opened #376 "Switch is off its rocker"
![image](https://user-images.githubusercontent.com/679486/27502399-ff410e62-5830-11e7-85db-31e980064e00.png)

This happened during the WebGL switchover, see #367

[2017-06-23 22:29] samreid commented on #367
I moved the remaining work to new issues, closing.

[2017-06-23 22:29] #367 closed

[2017-06-24 03:31] samreid commented on #357
Unfortunately WebGL's use of shared nodes is causing all sorts of memory leaks.  Here is the order of what is happening:
1. item removed listener is called in CircuitLayerNode.  This disposes the item
2. item removed listener is called in the item.  This changes its children (even though it has already been disposed).  This augments the parents array on the shared child node, and hence creates a m

[2017-06-24 17:37] samreid commented on #376
Fixed in the preceding commit, closing.

[2017-06-24 17:37] #376 closed

[2017-06-26 05:44] samreid commented on #375
Fixed in the preceding commits, closing.

[2017-06-26 05:44] #375 closed

[2017-06-26 05:46] samreid opened #377 "Prepopulate the sprite sheet"
From https://github.com/phetsims/circuit-construction-kit-common/issues/369

We need to see if any other circuit elements need to be prepopulated in the sprite sheet.

[2017-06-26 05:47] samreid commented on #369
This is working much better (for WebGL as well as SVG), I'm closing this issue and we can continue in #377

[2017-06-26 05:47] #369 closed

[2017-06-26 16:07] pixelzoom opened #378 "multiple declarations of circuitElement"
Noted while looking at CircuitElementToolNode for https://github.com/phetsims/scenery-phet/issues/214.

IDEA is flagging line 64 with "variable might not have been initialized".  The `var circuitElement` inside the `down` function (line 69) is shadowing the `var circuitElement` declared outside that function (line 48).  So  if line 64 is executed, `circuitElement` will be `undefined`.

[code]

[2017-06-26 16:16] samreid commented on #378
It seems the preallocation strategy will no longer be necessary due to other fixes in https://github.com/phetsims/circuit-construction-kit-common/issues/369 so I removed it in the preceding commit.  @pixelzoom did that fix the IDEA warnings?

[2017-06-26 16:19] pixelzoom commented on #378
Appears to have been fixed in https://github.com/phetsims/circuit-construction-kit-common/commit/ef16dad49099b2ec2f17aaed7545790173b7e153, where there is now only 1 declaration of `circuitElement`.

Closing.

[2017-06-26 16:19] #378 closed

[2017-06-26 21:45] arouinfar commented on #372
Love it @samreid!

[2017-06-26 21:45] #372 closed

[2017-06-27 03:31] samreid opened #379 "Assertion failed: Exit events not matched by an enter"
I'm seeing this regularly during fuzz testing.  @jonathanolson any ideas what it means or how I can solve it?

Marking as high priority because it is preventing further memory experimentation for #357

[2017-06-27 14:36] samreid commented on #357
I can only get about 10 seconds of fuzzing before getting an assertion like the one above, but in those 10 seconds, I'm not seeing a memory leak.

[2017-06-27 14:37] samreid commented on #370
It was fine running in requirejs yesterday, we should test further before making a complex change.

[2017-06-27 15:17] samreid commented on #374
The caps are now rounded.  I'll make them reversible in #373

[2017-06-27 15:17] #374 closed

[2017-06-27 15:30] samreid commented on #373
Fixed in the preceding commit, closing.

[2017-06-27 15:30] #373 closed

[2017-06-27 17:25] samreid commented on #371
Implemented above and working nicely on iPad2, closing.

[2017-06-27 17:25] #371 closed

[2017-06-27 17:34] samreid commented on #370
A full build tests OK, Chrome shows 40MB or so on startup, which is under our 100MB threshold, so let's close this until it is spotted again.

[2017-06-27 17:34] #370 closed

[2017-06-27 19:20] samreid commented on #377
Finished in the above commit, and tests out OK on iPad2, closing.

[2017-06-27 19:20] #377 closed

[2017-06-28 01:36] samreid commented on #360
It would be nice to reuse the cutVertex behavior for this, but that code is somewhat specialized.

[2017-06-28 02:28] samreid commented on #360
Proposed fix is in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.74/circuit-construction-kit-dc_en.html

@arouinfar can you please test it out?

[2017-06-28 02:47] samreid commented on #365
Committed in 33bcc7aa39467d87bc47873f80effba96fef0f0d preserving geometry

[2017-06-28 02:55] samreid commented on #365
In the 2 preceding commits, geometry is preserved and objects are moved into view during zoom as well as screen reshape.  If the geometry is too large to fit on the screen, the algorithm will "try its best" without disturbing the geometry, but parts will be offscreen and need to be adjusted by the user.

[2017-06-28 02:58] samreid commented on #365
I published a version for testing here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.75/circuit-construction-kit-dc_en.html

@arouinfar can you please take a look?

[2017-06-28 17:11] samreid opened #380 "i18n strings need help"
During code review https://github.com/phetsims/circuit-construction-kit-dc/issues/53 I noticed these strings:

[code]

for the top one, it seems like it would be better to expand it out (and also use double curlies everywhere).  For the others, there is probably a better name for the keys.

[2017-06-28 17:22] arouinfar commented on #365
Looks good @samreid! Most cases work beautifully, but to test an edge case, I made an unrealistically large circuit while zoomed out. When zooming in, some elements were lost off screen, but part of the circuit was still retrievable. I think in this situation it's acceptable to require the user zoom back out to retrieve missing parts.

<img width="1124" alt="screen shot 2017-06-28 at 11 13 05 am"

[2017-06-28 17:22] #365 closed

[2017-06-28 17:33] arouinfar commented on #360
@samreid overall, things are working nicely! Vertex overlap can still be created when severing two short wires. Clicking on one of the short wires will cause the overlap to be corrected. I could live with this behavior, but I wanted to pass this one back to @samreid in case there is a simple solution. If not, feel free to close the issue.

![image](https://user-images.githubusercontent.com/8419308

[2017-06-28 18:30] samreid opened #381 "Toolbox switch opens and closes when clicking on it"
Thanks for the report @pixelzoom

[2017-06-28 18:31] samreid opened #382 "Clicking on switch in toolbox causes the "enter not matched with exit" error"

[2017-06-28 18:33] pixelzoom commented on #381
Happens with both lifelike and schematic views.

[2017-06-28 18:51] samreid opened #383 "Should this repo be MIT or GPL?"
Our rule of thumb says common code is MIT and sim code is GPL.  Most of the CCK DC code is in CCK-common repo.  Should it be MIT?

[2017-06-28 19:45] samreid commented on #317
Notes for the review:
1. There are TODO (phet-io) or TODO (black-box-study) marked in the source code.  In my opinion, these do not need to be resolved prior to publication of 1.0.
2. both the circuit-construction-kit-common and circuit-construction-kit-dc repos need to be reviewed.

[2017-06-29 15:51] samreid commented on #383
@pixelzoom said scenery and sun (and their dependencies) should be MIT, and other things like shred and circuit-construction-kit-common should be GPL.  It looks like vibe should be MIT as well.

@pixelzoom says even if we do not change our overall policy regarding common code sim repos (like shred), cck-common should still be GPL since it is *only* used by CCK sims.

[2017-06-29 15:56] samreid commented on #383
This seems like worth bringing up at developer meeting so we can decide if we want to change license or policy with repos like shred.

[2017-06-29 16:23] samreid commented on #380
@pixelzoom does NumberControl require the `{0}` pattern?  Is that a good long term solution?  Can/should I publish a sim with a string key like the one in the top of the issue description?

[2017-06-29 16:46] samreid commented on #381
Fixed in above commit, @pixelzoom would you like to review?

[2017-06-29 16:57] samreid commented on #382
@jonathanolson I'm still seeing this issue regularly during fuzz tests, can you help me work on this?

[2017-06-29 17:11] pixelzoom commented on #381
Verified, closing.

[2017-06-29 17:11] #381 closed

[2017-06-29 17:16] pixelzoom commented on #380
You're asking if we can convert NumberControl options.valueFormat to the new "named placeholders" patterns.  You'll need to inspect all client usages of that pattern, and make sure that the "{0}" appears in code, and not in a translated string.  If that is the case, then you should be able to (1) replace "{0}" with "{{value}}" in NumberControl _and_ at all client sites, and (2) replace `StringUtil

[2017-06-29 17:17] samreid commented on #380
But we would have to change all translations, right?  Are we painted into a corner?

[2017-06-29 17:21] pixelzoom commented on #380
This is going to result combined use of both placeholder formats, which feels a little weird/wrong.

Example...

projectile-motion-strings_en.json:

[code]

projectile-motion.LabProjectilePanel delta:

[code]

... which results in "{{values}} kg".

NumberDisplay delta:

[code]

[2017-06-29 17:31] pixelzoom commented on #380
We don't necessarily need to change translated strings.  We currently replace '{0}' with '{0}' in translated strings. We would replace '{0}' with '{{value}}'.   Which (again) feels a little weird/clever/wrong.

[2017-06-29 18:47] samreid commented on #380
I'm not clear what your recommendation is for this CCK string.  Should I keep:

[code]
or change it to something else?

[2017-06-29 19:12] samreid commented on #383
@jonathanolson says it is basically sim code so it would be GPL.  @ariel-phet recalls that a funder recommended a particular license like GPL-- @kathy-phet would know for sure.

@ariel-phet says circuit-construction-kit-common is basically "sim code" and should be GPL.

[2017-06-29 19:14] samreid commented on #383
@jbphet and @samreid are wondering why everything can't be MIT?

[2017-06-29 19:16] samreid commented on #383
It is already GPL, so we'll leave this as is, and leave the question in https://github.com/phetsims/circuit-construction-kit-common/issues/383#issuecomment-312071551 for future.

[2017-06-29 19:16] #383 closed

[2017-06-29 19:17] pixelzoom commented on #383
6/29/17 dev meeting notes:

• circuit-construction-kit-common, inverse-square-law-common and shred should all be GPL
• why can't everything be MIT?
• if everything can't be MIT, why not make all PhET-specific common code GPL, and use MIT only for common code (and dependencies) that is useful outside of PhET?

[2017-06-29 22:52] kathy-phet commented on #383
The basic thought was that common code like scenery could be available under MIT if some 3rd party wanted to build a proprietary software on top of it.

For our sim-specific code, if someone wants to build a specialized version of it, we want that version available for use to anyone -- so we make the sim code GPL. If they want to build something proprietary using our sim-specific code as a base, t

[2017-06-30 03:49] samreid commented on #383
Thanks @kathy-phet, I've moved the discussion to https://github.com/phetsims/tasks/issues/875

[2017-06-30 04:52] samreid opened #384 "Use SimpleDragHandler.createForwardingListener pattern"
See https://github.com/phetsims/scenery/issues/639

Would be good to complete before publication

[2017-06-30 06:44] jonathanolson commented on #382
Helpful `sceneryLog=InputEvent`:
[code]

Scenery is not properly handling the case where the mouse is over a trail (e.g. A-B-C), then the trail changes but still has the same leaf node (e.g. A-D-C, where D has a DownUpListener). In this case, it short-circuits and doesn't fire the necessary enter/exit events.

[2017-06-30 16:22] phet-steele commented on #344
I'm ok with this, thanks @samreid!

[2017-06-30 16:22] #344 closed

[2017-07-01 01:03] samreid commented on #360
If we add a rule that "any time a vertex moves it will run the bump away logic" it could lead to cascades like the one we saw in https://github.com/phetsims/circuit-construction-kit-common/issues/132#issue-160071856

Would it be possible to run this logic once on moved vertices after a cut?  Perhaps.

[2017-07-01 01:18] samreid commented on #360
I tried adding this code after the cut code:

[code]

But it did not have the desirable behavior.

[2017-07-01 01:18] samreid commented on #360
The root of the problem is that the cut code is putting vertices over other vertices--would be best if it could avoid that problem in the first place.

[2017-07-01 01:26] samreid commented on #360
After trying a few things, I'm not seeing a straightforward solution to this problem.  My hope is that it won't create too much confusion in the user interface--if we observe otherwise we can put more time into it.

[2017-07-01 01:26] #360 closed

[2017-07-01 02:08] samreid commented on #384
CCK is using the new pattern so I can close this issue, and we can proceed in https://github.com/phetsims/scenery/issues/639 at our convenience.

[2017-07-01 02:08] #384 closed

[2017-07-01 02:11] samreid commented on #260
@arouinfar are we having another design meeting for this?  If not, should we make any adjustments?  Is the logarithm "good enough" for 1.0?

[2017-07-01 03:04] jonathanolson commented on #382
I believe the offending code has been fixed, and that this now shouldn't occur. I can't reproduce locally at least.

[2017-07-01 03:41] samreid commented on #357
This is an 80 second fuzz test:
![image](https://user-images.githubusercontent.com/679486/27758855-98d577ce-5ddc-11e7-8c33-e97b79037ded.png)

Note that it peaks around 200MB but it was making circuits like this:

![image](https://user-images.githubusercontent.com/679486/27758867-cf62ecc2-5ddc-11e7-97ad-3bbfa1aceb61.png)

[2017-07-01 03:46] samreid commented on #357
And this

![image](https://user-images.githubusercontent.com/679486/27758912-8b47a676-5ddd-11e7-96a2-710e12b88a60.png)

[2017-07-01 03:47] samreid commented on #357
This is 5 minutes later in the same trace:

![image](https://user-images.githubusercontent.com/679486/27758915-ac062ca2-5ddd-11e7-97c2-1bed23498f5d.png)

[2017-07-01 04:10] samreid commented on #357
Creating circuits and pressing reset all seems stable, I'm going to call this good for now, closing.

![image](https://user-images.githubusercontent.com/679486/27759012-d9828fce-5de0-11e7-8fbc-ec6c32520987.png)

[2017-07-01 04:10] #357 closed

[2017-07-01 04:10] samreid commented on #382
I was able to fuzz for a nice long time, thanks!

[2017-07-01 04:10] #382 closed

[2017-07-01 04:53] samreid commented on #379
I think @jonathanolson solved this in a scenery issue.

[2017-07-01 04:53] #379 closed

[2017-07-02 04:54] samreid commented on #348
After the above commits:
![image](https://user-images.githubusercontent.com/679486/27767295-317930c8-5eb0-11e7-835b-19b5677aaa38.png)

Closing.

[2017-07-02 04:54] #348 closed

[2017-07-03 15:50] pixelzoom commented on #380
Until we decide what to do, and apply the same approach to all affected sims (eg projectile-motion), I would stick with old-style (numbered) placeholders.  I.e.:

[code]

[2017-07-03 15:57] pixelzoom commented on #380
This probably deserves a more general issue, perhaps in scenery-phet.

The general issue is how (or whether) to change UI components that use numbered placeholders as part of their public API.  NumberControl and NumberDisplay do this through `options.valuePattern`.  Are their other common-code APIs that do something similar?  Should/can we change these APIs to use named placeholders?  What is the

[2017-07-03 16:57] arouinfar commented on #260
@samreid we'll have a design meeting this week, and we should discuss high power circuits. I suspect the logarithm will be "good enough" for 1.0, as the brightness variation may not be as important for the high V/R components.

[2017-07-05 12:41] samreid commented on #380
In the preceding commit, I separated the strings so as not to mix the placeholder types and to give translators full control over those cases.  Closing.

[2017-07-05 16:26] Denz1994 commented on #368
I wasn't able to replicate this problem after trying following the above steps. I have even tried modifying my approach and still cannot reproduce the bug. I would consider it fixed after testing on MacBook Pro iOS 10.12.5

Closing. Thanks for the work @samreid.

[2017-07-05 16:26] #368 closed

[2017-07-06 18:40] samreid commented on #307
@jessegreenberg it would be good to finish up this issue when you have time.

[2017-07-06 18:50] jessegreenberg commented on #307
Sorry for the delay @samreid, there is nothing else that needs to be done that I am aware of. Thanks! Closing the issue.

[2017-07-06 18:50] #307 closed

[2017-07-06 19:41] samreid commented on #307
Excellent, thanks!

[2017-07-06 20:32] samreid commented on #161
We decided to go for it for 1.0

[2017-07-07 18:20] pixelzoom commented on #380
Reopening. circuit-construction-kit-common-strings_en.json now contains a mixture of numbered and named placeholders, and for things that are similar/identical.   For example:

[code]

Two issues with this:
(1) It's liable to be confusing to translators.
(2) It mixes different type of placeholders in new sim code.

So I think this issue should be left open until we reach a general consensus on how

[2017-07-12 19:10] Denz1994 opened #385 "Removing a circuit element causes an error."
After removing an item from the carousel, I get an error messge:
```throw new Error( 'Tried to set ' + key + ' after disposing a Node' );```

This isn't a problem in the latest [dev](http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.77/circuit-construction-kit-dc_en.html) version so this may be a new issue. Are you aware of this @samreid?

[2017-07-12 19:21] Denz1994 commented on #385
Pressing the trash can button and a drag/drop into the carousel will trigger this error as well.

[2017-07-13 03:18] samreid commented on #385
Thanks @Denz1994, I think the recent node disposal scuttling revealed issues.  I'll investigate.

[2017-07-13 17:07] Denz1994 commented on #385
I'm actually getting the same error by just connecting elements together. For example, dragging out a battery and a wire, then connecting them raises an error.

[2017-07-13 17:14] Denz1994 commented on #385
Also using the backspace button produces the same error.

[2017-07-13 17:30] samreid commented on #385
Proposed fix is above, @Denz1994 can you please test?

[2017-07-13 17:55] Denz1994 commented on #385
After testing, I can only replicate the issue with resistors and grab bag items. Could this have something to do with my commits in https://github.com/phetsims/circuit-construction-kit-common/commit/acd2e7dc279bc7d4eee30554ce7ec10ee96b2980

[2017-07-13 17:59] samreid commented on #385
I fixed the dispose order in the above commit, can you please test?

[2017-07-13 18:06] Denz1994 commented on #385
After testing, I cannot reproduce the error. I am going to close this. Thank you for the fix.

[2017-07-13 18:06] #385 closed

[2017-07-13 18:20] Denz1994 opened #386 "Wire solders jump in Z-layering when connected to resistors."
Steps to reproduce:

1. drag out a resistor/grab bag item and drop it in play area
2. drag out a wire and connect it to the resistor in the play area
       - Note: the solder is behind the circuit items
3. drag out a resistor/grab bag item and connect it to the other vertex of the wire
4. at this point both solders on the vertex of the wire will jump forward in the z-layer ordering.

This is mino

[2017-07-14 03:28] samreid commented on #161
Ready for testing in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.78/circuit-construction-kit-dc_en.html

@arouinfar can you take a look?

[2017-07-14 03:30] samreid commented on #380
We decided to only use `{{named}}` in sim code and use an adapter to `{0}` where necessary.

[2017-07-14 03:36] samreid commented on #380
@pixelzoom I switched to use named placeholders in the sim strings with an adapter for NumberControl, can you please review?

[2017-07-14 04:16] arouinfar commented on #161
Looks good @samreid! I noticed that the rays go behind the view selection button, but over the inactive option. I'm not particularly bothered by it, but I thought I'd point it out in case it was an oversight rather than due to some limitation.

![image](https://user-images.githubusercontent.com/8419308/28198096-b27325e6-6818-11e7-9894-e569c7cf45ef.png)

[2017-07-14 15:31] samreid commented on #161
The default behavior for radio buttons is to show their selection status by changing the opacity.  It looks like there is an option to change the appearance, but it would take up to an hour to figure out and it would be somewhat unconventional.  Let me know if I should go for it.

[2017-07-14 16:40] arouinfar commented on #161
Ooooh, that makes sense! Thanks for the clarification @samreid. No need to make any further changes. Closing.

[2017-07-14 18:20] pixelzoom commented on #380
👍 Closing.

[2017-07-14 18:20] #380 closed

[2017-07-17 22:43] phet-steele commented on #281
I wouldn't say this is completely fixed. There are still some cases that show this issue, and it is important to test both electrons and conventional current. They have been shown to behave differently.

Top left wire is near-zero length.
<img width="270" alt="screen shot 2017-07-17 at 4 41 01 pm" src="https://user-images.githubusercontent.com/5863899/28292973-e243ea64-6b0e-11e7-9c91-61a1ac2ff5cd.

[2017-07-17 22:44] phet-steele opened #387 "matrix should not map plane to a line or point"
[code]

[2017-07-17 22:55] phet-steele opened #388 "Ghosted lightbulbs upon lighting"
1. Create a simple circuit with a lightbulb
2. Disconnect the circuit so the lightbulb is unlit
3. Drag the lightbulb around to your heart's desire
4. Reconnect the circuit

You should see many ghosted lightbulbs that ghosted the trail you dragged in step 3. Note this does NOT happen when dragging a lightbulb out the first time. I believe it must transition from lit -> unlit first.

<img width="86

[2017-07-18 00:12] samreid commented on #281
I was able to reproduce the problem.  The wire had to be very close to 0 length--a few pixels made the problem go away.

![image](https://user-images.githubusercontent.com/679486/28295082-7980cc42-6b1b-11e7-9a18-5b3dd85a8d6b.png)

[2017-07-18 00:13] samreid commented on #281
@arouinfar can you please reproduce this problem and advise?

[2017-07-18 03:38] arouinfar commented on #281
@phet-steele @samreid I struggled to reproduce this behavior until I exactly overlapped two vertices. If the vertices were misaligned by a pixel, the currents behaved normally. I don't think we need to pursue this any further, but thanks for pointing it out @phet-steele.

[2017-07-18 19:15] arouinfar commented on #388
Definitely relevant to https://github.com/phetsims/circuit-construction-kit-dc/issues/76

[2017-07-19 05:26] samreid commented on #388
I was able to reproduce the problem, thanks @phet-steele!

![image](https://user-images.githubusercontent.com/679486/28351924-6c641d34-6c10-11e7-9694-ee96879b6171.png)

[2017-07-19 05:27] samreid commented on #388
When dragging the light bulb circuit, the ghosts disappear.

[2017-07-19 05:37] samreid commented on #388
`imageOpacity` seems to address the problem, I published a dev version here for testing:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.83/circuit-construction-kit-dc_en.html

@arouinfar our @phet-steele can you please take a look?

[2017-07-19 14:45] samreid commented on #387
I was unable to reproduce the problem, but I committed a fix that limits the transform values to be between 0.5 and 1.0, so it is likely to solve the problem.  Reassigned to @phet-steele to test or report on bayes.

[2017-07-19 14:59] samreid commented on #387
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.84/circuit-construction-kit-dc_en.html has this fix

[2017-07-19 16:35] samreid commented on #386
I think we want the solder to always be in front of the wires, so there is already a problem at step 2

![image](https://user-images.githubusercontent.com/679486/28378593-ebcb37b2-6c6d-11e7-8da8-87bd4cc356fc.png)

I think this will solve the problem.

[2017-07-19 16:42] samreid commented on #386
In the above commit, after a connection, a relayering is scheduled for the simulation step.  This appears to solve the problem.  @Denz1994 can you please pull and verify?

[2017-07-19 16:49] arouinfar opened #389 "Can schematic resistors in carousel use the same image?"
During interviews, students thought there may be some meaning associated with the stroke weight of the schematic resistors in the carousel.
![image](https://user-images.githubusercontent.com/8419308/28378603-f3c060b4-6c6d-11e7-8846-923bb713300d.png)

Luckily, students didn't extend this idea to comparing the size of the resistor symbols in the play area, which are sized so that the width is the sa

[2017-07-19 17:25] samreid commented on #389
Fixed above and will be ready for testing in next version.

[2017-07-19 17:41] arouinfar commented on #389
@samreid no need to publish a new dev just for this. Pulled master and it looks great!

[2017-07-19 17:41] #389 closed

[2017-07-19 17:42] phet-steele commented on #387
Could not cause this with local fuzzing nor bayes!

[2017-07-19 17:42] #387 closed

[2017-07-19 19:25] Denz1994 commented on #386
After pulling and reviewing, I can't reproduce the bug or any similar bugs.

Thanks @samreid for fixing this.

[2017-07-19 19:25] #386 closed

[2017-07-20 02:40] samreid commented on #260
@arouinfar did we decide this is fine for 1.0?

[2017-07-20 19:11] phet-steele commented on #165
This looks great, except for https://github.com/phetsims/circuit-construction-kit-common/issues/319. Discussion will continue there.

[2017-07-20 19:11] phet-steele commented on #319
@arouinfar @samreid I'm confused about the argument in https://github.com/phetsims/circuit-construction-kit-common/issues/319#issuecomment-304106489 and how that would not look good if the solder were layered on top. Frankly, the mock-ups in https://github.com/phetsims/circuit-construction-kit-common/issues/319#issuecomment-303923661 look amaaaaaazing! We should do this!

[2017-07-20 19:17] arouinfar commented on #319
I made a rough mockup of what it would look like to stagger the solder in @samreid's screenshot in https://github.com/phetsims/circuit-construction-kit-common/issues/319#issuecomment-304106489

![image](https://user-images.githubusercontent.com/8419308/28434663-5e9a9b04-6d4d-11e7-8569-c96839a7fa11.png)

Now that I see the solder sandwiched between the switch and battery, I don't think it actually

[2017-07-20 21:19] samreid commented on #319
At today's meeting we concluded this should be priority deferred, I'll mark it for 1.1+

[2017-07-20 22:16] samreid commented on #317
Questions for the reviewer:

1. Why do the pointer areas for the schematic elements have to be translated?  See https://github.com/phetsims/circuit-construction-kit-dc/issues/93

[2017-07-21 17:21] arouinfar opened #390 "Wonky wire ends on iPad"
Observed in dev.91 for https://github.com/phetsims/QA/issues/26 on iPad 2 and iPad Air. Possibly related to https://github.com/phetsims/circuit-construction-kit-dc/issues/78.

The ends of the wire in the toolbox look a bit misaligned/too large, but appear normal in the play area.
![fullsizerender](https://user-images.githubusercontent.com/8419308/28474508-3bc5ff24-6e06-11e7-86c0-5872063a38e8.jpg)

[2017-07-21 17:25] arouinfar commented on #260
@samreid we decided to defer further work on the brightness until 1.1+, but I'm not sure what adjustments we would make in a future version. I'm going to go ahead and close this issue, but we can revisit the brightness if we get a lot of pushback/requests from users.

[2017-07-21 17:25] #260 closed

[2017-07-21 18:04] arouinfar opened #391 "Series ammeter inconsistently displays 0"
Discovered in dev.91 for https://github.com/phetsims/QA/issues/26 on latest Mac/Chrome. Possibly related to https://github.com/phetsims/circuit-construction-kit-dc/issues/96.

The voltmeter and non-contact ammeter display a "?" when the probes aren't making contact with components (or when in a non-conductive area of component). For consistency, the series ammeter should do the same.

The series a

[2017-07-21 18:04] arouinfar commented on #391
Doesn't need to be addressed for AAPT

[2017-07-23 18:59] samreid commented on #390
I'm seeing the same wonkiness on my iPad2.

[2017-07-23 19:30] samreid commented on #390
When I scale the toolbox node up to a factor of 4, the wire icon looks OK on iPad2.  @jonathanolson can you help on this issue?  I'm not sure where to look next.

[2017-07-23 20:03] samreid commented on #391
Proposed fix is here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.98/circuit-construction-kit-dc_en.html

@arouinfar can you please test?

[2017-07-23 22:13] samreid commented on #390
Workaround seems OK to me, not sure if I should close it or discuss with @jonathanolson.  I'll leave it up to him!

[2017-07-24 02:07] samreid commented on #390
Oops, workaround doesn't switch to schematic.

[2017-07-24 02:22] samreid commented on #390
It would be easy to take the workaround to the next level and rasterize schematic and lifelike icons, but that would make it more difficult for @jonathanolson to reproduce the problem, so I'll wait on that.  Instead, I'll roll back the initial workaround so @jonathanolson can easily see the problem.

[2017-07-24 02:24] samreid commented on #390
OK we're back where we started.  @jonathanolson can we schedule a time to investigate?

[2017-07-24 14:22] arouinfar commented on #391
👍

[2017-07-24 14:22] #391 closed

[2017-07-25 17:21] samreid commented on #390
In the preceding commit, @jonathanolson and I added padding to the wire caps and things are looking better on iPad2 (no more drooping down) though not perfectly vertically symmetrical (peak is about 2/3 of the way down instead of 1/2 way down).  On iPad3 it seems perfectly symmetrical now.  @jonathanolson and I discussed workarounds for avoiding this, but they would lead to a divergence of code an

[2017-07-25 17:28] samreid commented on #390
We couldn't find a way to share images from Witten, so here's a snap from my phone:

![image](https://user-images.githubusercontent.com/679486/28584997-0bcacc22-712c-11e7-8a56-97131a528678.png)

We are concerned that the alignment is good on every other platform and if we make an iPad2 specific fix here, it will be broken if/when mobile safari gets fixed.

We could create a separate renderer for t

[2017-07-25 17:32] arouinfar commented on #390
@samreid I reviewed dev.103 on the iPad2, and the wire looks great. I don't think you need to worry about doing anything else.

By the way, you should be able to use AirDrop to transfer screenshots from the iPad2 to your Mac.

[2017-07-25 18:25] #390 closed

[2017-07-27 16:18] phet-steele commented on #202
Unable to reproduce these days.

[2017-07-27 16:18] #202 closed

[2017-07-28 19:42] phet-steele commented on #165
@samreid, maybe this was re-introduced? While looking at master I tried this:

1. Drag out a wire
2. Drag out and attach another wire to the first wire, don't drop it in the play area first. I HAVE to attach the left vertex of the new wire to the right vertex of the first wire. So in the screenshot below, the right wire is the wire from step 2.

<img width="393" alt="screen shot 2017-07-28 at 1 40

[2017-07-30 17:28] samreid commented on #165
Since we were able to simplify the layering in https://github.com/phetsims/circuit-construction-kit-dc/issues/106 I would like to apply a similar strategy here.  Instead of throwing wires, vertices and circuit elements into the same list and trying to keep their order correct, we will use separate layers for each.  This should solve the problem at hand, simplify the code significantly, and perhaps

[2017-07-30 17:46] samreid commented on #165
Here's the I can delete if we move toward organizing the layers described in the preceding comment:

[code]

[2017-07-30 18:24] samreid opened #392 "Voltmeter disappears when dragging out of the toolbox"
I saw this a few times while working on https://github.com/phetsims/circuit-construction-kit-common/issues/165 that the Voltmeter would disappear when dragging out of the sensor toolbox.  @phet-steele can you please keep your eyes peeled for this in upcoming testing?  I'm not sure how to reproduce it or if it was a transient problem that is now solved.

[2017-07-31 04:20] samreid commented on #392
Fixed, closing.

[2017-07-31 04:20] #392 closed

[2017-07-31 04:23] samreid commented on #165
The proposed fix is implemented above.  It should address https://github.com/phetsims/circuit-construction-kit-common/issues/165#issuecomment-318744912 and it removed nearly 100 lines of complex layering code by making the layers separate instead of interleaved.

@phet-steele and @arouinfar can you please test the https://github.com/phetsims/circuit-construction-kit-common/issues/165#issuecomment-

[2017-07-31 16:42] arouinfar commented on #165
Looks good to me too!

[2017-07-31 16:42] #165 closed

[2017-08-08 19:00] phet-steele commented on #273
@samreid I'm going to reopen this issue for phetsims/QA/issues/33, and here is why:

In phetsims/circuit-construction-kit-dc/issues/104, we reduced the diameter of electrons. In a schematic lightbulb, here is a before and after for the size difference:

BEFORE
<img width="213" alt="screen shot 2017-07-28 at 2 04 48 pm" src="https://user-images.githubusercontent.com/5863899/29085415-796461c0-7c2c-1

[2017-08-08 19:49] kathy-phet commented on #273
Wanting to hear from Sam on updated time estimate.

[2017-08-08 19:51] arouinfar commented on #273
@samreid I'd also be curious for an updated time estimate.

I'll point out that the conventional current looks a bit worse than the electrons:
![screen shot 2017-08-08 at 1 39 32 pm 2](https://user-images.githubusercontent.com/8419308/29091542-9019829c-7c40-11e7-90f5-0fd0d105ce4e.png)

[2017-08-08 21:23] phet-steele commented on #254
This issue, specifically https://github.com/phetsims/circuit-construction-kit-common/issues/254#issuecomment-280109283, is not fixed in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.135/circuit-construction-kit-dc_en.html. Reopening. It looks like discussion on how to handle ended at https://github.com/phetsims/circuit-construction-kit-common/issues/254#issuec

[2017-08-08 22:33] arouinfar commented on #254
@samreid can you treat the situation in https://github.com/phetsims/circuit-construction-kit-common/issues/254#issuecomment-280109283 like this?

![vertex_pulling](https://user-images.githubusercontent.com/8419308/29097371-b9298e32-7c56-11e7-8492-156934d3835a.gif)

The group of objects being dragged gets sucked into the component on the far right.

[2017-08-09 03:42] samreid commented on #273
Still probably around 4 hours, I'll take a closer look...

[2017-08-09 04:31] samreid commented on #273
Rough draft is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.145/circuit-construction-kit-dc_en.html

It seems OK to me except for the fact that we chose the left leg of the schematic light bulb to be offset from the vertex, and the conventional current doesn't line up on it:

![image](https://user-images.githubusercontent.com/679486/29105232-bed9f560-7c

[2017-08-09 05:24] samreid commented on #254
In the preceding commit I changed the rule from "the dragged vertex and its neighbor can connect" to "the dragged vertex and any other vertex that is connected by fixed length circuit elements to that group can connect."  The proposed fix is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.146/circuit-construction-kit-dc_en.html

@phet-steele and @arouinfar

[2017-08-09 06:08] arouinfar commented on #254
Seems okay to me @samreid, but I think @phet-steele should definitely take a look.

[2017-08-09 07:42] kathy-phet commented on #273
I think that was just to help the alignment with electrons originally. I think we could alter the graphic now.

Kathy

Sent from my iPhone

On Aug 8, 2017, at 10:31 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

Rough draft is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.145/circuit-construction-kit-dc_en.html

It seems

[2017-08-09 14:00] arouinfar commented on #273
@samreid the updated path looks nice!

The purpose of the schematic bulb's offset was to maximize the overlap with the lifelike bulb's current path, but now that the schematic bulb has its own current path, perhaps we could revert the offset.

[2017-08-09 14:46] samreid commented on #273
After the commit above:
![image](https://user-images.githubusercontent.com/679486/29127699-10385414-7cdf-11e7-8ae2-fd39312dbbc0.png)

Dev version is here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.148/circuit-construction-kit-dc_en.html

@arouinfar can you please review?

[2017-08-09 14:57] arouinfar commented on #273
Looks great @samreid!

[2017-08-09 14:57] #273 closed

[2017-08-09 16:27] phet-steele commented on #254
Also is working for me, thanks @samreid.

[2017-08-09 16:27] #254 closed

[2017-08-16 17:41] phet-steele opened #393 "Assertion failed: beyond the end of the wire"
To reproduce on master:

1. Make sure the sim bounds don't go to the edge of your screen. We need to be able to drag our mouse beyond the bounds of the sim. Just open the chrome dev tools to push the sim bounds inward, if you want.
2. Take the voltmeter probes and place each probe as close to the edge as each can go. My setup with dev tools on the right:

<img width="599" alt="screen shot 2017-08-

[2017-08-16 17:50] phet-steele commented on #393
@samreid, this was master before 9859b5aa62d801db9cbff096b304a74b4ee5a678, will pull and try again.

[2017-08-16 17:56] phet-steele commented on #393
Cannot reproduce after the above commit. Hooray for preemptive fixes!

[2017-08-16 17:56] #393 closed

[2017-08-18 16:08] samreid opened #513 "Instrument for PhET-iO"
At yesterday's status meeting, @kathy-phet said it would be good to instrument CCK-DC for PhET-iO.  There is some residual instrumentation from Black Box Study, but much remains to be done.  She also recommended not to start on this until 1.0.0 is in a safe branch (so after code review and QA complete).

[2017-08-18 18:01] jonathanolson commented on #317
Reminder to add the checklist to the top comment.

[2017-08-20 23:32] samreid commented on #317
Copied top comment so the top comment can become the checklist:

We are hoping to publish this simulation by the end of July, so we should get ready to schedule the code review.  Choosing a code reviewer now could also help me when I run into technical issues if I need to consult with someone (even if that is before the code review).  Here's my estimate at a timeline as it pertains to the code rev

[2017-08-20 23:36] samreid commented on #317
I moved the checklist to the top comment so its summary will show in the issue overview.

@jonathanolson this sim is ready for review.

[2017-08-23 05:24] samreid commented on #317
At one point we were thinking of highlighting the toolbox when something can be dropped into it, but it was odd that the toolbox highlighted right when a circuit element was dropped out, so we abandoned that idea.  I'll remove it.

[2017-08-25 04:43] samreid commented on #317
The preceding commit would be a good one for @jonathanolson to look at more closely.

[2017-08-25 04:53] samreid opened #394 "Should vertices be accessed as an array?"
From a review comment in https://github.com/phetsims/circuit-construction-kit-common/issues/317

[code]

[2017-08-25 04:59] samreid commented on #394
I saw a handful of other places in the code using a pattern like the one above.  Let's see what it could look like with an array:

[code]

I am leaning toward the latter as being slightly more readable and maintainable (though it has the disadvantage that it is possible to forget one of the two).

@jonathanolson what do you think?

[2017-08-25 05:04] samreid commented on #317
The preceding commit wasn't addressed in exactly the prescribed way, would be good for you to check it @jonathanolson.

[2017-08-25 05:07] samreid commented on #317
The preceding commit moved review comments to PhET-iO TODOs, is that OK?

[2017-08-25 05:10] samreid opened #395 "Change dirty => needsUpdate?"
From the code review in #317

[code]

I can see plenty of `needsUpdate` in three.js, can you point to examples in PhET code?  Specifically, are you recommending renaming this to `chargeLayoutNeedsUpdate`?

[2017-08-25 05:26] samreid commented on #317
The preceding commit would also be good to review, since I use a `get` method instead of `getStartPositionProperty()` method.

[2017-08-25 05:28] samreid commented on #317
I'm hoping that @jonathanolson can review pretty much all of my commits that attempt to address review comments.

[2017-08-25 05:38] samreid commented on #317
@jonathanolson I'm using `REVIEW*` to indicate the ball is in my court for a thread and `REVIEW^` for threads that are ready for you.

[2017-08-25 05:53] samreid commented on #317
In the preceding commit, I switched Vertex constructor to take Vector2, but after seeing the many call sites, I was no longer convinced that was best.  @jonathanolson can you please review the preceding commit and make a recommendation?

[2017-08-25 06:53] samreid commented on #317
The REVIEW comment addressed in the preceding commit said `For memory/performance purposes, it looks like this should be a method instead of creating a function` but the proposed solution still creates a function using `bind`, is that what was intended?

[2017-08-25 16:09] samreid commented on #395
We discussed this, closing.

[2017-08-25 16:09] #395 closed

[2017-08-25 16:10] samreid commented on #394
We discussed this, closing.

[2017-08-25 16:10] #394 closed

[2017-08-29 02:49] jonathanolson commented on #317
New code:
[code]

Presumably there's a good phetio-way of deserializing Vector2s so we don't have to do this ourself?

[code]
could become:
[code]

If the objection is that lots of manual x-y pairs are included, either:

1. Have a factory method `Vertex.createXY( x, y )`
2. Allow a constructor `new Vertex( x, y )` if x is a number (polymorphic directly)
3. Revert, but internally in Vertex create O

[2017-08-29 02:51] jonathanolson commented on #317
Yes, bind looks better for memory (see https://github.com/phetsims/scenery/issues/664), and it should just create a reference to a function (cheaper than a function object presumably).

[2017-08-29 02:52] jonathanolson commented on #317
@samreid I've reviewed all of your commits above that you explicitly commented that I should review. Let me know if I should review all of the others. (I'd prefer to trust your judgment and not review).

[2017-08-29 02:52] samreid commented on #317
Sounds good, I tried to call out the iffy ones.

[2017-08-29 03:11] samreid commented on #317
I simplified 2 Vertex Vector call sites above.  Regarding:

I'll leave this line as-is for now, since we may need a non-phet-io way to serialize for the CCK PhET app.

[2017-08-29 05:05] samreid commented on #317
@jonathanolson can you please review the preceding commit?

[2017-08-29 19:59] samreid commented on #316
From @jonathanolson review:

My understanding is that English seems to be one of the most common languages for PhET launches at the moment, and it personally bothers me to see any software with bad plurals (like 1 ohms or 1 volts).  This could also be confusing to students who are seeing the word "ohm" for the first time.  So my recommendation is to fix this for English and defer fixing other lang

[2017-08-29 20:43] jonathanolson commented on #316
@pixelzoom also has a lot of i18n experience, I'd like his opinion too.

[2017-08-29 20:59] pixelzoom commented on #316
More annoying than "bad plurals" is software that trys the solve the problem and creates other problems. Like the way the value field in the Battery Resistance control resizes for "1 ohms".  And the way it's now inconsistent with the resistance control on the first screen, which still shows "1.0 ohms".  That said...

I don't have a problem with "1 ohms".   If it really bothers you, avoid the issue

[2017-08-29 21:04] pixelzoom commented on #316
Here's more information on the can of worms that your opening here: https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localization_and_Plurals

Even '0' may treated differently depending on locale.  So while '0 ohms' is what you'd prefer for English, it's not what's appropriate for the French user.

[2017-08-29 21:12] arouinfar commented on #316
I tried finding examples of spelled-out units in sims to see how singular/plural was handled, and couldn't find an example of a string that changed with the value.

When most values are > 1, the string is always plural, as with the Force slider in FAMB or Rate spinners in Unit Rates.
![image](https://user-images.githubusercontent.com/8419308/29843364-f612e776-8cc8-11e7-877b-c8dfc8e1011f.png) ![ima

[2017-08-29 21:14] ariel-phet commented on #316
@samreid strongly agree with @arouinfar

1. Battery resistance is an advanced concept, no need to speed it out
2. We use the ohm symbol in the sim already
3. avoids plurals
4. in many readouts (like projectile motion) we use the abbreviations

Lets just use the symbol `Ω`

[2017-08-29 21:36] kathy-phet commented on #316
I agree with just using the abbreviation in the battery resistance if it bothers people. But it is a trade off with consistency of controls in the first screen.

I do want to keep ohms spelled out on the first screen ... e.g. on the bulb control. I think for that control just using "ohms" and not worrying about the special case of 1.0 is fine .... doesn't bother me.

![image](https://user-images.g

[2017-08-29 22:57] samreid commented on #316
I agree, I'd only want to solve this problem in a consistent way and without creating worse problems.

Do you mean that you don't think it's a pedagogical problem for students learning how to use the term "ohms" properly?

What if one of the learning goals is to learn how to pronounce Ω?  Also, can we use this same strategy for "1 volts", so it would become "1 V"?  But what if we want students to

[2017-08-29 23:07] ariel-phet commented on #316
@samreid @kathy-phet frankly in this sim I would go for all symbols for those quantities, that is my personal opinion. Especially for something like for the resistance of an object we label the slider "Resistance"

To me it is not a learning goal in general of most sims to teach vocabulary, but concepts. The key thing is that the student can change the resistance slider and see how resistance chan

[2017-08-29 23:08] ariel-phet commented on #316
And...I would point out we often refer to a "9 volt battery" we don't say a "9 volts battery"

So yet another strange case....

[2017-08-29 23:29] kathy-phet commented on #316
While we do label voltage and current. It's the only place we use the term ohms.

I personally think it makes it a more flexible sim to use the term, and we know it is used with much younger grades.

I don't have any issue with using the symbol in the battery resistance control which looks a bit different anyways.
K

Sent from my iPhone

On Aug 29, 2017, at 5:07 PM, Ariel Paul <notifications@githu

[2017-08-30 03:37] samreid commented on #316
It was unclear if we had a consensus.  In the preceding commit, I removed the switching between "ohm" and "ohms" in the battery internal resistance slider--now it always says "ohms".  I started with this to keep consistency between this resistance and the play area resistances like so:

![image](https://user-images.githubusercontent.com/679486/29854135-40cd076e-8d01-11e7-8116-f3a36805c697.png)

So

[2017-08-30 03:40] samreid commented on #316
I decided to proceed with (2) from the preceding comment, now it looks like so:
![image](https://user-images.githubusercontent.com/679486/29854337-8829aa26-8d02-11e7-9fd6-47dee800794a.png)

I know this doesn't answer the general case in other sims where we may omit the ".0" but it seems reasonable for this sim.  I'm flexible if changes are desired, I just wanted to jot down my "best guess" for now

[2017-08-30 04:11] kathy-phet commented on #316
I like this solution. @arouinfar @ariel-phet ?

[2017-08-30 04:23] samreid commented on #317
@jonathanolson can you please review the preceding commit?

[2017-08-30 04:55] ariel-phet commented on #316
That works for me as we would probably say "one point zero ohms"

[2017-08-30 05:42] samreid commented on #317
@jonathanolson can you please review the preceding commit?

[2017-08-30 06:06] samreid commented on #317
@jonathanolson can you please review the preceding commit?

[2017-08-30 13:49] arouinfar commented on #316
Works for me too @samreid! I think you'll need to widen the Battery Resistance readout a bit so it doesn't resize at 10.0 ohms, but otherwise looks good.

[2017-08-30 15:30] samreid opened #396 "Widen the Battery Resistance readout a bit so it doesn't resize at 10.0 ohms"
From #316 @arouinfar said:

[2017-08-30 15:31] samreid commented on #316
Thanks, I'll address the widening issue in #396

[2017-08-30 15:31] #316 closed

[2017-08-30 17:18] samreid commented on #317
It took a number of commits to get there, but I converted from the many filters to one filter (with a supplemental filter for black box study).  @jonathanolson can you please review Circuit.getDropTarget and let me know what you recommend?

[2017-08-30 17:51] samreid commented on #317
Likewise, I switched to an array-based reference ID (no longer sorted), @jonathanolson can you check it out?

[2017-09-01 04:54] samreid opened #397 "Light bulb rays got off center"
![image](https://user-images.githubusercontent.com/679486/29955766-5dd2a19e-8e9f-11e7-8e6b-6678fc506004.png)

[2017-09-01 16:03] samreid commented on #396
I prevented the text panel from resizing, but now it is no longer right-justified.  I created a new sun issue to look into that.

[2017-09-01 16:05] samreid commented on #396
As a hack/workaround, I could use a Rectangle instead of Panel, to get this sim out the door.

[2017-09-01 17:12] samreid commented on #396
Fixed, closing.

[2017-09-01 17:12] #396 closed

[2017-09-01 17:32] samreid commented on #397
Fixed in 6740f55f84041a2ff23c90388ad5e4ec7c0c86f6

[2017-09-01 17:32] #397 closed

[2017-09-02 19:33] samreid commented on #317
In the preceding commit, I changed CircuitElementToolbox so that clients specify the carousel items, it would be good for @jonathanolson to take a look and make further recommendations.

[2017-09-02 19:33] samreid commented on #317
@jonathanolson I finished all of the `REVIEW*` items, so the ball is back in your court.

[2017-09-04 17:22] samreid opened #398 "Pointer area is wrong for SeriesAmmeter"
![image](https://user-images.githubusercontent.com/679486/30035056-441b94e2-9163-11e7-82ff-d9dfc159c412.png)

[2017-09-04 17:26] samreid commented on #398
Fixed above, would be good to discuss with @jonathanolson why this fix is necessary.

[2017-09-05 17:53] samreid commented on #317
@jonathanolson I finished all of the `REVIEW*` items, so the ball is back in your court.

[2017-09-05 20:30] jonathanolson opened #399 "maxWidth needed on Battery's edit node"
![cck-area-1](https://user-images.githubusercontent.com/480878/30082086-c78eebb0-9246-11e7-8789-faf9181ad67f.PNG)

Overlaps with stringTest=long (more problematic with custom stringTest above).

[2017-09-05 20:37] jonathanolson commented on #317
Keys are 'intro' and 'lab' right now, will need prefixes.

[2017-09-05 20:47] jonathanolson commented on #399
See https://github.com/phetsims/circuit-construction-kit-common/issues/317

[2017-09-05 20:48] jonathanolson opened #400 "CCK common/dc include TWEEN dependency"
Is this vestigial (it looks so)?

https://github.com/phetsims/circuit-construction-kit-common/issues/317

[2017-09-05 22:03] samreid opened #401 "Multitouch issues"
@jonathanolson identified some multitouch issues, we should document them here then I'll try to address them.

[2017-09-05 22:10] jonathanolson commented on #401
It looks like it should be possible to drag a vertex with multiple fingers, by basically dragging the vertex itself with one finger, and dragging connected components with other fingers.

Another example would be dragging two adjacent wires.

Ideally we'd have a lock on the vertex-level, that would prevent a vertex already being dragged from starting another drag.

[2017-09-05 22:38] jonathanolson commented on #401
That's the only major thing I'd recommend handling.

See https://github.com/phetsims/circuit-construction-kit-common/issues/317

[2017-09-05 22:39] jonathanolson commented on #317
Code review (pending any existing REVIEW notes and issues) is complete.

Looks great!

[2017-09-05 23:04] samreid commented on #400
I tried removing it, but it appears to be used by SUN/Carousel.

[2017-09-06 01:05] samreid commented on #317
REVIEW comments and issue comments have been addressed, and remaining work is identified in open issues, closing.

[2017-09-06 01:05] #317 closed

[2017-09-06 15:41] samreid commented on #399
Fixed, @jonathanolson can you please review?

[2017-09-06 15:46] samreid commented on #401
I confirmed that I see flickering when trying to drag the same vertex by the vertex node + by an adjacent circuit element node.

[2017-09-06 18:12] jonathanolson commented on #399
Looks good, thanks!

[2017-09-06 18:12] #399 closed

[2017-09-06 19:37] samreid commented on #401
Given the existing implementation of CircuitLayerNode.dragVertex, it seems insufficient to track which vertices are already being dragged since we need to know whether to allow each start/drag/end event--instead we must track which pointer is dragging them and allow events to be processed if the pointer is the one that started the drag.  I'll commit something for review shortly.

[2017-09-06 20:02] samreid opened #402 "Multitouch issue: when pressing + holding on a CircuitElement then tapping reset all, it shows the edit panel"
Multitouch issue: when pressing + holding on a CircuitElement then tapping reset all, it shows the edit panel

Discovered while working on https://github.com/phetsims/circuit-construction-kit-common/issues/401

[2017-09-06 20:06] samreid commented on #401
Committed above, @jonathanolson and I are discussing on Slack, but I'll reassign to @jonathanolson in case we proceed with this strategy.

[2017-09-06 20:13] samreid commented on #402
Fixed, closing.

[2017-09-06 20:13] #402 closed

[2017-09-06 20:14] samreid opened #403 "branch: vertex.dragging"
See https://github.com/phetsims/circuit-construction-kit-common/issues/401

[2017-09-06 22:53] samreid commented on #401
@jonathanolson can you please review the subsequent fixes (prevents Wire vertices from ending up with bad values for `isDragging`)?

[2017-09-06 22:58] samreid commented on #403
Deleting branch, closing.

[2017-09-06 22:58] #403 closed

[2017-09-06 23:05] jonathanolson commented on #400
Understood, good for now (will probably remove after https://github.com/phetsims/tasks/issues/360), thanks!

[2017-09-06 23:05] #400 closed

[2017-09-06 23:19] jonathanolson commented on #401
I'm not sure how this fixes the problem, or how the problem was caused.

The code looks safe (although somewhat more verbose), so I'm fine either if you want to close the issue or discuss.

[2017-09-06 23:26] jonathanolson commented on #398
It's necessary right now because it keeps a reference.

[2017-09-07 03:04] samreid commented on #398
Sounds good, thanks!

[2017-09-07 03:04] #398 closed

[2017-09-07 03:11] samreid commented on #401
To elaborate on the bug and why it may have caused the symptoms I saw, the implementation in `vertex-test` was like so:

[code]

However, `canDragVertex` was implemented like so:

[code]

Imagine if the Wire startVertex had `canStartDrag` true but the endVertex had `canStartDrag` false.  Then the startVertex would get marked incorrectly as `isDragged=true`, and hence will nevermore be draggable.

[2017-09-07 05:53] jonathanolson commented on #401
Ack, sorry about accidentally putting the isDragged mutator in what was supposed to be an immutable method. Looks good.

[2017-09-07 05:53] #401 closed

[2017-09-08 22:59] lmulhall-phet opened #515 "Voltage text box moves when zoom in/out"
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS Sierra 10.12.6

**Browser:**

Safari 10.1.2

**Problem description:**

While testing the CCK DC, I noticed that the text box for the voltage on a battery can move when one zooms in if the circuit is large, the battery has been flipped upside down and is on fire. This is for phetsims/QA/issues/48.

**Steps to reproduc

[2017-09-12 21:52] samreid commented on #151
Save & Load will need to be screen-specific: some circuit elements are only available on screen 2.

[2017-09-13 21:28] phet-steele commented on #161
@samreid what about text + light rays? dev.160 still has rays that go over the animation speed text while https://github.com/phetsims/circuit-construction-kit-common/issues/161#issuecomment-235824650 suggested rays should go behind the text. I don't see comments in this issue saying otherwise, so is there more work to be done?

[2017-09-13 22:09] samreid commented on #161
If I put the "speed throttled" message in the CircuitLayerNode, I can layer it between the light bulb rays and the rest of the circuit, but then it becomes difficult to position correctly and its scale/position will change when zooming in and out.

The two straightforward solutions are (a) put the speed throttled message behind the entire CircuitLayerNode (including circuit elements and light rays

[2017-09-13 22:52] ariel-phet commented on #161
@samreid it seems for consistency probably best to behave like the "Tap circuit element to edit." text

So I would think (b) is the best option, especially since this message disappears when the battery is no longer on fire.

[2017-09-13 22:54] arouinfar commented on #161
Good catch @phet-steele. It's possible that the layering was restructured after this issue was closed, and things got reshuffled a bit.

@samreid I'd be fine with either (a) or (b), but as @ariel-phet pointed out, (b) would be more consistent with the other text in the play area, so let's go with that.

[2017-09-14 01:42] samreid commented on #161
I moved the speed throttling text in front of the CircuitLayerNode, it looks like this now:

![image](https://user-images.githubusercontent.com/679486/30408392-b2e81f4e-98bb-11e7-8132-50da3a25dd66.png)

@arouinfar @phet-steele or @ariel-phet can you please review on phettest?

[2017-09-14 16:44] arouinfar commented on #161
Looks good to me @samreid!

[2017-09-14 16:44] arouinfar commented on #161
@phet-steele and @lmulhall-phet would also like to review, so leaving it open for them.

[2017-09-14 17:12] lmulhall-phet commented on #161
Looks good! 👍

[2017-09-14 17:12] #161 closed

[2017-09-18 19:11] pixelzoom opened #404 "filename prefixes don't follow PhET conventions"
This issue applied to both circuit-construction-kit-common and circuit-construction-kit-black-box-study.

The convention for filename prefixes is to use either the full name of the repository, or the abbreviated acronym for the repository.  E.g for expression-exchange, we would have either ExpressionExchangeConstants.js or EEConstants.js.   The choice is up to the developer, should be applied cons

[2017-09-19 00:57] samreid commented on #404
Fixed in the preceding commits.  @pixelzoom or @jonathanolson do you want to review?

[2017-09-19 01:09] jonathanolson commented on #404
I didn't flag this in my code review, as it's something I've also done. I'd prefer @pixelzoom reviews due to that.

[2017-09-19 19:30] pixelzoom commented on #404
Looks good.

@samreid To clarify... Is `BlackBoxQueryParameters` query parameters that are specific to a screen named "Black Box"?  Or are they specific to a sim?  I've never seen *QueryParameters.js file that is screen-specific. (I tried to run circuit-construction-kit-black-box-study_en.html, but it fails at startup.)

[2017-09-19 19:37] samreid commented on #404
I will rename BlackBox*.js to CCKBBS*.js in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/61.

They are for the "Circuit Construction Kit: Black Box Study" sim, which was nicknamed as Black Box for some of the filenames, which will be fixed in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/61.

[2017-09-19 19:53] #404 closed

[2017-09-27 18:54] phet-steele commented on #281
@samreid @ariel-phet @arouinfar, please examine the below flowchart for different scenarios, stemming from the same setup:
![untitled-2-01](https://user-images.githubusercontent.com/5863899/30930548-3f71a9ee-a37f-11e7-9356-e77f8c5e1e72.png)

Follow the red arrows in the first row of 3 to drag one vertex onto another. Cells with red outlines show the bunching; green outlines show no problems.

I th

[2017-09-27 19:02] samreid commented on #281
@ariel-phet can you please evaluate and prioritize?

[2017-09-28 01:09] ariel-phet commented on #281
@samreid is it possible to keep wires above a certain minimum length? So for instance if you have a wire horizontal and you pull the left vertex to the right, the wire shrinks to a certain minimum length, and if you continue to pull to the right, the vertex "pops" over to the right at the minimum length? These near zero length wires seem to be problematic, and they are not pedagogically useful.

[2017-09-28 01:46] samreid commented on #281
I was unable to reproduce the red box identified for electrons (on the right hand side), can I get more instruction about how to set that up?

I identified and fixed an asymmetry in ChargeAnimator that chooses which circuit elements a charge can flow to, in my testing it seems like it addresses the "conventional current" errors.

@phet-steele can you please (a) test the above fix in master and (b)

[2017-09-28 16:30] ariel-phet commented on #281
Roger @samreid will wait to see QA results

[2017-09-28 16:41] arouinfar commented on #281
@samreid I'm also unable to reproduce the right-most electron case in dev.162, but I did observe electron bunching with @phet-steele yesterday when building a circuit like this. The zero-length wire is selected.

<img width="176" alt="screen shot 2017-09-28 at 10 40 54 am" src="https://user-images.githubusercontent.com/8419308/30979017-87978616-a439-11e7-8858-304cfcd1e311.png">

[2017-09-28 16:58] lmulhall-phet commented on #281
@samreid also unable to reproduce the issue @arouinfar was talking about.

[2017-09-28 17:00] samreid commented on #281
I found out that it is current-dependent--a higher current can reach this bug sooner. I'll look into it.

[2017-09-28 17:02] phet-steele commented on #281
Woops! I totally had this drawn wrong (tisk tisk). The middle path is correct, but the first step in the two side paths are bad. What you are supposed to do in the left example is drag the top right vertex down to the battery's right vertex. Mirror this for the right path while taking the top left vertex and dragging it down to the battery's left vertex. 😠 😠

Anyway, tried master after the above c

[2017-09-28 17:12] samreid commented on #281
Another bug fixed in the preceding commit, @arouinfar @phet-steele @lmulhall-phet can you take it for a test drive?

[2017-09-28 17:26] lmulhall-phet commented on #281
Here's scenario 1 (top right to battery right)...

![sep-28-2017 11-21-44](https://user-images.githubusercontent.com/31285590/30980799-83959232-a43f-11e7-8148-82a9e8541d0d.gif)

Here's scenario 2 (top left to battery left)...

![sep-28-2017 11-22-12](https://user-images.githubusercontent.com/31285590/30980838-a1bab42c-a43f-11e7-82da-d0b32ffd8c1f.gif)

URL: http://www.colorado.edu/physics/phet/dev/

[2017-09-28 17:30] lmulhall-phet commented on #281
I'm fairly certain that weird gap is due to the gif app, but I'm trying to reproduce it to make sure it's not the sim doing that.

[2017-09-28 17:31] arouinfar commented on #281
Thanks @lmulhall-phet! I tried reproducing in master, but couldn't, and then noticed your link was for dev.66 which is pretty outdated.

[2017-09-28 17:31] samreid commented on #281
@lmulhall-phet can you test master on phettest, or should I publish a new dev version?

[2017-09-28 17:32] arouinfar commented on #281
After playing around ~10 minutes, I couldn't reproduce the bunching in master, but I think this one's best left for @phet-steele to verify once he's feeling better.

[2017-09-28 17:35] lmulhall-phet commented on #281
Yeah, it doesn't seem to be working in master.

[2017-09-28 17:36] samreid commented on #281
Can you clarify "it" from previous sentence?  Also @lmulhall-phet are you on slack?

[2017-09-28 17:46] lmulhall-phet commented on #281
@samreid I can't reproduce it in master for either electrons or conventional. Not on Slack; need invitation from workspace admin.

"it"=the weird gap phenomenon
Of course, I made the gifs in dev.66, and I can't reproduce the weird gap thing. It's almost certainly the gif app.

[2017-10-02 16:58] phet-steele opened #405 "Zero-length wires break charge animation"
Subtlely different than #281 since we are dealing with actual zero-length wires (not "near" zero-length wires). You can create these by:

1. Make a circuit with at least 3 consecutive wires. The specifics of the circuit other than this probably don't matter.
2. Enable electrons, can't get this to happen with conventional arrows yet.
3. With your 3 consecutive wires, take one of the middle vertices

[2017-10-02 17:21] phet-steele opened #406 "Cannot read property 'emit' of undefined"
Delete (trash can button) anything that is NOT a battery (both versions), lightbulb (both versions), resistor (both versions), or switch.

[code]

[2017-10-02 17:24] phet-steele commented on #406
@samreid, hold up....this is common code that maybe has already been handled in sun?

[2017-10-02 17:29] phet-steele commented on #406
@samreid, did commit https://github.com/phetsims/sun/commit/f43c629074d2e2df58723684dd01b80f6d4dbace fix this issue in ESPB?

[2017-10-02 17:35] phet-steele commented on #406
Looks like it! Or at least something did.

[2017-10-02 17:35] #406 closed

[2017-10-02 17:58] phet-steele commented on #281
@samreid, I've been checking master with the change in https://github.com/phetsims/circuit-construction-kit-common/issues/281#issuecomment-332902739 for a bit now and here are my results:

No bunching!!!

BUT....looks like your changes have an interesting consequence, so maybe we need another solution?

Conventional arrows (but not electrons?) have this painfully obvious "disappear and reappear" e

[2017-10-02 18:16] BryceAG commented on #405
I found a couple of things to add to this issue. First, the charge animation is not the only part that is broken, it is the entire display. The sim is still interactive but appears frozen. In the gif below I reproduce the broken circuit, but then move a battery onto the screen, maximize the display, and switch to conventional current. The display only updates after switching to conventional, but t

[2017-10-02 20:23] phet-steele opened #407 "Probes do not update value when components are pushed away from them"
1. Set up a short with two wires and a battery (this isn't the only possible setup, but I had to tell you to set _something_ up!)
2. Drag the wire connection out so you've made a triangle shape with decently long side lengths, like this:
<img width="313" alt="screen shot 2017-10-02 at 2 11 24 pm" src="https://user-images.githubusercontent.com/5863899/31097217-c7b6ceb0-a77b-11e7-8dd8-eda5397a9fa7.p

[2017-10-02 22:34] samreid commented on #407
Cut calls Circuit.solve which calls circuitChangedEmitter.emit, which updates the values in the node.  But perhaps something is out of sync?  AmmeterNode uses Node.hitTest which I thought would be synchronous, but perhaps we have to wait for a display.update?

[2017-10-02 23:05] samreid commented on #407
Good one @phet-steele, can you please test the fix committed above?

[2017-10-02 23:07] samreid commented on #281
It looks like the top left arrow is coming out at the bottom left vertex?

[2017-10-03 03:18] samreid commented on #405
Proposed fix committed above.  @phet-steele and @BryceAG can you take a look?

[2017-10-03 03:28] samreid commented on #281
I reverted the buggy commit above and in testing it appears that the fix for https://github.com/phetsims/circuit-construction-kit-common/issues/405 also fixed this problem.  It is essentially what @ariel-phet proposed in https://github.com/phetsims/circuit-construction-kit-common/issues/281#issuecomment-332698274

@phet-steele and @lmulhall-phet can you please test?

[2017-10-03 16:38] phet-steele commented on #405
Nice hollywooding, the assertion is fixed for me. However, I still cannot connect components to vertices 61 & 68 (in my original gif).

[2017-10-03 16:41] samreid commented on #407
Dev version is available here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.163/circuit-construction-kit-dc_en.html

[2017-10-03 16:42] samreid commented on #405
Interesting, thanks!  I'll look into it.

[2017-10-03 16:43] samreid commented on #281
Dev version is published here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.163/circuit-construction-kit-dc_en.html

[2017-10-03 16:47] phet-steele commented on #281
I almost closed this since I don't see bunching with the fix in https://github.com/phetsims/circuit-construction-kit-common/commit/55bcdd972e2d460ae05cbd48fb307333b876faf3...but then I tried the original setup in https://github.com/phetsims/circuit-construction-kit-common/issues/281#issuecomment-303832476 and we still have bunching. Is the lightbulb the culprit? Will take some investigating.

<img

[2017-10-03 16:48] samreid commented on #281
I reproduced the problem and am looking into it.

[2017-10-03 16:52] phet-steele commented on #407
Cool fix, thanks @samreid.

[2017-10-03 16:52] #407 closed

[2017-10-03 17:04] samreid commented on #281
I tried changing the minimum `chargePathLength` of wires from 1E-6 to 10 and that seemed to address the problem in this case (lower than 10 still buggy), but I'm concerned that it may cause buggy behavior elsewhere.  It seems the more robust solution to this problem would be to follow a circuit path for more than one element in order to judge the density of that path.  This is a nontrivial change

[2017-10-03 17:32] samreid commented on #281
Maybe a solution that is not too complex would be traverse "one way streets" (circuit elements that can only go to one other circuit element to determine the density of that path.

[2017-10-03 17:35] phet-steele commented on #281
@ariel-phet @samreid just wanted to say for the record, the lightbulb is not the issue. It may be that this occurs when pairing a short circuit & resistor in this orientation. Just two examples:

<img width="819" alt="screen shot 2017-10-03 at 11 33 30 am" src="https://user-images.githubusercontent.com/5863899/31139477-edc9bd84-a82e-11e7-9eb6-e1d6c3963b7b.png">
<img width="794" alt="screen shot 20

[2017-10-03 20:28] phet-steele commented on #405
@samreid, trying to cut the zero-length connection throws:

[code]

[2017-10-03 21:49] samreid commented on #405
Proposed fix committed above, @phet-steele can you take a look on phettest?

[2017-10-03 22:15] phet-steele commented on #405
You fixed the assertion in https://github.com/phetsims/circuit-construction-kit-common/issues/405#issuecomment-333968178, but of course we still have https://github.com/phetsims/circuit-construction-kit-common/issues/405#issuecomment-333904472, so back to you @samreid!

[2017-10-04 02:17] samreid commented on #281
If a short wire goes to a junction, the one-way-street strategy won't work at all.  Maybe we need to estimate the density using the distance to the furthest-away outgoing electron (considering all possible routes).

[2017-10-04 16:11] phet-steele opened #408 "Electron lines"
@samreid @jonathanolson CCK is also suffering from electron lines on my computer (see https://github.com/phetsims/circuit-construction-kit-common/issues/281#issuecomment-333920759)

<img width="819" alt="screen shot 2017-10-03 at 11 33 30 am" src="https://user-images.githubusercontent.com/5863899/31196265-4fecbd50-a90a-11e7-96f0-f17f5c00dfdc.png">
<img width="794" alt="screen shot 2017-10-03 at 11

[2017-10-04 16:13] samreid commented on #408
@ariel-phet can you help prioritize with respect to CCK 1.0?

[2017-10-04 19:43] ariel-phet commented on #408
@samreid sounds like @phet-steele is the only one who has seen this issue, and it is pretty minor, deferred for now. Definitely not part of 1.0 work.

[2017-10-04 19:56] ariel-phet commented on #281
@samreid this bug is tough to reproduce, I can do it, but it requires effort and a near zero wire length. These are just not pedagogically useful actions, and I think seeing this bug will be rare.

I am going to leave open but currently mark as "won't fix", since we need to move 1.0 towards publication, and I think the bug has been addressed in most use cases.

[2017-10-04 19:58] ariel-phet commented on #281
If we are getting reports "from the world" of nasty behavior, or if we see a "normal" use case where this behavior is a problem, we will raise the priority.

[2017-10-04 21:25] samreid commented on #281
Before hearing from @ariel-phet I was investigating what strategy might address this problem.  I'll describe my proposed solution then paste my working copy here in case we pursue it in the future.

The problem comes from determining which circuit element an electron should choose to follow.  The old algorithm chose the circuit element with the lowest electron density (number electrons per length)

[2017-10-04 22:30] samreid commented on #405
Here is the rule that prevents connection in this circumstance:

[code]

Basically, it thinks that the opposite vertex already has a proposed connection (snapping behavior) because it sees an unattached vertex with the exact same coordinates.  I don't remember why we added this rule.  We could maybe refine it by checking that the `v` vertex has `isDragged` true?

[2017-10-04 23:00] samreid commented on #405
I added the `isDragged` check and confirmed that the corner issue can connect and tested on iPad2 you still cannot connect when another connection is proposed, committing.

[2017-10-04 23:03] samreid commented on #405
Proposed fix pushed above, @phet-steele can you please test it out on phettest?

[2017-10-05 01:21] ariel-phet commented on #281
@samreid my fear currently is that such an algorithm will be computationally expensive. and will require plenty more QA to determine if some other funny bugs have cropped up as a result. Given the popularity of CCK, I think we need to press forward at the moment. This is a sim that there is no question we will be revisiting (adding some components that are user requests, the App, the AC version) e

[2017-10-05 03:09] samreid commented on #281
The density-based approach gets a list of all charges in a CircuitElement and in the extreme case checks all neighbors for their density as well.

The "furthest-away closest electron" approach gets a list of all charges in a CircuitElement then takes the one closest to the vertex.  This is not in a performance bottleneck and most likely to be in the noise. Additional work to check neighbor circuit

[2017-10-05 16:11] phet-steele commented on #281
If there are going to be bugs, now is the best time to implement! There are enough other things in CCK going on that another bug wouldn't disrupt much. Certainly we would want to do this before we move to rc, and that time is now!

[2017-10-05 17:33] samreid commented on #281
We want to try bumping vertices away in each frame.  Check if performance is OK.

[2017-10-05 19:12] phet-steele commented on #405
@samreid does the above commit cause this error when I press a battery's flip button?

[code]

[2017-10-06 01:28] samreid commented on #405
That is a new issue from axon's merge, I'll create a new issue.

[2017-10-06 01:29] samreid opened #409 "Battery flip tries to add the same listener twice"
From https://github.com/phetsims/circuit-construction-kit-common/issues/405#issuecomment-334563879

@samreid does the above commit cause this error when I press a battery's flip button?

[code]

[2017-10-06 01:30] samreid commented on #405
@phet-steele I created a new issue for the listener problem, anything else for this issue?

[2017-10-06 04:25] phet-steele commented on #405
I think we are fixed here, thanks @samreid.

[2017-10-06 04:25] #405 closed

[2017-10-06 16:50] samreid commented on #281
I pushed a change that checks for short wires each frame and extends them (if any).  It doesn't track which vertex is the last dropped vertex, it just arbitrarily chooses the "start" vertex.  @phet-steele can you test it on phettest?

[2017-10-06 17:08] phet-steele commented on #281
Not good, for the reason I was trying to communicate yesterday.

If you create a circuit composed entirely of fixed-length components (and one wire) and arrange them in such a way where the wire is forced to be short....you can't push that wire to make it longer. Instead, the circuit scoots of the screen:
![cckdc21](https://user-images.githubusercontent.com/5863899/31289614-8fb5a816-aa86-11e7-85e8

[2017-10-06 17:48] samreid commented on #281
Also asked on slack:

@ariel-phet:

Steele pointed out why the “translate vertex from short wires” or “connect nearby vertices of short wires” won’t work for `https://github.com/phetsims/circuit-construction-kit-common/issues/281` and recommended we try out the “send the electron to the circuit element with the furthest away electron” strategy.  What do you think?

[2017-10-06 21:00] samreid commented on #409
Proposed fix committed above, @phet-steele can you verify?

[2017-10-06 21:55] phet-steele commented on #409
Bueno.

[2017-10-06 22:07] phet-steele commented on #409
No Beuno. Deleteing the battery or resetting will throw:

[code]

[2017-10-06 22:15] ariel-phet commented on #281
@samreid what @phet-steele is showing strikes me as a solvable issue. It seems there is an order of operations problem - that a connection is happening with a short wire. If the lengthening of the wire always preceded making a connection, I don't see how this "scooting" bug would appear. Can we try adding some logic in that spirit (if straightforward) before trying your other logic. I continue to

[2017-10-06 22:59] samreid commented on #281
I think I could add a rule that prevents connections if it would make a short wire, i’ll take a look, thanks.

[2017-10-07 13:17] samreid commented on #409
Proposed fix is above and passing fuzzing, @phet-steele can you please verify?

[2017-10-07 20:40] samreid commented on #281
I don't see how to "lengthen the wire" before making the connection in this case: https://github.com/phetsims/circuit-construction-kit-common/issues/281#issuecomment-334814581

That's why I instead proposed trying to prevent connections that would make a short wire.  That new rule would probably need to be used in conjunction with https://github.com/phetsims/circuit-construction-kit-common/commit/

[2017-10-09 15:34] samreid commented on #281
One way to lengthen short wires instead of using the pre-existing "translate vertex" implementation, would involve rotating circuit elements. While it would work for cases like https://github.com/phetsims/circuit-construction-kit-common/issues/281#issuecomment-334814581 other cases may have constraints that prevent it (other fixed length circuit elements that cannot be rotated due to other connect

[2017-10-09 16:17] samreid commented on #281
@ariel-phet and I tried a new approach that cuts short wires at the end of each frame.  It seemed promising in our limited testing and we want to see what @phet-steele can do with it.  I'll commit shortly.

[2017-10-09 16:21] samreid commented on #281
OK committed, @phet-steele can you take it for a test drive on phettest?  Particularly looking for any corner cases where this does something buggy?

[2017-10-09 17:07] lmulhall-phet commented on #281
@samreid Thus far, it doesn't seem like anything buggy happens when the short wires are cut in the corners, but I'll keep looking...

Thus far, I've tested simple circuits (1 battery) with 3 vertices and 4 vertices.

[2017-10-09 23:30] arouinfar commented on #281
@samreid from what I can tell, the behavior isn't buggy, so nicely done.

That said, I really don't like this solution @samreid @ariel-phet. I find it completely unintuitive, and it's possible to completely lose the short wire or sever connections in a part of the circuit the user isn't interacting with.

Here's what happened the first time I created a zero-length wire. I sandwiched a wire between

[2017-10-09 23:34] arouinfar commented on #281
@phet-steele pointed out that in this case from https://github.com/phetsims/circuit-construction-kit-common/issues/281#issuecomment-335316995, the newly-severed wire is too short.
![image](https://user-images.githubusercontent.com/8419308/31362799-a81c0a92-ad17-11e7-8e0d-bb53866b41c6.png)

Attempting to connect something to the short wire's red vertex (behind the right-most battery) will result in

[2017-10-09 23:50] phet-steele commented on #281
What happens in https://github.com/phetsims/circuit-construction-kit-common/issues/281#issuecomment-335317467 is that the connection is made, then immediately cut (since the wire is too short).

[2017-10-10 01:10] ariel-phet commented on #281
@arouinfar can you close this issue and open a new one, something like "Preventing extremely short wires". Please copy the relevant comments over, since I think we are in agreement that we want to prevent short wires, but have a decent user experience. And it seems that as long as we are preventing short wires the "electrons bunching up" issue is solved.

[2017-10-10 06:27] samreid commented on #281
If short wires hadn't caused electrons to bunch up, it is unlikely they would have bothered us at all.  It is a poor user experience to automatically cut wires.  I also considered an alternative of adding a vertex in the middle of a short wire (and translating it so there are no short segments), that would preserve connectivity but also sounds like a poor user experience.  I think it would be best

[2017-10-10 16:41] phet-steele commented on #409
Okay, probably actually bueno this time.

[2017-10-10 16:41] #409 closed

[2017-10-10 17:17] samreid opened #410 "branch: furthest-electron"
To support https://github.com/phetsims/circuit-construction-kit-common/issues/281

[2017-10-10 17:50] samreid commented on #410
First dev version with this algorithm is here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.164/circuit-construction-kit-dc_en.html

[2017-10-10 17:51] samreid commented on #410
@phet-steele can you please take it for a test drive?  The code that is different in this branch pertains to how electrons decide which circuit element to traverse.

[2017-10-10 18:07] samreid commented on #410
New dev version is here that guards against finding no downstream circuit elements: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.165/circuit-construction-kit-dc_en.html

[2017-10-10 18:37] samreid commented on #410
I merged the branch to master and will continue there.

[2017-10-10 18:37] samreid commented on #410
Branch deleted, let's continue in https://github.com/phetsims/circuit-construction-kit-common/issues/281

[2017-10-10 18:37] #410 closed

[2017-10-10 18:38] samreid commented on #281
I committed an algorithm to master that sends electrons down the path with the furthest away electron.  @phet-steele is taking it for a test drive, the latest dev with this algorithm is:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.165/circuit-construction-kit-dc_en.html

[2017-10-10 21:53] phet-steele commented on #281
The furthest-electron commit is working wonders. I've seen no bunching when using the setups in this issue, and iPad2 performance does not look to have suffered! Woohoo! I guess back to @ariel-phet and @arouinfar for the whole "make an issue about preventing short-wires thing".

[2017-10-11 01:58] ariel-phet commented on #281
This new algorithm does have some oddness.

Set up this simple circuit in dev.165, and you will see some strange behavior (the behavior in dev.163 is not perfect either, but I think we should still be aware of cases like this). Play around with the wire lengths going into the "+" battery junction and you can get overlapping electrons and lots of accelerated "shooting" of current into the battery.

[2017-10-11 02:03] phet-steele commented on #281
@ariel-phet what you are seeing has nothing to do with this change, but I believe you are instead seeing https://github.com/phetsims/circuit-construction-kit-dc/issues/127. Hence why you say you also see it in dev.163.

[2017-10-11 02:08] ariel-phet commented on #281
Closing this for now. Version dev.165 discourages short wires but does not prevent them once connected. That seems to be acceptable for the moment.

[2017-10-11 02:20] ariel-phet opened #411 "Items for Teacher tips"
I am sure there is lots for this one @arouinfar, i will get it started with a few, definitely add on :)

- [ ] Both the electrons and conventional current representations are "cartoon" representations and do not perfectly model the current in the circuit. Their speed and density give an approximate visual but should not be taken literally.
- [ ] Some comment about where the sim tends to have insta

[2017-10-11 04:42] phet-steele commented on #411
@ariel-phet should this belong in the CCKDC repo? Since..this isn't a sim repo? Or did you want this to be some sort of "broad teacher tips" issue for the CCK suite? If it's the prior case, there exists a teacher tips issue for CCKDC here: https://github.com/phetsims/circuit-construction-kit-dc/issues/41

[2017-10-11 05:07] ariel-phet commented on #411
Good call @phet-steele I was just looking at issues in this repo and forgot where I was!

[2017-10-11 05:07] #411 closed

[2017-10-11 16:27] phet-steele commented on #164
Moved to https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/63. We lost some labels, if that's okay.

[2017-10-11 16:27] #164 closed

[2017-10-12 17:18] phet-steele opened #412 "Assertion failed: matrix should be a finite Matrix3"
[code]

[2017-10-12 21:32] phet-steele commented on #412
@samreid, thanks for the diagnostic assertion. Here is a really easy way to encounter it....it's scary easy:

1. Drag out two lightbulbs.
2. Place one north-east of other, and drag it diagonally down to the left so it crosses both vertices of the other lightbulb:

(lightbulb stopped because we hit the assertion)
![cckdc22](https://user-images.githubusercontent.com/5863899/31520228-6c00981e-af62-11

[2017-10-13 01:55] samreid commented on #412
This is caused by another axon property threading issue.  Here's a recipe that describes the problem.  Say we are dragging a light bulb with vertices A (bottom) and B (right):

1. Vertex A snaps to target vertex
2. Dragging further, Vertex B snaps to target vertex.

Step 2 happens in this code in CircuitLayerNode.js

[code]

This is not moving all positions as a batch, it is moving them one at a t

[2017-10-13 02:05] samreid commented on #412
Proposed fix is above, using a pattern we have used in a handful of other sims.  Test case from https://github.com/phetsims/circuit-construction-kit-common/issues/412#issuecomment-336278258 seems fixed.  @phet-steele can you take it for a test drive on master?

[2017-10-13 17:04] samreid opened #413 "assertion failed: vertices cannot be in the same spot"
circuit-construction-kit-dc-virtual-lab : fuzz : require.js : run
Uncaught Error: Assertion failed: vertices cannot be in the same spot
Error: Assertion failed: vertices cannot be in the same spot
    at window.assertions.assertFunction (https://bayes.colorado.edu/continuous-testing/snapshot-1507873579497/assert/js/assert.js:22:13)
    at LightBulb.emitVertexMoved (https://bayes.colorado.edu/conti

[2017-10-13 17:05] samreid commented on #413
I tried committing a change to the vertex position property that uses deep equality, this may prevent a spurious update and hence calling listeners during a bad intermediate state (guessing about 20% chance this may be the problem).

@phet-steele and I also talked about batching changes during a connect like so:

[code]

We would need to hack around Property a bit to get this working.

[2017-10-13 17:10] samreid commented on #413
This batching strategy causes worse problems when you drag one battery vertex over another battery vertex so that the opposite vertices overlap.

[2017-10-13 18:35] phet-steele commented on #412
Bayes isn't reporting either error anymore, nor does the "by hand" procedure work. Thanks @samreid.

[2017-10-13 18:35] #412 closed

[2017-10-13 19:14] phet-steele commented on #266
The issue linked immediately above is the reason for this corner case. Wires in this sim have some resistance, causing a voltage drop and current. Without including wires (the left), you do not promote current. Including wires (the right) adds resistance and a voltage drop to promote current.

![parallel_batteries](https://cloud.githubusercontent.com/assets/8419308/23684154/16afd258-035a-11e7-9ddf

[2017-10-13 22:49] phet-steele opened #414 "Cutting and deleting while dragging breaks interaction"
1. Connect at least two fixed length elements together.
2. Click/touch a vertex.
3. Begin dragging the same vertex, the cut button remains.
4. Use another finger (or the delete button) to press the cut button while dragging.

Everything in each vertex group is now un-interactive (cannot be dragged). You may still snap to the newly cut vertices, but not to any others within the original vertex grou

[2017-10-13 22:49] phet-steele opened #415 "Dragged elements can be bounced, causing their vertices to be moved"
1. Drag out three fixed length elements. Don't connect them. I like to use a lightbulb for one of the three (you should too if you like to have fun!)
2. Drag the lightbulb by its body until it snaps to a vertex, DON'T release. Just hold the lightbulb in place while snapped.
3. With another finger, take the lonely element and snap it to the same vertex you chose in step 2. Release and let it connec

[2017-10-13 22:49] phet-steele opened #416 "TypeError: null is not an object (evaluating 'v.x')"
Testing on current master.

1. Highlight a battery.
2. Drag that battery.
3. While dragging, flip the battery with another finger.

Throws:
[code]

Seen on iPad Air 2 iOS 9.3.5. For phetsims/QA/issues/51.

[2017-10-13 22:49] phet-steele opened #417 "Objects don't revert to unsnapped positions if connections were unsuccessful"
This one takes admittedly precise movements, so prepare yourself.

1. Take out two fixed length components, don't connect them.
2. Start by taking finger A and dragging one (by its body) until it snaps to the other. Don't release, instead HOLD FINGER A VERY STILL.
3. Take finger B and move the other element away. You have effectively moved the would be `targetVertex` out from under the would be `o

[2017-10-13 23:02] phet-steele opened #418 "Ammeters don't update after deletions"
Very similar to #407, but deals with components being deleted instead of moved. Right off the bat...the voltmeter seems to handle things well (or at least it's harder to make break), so ignore it in this issue.

1. Setup a circuit like this:

<img width="710" alt="screen shot 2017-10-13 at 4 56 53 pm" src="https://user-images.githubusercontent.com/5863899/31569404-09de431c-b038-11e7-9614-464f25443

[2017-10-13 23:04] ariel-phet commented on #416
This bug does not seem to affect sim use. @samreid your call if you want to do anything about it for 1.0

Feel free to mark deferred if this is more than a short fix (less than 30 minutes)

[2017-10-13 23:09] ariel-phet commented on #418
@samreid this seems like a more legit bug. Since moving circuit elements fixes it, I could live with it for 1.0, but would prefer not to. Worth investigating a fix.

[2017-10-13 23:11] ariel-phet commented on #417
Seems like a serious edge case. Marking as deferred, unassigning.

[2017-10-13 23:13] ariel-phet commented on #415
I see this as an edge-case, and not critical to fix. @phet-steele seems to feel this would be an easy fix. Your call @samreid if you want to try to fix after a quick investigation (feel free to defer if not)

[2017-10-13 23:15] ariel-phet commented on #414
@samreid this seems like a legit bug since it breaks the interaction and does not technically require multitouch. Worth 1-2 hours of investigation. If it is turning into more and that, let's you and I discuss.

[2017-10-14 02:56] samreid commented on #413
Proposed fixes committed above are being tested by Bayes and @phet-steele

[2017-10-15 07:07] samreid commented on #418
Proposed fix is above, @phet-steele can you please investigate?

[2017-10-15 07:17] samreid commented on #416
I added a check that should prevent the error.  The behavior looks the same on iPad, but hopefully doesn't throw the error. I didn't tether to verify this yet.  I'll leave assigned to me and also assign to @phet-steele to see who gets a tether report first.

[2017-10-15 07:19] samreid commented on #416
I simulated multitouch on mac chrome and verified the error is gone.  Reassigning to @phet-steele to double check everything.

[2017-10-15 07:29] samreid commented on #415
The commit above prevents bumping when vertices are being dragged.  It appears to fix this case on iPad.  I also tested that dragging one battery on top of another still correctly bumps away.  But this could use some testing to make sure nothing else is disturbed.

[2017-10-15 07:33] samreid commented on #414
On current master (includes some changes compared to what was tested in initial comment) I am not seeing the bug for pressing the delete button.  I do see the bug for cutting a dragged vertex though on iPad.

[2017-10-15 07:38] samreid commented on #414
The simplest solution is to prevent cutting vertices that are being dragged (committed above).  It isn't a perfect user experience because the cut button is still visible and enabled for a dragged vertex, but pushing it does nothing.  However, I think this will be rare and when it does happen it will no longer create dead circuit elements, so perhaps it is good for 1.0.

[2017-10-16 15:57] phet-steele commented on #413
@samreid, Bayes still hits this often. It's probably fuzzMouse only, so can we defer?

[2017-10-16 16:30] phet-steele commented on #418
@samreid steps 1 & 2 are fixed, but 3 & 4 haven't change for the SERIES ammeter (the contact ammeter is fine). Starting at 0.00 A, the series ammeter doesn't update after a delete:

<img width="849" alt="screen shot 2017-10-16 at 10 25 25 am" src="https://user-images.githubusercontent.com/5863899/31623344-5a0caf6a-b25c-11e7-8387-f3f103584f77.png">

[2017-10-16 16:50] phet-steele commented on #416
Fixed, thanks.

[2017-10-16 16:50] #416 closed

[2017-10-16 18:08] phet-steele commented on #415
This is working for me, thanks!

[2017-10-16 18:08] #415 closed

[2017-10-16 20:46] ariel-phet commented on #414
@samreid that seems like an acceptable solution

[2017-10-16 20:46] ariel-phet commented on #414
@phet-steele can you verify on master?

[2017-10-16 20:50] phet-steele commented on #414
@samreid this works for the cut button, but I'm still having issues with the delete button. Can we try the same approach as the cut button?

[2017-10-17 00:30] samreid commented on #418
Many thanks @phet-steele, proposed fix committed.

[2017-10-17 02:30] samreid commented on #414
Thanks for the suggestion, proposed fix is committed, can you please test?

[2017-10-17 02:32] samreid commented on #413
I don't like to have a fuzzMouse failure, but I don't know how to address this problem.  I may remove the assertion and see if downstream problems are triggered.  If not, perhaps we will leave this as deferred to CCK 2.0.

[2017-10-17 02:36] samreid commented on #413
I commented out these assertions, we'll let Bayes check for downstream problems.

[2017-10-17 02:37] samreid commented on #413
Assigned to @phet-steele to report on bayes issues or fuzzing problems related to this issue.  If the coast is clear, let's mark as deferred.

[2017-10-17 15:58] phet-steele commented on #414
Nice! Thanks.

[2017-10-17 15:58] #414 closed

[2017-10-17 16:00] phet-steele commented on #413
Coast has been clear for 13 hours, deferring.

[2017-10-17 16:02] phet-steele commented on #418
Works great, thanks @samreid!

[2017-10-17 16:02] #418 closed

[2017-10-17 21:01] phet-steele opened #419 "?stringTest=double ammeter readout expands over vertices"
@samreid I don't think this is a big deal, but it looks odd. If you look below, the readout is expanded over the vertices slightly. This is also true of the image in the sensor tool box. Not so sure it even needs to expand that far?

<img width="639" alt="screen shot 2017-10-17 at 2 58 03 pm" src="https://user-images.githubusercontent.com/5863899/31689160-d046b3fc-b34b-11e7-9a2c-b6ccc9cb2c35.png">

[2017-10-17 21:08] phet-steele commented on #419
@samreid....I'm not entirely sure if the readout has a maxWidth 😄
<img width="759" alt="screen shot 2017-10-17 at 3 07 24 pm" src="https://user-images.githubusercontent.com/5863899/31689554-fa79828e-b34c-11e7-8046-4dfda3d87413.png">

[2017-10-17 21:47] phet-steele opened #420 "Ammeter border is too close for comfort"
@samreid @arouinfar I'm concerned that the black "border" of the contact ammeter dips down too closely to the title string. What do you think? Do we have room to move these strings down (or some other solution)? We never noticed since the default english string "Current" has the small character "r" in the middle of the word. However, "Hello" as tall characters.
<img width="343" alt="screen shot 20

[2017-10-17 21:52] arouinfar commented on #420
Good catch @phet-steele.

Seems like this would easily be fixed by moving the title string down by a pixel or two @samreid.

[2017-10-17 21:53] phet-steele commented on #419
I suppose it is also important to note that you cannot see electrons passing through?

[2017-10-18 17:19] phet-steele opened #421 "Fire visibility floating point error"
This states that fire will appear at 15 amps (`FIRE_THRESHOLD` = 15):

[code]
However, thanks to JS floating points, it does not:
<img width="443" alt="screen shot 2017-10-18 at 11 15 37 am" src="https://user-images.githubusercontent.com/5863899/31732420-b46ccbda-b3f5-11e7-9fcf-00d7f10e4cd9.png">

Did some debugging in this scenario to find that current through the battery is actually 14.999048642

[2017-10-18 17:27] arouinfar commented on #421
@samreid I would very much prefer that the speed warning and fire are synced for most platforms (I realize older machines may reach a reduction in animation speed a bit earlier).

The animation speed warning first appears at 15 A
![image](https://user-images.githubusercontent.com/8419308/31732771-e5a6d6ae-b3f6-11e7-9cdc-423865315493.png)

Reducing the resistance by 0.5 ohms, increases the current

[2017-10-18 18:31] arouinfar opened #422 "Unrealistic pencil resistance"
In CCK, the pencil's resistance is 300 ohms. I have never given this number much thought until I started working on the Teacher Tips.

Pure graphite has a resistivity of 0.0000138 ohm-meters, and a typical wooden pencil has a core diameter of 2.2mm, and a length of 17.5cm (when new), resulting in a resistance of ~0.6 ohms. The CCK pencil is pretty stubby, so it would likely be perceived to be shor

[2017-10-18 18:31] samreid commented on #421
I haven't yet looked into the details of this problem, but do you think it would have the right effect if we changed the fire threshold to `15-ESPILON` where `EPSILON=1E-6` or so?

[2017-10-18 18:35] arouinfar commented on #421
@samreid I am not familiar enough with the code to know what `15-ESPILON` and `EPSILON=1E-6` mean, so punting to @phet-steele.

[2017-10-18 18:35] samreid commented on #422
I'd prefer to use an accurate estimate for the pencil resistance.

[2017-10-18 18:36] samreid commented on #421
It means the threshold in the code would be `14.999999`, do you think that would have the right effect?

[2017-10-18 18:38] arouinfar commented on #421
Thanks for the clarification @samreid! That sounds reasonable to me. It also seems like a relatively quick thing to try out, so let's go for it.

[2017-10-18 18:39] arouinfar commented on #421
Actually, on 2nd thought, @phet-steele reported the current was `14.999048642221503` which would still be below the `14.999999` threshold. Perhaps epsilon needs to be 1E-3 instead?

[2017-10-18 20:18] phet-steele commented on #421
I guess this would probably be due to wire resistivity....not a floating error...oh well! Still begs the question of how to show fire when the current is not quite 15 but is shown to be exactly 15.

[2017-10-18 20:20] phet-steele commented on #421
Or maybe we need to revisit https://github.com/phetsims/circuit-construction-kit-dc/issues/125?

[2017-10-18 20:25] phet-steele commented on #296
Feel I should point out that https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.5.0-dev.1/capacitor-lab-basics_en.html has this behaviour, and it's not even to RC yet! 😝

[2017-10-18 21:37] BryceAG opened #423 "Edge has poor performance when dragging light bulbs"
related to phetsims/QA#55

When dragging a light bulb in Edge, the frame rate will drop to ~10 fps. It does not happen for other objects, just light bulbs. Both normal and high resistance light bulbs will cause the error, and dragging by the body or one of the joints does not matter.

In the gif below I drag a battery for comparison, then drag the light bulb. It initially drops to 30 fps, but will

[2017-10-19 00:15] ariel-phet commented on #422
@arouinfar interesting point. I would go for a realistic resistance. Since we have so much adjustable resistance, I think this is fine.

On a related note, in a future version of the sim, it might be interesting to have a resistor that can have its resistance changed via dimensional changes. So when you tap to edit you change the cross section or just change the length (or both). That would tie ni

[2017-10-19 00:16] ariel-phet commented on #422
@samreid please go ahead and change the pencil resistance.

[2017-10-19 16:24] ariel-phet commented on #423
@samreid lets not spend any time on Edge performance for 1.0

[2017-10-19 17:14] arouinfar opened #424 "Consider adding resistor with adjustable length and/or area"
In #422 @ariel-phet suggested:

I really like this idea, and think it's worth considering for a later version. Let's discuss when considering the features for 1.1+.

[2017-10-19 17:16] arouinfar commented on #422
Great suggestion @ariel-phet! I've opened the above issue for a resistor with adjustable dimensions.

@samreid let's go with a 25 ohm pencil.

[2017-10-19 17:37] arouinfar commented on #296
@samreid is this something that can be cherry-picked from CLB relatively easily, or does your estimate of 2-4 hours up-front still hold?