[2015-04-17 16:35] samreid opened #1 "Prevent the wires & components from automatically connecting too eagerly"
One of our research colleagues suggested:

Last Friday, we met in our PhET group, discussing studies we currently run that involve PhET simulations. During that meeting, we also discussed problems we encountered in the usability of the DC CCK simulation. I write you to explain you the problem, and ask whether you have addressed this problem already, if so how (in light of the HTML5 iteration), and

[2015-10-18 05:26] samreid opened #2 "Graphics needed for Light Bulb, Battery, etc."
The simulation will soon be to a point where it will benefit from artwork for the light bulb, battery, etc.  For now, I've copy pasted from the design doc raster, but they are pretty grainy and low resolution.  @arouinfar can you help?

[2015-10-19 06:16] samreid opened #3 "New drag behavior for the terminals of fixed length components"
In Java's CCK there is a fundamental difference between how wires and other fixed-length components such as light-bulbs, batteries, etc can be used.  A battery cannot be connected to a terminal by rotating it--only by dragging it.  This is asymmetric to the drag behavior in wires, which can be connected by dragging the wire body or the wire terminals.

I think it will make the simulation easier to

[2015-10-26 04:26] arouinfar commented on #3
I really like this interaction @samreid. It seems very natural! Let's discuss it at the next design meeting (possibly 10/29 -- KP is out, definitely 11/5) to see what @kathy-phet and @ariel-phet think.

[2015-10-26 04:50] arouinfar commented on #2
I've emailed assets for the batteries, wire, and voltmeter to @samreid.

The light bulb should be the one used in Capacitor Lab: Basics and Faraday's Law. It's being moved to scenery by @jessegreenberg. I'm not sure if that's happened yet, but for the bulb from Acid-Base Solutions should already be in scenery. I'm fine with that one being used as a placeholder.

[2015-10-26 21:22] samreid commented on #2
I committed the artwork in 30b6e158ff5e54687e9825de6650f97c0fa0cb08 and will unassign the issue until it is time to finish integrating the artwork and using the appropriate light bulb.

[2015-10-26 21:23] jessegreenberg commented on #2
The light bulb hasn't been generalized yet, but that will be the next thing for capacitor-lab-basics.

[2015-11-12 21:30] samreid commented on #3
Consensus at the Nov 12 meeting was that we should pursue this type of interaction--it looks good.

[2015-11-16 06:12] pixelzoom opened #4 "Uncaught Error: Cannot set values directly to a derived property"
requirejs mode error (assertions enabled), noted when running test-sever:

[code]

[2015-11-16 06:27] pixelzoom opened #5 "lint error"
Noted with test-server.

[code]

[2015-11-18 18:49] arouinfar commented on #3
Reassigning to @samreid for implementation.

[2015-11-19 06:53] jonathanolson commented on #5
I fixed this.

[2015-11-19 06:53] #5 closed

[2015-12-08 14:16] samreid commented on #3
I'll work on this when I get back to CCK, unassigning for now.

[2015-12-08 14:29] samreid commented on #4
Fixed in the above commit, thanks for the report @pixelzoom, closing.

[2015-12-08 14:29] #4 closed

[2015-12-16 19:11] samreid opened #6 "Create black box mode for research"
Timeline was discussed at Dec 16 Meeting:

Kathy suggested: So perhaps sometime in May?

This would just be the black box, wouldn't need energy screen, etc.  Start with the playground screen with basic circuits (no energy components), the black box screen (for students), and the black box construct screen (for researchers to design black boxes).

[2015-12-16 19:18] samreid commented on #6
Researchers should be able to create their own black boxes and choose the order they will appear in the combo box.

[2015-12-16 19:25] samreid opened #7 "For the black box version, we will need to output the circuits in machine-readable JSON for other researchers"
It should be tested, iterated on and tested and verified by Engin and our other colleagues.  We'll want to be able to build test cases and test that the files are working properly.

[2016-01-08 17:17] ariel-phet opened #8 "Circuit Construction Kit Basics master checklist"
## Design
- [x] **Design doc created** (Date: 01/03/2014)
  - [x] Make phethelp@gmail.com owner, share with phet-team
  - [ ] Add to [Master Doc List](https://docs.google.com/document/d/1yjT1oE95JG_evwob9LB_De-brD7JpfFM6iIL6pF812k/edit#)
- [x] **Learning goals and standards identified** (Date: 10/14/2015)
- [x] **Design concept complete**  (Date: 01/07/2016)
- [ ] **Wireframes complete** (Date: //

[2016-01-08 17:20] ariel-phet commented on #8
Note -- using the "new sim" checklist even though this has some aspects of a port.

[2016-01-19 04:44] samreid commented on #6
@kathy-phet said:

[2016-02-11 04:22] samreid commented on #6
This will be difficult to get done in May unless I start on it really soon.  I'll mark this issue for phet-io meeting since phet-io is my main issue to clean up before starting on this.

[2016-02-12 04:34] samreid commented on #6
Today @kathy-phet suggested taking 1-2 weeks to tidy up PhET-iO before switching to CCK.  That would be a start date no later than Feb 26.

[2016-02-18 22:24] arouinfar opened #9 "Assets needed for development"
Since @samreid will be beginning development on this soon, we should get the assets in order.

@arouinfar will send the following assets to @samreid
- [x] Body of voltmeter
- [x] Probes of voltmeter
- [x] Body of ammeter
- [x] Ammeter probe
- [x] Battery
- [x] Resistor

These components will be drawn in code
- Light bulb - common component used in Faraday's Law
- Light bulb glow - linear glow like

[2016-02-19 18:35] kathy-phet opened #10 "Add a non-ohmic "real bulb" for DC sim"
As we consider redesign, we should consider the possibility of modeling a real bulb as an option, where the resistance changes with the current. As an advanced feature.

[2016-02-24 17:12] samreid commented on #6
I'm planning to start working on this on Friday.

[2016-02-24 23:18] arouinfar commented on #9
It looks like some of these assets have already been committed to the repo.
![image](https://cloud.githubusercontent.com/assets/8419308/13304467/068e203a-db12-11e5-9686-db194d43c8e9.png)

@samreid please use battery_variable_v.ai for CCK: Black Box and disregard the wire_segment.ai. I will be sending the remaining assets to you shortly.

[2016-02-25 20:30] arouinfar commented on #9
The remaining assets have been emailed to @samreid.

The asset for the resistor does not have the colored stripes or wire, as I imagine these will need to be generated in code.

[2016-02-26 04:19] samreid commented on #9
Yes, I'll generate this in the code.

I'll delete it.

[2016-02-26 04:21] samreid commented on #9
Thanks @arouinfar I think we are good to go, closing.

[2016-02-26 04:21] #9 closed

[2016-02-29 19:01] samreid opened #11 "Use the bulb artwork from Faraday's Law or scenery-phet"
@arouinfar said:

[2016-02-29 19:01] samreid commented on #11
Note there is a near-duplicate in Capacitor Lab Basics.

[2016-02-29 19:02] samreid commented on #11
@jbphet and @jessegreenberg how should I approach this issue?

[2016-02-29 19:26] samreid commented on #11
See https://github.com/phetsims/scenery-phet/issues/170 for details about consolidating Light Bulb graphics.

[2016-03-01 16:38] jbphet commented on #11
Ideally, we would attempt to come up with a common code version with variations of bulbs and rays that satisfied all needs.  A bulb with rays will also be needed for the Energy Forms and Changes sim.

[2016-03-01 16:55] samreid commented on #11
I discussion with @jessegreenberg today, we decided I can use the scenery-phet bulb (looks like acid base solution, but has rays) then wait for discussion with designers about whether we can upgrade that one to look like the faraday's law one.

[2016-03-01 19:35] phet-steele opened #12 "Automated Testing Error"
While fuzztesting the built version, on phettest:
[code]

[2016-03-03 22:08] samreid opened #13 "Put the split vertex button near the vertex"
From today's meeting: people like the split junction button being near the junction, also liked the yellow highlight

![image](https://cloud.githubusercontent.com/assets/679486/13511270/ce7eed64-e151-11e5-9024-0598b7a3d21e.png)

[2016-03-03 22:09] samreid opened #14 "Reduce the size of the resistors"
From today's meeting, the resistors, batteries, etc. are much too big in the play area.  I think @kathy-phet said they are about 2x too big.

[2016-03-03 22:10] samreid opened #15 "Add a placeholder for tap circuit element to edit"
From today's meeting:

Have placeholder text in a simple panel “tap circuit element to edit” once you tap slider appears with trash button for deleting component. Any other interaction removes the edit panel.

Halo for indicating for which component is being edited. Simple yellow outline to suggest the thing you are editing.  Icon in the slider area.

[2016-03-03 22:10] samreid commented on #15
@phetsims/dubson votes against the icon in the control panel.

[2016-03-04 04:15] samreid commented on #14
Fixed above, closing.

[2016-03-04 04:15] #14 closed

[2016-03-04 04:17] samreid commented on #15
@ariel-phet @arouinfar @kathy-phet @phetsims/dubson Thinking this through, it seems plausible that some students will read the text "tap circuit element to edit" and try to tap on a circuit element while it is still in the toolbox.  Maybe we should only show this text when there is >=1 circuit element in the play area.

[2016-03-04 04:19] arouinfar commented on #15
Good point @samreid. Requiring >=1 element seems like a reasonable solution to me.

[2016-03-04 05:09] ariel-phet commented on #15
:+1:

[2016-03-08 20:50] phet-steele opened #16 "Automated Testing Error Removed Vertex"
fuzztesting requirejs on phettest:
[code]

[2016-03-15 17:01] ariel-phet commented on #10
@oliver-phet forwarded me a request for this particular enhancement today:

I believe we have received this request more than once, and it would be a nice addition. The real bulb should definitely be an "option" and not the default, but it seems worth having this as canonical example of a somewhat non-ohmic component.

[2016-03-15 17:08] samreid commented on #10
I'm unfamiliar with the physics of non-ohmic light bulbs, can you point me to a model for this?  Also a note for when I get to implementing this: adding equations to the matrix solve step seems a much more robust solution than iterating in search of a stable point.

[2016-03-15 17:30] ariel-phet commented on #10
@samreid well...the resistance basically increases with temperature, I will see if I can find a decent model/reference, but it might be something we "hollywood"

This seems to have some good information:

[ohmic-lightbulb.pdf](https://github.com/phetsims/circuit-construction-kit-basics/files/174442/ohmic-lightbulb.pdf)

One of the the odd things to keep in mind with a "real" lightbulb will be that

[2016-03-15 17:30] ariel-phet commented on #10
@samreid I am also going to leave this unassigned for the moment, it is low priority

[2016-03-16 06:25] samreid commented on #11
The sim is using the scenery-phet light bulb now, except for the toolbox icon.  After the toolbox icon is switched to use the common code, we can close this issue.

[2016-03-16 06:38] #11 closed

[2016-03-16 06:43] samreid commented on #1
I reduced the attraction radius significantly, in Java it is >4 radii and in this version of CCK it is 1 radius, which seems to be a good user experience:

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-basics/1.0.0-dev.2/circuit-construction-kit-basics_en.html

@arouinfar can you review this issue and comment?  Also, I believe the suggestion was from Engin--I'll let you de

[2016-03-16 06:44] samreid commented on #2
I've got all of the raster graphics and am using scenery-phet's light bulb, closing.

[2016-03-16 06:44] #2 closed

[2016-03-16 06:44] samreid commented on #3
Implemented in dev.2 and working nicely, even when circuit elements are attached to groups, closing.

[2016-03-16 06:44] #3 closed

[2016-03-16 06:49] samreid commented on #7
Here's a snapshot of the JSON for a simple circuit:

[code]

Perhaps for Engin to test this, we should deliver a phet-io version with the circuit appearing in the data stream so he can interactively test it out.

[2016-03-16 06:50] samreid commented on #13
Fixed and published in dev.2

[2016-03-16 06:50] #13 closed

[2016-03-16 06:50] samreid commented on #15
Fixed for dev.2, closing.

[2016-03-16 06:50] #15 closed

[2016-03-17 03:04] samreid opened #17 "How to design API for black box vertices?"
There are 3 kinds of vertices in the CCK black box simulation:
1. regular wires for "explore": interactive, draggable, attachable
2. black box interface wires, which can be attached to but not moved
3. black box inner wires, which can be neither attached to nor moved

Which set of options (with defaults shown) is more suitable?
blackBoxInterface: false
blackBoxInternal: false

draggable: true
atta

[2016-03-17 17:42] samreid opened #18 "Make wires thinner"
From @ariel-phet:

[2016-03-17 17:42] samreid opened #19 "Make resitors more tan"
@ariel-phet said:

[2016-03-17 17:43] samreid opened #20 "Solder layering is inconsistent"
@ariel-phet said:

[2016-03-17 17:44] samreid opened #21 "Make node voltage readouts a query parameter"
@ariel-phet said:

[2016-03-17 17:44] samreid opened #22 "Add an option to show node voltages to the user"
In #21 we are going to move the node voltages to the user, however I realized this could be a powerful representation for users to understand circuits.  @arouinfar and @ariel-phet we should discuss this at an upcoming meeting.

[2016-03-17 17:45] samreid opened #23 "Move scissors closer to the node"
@ariel-phet said:

[2016-03-17 18:57] arouinfar commented on #22
@samreid this is an undesirable feature for Stanford's MVP, but we can discuss the possibility of including it the sim that we eventually publish to the PhET site.

[2016-03-25 15:01] samreid commented on #23
Before, with DISTANCE_TO_CUT_BUTTON = 100:

![image](https://cloud.githubusercontent.com/assets/679486/14046537/cf0edc04-f267-11e5-8140-426b0649ec39.png)

After, with DISTANCE_TO_CUT_BUTTON = 70:

![image](https://cloud.githubusercontent.com/assets/679486/14046608/0d71e0f4-f268-11e5-95a5-0f039b44c39a.png)

[2016-03-25 15:01] samreid commented on #23
@ariel-phet please review

[2016-03-25 15:03] samreid commented on #22
I'll assign this to @arouinfar since it is a design question.

[2016-03-25 15:15] samreid commented on #21
This is a debugging feature.  After the commit above, it is off by default, but can be opted-in to with ?showNodeVoltages

[2016-03-25 15:15] #21 closed

[2016-03-25 15:41] samreid commented on #20
Yes, it is odd when the solder covers a battery:

![image](https://cloud.githubusercontent.com/assets/679486/14047465/7887b6d4-f26d-11e5-91ea-fdc849a22a2e.png)

Here's what it looks like with solder and dotted line behind the battery:

![image](https://cloud.githubusercontent.com/assets/679486/14047483/90b4e434-f26d-11e5-960a-0bee3a01c0e9.png)

Is there any chance we'll want the dotted line in fro

[2016-03-25 15:43] samreid commented on #19
From our sim:
![image](https://cloud.githubusercontent.com/assets/679486/14047527/e21ff5b6-f26d-11e5-8fb9-063856dfe199.png)

From the image @ariel-phet linked:
![image](https://cloud.githubusercontent.com/assets/679486/14047541/f02d54c8-f26d-11e5-96d3-a829fdf8664e.png)

[2016-03-25 15:44] samreid opened #24 "Gold band should be gold instead of yellow?"
I noticed that the sim shows the gold band as yellow, see for instance:
https://github.com/phetsims/circuit-construction-kit-basics/issues/19#issuecomment-201338531

I think the band should be gold, but we should check.

[2016-03-25 15:58] samreid commented on #19
I sampled colors from the linked image, now it looks like this:
![image](https://cloud.githubusercontent.com/assets/679486/14047732/385aabdc-f26f-11e5-885e-60e6b744b911.png)

I'm also making the resistor slightly more bulbous:
![image](https://cloud.githubusercontent.com/assets/679486/14047860/0db6ac72-f270-11e5-9af1-c940319f0ec7.png)

[2016-03-25 15:58] samreid commented on #19
@ariel-phet can you take a look?

[2016-03-25 16:02] samreid commented on #18
I sampled a color from http://www.maneywire.com/images/products/BARE%20COPPER.jpg
![image](https://cloud.githubusercontent.com/assets/679486/14047940/a82114a0-f270-11e5-846e-2f8a0806e23c.png)

But not sure it looks as good without shading and other contextual cues.

[2016-03-25 16:13] samreid commented on #18
I made the wires thinner in the above commit, now it looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/14048175/2d1ef7ac-f272-11e5-8348-b4be91eb617e.png)

@ariel-phet can you review and comment?

[2016-03-25 16:16] samreid commented on #16
I did not see this problem in latest master:
![image](https://cloud.githubusercontent.com/assets/679486/14048216/7990fe32-f272-11e5-8e80-6ff4e52cbfcb.png)

[2016-03-25 16:16] samreid commented on #12
I did not see this problem in latest master:
![image](https://cloud.githubusercontent.com/assets/679486/14048255/b3c86ba8-f272-11e5-93b8-160b44eaced8.png)

[2016-03-25 16:16] #12 closed

[2016-03-25 16:29] samreid commented on #24
Switched to a golder band above, closing.

[2016-03-25 16:29] #24 closed

[2016-03-25 16:30] samreid commented on #17
Let's go with attachable/draggable

[2016-03-26 02:36] samreid commented on #20
Another question: is it OK if the yellow vertex highlight is in the back?

![image](https://cloud.githubusercontent.com/assets/679486/14057557/415ca618-f2c9-11e5-90a1-19fa349a6a83.png)

[2016-03-26 02:41] samreid commented on #20
Having the junctions always in the back makes tapping a vertex difficult in this case:

![image](https://cloud.githubusercontent.com/assets/679486/14057586/f817ff92-f2c9-11e5-8968-2b21ffc8f426.png)

[2016-03-26 14:58] samreid commented on #20
In the java, the dotted line is always in front and hence always selectable, but the solder is always behind

![image](https://cloud.githubusercontent.com/assets/679486/14060654/da753fce-f330-11e5-9f99-9f026852c597.png)

![image](https://cloud.githubusercontent.com/assets/679486/14060656/ea6aea8c-f330-11e5-9b35-cf8563d46b62.png)

[2016-03-26 15:12] samreid commented on #20
Pic of a wire wire battery vertex:
![image](https://cloud.githubusercontent.com/assets/679486/14060727/e01b5af6-f332-11e5-93f7-d8f6414fa004.png)

[2016-03-26 15:14] samreid commented on #20
So the desired behavior is:
1. silver solder behind all wires and components
2. copper circle in front of wires but behind components
3. dotted line in front of all wires and components
4. highlight in front of all wires and components

[2016-03-26 15:22] samreid commented on #20
This might be solved with a round instead of square cap for the line segments.

[2016-03-26 15:24] samreid commented on #20
![image](https://cloud.githubusercontent.com/assets/679486/14060784/83b5cde4-f334-11e5-9bf9-41d149c62551.png)

Round caps seem good.

[2016-03-26 15:35] samreid opened #25 "Add feature: tap to select a wire, so its delete button shows up"
Add feature: tap to select a wire, so its delete button shows up

[2016-03-26 15:40] samreid opened #26 "Bulb should connect at the bottom and side"
From the design doc:

![image](https://cloud.githubusercontent.com/assets/679486/14060864/af6e7d30-f336-11e5-8ca6-e8bc2b1f1f50.png)

@arouinfar is this essential for minimum viable product for Stanford?

[2016-03-26 15:41] samreid commented on #26
The current bulb connections look like this:

![image](https://cloud.githubusercontent.com/assets/679486/14060869/dc5b16f0-f336-11e5-9928-9057f5d2a23d.png)

[2016-03-26 15:41] samreid commented on #26
Oops solder was commented out in the last photo, here is the latest:

![image](https://cloud.githubusercontent.com/assets/679486/14060874/fb7f3764-f336-11e5-8206-a6d0a571aec1.png)

[2016-03-26 15:45] samreid opened #27 "Add provided black boxes"
The following is a tentative ordered list of black boxes that Stanford has provided. The batteries used below have a voltage of 10V.

![image](https://cloud.githubusercontent.com/assets/679486/14060885/347f7600-f337-11e5-9180-06828f4baba8.png)

![image](https://cloud.githubusercontent.com/assets/679486/14060887/3ff31e10-f337-11e5-9449-a997ff8e12e5.png)

![image](https://cloud.githubusercontent.com

[2016-03-26 15:45] samreid opened #28 "Black box names should be customizable"

[2016-03-26 15:46] samreid opened #29 "Opacity overlay for build mode"
A screen with reduced opacity will cover the playspace, except for the inside of the black box. All circuit elements dragged into the playspace while in “Investigate” mode will be layered behind this screen. Tools and panels will be layered above.

![image](https://cloud.githubusercontent.com/assets/679486/14060903/9ee1a9dc-f337-11e5-83ec-82037ab91a04.png)

Black box disappears revealing empty int

[2016-03-26 15:47] samreid opened #30 "Submitting/checking answer"
Proposed in the design doc:

It seems necessary to have some sort of mechanism to reveal what is behind the black box. Programmatically checking the answer is expensive. A relatively straight-forward way to reveal the answer would be to have a “Submit” or “Reveal” button that would show a side-by-side comparison of the contents of the the black box and the student’s answer. The student could then

[2016-03-26 15:48] samreid commented on #30
@arouinfar commented:

[2016-03-26 15:48] samreid commented on #30
@arouinfar it wasn't clear to me from previous meetings how we ultimately decided to proceed with "show answer" UI, can you comment?

[2016-03-26 15:53] samreid opened #31 "Build/Investigate mechanics"
The build/investigate mechanic still needs work

[2016-03-26 19:03] #17 closed

[2016-03-26 19:32] samreid opened #32 "Move vertices when cut"
In the Java version, cutting vertices moves them, so it is obvious they are not attached.  We should implement this for the HTML5 version but it is not clear whether this feature is necessary for the minimum viable product.  Also, there are complications regarding black box interface vertices, which should not be moved.

[2016-03-26 19:40] samreid opened #33 "How to detach a wire from the black box?"
Currently there is no way to detach this wire from the "build" mode in black box:

![image](https://cloud.githubusercontent.com/assets/679486/14062067/131754ee-f358-11e5-9e98-862870cd2cbb.png)

Since we haven't implemented #25 we cannot delete the wire.  Since the vertices are only connected to one component, they cannot be cut:

![image](https://cloud.githubusercontent.com/assets/679486/14062072/

[2016-03-26 19:41] samreid commented on #33
I think we should probably implement #25 and make vertices detachable from the black box vertex.  I'll assign to myself for work, but @arouinfar or @ariel-phet please jump in if you recommend otherwise.

[2016-03-26 19:43] samreid opened #34 "When deleting a component with an undraggable vertex, the undraggable vertex should not be deleted"
When deleting a component with an undraggable vertex, the undraggable vertex should not be deleted

![image](https://cloud.githubusercontent.com/assets/679486/14062094/a839f590-f358-11e5-9f68-5e073cbdacf8.png)

[2016-03-26 19:57] samreid commented on #7
Here's a picture of a simple battery bulb circuit:

![image](https://cloud.githubusercontent.com/assets/679486/14062146/396ec9ea-f35a-11e5-9728-a2539a197cc0.png)

And the corresponding JSON:

[code]

For the black box version, vertices will additionally be marked as `draggable:false` and/or `attachable:false` in an options value.

[2016-03-26 20:01] samreid commented on #7
I emailed our collaborators:

I have been working on the data format for circuits in the HTML5 version of Circuit Construction Kit: Black Box, and wanted to share the latest version and make sure it will work for you, and to answer any questions you have about it.  I took a screenshot of a simple circuit and outputted the data file as JSON here:
https://github.com/phetsims/circuit-construction-kit

[2016-03-26 20:13] samreid commented on #20
this will come naturally if we moveToFront on selection

[2016-03-26 20:57] samreid commented on #20
After the above changes, solder is in back, vertices are in front, @ariel-phet can you pull master and take a look?

![image](https://cloud.githubusercontent.com/assets/679486/14062403/15f4ebee-f363-11e5-9e02-3b09ee3d135c.png)

[2016-03-26 21:08] samreid opened #35 "Show part of the dotted line behind the component?"
I'm not sure if it is possible, but what if we could show the dotted line behind the image, so it is not obscured?  Picking would work the same way it does now.

Current behavior:
![image](https://cloud.githubusercontent.com/assets/679486/14062439/4f97b880-f364-11e5-97fa-9e865fae436a.png)

Requested behavior:
![image](https://cloud.githubusercontent.com/assets/679486/14062446/8502d8c4-f364-11e5-8c

[2016-03-26 21:08] samreid commented on #35
This request is to make the battery image look clearer, so it is not obscured by dotted lines which could be confusing to students.

[2016-03-26 21:09] samreid commented on #35
Tagging @ariel-phet and @arouinfar in case they have thoughts about this idea.

[2016-03-26 21:48] samreid opened #36 "Wire highlight goes behind components"
Wires should go behind, but highlight should be in front:

![image](https://cloud.githubusercontent.com/assets/679486/14062591/25f99218-f36a-11e5-9f26-cdf1ded83fdb.png)

Though I'm not convinced this is too serious of an issue

[2016-03-26 21:49] samreid commented on #36
Putting wires in front obscures the "button" on front of the battery and looks odd.

[2016-03-26 21:50] samreid commented on #25
Fixed above, closing.

[2016-03-26 21:50] #25 closed

[2016-03-27 03:27] samreid commented on #27
I added the black box circuits above, closing.

[2016-03-27 03:27] #27 closed

[2016-03-27 03:30] samreid commented on #28
They are hard-coded in BlackBoxSceneView and can be customized there.  We can re-evaluate when we create a more general "make your own black box" UI.

[2016-03-27 03:30] #28 closed

[2016-03-27 03:35] samreid opened #37 "In "build" mode, set draggable:false, interactive:false, etc on external wires, components and vertices"
In "build" mode, set draggable:false, interactive:false, etc on external wires, components and vertices.  Related to #31

[2016-03-27 03:44] samreid opened #38 "How should black box interface vertices work?"
In master, black box vertices lie on the edge of the box and can be connected internally or externally like so:

![image](https://cloud.githubusercontent.com/assets/679486/14063735/bbb3e5f2-f39b-11e5-82f2-380b2496864d.png)

![image](https://cloud.githubusercontent.com/assets/679486/14063736/c070f30a-f39b-11e5-85e2-8386e30c7d53.png)

In the design doc, there is a wire adapter across the black box i

[2016-03-27 03:46] samreid commented on #33
#25 is done but we should also allow cutting this vertex.  Also related: #38

[2016-03-27 15:19] samreid commented on #33
When cutting, none of the `interactive:false` wires should be cut.

[2016-03-27 15:31] samreid commented on #33
Black box interface vertices can be cut now, closing.

[2016-03-27 15:31] #33 closed

[2016-03-28 00:17] samreid commented on #29
Thinking through the layering (back to front)

external components
overlay
toolbox
internal components

We would have to embed the toolbox into the circuit layering to make this possible.  The toolbox has to be behind components or they will appear to drag behind it.

[2016-03-28 01:33] samreid commented on #29
Transparency overlay added, closing.

[2016-03-28 01:33] #29 closed

[2016-03-28 01:34] samreid commented on #31
Most of this work is complete, I'll create separate issues for the remaining parts.

[2016-03-28 01:34] #31 closed

[2016-03-28 01:34] samreid opened #39 "When switching from Build to Investigate, the user-created circuit should be removed."
When switching from Build to Investigate, the user-created circuit should be removed.  See #31

[2016-03-28 01:56] samreid commented on #32
Fixed above, closing.

[2016-03-28 01:56] #32 closed

[2016-03-28 01:57] samreid commented on #34
Fixed in prior work, closing.

[2016-03-28 01:57] #34 closed

[2016-03-28 02:08] samreid commented on #35
I don't recall this being an issue in the Java version, so let's discuss this before spending time on it.  @arouinfar can you comment?

[2016-03-28 03:03] samreid opened #40 "On "Build Circuit" internal black box vertices should be removed"
On "Build Circuit" internal black box vertices should be removed

![image](https://cloud.githubusercontent.com/assets/679486/14070080/48e3c096-f45f-11e5-8e95-5470b71e00e8.png)

[2016-03-28 04:01] arouinfar commented on #26
@samreid this is something I can run past Stanford. My best guess is that having the appropriate bottom/side connections for the light bulb is going to be important, as most introductory physics courses will emphasize these connections. An alternative would be to put the light bulb in a socket to obscure the terminals of the bulb.

[2016-03-28 04:18] arouinfar commented on #30
@samreid We haven't done any pixel polishing on the UI. The general layout with the side-by-side appearance is okay, but we haven't discussed how we want the contents to appear. For example, do we want to keep the border of the black box (as mocked up) to cue that you are revealing its contents? Should the solder joints be visible?  Let's discuss this more at the next design meeting.

[2016-03-28 04:35] arouinfar commented on #38
@samreid the mockup was based on the Java CCK: Black Box which had wires sticking out from behind the black boxes.

I don't see any reason why the vertices can't sit on the edge of the black box, as you've done in master. Actually, I think it looks a lot cleaner that way!

Reassigning to @samreid to implement/close as necessary.

[2016-03-28 04:37] arouinfar commented on #25
:+1:

[2016-03-28 16:08] ariel-phet commented on #19
@samreid I think they need to go even more "tan" than that for good differentiation (but could work as is). Your call if you want to spend more effort. I would try the brighter tan tones sampled from the left side of the image (near where it necks down).

[2016-03-28 16:17] samreid commented on #19
I sampled from the neck on the left side and it seems a bit bright to me:

![image](https://cloud.githubusercontent.com/assets/679486/14082622/46441092-f4ce-11e5-91fe-ed3d73af6802.png)

[2016-03-28 16:21] ariel-phet commented on #19
I would try #DEB887 as the base color

[2016-03-28 16:21] samreid commented on #19
I tried to go halfway between the last two images, and it seems much better:

![image](https://cloud.githubusercontent.com/assets/679486/14082726/c9470c10-f4ce-11e5-9c7c-02ffbad6c030.png)

Pushing shortly for review.

[2016-03-28 16:22] ariel-phet commented on #23
Looks much better to me. Closing

[2016-03-28 16:22] #23 closed

[2016-03-28 16:22] samreid commented on #19
For reference, the above image is #deb47d, not too different from #DEB887

[2016-03-28 16:23] ariel-phet commented on #19
No worries, I suggested that hexcode before seeing your next comment

[2016-03-28 16:25] samreid commented on #19
This is #DEB887, I'm fine with either.

![image](https://cloud.githubusercontent.com/assets/679486/14082810/4ede77c8-f4cf-11e5-8b18-6a82c6038f42.png)

Pushing shortly...

[2016-03-28 16:26] samreid commented on #19
Pushed #DEB887 above, please pull master and review.

[2016-03-28 16:27] ariel-phet commented on #18
Thinness looks better.

I have to say...if possible, I think think have some gradient on the wire to make it look "shiny" would be nice. Perhaps a color closer to the "copper" end of the battery? Again, I know this is the realm of pixel polishing, but seems valuable since students apparently needed to differentiate wire and resistor more.

[2016-03-28 16:31] ariel-phet commented on #19
@samreid looking good. One other minor point...can we make the "bands" match the diameter of the resistor more closely. I find the fact that the stick out so much distracting when I change the resistance.

[2016-03-28 16:36] samreid opened #41 "Can we make the "bands" match the diameter of the resistor more closely?"
From #19, @ariel-phet said:

[2016-03-28 16:37] samreid commented on #19
Sure, we'll track that in #41

[2016-03-28 16:37] #19 closed

[2016-03-28 16:47] samreid commented on #40
This will be solved by marking vertices as `attachable:false`

[2016-03-28 17:15] ariel-phet commented on #20
@samreid - current pull of master is not showing solder connections, and connections are just breaking when I move a vertex point?

[2016-03-28 17:22] samreid commented on #20
Is this what you are seeing?

![touch](https://cloud.githubusercontent.com/assets/679486/14084290/464e5ddc-f4d7-11e5-9479-ed23ff7c9ee3.gif)

[2016-03-28 17:24] ariel-phet commented on #20
Nope...when I "attach" no background silver solder is formed, and when I drag the vertex as you do at a connection, it just splits.

[2016-03-28 17:24] ariel-phet commented on #20
(testing on chrome by the way)

[2016-03-28 17:25] samreid commented on #20
Clear cache?  Incognito mode?  Make sure all your repos pulled?  I'll also publish a dev version in case there's a problem on your side that you cannot easily overcome.

[2016-03-28 17:27] samreid commented on #20
Please test this version and report back:

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-basics/1.0.0-dev.4/circuit-construction-kit-basics_en.html

[2016-03-28 17:29] ariel-phet commented on #20
Same issues seen on that dev version (tested both chrome and FF)

[2016-03-28 17:30] arouinfar commented on #20
I'm also seeing the same issues as @ariel-phet in Chrome.

[2016-03-28 17:31] arouinfar commented on #20
It's the same in Safari too. When the nodes get attached, there is no soldering visible, and node can be broken by dragging the wires away from the vertex. Clicking on nodes does not reveal the scissors, and tapping to edit an element appears to be broken as well.

[2016-03-28 17:37] samreid commented on #20
I can reproduce the problem now, I'll look into it.

[2016-03-28 17:53] samreid commented on #40
Fixed above, closing.

[2016-03-28 17:53] #40 closed

[2016-03-28 18:01] samreid commented on #20
Fixed in the above commit, master should be OK now and I published dev.5 here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-basics/1.0.0-dev.5/circuit-construction-kit-basics_en.html

Reassigning to @ariel-phet to take a look.

[2016-03-28 18:10] ariel-phet commented on #20
@samreid layering looks good. I would suggest making the solder "blob" a bit smaller (20 percent or so) but keeping the dotted line as is. Right now the blob just feels a bit heavy handed and I think some more negative space between the blob and dotted line will be beneficial.

[2016-03-28 18:23] samreid commented on #20
In the above commit I reduced the radius by 20%, and it looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/14085931/d5d75eba-f4df-11e5-80b2-c1f13607dc1b.png)

@ariel-phet please pull and review

[2016-03-28 18:25] samreid opened #42 "Add some gradient on the wire to make it look "shiny""
From #18

@ariel-phet said:

[2016-03-28 18:26] samreid commented on #18
Since the wire thinness looks better, I'll close this issue.  The color/gradient will be tracked in #42

[2016-03-28 18:26] #18 closed

[2016-03-28 18:34] ariel-phet commented on #20
I find that look to be an improvement, Closing

[2016-03-28 18:34] #20 closed

[2016-03-28 18:34] arouinfar commented on #20
Great suggestion @ariel-phet. I think the nodes look much cleaner in @samreid's screenshot.

[2016-03-28 19:54] phet-steele opened #43 "This repo is considered "common" on phettest"
@samreid @jonathanolson this repo, CCKB, has been appearing on phettest as a common repo for some time now. See in the screenshot below CCKB is reffered to as a common repo in the red text on the top, and is not included in the list of sims. Check for yourselves on http://phettest.colorado.edu while using a VPN.
![cckcommon](https://cloud.githubusercontent.com/assets/5863899/14088391/71e5a1b6-f4ec

[2016-03-29 04:45] samreid commented on #43
It looks like adding circuit-construction-kit-basics (in the above commit) has resolved the issue:

![image](https://cloud.githubusercontent.com/assets/679486/14098208/b58348ca-f536-11e5-800b-6a7c445dd419.png)

[2016-03-29 15:22] samreid commented on #37
Alternatively, we could set flags on each component indicating whether it is black-box-external, black-box-interface, or black-box-internal.  That would be nice that the flags don't change when the mode changes, but then all of the drag logic would get that much more complicated.

[2016-03-29 17:12] andrewadare opened #44 "Black box obscures external circuit elements"
Z-ordering puts black box on top. Should this be changed?

![image](https://cloud.githubusercontent.com/assets/154163/14116860/22d30cb8-f59f-11e5-9f75-d30c39d0bdb4.png)

[2016-03-29 17:34] phet-steele commented on #16
Another occurrence on 3/29 automated test (10:00 AM).

[2016-03-30 03:32] samreid opened #45 "Divide by zero error when two terminal try to attach to the same vertex"
Divide by zero error when two terminal try to attach to the same vertex

![zero](https://cloud.githubusercontent.com/assets/679486/14131147/bedbfc18-f5f5-11e5-8f65-b1153127bde9.gif)

[2016-03-30 03:42] #45 closed

[2016-03-30 04:01] samreid opened #46 "The overlay makes it difficult to compare bulb brightness"
I chose an aggressive overlay to make it clear the "build" focus should be inside the black box.  However, this makes it very difficult to distinguish changes in brightness of the light bulb.  I suspect any non-trivial overlay would obscure the change in bulb brightness.

Investigate:
![image](https://cloud.githubusercontent.com/assets/679486/14131553/b0970d74-f5f9-11e5-9625-ad60ba7dce48.png)

Bui

[2016-03-30 04:06] samreid commented on #44
Likewise, the voltmeter is going behind the black box:

![image](https://cloud.githubusercontent.com/assets/679486/14131617/6c6b0e42-f5fa-11e5-8357-d1459a981820.png)

[2016-03-30 04:29] samreid commented on #37
This is looking much better after the above changes, I'm sure there are still details to address but those will be in separate issues.

[2016-03-30 04:29] #37 closed

[2016-03-30 04:29] samreid commented on #38
OK I'll continue with single vertices, closing.

[2016-03-30 04:29] #38 closed

[2016-03-30 04:29] samreid commented on #39
This is working nicely now, closing.

[2016-03-30 04:29] #39 closed

[2016-03-30 04:38] samreid commented on #41
Fixed above, looks like this now:

![image](https://cloud.githubusercontent.com/assets/679486/14132088/e5fb7c02-f5fe-11e5-8ce4-1096b128d2d9.png)

@ariel-phet review if you wish.

[2016-03-30 05:46] samreid commented on #42
I added a wire gradient in the above commit.  It is asymmetrical, and hence there is an angle at which the gradient flips.  I will need to ask @arouinfar and @ariel-phet if that is too distracting.  If so, we can try for a symmetrical gradient (or more subtle gradient) that doesn't need to flip.  But first I need to fix the highlight region.

[2016-03-30 05:59] samreid commented on #42
Highlight fixed above.  The new gradient looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/14133180/42b52596-f60a-11e5-9b61-c193f44af042.png)

@ariel-phet and @arouinfar please take a look and recommend changes.  You can also pull master to try it out or let me know if you'd like a published dev version.

[2016-03-30 06:04] samreid opened #47 "Voltmeter should read ? for disconnected circuits"
![image](https://cloud.githubusercontent.com/assets/679486/14133264/e7a5d76c-f60a-11e5-8773-c7d1936ecaf5.png)

[2016-03-30 14:55] ariel-phet commented on #41
Much better, closing

[2016-03-30 14:55] #41 closed

[2016-03-30 14:59] ariel-phet commented on #42
@samreid this definitely looks much more like a wire to me.

One suggestion I would have (but it is definitely not necessary for MVP) is to layer the solder blob above the wire, but below all other components. I think that would tend to make wire joints look nicer. But that would purely be an aesthetic change.

[2016-03-30 14:59] ariel-phet commented on #42
assigning to @arouinfar for her opinion

[2016-03-30 15:09] samreid commented on #42
This issue is about "Add some gradient on the wire to make it look "shiny"", which @ariel-phet approved in this comment: https://github.com/phetsims/circuit-construction-kit-basics/issues/42#issuecomment-203475993

Layering the solder blob above the wire is a separate issue, so I'll close this issue and create a new issue.

[2016-03-30 15:10] samreid opened #48 "Layer the solder blob above wires but below other components"
In https://github.com/phetsims/circuit-construction-kit-basics/issues/42#issuecomment-203475993 @ariel-phet said:

[2016-03-30 15:11] samreid commented on #48
Here's a pic of an odd-looking wire joint with the current layering:

![image](https://cloud.githubusercontent.com/assets/679486/14147112/71734686-f657-11e5-8f0f-9744d0011861.png)

[2016-03-30 15:26] samreid commented on #48
If we use a straightforward layering (with no clipping hacks) with the solder is always in front of wires and always behind all other components, this implies that wires could never go in front of other components, like this:

![image](https://cloud.githubusercontent.com/assets/679486/14147328/3428f8e2-f658-11e5-8558-4fb270409c62.png)

The solder is currently in a dedicated back layer.  But we cou

[2016-03-30 15:46] samreid commented on #48
I had an idea for a way to implement this, will investigate soon.

[2016-03-30 16:07] samreid commented on #48
My idea was to create a wire solder layer that is always in front, but the solder only shows if only wires are attached, but this yields this odd behavior where a component can go between the wires and the solder like this:

![image](https://cloud.githubusercontent.com/assets/679486/14148971/1cc84f8e-f65f-11e5-8608-5b09676cdc18.png)

So it seems to get this right we would need to interleave the so

[2016-03-30 16:59] samreid commented on #47
Fixed in the above commit, closing.

[2016-03-30 16:59] #47 closed

[2016-03-30 17:20] arouinfar commented on #35
In the Java version of CCK, the dotted lines are always layered above all circuit components. I've noticed that it's a bit more variable in master. When resistors and bulbs are dragged out of the toolbox the dotted lines are layered behind the component, but once a node is connected, the dotted line pops to the front. In Java (and the mockups) disconnected nodes are red, while those that are conne

[2016-03-30 17:21] arouinfar commented on #42
I think the gradient looks good @samreid!

[2016-03-30 18:01] samreid opened #49 "The voltmeter shouldn't read values for components behind the black box"

[2016-03-30 18:13] samreid commented on #49
Fixed, closing.

[2016-03-30 18:13] #49 closed

[2016-03-30 18:14] samreid opened #50 "The ammeter shouldn't report values for black box components"

[2016-03-30 18:19] arouinfar commented on #46
@samreid, the transparency overlay feels a bit too dark to me. Since the bulb brightness is proportional to the ray length, I don't think it will be difficult for students to interpret the brightness behind the screen, so long as it is transparent enough.  I can think of two alternatives.
* Try a white overlay with 50% opacity (as done in the mockups). The white screen may obscure the light a bit

[2016-03-30 18:21] samreid commented on #50
Fixed, closing.

[2016-03-30 18:21] #50 closed

[2016-03-30 18:24] samreid commented on #46
Here's the look in "investigate":

![image](https://cloud.githubusercontent.com/assets/679486/14152813/3552aa46-f672-11e5-9c8c-3b35e10661c8.png)

Here's with `{ fill: 'white', opacity: 0.5 }`

![image](https://cloud.githubusercontent.com/assets/679486/14152828/4f9298d0-f672-11e5-9ab4-b8d0558a3f74.png)

I'll commit and @arouinfar can take it for a test drive.

[2016-03-30 18:26] samreid commented on #46
It's committed above, @arouinfar can you test master and report back?

[2016-03-30 18:26] arouinfar commented on #46
Thanks @samreid! I'll pull the latest from phettest and take a look.

[2016-03-30 18:31] samreid commented on #16
After running the test twice, I saw the assertion error occur.

[2016-03-30 18:34] samreid commented on #16
The extra listener is added by Circuit.js:

[code]

[2016-03-30 18:44] samreid commented on #16
This problem is annoyingly difficult to duplicate, even after removing unrelated user interface components.

[2016-03-30 18:52] arouinfar commented on #46
Looks good @samreid! I think the ray-length is easily interpretable beneath the white transparency, while the bulb itself is clearly non-interactive (can't be moved/deleted).

[2016-03-30 18:55] arouinfar commented on #1
@samreid I somehow looked over this issue. Sorry for the delayed response.

I think the snappy-ness of 1 radius feels great, and I definitely prefer it to >4 radii. I can show this feature to Stanford next time I chat with them, but I think this issue can closed for now and reopened if it needs tweaking.

[2016-03-30 18:55] #1 closed

[2016-03-30 19:03] samreid commented on #46
Thanks for reviewing, I'll close the issue.

[2016-03-30 19:03] #46 closed

[2016-03-30 19:17] samreid opened #51 "Matrix is rank deficient"
Somehow the fuzz tester created this:

![image](https://cloud.githubusercontent.com/assets/679486/14154436/acfd2786-f679-11e5-9bd2-4fffea9b0c46.png)

![image](https://cloud.githubusercontent.com/assets/679486/14154442/b3db2ee0-f679-11e5-98a0-f3bd8bf0918e.png)

[2016-03-30 20:27] arouinfar commented on #42
@samreid since you've added a gradient to the wire, the icon in the toolbox should also be updated to match.  Currently, the wire segment in the toolbox is a simple stroke.
![image](https://cloud.githubusercontent.com/assets/8419308/14156324/0dd4987e-f683-11e5-8475-caecad5d8211.png)

[2016-03-30 21:43] arouinfar commented on #48
@samreid I think it would look much, much cleaner if the solder joint could obscure wire connections. That being said, I agree with @ariel-phet that this is not something that needs to be in the MVP, especially since it will clearly require some nuanced layering.

To summarize the above paragraph in a question: should we be able to drag a wire in front of a battery, if they are connected?

Regardl

[2016-03-31 01:00] samreid commented on #42
Updated in the toolbox:
![image](https://cloud.githubusercontent.com/assets/679486/14162489/8738834e-f6a9-11e5-9431-845000c8980f.png)

and Screen icon:
![image](https://cloud.githubusercontent.com/assets/679486/14162498/909ebdae-f6a9-11e5-81ae-47b7d1a5e547.png)

@arouinfar please take a look and let me know your thoughts.

[2016-03-31 01:19] samreid opened #52 "Black box "build" mode internal component doesn't connect to external component from "investigate""
Black box "build" mode internal component doesn't connect to external component from "investigate"

![noconnect](https://cloud.githubusercontent.com/assets/679486/14162773/38d68cde-f6ac-11e5-8071-a6ba1a9d0767.gif)

[2016-03-31 03:24] samreid opened #53 "Objects placed outside of the dev bounds can get lost when the window resized"
Objects placed outside of the dev bounds can get lost when the window resized

@arouinfar and @ariel-phet how would you recommend to address this problem?

![devbounds](https://cloud.githubusercontent.com/assets/679486/14164553/c0351cfc-f6bd-11e5-8687-38015f1de4e0.gif)

[2016-03-31 03:27] samreid commented on #53
I guess we could use the following algorithm:

when window resized:
for each vertex
if vertex out of visible bounds
  translate vertex and connected subgraph of circuit into bounds

This algorithm wouldn't know how to move circuit elements back where they came from, say if an iPad went from landscape => portrait => landscape again.

[2016-03-31 04:25] arouinfar commented on #42
Looks good, thanks! Closing.

[2016-03-31 04:25] #42 closed

[2016-03-31 15:37] samreid commented on #35
I temporarily assigned to me with the idea to create issues for the preceding comment, but on second thought waiting until design meeting sounds good.

[2016-03-31 16:49] arouinfar commented on #53
@samreid we dealt with a similar issue in Charges & Fields. Charges placed outside of dev will scoot with the edge of the window until the center of the charge is on the dev boundary. If the window is then expanded, the charge remains in place. I think this would be a good approach to take in CCK.

![caf_scoot](https://cloud.githubusercontent.com/assets/8419308/14183492/d759edca-f72d-11e5-87eb-ffb

[2016-04-01 15:11] samreid commented on #53
Thanks for the screencast, it seems like a good plan!

[2016-04-05 17:35] phet-steele commented on #16
@samreid happened two more times on 4/5/2016. The assertion in the commit immediately above was not thrown.

[2016-04-05 17:40] phet-steele commented on #16
Actually, the above stack trace only refers to one line in Circuit.js. Today's error was different in that it referred to this line 331 (in Circuit.js), too. Hope it helps.

[2016-04-05 17:41] phet-steele commented on #16
Probably safer if I just show you it :smile:
[code]

[2016-04-11 04:21] arouinfar opened #54 "Black box terminals disappear on Reset All"
Tested on dev.6 in latest Mac OSX/Chrome. The terminals at the edge of the black box disappear if the sim is reset.

Attach components to the black box in Investigate mode.
<img width="500" alt="cf6c1efe-444d-4db2-86de-da7b7359bdaf" src="https://cloud.githubusercontent.com/assets/8419308/14416668/167e3742-ff6a-11e5-8465-ada43e187e4c.png">

Switch to Build.
<img width="500" alt="61442668-e5bd-4485-

[2016-04-11 07:55] arouinfar opened #55 "Cannot reattach components to black box after severing connection"
Observed in dev.6.

If the connection between the black box and a component is severed (by the scissors or deletion), it is impossible to reattach a component to the black box node.

The gif below shows the current in the circuit at 1.20 amps before cutting the connection to the black box. The wire is reattached (wire snaps to node, but no solder appears) but the ammeter reads 0 amps. Clicking on

[2016-04-11 08:33] arouinfar opened #56 "Model of internal resistance in the wire differs from Java, does not scale with length"
While in the process of discovering the Warm-up black box is a wire, I realized the internal resistance of the wires in the HTML5 sim doesn't seem to match the Java version.

In dev.6, the internal resistance of the wire is not apparent unless the resistance in the circuit is otherwise 0. For example, a long wire in a circuit containing a 9V battery and 1 ohm resistor does not appear to have a mea

[2016-04-11 08:45] arouinfar opened #57 "Change Warm-up from wire to resistor"
I played around quite a bit with the Warm-up black box, and have concluded that there must be a wire hiding behind the box. However, due (at least in part) to #56 the interaction felt very buggy.

I do not think the wire is an appropriate challenge to introduce students to the game, given how easy it is to create a short circuit. I think it's best for the warm-up to be a single resistor. We could

[2016-04-11 08:53] arouinfar opened #58 "Investigate sensitivity of voltmeter probes"
@kathy-phet reported that

Oh my machine (latest Mac/Chrome), the probes seem fairly forgiving. The tip of the probes is not exactly on the node, but still reads.
![image](https://cloud.githubusercontent.com/assets/8419308/14421657/0d26632e-ff90-11e5-88a2-e9e4fd0ce50e.png)

However, I am unable to get a reading when the probe is centered on a vertical wire, though it works fine for horizontal wire

[2016-04-11 15:14] arouinfar commented on #26
@kathy-phet suggested

![image](https://cloud.githubusercontent.com/assets/8419308/14430641/a3dc77ac-ffbf-11e5-84a1-914afb544a24.png)

Currently, we are using the scenery bulb. Eventually the solder blob will be layered above the wire (#48) though this is not a required feature for the MVP. There has been lengthy discussion over the use of this bulb in https://github.com/phetsims/scenery-phet/issu

[2016-04-11 15:17] arouinfar commented on #30
@samreid to clarify, a pop-up window with side-by-side static images is necessary for the MVP, though we may need to do some pixel polishing.

[2016-04-12 16:59] phet-steele commented on #16
This happened yet again on 4/12/2016.

[2016-04-13 18:42] samreid commented on #7
Engin replied:

[2016-04-13 18:42] #7 closed

[2016-04-15 03:42] samreid commented on #6
This project is underway and the outstanding work is tracked in open issues, closing.

[2016-04-15 03:42] #6 closed

[2016-04-15 03:49] samreid opened #59 "10 TODOs in the code"
Currently there are 72 TODOs marked in the code.  These should be fixed, converted to issues, or documented why they do not need to be fixed.

[2016-04-15 04:41] samreid opened #60 "Credits"
@arouinfar can you please document the credits and make a note of it here in the issue?

[2016-04-15 17:07] samreid commented on #59
I'm down to 60 issues.

[2016-04-15 17:53] samreid opened #61 ""Build a Circuit that behaves the same way" gets overlapped"
If you build a circuit around the black box and avoid the "what is in the black box" text, it will lead to putting components beneath the black box (because the "what is" text is above the black box), then when it shows the "Build a circuit that behaves the same way", that text gets obscured like so:

![image](https://cloud.githubusercontent.com/assets/679486/14570249/8bf50c32-0300-11e6-9002-8bbb3

[2016-04-15 18:27] arouinfar commented on #61
@samreid yes, let's move the "Build a circuit that behaves the same way." text up to the top so it doesn't get obscured.

[2016-04-15 18:37] arouinfar commented on #60
@samreid here are the credits:
Amy Rouinfar (lead designer)
Michael Dubson
Ariel Paul
Kathy Perkins
Sam Reid (developer)
Bryce Gruneich (graphic arts)

For ports, we typically also credit the original design team. I don't think that applies to CCK: Black Box, since it is not really a redesign of Java CCK. CCK: Basics seems like a more appropriate place to credit the original team.

[2016-04-15 19:32] samreid opened #62 "The top half of LinearCircuitSolution.getCurrent doesn't appear used"
Perhaps it is necessary for other features that have not been implemented yet, or perhaps it can be deleted?

Not necessary for MVP.

[2016-04-15 20:00] samreid commented on #59
47 TODO to go

[2016-04-19 18:57] samreid opened #63 "Highlight toolbox if something could drop into it"
I considered adding a feature that makes it clear whether something would drop in a toolbox.  Perhaps the toolbox should highlight if something (that it accepts) is dragged across it.  I'm not aware of this being a problem, but it could be a nice embellishment to the simulations.

@arouinfar @ariel-phet have we done anything like this before?  If we do something here, how should it look?

[2016-04-19 19:00] samreid commented on #59
29 TODOs to go, all in the common/view directory

[2016-04-19 19:11] arouinfar commented on #63
@samreid I am not aware of this behavior in any of our published sims, but I do like the general idea. However, this is not a feature necessary for the MVP, so we don't need to worry about it just yet.

I'll tag it for design meeting, so that we can discuss it for future iterations.

[2016-04-20 01:48] samreid opened #64 "Factor out code to ignore non-left mouse button?"
Factor out code to ignore non-left mouse button?

See https://github.com/phetsims/charges-and-fields/issues/76

[2016-04-20 04:31] samreid opened #65 "Voltage reading on wire should be proportionate to distance across wire (like potentiometer)."
Similar to #56 the voltage should drop proportionately to length across the wire.

[2016-04-20 04:39] samreid opened #66 "Simplify Matrix Math"
From a TODO, I have this code:

[code]

Would it be better to create a single Matrix and set in one step?  Or is the above code good because scenery batches transforms?  @jonathanolson what would you recommend here?

[2016-04-20 04:42] samreid commented on #59
I am down to 14 TODOs in the code, all in one file: CircuitNode.js.  This cleanup work has been going very smoothly and well worth the time spent.  Tagging many TODOs early on helped me get to the big picture issues of architecture more quickly and without forgetting to clean them up afterwards.

[2016-04-20 17:26] jonathanolson commented on #66
The fastest code would probably have a persistent scratch matrix which is set it one step, and be something like:
[code]

For more readability, you can compose operations on the matrix:
[code]

Scenery does do some non-batched work when making those changes, so it's generally a bit more ideal to do it once (particularly if you are under a bounds listener).

That said, you could also just consolida

[2016-04-20 18:16] samreid opened #67 "Rotate components attached to an unmovable vertex"
Currently a fixed length circuit element cannot be rotated when it is anchored to an unmovable vertex.

This is probably not be necessary for MVP.

![image](https://cloud.githubusercontent.com/assets/679486/14685379/9d6d79b4-06f1-11e6-81d0-816a0a27e396.png)

[2016-04-20 18:18] samreid opened #68 "Keep object groups in bounds during a drag"
Similar to #53 objects should not be draggable outside of the visible bounds.  Probably not necessary for MVP

[2016-04-20 18:21] samreid commented on #59
All TODOs addressed or moved to other issues, closing.

[2016-04-21 02:42] samreid commented on #53
Fixed for vertices above, I'll create a separate issue for probes.

[2016-04-21 02:42] #53 closed

[2016-04-21 02:42] samreid opened #69 "Voltmeter and ammeter placed outside of the dev bounds can get lost when the window resized"
From #53, Voltmeter and ammeter placed outside of the dev bounds can get lost when the window resized

[2016-04-21 02:43] samreid commented on #68
Fixed above, closing.

[2016-04-21 02:43] #68 closed

[2016-04-21 02:50] samreid commented on #60
Thanks @arouinfar, I've added that part.

[2016-04-21 02:50] #60 closed

[2016-04-21 02:51] samreid opened #70 "Credits for QA team"
From #60, we need to add credits for the QA team.  @ariel-phet would you like to give a prospective list now or wait until we are closer to testing?

[2016-04-21 02:53] samreid commented on #61
Fixed, closing.

[2016-04-21 02:53] #61 closed

[2016-04-21 02:55] samreid opened #71 "Memory leak test"
From https://github.com/phetsims/tasks/issues/546 we should check memory leaks in this sim.

[2016-04-21 02:58] samreid commented on #71
* launch sim with fuzzMouse=100
* wait 30 seconds
* take 1st heap snapshot
* wait 15 seconds
* take 2nd heap snapshot

There is a serious leak:
![image](https://cloud.githubusercontent.com/assets/679486/14696698/87a42404-073a-11e6-8217-f25d931bedac.png)

Approximately leaking 6MB/sec 😟

[2016-04-21 03:36] samreid commented on #71
The fixes above reduce the severity of the leak significantly, but we still have a ways to go.

[2016-04-21 17:32] ariel-phet commented on #70
Steele, Bryce, Ben, Elise

[2016-04-21 17:36] samreid commented on #70
I put the QA credits as Steele Dalton, Bryce Griebenow, Elise Morgan, Ben Roberts, can you check the last names and close if correct?

[2016-04-21 17:48] ariel-phet commented on #70
Correct

[2016-04-21 17:49] #70 closed

[2016-04-23 14:18] samreid commented on #66
This is non-critical for MVP, so I'll deprioritize.

[2016-04-23 15:14] samreid commented on #56
I'm moving the fire artwork to a separate issue.

[2016-04-23 15:16] samreid opened #72 "Add fire artwork"
From #56, we may need to add fire artwork, @arouinfar said:

![image](https://cloud.githubusercontent.com/assets/679486/14762292/dc4ab0ea-0933-11e6-856d-56fb818309bb.png)

@arouinfar do you want different image files for the flame or any changes to how it appeared in the Java one (such as animating it, etc?)

[2016-04-23 15:23] samreid commented on #57
Fixed as described above, closing.

[2016-04-23 15:23] #57 closed

[2016-04-23 15:28] samreid commented on #51
I've made it so that fixed length elements cannot connect to the same fixed subgraph:

![image](https://cloud.githubusercontent.com/assets/679486/14762365/b4db98d8-0935-11e6-89d3-e63b5e45aea3.png)

Hopefully this has solved the problem.  If not, let's reopen this issue.

[2016-04-23 15:28] #51 closed

[2016-04-23 17:50] arouinfar commented on #72
Let's use the Java artwork for now @samreid. I will work on creatinf new artwork when I return from vacation.

[2016-04-23 18:14] samreid commented on #71
I'm having trouble making progress here because there is so much scenery noise, which I am not sure whether my application is responsible for or not.  In particular, many allocations still have a retainer through `previousFirstDrawable` and `previousLastDrawable`

[2016-04-23 18:31] samreid commented on #71
I've addressed many leak issues above but it is difficult to proceed while https://github.com/phetsims/scenery/issues/542 is a problem.  I'll put this issue on hold until we can discuss the scenery issue with @jonathanolson

[2016-04-23 18:43] samreid commented on #26
So it would look like this?

![image](https://cloud.githubusercontent.com/assets/679486/14763361/c96e5b12-0950-11e6-90dc-5d1019f67020.png)

In the Java one I recall a feature to toggle the connection side for the light bulbs.  Are we doing that for the HTML5 one?  If so, should it appear in the light bulb edit panel at the bottom of the screen (which appears when the light bulb is tapped)?

[2016-04-23 19:04] arouinfar commented on #26
@samreid that looks good. We can discuss the toggle in design meeting, but it's not necessary for the MVP. The light bulb edit panel seems like a logical place to put it.

Can you comment out the code for the side connection? That way we can add it back later.

[2016-04-23 19:29] samreid commented on #26
I didn't implement it yet, the pic above is a mockup.

I'm confused.  Is the side connection not necessary for MVP?

[2016-04-23 19:46] arouinfar commented on #26
Ah, I misinterpreted your earlier comment @samreid. I thought you had implemented the bottom/side connection. My bad!

Bottom/side connection is preferred for MVP. How much work would it take to switch the connections? The bulb artwork would stay the same. We wouldn't add the connection toggle to the MVP, but it would nice to keep the code somewhere if we decide to add that functionality to future

[2016-04-24 12:23] samreid commented on #26
Probably half a day for the initial implementation, then a bit of scattered time for maintenance.  Since switching the connections is not necessary for MVP, I'll create a new, regular priority issue.

[2016-04-24 12:24] samreid opened #73 "Add a user interface for which side the bulb connects on"
See #26, it could appear in the light bulb edit panel at the bottom of the screen (which appears when the light bulb is tapped).

Not necessary for MVP.

[2016-04-24 12:25] samreid commented on #73
Radio buttons seem like the right user interface component for this.

[2016-04-24 12:26] samreid commented on #73
From @arouinfar comment:

it is unclear whether we want this functionality at all.  I'll assign it to her for discussion at an upcoming design meeting.

[2016-04-24 14:03] samreid commented on #26
I moved the bulb connection points above, it should be reviewed.

[2016-04-24 14:04] samreid commented on #26
Here's the latest snapshot of the implementation:
![image](https://cloud.githubusercontent.com/assets/679486/14768036/2f03375c-09f3-11e6-9f7c-1e1c76ff7c0e.png)

[2016-04-24 14:09] samreid commented on #26
New bulb is visible here, @arouinfar can you take it for a test drive?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-basics/1.0.0-dev.7/circuit-construction-kit-basics_en.html

I'm aware the implementation differs from the mock-up a bit (different side and connection points closer to the bulb), but this was a bit simpler.  Let me know if changes are necessary for MVP or de

[2016-04-24 14:42] samreid commented on #16
The vertex positionProperty is somehow getting two similar but different listeners:

![image](https://cloud.githubusercontent.com/assets/679486/14768191/68c6bbe4-09f8-11e6-8296-4cd9744c23b5.png)

[2016-04-24 14:48] samreid commented on #16
Ah, the problem is that the black box vertices have two circuits, and are only getting removed from one of them.

[2016-04-24 15:36] arouinfar commented on #26
@samreid I think the screenshot looks good. Moving the nodes to simplify the implementation seems reasonable to me.

I will play with the dev version later and get back to you. Thanks!

[2016-04-24 16:55] samreid commented on #16
Fixed above, @phet-steele please repoen if this bug occurs again.

[2016-04-24 16:55] #16 closed

[2016-04-24 18:02] samreid commented on #30
I realized a shortcut that could take an order of magnitude less time to implement: the "Reveal" button could decrease the transparency of the black box.  It could work like this:

1. the user selects "build" mode and attaches at least one component to the user-created black box
2. the reveal button becomes enabled
3. while reveal is pressed, it toggles back to "investigate" and reduces the opacit

[2016-04-24 21:18] arouinfar commented on #30
@samreid I'm all for time-saving measures. This seems reasonable, but I'm not entirely sure how Reveal works. Do users need to hold the button down and keep holding it down? That interaction doesn't seem very intuitive.

Or is it more like a radio button that is on/off, where "on" is step 3 of your description, and "off" is step 4? What happens if Reveal is on, and a student clicks on Build Circui

[2016-04-24 23:29] samreid commented on #30
Perhaps press-and-hold wouldn't be obvious, but when users tap and release and see the answer flicker, it may become obvious.  Having a press-and-hold button may solve issues about users trying to build a circuit while "reveal" is on, though this only helps for mouse (perhaps ok for MVP) and not for multitouch.

I agree the users should be able to easily switch between the revealed black box and t

[2016-04-25 01:28] samreid commented on #44
Fixed above by interleaving the black box node in the circuit nodes, will need testing since now we run the risk of an operation putting the black box circuitry in front.

[2016-04-25 02:46] samreid commented on #44
Fixed one error case above.  Others should be reported in new issues, closing.

[2016-04-25 02:46] #44 closed

[2016-04-25 02:49] samreid opened #74 "Connected wires should be nearby in z-ordering"
From #48

Regardless of solder layering, it looks like there's some funkiness with the layering. Selecting an item does not bring it to the front (left). It's also possible to drag a wire through the connection of two other wires (right).

![image](https://cloud.githubusercontent.com/assets/8419308/14151790/ed82527a-f66c-11e5-84b1-faa0d4ef150f.png)        ![image](https://cloud.githubusercontent.c

[2016-04-25 02:50] samreid commented on #48
This issue has been reported as not-for-MVP, and I created a side issue for the problem reported in the previous comment.  Demoting priority.

[2016-04-25 02:53] samreid commented on #52
Fixed, probably due to refactoring in the black box model that fixed the vertex listener problem #16, closing.

[2016-04-25 02:53] #52 closed

[2016-04-25 04:33] samreid commented on #54
Fixed, most likely during refactoring for #16, closing.

[2016-04-25 04:33] #54 closed

[2016-04-25 04:35] samreid commented on #55
I have reproduced this problem, thanks for the report.

[2016-04-25 05:37] samreid commented on #55
Fixed in above commit, would be good to get tested once a new version is published.  Putting on hold until then.

[2016-04-25 05:38] samreid commented on #69
I'll demote this priority since it doesn't seem critical for MVP.

[2016-04-25 09:35] arouinfar commented on #73
Thanks for opening this issue @samreid. We should discuss if we want to add this functionality, and if so, how the UI should appear. I agree that radio buttons do seem like a good option. Tagging for design meeting.

[2016-04-25 09:51] arouinfar commented on #74
@samreid, the layering seems a bit like an edge case. Under normal circumstances, I don't think students should run into blocking issues. We can warn Stanford that the layering is not perfect, and that it's possible for students to run into situations like the ones pictured above.

[2016-04-25 10:45] arouinfar commented on #26
Dev version feels good @samreid!

[2016-04-25 11:25] arouinfar commented on #30
Good point @samreid. Now that I think about it more, the press-and-hold paradigm seems like a more straight-forward approach. I think it will work for Stanford's interview study this Spring, and may even scale up well for their planned classroom study this Fall.

We will need to work more on the restrictions around when "Reveal" would become available for the Fall study. For the Spring study, the

[2016-04-25 12:08] #26 closed

[2016-04-25 15:56] samreid opened #75 "PhET Black Box: When revealing the answer, show component values"
In #30 there is a "reveal answer" mockup, but the component values (such as battery voltages) are not shown.  Should we show them in the revealed answer?

[2016-04-25 16:59] samreid opened #76 "Deleting a circuit element connected to a black box interface vertex from the inside deletes the vertex"
![image](https://cloud.githubusercontent.com/assets/679486/14791812/b6d8386c-0ad4-11e6-9177-6a4de750eb0e.png)

[2016-04-25 17:18] samreid commented on #30
Committed a reveal button above, and it is enabled when the user has connected a component to a black box interface vertex.  Putting on hold until a version is published for review.

[2016-04-25 17:52] samreid commented on #56
The Java model for resistivity is:

[code]
and a wire stretching diagonally across the screen is this long:
[code]
and the resistivity slider varies between DEFAULT_RESISTIVITY and 1.0.

The resistance = length*resistivity.

[2016-04-25 18:43] samreid commented on #56
A wire that stretches across the screen in HTML5 is 990 screen pixels long, so we'll scale it for consistency.

[2016-04-25 18:59] samreid commented on #56
In the above commit, wire resistivity is modeled as in the Java one.  Would be good to have @arouinfar double check the physics once a new dev version is published.  Putting on hold until then.

[2016-04-25 19:30] samreid commented on #58
I put a debug shape on the hit area for wire and black dot on the red vertex.  This is reporting a hit even though it is far from the hit area:

![image](https://cloud.githubusercontent.com/assets/679486/14796303/e53619b2-0ae9-11e6-9666-637856dd3042.png)

[2016-04-25 19:32] samreid commented on #58
Testing whether this could be a kite bug: the problem is still there if I use square caps.

[2016-04-25 19:42] samreid commented on #58
The probe was incorrectly using the top-left of the bounding box of the probe instead of the top center.

[2016-04-25 19:45] samreid commented on #58
Fixed above, closing.

[2016-04-25 19:48] samreid opened #77 "The metallic part of the voltmeter probes should be conductive"
From #58, only the _point at the very tip_ of the voltmeter probes are being used for hit testing, not the entire silvery metal conducting-looking part.  We should made the entire tip conductive, perhaps by sampling points along it (since shape shape intersection is difficult in HTML5).  @arouinfar should we do this before MVP or is it OK for now since #58 is solved? (You can test #58 in next publ

[2016-04-25 20:07] samreid opened #78 "Bulb gets a faint glow even when disconnected"
![image](https://cloud.githubusercontent.com/assets/679486/14797250/0797705a-0aef-11e6-8664-11af38c9e29f.png)

[2016-04-25 20:10] samreid commented on #65
Fixed, looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/14797304/524b1b4c-0aef-11e6-877c-65e56cc68673.png)

Should be tested by @arouinfar in next published version, putting on hold until then.

[2016-04-25 20:11] samreid commented on #58
Let's leave this open for testing.  On hold until a new version is published.

[2016-04-25 20:34] samreid commented on #55
This solution is at odds with https://github.com/phetsims/circuit-construction-kit-basics/issues/76

[2016-04-25 21:10] samreid commented on #55
Fixed above, but this may have introduced some new issue. Black box will need significant testing.

[2016-04-25 21:10] samreid commented on #76
Fixed above, but this may have introduced some new issue. Black box will need significant testing.

[2016-04-25 21:14] samreid commented on #78
Likewise the ammeter reads out a value now, this problem was introduced when resistivity was introduced:

![image](https://cloud.githubusercontent.com/assets/679486/14799171/6cf0cb78-0af8-11e6-9297-d6f4abcd35c0.png)

[2016-04-25 21:51] samreid commented on #78
For this circuit:

![image](https://cloud.githubusercontent.com/assets/679486/14800132/0a80e388-0afd-11e6-9b37-e9d44351aa5a.png)

I have these A and z matrices:
[code]

Dot/Matrix reports the solution as:

[code]

But this doesn't seem right.  Testing in an online matrix calculator at http://www.bluebit.gr/matrix-calculator/linear_equations.aspx, I see:

![image](https://cloud.githubusercontent.co

[2016-04-25 23:13] samreid commented on #78
I decided to compare to JAMA.

[code]

gives:

[code]

Hypotheses to test next:
* JS is using lower precision and that is responsible for this large discrepancy
* There is an issue in our QR decomposition solver

[2016-04-25 23:54] samreid commented on #78
I hacked JAMA's Matrix.java to use float for QR decomposition and solve, and it still got the same answer.

[2016-04-26 00:28] samreid commented on #78
Here is Jama's RDiag:

[code]

[2016-04-26 00:28] samreid commented on #78
Here is the DOT code:

[code]

with the result:
[code]

[2016-04-26 00:36] samreid commented on #78
Here is DOT's RDiag:
[code]
Compare to JAMA:
[code]

Here is the difference:
[code]

[2016-04-26 00:39] samreid commented on #78
If I substitute JAMA's Rdiag into DOT, then the answer is a bit closer:

[code]

[2016-04-26 03:03] samreid commented on #78
If I make the following changes to DOT, then the answer comes out much more accurately:

Matrix.js
[code]

in QRDecomposition:
[code]

The answer comes out as:
[code]

[2016-04-26 03:09] samreid commented on #78
I'm ready for advice from @jonathanolson.  Current thoughts:
1. I'd like to be able to solve equations like the ones generated by CCK with high accuracy.
2. I'd prefer not to fork DOT/Matrix and DOT/QRDecomposition
3. I don't want to slow down DOT/Matrix or make it more complicated to accommodate different use cases.

What do you recommend?

[2016-04-26 03:47] samreid commented on #78
@jonathanolson and I discussed this in the dot issue noted above.  Solution is now very accurate, closing.

[2016-04-26 03:47] #78 closed

[2016-04-26 03:54] samreid commented on #30
Initial version is visible here, @arouinfar can you take a look?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-basics/1.0.0-dev.8/circuit-construction-kit-basics_en.html

[2016-04-26 03:55] samreid commented on #55
Fixed here, @arouinfar can you test a variety of actions in the black box screen and see if any trouble arises?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-basics/1.0.0-dev.8/circuit-construction-kit-basics_en.html

[2016-04-26 03:55] samreid commented on #56
@arouinfar can you please test this version at your convenience?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-basics/1.0.0-dev.8/circuit-construction-kit-basics_en.html

[2016-04-26 03:56] samreid commented on #58
Fixed as described above, @arouinfar can you please verify?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-basics/1.0.0-dev.8/circuit-construction-kit-basics_en.html

[2016-04-26 03:56] samreid commented on #65
@arouinfar can you please test this version?

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-basics/1.0.0-dev.8/circuit-construction-kit-basics_en.html

[2016-04-26 03:58] samreid commented on #76
@arouinfar can you test this specific behavior in the latest version?

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-basics/1.0.0-dev.8/circuit-construction-kit-basics_en.html

[2016-04-26 04:00] samreid opened #79 "When should we record the user-created circuits?"
For the research project, when should we record the user-created circuits?  Just when pressing "reveal", or continuously (as a function of time as it is being built?)

[2016-04-26 05:38] samreid commented on #74
@arouinfar I have been treating wires asymmetrically because it looked odd to me for the wires to go in front of the other components.  What do you think?  Can you discuss general rules for layering that will be best?  We can discuss at a design meeting if you wish.

[2016-04-26 05:51] samreid commented on #69
Fixed, closing.

[2016-04-26 05:51] #69 closed

[2016-04-26 05:57] samreid commented on #67
After investigating this, it seems like it could be more than 2 hours to implement (and more if we try to handle the arbitrary case of other components connected to the black box vertex).  So I'd rather check about how important it is before spending time.  @arouinfar what do you think?

[2016-04-26 06:19] samreid commented on #66
Fixed using scratch matrices and working nicely, thanks @jonathanolson!

[2016-04-26 06:19] #66 closed

[2016-04-26 06:20] samreid commented on #64
On hold until we hear back from @jonathanolson on the charges and fields issue.

[2016-04-26 06:27] samreid commented on #48
Fixed above and looking good in a variety of cases:

![image](https://cloud.githubusercontent.com/assets/679486/14808802/998398d0-0b45-11e6-92ed-9d30b795aae4.png)

However, I suspect that there will be many corner cases we will have to address.  I'll leave this issue open to request @arouinfar to test the layering of solder, but please report issues in new issues.

[2016-04-26 06:42] samreid commented on #36
Fixed above.  I suspect we'll discover corner cases that aren't handled in the logic, but the parts I tested are working nicely.  If new problems are discovered they can be reported in new issues, but I suspect we'll come across them naturally and we don't need to create a testing task.

[2016-04-26 06:42] #36 closed

[2016-04-26 18:39] samreid commented on #71
The scenery issue may be a red herring.  Subsequent allocations don't show as leaks.  Reopening for continued investigation.

[2016-04-27 09:45] arouinfar commented on #55
Fixed! Thanks @samreid.

[2016-04-27 09:45] #55 closed

[2016-04-27 09:53] arouinfar commented on #48
@samreid it doesn't appear that this issue was resolved in dev.8, so I tried to pull master to take a look. There's no repo visible for Black Box on phettest, and it appears that circuit-construction-kit-basics is now actually housing CCK: Basics, not Black Box. (It used to be Black Box.)

![image](https://cloud.githubusercontent.com/assets/8419308/14848508/46c187a8-0c83-11e6-9b8e-564f2c73192a.png

[2016-04-27 09:59] arouinfar commented on #58
Probe sensitivity is spot-on in dev.8. Closing!

[2016-04-27 09:59] #58 closed

[2016-04-27 10:05] arouinfar commented on #67
This is definitely not important for the MVP @samreid, but it would be good to fix for future iterations.

[2016-04-27 10:08] arouinfar commented on #76
I haven't been able to reproduce this in dev.8 @samreid. Closing.

[2016-04-27 10:08] #76 closed

[2016-04-27 10:10] arouinfar commented on #77
@samreid, I don't think this is something we need to tackle for the MVP. Actually, I didn't notice any issues when testing #58, so I'm not sure if we need to make the entire probe tip conductive.

[2016-04-27 10:12] arouinfar commented on #77
The voltmeter is used in several simulations, so it may be worth discussing making the entire tip conductive. But this seems more like a discussion around how a common component should behave, and less specific to CCK. I'll tag it for future discussion in design meeting.

[2016-04-27 10:22] arouinfar commented on #79
I would imagine that data would need to be recorded while the circuit is being built, not just when "Reveal" is pressed, but this is probably something @samreid should discuss with Engin.

Data outfitting is not necessary for the MVP, but is likely a desired feature for the upcoming classroom study this Fall.

[2016-04-27 10:43] arouinfar commented on #65
Looks great @samreid! Closing.

[2016-04-27 10:43] #65 closed

[2016-04-27 10:46] arouinfar commented on #56
@samreid this looks good to me. Thanks!

[2016-04-27 10:46] #56 closed

[2016-04-27 18:39] samreid commented on #48
Sorry, this fix was made after dev.8, can you please take a look at http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box/1.0.0-dev.9/circuit-construction-kit-black-box_en.html

[2016-04-27 20:24] samreid opened #80 "Light bulbs lost their highlight"

[2016-04-27 20:37] #80 closed

[2016-04-28 16:28] samreid opened #81 "Highlight is in the wrong spot"
![image](https://cloud.githubusercontent.com/assets/679486/14893225/bc454c64-0d2b-11e6-8759-3bd7901846a8.png)

Select "build", add a battery to the inside of the box, select "investigate", select "build", select the battery, the highlight is in the wrong spot.

[2016-04-28 16:43] samreid commented on #81
Fixed, closing.

[2016-04-28 16:43] #81 closed

[2016-04-29 02:29] samreid opened #82 "Publish a new version for design team testing"
I'm switching back to phet-io code for a week but would like to publish a CCK Black Box for review by the team.  I need to test things for some 15 minutes first to make sure it is ready for a snapshot.

[2016-05-01 14:54] samreid opened #83 "Rename this repo to "circuit-construction-kit""
As discussed last Thursday, Circuit Construction Kit (the non-basics) version is not too far in the future.  So we'll rename this repo to "circuit-constrution-kit" and create another "thin wrapper" repo for the basics variant.

[2016-05-01 14:58] samreid commented on #82
I took a quick look and did not see anything that would contraindicate testing by the design team, so I posted a version here for testing:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box/1.0.0-dev.10/circuit-construction-kit-black-box_en.html

[2016-05-01 15:01] samreid commented on #82
I emailed the design team:

 Kathy, Ariel, Amy,

Can you please test CCK Black Box at this URL:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box/1.0.0-dev.10/circuit-construction-kit-black-box_en.html

Please report new issues in GitHub and report as "should be fixed before we share 1st version with Stanford", "should be fixed before Stanford can use it with student

[2016-05-02 18:11] arouinfar commented on #48
Looks great @samreid!

[2016-05-02 18:17] arouinfar commented on #30
@samreid, I worked through half of the black boxes and the reveal mechanism is feeling pretty smooth. My only request would be to kill the "What circuit is in the black box?" prompt. It seems unnecessary and I think it has the potential to be a little confusing.

[2016-05-02 18:18] samreid commented on #30
Should we leave the "Build a circuit that behaves the same way." text or remove it too?

[2016-05-02 18:41] arouinfar commented on #30
I think it's fine to leave the "Build a circuit..." text @samreid.

[2016-05-02 18:51] arouinfar commented on #75
Great question @samreid! For resistors, the bands serve as a visual indicator. It's pretty clear if your resistor is or isn't a match to what's in the black box, though students may need to consult a chart if they want to know the precise value of the resistance. Batteries, on the other hand, do not have any visual indicator of their voltage, but it can easily be found with the voltmeter. I think

[2016-05-02 19:06] arouinfar opened #84 "Text in meters moves with large strings"
Observed in dev.10. Should be fixed before Stanford can use it with students.

If a large string is encountered, the meter label and readout window will shift to the left. Repeating a measurement with a large string will continue to move the text. To fix the issue, the browser needs to be refreshed. Reset all does fix the issue.

![currentmeter](https://cloud.githubusercontent.com/assets/8419308/1

[2016-05-02 19:22] arouinfar commented on #67
@samreid Originally I thought about this issue as it relates to attaching external components to the black box. However, this issue makes it a bit tricky to make more advanced black boxes, like the one below.

<img width="315" alt="screen shot 2016-05-02 at 11 42 49 pm" src="https://cloud.githubusercontent.com/assets/8419308/14964930/cd691646-10bf-11e6-9a47-8d787e81bdfc.png"><img width="300" alt="

[2016-05-02 19:28] arouinfar commented on #74
@samreid I agree that it would look a bit odd for wires to go in front of other components. Can contiguous wire pieces be considered a single wire for layering purposes? For example, in the screenshot on the right above, could the two wires connecting the right side of the resistor to the right side of the bulb live in the same layer? It seems like that would prevent the bisecting issue.

[2016-05-02 22:27] ariel-phet commented on #67
@arouinfar @samreid

I would say this is quite important for the "build" mode

I see two options:

1. implement the ability to rotate when attached to a fixed vertex

2. give the black box internal "wire stubs" at each vertex, this seems to fix the issue (as shown below)

![cck](https://cloud.githubusercontent.com/assets/4051174/14969965/a56f8a68-1082-11e6-801e-23bb231b2134.PNG)

Back to you @arou

[2016-05-02 22:47] samreid commented on #67
I expect adding rotation for components connected to the black box vertices would be simpler than adding wire stubs, I'll assign to myself for implementation but @arouinfar please weigh in if you have other thoughts or suggestions.

[2016-05-03 04:16] arouinfar commented on #67
Thanks @ariel-phet, and I like your suggestion. However, please feel free to take the whatever approach you find the simplest @samreid.

[2016-05-06 15:52] samreid commented on #83
I just renamed the repo.

[2016-05-06 16:14] samreid commented on #83
Renaming complete, closing.

[2016-05-06 16:14] #83 closed

[2016-05-06 19:19] #30 closed

[2016-05-06 20:10] samreid commented on #84
Putting a max width on this text works nicely:
![image](https://cloud.githubusercontent.com/assets/679486/15084954/38e8eb5e-1394-11e6-8f96-6ed294cf70c1.png)

[2016-05-06 20:10] samreid commented on #84
Max width committed above, closing.

[2016-05-06 20:10] #84 closed

[2016-05-06 20:36] samreid commented on #67
In the above commit you can rotate a component when it is only connected to a black box vertex.  It would be more work to make it rotateable when it is also attached to other things.

[2016-05-06 21:48] phet-steele commented on #43
@samreid hate to ask, but can you do this again? The renaming of this repo is to blame :smile:, so CCK needs to be put into active-sims.

[2016-05-08 16:27] samreid commented on #43
I'm confused about how phettest.colorado.edu deals with common repos.

At the top I see
![image](https://cloud.githubusercontent.com/assets/679486/15098955/218e536c-1507-11e6-8a07-4062190e197b.png)

in the sims I see:
![image](https://cloud.githubusercontent.com/assets/679486/15098956/2a18f8a2-1507-11e6-946d-0e0489247a5b.png)

As of writing, active-repos has:
![image](https://cloud.githubuserconte

[2016-05-08 16:32] samreid commented on #67
Fixed above, will need testing in next version.

[2016-05-08 16:34] samreid commented on #75
I'll remove the high-priority label.

[2016-05-08 16:35] samreid commented on #82
@arouinfar responded:

Amy

[2016-05-08 16:35] #82 closed

[2016-05-08 16:40] samreid commented on #10
Another request for non-ohmic:
![image](https://cloud.githubusercontent.com/assets/679486/15099053/44a9055c-1509-11e6-92cd-c7d31fb4736a.png)

[2016-05-09 00:41] samreid opened #85 "Test a version for Stanford"
In #82 I posted a version of Black Box for design team testing.  I've fixed issues #30, #84 and #67 and all other reported issues are "not for MVP", so we can create a MVP release candidate.  I'll publish a version, take it for a test drive on a few platforms and if I don't see any blocking issues I'll request broader testing from the CCK Black Box team.  If all goes well, we could deliver that ve

[2016-05-09 01:43] samreid commented on #85
Published here, I'll test a few browsers before I request help from the rest of my team:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box/1.0.0-dev.11/circuit-construction-kit-black-box_en.html

[2016-05-09 01:50] samreid opened #86 "Light bulb gets into an odd situation"
Discovered in #85, sometimes the light bulb gets into an odd situation:
![image](https://cloud.githubusercontent.com/assets/679486/15101881/12e8e8c8-1556-11e6-9249-23c83c22c445.png)

[2016-05-09 01:50] samreid commented on #86
It's not clear from the pic, but the battery and light bulb are connected (and a connection point from the bulb is missing).

[2016-05-09 01:54] samreid opened #87 "Ammeter/voltmeter does not read values from inside the black box during "reveal""
During #85, I was comparing my circuit to the black box circuit using "reveal" and realized that we have programmed the probes to not read values from inside the black box--this also applies while the black box is in the partially-transparent "reveal" mode.  @arouinfar can you recommend how to proceed?

[2016-05-09 02:09] samreid commented on #85
Two problems identified above, nothing else severe noted on Firefox, Safari or Chrome.  @arouinfar can you take a look and verify that the changes in #30, #84 and #67 look ok, review #86 and #87 to see if you can reproduce them and think they must be solved before sharing a version with Stanford, and see if anything else should be done before sharing first version with Stanford?

[2016-05-09 02:22] samreid opened #88 "Add a switch"
The design doc shows a switch that looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/15102232/1a9669a2-155a-11e6-8916-9276e4c8b3ab.png)

With a description like so:
- Switch will be able to be changed by tapping or dragging to the alternate state (on/off)
- Switch can be rotated
- Switch connection wires should stretch “linearly” not at angles to switch

![image](https:/

[2016-05-09 02:46] samreid commented on #88
I like in this design how the switch is stretchable, but I'm concerned that at its smallest size, it will be difficult to translate by dragging because these is very little area for dragging (the main area is taken up by the toggle button).

[2016-05-09 02:48] samreid commented on #88
Tagging @arouinfar in case she wants to comment on these design issues.

[2016-05-09 02:50] samreid opened #89 "Back to back battery shading looks incorrect"
![image](https://cloud.githubusercontent.com/assets/679486/15102599/87c16f00-155e-11e6-8041-a55289c8e696.png)

@arouinfar please advise

[2016-05-09 02:52] samreid commented on #88
Or perhaps the switch component can be used to close the switch as well as drag it?  That seems confusing (and perhaps difficult to implement), but may be useful in practice.

[2016-05-09 05:08] samreid commented on #88
Also, it seems like having the switchable part look like it is resting on a metal plate may be confusing, if people think the plate is conducting.

[2016-05-09 05:20] samreid commented on #88
Also, when we model the movement of electrons, we'll have to discuss how they look and behave in the switch segment.

[2016-05-09 05:25] samreid commented on #88
Another UI component that may simplify things would be a "rotate" button that rotates the center segment of the switch.

[2016-05-09 12:37] arouinfar commented on #89
@samreid is it possible to have the highlight move as the component rotates? I could provide you with artwork without the highlight, and then the highlight could be drawn in code.  I vaguely remember this being done in another sim, but I'm blanking on which one.

Alternatively, there could be two versions of the battery, so that in the situation you've shown, both batteries would have the highligh

[2016-05-09 12:43] arouinfar commented on #84
@samreid I reviewed this issue for #85, and it looks good for the MVP. My only suggestion would be to vertically center the text within the window.

[2016-05-09 12:57] arouinfar commented on #87
Are you referring to a situation like this @samreid?
![voltage_reading](https://cloud.githubusercontent.com/assets/8419308/15113596/7764e036-160a-11e6-8366-3b9a345945c5.gif)

If so, I think it would be nice if the voltmeter would continue to read while the contents of the black box are revealed. Though in this situation, the student could move the probes to the terminals of the box to get the read

[2016-05-09 12:59] arouinfar commented on #86
@samreid while playing around with the latest dev in OSX 10.11.4/Chrome 50, I wasn't able to reproduce this issue.

[2016-05-09 13:00] arouinfar commented on #67
It's looking good @samreid! I didn't run into any issues during #85.

[2016-05-09 13:03] arouinfar commented on #87
"Quick" meaning 30 minutes or less. I don't think this issue should block dev.11 from being shared with Stanford.

[2016-05-09 13:03] samreid commented on #89
This is the strategy we are trying out for the wires, but it yields situations which look odd.  In this case, one wire is at the critical angle minus epsilon, the other is at the critical angle plus epsilon.  This problem could be exaggerated for batteries.
![image](https://cloud.githubusercontent.com/assets/679486/15113349/f66203d2-15b0-11e6-9b8a-253ea87c6bb0.png)

We drew a dynamic highlight for

[2016-05-09 13:04] samreid commented on #84
OK I'll create a new issue for that.

[2016-05-09 13:05] samreid opened #90 "Vertically center the text within the probe windows."
In #84 @arouinfar said:

Not needed for MVP.

[2016-05-09 13:06] samreid commented on #87
Yes, that's the problem I was referring to.  I'll investigate to see whether this would be easy or tricky.

[2016-05-09 13:06] samreid commented on #67
Excellent, thanks!  #86 may be related but we can close this issue and follow up with related issues.

[2016-05-09 13:06] #67 closed

[2016-05-09 15:43] samreid commented on #88
Initial draft based on Wire committed in f62022b823d501636ee00becac6911830176ac40

[2016-05-09 15:50] phet-steele commented on #43
@samreid all is well.

[2016-05-09 15:50] #43 closed

[2016-05-09 20:56] samreid commented on #88
I've added a checkbox that toggles the switch wire to be open/closed.  The ammeter and voltmeter will need custom code to handle this case.

[2016-05-09 21:05] samreid opened #91 "Indent "conventional current" checkbox?"
The design doc shows this control panel:
![image](https://cloud.githubusercontent.com/assets/679486/15128117/2a45602c-15f7-11e6-85b7-9eedfab67946.png)

Should we indent the "conventional current" checkbox to indicate that it is a sub-setting of "show electrons"?  Do our users pick up on this kind of indenting in interviews?

My concern is that the "conventional current" checkbox provides no visual

[2016-05-09 21:15] samreid commented on #88
I'm inclined to wait on further developing the switch until the design questions raised above are addressed, @arouinfar can you take a look?  Summarizing (and a few new points) here:
* Switch artwork not finalized
* at its smallest size, it will be difficult to translate by dragging because these is very little area for dragging (the main area is taken up by the toggle button).
* when you drag it

[2016-05-09 21:39] samreid opened #92 "Where should the "Edit Circuit Component" panel appear?"
It is not shown at all in the design doc.  In black box, it is centered at the bottom of the screen:

![image](https://cloud.githubusercontent.com/assets/679486/15128984/26ee1036-15fc-11e6-900a-4bb18b4ffbf3.png)

We need to know where this will appear in all 3 screens of "Basics".

[2016-05-10 11:54] samreid opened #93 "Add electrons"

[2016-05-10 12:24] samreid opened #94 "Add noise to observations?"
In the Java version, Stanford requested modeling noise in each observation.  Will we need this for the HTML5 version?

[2016-05-10 13:11] arouinfar commented on #91
Good question @samreid. I think a more important question would be to ask what the conventional current looks like. This hasn't been discussed at all beyond deciding that the conventional current should somehow be displayed. (I believe this was a pretty frequent teacher request.)

I can think of a few ways we could show the conventional current
* An arrow showing the direction of the conventional

[2016-05-10 13:12] arouinfar commented on #94
@samreid this feature was never requested by Stanford when discussing the HTML5 version.

[2016-05-10 13:24] arouinfar commented on #89
I don't particularly like this option because it doesn't feel PhET-like, stylistically speaking.

This seems like a better approach. Most components are relatively thin, so a center highlight may not look that odd.

@ariel-phet can you take a look at this issue and comment?

[2016-05-10 13:34] arouinfar commented on #92
@samreid let's leave the edit component panel centered at the bottom of the screen. Screen 3 will be the only screen with editable components, and it will be very similar to the Explore screen of Black Box.

[2016-05-10 13:35] arouinfar commented on #85
Everything looks good on my machine (latest Mac/Chrome) @samreid!  I think dev.11 is ready to share with Stanford.

[2016-05-10 13:38] arouinfar commented on #88
Yes, please hold off on this @samreid. As you've pointed out there is a lot left to iron out in the design of the switch, and you've raised quite a few points that merit further discussion.

I'll think about this a bit more, and we should discuss the design at the next design meeting.

[2016-05-10 17:39] samreid commented on #94
OK thanks, let's close (for now?)

[2016-05-10 17:39] #94 closed

[2016-05-10 17:42] samreid opened #95 "What should the conventional current look like?"
In #91 @arouinfar said:

I think a more important question would be to ask what the conventional current looks like. This hasn't been discussed at all beyond deciding that the conventional current should somehow be displayed. (I believe this was a pretty frequent teacher request.)

I can think of a few ways we could show the conventional current
- An arrow showing the direction of the conventional

[2016-05-10 17:45] samreid commented on #91
I've moved the "What should the conventional current look like" to a new issue.  I'll close this issue for now.

[2016-05-10 17:45] #91 closed

[2016-05-10 17:46] samreid commented on #95
If we show the conventional current as moving spheres, we may wish to show a "-" sign on the electrons, to distinguish them.

[2016-05-10 18:43] phet-steele opened #96 "Automated Testing Sim Errors (5/10/2016 10:00 AM)"
[code]

[2016-05-10 18:50] #96 closed

[2016-05-10 19:38] ariel-phet commented on #89
A centered highlight definitely seems like the way to go for the moment. Perhaps not stylistically perfect, but at least consistent and simple. For the MVP that seems like a good compromise, and we can revisit as a pixel polishing issue later.

I would leave wires "as is" for the moment...they are thin enough and the situation seems rare enough for the moment to no warrant deep attention. Batterie

[2016-05-10 21:34] samreid commented on #89
@arouinfar would you like to update the AI files?

[2016-05-11 13:31] samreid commented on #93
Propagator added above, much cleanup still needed.

[2016-05-11 15:25] samreid opened #97 "Should we show both directions of batteries in "Black Box"?"
Changes in "Basics" have granted "Black Box" a left-facing battery.  I was about to remove it when I realized it could be very convenient to have a left-facing battery in Black Box.  @arouinfar what do you think?

![image](https://cloud.githubusercontent.com/assets/679486/15186431/3c07744e-175a-11e6-9f73-02901e41b64d.png)

[2016-05-11 15:45] samreid opened #98 "Cap DT"
dt is uncapped and may be responsible for this problem:
![image](https://cloud.githubusercontent.com/assets/679486/15187107/0baa81d0-175d-11e6-9c00-930a694e3c35.png)

[2016-05-11 18:55] samreid opened #99 "ElectronPropagator.js needs cleanup"
This direct port needs lots of internal cleanup.

[2016-05-11 19:06] samreid commented on #85
@arouinfar would you like to share dev.11 to our contacts at Stanford?

[2016-05-11 19:50] samreid opened #100 "Relayout all electrons in connected subgraph, to avoid "starving" a circuit element"
![image](https://cloud.githubusercontent.com/assets/679486/15194258/4eea2bea-177f-11e6-9c7d-c8894207cd07.png)

[2016-05-12 23:09] samreid commented on #85
Today we agreed that @phet-steele should test dev.11 before we share it to Stanford.  @phet-steele can you test dev.11 on a few desktop browsers and let us know if you spot any user interface or physics issues?

[2016-05-12 23:19] samreid opened #101 "Electrons are going the wrong way."
@ariel-phet pointed out that electrons are going the wrong way.  Upon reflection, what this probably means is that the battery image is backwards.

[2016-05-13 17:03] phet-steele opened #102 "Highlight rectangle is wrong"
@samreid @arouinfar  getting three consistent errors that completely kill the sim, currently investigating why so stay tuned:
[code]
[code]
[code]

[2016-05-13 17:57] phet-steele commented on #102
For the sake of me and @samreid  finding out what's happening, I'll document images and videos for these errors with no specific context (because I don't know the context :smile:):

![cckbb1](https://cloud.githubusercontent.com/assets/5863899/15256205/9ae75516-18fd-11e6-8a73-24047332c4f8.PNG)

![cckbb2](https://cloud.githubusercontent.com/assets/5863899/15256225/b9002870-18fd-11e6-8745-58d4838c993

[2016-05-13 18:03] phet-steele commented on #85
@samreid suggested to stop testing due to the sim killing errors in #102. Unassigning.

[2016-05-13 18:26] arouinfar commented on #85
Thanks for banging away at this @phet-steele. I'm clearly not as devious as you are.

@samreid I haven't shared dev.11 with Stanford, and it looks like we may still want to wait awhile.

[2016-05-13 18:28] ariel-phet commented on #85
@arouinfar yes...lets make sure the version we share is reasonably bug free

[2016-05-13 18:29] samreid commented on #85
After I clean up the new code created during porting of the electrons and switches, I'll give a new version to @phet-steele to test.

[2016-05-13 18:43] arouinfar commented on #89
Thanks for your feedback @ariel-phet!

@samreid, I've emailed you an updated .ai file for the battery.

[2016-05-13 18:46] arouinfar commented on #95
Excellent point, @samreid. I agree we'd need to show +/- signs on the spheres to distinguish them, which seems like an added complication for the moving spheres view.

[2016-05-13 18:52] arouinfar commented on #97
@samreid the reason for including two oppositely-directed batteries in CCK: Basics was for scaffolding purposes on the first screen. I don't think it's necessary for CCK: Black Box, but I can see that it could be a handy feature. I'd say leave the second battery in for now, with the understanding that Stanford may request for it to be removed.

[2016-05-13 19:01] samreid commented on #97
Sounds good, we can reopen if Stanford wants it removed, closing.

[2016-05-18 20:14] samreid commented on #102
I'm having difficulty reproducing this kind of problem, any suggestions @phet-steele?

[2016-05-18 20:16] samreid opened #103 "cutting a vertex adjacent to the black box interface vertex, causes a buggy translation"
Possibly related to #102, cutting a vertex adjacent to the black box interface vertex, causes a buggy translation

[2016-05-19 01:55] samreid commented on #86
I think this was caused by #103, I'll close this and continue in that issue.

[2016-05-19 01:55] #86 closed

[2016-05-19 02:05] samreid commented on #103
Fixed in the above commit and working nicely, closing.

[2016-05-19 02:05] #103 closed

[2016-05-19 02:07] samreid commented on #102
I fixed #103 which may have been related to this issue.  @phet-steele master is stable now and you could use it for testing to generate more helpful error messages.  I'll continue testing a bit, but if I can't find the problem I'll reassign it to you to continue testing in master.

[2016-05-19 02:11] samreid opened #104 "When rotating a node attached to a black box, it should not proposed connections"
Vertices can get confused, may be related to #102

[2016-05-19 02:13] samreid commented on #104
Fixed above, closing.

[2016-05-19 02:13] #104 closed

[2016-05-19 02:16] samreid commented on #102
I also fixed #104.  I think the probability that #103 and #104 have addressed the issue discovered here is less than 10%, since the issue here looks related to undefined/NaN.  But I'm having trouble reproducing the issue.  @phet-steele can you pull and test from test-server so we get good error messages, and let me know if you see anything like this or any other issues that should be fixed before

[2016-05-19 02:17] samreid commented on #85
Code is cleaned up and in #102 I recommended to use master on test-server for testing, so we can get more helpful error messages from the console.  @phet-steele good luck and let me know what you find!

[2016-05-19 04:56] samreid commented on #102
@ariel-phet said @phet-steele has many things on his plate at the moment, and perhaps we could have Thursdays design meeting, discuss then, and have @arouinfar test and go from there.  Sounds good to me!

[2016-05-19 04:57] samreid commented on #85
See #102

[2016-05-19 15:55] arouinfar commented on #102
👍

[2016-05-19 20:43] samreid opened #105 "Remove ? during "reveal""
For MVP

[2016-05-19 20:45] samreid opened #106 "When changing investigate => build => investigate, z-ordering should be preserved"

[2016-05-19 20:49] samreid opened #107 "PhET Black Box: Can we gray out investigate wires that are inside the black box and vice versa?"

[2016-05-19 20:53] samreid commented on #107
Or gray out the images?

[2016-05-19 20:54] samreid commented on #107
@kathy-phet suggests changing the background when in build mode to indicate you are supposed to build inside the box.

[2016-05-19 21:01] samreid commented on #107
@arouinfar will supply grayscale images

[2016-05-19 21:10] phet-steele opened #108 "Object detaches from its vertex during rotation (Black Box screen)"
On current master (5/19 3:00 PM). Ignore performance:

![cckbb01](https://cloud.githubusercontent.com/assets/5863899/15409798/a132d302-1dd3-11e6-93d1-b90041b0c975.gif)

[2016-05-19 23:30] arouinfar commented on #107
Self-assigning so I remember to get these to @samreid tomorrow.

[2016-05-20 03:17] samreid commented on #102
After fixing all other "high-priority" issues in this repo, @arouinfar will test the sim and if all appears well we will deliver it to Stanford, hopefully within a week or so.

[2016-05-20 03:17] samreid commented on #85
After fixing all other "high-priority" issues in this repo, @arouinfar will test the sim and if all appears well we will deliver it to Stanford, hopefully within a week or so.

[2016-05-20 03:27] samreid commented on #105
Fixed above, looks much nicer, thanks for the recommendation @ariel-phet, closing.

[2016-05-20 03:27] #105 closed

[2016-05-20 04:24] samreid commented on #106
In the above commit, I move black box elements behind the black box when switching to "build", in my testing it solves the problems we were experiencing but I'm not sure whether other unexpected behavior may result.  @arouinfar should test this after I publish a new version.

[2016-05-20 04:24] samreid commented on #106
On hold while I work on other high-priority issues.

[2016-05-20 04:35] samreid commented on #108
The simplest solution seems to be to prevent rotations when there are multiple neighbors, I'll commit shortly.

[2016-05-20 04:37] samreid commented on #108
Fixed above, will benefit from testing by @arouinfar to see if anything else was disturbed.

[2016-05-20 05:04] samreid opened #109 "What color should inside the black box be in "build" mode?"
in #107 we discussed graying out the "investigate" wires.  While working on that I had to remove the semitransparent overlay and change it to a background color.  Then I set the inside of the black box to be blue, the same shade as where the user normally creates things:

![image](https://cloud.githubusercontent.com/assets/679486/15417660/9c06ead4-1e15-11e6-8483-fc9b1d5ca060.png)

I see the advant

[2016-05-20 05:12] samreid commented on #107
I made changes above to support the new overlay pattern.  While I was there, I made disabled components have 0.5 opacity just to see how it looks (even though we agreed we would try grayscale).  It seems pretty good in the normal case:

![image](https://cloud.githubusercontent.com/assets/679486/15417824/06e74528-1e17-11e6-96d4-fd788005aca3.png)

However it does suffer from the problem I mentioned

[2016-05-20 05:14] samreid commented on #107
By the way, another benefit of this approach is that the light bulb lines will now be comparable.  Instead of being behind a semi-transparent overlay, the light bulb brightness lines will shine and they can be full color, so comparisons will be easier (was muddled behind the overlay).

[2016-05-20 05:15] samreid commented on #107
@arouinfar I'm finished with all other open high priority MVP CCK BB issues, I'd be happy to generate grayscale images and proceed with this issue or happy to wait if you are already on the case.  (I'll wait to hear from you either way).

[2016-05-20 05:17] samreid commented on #107
The light bulb nodes from scenery phet are already pretty gray, perhaps we can leave those as-is (also helps with cueing comparable brightness):

![image](https://cloud.githubusercontent.com/assets/679486/15417889/cf6c8a12-1e17-11e6-8e9c-d47853cf733d.png)

If we do decide to grayscale it, it will be a lot of work, since it is a common code component that has already two images (on/off).

[2016-05-20 17:57] arouinfar commented on #109
@samreid I think the goal of matching the color of the inside of the black box to the playspace is to cue that the black box has been removed.  While gray could be interpreted as being the outline of the black box, it may also give the appearance of being disabled.

I would suggest we leave the inside of the box blue for now, and wait to see what feedback Stanford has.

[2016-05-24 01:31] arouinfar commented on #107
I've emailed grayscale assets for the battery, resistor, and wire to @samreid. However, I think the reduced opacity will work just fine for the MVP.

No need to change the artwork for the lightbulb -- reduced opacity looks good to me.

I've noticed that the wire stubs attached to the black box now appear gray in Investigate mode, which seems like it may be a byproduct of this change.
![image](http

[2016-05-24 01:33] arouinfar commented on #108
Seems like this issue has been fixed. I've testing this issue, but haven't done a thorough review of master @samreid.

[2016-05-24 15:45] samreid commented on #108
Thanks @arouinfar, I'll close this issue and we can continue a thorough review of master elsewhere.

[2016-05-24 15:45] #108 closed

[2016-05-24 16:05] samreid commented on #106
This may be responsible for the solder going in front.

[2016-05-24 16:07] arouinfar commented on #106
@samreid I don't think the solder popping to the front is a blocking issue for the MVP.

[2016-05-24 21:57] arouinfar commented on #107
Tagging for design meeting, since we want to get Stanford's opinion on the reduced opacity components.

[2016-05-26 16:38] arouinfar opened #110 "Increase the number of wires"
There seems to be an infinite number (or extremely large number) of batteries, bulbs, and resistors available, but a limited number of wires. I ran into a few situations where I ran out of wires under somewhat reasonable circumstances.

For example, I tried to build this setup, but I didn't have enough wires to connect two of the batteries.  The reason I used so many wires was so that I could meas

[2016-05-26 16:40] arouinfar commented on #110
No need to take care of this before our meeting with Stanford tomorrow, but it should be addressed for the version that will be used with students.

[2016-05-27 17:51] arouinfar opened #111 "Add "What circuit is in the black box?" text to Warm-Up; Disable during Reveal"
In #30 I requested that the "What circuit is in the black box?" text be killed while "Reveal" is being pressed. I thought it may potentially confuse students to ask them what is in the black box while simultaneously revealing its contents.

However, I just realized that the text is now completely absent from the Warm-Up during Investigate mode. The prompt is a critical part of cueing the "game" to

[2016-05-27 18:06] samreid commented on #111
My mistake, I misinterpreted https://github.com/phetsims/circuit-construction-kit/issues/30#issuecomment-216316561

I'll work on this now.

[2016-05-27 18:19] samreid commented on #111
Fix published here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box/1.0.0-dev.14/circuit-construction-kit-black-box_en.html

@arouinfar can you please test the feature change and try making a few explore circuits and black box circuits to make sure nothing was disturbed?

[2016-05-27 19:27] arouinfar commented on #111
I completely understand why you interpreted my comment that way @samreid. Re-reading it I realized that it wasn't clear enough.

Thanks for getting a new dev version published so quickly! Things seem to be looking good, so I'll go ahead and close this issue.

[2016-05-27 19:27] #111 closed

[2016-05-27 20:54] arouinfar commented on #97
Decided to go with one battery. Reopening.

[2016-05-27 20:55] arouinfar commented on #109
Let's keep it as is.

[2016-05-27 20:55] #109 closed

[2016-05-27 20:57] arouinfar commented on #107
Reduced opacity components are preferred for the MVP.

[2016-05-27 21:00] arouinfar commented on #26
From 5/27 meeting with Stanford:

This bulb is fine for Black Box studies. For more general studies with CCK it would be better to update the artwork to show a clear connection.
![image](https://cloud.githubusercontent.com/assets/8419308/15621070/9598bd56-241b-11e6-900d-7962d8761af9.png)

[2016-05-29 21:10] samreid opened #112 "Add a query parameter that adds a play/pause button for Black Box"
An option to show play/pause button.  Query parameter.
Add a play/pause button.  When manipulating circuit, it goes to pause.
When play, it shows the meter values.  Grayed out box for the text like the meter is turned off.
Suppress light bulb values as well.

[2016-05-29 21:11] samreid opened #113 "When dropping an object in "build mode", both vertices should pop inside the black box"
When dropping an object in "build mode", its vertices should pop inside the black box

[2016-05-29 21:12] samreid opened #114 "We would like to use the delete/backspace key to delete a selected circuit element"
@jessegreenberg how would you go about this?

[2016-05-29 21:12] samreid opened #115 "When deleting a wire, other connected vertices disconnect (they shouldn't)"
When deleting a wire, other connected vertices disconnect (they shouldn't)

[2016-05-29 21:12] samreid opened #116 "Black box should have 1 battery, not 2"

[2016-05-29 21:13] samreid opened #117 "Fixes for when one circuit element dropped directly on top of another"
When one circuit element dropped directly on top of another, connect one vertex and move the other vertex.  Should be done for wires too.

[2016-05-29 22:48] samreid commented on #85
Delivered initial version to Stanford, closing.

[2016-05-29 22:48] #85 closed

[2016-05-29 22:51] samreid commented on #102
@phet-steele can you offer guidance in reproducing this kind of problem?  Also, cck is now available on phet-test, so you may be able to get better error messages.

[2016-05-29 23:00] samreid commented on #107
@arouinfar will this ever be implemented?  If so, when?

[2016-05-29 23:03] samreid commented on #112
Having a play/pause button toggles back and forth between play/pause may be very confusing.  If it looks like "pause" it means it is playing.  Usually this is not too much of a problem in other sims because there are other moving parts, but since this only toggles whether values and bulb brightness are displayed it could be extra confusing.

[2016-05-29 23:57] samreid commented on #112
Another reason I think the "play/pause" analogy is faulty: if a light bulb shines then is paused, it normally wouldn't stop shining.  Perhaps a reveal/hide button (eyeball icon?) would be more intuitive?

[2016-05-30 02:31] samreid commented on #112
The next concern is that we would like the "zero-current" light bulb to look different from the "paused" light bulb.

[2016-05-30 02:52] samreid commented on #112
Using the transparency could conflict with the transparency used in #107.

[2016-05-30 03:07] samreid commented on #112
Working with the light bulb will be easier once we have a custom node for CCK.  Other than that, this issue is ready to review.

[2016-05-30 03:12] arouinfar commented on #107
@samreid, I don't think this won't be implemented for the Stanford study(ies). However, it is a desired feature for the version of CCK: Black Box that we will develop for the PhET site. Given other CCK priorities, I don't think we'll work on the development of Black Box anytime soon.

[2016-05-30 03:30] arouinfar commented on #110
@samreid this issue should be addressed while making the other changes for Stanford.

[2016-05-30 03:48] arouinfar opened #118 "Create new lightbulb artwork"
The light bulbs in scenery do not meet the criteria for what we need for a CCK bulb. The artwork should have the following properties.
* Side/bottom connections obvious
* Clear path for the electron motion
* Silhouette of Faraday's Law bulb is preferred

[2016-05-30 03:51] arouinfar commented on #112
I also find the play/pause buttons a bit problematic. I like your suggestion to use the reveal icon @samreid, but I don't think it's necessary to have text on these buttons. While in "pause" mode, the eyeball button would be showing. While in "play" mode, the button could show an eyeball with a strikethrough. FontAwesome has icons for both situations.
![image](https://cloud.githubusercontent.com/a

[2016-05-30 03:54] arouinfar commented on #115
More generally, when deleting a component connected to a node with 3+ connections, the other components should remain connected. The deleted component doesn't necessarily need to be a wire.

[2016-05-30 03:56] arouinfar commented on #117
👍

Additionally, components should not snap on top of one another.

[2016-05-31 01:05] samreid commented on #110
It looks like there can be 10 wires, but it is counting the wires inside the black box toward the total.

[2016-05-31 16:26] jessegreenberg commented on #114
In the base clase for a circuit element node, you could add something like this to get it working with the Parallel DOM.

[code]

[2016-05-31 16:28] samreid commented on #114
Is accessibility still buried behind a query parameter?  If so, how/when could we get this feature from the main version?

[2016-05-31 16:29] jessegreenberg commented on #114
This assumes that the node has a reference to the circuit, so maybe there is a better place to have this block.  Also, we will want to dispose the domElement's eventListener.  For now, you will need to add the ```accessibility``` query parameter to try this out, or you could add ```accessibility: true``` in sim options.

[2016-05-31 16:32] samreid commented on #114
Will any undesirable/buggy behaviors creep in if I enable accessibility using either of these approaches?  If so, should I just add a global key listener (not in the accessibility framework?)  Or is that really the best long term approach?

[2016-05-31 16:44] jessegreenberg commented on #114
In the long term, we will want to do something like the above for accessibility, but it does have a few immediate drawbacks.  If we use the accessibility framework we might want to make sure that keyboard navigation is working for all of the simulation elements since common components will be in the navigation  order already.  We will also want to spend some time making sure that home screen/joist

[2016-05-31 16:52] jessegreenberg commented on #114
I can't think of any other bugs, it will just mean that we will want to work on some of the above sooner rather than later.  If that is OK, I think using the accessible method is the way to go. Otherwise, a global key listener would be fine.

If you want to use the DOM approach, I can help or collaborate with this at any time!

[2016-05-31 18:34] samreid commented on #110
Fixed in the above 2 commits.

[2016-05-31 18:57] samreid commented on #116
Fixed in the above commit.

[2016-05-31 19:22] samreid commented on #112
I'm somewhat concerned that putting the icon on the button will still have the opportunity for confusion.  For instance, if the open eye is showing in "pause" mode as described above, some may attribute it to meaning "If I press this button, then it will be in open eye mode", because this is the normal way that play/pause buttons work in video controllers.  So I've hedged my bets and left the tria

[2016-05-31 19:31] samreid commented on #112
In the preceding commit, when the user manipulates the circuit, the readouts are hidden.  This is ready for review in the next version.

[2016-05-31 21:27] arouinfar commented on #118
Preliminary design:
![image](https://cloud.githubusercontent.com/assets/8419308/15691061/fb72e658-2743-11e6-9d1c-c325da41d946.png)

The filament is a 5pt stroke with a color picked from the existing wire artwork. The bulb will also be a bit smaller than what's currently implemented.

![image](https://cloud.githubusercontent.com/assets/8419308/15689334/beeacac8-273b-11e6-9cc9-a07cc60da1b7.png)
![im

[2016-05-31 22:18] samreid commented on #113
The above implementation just bumps one of the vertices inside the black box, and translates everything with it.  If a single wire is dropped outside the black box, both vertices may go to the same point.  Despite these limitations, this implementation seems very useful and may be good enough.  On hold until next published version, then @arouinfar can review and comment.

[2016-05-31 22:42] samreid commented on #115
Fixed above, this is a significant model change and will need testing.

[2016-06-01 15:35] samreid commented on #117
The solution I was envisioning is actually more complex than I anticipated, because we may need to search out a group of components from a pivot vertex and rotate the entire group around the point.

[2016-06-01 16:30] samreid commented on #117
Though rotating a subgroup about a vertex could come in handy elsewhere, such as rotating a group about a black box vertex.  Though perhaps it would be prudent to start with a less complex solution for the simplest case (no group of connected components).

[2016-06-01 22:23] arouinfar commented on #118
This is probably a better pair of front/back images. Both images are on identically sized artboards (trimmed to the size of the full bulb). This way the exported .png (or .svg) files can be layered directly on top of one another without needing to shift anything. The back image has been made more complete so that a single image can be used while working on the electron's path, if desired.

![image

[2016-06-02 16:13] samreid commented on #117
Initial work in https://github.com/phetsims/circuit-construction-kit/commit/016f37765b887b51d1ba3e0c58ef99cd14f39605

[2016-06-02 18:21] phet-steele opened #119 "Automated Testing Sim Errors (6/2/2016 11:30 AM)"
[code]

[code]

[2016-06-02 18:23] phet-steele opened #120 "Automated Testing Build Error (6/2/2016 11:30 AM)"
[code]

[2016-06-03 04:23] samreid commented on #117
After the commits above, the functionality seems to be in a good position.  Next I'll do broader testing then publish a version for @arouinfar to take a closer look at.

[2016-06-03 05:02] samreid commented on #117
I fixed one new bug, and am seeing other problems related to the black box vertices--we'll have to tell them (a) it is always OK to attach to them despite other rules against it and (b) never to move them even if the postprocess step wants to.

[2016-06-03 06:41] samreid opened #121 "Bumping wire away happens too soon"
![mistake](https://cloud.githubusercontent.com/assets/679486/15770854/e1736854-2923-11e6-995d-8b13ddb1283f.gif)

We should schedule it to take effect after all drags end.

[2016-06-03 06:42] samreid commented on #121
Discovered while testing #117

[2016-06-03 06:50] samreid commented on #121
Fixed above, closing.

[2016-06-03 06:50] #121 closed

[2016-06-03 06:50] samreid commented on #117
More fixes above, no new issues found during testing.  I'll close this one and create a new issue for broader developer testing before sharing to @arouinfar.

[2016-06-03 06:51] samreid opened #122 "Developer testing"
The changes in #117 and #121 have been very broad and may have inadvertently broken previously working behavior.  I need to test more broadly before posting a version for @arouinfar to review.

[2016-06-03 06:53] samreid commented on #122
You can still create a hidden short between a component and the black box vertex since in #117 we exempted black box interface vertices from some of the rules.

[2016-06-03 06:56] samreid opened #123 "PhET Black Box: In the black box screen, reset all doesn't reset the selected black box"
Typically the reset all button should reset the entire screen.  In #122 I noticed that reset all doesn't go back to the "warm up" black box, but I realized this may not be desirable in this case.  @arouinfar can you please advise?

[2016-06-03 13:10] samreid opened #124 "Very difficult to compare the transparent "disabled" light bulb to the enabled one"
From #122, it is very difficult to compare the light bulb brightness between build and investigate:

Investigate:
![image](https://cloud.githubusercontent.com/assets/679486/15779512/0ba4f616-295a-11e6-80c2-ed7509e976c8.png)

Build:
![image](https://cloud.githubusercontent.com/assets/679486/15779517/15aec0a6-295a-11e6-8750-011c1bef52d8.png)

Should make the light bulb fully opaque in either case so

[2016-06-03 13:14] samreid commented on #122
I'll move the preceding comment to a new issue, the remainder of my testing revealed the above 2 issues.  Closing.

[2016-06-03 13:14] #122 closed

[2016-06-03 13:15] samreid opened #125 "You can create a hidden short behind a component connected to the black box vertex."
From #122, you can still create a hidden short between a component and the black box vertex since in #117 we exempted black box interface vertices from some of the rules.

We should make sure the exemptions are truly necessary.

[2016-06-03 18:37] samreid commented on #120
Fixed, closing.

[2016-06-03 18:37] #120 closed

[2016-06-03 22:17] arouinfar commented on #124
@samreid let's try leaving the bulb image transparent, while giving the light rays full opacity.

[2016-06-03 22:22] arouinfar commented on #123
@samreid I took a look at dev.14. It looks like Reset All only affects the active black box. The state of the other black boxes is still saved. I could see this being a useful feature in an interview setting. A student may build something particularly messy, and want to clear it without losing their work on other black boxes.

For Stanford's purposes, I think we should leave the behavior like it i

[2016-06-03 22:25] arouinfar commented on #123
When the time comes to develop a Black Box sim for the PhET site, we may want to rethink this behavior. I'm going to leave this issue open, but on hold for future discussion at a design meeting.

On second thought, probably best to leave this one assigned to me.

[2016-06-05 03:02] #117 closed

[2016-06-06 15:30] samreid commented on #124
Fixed above, closing.

[2016-06-06 15:30] #124 closed

[2016-06-06 15:39] samreid commented on #125
Fixed above.  It is unclear whether this will conflict with other fixes from #117, so it will need to be reviewed thoroughly.

[2016-06-06 15:50] samreid opened #126 "Testing for 1.0.0-dev.15"
I published http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box/1.0.0-dev.15/circuit-construction-kit-black-box_en.html for testing.  It contains significant user interface changes that will need to be tested specifically, and also other functionality should be tested to make sure nothing was disturbed.

I'll visit each of the issues that require testing and link to th

[2016-06-06 15:51] samreid commented on #125
Please see #126 for testing.

[2016-06-06 15:51] samreid commented on #116
Please see #126 for testing.

[2016-06-06 15:53] samreid commented on #115
Please see #126 for testing.

[2016-06-06 15:53] samreid commented on #113
Please see #126 for testing.

[2016-06-06 15:55] samreid commented on #112
The query parameter is ?showPlayPauseButton

Please see https://github.com/phetsims/circuit-construction-kit/issues/126 for test version.

[2016-06-06 15:56] samreid commented on #110
Please refer to #126 for a test version.

[2016-06-06 15:57] samreid commented on #106
Please see #126 for a test version.

[2016-06-06 15:58] samreid commented on #126
OK I tagged all issues that should be revealed for this. @arouinfar please take everything for a test drive and report issues.

[2016-06-06 19:48] phet-steele commented on #102
@samreid I may have discovered how to do the second screenshot (the one with the bad yellow box).

Can't guarantee if this is the only way to make it happen, but check it out. BTW, this is 1.0.0-dev.15:

1. In build circuit mode, attach a component to a vertex
2. Rotate that same component
3. Click reveal
4. Click the component

![cckbb01](https://cloud.githubusercontent.com/assets/5863899/1583542

[2016-06-06 20:43] phet-steele opened #127 "Lightbulb halo loses opacity"
The halo around the lightbulb will lose its opacity when switching from Build circuit to Investigate and back. The opacity returns when moving the lightbulb:

![cckbb02](https://cloud.githubusercontent.com/assets/5863899/15836475/3ad69e40-2bf2-11e6-8ebb-ecf49f6eb812.gif)

For #126.

[2016-06-06 20:43] phet-steele opened #128 "Vertex pushing"
Black box vertices can be pushed around when following this procedure. I feel like someone has reported/mentioned this before, but here it is anyway. This "pushing" affects the vertices in Investigate mode, and the pre-made "revealed" circuits:

![cckbb04](https://cloud.githubusercontent.com/assets/5863899/15836947/67aa893e-2bf4-11e6-8a4a-cd209beeb1d9.gif)

For #126.

[2016-06-06 20:43] phet-steele opened #129 "Deleting components can delete vertices from the black box"
Black box vertices can be deleted while building a circuit. They will return upon most sim state changes, however. This will happen when deleting an object from such a vertex, only in Build mode and only if nothing else is attached to the vertex. The vertex on the right will be deleted since nothing else is attached to it, the vertex on the right will remain because the battery is attached:

![cck

[2016-06-07 20:08] phet-steele commented on #48
A wire will appear above the solder in the following scenario, seen in the #126 version. Before trying to reproduce, note it is VERY important to watch the order of events. The order in which wires/components are taken from the toolbox and placed into the play area is the whole reason this procedure works:

1. Place any number of objects into the play area. Doesn't matter what they are.
2. Take a

[2016-06-08 22:14] arouinfar commented on #112
I find the combination of the play/hide and pause/reveal icons highly confusing. If I press "play" is it going to play something, or is it going to hide something?
![image](https://cloud.githubusercontent.com/assets/8419308/15912659/dddc2ea6-2d92-11e6-9f51-115d9ce55c2a.png)  ![image](https://cloud.githubusercontent.com/assets/8419308/15912669/f5b6dbc0-2d92-11e6-8b01-25a609e9ddfa.png)

The play/pau

[2016-06-08 22:25] arouinfar opened #130 "Play/pause too sensitive"
Discovered as part of #126.

The play/pause button is too sensitive. Currently, if any circuit component is moved while the circuit remains connected and otherwise unchanged, the sim will kick itself into pause mode.

![playpause](https://cloud.githubusercontent.com/assets/8419308/15912937/96462018-2d94-11e6-844a-1dde719de443.gif)

The sim should pause automatically if:
* More components are dragg

[2016-06-08 22:29] arouinfar commented on #116
Looks good!

[2016-06-08 22:29] #116 closed

[2016-06-08 22:35] arouinfar commented on #110
👍

[2016-06-08 22:35] #110 closed

[2016-06-08 22:36] arouinfar commented on #106
👍

[2016-06-08 22:36] #106 closed

[2016-06-08 23:01] arouinfar commented on #113
I've noticed that both vertices <i>always</i> go to the same point, so long as both vertices were located outside of the black box. To me this doesn't cue that items must be placed <i>within</i> the black box.
![wiredot](https://cloud.githubusercontent.com/assets/8419308/15913549/db6a9e28-2d97-11e6-823b-2b54c2ec7b4f.gif)

Could the wires do this instead (or maintain their width when translating)?

[2016-06-08 23:05] arouinfar commented on #125
In general, this seems to be working, but in reviewing #113, I ran into this situation.

![rotation](https://cloud.githubusercontent.com/assets/8419308/15914034/ef796bb2-2d9a-11e6-8a3b-ebe6df8a0084.gif)

The battery and resistor on the right side of the black box look like they may have potentially overlapped, so the resistor rotated. However, the the components didn't actually connect.

[2016-06-08 23:07] arouinfar commented on #115
This appears to be working nicely in dev.15. Closing.

[2016-06-08 23:07] #115 closed

[2016-06-08 23:08] arouinfar commented on #125
I'm going to be doing a bit more testing to see if I run into any other issues.

[2016-06-08 23:10] arouinfar commented on #126
@samreid I've done some testing to review the issues you initially referenced. I've closed or reassigned all of them except #125. I want to do a bit more testing on that issue tomorrow, as well as do more thorough testing on the black box.

[2016-06-09 01:02] samreid commented on #130
When a wire's length changes, its resistance changes.  Should we make this change in resistance a special case that doesn't trigger pause mode?

[2016-06-09 05:29] arouinfar commented on #130
Ah, makes sense @samreid.  Yes, let's make the change in resistance due to the change in a wire's length a special case that doesn't trigger pause.

[2016-06-09 20:32] arouinfar commented on #128
@phet-steele mentioned this is likely related to #125.

[2016-06-09 20:35] arouinfar commented on #125
@phet-steele found another interesting case:
![vertexpushing](https://cloud.githubusercontent.com/assets/8419308/15944216/c4ca8798-2e49-11e6-93a9-5765aa165a92.gif)

After the vertex is cut, the central vertices are likely close enough to trigger the rotating behavior, but the wires don't seem to "realize" they are too close until another component is brought close.

The few issues I've observed se

[2016-06-09 20:39] arouinfar commented on #126
@samreid I've finished my review. @phet-steele has done some light testing on this version, but if you would like him to do some more testing, I can create a task issue to add this to his workload. From the reported issues, it looks like we'll need to do at least one more round of testing, so we can also wait until the next dev version to bring @phet-steele into the fold. Let me know what you'd pr

[2016-06-13 16:46] samreid commented on #10
Based on discussion Thursday, I've placed this issue on hold.

[2016-06-13 16:52] samreid commented on #118
On Thursday, we requested @arouinfar to make the base a bit wider to separate the vertices.  Also, consider putting the vertices at a 45 degree angle--it may have a nice symmetry for looks and dragging.

[2016-06-13 16:54] samreid commented on #77
The voltmeter is currently not a common component, and is specific to the CCK implementation.  It seems it would be best for the CCK or common code component to have physically correct behavior unless we don't have time to implement it properly and decide it is not too much of a problem.

[2016-06-13 17:07] samreid commented on #48
It is difficult for me to see the incorrect solder layering in the above screencast, @arouinfar or @phet-steele can you please comment?

[2016-06-13 17:26] samreid commented on #126
I'll start working on fixes for the known issues first, thanks for your testing @arouinfar and @phet-steele, closing.

[2016-06-13 17:26] #126 closed

[2016-06-13 17:48] samreid commented on #87
CircuitConstructionKitScreenView.js has this method:

[code]

If we change the logic here, we would also need to trigger this method to be called again when the black box contents are revealed.

[2016-06-13 20:15] samreid commented on #87
Fixed above, will be ready for review in next version.

[2016-06-13 20:19] samreid commented on #97
This has been fixed, will be available for confirmation in next version.

[2016-06-13 20:23] samreid commented on #102
Thanks @phet-steele, I was able to reproduce the problem you identified.

[2016-06-13 20:44] samreid commented on #102
It seems like FixedLengthCircuitElementNode.js is assuming elements get created at an angle of 0.  I'm not sure exactly where this assumption occurs though.

[2016-06-13 20:51] samreid commented on #102
In the above commit, the endVertex is set to an angle of zero, then the layout is performed, then the endVertex position is restored.  The behavior seems to be correct, however we must understand why this behavior is occurring and find a better solution.

[2016-06-13 22:03] samreid commented on #112
I removed the eyeball icons from above the play pause button, this will be ready for review in the next version.

[2016-06-13 22:08] samreid commented on #119
I added disposeSwitch above.  The other problem looks like a vertex that is not in the model is getting a drag event.  Or the vertex is in the model and removed before part of the processing occurs.

[2016-06-14 00:02] samreid commented on #125
It looks like the short circuit is resolved, I'll move the vertex movement to another issue.

[2016-06-14 00:02] #125 closed

[2016-06-14 00:03] samreid opened #131 "More vertex pushing"
From #125

In general, this seems to be working, but in reviewing #113, I ran into this situation.

![rotation](https://cloud.githubusercontent.com/assets/8419308/15914034/ef796bb2-2d9a-11e6-8a3b-ebe6df8a0084.gif)

The battery and resistor on the right side of the black box look like they may have potentially overlapped, so the resistor rotated. However, the the components didn't actually connect.

[2016-06-14 00:04] samreid commented on #131
I'll leave this off of the "black-box-study label" then.

[2016-06-14 00:05] samreid commented on #128
I think we should add a rule that components cannot be connected when outside of the black box in build mode.

[2016-06-14 00:11] samreid opened #132 "More vertex pushing"
From #125

In general, this seems to be working, but in reviewing #113, I ran into this situation.

![rotation](https://cloud.githubusercontent.com/assets/8419308/15914034/ef796bb2-2d9a-11e6-8a3b-ebe6df8a0084.gif)

The battery and resistor on the right side of the black box look like they may have potentially overlapped, so the resistor rotated. However, the the components didn't actually connect.

[2016-06-14 00:12] samreid commented on #132
Oops, duplicate, closing.

[2016-06-14 00:12] #132 closed

[2016-06-14 00:26] samreid commented on #130
Making it so that the system can detect whether the NumberControl/HSlider changed the property value seems like it would be very difficult, and could involve changes to those sun classes.  If I could easily make a property proxy, that might work but it could be brittle (would have to support entire Property API) with delegates for potentially every method.

[2016-06-14 00:34] samreid commented on #130
Fixed above using a proxy Property, will need to be thoroughly tested.

[2016-06-14 01:48] samreid commented on #102
I'll close this issue with the workaround in place, then create a new issue focused on improving this.

[2016-06-14 01:48] #102 closed

[2016-06-14 01:49] samreid opened #133 "Node highlight code is fragile"
From #102

I've marked this for the study version since it seems possible that the workaround could result in buggy/quirky behavior for connected chains of circuit elements.

[2016-06-14 03:15] samreid commented on #133
Fixed above, should be reviewed in next version since it affected the way all highlights are drawn.

[2016-06-14 03:30] samreid commented on #127
The way Scenery PhET's LightBulbNode is implemented, we cannot use opacity to fade out the light bulb image.  I've reverted that above so that neither the bulb nor brightness lines fade when switching investigate <-> build.  The correct solution to this problem is to switch to our own bulb representation, but I'm not sure whether that is needed for the study.

When this is ready for review, I'll a

[2016-06-14 04:11] samreid commented on #113
In the above commit, I iterate over all vertices in a fixed subgraph and move them all inside the black box.  It works well, but now we must tackle variable-length wires.

[2016-06-14 04:13] samreid commented on #113
In the above solution, I applied a 2-pass approach that seems to work well for translating things as well as shrinking wires that are longer than the black box, it will need to be tested.

[2016-06-14 04:23] samreid commented on #129
Fixed above, will need to be tested.  This bug may have been introduced by another "fix" so we should be vigilant to try to identify if this causes a correlated bug.

[2016-06-14 05:50] samreid commented on #128
I added a rule in #113 that the interface vertices cannot be moved, it seems to have covered this case, closing.

[2016-06-14 05:51] samreid commented on #128
Or shall I say, fixed pending testing.

[2016-06-14 05:58] samreid opened #134 "Testing for 1.0.0-dev.16"
Published here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box/1.0.0-dev.16/circuit-construction-kit-black-box_en.html

I'll mark related issues so they will appear below.

[2016-06-14 05:59] samreid commented on #133
Please test in https://github.com/phetsims/circuit-construction-kit/issues/134

[2016-06-14 05:59] samreid commented on #130
Please test in https://github.com/phetsims/circuit-construction-kit/issues/134

[2016-06-14 06:00] samreid commented on #129
Published in https://github.com/phetsims/circuit-construction-kit/issues/134 for testing.

[2016-06-14 06:01] samreid commented on #128
Ready for testing in https://github.com/phetsims/circuit-construction-kit/issues/134

[2016-06-14 06:02] samreid commented on #127
@arouinfar can you review the behavior in https://github.com/phetsims/circuit-construction-kit/issues/134 and comment on whether we must get the new light bulbs for the study version or whether what's implemented is sufficient?

[2016-06-14 06:03] samreid commented on #113
Please see #134 for testing.

[2016-06-14 06:03] samreid commented on #112
Please see #134 for testing.

[2016-06-14 06:03] samreid commented on #97
Please see #134 for testing.

[2016-06-14 06:04] samreid commented on #87
Please see #134 for testing.

[2016-06-14 06:05] samreid commented on #134
I marked all issue for testing or discussion above, and am ready for @arouinfar to take a look at each issue and the overall simulation to see if it is ready to share to our collaborators.

[2016-06-14 15:01] phet-steele commented on #48
@samreid it's everything that gets connected to the bottom right wire. For instance, the very first connection made in the video shows the middle wire connecting to the bottom right wire. That connection shows the bottom right wire layered above the solder.

[2016-06-14 17:06] arouinfar commented on #97
👍

[2016-06-14 17:06] #97 closed

[2016-06-14 17:14] arouinfar commented on #130
Looks good!

[2016-06-14 17:14] #130 closed

[2016-06-14 17:14] arouinfar commented on #112
👍

[2016-06-14 17:14] #112 closed

[2016-06-14 17:18] arouinfar commented on #127
Looks good @samreid. No need to change the light bulb artwork for the Stanford study.

[2016-06-14 17:18] #127 closed

[2016-06-14 17:24] arouinfar commented on #133
@samreid I was not able to reproduce the issue described in #102 using @phet-steele's method in dev.16. I haven't encountered any instance of the node highlight misbehaving, but I think this is an issue that @phet-steele should bang away at when I pass #134 off to him.  (@phet-steele -- I'll create a QA testing issue in tasks when the time comes.)

[2016-06-14 17:37] arouinfar commented on #87
@samreid it looks like things are not quite working. Here's a screencast showing one case that doesn't work (Warm-Up) and one that does (Black Box 2). In the Warm-Up, the resistor in "Reveal" shows an undefined voltage, even when the probes are moved around.

![probeinblackbox](https://cloud.githubusercontent.com/assets/8419308/16052977/fcdf0d24-3223-11e6-90cd-32dccc277f6e.gif)

[2016-06-14 17:39] arouinfar commented on #87
Here's another example
![probeinblackbox2](https://cloud.githubusercontent.com/assets/8419308/16053117/aa5fddfc-3224-11e6-845b-e48ee21f04b7.gif)

[2016-06-14 17:45] arouinfar commented on #113
Looks good @samreid! Closing.

[2016-06-14 17:45] #113 closed

[2016-06-14 21:50] arouinfar commented on #128
Somethings still not quite right here @samreid.

If I connect a fixed-length component to the outside of the black box in Build mode, it remains outside. I can continue to build outside of the black box if I connect other fixed-length components to the first one.

![externalnodes](https://cloud.githubusercontent.com/assets/8419308/16059910/6454fb08-3242-11e6-915c-972ccc453a24.gif)

After deleting

[2016-06-14 21:51] arouinfar commented on #129
This appears to be fixed, but I'd like to keep this one open for @phet-steele to take a look at when he works on #134.

[2016-06-14 22:00] arouinfar commented on #134
I've completed my review of dev.16 and have closed or reassigned the issues as appropriate. The next step will be for @phet-steele to follow up with some additional QA testing.

@phet-steele it would be particularly helpful if you could take a look at #128, #129, and #133, since you originally reported the issues. I believe #128 and #133 have been fixed, but would like you to confirm.

Please hold

[2016-06-16 20:54] brroberts1231 opened #135 "Voltmeter has backwards reading"
For phetsims/tasks#617

Test device: Dirac

Operating System: 10.10.5

Browser: Safari

Problem description: The voltmeter reads battery voltages backwards, giving the negative value of what it should be. (Confirmed by @arouinfar that this is actually wrong and I'm not just remembering incorrectly about how it should work.)

Screenshots:
![cck](https://cloud.githubusercontent.com/assets/11947677/1

[2016-06-16 21:00] arouinfar commented on #135
Good catch @brroberts1231. Also tagging #134.

For comparison here's the Java version CCK and Capacitor Lab: Basics
![image](https://cloud.githubusercontent.com/assets/8419308/16132898/77b670be-33d2-11e6-9114-47a8eb73731e.png) ![image](https://cloud.githubusercontent.com/assets/8419308/16132920/880a1de4-33d2-11e6-81e4-083732cc12b9.png)

If the red (positive) probe is on the positive terminal of th

[2016-06-17 15:20] phet-steele commented on #129
@samreid I don't see this anymore.

[2016-06-17 15:20] #129 closed

[2016-06-17 15:36] samreid commented on #135
This may have broken in https://github.com/phetsims/circuit-construction-kit/issues/101

[2016-06-17 15:37] samreid commented on #135
Hence we may solve this by turning around the battery image and reversing the flow of electrons.

[2016-06-17 15:41] samreid commented on #87
I reproduced the problem, thanks @arouinfar!

[2016-06-17 16:11] samreid commented on #87
There was another place that needed to get new logic about reveal mode, should be fixed above.  Putting on hold until I publish another version for @arouinfar to test.

[2016-06-17 16:14] samreid commented on #128
I'll move the "connecting objects outside the black box" to a new issue, and this issue can remain to be focused on vertex pushing.

[2016-06-17 16:15] samreid opened #136 "Make it impossible to connect wires outside of the black box in build mode"
From #128

[2016-06-17 16:15] samreid commented on #136
@arouinfar said:

Something's still not quite right here @samreid.

If I connect a fixed-length component to the outside of the black box in Build mode, it remains outside. I can continue to build outside of the black box if I connect other fixed-length components to the first one.

![externalnodes](https://cloud.githubusercontent.com/assets/8419308/16059910/6454fb08-3242-11e6-915c-972ccc453a24.gi

[2016-06-17 16:16] samreid commented on #128
@arouinfar now that the "connecting objects outside the black box" is moved to a separate issue, can this issue (about vertex pushing) be closed?

[2016-06-17 16:24] samreid commented on #135
OK the battery is forward again and things are looking good.
![image](https://cloud.githubusercontent.com/assets/679486/16157401/a32b3f42-3475-11e6-9172-d117ca405fc5.png)

I'll have to reopen #101 and solve it a different way.

[2016-06-17 16:25] samreid commented on #101
We cannot turn around the battery because it inverts the voltmeter reading in #135, so we'll need to reverse the electron velocity.

[2016-06-17 17:40] samreid commented on #136
My original thought was to prevent that kind of connection in the first place.  I like the idea of rotating batteries in, so I'll investigate that next, but it will likely be instantaneous rather than animated.

[2016-06-17 17:41] samreid commented on #136
Also, I'm somewhat concerned that flipping the battery inside the box could cause it to overlap some other vertex and make it bump out of the way--so there could be odd interactions.

[2016-06-17 17:43] arouinfar commented on #136
You raise an excellent point @samreid. Perhaps its better to prevent the connection altogether.

[2016-06-17 17:44] samreid commented on #136
OK I'll investigate preventing the connection first.

[2016-06-17 17:54] arouinfar commented on #128
@samreid I ran into another instance of vertex pushing. If a fixed-length component is in the path of a wire that snaps into the box, such that their vertices are within the snap-to-connect distance, it's possible for the vertex of the fixed-length component to be dislocated.
![vertexpushing2](https://cloud.githubusercontent.com/assets/8419308/16159718/8bcc2bde-3481-11e6-9d27-14b3be2f5d69.gif)

[2016-06-17 17:56] samreid commented on #128
Thanks @arouinfar, this may be solved if we expand the rules of #136 to say that a component cannot propose a connection inside a black box if any of its vertices are outside of the black box.  Sound like it is worth investigating?

[2016-06-17 17:58] arouinfar commented on #128
@samreid that sounds like a reasonable rule. Please look into it.

[2016-06-17 21:49] samreid commented on #136
This is implemented as prescribed and it seems like it is working nicely.  I wouldn't be surprised to find many corner cases though, so it should be thoroughly tested.

[2016-06-18 14:35] samreid opened #137 "Add electrons to the Black Box: Study version"
@kathy-phet said:

I would include the show electrons and the CCK backend data as part of the study work because they will want to use these when ready they just were not prioritized for mvp.

[2016-06-18 14:36] samreid opened #138 "Add the PhET-iO data stream to Black Box: Study"
Similar to #79.  @kathy-phet said:

I would include the show electrons and the CCK backend data as part of the study work because they will want to use these when ready they just were not prioritized for mvp.

[2016-06-18 14:43] samreid commented on #134
New version incoming, please withhold testing until the new version is ready.

[2016-06-18 14:45] samreid commented on #128
I implemented that as described and it seems like it is working well.  Will be ready for testing in next version.

[2016-06-18 14:45] samreid commented on #133
Putting on hold until a new version is published.

[2016-06-18 15:07] samreid opened #139 "Rename circuit-construction-kit-black-box repo to circuit-construction-kit-black-box-study repo"
I realized we should probably rename circuit-construction-kit-black-box repo to circuit-construction-kit-black-box-study repo because we may eventually publish a Black Box version that is substantially different than the study version.

Or... is the black box version going to be a screen within a sim?

@arouinfar @ariel-phet @kathy-phet can you remind me about the plans regarding PhET Black Box (o

[2016-06-20 18:45] samreid commented on #138
After the above commits, all validated tandems are now passing.

[2016-06-20 18:59] samreid commented on #134
I'll create a new issue for testing the next version.

[2016-06-20 18:59] #134 closed

[2016-06-20 19:04] samreid opened #140 "Testing for 1.0.0-dev.17"
Similar to https://github.com/phetsims/circuit-construction-kit/issues/134

I'll backlink the issues so they will appear with status below.

[2016-06-20 19:06] samreid commented on #87
Please refer to https://github.com/phetsims/circuit-construction-kit/issues/140 for testing.

[2016-06-20 19:06] samreid commented on #128
Please refer to https://github.com/phetsims/circuit-construction-kit/issues/140 for testing.

[2016-06-20 19:06] samreid commented on #133
Please refer to https://github.com/phetsims/circuit-construction-kit/issues/140 for testing.

[2016-06-20 19:06] samreid commented on #135
Please refer to https://github.com/phetsims/circuit-construction-kit/issues/140 for testing.

[2016-06-20 19:06] samreid commented on #136
Please refer to https://github.com/phetsims/circuit-construction-kit/issues/140 for testing.

[2016-06-20 19:17] samreid commented on #140
Dev version published here and ready for testing:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box/1.0.0-dev.17/circuit-construction-kit-black-box_en.html

I'll update the tasks issue to reflect this new information.

[2016-06-20 21:25] brroberts1231 opened #141 "Vertices don't connect in build screen"
For phetsims/tasks#617 and #140
Test device: Bates

Operating System: Windows 7

Browser: Chrome

Problem description: Component vertices in build mode will not connect to each other under certain circumstances. It seems to only happen when there is something connected to the box's vertex from investigate mode. Then when you connect a component to the box vertex and then try to connect it to somet

[2016-06-20 21:32] phet-steele commented on #128
@samreid the procedure in https://github.com/phetsims/circuit-construction-kit/issues/128#issuecomment-226837158 still happens in 1.0.0-dev.17.

[2016-06-20 21:38] phet-steele opened #142 "Clicking components can sometimes create a connection with another nearby component"
@samreid here's one way to reproduce, this isn't exactly consistent. This way detaches the battery from its positive vertex.

![cckbb06](https://cloud.githubusercontent.com/assets/5863899/16211049/7a69513c-36fc-11e6-8e4f-6efcf4e6bc12.gif)

For phetsims/tasks/issues/617.
Troubleshooting information:
Name: ‪Circuit Construction Kit: Black Box‬
URL: http://www.colorado.edu/physics/phet/dev/html/circu

[2016-06-20 21:45] brroberts1231 commented on #141
I'll be posting a few more examples as I record them.

Here you can see that it will not allow connecting components that have investigate components on their vertices to a component whose box vertex has nothing else connected, but it will allow the reverse. Works the same way with components that aren't connected to any box vertex.
![cck-1](https://cloud.githubusercontent.com/assets/11947677/1621

[2016-06-20 21:53] brroberts1231 commented on #141
However fixed length components connected to a free vertex will not be able to connect, when a wire would.
![cck-2](https://cloud.githubusercontent.com/assets/11947677/16211489/029c683a-36ff-11e6-99b9-09fa43910579.gif)

[2016-06-21 15:00] phet-steele commented on #87
@samreid @arouinfar I haven't seen it not read during reveal in 1.0.0-dev.17

[2016-06-21 16:13] phet-steele commented on #138
@samreid I'm getting an error from automated testing that's more than likely from one of these commits:

[code]

[2016-06-21 16:24] phet-steele commented on #135
@arouinfar @samreid I can verify that voltages are read correctly in 1.0.0-dev.17

[2016-06-21 16:34] phet-steele commented on #141
@samreid this is certainly a consequence of the rule you stated in https://github.com/phetsims/circuit-construction-kit/issues/128#issuecomment-226837685. In all of these videos, if the wires that are placed in Investigate are instead rotated to be "inside" the black box, then all connections work correctly. To demonstrate:

![cckbb07](https://cloud.githubusercontent.com/assets/5863899/16237925/b9

[2016-06-21 16:41] phet-steele commented on #128
@arouinfar @samreid aside from the issues pointed out in #141, I'm not a huge fan of this proposed rule (https://github.com/phetsims/circuit-construction-kit/issues/128#issuecomment-226837685) in general. It is not good at handling vertices along the top and bottom of the black box. It's very frustrating to try to make connections and also causes some intense flickering while dragging (not capture

[2016-06-21 18:38] phet-steele commented on #133
@samreid I can't reproduce with my old procedure either, I'll deem as fixed for now.

[2016-06-21 18:38] #133 closed

[2016-06-21 18:52] phet-steele commented on #48
@samreid, this could probably be its own issue, but revealing or switching between investigate and build brings all solder to the top layer.

[2016-06-21 19:51] brroberts1231 opened #143 "Back layer is prioritized when measuring overlapping wires"
This one is probably a bit lower priority than most of the vertex connection problems.
If two or more wires overlap, and you measure current or voltage at the point where they cross, the value read will be for the wire displayed on the furthest back layer. I feel like this could be confusing and it should read the front-most wire.

I made this setup with two batteries of different voltage with som

[2016-06-22 18:37] samreid commented on #142
Backlinking to https://github.com/phetsims/circuit-construction-kit/issues/140

[2016-06-22 18:39] samreid commented on #87
Thanks @phet-steele, I'll close the issue for now.

[2016-06-22 18:39] #87 closed

[2016-06-22 18:40] samreid commented on #135
Thanks @phet-steele, closing.

[2016-06-22 18:40] #135 closed

[2016-06-23 20:41] samreid commented on #140
Testing complete and work tracked in separate issues, closing.

[2016-06-23 20:41] #140 closed

[2016-06-28 01:14] samreid opened #144 "For each file: Review, document, annotate, i18n, bring up to standards"
From email:

Let's also discuss when to start bringing this code up to our usual standards.  I've been treating the black box study project for a long time as "get to the minimum viable product quickly". The overall architectural foundation is good, but the simulation will benefit from me taking the time to bring the code up to full standards, file-by-file.  I wanted to mention this explicitly bec

[2016-06-28 01:14] samreid commented on #144
@ariel-phet replied:

[2016-06-28 01:17] samreid commented on #144
I'm tagging all files with this comment:

[code]

When they have been proofread and standardized, the label may be removed.

[2016-06-28 01:37] samreid commented on #137
I added the show electrons checkbox where it appears in the "basics" design.  That panel is not the same width as the sensor panel, but I was not planning to match the width for the "study" version (mentioning it though in case @kathy-phet @ariel-phet or @arouinfar disagrees).

![image](https://cloud.githubusercontent.com/assets/679486/16401061/5e17a61c-3c9e-11e6-8da1-453abd7f8355.png)

We can mat

[2016-06-28 02:18] samreid opened #145 "Electrons should not be visible in front of black box"
Could solve with clipping or relayering:

![image](https://cloud.githubusercontent.com/assets/679486/16401758/3cb5a34c-3ca4-11e6-8a61-4907371272bc.png)

[2016-06-28 02:19] samreid commented on #137
Electrons were added in the above commit, other problems such as #101 and #145 and #100 will be addressed in separate issues.

[2016-06-28 02:19] #137 closed

[2016-06-28 02:28] samreid opened #146 "Electrons should be created when a component is created even if "show electrons" is off."
For now, we are implementing electrons as "always moving but not always visible" so that we can focus on optimizing for them.  We need to make sure electrons get created whenever a new circuit element is created, whether or not the electrons are visible.

[2016-06-28 19:11] samreid commented on #146
Fixed above, closing.

[2016-06-28 19:11] #146 closed

[2016-06-28 19:20] samreid commented on #101
Fixed above, closing.

[2016-06-28 19:20] #101 closed

[2016-06-28 19:33] samreid commented on #93
Electrons are added, let's deal with follow-up work in separate issues.

[2016-06-28 19:33] #93 closed

[2016-06-28 20:13] samreid commented on #100
Fixed above, closing.

[2016-06-28 20:13] #100 closed

[2016-06-28 20:14] samreid opened #147 "Allow electrons to flow while vertices being dragged."
This could be simulated (maybe?) by maintaining phase when relaying out electrons during a drag.

[2016-06-28 20:57] samreid commented on #145
Clipping may be easier to implement in isolation--I recall there were other issues with layering the black box and circuit elements getting incorrectly layered in front or behind.  But on the other hand, figuring out the layering so it is straightforward may be the best long term solution.

[2016-06-28 21:03] samreid commented on #145
I'm not sure clipping would work exactly because of cases like this:

![image](https://cloud.githubusercontent.com/assets/679486/16432265/6efc132a-3d41-11e6-9808-f82143fee7c0.png)

Maybe we can start with a simple rule like "if the electron is in a circuit element that is inside the true black box and reveal is not being pressed, then don't display the electron".

[2016-06-28 21:53] samreid commented on #145
Fixed above (with somewhat flickery solution, but hopefully good enough for study), closing.

[2016-06-28 21:53] #145 closed

[2016-06-28 22:13] samreid opened #148 "Electron layering"
The electrons disappear when connecting two batteries, this is because the battery nodes are brought to the front but the electrons are not.

I tried to solve this by bringing the electrons to the front when their corresponding circuit element was brought to the front, but it created odd cases like this:

![electrons](https://cloud.githubusercontent.com/assets/679486/16434123/0835a5fc-3d4b-11e6-81

[2016-06-28 22:33] samreid commented on #148
We cannot assume that a circuit element view exists by the time the corresponding electron model element is created.

[2016-06-28 23:17] samreid commented on #148
Hmm.. I tried looking into creating ElectronGroupNode so that each Electron would be layered with its circuit element, but realized that will cause quirks like this:
![image](https://cloud.githubusercontent.com/assets/679486/16435558/2fc36560-3d54-11e6-82bb-0c1b73b69f6c.png)

[2016-06-28 23:18] samreid commented on #148
I should mention that the implementation for electrons in Java was a hack based on constructive area geometry clipping, which would be difficult to duplicate here.

[2016-06-28 23:52] samreid commented on #148
Maybe we can go with interleaved layering in the circuit node, and putting ElectronNodes in front of their own CircuitElement *and* all of their neighbor circuit elements.  After saying that out loud, it sounds like it couldn't possibly work, like it implies two Electrons would have to mutually be in front of each other (not sure whether this is true).

It may be best to keep an indexing over the

[2016-06-28 23:56] samreid commented on #148
Or we could add all new electrons when any circuit element moves to front?

[2016-06-29 00:12] samreid commented on #148
Here's a loop we should address:

![loop](https://cloud.githubusercontent.com/assets/679486/16436540/d729dfda-3d5b-11e6-9e2c-ebf931602abd.gif)

[2016-06-29 00:15] samreid commented on #148
This seems like it is working best of all the things I've tried.  Will commit shortly.

[2016-06-29 00:54] samreid commented on #148
Fixed for now, we'll probably have to do something more sophisticated for the DC version.

[2016-06-29 00:54] #148 closed

[2016-06-29 13:09] samreid commented on #138
Fixed the "TypeError: tandem.createTandem is not a function"

[2016-06-29 18:20] samreid opened #149 "Add electron speed throttling"
In the Java CCK, the speed throttles when the electron velocity is too high, so there is no strobe effect.  In the HTML5 version, there is no throttling and a high current circuit will just show the electrons transporting from vertex to vertex immediately:

![image](https://cloud.githubusercontent.com/assets/679486/16463641/e26a740c-3df3-11e6-8241-7d071ddd44ff.png)

[2016-06-30 17:59] samreid opened #150 "Rename to circuit-construction-kit-common"
To make it clear this repo powers many sims and is not a sim itself, we would rename to circuit-construction-kit-common.

[2016-06-30 18:26] arouinfar commented on #139
@samreid it's still unclear at this point whether or not Black Box will be a screen within CCK: DC or a standalone sim. It may take some time before we determine how/if a Black Box would fit into CCK: DC.

At this point, it's fine to to leave the repo name as is, and then rename it to circuit-construction-kit-black-box-study if we decide to make a standalone CCK: Black Box sim.

[2016-06-30 21:59] samreid opened #151 "Save & Load"
We would like to have save and load without having to rely on phet-io.  Query parameters seems like the simplest way to do this from the user's standpoint.  But we would need to choose a sparse data representation, possibly rounding off the floating point numbers and compressing it, then we may still have problems in browsers like IE with a small number of query parameters.  This will be for the D

[2016-06-30 22:01] samreid commented on #151
@kathy-phet said it would be good to support file:// for this as well.

[2016-07-03 03:07] samreid commented on #128
Proposed fix above.  I expanded the black box bounds outward so that the black box vertices are in bounds and it seems to help.  This will need testing.  Will moving the black box bounds outward cause other problems?  Let's find out in the next test version.

[2016-07-03 03:09] samreid commented on #136
This seems like it is working properly, closing.

[2016-07-03 03:09] #136 closed

[2016-07-03 15:40] samreid commented on #141
The problem was introduced in #136, which says that a vertex may not connect to another vertex if it has any connected vertices outside of the black box.  Perhaps this should be refined to say that it is OK for a vertex to be outside of the black box if it is not attachable.

[2016-07-03 15:42] samreid commented on #141
Fixed as described in the preceding comment, ready for testing in next version.

[2016-07-03 16:16] samreid commented on #149
Fixed above.  I think we will also need a throttling message, I'll create a separate issue for that.

[2016-07-03 16:16] #149 closed

[2016-07-03 16:16] samreid opened #152 "Add electron speed throttling message"
Now that electrons speed is throttled properly, we should show a message about the throttling amount.

[2016-07-03 16:22] samreid commented on #152
Here's what it looks like in the Java one:
![image](https://cloud.githubusercontent.com/assets/679486/16546460/1a623cca-4108-11e6-8677-1406255c4bfe.png)

[2016-07-03 16:50] samreid commented on #152
Fixed above, closing.

[2016-07-05 16:25] phet-steele commented on #138
From automated testing on 7/5/2016:
[code]

[2016-07-05 16:55] phet-steele opened #153 "Automated Testing Build Error (7/5/2016 9:58 AM)"
[code]

[2016-07-05 17:06] samreid commented on #153
Fixed above, thanks for reporting the problem @phet-steele, closing.

[2016-07-05 17:06] #153 closed

[2016-07-05 17:12] samreid commented on #138
I removed cck and cck-basics from the test harness while we are focusing on the black-box-study version.

[2016-07-05 17:39] samreid commented on #142
I'm getting a "vertex wasn't in the model" error that is preventing me from investigating further...

[2016-07-05 17:46] samreid commented on #142
@phet-steele pointed out #119 also has a "vertex wasn't in the model error".  I suspect it is the same symptom from a different root cause.

[2016-07-05 17:48] samreid commented on #142
Fixed the "vertex wasn't in the model" error and after several minutes of tinkering, am unable to reproduce the problem from the issue description.  Perhaps it has been fixed (optimistic) or perhaps I was unlucky and didn't stumble across the issue (pessimistic).

[2016-07-05 17:48] samreid commented on #142
@phet-steele are you available to pull latest on phettest and see if the problem from the issue description can be reproduced?

[2016-07-05 18:28] phet-steele commented on #142
@samreid I still made it work as shown above

[2016-07-05 19:26] samreid commented on #142
Thanks, I tried again and was successful.  Here's a surefire way to reproduce the problem:

![snap](https://cloud.githubusercontent.com/assets/679486/16597036/0ef145e0-42b4-11e6-9934-88bcc87c5460.gif)

[2016-07-05 19:38] samreid commented on #142
I can work around the problem by only calling endDrag if drag was called.  This works correctly but leads to an asymmetry in the code and perhaps we should investigate why the buggy behavior is appearing in the first place.

[2016-07-05 20:00] samreid commented on #142
The logic assumes that a vertex has been moved to a proposed connection position before endDrag is called.  The two possible solutions for this are (a) to call drag on startDrag, so the vertex will jump immediately or (b) to avoid connections when only a click has happened, this would be implemented as described in the preceding comment.  I guess it makes most sense that the user should have to mo

[2016-07-05 20:12] samreid commented on #142
OK fixed above, now an object has to be moved (and matches proposed) before connections can be made.  Now I'm seeing a behavior where a vertex is moved out of the way if things are put close but not connecting, but that seems desirable so far (though there may be some buggy corner cases).

[2016-07-05 20:12] #142 closed

[2016-07-05 20:24] samreid commented on #143
Fixed above and ready for testing in next version.

[2016-07-05 20:36] samreid opened #154 "When switching investigate => build, some electrons are behind the wire"
![image](https://cloud.githubusercontent.com/assets/679486/16599022/d41c8f10-42bd-11e6-8bc4-6a4302801cac.png)

[2016-07-05 20:37] samreid opened #155 "Show black box electrons in reveal"
Black box electrons are incorrectly clipped while reveal is being held down

[2016-07-05 20:44] samreid commented on #154
This is probably because of the circuit component relayering we implemented when changing black box modes.  Can we find a way to get rid of that?  It would be better if we didn't have to relayer the electrons (or worse, relayout them, which would cause discontinuities in their motion).

[2016-07-05 21:32] samreid commented on #154
Fixed above, closing.

[2016-07-05 21:32] #154 closed

[2016-07-05 21:48] #155 closed

[2016-07-05 23:12] samreid commented on #143
Testing issue linked above.

[2016-07-05 23:13] samreid commented on #141
Testing issue linked above.

[2016-07-05 23:13] samreid commented on #128
Testing issue linked above.

[2016-07-06 15:33] samreid commented on #71
I see 28MB snapshot after starting screen 1 (not doing anything).  This seems normal so far. After creating a small circuit, it is at 55MB.  Then after reset all, still 55MB.

@phet-steele says he is up to 500MB and a very hot CPU.

[2016-07-06 15:42] samreid commented on #150
Repo was renamed, I'll send an email for everybody to update accordingly.

[2016-07-06 15:43] samreid commented on #150
I emailed our developer list:

circuit-construction-kit was renamed to circuit-construction-kit-common, see https://github.com/phetsims/circuit-construction-kit-common/issues/150

Please update your working copies accordingly,
Sam

[2016-07-06 15:44] #150 closed

[2016-07-06 15:51] phet-steele opened #156 "Electrons aren't paused when the sim is paused"
Using `?showPlayPauseButton`

For phetsims/tasks/issues/636

[2016-07-06 16:00] phet-steele commented on #128
@samreid I'm still getting a lot of flickering.

[2016-07-06 16:01] samreid commented on #128
Same as in https://github.com/phetsims/circuit-construction-kit-common/issues/128#issuecomment-227498773 ?

[2016-07-06 16:07] phet-steele commented on #128
@samreid yes

[2016-07-06 16:45] samreid commented on #128
Are you still seeing flickering for perfectly horizontal components, or only for near-horizontal components?

[2016-07-06 16:48] phet-steele commented on #128
Only near-horizontal. The initial drag from the component box performs optimally.

[2016-07-06 18:57] alynne-phet opened #157 "Numbers on voltmeter and ammeter are not vertically centered"
For phetsims/tasks#636
Test Device: Personal Laptop
Operating System: Mac OSX 10.11.5
Browser: Chrome

Problem Description: Numbers on voltmeter and ammeter are not horizontally centered. This is seen on the explore and the black box screens.

![image](https://cloud.githubusercontent.com/assets/19288972/16629597/940535ba-4373-11e6-98a7-c147d029dc57.png)

In the Capacitor Lab: Basics sim, the numbe

[2016-07-06 19:36] phet-steele commented on #152
@arouinfar has suggested only showing this message when "Show Electrons" is checked, and hiding it when not checked.

[2016-07-06 20:06] phet-steele commented on #141
@samreid not quite. If two components placed in "Build" have one vertex outside of the box, no more connects can be made:

![cckbb09](https://cloud.githubusercontent.com/assets/5863899/16632735/c37f00a0-4382-11e6-87c2-1c938bb00487.gif)

[2016-07-06 20:55] samreid commented on #152
Great idea, thanks @arouinfar, will do.

[2016-07-06 21:05] brroberts1231 opened #158 "Much slower performance than dev.17"
For phetsims/tasks#636
Test device: Bates

Operating System: Windows 7

Browser: Chrome, Firefox, IE

Problem description: Dev.18's performance can become noticeably slow when dragging around components if there are around 5 or 6 components on the screen, and gets very bad once there are more than 10. Mainly only affects components that move 2 or more wires when you drag them.
(Probably a result o

[2016-07-06 21:13] phet-steele commented on #158
This is the behaviour being reflected in #71.

[2016-07-06 21:47] brroberts1231 commented on #143
Fixed, closing

[2016-07-06 21:47] #143 closed

[2016-07-07 16:58] phet-steele opened #159 "Electron gaps with short wires"
@arouinfar @samreid the quantity of electrons in a wire depends on the length of the wire, and if the wire is short enough, there are no electrons in the wire:
<img width="277" alt="screen shot 2016-07-07 at 10 42 11 am" src="https://cloud.githubusercontent.com/assets/5863899/16661601/ebd64794-4430-11e6-8531-a764ebf618e4.png">

If a circuit is made with any "short" wires, there are gaps in the ele

[2016-07-07 18:02] arouinfar commented on #159
Good observation @phet-steele. It looks like this issue is also present in the Java version. Perhaps if we limit wires to have at least one electron (unless their vertices overlap), the problem will be alleviated.

These wires should have at least one electron:
![image](https://cloud.githubusercontent.com/assets/8419308/16663722/6cbd43f4-443a-11e6-81b3-4361b8ba5a5e.png) ![image](https://cloud.gith

[2016-07-07 18:20] alynne-phet opened #160 "An electron gets stuck on the lightbulb"
For phetsims/tasks#636
Test Device: Personal Laptop
Operating System: Mac OSX 10.11.5
Browser: Chrome

Problem Description: An electron gets stuck on the lightbulb when only one point on the lightbulb is attached to the circuit. This is happening in the Java version of the sim as well.

Steps to Reproduce:
1. Create any complete circuit
2. Select the option to show electrons
3. Attach only one poi

[2016-07-07 19:57] alynne-phet opened #161 "Lightbulb rays go over some of the panels and text boxes"
For phetsims/tasks#636
Test Device: Personal Laptop
Operating System: Mac OSX 10.11.5
Browser: Chrome

Problem Description: The lightbulb rays go over some of the panels and text boxes. This makes it hard to read/see whatever is below the rays.

Steps to Reproduce:
1. Create any complete circuit including a lightbulb
2. Change the resistance of the lightbulb to 0 ohms
3. Move the lightbulb over an

[2016-07-07 20:30] samreid commented on #161
@arouinfar can you think about the layering of the light rays and the layering of the circuit components?  Should circuit components go in front of text and in front of control panels?  Should light rays go behind  text and control panels?  Should light rays go behind other circuit components?

If we decide that light rays should go behind control panels but circuit components go in front of contr

[2016-07-07 20:32] samreid commented on #160
I think this behavior is correct, it is showing that there is no current between the beginning and end of the light bulb. I'll reassign to @arouinfar to confirm.  If you agree, then please close the issue.

[2016-07-07 20:47] samreid commented on #159
Fixed above, ready for review in next version.

[2016-07-07 20:55] samreid opened #162 "Instead of relayout electrons for every changed vertex, mark dirty"
To help address https://github.com/phetsims/circuit-construction-kit-common/issues/158 we could mark vertices as dirty instead of relaying out electrons for each vertex in the graph.  It is leading to a lot of duplicated work:

![image](https://cloud.githubusercontent.com/assets/679486/16669448/cecc3100-4452-11e6-9421-a548303a1e3f.png)

[2016-07-07 21:22] samreid commented on #10
Kathy says we may want to model current as a function of voltage (like a sigmoid), at steady state.

[2016-07-08 17:21] samreid commented on #35
It does seem unnecessarily complex for disconnected vertices to be behind and connected vertices to be in front, so I'll close this issue and open a separate issue for the remaining issue of:

[2016-07-08 17:21] #35 closed

[2016-07-08 17:22] samreid opened #163 "Disconnected vertices should be red, connected vertices should be black"
From #35

In Java (and the mockups) disconnected nodes are red, while those that are connected to at least one component are black. This feature is currently missing from master, but it is one that Stanford would like in the MVP.

[2016-07-08 17:26] samreid commented on #22
For debugging, I added a query parameter to show the node voltages.  You can see this feature with ?vertexDisplay=voltage

Here's an example:
![image](https://cloud.githubusercontent.com/assets/679486/16695736/ad6b285c-44fe-11e6-8594-7a9f9d49a9e3.png)

[2016-07-08 17:29] samreid commented on #48
I'll move the preceding comment to a new issue.

[2016-07-08 17:29] samreid opened #164 "Revealing or switching between investigate and build brings all solder to the top layer"
From #48, revealing or switching between investigate and build brings all solder to the top layer (except any solder in investigate mode apparently).

[2016-07-08 17:32] samreid opened #165 "Solder should be in front of wires"
In #48 we decided the solder should be in front of the wires.  However, @phet-steele identified a case where this is failing:

A wire will appear above the solder in the following scenario, seen in the #126 version. Before trying to reproduce, note it is VERY important to watch the order of events. The order in which wires/components are taken from the toolbox and placed into the play area is the

[2016-07-08 17:33] samreid commented on #48
I also moved the comment from https://github.com/phetsims/circuit-construction-kit-common/issues/48#issuecomment-224398479 to a separate issue.

[2016-07-08 17:33] #48 closed

[2016-07-08 17:35] samreid commented on #62
It is used extensively in the unit tests, closing.

[2016-07-08 17:35] #62 closed

[2016-07-08 17:38] samreid commented on #64
We'll leave the workaround in place for now.  If/when it gets factored out into SimpleDragHandler, we'll update CCK.

[2016-07-08 17:38] #64 closed

[2016-07-08 17:46] samreid commented on #157
It appears the text is horizontally centered, but not vertically centered.  I'll update the labels (but correct me if I'm wrong).

[2016-07-08 17:47] samreid commented on #90
Duplicate of #157, closing.

[2016-07-08 17:47] #90 closed

[2016-07-08 17:47] samreid commented on #92
We decided to leave the edit component at the bottom of the screen, and it is already there.  Closing.

[2016-07-08 17:47] #92 closed

[2016-07-08 17:49] samreid commented on #98
DT is now capped in ConstantDensityPropagator, closing.

[2016-07-08 17:49] #98 closed

[2016-07-08 17:52] samreid commented on #128
I'll move this last issue to a new separate issue.

[2016-07-08 17:52] samreid opened #166 "Near-horizontal and near-vertical circuit components flicker near black box vertices"
See #128, Near-horizontal and near-vertical circuit components flicker near black box vertices

[2016-07-08 17:55] samreid commented on #139
I've already renamed this (a) for future-proofing and (b) so it is clear to other developers that this is for a study, not a production simulation.

[2016-07-08 17:55] #139 closed

[2016-07-08 18:10] arouinfar commented on #22
Good idea @samreid!

Next design meeting, let's go through the myriad open issues we have tagged for discussion.

[2016-07-08 18:49] samreid commented on #152
I'll create a separate issue for the preceding comment.

[2016-07-08 18:49] #152 closed

[2016-07-08 18:49] samreid opened #167 "Only show the throttling message when "show electrons" checked"
From #152, @arouinfar has suggested only showing this message when "Show Electrons" is checked, and hiding it when not checked (not the current behaviour in 1.0.0-dev.18).

[2016-07-08 19:04] samreid commented on #162
I tried adding a rule that each circuit element would only have its electrons updated once per frame, and performance was better, but it did not work out so well:

![eminus3](https://cloud.githubusercontent.com/assets/679486/16698624/764f386e-450c-11e6-8050-3e6eb70b844c.gif)

[2016-07-08 19:05] samreid commented on #162
Also, if you're quick you can leave electrons behind:

![image](https://cloud.githubusercontent.com/assets/679486/16698668/acef972e-450c-11e6-8196-6ef494644520.png)

[2016-07-08 19:29] samreid commented on #162
Fixed above using a dirty flag, now the updating happens once per circuit element per frame, and the electrons remain inside the circuits.

![image](https://cloud.githubusercontent.com/assets/679486/16699204/00a1cb46-4510-11e6-8228-bc68270b13c2.png)

[2016-07-08 19:34] samreid commented on #162
This is working much better, closing.

[2016-07-08 19:34] #162 closed

[2016-07-08 19:39] samreid opened #168 "Considering pooling ElectronNodes"
In profiling for #158, creation of ElectronNodes shows as a big part of the time in the profiler.  Perhaps pooling them would help.

[2016-07-08 20:40] samreid opened #169 "Only update ElectronNode view after all model changes"
To improve performance in #158, one thing that could be done to significantly improve performance is to only update ElectronNode after ConstantDensityPropagator is complete, instead of incrementally after each (of 3) steps.

This is somewhat out of our normal design pattern, but this problem has come up in many sims.

[2016-07-08 21:43] samreid commented on #169
Fixed above, and the motion is smoother on iPad, closing.

[2016-07-08 21:43] #169 closed

[2016-07-08 21:47] samreid commented on #158
I tried boundsMethod = none for ElectronNode, but it doesn't seem to help at all.

[2016-07-08 21:52] samreid commented on #168
This is taking up about 13% of the application time (on Canary), when dragging a circuit around.

![image](https://cloud.githubusercontent.com/assets/679486/16702526/eabc7cfe-4523-11e6-9a75-b24229d7a940.png)

[2016-07-08 22:08] samreid commented on #167
Fixed above, closing.

[2016-07-08 22:08] #167 closed

[2016-07-08 22:16] samreid commented on #160
This behavior is indeed correct, but I'm wondering if it could be confusing for students who think it is broken instead of that there is no current flowing through a component.  Though I don't think any concerns have been raised for the Java CCK, so perhaps we should just close this.  @arouinfar reopen if you have other thoughts.

[2016-07-08 22:16] #160 closed

[2016-07-08 22:23] samreid commented on #156
Fixed above, closing.

[2016-07-08 22:23] #156 closed

[2016-07-08 22:43] samreid commented on #157
We chose to have the text right-aligned so that the decimal place will always be in the same place, for instance:

[code]

I'll commit shortly to center it vertically.

[2016-07-08 22:44] samreid commented on #157
Vertically centered above, closing.

[2016-07-08 22:44] #157 closed

[2016-07-09 01:02] samreid commented on #72
@arouinfar can you create new artwork for this soon (or work with PhET's artist) so I don't need to rely on the Java version?

[2016-07-09 01:10] samreid opened #170 "Should the black box study code be in this repo?"
The Concentration sim appears as a screen in Beer's Law Lab, hence it makes sense for concentration code to appear in the beers-law-lab repo.  However, the Black Box Study will not appear in "circuit construction kit common", which indeed is not a sim.  For this situation, should the black-box specific code be developed in the black box repo, or is it simpler/better to keep all of the code in one

[2016-07-09 01:29] samreid commented on #170
I should also mention that numerous "black box" features are going to be coded in "circuit construction kit common" code.  For instance, a circuit Vertex has an attribute "isBlackBoxInterfaceVertex".  Rather than subclassing Vertex to create BlackBoxVertex and having factory functions that decide which kind of vertex to create, it is just centralized in Vertex for simplicity.  So there won't be a

[2016-07-09 01:31] samreid commented on #151
@arouinfar @kathy-phet @ariel-phet Are we going to save view options as well (such as whether electrons are shown or hidden), or just the state of the circuit?

[2016-07-09 01:35] samreid opened #171 "What is the name of the DC version?"
In Java it was "Circuit Construction Kit (DC Only)"  The Google Drive document for the HTML5 one is called: "Circuit Construction Kit: DC".  @arouinfar @kathy-phet @ariel-phet can you confirm the latter?

[2016-07-09 02:30] samreid commented on #151
Here's one of the longest circuits I can think of:

![image](https://cloud.githubusercontent.com/assets/679486/16705554/71980128-454a-11e6-9c38-779d05bbd149.png)

Everything is at a slight angle so there is no redundancy in the coordinates.  The length of the JSON is 7274 characters, well above the established limit of 2048 characters.  However, compression with LZString brings this down to 1493 c

[2016-07-09 02:31] samreid commented on #151
Also, I'm not sure if all browsers support that character set in the address bar.

[2016-07-09 02:40] samreid commented on #151
Using compress to URI component (better for URLs), I see:

z.length
7274

LZString.compressToEncodedURIComponent(z).length
3979

So this is a bit out of bounds for IE.  Perhaps we should check URL limits for browsers again and see if 2048 is still a good limit.

[2016-07-09 02:48] samreid commented on #151
It looks like many browsers support longer URLs now, including Edge, so we could give this a try as an implementation for save/load.  If this is too flaky, we could implement a simple service that stores/retrieves circuit strings for unique ids.

[2016-07-09 15:46] ariel-phet commented on #151
@samreid - just circuit state, not other options need to be saved

[2016-07-09 19:42] samreid commented on #151
In my testing of iPad, mac Chrome, mac Firefox and mac Safari, this is working well.  On the latter 3 (but not on iPad), it also has good support for forward/back navigation.

[2016-07-09 21:13] samreid opened #172 "Undefined error when pressing "Reveal""
While working on #163, I saw that pressing "Reveal" produced undefined in this Multilink code:

![image](https://cloud.githubusercontent.com/assets/679486/16710326/a5672e82-45e7-11e6-8e7c-e9056a7c13be.png)

It appears the EletronNode's multilink has been disposed, but still receives a callback when the reveal property changes.

[2016-07-09 22:21] samreid commented on #172
For unknown reasons, link doesn't indicate a problem here, so I'm using it as a workaround.  I flagged a TODO in the code to investigate why multilink was failing.  Closing.

[2016-07-09 22:21] #172 closed

[2016-07-09 22:22] samreid commented on #163
This is working well *except* for black box internals when "reveal" is pressed.

[2016-07-09 22:32] samreid commented on #163
Fixed above, closing.

[2016-07-09 22:32] #163 closed

[2016-07-09 22:49] samreid commented on #141
@arouinfar can I get your guidance on this issue?  The rule is that in "Build Circuit" mode, a connection cannot be made while any connected vertices are outside of the black box.  For instance:

![connect](https://cloud.githubusercontent.com/assets/679486/16710693/2229ce36-45f5-11e6-9277-974d68354002.gif)

Can you please advise how to proceed?

[2016-07-10 02:48] samreid commented on #141
Upon reflection, perhaps we should restrict the search to "translating vertices" instead of "connected vertices", that may address this sufficiently.  I'll reassign to myself for investigation.

[2016-07-10 02:56] samreid commented on #141
The preceding comment seems like a good compromise:

![connect2](https://cloud.githubusercontent.com/assets/679486/16711426/8015697a-4617-11e6-8f33-1c989d9e2f72.gif)

@arouinfar and @phet-steele sound OK?

[2016-07-11 17:16] samreid commented on #71
Fixed a memory leak for ElectronNode above.

[2016-07-11 18:14] arouinfar commented on #171
@samreid CCK: DC will replace both "Circuit Construction Kit (DC Only)" and "Circuit Construction Kit (DC Only), Virtual Lab", so I don't think its name should be an exact match of either.

I personally like "Circuit Construction Kit: DC", and I think it is a clean-looking (but still interpretable) name. @kathy-phet or @ariel-phet please feel free to chime in.

I'll also make a note of this in the

[2016-07-11 18:16] samreid commented on #171
@arouinfar that sounds good to me too.

[2016-07-11 18:17] samreid commented on #158
Electrons are still being updated when invisible so the performance of "Show Electrons" will match the performance of "Hide Electrons", so we can focus on performance optimizing both cases.

[2016-07-11 18:24] kathy-phet commented on #171
I like Circuit Construction Kit: DC too.
Kathy

[2016-07-11 19:21] ariel-phet commented on #171
Works for me

[2016-07-11 19:22] samreid commented on #171
Perfect, thanks, closing.

[2016-07-11 19:22] #171 closed

[2016-07-11 19:31] phet-steele commented on #128
@samreid I believe https://github.com/phetsims/circuit-construction-kit-common/issues/128#issuecomment-226837158 is still present.

[2016-07-11 19:32] samreid commented on #128
Thanks @phet-steele, I'll create a specific issue for that problem.

[2016-07-11 19:33] samreid opened #173 "Vertex becomes dislocated when joining after an auto-move"
@phet-steele reported:

@samreid I ran into another instance of vertex pushing. If a fixed-length component is in the path of a wire that snaps into the box, such that their vertices are within the snap-to-connect distance, it's possible for the vertex of the fixed-length component to be dislocated.
![vertexpushing2](https://cloud.githubusercontent.com/assets/8419308/16159718/8bcc2bde-3481-11e6-9d

[2016-07-12 04:05] samreid commented on #79
In the above commit, I'm outputting the circuit whenever topology changes or a circuit component is edited (same rules as for when the circuit is paused when ?showPauseButton) is used.

[2016-07-12 04:05] #79 closed

[2016-07-12 05:10] samreid opened #174 "RevealingButton needs to be instrumented"
For #138 we still must instrument the revealing button

[2016-07-12 05:11] samreid opened #175 "Instrument the play/pause button if it exists"
For #138 we need to instrument the play/pause button if it exists.

[2016-07-12 18:14] samreid commented on #174
Fixed above, closing.

[2016-07-12 18:14] #174 closed

[2016-07-12 18:58] samreid commented on #175
Fixed in https://github.com/phetsims/phet-io/commit/c4db7e71f74700650917b8d9ad573f979ff0b64b, closing.

[2016-07-12 18:58] #175 closed

[2016-07-12 19:01] samreid commented on #128
Tracking the remaining issue in #173, closing.

[2016-07-12 19:01] #128 closed

[2016-07-12 19:42] samreid commented on #173
In the above commit, I delay the wire movement until after the drop action is complete.  What was happening was that the wire was getting bumped into the black box before the drag action was complete, so it thought the user dropped the wire inside the box.  Hence that triggered the code that looked for a nearby connection.  I solved this problem by delaying the bump code until after the drop has b

[2016-07-12 19:44] samreid commented on #173
I did not see any other detrimental effects from delaying the move, so I'll mark this a fixed-pending testing and the QA team can take a closer look in the next version.

[2016-07-12 20:02] samreid commented on #166
Fixed above and seems good in local testing.  Will need broader testing in the next version.

[2016-07-12 20:04] samreid commented on #168
One way to proceed would be to pre-allocate Electrons and ElectronNodes for each circuit component.  Batteries, Resistors, etc could have 5-10 and wires could have 50 or so, but they would all be pre-allocated and updated.  This would also help layer them correctly (if they are children of the circuit element).

[2016-07-12 20:15] samreid commented on #168
Before taking a drastic step like the previous comment, we should decide whether the performance is poor enough to warrant that amount of work.

I'm seeing 7fps on iPad3 when dragging a 5-element circuit.  If I comment out ConstantDensityLayout completely, this only jumps to 10fps, so it seems that even in the best case scenario, speeding up electrons could not (by itself) be a panacea.

[2016-07-12 20:28] samreid commented on #158
A few more fixes above, I'll run the next version past @brroberts1231 to see what he thinks.

[2016-07-12 20:33] samreid commented on #138
This is mainly complete, but it would be great to get some testing on it.  In particular: does every user interface component log an event and is there a corresponding model reaction event?

[2016-07-12 20:41] samreid commented on #71
After 60 seconds at fuzzMouse=100, I'm seeing the memory usage go from 31MB to 56MB, so there is still work to be done here.

[2016-07-12 21:17] samreid commented on #71
After the above commit, we are leaking 3MB/minute. Still some ways from the "acceptable 0.1MB/minute" range, but getting closer.

[2016-07-12 21:26] samreid commented on #71
I ran a larger (5 minute) test, sampling once per minute, running Canary and ?screens=1.

I saw:
0 min: 25MB
1 min: 30.5MB
2 min: 26.3MB
3 min: 30.7MB
4 min: 30.1MB
5 min: 29.8MB

![image](https://cloud.githubusercontent.com/assets/679486/16784173/c40a7268-4844-11e6-85c8-ff5b8ef3d6db.png)

This suggests that the problem is resolved.  I should note there is noise in taking memory snapshots from CCK

[2016-07-12 21:26] #71 closed

[2016-07-13 16:03] phet-steele opened #176 "Black vertex with no connection"
From the newly implemented #163, black box external vertices in Investigate mode show as black and with solder when cutting a connection. Switching build modes remedies the problem:

![cckbbs01](https://cloud.githubusercontent.com/assets/5863899/16810309/a797abc2-48e0-11e6-8993-1eae4d3a71f7.gif)

Seen on Win 10 Chrome. For phetsims/tasks/issues/643.
Troubleshooting information:
Name: ‪Circuit Cons

[2016-07-13 16:53] phet-steele opened #177 "Incorrect background colors when switching between challenges"
@samreid, we nailed two different procedures to have the sim show an incorrect background color (@andrea-phet and I):

1. After sim load, go to Black Box screen
2. Start on a black box challenge of your choosing
3. Enter Build mode
4. Switch to a different challenge
5. Switch back to your original challenge in step 2

You will still be in Build mode on your original challenge, but the background o

[2016-07-13 17:04] phet-steele commented on #173
Looks good.

[2016-07-13 17:04] #173 closed

[2016-07-13 17:13] phet-steele commented on #166
Looks like it's working for now.

[2016-07-13 17:13] #166 closed

[2016-07-13 17:23] phet-steele commented on #159
This is an acceptable solution :smile:

[2016-07-13 17:23] #159 closed

[2016-07-13 19:15] phet-steele commented on #158
Performance is now significantly better, nice one.

[2016-07-13 19:15] #158 closed

[2016-07-13 19:36] brroberts1231 opened #178 "Build Screen vertices remain red when something is connected"
On the build screen, the vertices will stay red after a component is connected. They'll only turn black if two or more components are connected. Seen on Win 7, Chrome, FF, IE. For phetsims/tasks#643
![cckredvert1](https://cloud.githubusercontent.com/assets/11947677/16817161/a1e42796-48fe-11e6-8ec4-ab504600fc5e.JPG)
![cckredvert2](https://cloud.githubusercontent.com/assets/11947677/16817181/b73c4b1

[2016-07-13 21:52] brroberts1231 commented on #141
Looks good to me. I won't close just yet in case @phet-steele or @arouinfar have anything else to add.

[2016-07-13 22:08] arouinfar commented on #141
Looks good to me @samreid.

[2016-07-13 22:39] phet-steele commented on #178
@samreid @brroberts1231 I checked with @arouinfar and this is the desired behaviour.

[2016-07-13 22:39] #178 closed

[2016-07-14 15:11] phet-steele commented on #141
Yup, this is good, Nice idea @samreid!

[2016-07-14 15:11] #141 closed

[2016-07-14 17:15] phet-steele commented on #176
As a continuation after the disconnection step in the video above (before the switch between view modes), making another connection to a different black box vertex also fixes the problem...except that the dashed circle layering is a little off:

![cckbb13](https://cloud.githubusercontent.com/assets/5863899/16848565/91acc3b4-49b3-11e6-88d8-8e075df6471f.gif)

[2016-07-14 17:25] phet-steele opened #179 "Warm-up Build Circuit text layered over things"
On the Warm-up challenge, the text in Build mode covers other UI elements. @arouinfar @samreid should this be moved behind?

<img width="659" alt="screen shot 2016-07-14 at 11 19 22 am" src="https://cloud.githubusercontent.com/assets/5863899/16848823/e154bf60-49b4-11e6-8c60-6fab7d17ce43.png">

Seen on Win 10 & OSX 10.11.5 Chrome. For phetsims/tasks#643.

[2016-07-14 17:25] phet-steele opened #180 "Internal black vertex"
This is the opposite of #176, where now a black vertex is shown inside of Build mode where it shouldn't. The connection on the right shows two wires in Build that disconnect and leave behind a red vertex (correctly). The left shows one wire in Investigate and one wire in Build, that when disconnected leave behind a black vertex. My clue as to why this is wrong is because switching between view mod