[2021-03-23 20:43] jessegreenberg commented on #684
@zepumph tried on a Lenovo IdeaPad Flex 4 1470 in both laptop and tablet modes and wasn't able to see the problem.

[2021-03-23 21:00] oliver-phet commented on #684
@jessegreenberg I wonder if a Chrome extension could be breaking the normal CSS rules. I'm going to ask the user to test in an incognito window with any/all extensions disabled.

[2021-03-23 21:03] jessegreenberg commented on #684
Thanks @oliver-phet, we were wondering about that too. The other thing we were wondering about is if there there are any error reports in the user's dev tools if they can open it.

Meanwhile, I am going to search for any known platform/error reports related to https://developer.mozilla.org/en-US/docs/Web/API/CSSStyleSheet/insertRule, and the attributes used in PDOMSiblingStyle.

[2021-03-23 22:00] oliver-phet commented on #684
@jessegreenberg @zepumph you can stop investigating!

[2021-03-24 14:51] samreid commented on #684
I don't want to belabor this issue unnecessarily, but I thought we should reflect and decide whether we want to pursue any of the following avenues:

a) Should we try to understand why the Screen Shader Chrome extension caused this problem?
b) Should we try to make our implementation compatible with this extension?
c) Should we try to understand whether other extensions may suffer from similar sym

[2021-03-24 15:50] jessegreenberg commented on #684
I just tried the Screen Shader Chrome extension and it still worked on my Win 10 machine. I played around with settings for a while and didn't see this issue. It works by adding elements to the very top of the z-order that take up the whole screen and act as a filter over everything else. That should be compatible with the PDOM. However, if this addon or any other directly modifies styles it could

[2021-03-24 15:53] oliver-phet commented on #684
Yep, I started drafting the help center entry yesterday and will get it published later today. This is only the second or third time over the years a user has written in about a problem caused by an extension. I don't think this seems common enough with our users to warrant further investigation on our part.

[2021-03-24 15:58] jessegreenberg commented on #684
OK, thanks. I think that is sufficient for this issue. @samreid back to you to review or recommend if anything more should be done.

[2021-03-24 16:06] samreid commented on #684
I also tried out Screen Shader in Mac Chrome and tried a variety of settings and could not reproduce the problem.  I think this issue can be closed, unless @oliver-phet wants to use it to track publishing the help center entry.  Up to you!

[2021-03-24 16:10] #684 closed

[2021-03-25 04:05] arouinfar commented on #681
Yes and no... the brightness is proportional to the power, but there is a ceiling at 2000 W, so we should be sure to make this clear in to the client (either in phetio documentation or a client guide).

This approach sounds good to me @samreid.

[2021-03-25 19:43] samreid opened #685 "When the battery resistance is set to "Tiny", then there should be no resistance readout on the battery"
When the battery resistance is set to "Tiny", then there should be no resistance readout on the battery.

This should be part of the upcoming cherry-picking.  Related to #683

[2021-03-25 20:00] samreid opened #686 "There is an extra odd tick mark in the center of the battery resistance control"
There is an extra odd tick mark in the center of the battery resistance control
![image](https://user-images.githubusercontent.com/679486/112535842-5cf0b880-8d72-11eb-9890-16b86483294e.png)

[2021-03-25 20:00] samreid commented on #686
Double check the tick marks--maybe something was neglected when we changed "0" to "tiny".

[2021-03-25 20:15] samreid commented on #676
@arouinfar and I wanted to understand the "worst case scenario" for when a student could potentially see effects of the battery resistance.  The worst case scenario (aside from shorting with a coin or paper clip) is a 0.1 ohm light bulb wired up to 4 maxed out high-voltage batteries and 10 maxed out normal batteries.  Here is how that works out:

![image](https://user-images.githubusercontent.com/

[2021-03-25 20:58] samreid opened #687 "Milestone: Republish with resistance improvements"
For milestone: https://github.com/phetsims/circuit-construction-kit-common/milestone/3

[2021-03-29 18:24] kathy-phet commented on #676
From another colleague:

[2021-03-29 18:29] kathy-phet commented on #676
@samreid @arouinfar - I played with the high voltage scenarios here. Things work well when paired as makes sense - that high voltage bulb with high voltage battery.

I think these numbers are working well (wireResistivity=1E-11&batteryMinimumResistance=1E-6). You do see an impact on the battery voltage if you have high voltage batteries and low ohm light bulbs.

I would favor doing a maintenance r

[2021-03-29 20:09] samreid commented on #676
On Thursday, @arouinfar and I determined the largest battery resistance which would start to appear in the user interface in a "worst case scenario".  By choosing a value below that threshold, we can prevent battery resistance from showing up to the user.  @arouinfar will perform and similar calculation for the wires.  Once that is complete, I would like to better understand and what point the lin

[2021-03-29 22:59] arouinfar commented on #686
@samreid I'm not seeing the odd tick marks in master
![image](https://user-images.githubusercontent.com/8419308/112910202-1f609800-90b0-11eb-8120-4a097182197b.png)

[2021-03-29 23:04] arouinfar commented on #683
@samreid looks good in master!

 Good call. I don't see any reason to decouple them.

[2021-03-29 23:32] arouinfar commented on #676
@kathy-phet @samreid I've been playing around with high-voltage batteries with regular resistors, and things are looking really weird to me.

1. Build a circuit with 4 high-V batteries in series, all maxed out at 100,000 V (400,000 V total) and a standard resistor (10 Ohms).
2. Measure the current. It should be roughly 40,000 amps. However, in master and latest, the current is off by an order of m

[2021-03-29 23:36] kathy-phet commented on #676
Yes, its the internal resistance of the battery -- at this current level it drops the battery voltage a lot when paired with a 0.1 ohm bulb. But it is fine when combined with a high resistance bulb. Overall, I'd rather live with this behavior than with the other issues with regular parallel batteries.

[2021-03-29 23:40] kathy-phet commented on #676
@samreid - If you can take the numbers lower for the minimum wire resistance, then you can try that. I don't know when that breaks in terms of the math processing algorithms.

[2021-03-29 23:45] arouinfar commented on #676
Perhaps this is a naive calculation, but I expected the current to be along the lines of 400000/(10 + 4E-6). I see that the voltage drop across the resistor is ~44444 V so the measured current is following Ohm's Law, but I don't understand why the battery internal resistance causes the actual voltage to differ so greatly.

[2021-03-29 23:47] kathy-phet commented on #676
@arouinfar - Looking at the cases from above more closely, I think the behavior there is related to the fact that we separately increased battery resistance at some current threshold in order to get zero current passing through a parallel connect bulb in order to get the expected behavior of "turning off the light". I think we could actually back out that change - and just have this one change - b

[2021-03-29 23:54] arouinfar commented on #676
Oh, good point @kathy-phet. That does seem like a likely culprit. I would agree that it's unnecessary now that batteries will always have some internal resistance.

Here's another case that seems really weird to me.

1. Build a circuit with 1 high-V battery and 1 standard resistor.
2. Gradually increase battery resistance and observe the current. For V < 40000 V (or I < 4000 amps) the circuit is w

[2021-03-29 23:58] arouinfar commented on #676
@samreid can you investigate? Seems like there is an odd interaction with the changes made in https://github.com/phetsims/circuit-construction-kit-common/issues/245 are causing issues. Since batteries will always have internal resistance, we can probably revert the changes made in #245.

[2021-03-29 23:58] kathy-phet commented on #676
You found the issue! Yay ...

[2021-03-30 13:47] samreid commented on #245
Reopening based on the changes in https://github.com/phetsims/circuit-construction-kit-common/issues/676.  We would like to try reverting the changes in this issue to see if it is already covered by https://github.com/phetsims/circuit-construction-kit-common/issues/676.

[2021-03-30 14:32] samreid commented on #686
I also can no longer see the problem in master.  The most likely hypothesis is that it was during a test where we temporarily put the battery voltage to be 1 for testing, so the range was 1-10 instead of ~0 - 10.  Still, I see a potential numerical error which I will commit while I'm here.

[2021-03-30 14:34] samreid commented on #686
Fixed, closing.

[2021-03-30 14:34] #686 closed

[2021-03-30 20:21] samreid commented on #284
The solution in https://github.com/phetsims/circuit-construction-kit-common/issues/676 seems superior to any alternative proposed in this issue, closing.

[2021-03-30 20:21] #284 closed

[2021-03-30 20:22] samreid commented on #677
This will be addressed in https://github.com/phetsims/circuit-construction-kit-common/issues/676, I recommend closing this issue, but we will need a reminder to notify the client.  I'll add something to https://github.com/phetsims/circuit-construction-kit-common/issues/676

[2021-03-30 20:22] #677 closed

[2021-03-30 20:22] samreid commented on #676
- [ ] A reminder to write back to the client about this issue: https://github.com/phetsims/circuit-construction-kit-common/issues/677#issue-819126291

[2021-03-30 20:33] samreid commented on #245
I removed the code that changes the battery internal resistance when a current is exceeded, and observed that the light bulb still lit up in this case:
![image](https://user-images.githubusercontent.com/679486/113052814-d1599c00-9164-11eb-9d33-ca382bcf36d3.png)

However, when I specified: wireResistivity=1E-11&batteryMinimumResistance=1E-6 then it was correct:
![image](https://user-images.githubus

[2021-03-30 20:34] samreid commented on #245
Committed, @arouinfar can you please test this in a few cases?

[2021-03-30 20:35] samreid commented on #676
I reverted the changes in #245 and assigned it to @arouinfar for spot checking.

[2021-03-30 21:50] kathy-phet commented on #676
@arouinfar - I had to disable cache to have this new version load properly.
https://bayes.colorado.edu/dev/phettest/circuit-construction-kit-dc/circuit-construction-kit-dc_en.html?ea&brand=phet&wireResistivity=1E-11&batteryMinimumResistance=1E-6

A few observations:
1) For high voltage batteries maxed out, there is much less of a loss of voltage across them with default low ohm bulb.
![image](http

[2021-03-31 03:18] arouinfar commented on #676
After reading more carefully through #245, I realized that we were increasing the internal resistance of the battery when the current exceeds 4000 amps. That was how we were able to keep the bulbs turned off in extreme situations. However, this leads to the odd behavior I reported in https://github.com/phetsims/circuit-construction-kit-common/issues/676#issuecomment-809793527 and https://github.co

[2021-03-31 03:23] arouinfar commented on #245
@samreid I tested several circuits in  https://github.com/phetsims/circuit-construction-kit-common/issues/676#issuecomment-810727725. The compromise is that we won't be able to completely turn off the bulb in all situations without turning the internal resistance up high enough to see numerical artifacts, but for most reasonable circuits the bulb will go out.

[2021-03-31 03:27] arouinfar commented on #429
Everything's looking good and there wasn't any metadata to update. AP's also tweeted about the new feature a few times too.

[2021-03-31 03:32] arouinfar commented on #674
Since https://github.com/phetsims/circuit-construction-kit-common/issues/673#issuecomment-785447540 and https://github.com/phetsims/circuit-construction-kit-common/issues/673#issuecomment-785454672 failed to replicate the reported performance issue that lead to this idea, I'm going to close.

[2021-03-31 03:32] #674 closed

[2021-03-31 03:33] samreid commented on #245
It sounds promising, but I wanted to clarify if this issue can be closed (i.e. without a battery current threshold that increases its resistance).

[2021-03-31 03:36] samreid commented on #676
@arouinfar are we still doing the analysis as described in https://github.com/phetsims/circuit-construction-kit-common/issues/676#issuecomment-809677868 to find the highest wire resistivity that can show up in the user interface, then to try to lower everything to understand the values where the linear algebra starts to fail?  Or did the short-circuited battery/light bulb case limit how far we can

[2021-03-31 03:40] arouinfar commented on #680
In early iterations of the mockups, the stopwatch was in the toolbox. However, there really isn't much room for it. We could perhaps squeeze it into the bottom row but we would need to reduce the icon sizes and the label strings would be a bit cramped which is not great for i18n.

The function of the stopwatch is also different than other tools. It doesn't directly measure anything within the circ

[2021-03-31 03:40] #680 closed

[2021-03-31 03:57] arouinfar commented on #676
No, I don't think that approach is still appropriate. What I've done in https://github.com/phetsims/circuit-construction-kit-common/issues/676#issuecomment-810727725 is find a balance. A shorted bulb generally won't remain lit and the internal resistance won't show up in the values except in extreme cases.

[2021-03-31 03:59] arouinfar commented on #245
I'm comfortable closing this issue @samreid. Under normal circumstances (standard batteries with standard bulbs, high-V batteries with high-R bulbs), the bulb will not stay lit when shorted.

[2021-03-31 12:01] kathy-phet commented on #676
This setting looks good to me ...
https://bayes.colorado.edu/dev/phettest/circuit-construction-kit-dc/circuit-construction-kit-dc_en.html?ea&brand=phet&wireResistivity=1E-12&batteryMinimumResistance=1E-6

And it also passes this other test of having the 1 wire and 2 wire parallel paths. These are dependent on pathlength, and don't show that oddity we saw before we turned down min wire resistance.

[2021-03-31 15:16] samreid commented on #685
Fixed, @arouinfar or @kathy-phet can you spot check?

[2021-03-31 15:19] samreid commented on #676
I updated the constants and this version is ready for testing.

[2021-03-31 15:22] samreid commented on #686
This does not need to be cherry-picked.

[2021-03-31 15:23] samreid commented on #245
Reopening and marking for cherry-picking.

[2021-03-31 15:29] arouinfar commented on #685
Looks good in master @samreid

[2021-03-31 15:39] arouinfar commented on #676
@samreid I tested circuits similar to those in https://github.com/phetsims/circuit-construction-kit-common/issues/676#issuecomment-810727725 and https://github.com/phetsims/circuit-construction-kit-common/issues/676#issuecomment-811012072 and things are behaving as expected.

[2021-03-31 21:23] samreid commented on #616
Published in https://github.com/phetsims/QA/issues/610, closing.

[2021-03-31 21:23] #616 closed

[2021-03-31 21:29] samreid commented on #512
This has been published, @oliver-phet can you please notify the client?  Close when complete.

[2021-03-31 21:52] samreid commented on #687
Here are the shas to cherry-pick, ordered by date:

[code]

[2021-03-31 22:03] oliver-phet commented on #512
Ok, I've emailed the 3 users about the changes!

[2021-03-31 22:03] #512 closed

[2021-04-01 04:56] kathy-phet opened #688 "Wire Resistance: Lots should match published version"
@samreid - It looks like the wire resistivity on the "lots" end of the scale is much lower now than the published version. Ideally, that end would match the published version for resistivity, and its just the "tiny" side would be the new lower value of resistivity. Can you do that?

I tested this rc: https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.2.2-rc.1/phet/circuit-constructio

[2021-04-01 14:36] samreid commented on #688
Fixed in master and in the branches, the problem was that max resistivity was a multiple of min resistivity, I've decoupled them and taken the former max value.  Ready for QA.

[2021-04-01 16:17] samreid opened #689 "There are holes between the carousel items"
There are holes between the carousel items.

![image](https://user-images.githubusercontent.com/679486/113323661-74c8bf00-92d3-11eb-8197-1fcdf5b6f715.png)

[2021-04-01 16:23] samreid opened #690 "Test that the AC sources have the same resistance as the batteries"
We made improvements for the DC battery internal resistance, we need to make sure the same changes apply to the AC sources.

[2021-04-01 16:26] samreid commented on #682
@kathy-phet passed these along to the client. We will continue in other issues, closing.

[2021-04-01 16:26] #682 closed

[2021-04-01 23:08] phet-steele commented on #685
Looks good in phetsims/QA/issues/633

[2021-04-01 23:08] #685 closed

[2021-04-01 23:09] phet-steele commented on #683
Looks good in phetsims/QA/issues/633!

[2021-04-01 23:09] #683 closed

[2021-04-01 23:20] phet-steele commented on #245
Looks good in phetsims/QA/issues/633.

[2021-04-01 23:20] #245 closed

[2021-04-01 23:26] phet-steele commented on #688
Looks good in phetsims/QA/issues/633.

[2021-04-01 23:26] #688 closed

[2021-04-01 23:43] phet-steele commented on #676
Looks good in phetsims/QA/issues/633.

[2021-04-01 23:43] #676 closed

[2021-04-02 19:09] samreid commented on #687
We published DC and DC-Virtual Lab 1.2.2.  @arouinfar are there any follow-up steps?

[2021-04-05 15:43] samreid commented on #689
Fixed, closing.

[2021-04-05 15:43] #689 closed

[2021-04-05 15:54] samreid commented on #690
I tested this parallel AC source circuit and found it had the same behavior as with the DC sources:

![image](https://user-images.githubusercontent.com/679486/113594308-bff51180-95f4-11eb-857e-569f22b5d820.png)

I also confirmed that VoltageSource defines the values for the internal resistance, and these are not overridden in ACVoltageSource.

@arouinfar does this seem sufficient or is there any o

[2021-04-05 17:44] samreid commented on #681
The brightness for the bulb line display is computed as:

[code]

with `multiplier=0.35`

But the view also has a NumberProperty indicating the brightness.  In addition to the plan described in the preceding comments, should we also instrument the `brightnessProperty` itself?  Right now it is in the view side.

[2021-04-12 17:51] samreid opened #691 "Add a mode for PhET-iO where you can hide component values"
Based on a request, we would like to add a mode or feature that hides component (say, resistor) values for specific components, so the student can try to figure out the value as a challenge.  Note that for resistors this means we would also probably hide the stripes.

[2021-04-13 19:43] samreid commented on #672
In Thursday's quarterly planning meeting, I mentioned that some of the CCK code is on the older side and that it would take longer to prepare for code review and address all issues discovered during the review. I asked where we would want to aim on the spectrum of "things are stable and working correctly but there is known room for improvement" to "everything has been fully reviewed and addressed

[2021-04-13 19:52] samreid commented on #672
Questions for the reviewer:

(1) DynamicCircuit.js defines numerous tiny classes like so:

[code]

These are exported via:

[code]

Does this seem reasonable or should they be moved to separate files?

[2021-04-14 00:52] kathy-phet commented on #672
@jonathanolson will do the code review for CCK AC. Thanks JO!

[2021-04-14 00:56] samreid commented on #672
Thanks! I'll assign to @jonathanolson once it's ready.

[2021-04-15 15:41] KatieWoe opened #694 "CT right-hand-side-value must be a number OR CT mnaVoltageDrop out of range"
[code]

[2021-04-19 16:50] oliver-phet commented on #281
A user wrote in about a problem that may be related to this issue. @phet-steele suspects some of the connections contain 0 length wires.

![IMG_20210414_131916](https://user-images.githubusercontent.com/5090275/115272925-2cdfcf80-a0fc-11eb-8aa7-5c88d1b00358.jpg)

https://user-images.githubusercontent.com/5090275/115272959-349f7400-a0fc-11eb-94c6-bf85e695d89d.mp4

[2021-04-19 17:25] arouinfar commented on #281
I think @phet-steele is correct. I built a circuit similar to the one in the shared gifs and could not reproduce the bunching current until I added in a zero-length wire.

It's a bit tricky to create zero-length wires when setting up a circuit since the overlapped vertices will repel. To get around this, overlap the two vertices of the wire segment after it's been integrated into a circuit.

Steps

[2021-04-19 17:27] arouinfar commented on #281
I've tried a few other circuits, high current and not, and was unable to reproduce the bunching current. I'll report back if/when I find more examples.

[2021-04-19 21:51] arouinfar commented on #281
Another strange case:

1. Build this circuit (default bulb and high-V battery):
![image](https://user-images.githubusercontent.com/8419308/115307750-e5bb0400-a126-11eb-8e3b-f232d3a2fe16.png)

2. Create a zero-length wire next to the battery's negative terminal, and then open the switch. The electrons will slowly pile up in the light bulb.
![image](https://user-images.githubusercontent.com/8419308/

[2021-04-20 15:54] samreid commented on #672
I took a brief pass through the relevant files and they seem like they are ready for code review.  I asked on Slack:

But I have not yet heard a response.

[2021-04-20 19:29] samreid commented on #672
Based on these remarks, I'm inclined to move forward with the code review, operating on the assumption that if problems are found during dev testing, they will not warrant significant re-architecture or anything that will invalidate the code review.

[2021-04-20 20:18] samreid commented on #281
Let's touch base on this at an upcoming CCK meeting.  I was able to reproduce the problem once or twice, but it was not reliable (even with the same circuit).  There is a query parameter `?dev` that prints out the wire resistances.  I tried this and was unable to get lower than 1E-13 Ohms in the tiny wire.  Also, the minimum resistance allowed by the code is 1E-14 Ohms.  I could use some help brai

[2021-04-22 22:50] samreid opened #692 "Create a CCK AC dev test"
On slack, @kathy-phet said:

@samreid - please make a dev test for CCK AC. Thx!

[2021-04-26 22:58] liam-mulhall opened #695 "Circuit with switch and capacitor leads to bad performance, potential loss of items"
### Test Device

MacBook Air

### Operating System

macOS 11.2.3

### Browser

Safari 14.0.3

### Problem Description

Noticed while testing on master (https://github.com/phetsims/circuit-construction-kit-ac/commit/90e7d3e71157f9e8aeda8773e142c04c207a6a68). If you create a circuit like the one below and you try to use the switch, the sim will slow down significantly. It won't crash the sim, but th

[2021-04-28 21:05] oliver-phet opened #693 "User reported issue: short circuit created with switch open"
A user wrote in with this bug and I was able to quickly reproduce:

[2021-04-28 21:05] oliver-phet commented on #693
In some quick testing on my end, it appears to possibly be related to the eraser.

[2021-04-28 22:00] arouinfar commented on #693
I built a few different similar circuits (including the one below), but couldn't reproduce the issue.
<img src="https://user-images.githubusercontent.com/8419308/116477670-2955f200-a83a-11eb-97cf-8a5556f9fbd6.png" width=250>

The screenshot from the user is exhibiting the bunched-up current that was also reported in https://github.com/phetsims/circuit-construction-kit-common/issues/281 which makes

[2021-04-28 22:18] oliver-phet commented on #693
Oh weird - I was immediately able to reproduce, but now when I try, it seems more elusive.

Here's a circuit I just built that displays the bug with no electron bunching:
<img width="1090" alt="image" src="https://user-images.githubusercontent.com/5090275/116479680-4a6c1200-a83d-11eb-82a2-a586f8a0e0c0.png">

[2021-04-28 22:23] oliver-phet commented on #693
Actually, there does seem to be some bunching. Here's that same circuit I built:
![Kapture 2021-04-28 at 16 19 59](https://user-images.githubusercontent.com/5090275/116479989-c8301d80-a83d-11eb-9780-ff431d7bf48a.gif)

You can see the current arrows and electrons move through the bulb, but then seem to disappear/stack up.

[2021-04-28 22:24] oliver-phet commented on #693
And to be clear - there are no "0 length" wires or overlapped contacts in my circuit.

[2021-04-28 22:53] arouinfar commented on #693
So strange! Thanks for investigating @oliver-phet. The electons are missing from the bulb in https://github.com/phetsims/circuit-construction-kit-common/issues/693#issuecomment-828817870 so there might be some bunching going on there too.

[2021-04-30 16:38] samreid commented on #695
This could be tracked with https://github.com/phetsims/QA/issues/646

[2021-04-30 16:38] samreid commented on #692
I created the dev test, linked above, closing.

[2021-04-30 16:38] #692 closed

[2021-04-30 16:44] samreid commented on #673
I opened https://github.com/phetsims/scenery/issues/1216, closing.

[2021-04-30 16:44] #673 closed

[2021-05-03 15:23] jonathanolson commented on #672
Those usages look fine to me.

[2021-05-03 20:16] jonathanolson commented on #672
Relevant (and associated) code inspected in the above 3 commits. @samreid can you look through the comments and changes?

The structure and approaches used look great, but prone to GC/performance, I assume performance seems ok? How much of the usual checklist should I be doing? I'm currently running some memory leak tests.

[2021-05-03 22:05] samreid commented on #672
We don't have any open performance problem issues that I'm aware of

I understood it to be a typical code review with the exception that in https://github.com/phetsims/circuit-construction-kit-common/issues/672#issuecomment-819005249 we identified that we want to emphasize speed over quality/completeness.

[2021-05-03 22:20] kathy-phet commented on #672
@jonathanolson - Yes, this is basically a regular complete code review. The one qualifier is that we won't complete any "time-intensive" refactoring projects right now. But no harm in creating a suggestion for how to do it better that could be implemented when we revisit this sim again or as needed for quality stability/PhET-iO work that emerges in the future.

[2021-05-03 22:23] samreid commented on #672
A number of code review recommendations were related to code to support the black box study.  Black box study is not part of our quarterly goals for the next few quarters, and I recommend we do not address those recommendations as part of this milestone.

[2021-05-03 22:27] kathy-phet commented on #672
Agreed - code review comments for that should be addressed when we eventually work on making CCK Black Box a public facing sim. Not sure when that will happen - but not this year.

[2021-05-04 15:38] jonathanolson commented on #672
# PhET Code-Review Checklist (a.k.a "CRC")

* Mark failed items with ❌ and note any related GitHub issues.
* Call attention to items with ⚠️ and note any related GitHub issues.
* Mark items that are not applicable with **N/A**

## GitHub Issues

The following standard GitHub issues should exist. _If these issues are missing, or have not been completed, pause code review until the issues have been

[2021-05-04 15:43] jonathanolson commented on #672
@samreid, code review notes that the following issues should be created:

[2021-05-04 15:44] samreid commented on #672
I addressed some of the code review recommendations in the commit, I'll keep working on the rest--or let me know if I should hold off.

[2021-05-04 17:25] jonathanolson commented on #672
[ ] - dog-bark.png doesn't seem easily updatable, is it used as a placeholder?

[2021-05-04 17:32] jonathanolson commented on #672
Presumably the branch https://github.com/phetsims/circuit-construction-kit-common/tree/vertex.dragging should be deleted?

[2021-05-04 17:40] jonathanolson commented on #672
I'm seeing my own tooling and Intellij's code-style rearranging imports (and possibly other changes, there were enough rearranged imports where it would take more checks). Can you run your own code formatting on it to make sure it's up to date?

[2021-05-04 18:46] jonathanolson commented on #672
I've added some memory fixes above. Also DogNode seems to be leaking SoundClips (phet.tambo.soundManager.soundGeneratorInfoArray.length is monotonically increasing), and presumably would need to remove references to its model.

@samreid can you let me know when that's fixed, and I can run through more memory tests?

[2021-05-04 19:13] jonathanolson commented on #672
Touch areas in the carousel, and the zoom icons for the charts could potentially be expanded (I can move this to the issue that should be created above when needed).

[2021-05-04 19:22] jonathanolson commented on #672
`stringTest=long` should be checked:

![image](https://user-images.githubusercontent.com/480878/117058409-d10c6d80-acdb-11eb-990d-29597ef501f7.png)

[2021-05-04 19:26] jonathanolson commented on #672
First pass of the code review complete, things exist as comments here or REVIEW comments in the code.

[2021-05-04 19:27] jonathanolson commented on #672
Above changes based on review comments look good.

[2021-05-04 22:26] KatieWoe opened #696 "Dragging objects may not be smooth"
**Test device**
Mac
**Operating System**
MacOS 11
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/646. May be dependent on platform, as I don't see this much on Win 10 Chrome.
When dragging objects around, there was a significant amount of lag, things seemed to jump around as dragged, and when object were dropped they moved slightly as if locking into place.

*

[2021-05-06 15:37] KatieWoe opened #697 "CT the right hand side value must be a number"
[code]

[2021-05-06 15:40] KatieWoe opened #698 "CT pageNumber out of range"
[code]

[2021-05-07 21:35] KatieWoe opened #699 "Values update when sim is paused after objects are grabbed"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/646. Fairly minor.
The voltage value of the AC source changes with time. If you pause the sim and change an aspect of the source that would alter that value at a given time (such as frequency, voltage, or phase) it will stay at the previous value until you step forw

[2021-05-13 04:12] samreid commented on #672
Some of the simpler recommendations addressed in the commit.

[2021-05-15 17:41] samreid commented on #672
I removed the REVIEW comments from the black-box-study TODOs, since those will be addressed when we work on the black-box sim.

[2021-05-16 04:38] samreid commented on #632
As part of https://github.com/phetsims/circuit-construction-kit-common/issues/672, @jonathanolson added these review comments:

[code]

[2021-05-16 04:42] samreid opened #700 "Rename light bulb images to make light bulb 2 words instead of 1"
From the review, in https://github.com/phetsims/circuit-construction-kit-common/issues/672 we detected image filenames that use lightbulb as a single word.  For consistency, we should make those 2 words.

[2021-05-16 04:56] samreid opened #701 "Emit alignProbesEmitter when probes are added"
From https://github.com/phetsims/circuit-construction-kit-common/issues/672, @jonathanolson asked:

[code]

[2021-05-16 04:57] samreid opened #702 "What is the convention for naming imported sounds?"
In code review https://github.com/phetsims/circuit-construction-kit-common/issues/672 @jonathanolson asked:

[code]

[2021-05-16 05:00] samreid opened #703 "Use an enumeration rather than predicates to associate model elements with tools"
During code review #672 @jonathanolson said:

[code]

[2021-05-16 05:02] samreid opened #704 "Memory testing for AC code review"
From https://github.com/phetsims/circuit-construction-kit-common/issues/672, we should run memory tests

[2021-05-16 05:03] samreid opened #705 "Performance testing and sign-off"
From #672, we need to do performance testing and sign-off

[2021-05-16 05:04] samreid opened #706 "Pointer area review"
From #672, we need to review pointer areas

[2021-05-16 05:05] samreid commented on #706
@jonathanolson commented:

[2021-05-16 05:06] samreid opened #707 "stringtest=long needs to be checked"
From https://github.com/phetsims/circuit-construction-kit-common/issues/672#issuecomment-832185006 @jonathanolson said:

`stringTest=long` should be checked:

![image](https://user-images.githubusercontent.com/480878/117058409-d10c6d80-acdb-11eb-990d-29597ef501f7.png)

[2021-05-16 05:11] samreid commented on #672
Thanks for the great recommendations.  For each of the review issue comments above, I either added UPDATE in the comment, or opened a side issue.  For each of the REVIEW comments in the code, I made commits to address it or opened a side issue for further work (or in rare cases, referred to it in pre-existing issues).  For several of the REVIEW comments where @jonathanolson had specified a jsdoc t

[2021-05-16 05:14] samreid commented on #704
In #672 @jonathanolson said:

[2021-05-19 20:34] jonathanolson commented on #672
Checked all of these, looks great. Thanks, closing!

[2021-05-19 20:34] #672 closed

[2021-05-31 21:06] samreid opened #708 "Convert CircuitElement stateSchema to use ReferenceIO"
From https://github.com/phetsims/phet-io/issues/1774, we have:

[code]

[2021-06-02 14:46] samreid commented on #687
Since it has been a few months, this seems safe to close.  If we discover missing parts, we can add them later.  Closing.

[2021-06-02 14:46] #687 closed

[2021-06-02 14:53] samreid commented on #694
I added an earlier error that may help.

[2021-06-02 18:54] samreid commented on #699
It seems better to mark the circuit dirty when the characteristics of the ac voltage source changes.  This led me to discover that other circuit elements specify `getCircuitProperties` but `ACVoltage` does not.  Once I supplied that, the Voltage readout correctly updates when the voltage or frequency changes.  I noticed one other circuit element with a missing circuit property, I'll add it too.

[2021-06-02 19:13] samreid commented on #696
I profiled the built version https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.15/phet/circuit-construction-kit-ac_en_phet.html and nothing jumped out at me aside from the 30% time spent in updateDisplay.  It's probably impractical, but we discussed webgl as a way out of that problem.  Not sure what else to do for the upcoming publication.

[2021-06-02 19:14] samreid commented on #698
I remember when this was happening, but I haven't seen it on CT for a while.  Closing until we see it again.

[2021-06-02 19:25] samreid commented on #700
Fixed, closing.

[2021-06-02 19:25] #700 closed

[2021-06-02 19:27] samreid commented on #702
I don't see an established convention.  Here is a list of some hits for loading MP3 files:

![image](https://user-images.githubusercontent.com/679486/120540684-30769f80-c3a6-11eb-89db-711a99f64fb0.png)

The majority are named with *Sound, others with *Audio, others with sound-specific suffixes.  @jonathanolson how do you recommend to proceed?  Should we open a tambo issue for determining a convent

[2021-06-02 19:37] samreid commented on #701
I removed the subclass calls to the emitter, and instead changed lazyLink to a link so the callback will happen when probes are added.  Ready for review.

[2021-06-02 19:42] samreid commented on #703
I'm on the fence about this recommendation.  My hesitation comes from the numerous types that only require an instanceof check:

[code]

I'd rather not create a parallel "circuit element type" enumeration for these types that don't need it, and for the other types, it seems odd to have one way of doing something for half the types and another way for the other half.

@jonathanolson can you please

[2021-06-02 19:51] samreid commented on #704
This is from CCK DC over about 5 minutes, it seemed to settle down.  I had to keep hitting "reset all" in the sim so it wouldn't have too many circuit elements in the play area:

![image](https://user-images.githubusercontent.com/679486/120543527-9f092c80-c3a9-11eb-927a-c8ff5ae26cb3.png)

[2021-06-02 19:57] samreid commented on #704
This is over about 5 minutes for CCK AC screen 1.  I limited it to screen 1 so I could reset it more easily as it fuzzed, and see that there weren't too many elements in the play area.  Notice the volatility in the numbers are due to having a different number of objects in the play area:

![image](https://user-images.githubusercontent.com/679486/120544269-746ba380-c3aa-11eb-9422-98346bb3ff4b.png)

[2021-06-02 19:58] samreid commented on #705
Problems were noted in https://github.com/phetsims/circuit-construction-kit-common/issues/696 and I commented in https://github.com/phetsims/circuit-construction-kit-common/issues/696#issuecomment-853316743, not sure what should be done for this publication.  @arouinfar can you please advise?

[2021-06-02 20:06] samreid commented on #706
I increased the touch area for chart zoom buttons and some of the round buttons.  @arouinfar can you please see if there is more to do here?

![image](https://user-images.githubusercontent.com/679486/120545181-90237980-c3ab-11eb-8d98-cc1c01b7bf0c.png)

[2021-06-02 20:12] samreid commented on #707
I committed a proposed fix, and it is looking much better:

![image](https://user-images.githubusercontent.com/679486/120545980-8d755400-c3ac-11eb-8496-ecd43b083142.png)

@jonathanolson can you please review?

[2021-06-02 22:09] KatieWoe commented on #699
This seems to be the case on master

[2021-06-02 22:10] samreid commented on #699
Thanks for testing, closing.

[2021-06-02 22:10] #699 closed

[2021-06-10 19:35] samreid commented on #696
@arouinfar can you please review this issue and advise?

[2021-06-15 16:10] samreid commented on #693
Some observations:

* I was able to reproduce the problem 3-4 times.
* I reproduced the problem with a dollar bill in place of the eraser (noting they have the same resistance of 1000000000)
* Then I went through a phase where, following the same procedure as above, I was not able to reproduce the problem about 5 times in a row.
* Next, I saw a different symptom, where an eraser in an open circuit

[2021-06-15 16:40] samreid commented on #693
@arouinfar can you please review my notes & the commit, and advise?

[2021-06-15 16:56] samreid commented on #695
I was able to reproduce the problem.  It seems the problem is due to the extreme nonlinearity in the resistance-less capacitor-closed-switch circuit.  `getTimestep` cannot find a small enough `dt` that linearizes the system, so `errorAcceptable` and `getTimestep` are called many times until we reach the minimum threshold.

Some ideas for how to solve this:
* Model a tiny resistor in series with ea

[2021-06-15 16:57] samreid commented on #697
Closing as duplicate of https://github.com/phetsims/circuit-construction-kit-common/issues/694

[2021-06-15 16:57] #697 closed

[2021-06-15 17:26] samreid commented on #694
I noticed that lately this problem is only showing up in ac-virtual-lab.  I fuzzed for 5+ minutes on my local and could not see the problem.  So I added a `toString` function (unbuilt mode only) to show what circuit elements are in the circuit.  Maybe it will help us identify what components are contributing to the problem.  (Or maybe we will just see that every kind of circuit element appears bec

[2021-06-30 19:44] jonathanolson commented on #707
Looks great!

[2021-06-30 19:44] #707 closed

[2021-06-30 20:57] samreid commented on #704
@jonathanolson identified a memory leak, potentially related to DynamicTandem instances.  I ran locally on my side, and saw many more DynamicTandems allocated, using `phet.chipper.queryParameters.fuzz=false` to clear the circuit.  Some were attributed to `window.savedCircuit` which was recently added to debugging https://github.com/phetsims/circuit-construction-kit-common/issues/694.  I'll comment

[2021-06-30 21:00] jonathanolson commented on #703
This seems fine, with the note that documentation to ensure that it covers everything AND is mutually exclusive would be good (was hard to tell just with a cursory read).

[2021-06-30 21:05] jonathanolson commented on #701
Looks good to me!

[2021-06-30 21:05] #701 closed

[2021-06-30 21:05] samreid commented on #694
I caught this problem while working on #704 and noticed the capacitor currents and voltages are on the high side:

![image](https://user-images.githubusercontent.com/679486/124031435-898d1f80-d9b4-11eb-82b5-352145aa419d.png)

Same with the inductors:

![image](https://user-images.githubusercontent.com/679486/124031518-a6c1ee00-d9b4-11eb-8132-e483e49b4b37.png)

[2021-06-30 21:09] jonathanolson commented on #702
I'm personally ok with variability, but it seems like a deviation from how we name images. Do you have a preference? I'm fine closing, or that we create a general issue to discuss.

[2021-06-30 22:08] samreid commented on #702
@jbphet can you please advise how to proceed for this issue?  Should we transfer this issue to tambo?

[2021-07-01 15:14] samreid commented on #704
Mini-patch for when I return to this problem:

<details>

[code]

</details>

[2021-07-01 18:54] zepumph commented on #702
There is not a convention current convention, and we also noticed (and were surprised) that there doesn't seem to be a lint rule guiding our Image import names either.

We think that all variable names for the import should end in `Sound` (of type `WrappedAudioBuffer`).

We used to have a lint rule for this, and we want it to come back.

Note https://github.com/phetsims/chipper/issues/894 as the d

[2021-07-02 19:05] samreid commented on #703
I added documentation in the commit, can you please review?

[2021-07-02 20:14] samreid commented on #704
It seems like the problem is that DynamicTandems are not disposed, and keep incrementing.  For instance, after disabling `savedCircuit` as in the prior patch, I took a memory snapshot in CCK, then click/released the battery 13 times (creating and disposing 13 batteries).  Then the memory diff told me there were 39 new DynamicTandems (3x due to the battery subcomponents).  Then I applied this patch

[2021-07-06 16:26] pixelzoom opened #709 "MeterBodyNode does not exist."
While testing a bamboo change, I ran across this comment in CCKCChartNode.js:

[code]

I see MeterBodyNode referred to 15 times in cck-common, and 6 times in wave-interference.  I can find no definition for this class.  Did you rename something and forget to update comments?

[2021-07-06 21:57] samreid opened #710 "What colors should be in the ColorProfile?"
From https://github.com/phetsims/scenery-phet/issues/642 we agreed all sims should use ColorProfile.  Currently, Circuit Construction Kit doesn't appear to use ColorProfile at all.  @arouinfar can you recommend which colors should appear in the ColorProfile?

[2021-07-07 17:44] arouinfar commented on #710
@samreid here are the things I can think of:
- [ ] Sim background
- [ ] Panel/AccordionBox background
- [ ] Panel/AccordionBox stroke
- [ ] Edit panel background
- [ ] Edit panel stroke (if it exists)
- [ ] Text fill
- [ ] Conventional current arrow fill (assuming it's not an image)
- [ ] Conventional current arrow stroke

There may be other general things that I'm unaware of, so perhaps look at G

[2021-07-07 19:00] zepumph commented on #704
I'm not so sure we are on the same page, and I don't really understand how the memory leak is occurring right now. We are disposing tandems, just over in https://github.com/phetsims/tandem/blob/df84f52086df36d37ad51aeeb3cc19f505946848/js/Tandem.js#L207.

The assertion you removed with removeChild was actually downstream of trying to dispose twice. I was able to confirm that with a natural selectio

[2021-07-07 19:06] zepumph commented on #704
I ran a test where I looked at the number of Tandem instances in the heap in Natural Selection

I launched Natural selection with both screens:

* Snapshot on startup had 10914 Tandems, and 2 DynamicTandems
* Then I added a mate, and there was 10922 Tandems, and 3 DynamicTandems
* Then I pressed reset all button, and there was 10914 Tandems, and 2 DynamicTandems again.

Back to @samreid for furthe

[2021-07-08 16:20] samreid commented on #704
Following this procedure, there is a memory leak:

tap the switch in the toolbox 10 times
record memory snapshot
tap the switch in the toolbox once
record memory snapshot

The switch is still in memory.  I traced it to the FireListener, and added a dispose for it, and that corrected the problem.

[2021-07-08 16:23] samreid commented on #704
One fuzz session showed this new error after the commit:

[code]

[2021-07-08 16:29] samreid commented on #704
After fixing the FireListener disposal, I'm no longer seeing any of the memory leak symptoms.  Perhaps they were downstream?  @jonathanolson can you please review?

[2021-07-09 03:28] samreid commented on #710
Let's wait until https://github.com/phetsims/scenery-phet/issues/515#issuecomment-876655914 is addressed before going forward.

[2021-07-09 16:24] samreid commented on #679
As mentioned in https://github.com/phetsims/scenery-phet/issues/170#issuecomment-873331986

[2021-07-09 21:49] samreid commented on #691
@arouinfar would you like to design this? When should we work on this?

[2021-07-09 21:56] jessegreenberg commented on #702
I made https://github.com/phetsims/chipper/issues/1060 to create the lint rule. It has been added and the portion that checks for sound imports is working in master now. Images haven't been added yet for reasons described in that issue. Continued dev meeting discussions will happen in that issue so removing this one from the dev meeting project board.

Back to @samreid for this sim specific issue,

[2021-07-09 21:58] samreid commented on #702
There is some commented-out code and references to image files in chipper/eslint/rules/import-resource-variable-suffix.js.  Should that be updated at this time?

[2021-07-09 21:59] samreid commented on #694
I added some more upstream assertions, but I'm not sure how it will help resolve the problem.

[2021-07-09 22:03] jessegreenberg commented on #702
Thanks, I added a TODO to the rule describing the commented out code related to image files, left in but unused until we agree on whether we want that in https://github.com/phetsims/chipper/issues/1060#issuecomment-877475545

[2021-07-09 22:04] samreid commented on #702
Got it, thanks!  I confirmed the rule is working as desired.  Closing.

[2021-07-09 22:04] #702 closed

[2021-07-10 20:59] samreid commented on #708
Fixed, it is working in the state wrapper but I wasn't 100% certain about the implementation, @zepumph can you please spot check and make sure this is barking up the right tree?

[2021-07-10 21:02] samreid commented on #708
It looks reasonable and consistent with what I did for https://github.com/phetsims/circuit-construction-kit-common/issues/708.  I'll factor out the IO type in an upcoming commit.

[2021-07-11 18:56] samreid commented on #709
I committed proposed fixes, @pixelzoom would you like to review?

[2021-07-12 14:55] #709 closed

[2021-07-12 18:16] zepumph commented on #708
That really is the good stuff. Thanks

[2021-07-12 18:16] #708 closed

[2021-07-16 16:15] KatieWoe opened #711 "CT mnaVoltageDrop out of range"
[code]

[2021-07-19 17:08] oliver-phet commented on #590
Documenting another user email:

[2021-07-19 22:12] samreid opened #712 "Upgrade to FA5 for the battery refresh icon"
From https://github.com/phetsims/sherpa/issues/83

[2021-07-19 22:15] samreid commented on #712
Before:
![image](https://user-images.githubusercontent.com/679486/126234157-a6a03202-0cd1-4ad9-82d1-3e79bfb499df.png)

After:
![image](https://user-images.githubusercontent.com/679486/126234262-37efbd8c-b897-48ae-819d-ea97ffd205cd.png)

@arouinfar does this look OK to you?

[2021-07-20 02:24] arouinfar commented on #712
Looks good to me @samreid!

[2021-07-20 02:24] #712 closed

[2021-07-28 02:40] samreid commented on #711
This is an upstream error for #694.

[2021-07-29 20:10] samreid commented on #679
Labeling for the AC milestone for the purposes of discussion today.

[2021-07-29 20:27] samreid commented on #694
@kathy-phet says it would be nice if this would pass CT.  Even if we don't fully understand and solve, we should make sure CT is running clear.  @kathy-phet recommended we could reset the dynamics if the values get too high, and see if there are other fuzzing issues?  We don't want the sim to crash, and we don't want to see issues on CT.

@kathy-phet said @jonathanolson could provide support for 2

[2021-07-29 20:30] samreid commented on #696
@arouinfar requested if @KatieWoe can test the same issue on the published CCK DC, and see if it suffers from the same problem.  Also, can you please re-test the current version (in a built version), and see if the performance issue is the same?

[2021-07-29 20:30] samreid commented on #696
@arouinfar requested if @KatieWoe can test the same issue on the published CCK DC, and see if it suffers from the same problem.  Also, can you please re-test the current version (in a built version), and see if the performance issue is the same?

[2021-07-29 20:31] samreid commented on #696
@arouinfar requested if @KatieWoe can test the same issue on the published CCK DC, and see if it suffers from the same problem.  Also, can you please re-test the current version (in a built version), and see if the performance issue is the same?

[2021-07-29 20:31] samreid commented on #696
@arouinfar requested if @KatieWoe can test the same issue on the published CCK DC, and see if it suffers from the same problem.  Also, can you please re-test the current version (in a built version), and see if the performance issue is the same?

[2021-07-29 20:37] samreid commented on #695
@ariel-phet suggests checking the wires to make sure they have resistance

@kathy-phet reminded us that we went to a very small resistance in the wire in a recent issue.

We would like to try adding a small resistance in series with the capacitor to see if that helps.  We will start with a small value and increase it until it helps.

[2021-07-29 20:40] samreid commented on #693
@arouinfar pointed out that it reads 0 Ohms, that should be corrected.

[2021-07-29 20:45] samreid opened #713 "Eraser and dollar bill shouldn't read out 0 Ohms"
From https://github.com/phetsims/circuit-construction-kit-common/issues/693

[2021-07-29 20:45] samreid commented on #693
We would like to revert the prior commit, since we would like the resistance to be non-infinite.

[2021-07-29 20:46] samreid commented on #693
After that, we will ask @KatieWoe and QA to investigate this issue, see if it is possible to reliably reproduce.

@kathy-phet reminds @samreid to put it in the issues to test/verify column on the QA project board.

[2021-07-29 20:51] samreid commented on #678
@kathy-phet recommended that when current directionality is chosen for the 2nd circuit, match it with pre-existing AC sources.  I'll give it a try!

[2021-07-29 20:52] samreid opened #714 "Interview on AC"
@arouinfar said we are at a good point to run our first AC interviews.

[2021-07-29 20:57] samreid commented on #281
At today's meeting, we requested that @KatieWoe and QA investigate this and try to see if it can be reproduced, what causes it, etc.

[2021-07-31 19:33] samreid commented on #281
I have other issues to address before this can go back to QA.

[2021-07-31 19:51] samreid commented on #713
This will be solved when #693 is reverted.

[2021-08-02 02:13] samreid commented on #678
I tested this patch, but it didn't have the desired behavior:

[code]

Also, even before making this change, I observed that the current signs are not all consistent.  Going around the corner I saw the sign flip:

![image](https://user-images.githubusercontent.com/679486/127795589-ad1be0ec-2918-42de-b29c-123f4bdb3810.png)

[2021-08-02 19:01] KatieWoe commented on #281
This seems to happen more noticeably with higher voltages, and doesn't seem to need a 0 length wire, though it does make it easier.
<img width="954" alt="notshorthascurrent" src="https://user-images.githubusercontent.com/41024075/127910345-e322b5e2-4fc8-491b-b4bb-72cb93bdd6da.png">
![nozerobug](https://user-images.githubusercontent.com/41024075/127910346-ca10b078-7b6b-4311-adca-cca4f18cf163.gif)
!

[2021-08-02 19:07] KatieWoe commented on #693
This seems to happen more noticeably with higher voltages, and doesn't seem to need a 0 length wire, though it does make it easier.
<img width="954" alt="notshorthascurrent" src="https://user-images.githubusercontent.com/41024075/127910984-eb086263-e42e-418b-811d-0888cafb44ce.png">
![nozerobug](https://user-images.githubusercontent.com/41024075/127910986-35f57da2-ba27-4987-ad5f-1f0a4ecbcb5f.gif)
!

[2021-08-02 21:23] KatieWoe commented on #696
It still happens on the current master version, but it does not happen in published cck dc. It does not seem to happen in master cck dc either however.

[2021-08-02 22:59] KatieWoe commented on #693
Clarification: The above was in published

[2021-08-02 23:00] KatieWoe commented on #281
Clarification: The above was in published

[2021-08-02 23:00] kathy-phet commented on #281
FYI - I wasn't able to reproduce this behavior on phettest myself.

[2021-08-03 15:24] KatieWoe commented on #693
I can have trouble reproducing this with non-lightbulbs, but it still happens in master. Turning up voltage helps.
<img width="959" alt="stillmaster" src="https://user-images.githubusercontent.com/41024075/128042133-b4cf46af-c07d-42f5-88f1-140e51972399.png">
![probleminmaster](https://user-images.githubusercontent.com/41024075/128042135-8ea214ca-2d06-47ca-8bf1-c0a5bb823a25.gif)

[2021-08-03 15:24] KatieWoe commented on #281
I can have trouble reproducing this with non-lightbulbs, but it still happens in master. Turning up voltage helps.
<img width="959" alt="stillmaster" src="https://user-images.githubusercontent.com/41024075/128042226-e56d70f6-0986-4d3f-b056-cde82858c082.png">
![probleminmaster](https://user-images.githubusercontent.com/41024075/128042232-5018bd23-a191-46cc-bd7b-6c003009382a.gif)

[2021-08-11 21:45] samreid commented on #693
I reverted the change that omits eraser and dollar from the circuit matrix.

[2021-08-11 21:45] samreid commented on #713
I reverted the change in #693 and this appears fixed:

![image](https://user-images.githubusercontent.com/679486/129107594-84ce78bc-3abf-484a-a4e7-cf1dbdb9c629.png)

Closing.

[2021-08-11 21:45] #713 closed

[2021-08-12 19:24] arouinfar commented on #714
I shared an interview recruitment blurb/Google form with @stemilymill who has some contacts.

We have ongoing recruitment efforts with STEM departments at CU. Several EECE majors have responded, and they would be a good population for interviews.

[2021-08-12 20:21] samreid opened #715 "Does bumping away no longer work?"
From https://github.com/phetsims/circuit-construction-kit-common/issues/693, does bumping away no longer work?

[2021-08-12 20:32] samreid commented on #715
I see bumping away on rotation but not translation.

[2021-08-12 20:33] samreid commented on #693
After some iteration, I was able to get to this error case.  Note the current changes as you adjust the wire length:

![Kapture 2021-08-12 at 14 32 28](https://user-images.githubusercontent.com/679486/129265678-c370668b-c17f-47b4-919a-352924fc5894.gif)

[2021-08-12 20:44] samreid commented on #693
After creating the above movie, I tried removing a few components to simplify the circuit.  I was able to remove several parts and keep the buggy behavior, but then after removing something else (a wire?) it could no longer produce the problem at all, even when adding everything back.

[2021-08-13 01:25] samreid commented on #693
Here's a case where attaching the light bulb triggers the problem:

![Kapture 2021-08-12 at 14 59 44](https://user-images.githubusercontent.com/679486/129269123-eaaf798e-4bdf-4107-8025-ace7d4a90625.gif)

[2021-08-13 01:27] samreid commented on #693
For this circuit, here are the equations:

![image](https://user-images.githubusercontent.com/679486/129291785-21d7cce9-0f2a-440d-b467-7b4abd8809c1.png)

[code]

[code]

[code]

[code]

[code]

[code]

[2021-08-13 12:28] samreid commented on #693
Using bignumber.js v9.0.1, I adapted LU Decomposition to be arbitrary-precision, then with this patch:

<details>

[code]

</details>

We can turn up the precision to get a more accurate result:

### 15 decimal places:

[code]

### 20 decimal places

[code]

### 30 decimal places

[code]

### 100 decimal places

[code]

### 1000 decimal places

[code]

[2021-08-13 15:36] samreid commented on #693
By the way, here is the test harness I have been using:

[code]

[2021-08-13 16:41] samreid commented on #693
@jonathanolson and I discussed the proposed approach, and agreed it seems reasonable to move forward with decimal.js in sherpa, and adding HighPrecisionLUDecomposition in dot, which would be a copy-pasted version of LUDecomposition (the parts needed for a solve), so both can run at full speed.  We also tested and saw all matrices to be square, so we don't think we need to do QR (but if a non-squar

[2021-08-13 19:30] samreid commented on #693
I have a patch with decimal.js working nicely, but in testing before I committed, I observed that even with 200 decimal places, you can easily create a circuit that has a bad solution:

![image](https://user-images.githubusercontent.com/679486/129409417-676a0abb-94c1-45f3-8058-437f19639964.png)

Not sure if I should commit the proposal as a partial solution, or whether we need to find another line

[2021-08-13 20:07] samreid commented on #693
I pushed what @jonathanolson and I discussed even though I can see it still fails on some easy cases.  Maybe there is still a bug or imprecise part in LUDecompositionDecimal, or maybe we need a new algorithm.

[2021-08-13 20:17] samreid commented on #693
Here's a case that's still failing:

[code]

[2021-08-13 20:59] samreid commented on #693
I used math.js and lusolve, but it had the same bad error we started with:

<details>

[code]

</details>

![image](https://user-images.githubusercontent.com/679486/129417894-9c9dd30c-d405-41b9-8cc8-b3f6b11e2764.png)

[2021-08-13 23:00] samreid commented on #693
Here's the matrix problem:

[code]

solving through substitution (by hand) gives I0_4 = 0, but all the numerical methods put it around +/-0.01 or so.

[2021-08-14 01:10] samreid commented on #693
The other part that is unsolved is that the circuit mostly has the correct solution, but as the wire is resized it goes through spots of bad solution:

![Kapture 2021-08-13 at 19 09 17](https://user-images.githubusercontent.com/679486/129430087-e1f98fc5-a7e5-4c16-a944-6be36e86529e.gif)

[2021-08-14 01:26] samreid commented on #693
Anonymizing the values, here are snapshots of 2 pixels apart (bad on the left, good on the right):

![image](https://user-images.githubusercontent.com/679486/129430425-0aa8c602-ff52-4888-9c35-a9b04dda189a.png)

The only difference is in the wire resistance.

[2021-08-14 01:35] samreid commented on #695
There is a chance that the error in the matrix algorithm identified in https://github.com/phetsims/circuit-construction-kit-common/issues/693#issuecomment-898694052 may solve this problem.  I recommend we investigate it first before adding the series resistance for this case.

[2021-08-14 01:36] samreid commented on #694
There is a chance this is related to https://github.com/phetsims/circuit-construction-kit-common/issues/693#issuecomment-898694052, let's get that working before investigating this.

[2021-08-14 01:36] samreid commented on #281
Likely caused by https://github.com/phetsims/circuit-construction-kit-common/issues/693#issuecomment-898694052, on hold until then.

[2021-08-16 16:44] samreid commented on #693
@jonathanolson and I met about this today and confirmed the matrices are ill-conditioned.  We used Mathematica and singularValueDecomposition[2] // MatrixForm and saw that it was typically 1E10 (high value) vs 0.01 (low value).  @jonathanolson identified a spot where an addition is done while creating the matrix, where there is an opportunity for floating point error.  We hypothesize that using ar

[2021-08-16 17:35] samreid commented on #693
I added the higher precision for term addition, and it seems to stabilize the problem.  Even though the matrix is ill-conditioned, we arrive at a stable, more accurate result.  This is great news!  Testing with 200 points of precision in CCK-AC yields performance problems, so I think the next step would be to tune the precision/performance balance.

[2021-08-16 17:42] samreid commented on #693
I defaulted the precision to 32 places, and added a query parameter "?precision" in case we want to tune it further.

[2021-08-16 19:20] samreid commented on #693
I think this will be ready for testing in the next round.  On hold until other issues are fixed.

[2021-08-16 19:25] samreid commented on #715
It looks like this is behaving as expected.  Closing.

[2021-08-16 19:25] #715 closed

[2021-08-16 19:26] samreid commented on #281
The proposal in https://github.com/phetsims/circuit-construction-kit-common/issues/693#issuecomment-898694052 looks like it may address this problem.  Leaving on hold until next round of testing.

[2021-08-16 19:27] samreid commented on #696
The performance profile has changed based on the more accurate solution in https://github.com/phetsims/circuit-construction-kit-common/issues/693, let's evaluate in next round of testing.

[2021-08-16 19:31] samreid commented on #695
The fix in https://github.com/phetsims/circuit-construction-kit-common/issues/693 did not address this problem, so let's proceed with a small resistance in series with the capacitor.

[2021-08-16 21:24] samreid commented on #695
This patch should add resistance to the capacitor, but it doesn't work as expected.

<details>

[code]
</details>

[2021-08-17 14:52] KatieWoe opened #716 "CT decimal is not defined"
Happens in a number of cck sims
[code]

[2021-08-17 16:05] samreid commented on #716
Thanks @KatieWoe, I pushed a proposed fix.

[2021-08-18 15:25] KatieWoe commented on #716
This still seems to be seen in CT

[2021-08-18 15:50] samreid commented on #716
Thanks, I added a `grunt update` step.

[2021-08-18 19:46] samreid commented on #693
While working on, https://github.com/phetsims/circuit-construction-kit-common/issues/678, I observed this:

![Kapture 2021-08-18 at 13 45 08](https://user-images.githubusercontent.com/679486/129962336-fe034c03-29cd-4471-8bfa-fb836a6bb431.gif)

[2021-08-18 20:28] samreid commented on #678
Second patch:

<details>

[code]

</details>

[2021-08-20 15:43] samreid commented on #678
After the commits, the behavior is as desired, and I haven't seen any discontinuities in my testing.  I think I should describe the proposed algorithm so that @arouinfar can help me think of (or test for) corner cases where it may have the wrong behavior.

All Circuit Elements start out with `currentSense: UNSPECIFIED`.  When any Circuit Element's current (absolute value) exceeds a threshold of `S

[2021-08-20 15:55] samreid commented on #696
I used Safari => Dev Tools => Timeline => Frames and it showed me where the time is being spent.  However, my performance on Mac/Safari is very smooth, and it would be good to see this trace on a problematic machine.  I'll reach out to @KatieWoe for next steps.

[2021-08-20 16:49] samreid commented on #696
@KatieWoe and I walked through this on the Mac that has poor performance, we identified the time is spent in these spot:

(1) scrolling the charts (see above commit)
(2) updating the value readouts
(3) running the arbitrary-precision matrix decomposition.

I'll see if (1) or (2) can be optimized.

[2021-08-20 17:01] samreid commented on #696
For (1), the time is being taken in drawing the GridLineSet Shape.

Some ideas:
* Render the grid shape once and just translate it around instead of recomputing the shape at each time.  May be tricky to implement and make sure that there is no flicker when the grid lines jump back.
* Change the design so the grid lines no longer scroll.

@arouinfar can you please recommend how to proceed?

[2021-08-20 20:09] samreid commented on #711
Let's track it in https://github.com/phetsims/circuit-construction-kit-common/issues/694, closing.

[2021-08-20 20:09] #711 closed

[2021-08-20 20:22] samreid commented on #281
I ran this hand for a while and did not see any problems:

![image](https://user-images.githubusercontent.com/679486/130289453-f51379e8-abdd-4791-8232-f3736be32416.png)

The remaining problems are all about open circuits, which we have a proposed fix for in https://github.com/phetsims/circuit-construction-kit-common/issues/693.  I tried several of the "short circuit" bugs listed in this issue and

[2021-08-20 20:32] arouinfar commented on #678
@samreid this approach sounds reasonable, and things have generally been looking really good in master.

The only thing that seems a bit off is that the sign of the current and the direction of electron flow differ for AC and DC circuits. For example:
1. Build a simple DC circuit with a default battery, default resistor, and two wires.
2. Measure the current with the Current Chart. The sign is pos

[2021-08-20 20:39] samreid commented on #678
I don't think we can use clockwise/anticlockwise as a factor here since the direction is arbitrary.  For instance, a clockwise circuit can be changed to an anticlockwise circuit without changing its topology:

![Kapture 2021-08-20 at 14 37 52](https://user-images.githubusercontent.com/679486/130290935-5d9f52eb-c0b8-4ac9-a621-24f14a3e7cbb.gif)

But I'm also not sure that I'm understanding the recom

[2021-08-20 22:23] #716 closed

[2021-08-23 22:20] samreid commented on #696
I have a very rough draft of canvas grid line set, but the line dash offset is broken for the horizontally spaced lines.  Still, it would be good to see how it impacts performance on the test device.  I'll push it for testing.

[2021-08-23 22:25] samreid commented on #696
@KatieWoe can you please pull the changes and test performance (in a built version with assertions disabled)?  Let me know how it compares to before, and please comment if you see the horizontally spaced gridlines animating vertically (which is a known bug, but it will confirm you are seeing the new code).

[2021-08-23 22:50] KatieWoe commented on #696
The lag was better, but was still there. I didn't see any gridlines however.

[2021-08-24 02:37] samreid commented on #696
Can you specify how you tested?  I'm wondering if you got a stale or cached version.  For instance, I'm seeing the built version on bayes was built on August 2: https://bayes.colorado.edu/dev/phettest/circuit-construction-kit-ac/build/phet/

[2021-08-24 02:39] samreid commented on #696
@arouinfar can you please report performance on your mac/safari, just dragging around a single battery in CCK AC, in a built version?  It would be good to know the performance on more than one setup.

[2021-08-24 04:36] arouinfar commented on #678
You're absolutely right @samreid. I think what threw me off was that I built two similar-looking circuits (like the ones below) and the currents moved in opposite directions, but it's not an apples-to-apples comparison.
<img src="https://user-images.githubusercontent.com/8419308/130556357-cbf6a128-faf6-47d0-8487-aff545d44c52.png" width=200>

[2021-08-24 14:34] KatieWoe commented on #696
I pulled my local copy, built it, and ran it on a server.

[2021-08-24 15:27] samreid commented on #693
I requested QA testing for this issue.

[2021-08-24 15:42] samreid commented on #696
On the 2016 MBP we saw this much time taken in updateDisplay:

![image](https://user-images.githubusercontent.com/679486/130647466-58c38b9c-a83c-472e-919a-10496a18fb1b.png)

[2021-08-24 15:58] samreid commented on #678
Would it help to switch the default phase of the ac sources?

[2021-08-24 16:00] samreid commented on #678
In the commit, I changed the sign of the AC voltage source, and now it moves clockwise by default (like the standard battery).  Can you please review?  Please close if all is well.

[2021-08-24 16:02] samreid commented on #572
I marked this for QA testing.  Can you please test the play/pause/step controls in a variety of circuits?  Including but not limited to capacitors and inductors.  Please note the caveats in the prior comment.

[2021-08-24 16:29] arouinfar commented on #678
Thanks @samreid! It looks good in master.

Should we have QA test to see if they can find any issues with the polarity of the current? If not QA, perhaps @ariel-phet can take a look.

[2021-08-24 16:33] arouinfar commented on #696
Dragging a single battery around is definitely a bit jerky in Safari on my Mac. There's a small lag and the battery keeps hopping back to the cursor location, so the overall movement is choppy. I don't see this at all in a built version of CCK: DC.

<details><summary>Troubleshooting Info</summary>

Name: ‪Circuit Construction Kit: AC‬
URL: https://bayes.colorado.edu/dev/phettest/circuit-constructi

[2021-08-24 16:57] arouinfar commented on #696
I tested on one of the test iPads, Hopper, which runs iOS 12.4.1. I saw a similarly jerky behavior when dragging around a single battery. Oddly enough, the behavior was definitely smoother when dragging around a lit bulb in this circuit.
<details> <summary>Troubleshooting Info</summary>

Name:  Circuit Construction Kit: AC
URL: https://bayes.colorado.edu/dev/phettest/circuit-construction-kit-ac/bu

[2021-08-24 17:21] arouinfar commented on #705
I tested a built version of CCK: AC on iPad (Hopper) and Chromebook (Lovelace) and didn't notice any issues other than #696.

<details> <summary> Hopper Troubleshooting Info</summary>

Name:  Circuit Construction Kit: AC
URL: https://bayes.colorado.edu/dev/phettest/circuit-construction-kit-ac/build/phet/circuit-construction-kit-ac_en_phet.html
Version: 1.0.0-dev.15 2021-08-24 16:07:10 UTC
Flags: p

[2021-08-24 17:34] arouinfar commented on #602
This feature will not be included in the CCK: AC 1.0 release. Adding measurement noise is still a long-term goal, but it's not on a current quarterly goal, so I'm going to unassign myself and defer.

[2021-08-24 17:37] arouinfar commented on #714
@samreid before scheduling interviews I think we should first wrap up #678 and #693. I'd also like to send the sim through dev-lite testing.

[2021-08-24 17:38] arouinfar commented on #706
The pointer areas all look good to me. I didn't notice any touch issues on iPad, either.

[2021-08-24 17:38] #706 closed

[2021-08-24 18:09] samreid commented on #678
Yes, I'll add to the QA issues to test.  To test this issue, please test the case in the top comment, keeping in mind that the time of attachment (of the 2nd circuit) affects the result.  Please test a variety of circuits, checking for anything unusual about the current direction.  Note that the ammeter only reads the absolute value of current, and the charts are needed to see the current sign.  P

[2021-08-25 00:04] samreid commented on #679
Question for design meeting: Is it OK to leave the light bulbs as they are until we complete the quarterly goal of organizing the common code light bulbs in https://github.com/phetsims/circuit-construction-kit-common/issues/679 ?

[2021-08-25 08:45] samreid commented on #678
Also tagging for design meeting to review the proposed solution in https://github.com/phetsims/circuit-construction-kit-common/issues/678#issuecomment-902784120

[2021-08-25 08:45] samreid commented on #705
Since all known problems are tracked elsewhere, closing.  We can reopen if there is a regression.

[2021-08-25 08:45] #705 closed

[2021-08-25 09:08] samreid commented on #690
This solution seemed straightforward, I recommend closing.

[2021-08-25 09:08] #690 closed

[2021-08-25 09:12] samreid commented on #704
The solution seemed straightforward and easy to verify.  We can reopen if there is a regression or other leak detected.  Closing.

[2021-08-25 09:12] #704 closed

[2021-08-25 09:13] samreid commented on #703
I added the "mutually exclusive" note as prescribed above, it sounds like everything else for this issue is complete.  Please reopen as appropriate.

[2021-08-25 09:39] samreid commented on #695
First, I saw that `dt` is subdivided, so using a constant term for the added resistance doesn't make sense.  I added that feature and it still didn't work.  I hypothesized that since the companion voltage takes values from `capacitorAdapter.state`, we couldn't include the resistor in that part, but when I added it as a separate part, it had the same problem:

<details>

[code]

</details>

[2021-08-25 10:29] samreid commented on #695
Here is a patch that uses the correct intermediate nodes for computing that node voltage, and a TODO for one other spot that will need to compute the mnaVoltage without including the auxiliary resistor:

<details>

[code]

</details>

[2021-08-25 11:14] samreid commented on #695
I found that the downstream fixes meant the series resistance should not be a function of dt after all.  I committed this draft since it is what we were aiming for, but it has the following problems:

1. Behavior for the circuit in the top comment is still somewhat chunky (better than before, but even at `?capacitorResistance=1` it still stutters
2. Now the capacitor doesn't clear out, even when i

[2021-08-25 11:50] samreid commented on #696
Regarding https://github.com/phetsims/circuit-construction-kit-common/issues/696#issuecomment-904796718, you may have been testing with the proposed canvas implementation since that was committed to master.  In that case, canvas is not sufficient to boost the performance enough.  That indicates the bottleneck is elsewhere, and hence the proposal for static gridlines probably wouldn't work either.

[2021-08-25 12:04] samreid commented on #694
The proposal in the commit is to clamp values to a threshold of 1E20 (signed).  I'll let CT test that for a few rounds.

[2021-08-25 12:12] samreid commented on #696
I tested on my iPad 7 and the performance wasn't perfectly smooth but it seemed acceptable.  I noticed that Hopper is an iPad 6.

[2021-08-25 12:28] samreid commented on #696
Debugging on the iPad showed the majority of time in `updateDisplay` even with assertions disabled.  There was a slight amount of time in update the Pen which is drawn with a ScatterPlot, but when I commented that out the iPad performance was the same.  @jonathanolson can you please help track down the performance issues in this sim?  I'm not sure why the majority of time is spent in `updateDispla

[2021-08-25 16:50] KatieWoe commented on #678
So far I've found one oddity that I'm not sure if it is a problem or not. If you are dragging an element of the circuit while it is running, even if it doesn't impact the current, the electrons' visible current jumps around, though the current tool stays steady.
![movepiecesoddcurrent](https://user-images.githubusercontent.com/41024075/130832200-ea0d9a94-f6e6-4376-a06d-615bb229de4f.gif)

[2021-08-25 20:12] KatieWoe opened #717 "When simulation speed gets too high, electrons slow down, not time"
Found while testing https://github.com/phetsims/circuit-construction-kit-common/issues/678.
When the sim speed slows down, the electrons slow down, but not other aspects. Specifically, oscillations in cck:ac will occur at the same rate (.5 Hz, etc.) and so some circuits may look stopped if they have a normal current. This also means that the current graph is unchanged in this state.
<img width="95

[2021-08-25 21:30] KatieWoe opened #718 "Voltage and Current charts don't reset with reset all"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
Found during https://github.com/phetsims/circuit-construction-kit-common/issues/678. When you change the y zoom on the voltage or current charts, that new y zoom stays even when you use the orange reset all button.
**Steps to reproduce**
1. In CCK:AC, go to the first screen
2. Pull out all 4 Voltage and Cur

[2021-08-26 19:02] KatieWoe opened #719 "Sim slows to unusable levels when capacitor is in a circuit with no resistance"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
Found during https://github.com/phetsims/circuit-construction-kit-common/issues/572. Pausing seems to make the problem worse, but does not seem to be the source of the problem. When a capacitor is connected to a circuit with no resistance, the sim slows down immensely, especially so if paused. This seems to

[2021-08-26 20:37] samreid opened #720 "RC circuit with low values of R has poor performance"
From #678, @kathy-phet  found that turning down the resistance really disturbs performance:

![image](https://user-images.githubusercontent.com/679486/131032538-95b1e8e0-00b3-46e7-bfed-717b912b994b.png)

[2021-08-26 21:20] samreid opened #721 "Stepping a paused inductor causes voltage to oscillate rapidly"
Discovered while testing https://github.com/phetsims/circuit-construction-kit-common/issues/570 in a design meeting.  We set up this circuit:

![image](https://user-images.githubusercontent.com/679486/131037533-6e6a9a8f-a1c4-4cc2-ad57-fca122551f11.png)

Paused, then opened the switch, then stepped, and we saw rapid, buggy oscillation in the voltage chart.  I was unable to reproduce it following th

[2021-08-27 12:04] samreid opened #722 "the selection highlight for the capacitor seems too big"
Discovered in #719, the selection highlight for the capacitor seems too big:

![image](https://user-images.githubusercontent.com/679486/131124645-8dcb444b-d552-483c-b938-571f0a3882c8.png)

[2021-08-27 18:30] #719 closed, assigned to samreid

[2021-08-27 18:42] samreid opened #723 "non-ohmic value gets out-of-range resistance"
from CT

[code]

Discovered while checking CT for https://github.com/phetsims/circuit-construction-kit-common/issues/694

[2021-08-27 20:17] samreid opened #724 "Should the charts reset when you put them in the toolbox?"
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/718, you can record data on a chart, then put it in the toolbox, then get it out of the toolbox and it still has the same data (and zoom level).  To me, it seems like it should reset, but we haven't discussed it before.  @arouinfar @ariel-phet or @kathy-phet what do you recommend?

[2021-08-27 21:33] #718 closed, assigned to samreid, KatieWoe

[2021-08-28 00:55] samreid commented on #722
After the fix it looks like so:

![image](https://user-images.githubusercontent.com/679486/131201046-946d317e-35f7-41c5-bd94-588db66ff562.png)

@arouinfar can you please review?

[2021-08-28 01:03] samreid commented on #721
I am unable to reproduce the problem.  @KatieWoe can you please have the QA team try some variations of the above instructions?  You will know you found the error case when the voltage chart (or maybe current chart?) starts oscillating rapidly (>100Hz).  Please use https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.16/phet/circuit-construction-kit-ac_en_phet.html for testing.

[2021-08-28 01:05] samreid commented on #695
This fix also appears in https://github.com/phetsims/circuit-construction-kit-common/issues/721.  @KatieWoe can you please have the QA team test a variety of circumstances like the problematic ones in this issue, and some variations?  Please use https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.16/phet/circuit-construction-kit-ac_en_phet.html for testing.

[2021-08-28 01:07] samreid commented on #723
This CT error disappears right after this commit, nice!  Closing.

[2021-08-28 01:07] #723 closed

[2021-08-28 01:12] samreid commented on #720
@KatieWoe can you please also have the QA team test this issue in https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.16/phet/circuit-construction-kit-ac_en_phet.html ?

[2021-08-28 15:33] ariel-phet commented on #724
I would agree it should reset. Putting it in the tool box seems analogous to unplugging and instrument and putting it away, I could also envision cases where not resetting could cause a fair bit of confusion (for instance, a pair of students using the sim and the second to drive the sim pulls out a chart).

[2021-08-28 15:41] samreid commented on #724
In the commit, the chart resets when it is put in the toolbox.  @KatieWoe, @ariel-phet or @arouinfar could you please verify and close?

[2021-08-29 18:45] ariel-phet commented on #724
Looked good on master, closing

[2021-08-29 18:46] #724 closed

[2021-08-30 15:41] ariel-phet opened #725 "Incorrect voltage chart readout for simple AC source and battery"
Seen on phettest version of the sim on 8/30/2021

If you make the simple circuit shown in the video, when the voltage is measured across the battery you will get a constant voltage instead of an oscillating voltage. The voltage across the lightbulb is displayed correctly, but across only the battery is incorrect.

https://user-images.githubusercontent.com/4051174/131365850-17672331-52ae-4ee0-bb96-

[2021-08-30 15:50] Nancy-Salpepi commented on #720
Using MacBook Air 11.4 + chrome:

I noticed an inconsistency when the resistance was changed in pause vs play mode.

I built the circuit shown above and the voltage curve remained smooth and consistent when the resistance was decreased while the sim was in play mode. The power source did not go on fire. When I paused the sim and changed the resistance from 10 to zero, it showed the power source on

[2021-08-30 17:03] samreid commented on #725
@arouinfar and I reviewed the behavior above and we believe it to be the correct physical behavior.  From Kirkhoff's loop rule, traversing around a closed loop should give a sum of voltages adding to 0.  If the bottom battery is at 9V, and the AC source is at 9*sin(wt) V, the voltage drop across the light bulb must be equal to 9(1-sin(wt)) V.  Therefore the voltage across the battery remains at 9

[2021-08-30 17:12] samreid commented on #720
Thanks, I'll move the problems in the preceding comment to 2 new issues.

[2021-08-30 17:13] samreid opened #726 "Play/pause issues and measurements"
In https://github.com/phetsims/circuit-construction-kit-common/issues/720#issuecomment-908456709, @Nancy-Salpepi said:

@arouinfar can you please review the behavior, recommend how to proceed and mark it for the AC 1.0 milestone if it is necessary before publication?

[2021-08-30 17:34] samreid opened #727 "Current is not conserved when setting resistance to zero"
From https://github.com/phetsims/circuit-construction-kit-common/issues/720#issuecomment-908456709

@Nancy-Salpepi said:

![Kapture 2021-08-30 at 11 18 16](https://user-images.githubusercontent.com/679486/131378587-a221effd-faac-4cce-b9e2-cf9b95f1a5fe.gif)

[2021-08-30 17:50] stemilymill commented on #720
Win10 Chrome

In this circuit with low resistance, the voltage chart looked ok but the current chart was glitchy
![low resistance current chart glitchy 2](https://user-images.githubusercontent.com/85511101/131382465-ea60e91b-1b36-4e93-ba63-f5b816a8c9bf.gif)

[2021-08-30 18:36] Nancy-Salpepi opened #728 "Temporary loss of Current graph"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.4

**Browser**
chrome

**Problem description**
In the RLC screen, when the circuit below was created with the resistor set to 9.8 ohms and the capacitor to .07f, the current graph sometimes disappears while the gray pointer continues to oscillate as though current is changing. In addition, small blips are sometimes seen in the current

[2021-08-30 18:39] Nancy-Salpepi commented on #728
@samreid is the order in which a circuit constructed important? Just wondering why I'm having difficulty reproducing.

[2021-08-30 18:51] stemilymill commented on #720
Win10 Chrome, second screen

I don't know if this is just the capacitor doing its thing, but here is an instance with a mostly smooth voltage chart and not smooth current chart

![low resistance current chart glitchy 2](https://user-images.githubusercontent.com/85511101/131389419-21e7a46c-6531-4afa-9107-ca4160511fc9.gif)

[2021-08-30 20:15] stemilymill commented on #720
Win10 Chrome, RLC screen.

This recording was at a fairly high frame rate and the jerkiness of the animation is **not** due to conversion to gif - I thought I should specify that in this case. However, the apparent smearing of the resistor *is* due to recording software so please ignore that, and in the previous comment as well.

![low resistance low performance 3 35 frames per second](https://use

[2021-08-30 20:15] KatieWoe opened #729 "CT Build failed with status code 1"
[code]

[2021-08-30 20:29] samreid commented on #728
There are at least 3 factors that may affect reproducibility (but which are ideally not supposed to affect reproducibility):

1. The orientation of circuit elements.  For instance, connecting the right side of a wire vs the left side of a wire is handled differently in the code.  It should be treated the same, but there may be bugs.
2. The order of connection
3. Minor adjustments in wire length ch

[2021-08-30 20:42] samreid commented on #729
This appears to be a spurious occurrence of https://github.com/phetsims/chipper/issues/1022.  I did not see the problem in a local build.  Unassigning from milestone.

[2021-08-30 20:50] samreid commented on #727
When the resistance drops to 0, the voltage from the solution is `-7.163178782256218e-26 `.  The current is computed as I=V/R, so also coming up around 0.

Some ideas:
* We could eliminate 0 resistance circuit elements from the equation, but we would still need a way to compute their current.
* Try giving the resistor a small number instead of 0?

[2021-08-30 21:03] samreid commented on #727
I required circuit elements to have non-zero resistance, instead using `CCKCConstants.MINIMUM_RESISTANCE = 1E-8` for this case.  It fixes the symptoms of this problem.  @arouinfar do you think that is a reasonable solution, or is having a small nonzero resistance for resistors going to cause problems for some scenario?  Or should we go below 1E-8?

[2021-08-30 21:13] samreid commented on #720
Thanks for these reports.  I don't see the symptom on my machine--may be performance sensitive.  I published a version here https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.17/phet/circuit-construction-kit-ac_en_phet.html for a potentially related problem in https://github.com/phetsims/circuit-construction-kit-common/issues/727#issuecomment-908693576.  Can you please test t

[2021-08-30 21:14] samreid commented on #728
I also saw the chart flickering out a few times last week, after the conversion to use canvas instead of scenery.  Hopefully @jonathanolson and I can discuss this on Wednesday.

[2021-08-30 21:31] arouinfar commented on #727
That sounds reasonable to me and it appears to be behaving correctly in dev.17.

However, I do wonder if we need to allow users to set the resistance to zero. Perhaps we could instead change the slider minimum to 1 ohm for standard bulbs and resistors. I'll tag for a design meeting to check in with the team.

[2021-08-30 21:37] samreid opened #730 "The current probe cannot read different values while the sim is paused."
While working on https://github.com/phetsims/circuit-construction-kit-common/issues/678, I observed that the current probe cannot read different values while the sim is paused.  Is this by design or a known deficiency?  If not, is it important to work on for AC 1.0?

[2021-08-30 21:42] arouinfar commented on #726
@samreid something strange is going on here, but I don't think this is an issue with play/pause.

![image](https://user-images.githubusercontent.com/8419308/131409061-e00bdc2e-d1ed-4987-90a6-a1e236f9987f.png)

The resistance in this circuit should be minimal. The wires contribute a bit of resistance, and with the changes in #727 the resistor should be 1E-8 ohms. However, the current appears to be

[2021-08-30 21:54] arouinfar commented on #730
The voltmeter and ammeters are responsive while paused, but something strange is going on with the Voltage and Current charts.

Here's an example of what I see in cck-ac dev.17:
1. Build a simple circuit with a default AC source, resistor, and two wires.
2. Place current chart probe on a wire.
3. Pause the sim.
4. Move current probe off of the wire, chart does not change (I expected the dot to dro

[2021-08-30 21:54] arouinfar commented on #722
Looks good to me. Thanks @samreid!

[2021-08-30 21:54] #722 closed

[2021-08-30 21:55] samreid commented on #727
That sounds reasonable.  But I'm wondering if a learning goal is that a 0-resistance wire and a 0-resistance resistor are physically the same in a circuit.

[2021-08-30 22:31] ariel-phet commented on #725
@arouinfar @samreid yes, I think my brain was thinking about a floating ground for a DC offset, which we do not have here.

[2021-08-30 22:31] #725 closed

[2021-08-30 23:22] Nancy-Salpepi commented on #728
I'm still trying to reproduce but from the same video (it was over 2 minutes), there was a time where BOTH curves disappeared. Even though I wasn't touching anything, the behavior wasn't consistent.

https://drive.google.com/file/d/17L73cpJIisIc_D2iS9zYKL3Q842AuLj2/view?usp=sharing

[2021-08-31 00:17] samreid commented on #728
Thanks, I'll coordinate with @jonathanolson about this bug.  I don't think we need to try further to reproduce it at this time.

[2021-08-31 00:21] samreid opened #731 "Current value seems inaccurate"
In https://github.com/phetsims/circuit-construction-kit-common/issues/726#issuecomment-908720804 @arouinfar said:

![image](https://user-images.githubusercontent.com/8419308/131409061-e00bdc2e-d1ed-4987-90a6-a1e236f9987f.png)

[2021-08-31 00:22] samreid commented on #726
Thanks, I moved the preceding comment to a new issue.  Should anything else be done for this issue?

[2021-08-31 00:42] samreid commented on #731
According to https://circuitdigest.com/tutorial/capacitor-in-series-and-parallel-circuits, the current through a series AC/Capacitor circuit is given by i = dQ / dt = C (dV / dt).  Estimating from the voltage chart, I see the steepest slope is around dv = 28 V, dt/1s.  And the Capacitance is 0.1F.  So i=CdV/dt = 0.1*28 = 2.8V (give or take measurement error).  Does that sound right to you?

[2021-08-31 01:05] Nancy-Salpepi commented on #721
On MacBook air 11.4 + chrome:

I was able to get the voltage to oscillate drastically by following these steps:
1. Place the battery on the screen and then the inductor above it with significant space in between
2. Attach the two with a wire--connect to the inductor first and then to the battery
3. Attach the resistor to the right side of the inductor, followed by the switch
4. Attach a wire to th

[2021-08-31 03:44] samreid commented on #730
I changed the implementation so that even when the model is paused, the voltmeter chart and ammeter chart sample data.  Please use https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.19/phet/circuit-construction-kit-ac_en_phet.html for testing.  I also noticed that since that last point happens at the same time, the series are connected.  For instance, moving from the AC to DC

[2021-08-31 03:45] samreid commented on #678
I reached out to @zepumph for help on this.  We'll schedule a meeting.

[2021-08-31 03:59] samreid commented on #721
In about 6 trials of following the above instructions, the error only occurred in about 3 of those cases.  I observed the matrix condition number for the failures was around 1E24, much lower like 1E17 or less for the successes.

[2021-08-31 15:24] KatieWoe opened #732 "CT cannot add a listener to a disposed TinyEmitter"
[code]

[2021-08-31 17:29] jbphet commented on #717
If I understand the situation correctly, you're only changing the value of the English string, and not changing the key.  In that case, you could let all the translators know and they could make an update if they so desire.  I usually do this by putting a list of the translated locales in the GitHub issue (i.e. this issue) and assigning it to @oliver-phet, and he emails the translators.  It's up t

[2021-08-31 18:22] samreid commented on #717
@arouinfar can you please review @jbphet's recommendation and advise?

[2021-08-31 18:59] samreid opened #733 "Phase problems in bamboo chart vertical line dash for canvas"
The bamboo chart canvas gridlines line dashes are scrolling vertically. (the line dash is animating upward on a vertical line).

[2021-08-31 19:43] samreid opened #734 "Efficiently reuse values from timestep subdivisions"
Today while working on https://github.com/phetsims/circuit-construction-kit-common/issues/696, @jonathanolson and I identified 2 levels of inefficiencies in TimestepSubdivisions.

* Calling `let subdivisionDT = this.getTimestep( state, steppable, seedValue * startScale );` throws away intermediate results that could be used to return the answer.  We compute the updated state twice (once to get dt,

[2021-08-31 19:51] samreid commented on #696
Aside from https://github.com/phetsims/circuit-construction-kit-common/issues/734, @jonathanolson also recommended marking Shapes as immutable, for example in ScatterPlot.

There is something slow in the LabelSet code callback.

ScatterPlot.update also does an accessor twice.

[2021-08-31 20:00] samreid commented on #733
Fixed in https://github.com/phetsims/bamboo/commit/e9727e18d17539eb1d300400acbe743ba30df429 thanks to @jonathanolson, closing.

[2021-08-31 20:00] #733 closed

[2021-08-31 20:03] samreid commented on #728
We noticed that canvas context is not saved and restored in CanvasLinePlot.

[2021-09-01 00:20] samreid commented on #734
In the commit, I reuse state computations from subdivisions rather than recomputing them.  I also noticed that turning down MIN_DT surprisingly reduces the number of steps necessary. I'll open a side issue for that.  We also can do the second bullet from above.

[2021-09-01 00:32] samreid opened #735 "Paradoxically, turning down MIN_DT reduces the number of steps in the computation"
From https://github.com/phetsims/circuit-construction-kit-common/issues/734, in an AC/Capacitor circuit, I'm seeing

MIN_DT: 1E-4 => 170 steps
MIN_DT: 1E-5 => 270 steps
MIN_DT: 1E-6 => 44 steps
MIN_DT: 1E-7 => 58 steps
MIN_DT: 1E-8 => 330 steps

[2021-09-01 00:33] samreid commented on #735
Let's go with 1E-6 until we understand this better.  I also assigned @zepumph so we can take a look at our upcoming meeting.

[2021-09-01 00:39] samreid commented on #734
I added the second layer of efficient re-use, and it seems to be working well.  It gets triggered when changing the voltage across a battery - capacitor circuit, and in an AC source - capacitor circuit.

@jonathanolson can you please review and comment on https://github.com/phetsims/circuit-construction-kit-common/issues/735 if you have any ideas about it?

[2021-09-01 01:10] samreid commented on #696
Here is a dev version with the improvements committed above (this issue and other issues).  Can @KatieWoe and/or @arouinfar please check performance on it so we can see where we are at and whether we need to implement any of the latter 4 ideas.

https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.20/phet/circuit-construction-kit-ac_en_phet.html

[2021-09-01 01:13] samreid commented on #728
This version https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.20/phet/circuit-construction-kit-ac_en_phet.html has the canvas context save/restore fix.  It may fully address this problem.  It would be good to know if there are any sightings of this problem after these fixes before we do any of the other investigation.  @KatieWoe and @Nancy-Salpepi can you please keep your e

[2021-09-01 16:16] Nancy-Salpepi commented on #728
Using the new build, I produced a circuit which resulted in a loss of the voltage graph (while still showing current).
<img width="774" alt="Screen Shot 2021-09-01 at 11 46 40 AM" src="https://user-images.githubusercontent.com/87318828/131705475-1409bf9f-c65b-4a01-a357-2e2ade74b7f8.png">

I recorded the entire build of the circuit so that it would be easy to reproduce. I cut it into 2 parts:

http

[2021-09-01 16:37] samreid commented on #678
@zepumph and I worked on this today, and we observed that in creating a battery resistor circuit like so, then flipping the battery, the battery current readout doesn't change, but the resistor and wire currents do change sign:

![image](https://user-images.githubusercontent.com/679486/131709729-a8bfe5d2-7f8d-4549-a6c0-c03fd87f4010.png)

This is with the simplified code that only chooses things to

[2021-09-01 16:38] samreid commented on #678
We also observed that with that patch, flipping a 2nd battery sometimes yields a blip in the curve:

![image](https://user-images.githubusercontent.com/679486/131709955-f62ab2e2-4af5-4d68-bc45-cb0b88d7b432.png)

[2021-09-01 16:52] Nancy-Salpepi commented on #572
In the newest build (1.0.0-dev.20), the current updates when an object is removed, but not when an object is added.

https://drive.google.com/file/d/1tuTHW02yBU82IHz0uoTymR90YTJ0iblG/view?usp=sharing

[2021-09-01 17:00] samreid commented on #678
@zepumph and I added a fix that solved the two preceding problems.  However, it did not help us with the primary problem for this issue.

[2021-09-01 17:25] Nancy-Salpepi commented on #728
In this circuit, neither chart had a reading:

<img width="982" alt="Screen Shot 2021-09-01 at 1 14 26 PM" src="https://user-images.githubusercontent.com/87318828/131714959-4c70bfe5-111e-4644-afa2-ca5ab99f027a.png">

Steps to reproduce:
1. In the RLC screen, connect 3 batteries in series
2. Place inductor above the batteries, leaving space in between
3. Add wire to the left side of inductor
4. Add

[2021-09-01 20:09] KatieWoe commented on #696
Performance looks the best I've seen it so far when dragging objects around. Still felt some lag, but it is a noticeable improvement.

[2021-09-01 20:22] samreid opened #736 "Commits take 20+ seconds"
Ever since going to the arbitrary precision solver, precommit hooks are taking way too long.  Let's fix this before production.

[2021-09-01 22:25] samreid commented on #696
@arouinfar can you help decide whether more improvements are necessary, or if this is acceptable for 1.0?

[2021-09-02 18:15] stemilymill commented on #720
The performance was better on dev 17, but I tried the same circuit in dev 20 and it was much worse, as seen below.
Same behavior on win10 chrome and mac chrome. Next I will test with the different values of ?capacitorResistanc if that is still what you'd like me to do.

![giphy dev20](https://user-images.githubusercontent.com/85511101/131894231-f9ba8678-d3f9-4960-9b57-2950bbb1ddff.gif)

[2021-09-02 19:52] samreid commented on #727
In design meeting, we agreed to leave the 0-value resistor.  @Nancy-Salpepi can you please test in the latest dev version and see if the problem is corrected?

[2021-09-02 20:13] samreid commented on #678
We identified that we cannot have each component keep their sense even when disconnected--it leads to discontinuities.  @zepumph and I will continue to work on the known discontinuities and phase offsets.

[2021-09-02 20:19] samreid commented on #727
In today's meeting @kathy-phet identified a case where we would like better behavior.  This resistor should be closer to negligible:

![image](https://user-images.githubusercontent.com/679486/131910580-462af156-5d10-4def-a867-d754952c3a98.png)

Also, @kathy-phet identified bunching in a similar circuit
![image](https://user-images.githubusercontent.com/679486/131910616-82235a23-7ec2-44db-99da-d78c

[2021-09-02 20:25] samreid commented on #717
At today's design meeting, we decided to inform the translators.  We will do this after publication.

[2021-09-02 21:22] samreid commented on #693
In today's design meeting, I described the solution that runs the high precision solver 10 times before turning to the high performance solver.  Also, we saw a dangling circuit element that led to buggy behavior.  I described the ?precision=... query parameter to QA so they can see if turning up the precision can avoid errors like that.

[2021-09-03 20:19] stemilymill commented on #720
I made this same circuit in dev 17 - 20. In each, the lightbulb and resistor are 0.1 ohms and the capacitor is default.
I will test with different values for ?capacitorResistance and/or ?precision to see if it makes a difference

dev.17

![dev 17 capacitor default](https://user-images.githubusercontent.com/85511101/132060702-e944b920-34b7-4b35-bd77-53a516271e70.gif)

dev.18

![dev 18 capacitor def

[2021-09-07 15:31] samreid commented on #736
Fixed, closing.

[2021-09-07 15:31] #736 closed

[2021-09-07 16:46] samreid commented on #732
This issue is tricky to simulate locally, but it does show up on CT every few columns.  I pushed a proposed fix that would avoid selecting disposed circuit elements.  Let's monitor CT in a few days and see if this addressed the problem.

[2021-09-07 17:06] samreid commented on #728
I reproduced the circuit in the prior comment, and also saw that there was no curve on the plot.  However, this was due to the data being out of range, and zooming out did reveal the data.  So that symptom seems different than the video in the top comment where there is a dot on the chart but no data following the dot.  If we can still reproduce that problem (dot but no line), then I'm inclined to

[2021-09-07 17:35] Nancy-Salpepi commented on #572
@samreid I just updated my last comment so it is easier to see and reproduce

[2021-09-07 19:42] stemilymill opened #737 "Incomplete circuit with switch and ?capacitorResistance=4E-6 has active current, electron bunching, flames"
**Test device**
Dell laptop

**Operating System**
Win10

**Browser**
Chrome 93.0.4577.63

**Problem description**

I'm not sure if this is particularly problematic since I have only seen it with the ?capacitorResistance query parameter, but I thought it might be relevant to https://github.com/phetsims/circuit-construction-kit-common/issues/693#issuecomment-912067138
While testing https://github.co

[2021-09-07 20:22] Nancy-Salpepi commented on #728
@samreid I tried many circuits over the last couple hours and I was unable to produce a graph with a moving dot but no line. It doesn't mean it isn't possible, but I wasn't able to replicate the original issue nor create a new one.

[2021-09-07 20:35] Nancy-Salpepi commented on #693
Using version 1.0.0-dev.20 on MacBook Air + chrome, while in the process of creating a circuit, the electrons moved, the power source went on fire and the bulb lit (even though it was still an incomplete circuit).

<img width="587" alt="Screen Shot 2021-09-07 at 3 14 27 PM" src="https://user-images.githubusercontent.com/87318828/132406723-69ddf2e4-af20-4132-9b28-59a4a48d6492.png">

Steps to reprod

[2021-09-07 21:29] samreid commented on #728
Thanks, let's consider this closed for now but reopen if anybody experiences another sighting.  Closing.

[2021-09-07 21:29] #728 closed

[2021-09-08 01:58] samreid commented on #572
Thanks, I was able to reproduce the problem and the commit solves it for me.  @Nancy-Salpepi can you please verify?  Please close if the behavior is as we hope.

[2021-09-08 02:12] samreid commented on #693
Thanks for the great instructions @Nancy-Salpepi, I can easily produce this problem.  I tried with ?precision=1000 and still see the problem.  I tried ?capacitorResistance=1E-4 and still see the problem.  Maybe the solution is to eliminate "dangling" circuit elements from the matrix.  If a circuit element is not a member of a loop, then it doesn't contribute equations to the matrix, and doesn't ge

[2021-09-08 13:18] Nancy-Salpepi commented on #572
I was no longer able to reproduce the problem on Master.

[2021-09-08 13:18] #572 closed

[2021-09-08 14:52] samreid commented on #693
In the commit, I made it so that only circuit elements in a loop with a voltage source contribute to the circuit solution.  Any circuit element not in a loop with a voltage source will have its current zeroed out.  This was a complicated depth-first-search, and has not been well-vetted.  Open switches are not traversed.  Capacitors and inductors contribute a voltage if their companion model provid

[2021-09-08 14:55] samreid opened #738 "A charged capacitor looks like it loses its charge when disconnected"
From https://github.com/phetsims/circuit-construction-kit-common/issues/693

[2021-09-08 15:34] samreid commented on #737
There is a proposed fix in https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.23/phet/circuit-construction-kit-ac_en_phet.html, can you please test if it solves this problem too?

[2021-09-08 19:51] Nancy-Salpepi commented on #693
@sam reid
@stemilymill and I tried several several times to replicate the issues seen in https://github.com/phetsims/circuit-construction-kit-common/issues/693#issuecomment-906668899 and https://github.com/phetsims/circuit-construction-kit-common/issues/693#issuecomment-914612755 but could not.

Can you elaborate on how you would like me to test: "but also that we still get the expected results in

[2021-09-08 22:53] samreid commented on #735
Patch with some instrumentation working with @zepumph

<details>
[code]

</details>

[2021-09-09 03:00] samreid commented on #693
Basically, testing other known scenarios, like:
* 2 resistors in series should add
* 2 resistors in parallel should have a harmonic sum like https://www.electronics-tutorials.ws/resistor/res_4.html
* battery resistor capacitor should have exponential decay with a time constant RC https://www.electronics-tutorials.ws/rc/rc_1.html
* switch behaves as expected
* etc

[2021-09-09 04:14] samreid commented on #738
For the CapacitorCircuitElementNode, we have Q=CV.  But the voltage is being computed as 0 when not in a circuit.  This is incorrect, since a charged capacitor should have a potential difference.  Wiring up to the `mnaVoltage` gives the correct answer, but this is unsatisfactory since it doesn't explain why the `computeVoltageDifference` is coming up as 0 and what other incorrect effects that may

[2021-09-09 04:30] samreid commented on #735
Sampling with the averaging patch shows the same pattern:

MIN_DT: 1E-4 => 350 steps
MIN_DT: 1E-5 => 540 steps
MIN_DT: 1E-6 => 81 steps
MIN_DT: 1E-7 => 115 steps
MIN_DT: 1E-8 => 695 steps

[2021-09-09 04:43] samreid commented on #727
I observed the minimum resistance for the 0 Ohm resistor was actually 1E-8, which was orders of magnitude larger than the resistance for a resistor-length wire, which was about 1.1E-10.  When I changed the minimum circuit element resistance to be 1.1E-10 instead of 1E-8, this behavior looked better:

![image](https://user-images.githubusercontent.com/679486/132623740-fc0a8d36-9421-4d57-a0ac-5679f8

[2021-09-09 04:48] samreid commented on #727
I published a dev version for testing here: https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.24/phet/circuit-construction-kit-ac_en_phet.html

I'll label for design team review

[2021-09-09 13:36] samreid commented on #738
Likewise, we still need to compute voltages across disconnected batteries.

[2021-09-09 15:44] arouinfar commented on #696
@samreid I tested dev.20 and a built version on master, and the performance has definitely improved on Mac/Safari. It's good to know that there is potential for improvement, but I don't think it's necessary at this stage.

<details><summary>Troubleshooting Information:</summary>

!!!!! DO NOT EDIT !!!!!
Name: ‪Circuit Construction Kit: AC‬
URL: https://bayes.colorado.edu/dev/phettest/circuit-const

[2021-09-09 19:41] samreid commented on #727
In design meeting, this seems like it is working well.  Back to QA for more testing.

[2021-09-09 19:43] samreid commented on #678
@kathy-phet pointed out she sees problems with the AC source having the wrong sign.

[2021-09-09 19:48] samreid commented on #738
It will be easier to change the rule about what is filtered out of the matrix solution--leaving in batteries, capacitors, inductors.  If that seems good in my testing, we can run it past QA.

[2021-09-09 19:54] samreid commented on #721
At today's design meeting, @kathy-phet asked @Nancy-Salpepi to see if this is still reproducible in https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.24/phet/circuit-construction-kit-ac_en_phet.html

[2021-09-09 19:57] samreid commented on #720
At today's design meeting, we were wondering if @stemilymill can test this in https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.24/phet/circuit-construction-kit-ac_en_phet.html ?

[2021-09-09 19:59] samreid commented on #570
From today's design meeting.  This issue is on hold until the rest of the model settles down.  I measured the value and found it was non-infinite, had something like 500V or 500A?

[2021-09-09 20:04] samreid commented on #735
At today's design meeting, we considered that we may not need to fully understand this before publication.  As long as the measurable behavior is OK.

[2021-09-09 20:10] samreid commented on #694
We are still seeing NaN from today's CT:

[code]

[2021-09-09 20:12] samreid commented on #693
At today's design meeting, we agreed to hold off of testing until https://github.com/phetsims/circuit-construction-kit-common/issues/738 is complete.

[2021-09-09 20:16] samreid commented on #726
Today we discussed this in design meeting.  We saw a discontinuity in the voltage curve, and since current is proportional to dV/dT, there is a current spike.  So it is OK for the AC source to catch on fire for that frame:

![image](https://user-images.githubusercontent.com/679486/132756359-2bf553c2-164b-4776-9ccf-9ad7827c628a.png)

[2021-09-09 20:16] #726 closed

[2021-09-09 20:17] samreid commented on #732
This error is no longer showing on CT, closing.

[2021-09-09 20:17] #732 closed

[2021-09-09 20:20] samreid commented on #734
At today's design meeting, we think this is good to go.  We haven't seen any physics problems that may have been caused here.  This seems good to close.

[2021-09-09 20:20] #734 closed

[2021-09-10 12:18] Nancy-Salpepi commented on #721
After 10 attempts, I could not reproduce this issue.  @samreid, I believe this issue can be closed.
![issuefixed](https://user-images.githubusercontent.com/87318828/132850802-e3c46fe6-b605-4335-b28a-891c82ace8da.gif)

[2021-09-10 15:09] stemilymill commented on #720
Win10 Chrome
I reproduced the same circuit as in above comments in dev.24. Unfortunately, the performance seems even worse than dev.20.

https://user-images.githubusercontent.com/85511101/132870319-8f7fa3dc-9e18-447f-baed-305c7f8061f1.mp4

[2021-09-10 15:37] Nancy-Salpepi commented on #695
@samreid on the MacBook 11.4 + chrome, this is what the circuit now looks like:
![issue695dev24](https://user-images.githubusercontent.com/87318828/132879756-d6f2a577-9e17-476f-8ad0-bbc90f1eac6d.gif)

[2021-09-10 20:06] samreid commented on #695
@arouinfar should that circuit read out the battery voltage, or the voltage from traversing the wires (0 V)?

[2021-09-10 20:08] samreid commented on #721
Good idea to recheck it after https://github.com/phetsims/circuit-construction-kit-common/issues/738, on hold until then.

[2021-09-13 14:17] samreid commented on #738
This doesn't seem feasible, since the existing solution would incorrectly give 0V for all dangling resistors and wires.  We will need a rule to traverse them and give them the correct voltages.  If we have such a rule, we can apply it for batteries, capacitors, and inductors as well.  So that seems like the right place to start.

[2021-09-13 19:35] samreid commented on #738
Here is a picture of the problem, notice off the battery, the node voltages aren't computed for the dangling wires:

![image](https://user-images.githubusercontent.com/679486/133145462-ebe96c64-929f-4ec4-9302-83c43b1c759b.png)

[2021-09-13 19:41] samreid commented on #738
The commit computes voltages for dangling wires and resistors, and works well in the primary case:

![image](https://user-images.githubusercontent.com/679486/133146125-d34993fa-6ad6-429b-a269-1356859d24d2.png)

However, it only searches from one participant, and therefore misses disconnected components:

![image](https://user-images.githubusercontent.com/679486/133146204-b5648e39-35b9-4510-ad33-08

[2021-09-13 19:44] samreid commented on #738
After the commit, there is a very inefficient search that seems to traverse from all participants.

[2021-09-14 03:55] samreid commented on #738
Most things seem OK, but in some cases wrong values are computed across the capacitor.  We will need to change the visited pattern to indicated visited vertices, not visited circuit elements, and not visit the same vertex twice.

[2021-09-14 16:07] samreid commented on #738
We will need to rewrite the depth-first-search algorithm so that we search the entire connected graph from a single vertex.  Connecting 2 batteries restarts the search at the 2nd battery, and gets the wrong answer.

[2021-09-15 14:50] samreid commented on #738
After the commits, it seems like the algorithm is working as expected.  Summarizing the implementation:

* From #693 circuit elements that are not in a loop with a voltage source do not enter into the linear algebra
* Run the linear algebra step
* Iterate over each circuit element's start vertex.  Run a depth first search that visits the graph from that point.  For each visited vertex, if the volt

[2021-09-15 15:21] samreid commented on #721
Now that #738 has a proposed solution, this is ready for re-testing.  @Nancy-Salpepi can you please take a look?  Please test using https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.25/phet/circuit-construction-kit-ac_en_phet.html

[2021-09-15 15:24] samreid commented on #727
Can you please test in https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.25/phet/circuit-construction-kit-ac_en_phet.html?

[2021-09-15 15:26] samreid commented on #693
#738 has a proposed solution, so this should be ready for testing in https://github.com/phetsims/circuit-construction-kit-common/issues/727

[2021-09-15 15:27] samreid commented on #737
#738 has a proposed fix, can you please test in https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.25/phet/circuit-construction-kit-ac_en_phet.html ?

[2021-09-15 15:33] samreid commented on #570
This no longer demonstrates the spike after the new voltage solution in #738, @arouinfar can you please test/verify in https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.25/phet/circuit-construction-kit-ac_en_phet.html.  Can this issue be closed?

[2021-09-15 15:42] samreid commented on #720
I created a ac/capacitor/light builb/resistor/switch circuit with 0.1 ohms for the light bulb and resistor, and I do not see performance problems on my machine.  @stemilymill can you help narrow down if the problem is platform-specific?  I've been testing dev.24 to try to replicate your results, but new testing should be done in dev.25.

[2021-09-15 16:25] Nancy-Salpepi commented on #693
When I rebuilt the first circuit (with no dangling wires)in https://github.com/phetsims/circuit-construction-kit-common/issues/693#issuecomment-906668899 the circuit functioned correctly when the switch was open. There was no current reading and the battery voltage was additive.

<img width="1177" alt="Screen Shot 2021-09-15 at 12 22 36 PM" src="https://user-images.githubusercontent.com/87318828/1

[2021-09-15 16:55] Nancy-Salpepi commented on #721
@samreid now when the switch is closed, the voltage stays constant at 9 volts.

<img width="1177" alt="Screen Shot 2021-09-15 at 12 54 15 PM" src="https://user-images.githubusercontent.com/87318828/133476549-37d5b7f9-efbb-45c8-be01-41bae9f68d8d.png">

[2021-09-15 16:56] stemilymill commented on #693
I had similar outcomes to Nancy. Here are videos to demonstrate.

https://user-images.githubusercontent.com/85511101/133475539-f6106bab-b461-49af-bc09-2d44f8982903.mp4

Moving a dangling wire seemingly "resets" electrons

https://user-images.githubusercontent.com/85511101/133475550-66b6e5dd-d7ed-49b2-95b3-3d4f475f5b43.mp4

https://user-images.githubusercontent.com/85511101/133475564-6cfd9be1-895a-

[2021-09-15 17:00] samreid commented on #721
Please note the placement of the probes--the picture in the preceding comment is measuring the voltage drop across the battery, which remains constant at 9V.  The red probe could be placed between the inductor and the resistor to measure the voltage drop across the inductor.

[2021-09-15 17:10] samreid commented on #693
I build what I think is an equivalent circuit and did not see any current flowing:

![image](https://user-images.githubusercontent.com/679486/133478580-0f3d1580-4d6f-4ac8-adb1-f5a3f0cbc4d9.png)

Can you help track down the minimum number of steps to reproduce that problem?  Am I testing it wrong, or does it occur differently on different platforms?

[2021-09-15 17:16] Nancy-Salpepi commented on #721
Sorry about that @samreid.

I tried several times with the voltage probes in the correct places. The play/pause/step forward buttons are working as they should. I'm seeing the same thing as in video https://github.com/phetsims/circuit-construction-kit-common/issues/721#issuecomment-916862033

It looks good to close at this point.

[2021-09-15 17:17] samreid commented on #721
Excellent, thanks!  Closing.

[2021-09-15 17:17] #721 closed

[2021-09-15 17:19] stemilymill commented on #693
This was win10 chrome, it might only occur sometimes. We can keep testing if needed, while keeping track of steps.

https://user-images.githubusercontent.com/85511101/133479509-a4f3f502-d07d-48de-8afd-9b8514f9cd5e.mp4

[2021-09-15 18:46] Nancy-Salpepi commented on #693
@samreid the key for me to reproduce this issue was to wiggle bulb around. I hope these steps work for you!

I am on MacBook Air + chrome + 1.0.0-dev.25
Here are the steps I was using:

1. Add 7 batteries from left to right across the bottom of the screen
2. In a clockwise fashion starting from the left battery, add a wire -- switch --wire --light bulb -- wire -- bill --wire to close the circuit.

[2021-09-15 19:12] stemilymill commented on #693
Win10 Chrome
I also recreated it at around the same time as Nancy, and made the circuit in similar order, but without changing the resistance of the lightbulb or checking the values box. I got current with and without a dangling circuit element.

Making the circuit:

https://user-images.githubusercontent.com/85511101/133492403-a1d0883b-75ea-4b05-9e61-198aeeae53a5.mp4

Add seven batteries left to r

[2021-09-15 19:56] kathy-phet commented on #693
Is this overall a lot harder to make "break" now??

[2021-09-15 20:01] stemilymill commented on #727
@samreid is this a significant difference? I'm not sure exactly what the thresholds/guidelines should be for this issue.

![zero resistor not zero](https://user-images.githubusercontent.com/85511101/133501152-56aa078f-0be3-40a1-a05e-cf4089c388e2.jpg)
![zero resistor not zero higher voltage](https://user-images.githubusercontent.com/85511101/133501163-6822287a-fa33-4c19-93e3-f6c959cdd5eb.jpg)

[2021-09-15 20:16] samreid commented on #678
I added more visual debugging tools with ?showCurrents, then @zepumph and I worked on this.  We solved several upstream problems and streamlined the implementation where we think the problem is.  We discovered that connecting a circuit when the AC source has a negative value gave a discontinuous reading.  Then I discovered a type error, which was fixed in the commit.  After fixing the type error,

[2021-09-15 20:20] stemilymill commented on #693
Nancy and I were both able to quickly create this scenario with uneven current and the dollar bill, but it took multiple attempts to figure out a consistent process. However, the initial problem in this issue with current flowing with an open switch seems to be fixed but we would like to do more testing before saying for certain. We were sidetracked by the issues occurring in the closed circuit.

[2021-09-15 20:54] ariel-phet commented on #570
@samreid @arouinfar this behavior is certainly clean but I think some issues have been introduced.

The inductor does not seem to "hold" any energy if hooked up in an isolated manner to a battery, charged, and then hooked up to another part of the circuit (and disconnected from the battery. In the same way I can "charge up a capacitor" I should be able to "Charge up an inductor" and then introduce

[2021-09-15 21:30] Nancy-Salpepi commented on #693
@kathy-phet
@stemilymill

Using MacBook Air + chrome + 1.0.0-dev.25:

I created several different circuits the past hour--I was unable to produce a current when the switch was open or when there was an incomplete circuit no matter how much I wiggled the pieces around. When the circuit was closed, the voltage of the batteries in series was additive, the same for resistors. So, this part of the issu

[2021-09-15 21:37] kathy-phet commented on #693
Thanks, both! As we get to diminishing returns, and if this bug starts to seem like students would be going out of their way to discover it, then we should call it "solved" for now. I don't know that we will get to perfect behavior always. So please weigh in on that as you do more testing. If we are at 1/100,000 likelihood to be encountered by a user using the sim under normal conditions, we shoul

[2021-09-15 21:42] stemilymill commented on #720
@samreid using the same circuit as before with dev.25, on dell laptop and Win10 Chrome, the performance becomes much better at around 1.2 - 1.3 ohms, and normal performance at 1.9 - 2 ohms.

Interestingly, apart from an initial spike when the switch closes, the performance is also normal when the lightbulb and resister are both set to zero Ohms.

 I will continue testing on different platforms tom

[2021-09-15 21:51] KatieWoe commented on #678
These instances seem to be fixed in that dev version from what I can tell

[2021-09-15 23:47] samreid commented on #678
In slack @KatieWoe said:

I replied:

Closing.

[2021-09-15 23:47] #678 closed

[2021-09-16 15:53] Nancy-Salpepi commented on #695
In addition to my question in https://github.com/phetsims/circuit-construction-kit-common/issues/695#issuecomment-916998453
@arouinfar I was also wondering if it is correct for the electrons to only be moving around the bottom half of the circuit?

![electronlocation](https://user-images.githubusercontent.com/87318828/133644510-bf88f1de-3f31-4993-8f54-53b5478bba29.gif)

[2021-09-16 15:55] samreid commented on #695
We recently added resistance across the capacitor, so that probably explains why the current is only running in the bottom part.  Wires have resistance too, much it is much lower than the capacitor resistance.

[2021-09-16 20:21] samreid commented on #570
In today's meeting, we tested the circuit above, and the behavior seemed much better--perhaps due to the fixes in https://github.com/phetsims/circuit-construction-kit-common/issues/693 and current conversation.

We reverted the commit https://github.com/phetsims/circuit-construction-kit-common/commit/dd6743b3756102f8015b47fd70c0a4414f0461d0 and saw that the energy was stored properly in the induct

[2021-09-16 20:29] samreid commented on #590
@ariel-phet said he can take a look in dev.26 when it is ready.

[2021-09-16 20:33] samreid commented on #727
In today's design meeting, we agreed the current differences are small enough to not be a problem.  The difference is due to the path length difference, which is subtly different.  Therefore, this issue seems ready to close.

[2021-09-16 20:33] #727 closed

[2021-09-16 20:38] samreid commented on #695
In today's design meeting, we confirmed the battery voltage is reduced when shorted, so the voltage readout is correct.  @ariel-phet confirmed the current flowing through the short circuit is correct.  We decided to close this issue.  @arouinfar reviewed the teacher tips for these concepts.

[2021-09-16 20:38] #695 closed

[2021-09-16 22:13] samreid commented on #731
The physics in the preceding comment seems reasonable, to clean up the milestone, I'm going to leave this open and assigned to @arouinfar to double check at her convenience, but I'll remove from the milestone for now.  Please return to the milestone if something needs to be done before AC 1.0.

[2021-09-16 23:15] samreid commented on #693
Behavior looks good after the commits, but the new postprocessing steps introduce a lot of CPU time.  I need to investigate that before we start too much testing on a new version.

[2021-09-16 23:32] samreid commented on #693
Ideas for moving forward:

* Depth first search should be vertex-based (instead of Path based as is committed)
* Search from participants first to have a consistent ground
* Avoid depth first search for anything already visited
* For a connected component, dfs should only run once.
* Open Switch needs to instigate a search from both vertices
* Run current conservation as a separate step (not part

[2021-09-17 04:16] samreid commented on #693
I rewrote the graph searches.  I used the stack-based search for loop detection, so that we could bail out early on loop detection.  However, this makes it difficult to detect if there was a voltage source in the stack.  I had some hesitation about requiring a voltage source in the stack anyways, so let's try this new rule of just detecting loops (or dangling branches) to determine what goes into

[2021-09-18 01:13] samreid opened #739 "Capacitor voltages fluctuate when not connected"
From https://github.com/phetsims/circuit-construction-kit-common/issues/693, Capacitor voltages fluctuate when not connected

![image](https://user-images.githubusercontent.com/679486/133867240-cc8f02d5-8b0f-4f8c-a6fc-74a140897b27.png)

[2021-09-18 01:14] samreid opened #740 "Reduce the number of iterations using the high accuracy solver"
In https://github.com/phetsims/circuit-construction-kit-common/issues/695, we are running the high accuracy solver 10 times per frame before falling back to the high performance solver.  Unfortunately, this is now the performance bottleneck.  I'd like to reduce this to 3 times or so and see if that is still accurate enough with significantly better performance.

[2021-09-18 02:07] samreid commented on #739
Somehow the node indices for the disconnected capacitor are ending up in the circuit matrix solution.

[2021-09-20 22:14] KatieWoe commented on #737
haven't been able to reproduce, but I'll let @stemilymill do the final confirmation since she found the initial bug.

[2021-09-21 14:55] samreid commented on #693
On hold until https://github.com/phetsims/circuit-construction-kit-common/issues/739 has progress.

[2021-09-21 14:55] samreid commented on #738
On hold until https://github.com/phetsims/circuit-construction-kit-common/issues/739 has progress.

[2021-09-21 14:57] samreid commented on #737
On hold until https://github.com/phetsims/circuit-construction-kit-common/issues/739 has progress.

[2021-09-21 17:44] KatieWoe commented on #720
I ran a fuzz test to test performance and I noticed significant slow down after a bit. Though I'm not sure what caused it. It was to the point where I had trouble closing the window.
This was on dev.26

[2021-09-22 16:36] samreid commented on #739
@zepumph and I discovered that the synthetic nodes were using the same indices as the vertex nodes.  Adding 100000 to all of the synthetic indices worked around the problem.  @zepumph and I tried making the node values the same as vertex.index, and that helped in the lookup but ultimately had the same problem because the synthetic indices were overlapping the vertex.index values.  Therefore we hav

[2021-09-22 18:43] stemilymill commented on #720
@samreid I tested multiple platforms on dev.26 with the same circuit as before. With each I first tested with the lightbulb and resistor both set to 0.1 ohms, then both set to 1.0 ohms.

Win10 Chrome:

https://user-images.githubusercontent.com/85511101/134402082-5c5d0f01-3f0a-443f-8516-387071eb49b9.mp4

https://user-images.githubusercontent.com/85511101/134402117-2fe84ab9-12fc-4a1a-87ef-1241b7713f

[2021-09-23 16:57] oliver-phet opened #741 "User reported issue: Encoding Error: Decoding Failed"
I'm still awaiting a detailed system report from the user.

[2021-09-23 17:40] oliver-phet commented on #741
System report (from a working sim, Capacitor Lab):

[2021-09-23 19:47] samreid commented on #590
@ariel-phet requested a query parameter to set the min/max/step size for the inductance controls.

[2021-09-24 20:04] samreid commented on #739
I found that the voltage node identifiers did not need to be numeric, so was able to label the synthetic ones as strings.  It seems to be testing OK and resolves this problem.

[2021-09-24 20:18] samreid commented on #739
This is fixed and ready for testing.  For QA testing, this changed the code for the following circuit elements:

* Inductors
* Batteries
* AC Sources
* Capacitors

Let's test in this version: https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.28/phet/circuit-construction-kit-ac_en_phet.html

[2021-09-24 20:20] samreid opened #742 "AC Source + Capacitor + Inductor has poor (freezing) behavior"
From https://github.com/phetsims/circuit-construction-kit-common/issues/739, I saw that an AC Source + Capacitor + Inductor had poor (freezing) behavior.

[2021-09-24 21:22] KatieWoe commented on #739
Things look good to me

[2021-09-24 21:41] samreid commented on #739
Thanks, closing.

[2021-09-24 21:41] #739 closed

[2021-09-24 22:06] KatieWoe opened #743 "CT pageNumber out of range"
Seems to be in CCK DC
[code]

[2021-09-25 04:26] samreid commented on #743
Thanks, let's track it in https://github.com/phetsims/circuit-construction-kit-common/issues/698 where it was first reported.

[2021-09-25 04:26] #743 closed

[2021-09-25 04:27] samreid commented on #698
This recurred on CT again.

[2021-09-25 04:38] samreid commented on #693
Summarizing the changes that require testing for this issue:
* The algorithms that detect loops and dangling wires have been rewritten to improve performance
* There is a new postprocessing algorithm that tries to pick up the slack in poorly conditioned solutions by helping to conserve current.  This should prevent electrons from bunching up in any circuit element.  This is a heuristic adjustment-

[2021-09-25 04:56] samreid commented on #570
Even though #693 still has some corner cases, I think the behavior is steady enough to test this issue in https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.28/phet/circuit-construction-kit-ac_en_phet.html.  But please send it back to me if any corner case like #693 interferes with testing this issue.

[2021-09-25 05:16] samreid commented on #590
I added support for the query parameters, but there is something buggy happening with the interaction between the slider and the tweaker buttons.  Pressing the tweaker button at the min value jumps twice as far as it should.

[2021-09-25 21:36] samreid commented on #698
I was able to reproduce the problem by running CCK DC in the state wrapper, then choosing next page in the upstream wrapper, then choosing previous page in the downstream wrapper. The commit adds instrumentation to the page number property, and seems to address the problem. The naming and instrumentation seem straightforward, so I don't think this warrants review at this time, but I will give @aro

[2021-09-25 21:36] #698 closed

[2021-09-28 15:30] samreid commented on #694
I added another layer of diagnostic information for when this recurs.

[2021-09-28 16:07] samreid commented on #720
I experimented with changing the error threshold to 1E-3 (current value is 1E-5) and this boosted performance significantly on my Mac/Firefox.  However, this leads to numerical errors in the curve:

![image](https://user-images.githubusercontent.com/679486/135124396-1e195687-c613-438c-9280-2e31c12c372f.png)

Here is a patch I used to investiagte:

[code]

@arouinfar can we schedule a mini-meeting

[2021-09-28 17:38] samreid commented on #693
@arouinfar and I were able to reproduce the problem.  It was very sensitive to a specific position/resistance of the wires.  It doesn't seem to be connected to the battery "shorting out" mode.  I'll look into it further, perhaps commenting out some of the new graph postprocessing steps to see if they are correlated.  But this is not reliable to reproduce every time, so may be difficult to know whe

[2021-09-28 17:43] samreid commented on #742
This is blocked by https://github.com/phetsims/circuit-construction-kit-common/issues/693#issuecomment-927009451, but maybe we can adjust the thresholds like in https://github.com/phetsims/circuit-construction-kit-common/issues/720 once things settle down.

[2021-09-28 17:47] samreid commented on #741
@arouinfar and I noticed that the error trace looks related to audio.  @jbphet can you take a look?  Should we request the client try other sims with sound? We aren't sure if some sims have synthesized sound vs sound clips, so we aren't sure where to go.

[2021-09-28 18:47] arouinfar commented on #730
@samreid I reviewed in master and the behavior looks good, thanks!

[2021-09-28 18:47] #730 closed

[2021-09-28 19:31] samreid opened #744 "Poorly conditioned matrices are still leading to numerical issues"
From https://github.com/phetsims/circuit-construction-kit-common/issues/693#issuecomment-927009451 and below.

![Kapture 2021-09-24 at 22 45 15](https://user-images.githubusercontent.com/679486/134758458-250f5f2d-c4d8-4957-bf91-935f48c5c579.gif)

I spent 5-10 minutes trying to reproduce the problem this morning.  Then on a design call with @arouinfar we were able to reproduce the problem in a few

[2021-09-28 19:31] samreid commented on #693
I'll track the above problems in https://github.com/phetsims/circuit-construction-kit-common/issues/744

[2021-09-28 20:38] samreid commented on #744
All indications suggest this is another manifestation of the floating point precision problem we saw for poorly conditioned matrices in https://github.com/phetsims/circuit-construction-kit-common/issues/693.  I can simulate the problem by using this patch and turning down the precision.  Likewise, turning up the precision addresses the problem.

<details>

[code]

</details>

We cannot turn the pr

[2021-09-28 23:06] samreid commented on #720
@arouinfar and I discussed the problem.  It seems to be related to the accuracy-performance tradeoff.  Our parameters for tuning:

* Error threshold for the timestep subdivisions
* Number of times to run the arbitrary precision solver before falling back to the floating-point solver
* Minimum dt threshold for the timestep subdivisions

Questions for design meeting:
* What is the slowest performanc

[2021-09-28 23:07] samreid commented on #740
It has been working OK with 3 steps, but generally we will need to keep in mind this is a tunable parameter for discussion in https://github.com/phetsims/circuit-construction-kit-common/issues/720.  But let's close this issue.

[2021-09-28 23:07] #740 closed

[2021-09-28 23:07] samreid commented on #735
It's good to know this is happening, but I don't think it should be further investigated before publication.

[2021-09-28 23:07] #735 closed

[2021-09-28 23:09] samreid commented on #731
It would be good to finish up this issue, increasing priority.

[2021-09-28 23:10] arouinfar commented on #731
Thanks @samreid, I think this one is safe to close

[2021-09-28 23:10] #731 closed

[2021-09-29 14:57] samreid commented on #744
To understand why this problem seems new in HTML5, I outputted the matrix for a Java battery-resistor-wire circuit.  The result is:

[code]

Note how this has a much better conditioning than the similar matrix for HTML5:

[code]

I believe this is caused by the tiny resistances in the wire and battery in the HTML5 version.  Note I tried to compute the condition number of the Java version like so:

[2021-09-29 18:32] stemilymill commented on #693
I was testing https://github.com/phetsims/circuit-construction-kit-common/issues/737 and repeatedly had current flowing across an open switch, but only in the switch itself.
Here is a video taken with no added queries on win10 chrome.

https://user-images.githubusercontent.com/85511101/135327638-1175a8be-b84c-4c7f-b04d-316eb4e197ff.mp4

[2021-09-29 18:50] ariel-phet commented on #590
@samreid I am trying to set up a resonant LC circuit of frequency ~ 2hZ (that should match well with our AC source for the moment). Leaving our Capacitor values as is and using .05 Farad for the capacitor, this should be about .12 Henry for the Inductor.

As such I was trying this set of query parameters:

https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.30/phet/circuit-con

[2021-09-30 00:09] jbphet commented on #741
@samreid said:

This problem is definitely related to audio.  The failure is occurring when the sim tries to decode the base64-encoded data that represents a pre-recorded sound clip, but unfortunately the information above gives us little insight into _why_ this is happening.  I dug into the first failure a bit based on the line number information in the screenshot above, and I'm reasonably confid

[2021-09-30 01:31] samreid commented on #744
Maybe we should experiment with QR for the reasons described in https://math.stackexchange.com/questions/2836110/why-which-advantages-we-use-different-matrix-factorization-algorithms

Though generally, for square matrices square-optimal algorithms are typically used.

[2021-09-30 15:26] KatieWoe commented on #741
We do have MacOS 10.15.7.

[2021-09-30 16:48] samreid commented on #741
@jbphet should this be moved to another repo?

[2021-09-30 17:19] oliver-phet commented on #741
@jbphet reply from user:

Have checked my Macbook air sound settings and all seems normal. using internal mc & speakers & they’re working during Zoom sessions and for youtube, music & sound clip playback

resistance sim visuals & sliders work fine there is no sound (even with the sound speaker unchecked)

Yup.. i’d defo be up for trying a modified version of the sim on my machine…

ON: The user al

[2021-09-30 17:32] samreid commented on #741
@jbphet reviewed this problem today:

CM: Will this affect RC's from, say, yesterday?
JB: Yes, but we would catch that in the maintenance release?  It seems a rare problem, but I can hack it to make the problem occur.  But I don't know exactly what it is on the client's machine.

[2021-09-30 18:51] stemilymill commented on #281
@samreid I'm not sure if this fits here, but I noticed bunching of electrons in a wire with zero current.

https://user-images.githubusercontent.com/85511101/135513249-e3c89308-2a45-4113-98f2-b8e92c839ef1.mp4

@Nancy-Salpepi  and I were both immediately able to recreate this.

[2021-09-30 18:56] brooklynlash commented on #693
I also saw this on Chromebook, with a simple circuit. You have to close the circuit, let it run a bit until an electron reaches the start of the switch, and then open it to easily replicate what we saw above.

[2021-09-30 19:17] Nancy-Salpepi commented on #744
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.6

**Browser**
chrome

**Problem description**
I'm not positive this relates to this issue, but I was able to produce a current through a dollar bill by repositioning/changing the length of the wires. This is similar to issues commented on earlier by @stemilymill and myself in https://github.com/phetsims/circuit-construction-kit-common

[2021-09-30 21:13] samreid commented on #744
Sept 30, 2021

We discussed why is the Java matrix non-square?  It seems we have the same code generating the equations, but for some reason Java has an extra equation.  I should see where that is coming from.

Kathy asks if we can transform the numbers before solving the matrix, then transform back?

JO: If you can store value imprecision along with the value, you can trace that through the solut

[2021-09-30 21:14] jonathanolson commented on #744
https://math.stackexchange.com/questions/2040363/comparing-lu-or-qr-decompositions-for-solving-least-squares had a note about LU/QR for least squares, notably:

[2021-09-30 21:17] samreid commented on #720
From today's design meeting:

It's difficult to say, we would need to see it live in the simulation.

[2021-09-30 21:20] samreid commented on #570
From today's design meeting:

@ariel-phet: This should be on hold until we have determined the inductance ranges in https://github.com/phetsims/circuit-construction-kit-common/issues/590 and address the conditioning problems in https://github.com/phetsims/circuit-construction-kit-common/issues/744

[2021-10-01 16:50] Nancy-Salpepi commented on #693
I thought this might be helpful in trying to determine why the switch has current (https://github.com/phetsims/circuit-construction-kit-common/issues/693#issuecomment-930439605):
If you add a dangling wire to one of the switch nodes, there is no current reading for the switch.

<img width="634" alt="Screen Shot 2021-10-01 at 12 45 29 PM" src="https://user-images.githubusercontent.com/87318828/1356

[2021-10-01 17:02] stemilymill commented on #737
I have not been able to recreate this issue.

[2021-10-01 17:02] #737 closed

[2021-10-01 17:48] Nancy-Salpepi commented on #693
For:
**Requires Testing**
- **circuits with dangling branches**

I created several different circuits and was unable to produce a current when the switch was open (except in the switch itself) or when a dangling wire was attached.  Adjusting the length of the wires did not produce a current in these cases.

[2021-10-01 19:22] samreid commented on #693
The main changes for this issue were (a) the part that computes voltages for dangling branches was rewritten, (b) loops now do not require voltage sources and there is a new part that tries to correct numerical errors in the current conservation.

I think https://github.com/phetsims/circuit-construction-kit-common/issues/693#issuecomment-930439605 is caused by the https://github.com/phetsims/circu

[2021-10-04 18:17] samreid commented on #590
On hold until we have progress in https://github.com/phetsims/circuit-construction-kit-common/issues/744

[2021-10-04 18:18] samreid commented on #694
Nothing from the last several columns, on hold and I'll check again later.

[2021-10-04 20:39] samreid commented on #744
In https://github.com/phetsims/circuit-construction-kit-dc/issues/96 we made this commit: https://github.com/phetsims/circuit-construction-kit-common/commit/083c00d8bb0af76015c249616e7baa0e7ceb2b4c

[code]

But now perhaps https://github.com/phetsims/circuit-construction-kit-dc/issues/96 will be solved by our new graph algorithms, and we can go back to the overconstrained QR.

[2021-10-05 02:52] samreid commented on #742
All of the changes in #744 seem to fix this problem, closing.

[2021-10-05 02:52] #742 closed

[2021-10-05 15:22] samreid commented on #590
I changed the default to 2 decimal places for inductors, but added query parameter `&inductorNumberDecimalPlaces=3` for testing.

[2021-10-05 15:29] samreid commented on #590
I ran locally with `?brand=phet&ea&debugger&screens=2&vertexDisplay&inductorNumberDecimalPlaces=3&inductanceMin=0&inductanceMax=1&inductanceStep=.1&inductanceDefault=.12` and set up this circuit:

![image](https://user-images.githubusercontent.com/679486/136053860-433ed9b4-38d6-4808-b28d-a8a53b9d5f99.png)

According to https://en.wikipedia.org/wiki/LC_circuit the resonant frequency of an LC circui

[2021-10-05 15:34] samreid commented on #694
I haven't seen this in many columns, closing again until it recurs.

[2021-10-05 15:34] #694 closed

[2021-10-05 16:38] samreid commented on #720
After the fixes in #744, testing on https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.32/phet/circuit-construction-kit-ac_en_phet.html.  Behavior is good with AC-Capacitor-Resistor, even down to 0.1 Ohms.  In one run, turning down to 0.0 ohms crashed the sim, but in another run it still had good behavior & performance.

[2021-10-05 17:49] samreid commented on #744
Summarizing the commits above:
* Added the missing current conservation equation
* Use QR decomposition for the solution
* Avoid the arbitrary-precision solver altogether
* Performance improvements when generating equations
* Increase battery resistance and wire resistivity by 100 (tweakable with query parameters)
* Made the dt threshold less strict.

I published https://phet-dev.colorado.edu/html

[2021-10-05 17:55] arouinfar commented on #744
@ariel-phet can you spend some time testing this?

[2021-10-05 18:56] ariel-phet commented on #744
@samreid there is currently a severe issue with the behavior involving switches, I believe this video will show you a minimum reproducible case. Kicking back to you until this issue is addressed

https://user-images.githubusercontent.com/4051174/136085612-603b79b6-f889-4d5c-b98d-3c066d7a17a1.mp4

[2021-10-05 19:07] samreid commented on #744
I tried to reproduce the problem in dev.33, but didn't see the buggy behavior:

![Kapture 2021-10-05 at 13 06 34](https://user-images.githubusercontent.com/679486/136087054-e94808e4-95c4-4a54-bd91-32c55d709058.gif)
Did you see the problem in dev.33?  Does it happen every time?  Is it dependent on the order of construction?

[2021-10-05 19:19] samreid opened #745 "Current travels through an open switch"
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/744

It seems order dependent, but I reproduced it in dev.31 through dev.33 by battery, bulb, switch, wire -> connect.

[2021-10-05 19:38] samreid commented on #745
I pushed a proposed fix and it seems to be testing OK.  @ariel-phet can you please verify in https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.34/phet/circuit-construction-kit-ac_en_phet.html ?  Please close if it seems OK.

[2021-10-05 19:39] samreid commented on #744
I addressed the "current travels through an open switch" issue in #745, and I published https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.34/phet/circuit-construction-kit-ac_en_phet.html.  That seemed straightforward, so I think testing on this issue can be unblocked.

[2021-10-06 16:14] ariel-phet commented on #745
So far this fix seems OK, closing and moving on to other testing

[2021-10-06 16:14] #745 closed

[2021-10-07 17:09] ariel-phet commented on #744
@samreid yes it is dev.34, and same result on firefox.

Try playing around with wire lengths (asymmetric wire lengths seem to be the most obvious)

[2021-10-07 20:04] samreid commented on #744
I tested dev.34 on my Win/Chrome 94.0.4606.71.  For the capacitor/ac source with varying wire lengths, it is running a smooth 60fps.

Looks equally speedy on my Win/Firefox 92.0.  So I will need help reproducing this performance degradation so I can investigate it further.

[2021-10-07 21:32] samreid commented on #147
@ariel-phet mentioned he saw this issue again during testing.  It was surprising that the electrons pause when dragging another connected circuit element.  We discussed reopening--perhaps with other model fixes we no longer need the workaround of relayout for the electrons on drag.  But on the other hand, it seemed like it wasn't causing much trouble.

Once the rest of the model is working, we can

[2021-10-07 21:34] #147 closed

[2021-10-08 02:57] samreid commented on #744
I was able to reproduce the problem on my Win/Chrome, mostly using the 3rd circuit in https://github.com/phetsims/circuit-construction-kit-common/issues/744#issuecomment-937946647.  Putting an AC source on the top component also makes the problem worse.  I added a commit that gives a new query parameter `minDT` which defaults to 1E-5.  I'm seeing that turning that up to 1E-3 the performance gets a

[2021-10-08 16:02] ariel-phet commented on #744
@samreid so far testing looks good, I played with the various cases I found problems with in dev.34 and all looks good now, and no  obvious performance issues. I also check some cases of parallel batteries, simple circuits, series and parallel resistors, short circuits, RC circuits, RLC circuits, and behavior is looking accurate.  I think things are stable enough now to go play with inductor value

[2021-10-08 17:21] samreid commented on #738
I haven't see this problem for a long time, I think it can be closed.

[2021-10-08 17:34] samreid opened #746 "Make sure the newly increased resistances don't disrupt readouts"
To improve the matrix conditioning in https://github.com/phetsims/circuit-construction-kit-common/issues/744, we increased the `batteryMinimumResistance` to 1E-4 and `wireResistivity` to 1E-10.  (Each increased by a factor of 100).  There is concern that this could show up in readouts, like current reading 8.99 instead of 9.0.

In https://github.com/phetsims/circuit-construction-kit-common/issues/

[2021-10-08 22:33] samreid commented on #746
No problem with a default high voltage battery (1000V) connected to a default resistor (10 Ω).

![image](https://user-images.githubusercontent.com/679486/136631274-515cff6d-f078-4486-aa7d-86c8aa3ab433.png)

Increasing the battery voltage and leaving the resistance the same, the first discrepancy occurs at 5060V:

![image](https://user-images.githubusercontent.com/679486/136631356-3fa4eaca-0076-492

[2021-10-09 22:15] ariel-phet commented on #590
I ran with the following parameters https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.35/phet/circuit-construction-kit-ac_en_phet.html?inductanceMin=0&inductanceMax=1&inductanceStep=.001&inductanceDefault=.1&inductorNumberDecimalPlaces=3

I was able to set the capacitance to 0.05 F, and the inductance to 0.126 H and then see several nice phenomenon
1. I could make a nice LC

[2021-10-09 22:17] ariel-phet commented on #744
I think it is appropriate to close this issue for the moment. The sim is stable enough for other testing. We can reopen if necessary.

[2021-10-09 22:17] #744 closed

[2021-10-11 04:06] #746 closed, assigned to arouinfar

[2021-10-11 17:42] samreid commented on #590
@arouinfar or @ariel-phet let me know if I can work on any parts of this before Thursday.

[2021-10-12 16:37] KatieWoe opened #747 "CT Should be empty before adding everything"
[code]

[2021-10-12 16:38] samreid commented on #747
This is being called from `PDOMDisplaysInfo`, @zepumph or @jessegreenberg can you please advise?

[2021-10-12 16:51] jessegreenberg commented on #747
I was able to hit this quickly by fuzzing the state circuit-construction-kit-ac in the state wrapper. The Node for PDOMDisplaysInfo is a StopwatchNode.
![image](https://user-images.githubusercontent.com/6396244/136997521-57666635-f2db-4eae-8479-6547eed78371.png)

[2021-10-12 16:53] zepumph commented on #747
But is it always that? Over in https://github.com/phetsims/greenhouse-effect/issues/46 we found that it could be many Nodes, it seems like it is something about dependency order when setting state in the PhET-iO state engine that I don't quite understand.

[2021-10-12 16:57] jessegreenberg commented on #747
No, sorry - I didn't mean to suggest it was always that. It does seem more general.

[2021-10-12 18:34] jessegreenberg commented on #684
Sounds good, I am going to move this to scenery. Currently I still suspect that an extension or user setting is modifying/disabling CSS.

[2021-10-12 19:34] samreid opened #748 "CCK-AC: Dev Testing"
This sim should be dev tested once the other milestone issues are complete.  According to @arouinfar, the other issues will need to be discussed in Thursday's design meeting, and the QA pipeline is full at the moment.

[2021-10-14 19:01] samreid opened #749 "Port to TypeScript"
After having a positive experience in porting bending-light to TypeScript in https://github.com/phetsims/bending-light/issues/401, it seems beneficial to port Circuit Construction Kit to TypeScript.  I was previously reluctant to do so, since AC was nearing publication and I didn't want to delay it at all.  However, we are awaiting some design decisions and QA, and I have a better understanding of

[2021-10-15 00:22] samreid commented on #749
Discovered bugs:

[code]

[2021-10-15 15:06] samreid commented on #720
At today's design meeting, we decided to close this and ask QA to keep their eyes peeled during dev testing.

[2021-10-15 15:06] #720 closed, assigned to stemilymill

[2021-10-15 15:21] KatieWoe opened #750 "CT cannot read properties of undefined"
[code]
and
[code]

[2021-10-15 15:46] samreid commented on #748
We thought the current QA queue is about a week out.  @ariel-phet volunteered to test a dev version.  I'll publish a dev version with fixes for https://github.com/phetsims/circuit-construction-kit-common/issues/590.

[2021-10-15 16:44] samreid commented on #590
In https://github.com/phetsims/circuit-construction-kit-common/issues/749#issuecomment-944434459 we discussed using TypeScript in this release.  So I would like to work on that more before giving @ariel-phet a version to test.  He said he could test starting next week so I'll aim for that.

[2021-10-18 04:15] samreid commented on #749
I'm at a good check-in point for the TypeScript work.  It's taken 16.5 hours (for 18668 LOC).  Things are generally in good shape.

* I was finding too many problems to write them all down, but I noted some here: https://github.com/phetsims/circuit-construction-kit-common/issues/749#issuecomment-943860478.  As far as I could tell, none were user-visible bugs, but all of them were maintainability c

[2021-10-18 04:30] samreid commented on #590
I published https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.36/phet/circuit-construction-kit-ac_en_phet.html for testing.  Please be aware it is written with a new language TypeScript, and minor adjustments have been made throughout the model and view (hopefully for the better, but bugs may have fallen through the cracks).  So please report any problems noted for this issu

[2021-10-19 03:13] ariel-phet opened #751 "Consider static "values" display for AC sources"
Whiles testing 1.0.0-dev.36 I noticed that the when the values checkbox is checked, the voltage value for the AC source fluctuates rapidly. I am not sure that is a very useful feature since it is difficult to tell the max and min values of the source by watching this readout. I also think this sort of fluctuating readout might become problematic with description in the future. I think it would be

[2021-10-19 03:17] ariel-phet opened #752 "Fuse not respecting threshold current for AC sources"
Found during https://github.com/phetsims/circuit-construction-kit-common/issues/748

In a simple AC circuit the fuse does not seem to be respecting its threshold value. For instance in the following example you will see that in the AC circuit that fuse should be a 1 A fuse, the current is being read above 1 A, but the fuse is intact. However for a battery putting out the same voltage as the peak v

[2021-10-19 03:20] ariel-phet opened #753 "Carousel spacing issues"
Found as part of https://github.com/phetsims/circuit-construction-kit-common/issues/748

The spacing of items in the carousel seems to be a bit unbalanced (and this issue is also obvious in the schematic view as shown below) Particularly between the paper clip and coin it feel like the negative space is fairly different than the other items

![Carousel](https://user-images.githubusercontent.com/40

[2021-10-19 03:32] ariel-phet opened #754 "Consider moving the battery to the second screen of the Carousel on RLC and Lab"
The carousel on the RLC and Lab screens feels a bit too packed, I wonder if we could move an item to the second page of the carousel. To me an obvious candidate is the battery, since the focus here is really AC circuits and although the battery can add some interesting contrast or allow for DC offsets, it might be fine to just put it on the second page of the carousel.

Currently on these screens

[2021-10-19 03:36] ariel-phet opened #755 "Add fuse to first screen"
I noticed in testing https://github.com/phetsims/circuit-construction-kit-common/issues/748 that a fuse is not included on the first screen. I can see many teachers using the first screen when discussing a topic like house wiring, so it seems like having a fuse available in the carousel would make sense (and there is room on the screens of the carousel to add this item).

I could also see some tea

[2021-10-19 03:45] ariel-phet opened #756 "Schematic view appears to have a slight offset when making readings"
Found as part of https://github.com/phetsims/circuit-construction-kit-common/issues/748

When making a reading (such as with the current meter) if you switch to the schematic view you will sometimes lose your reading and it will not be immediately obvious why. It seems that if a current is being read in the normal view, switching the views should not change anything. We cannot expect students to a

[2021-10-19 03:53] ariel-phet opened #757 "Ammeter reading "?" vs reading "0.000""
There seems to be a bit of inconsistency between when the ammeters read "?" or read "0.000"

The noncontact ammeter appears to read "0.000" in a circuit element whether that element is connected on both sides or not. The regular ammeter only appears to read "0.000" when both sides of it are connected to other elements and no current is flowing. it seems we should probably be consistent here.
![Amm

[2021-10-19 04:08] ariel-phet opened #758 "Bad voltage jitter in driven resonant circuit"
Seen as part of testing in https://github.com/phetsims/circuit-construction-kit-common/issues/748

In the driven resonant circuit seen below, I was getting some nasty jitter in the voltage readout, but the current readout is clean.

Capacitance 0.10 F
Inductance 0.253 H
Resistance 40 Ohm
AC source 100 V and 1 Hz

These values of capacitance and inductance were initially chosen to set up a natural

[2021-10-19 04:27] ariel-phet opened #759 "With DC offsets readings on current and voltage chart can appear blank"
If you set up an AC circuit with a sufficient DC offset the current and voltage charts can appear blank at their default zoom. It seems we should have some way to indicate to the user that the reading is off-scale or potentially consider autoscaling in the case where no readout is being shown.  Here is an example:

https://user-images.githubusercontent.com/4051174/137843865-7bc34132-fa41-4ea4-868c

[2021-10-19 16:08] KatieWoe opened #760 "CT there should be at least as many PDOMDisplays as Displays"
[code]

[2021-10-19 21:12] arouinfar commented on #757
@ariel-phet the `?` is displayed when a meter isn't properly connected. I don't think it's meant to be an indication of whether or not the circuit is complete. Once the probes/vertices are in a valid location to take a measurement, the display switches from `?` to `0.000 A` (assuming there isn't any current flowing).

The in-line ammeter must be connected at both ends, similar to a voltmeter. In e

[2021-10-19 22:40] arouinfar commented on #759
Thanks @ariel-phet. I've definitely run into situations where it took me a bit to realize that I had off-scale data. I would personally love it if these graphs would autoscale. Autoscale would have the added benefit of removing the zoom buttons and trimming the tool body down a bit. However, it's probably more complicated than we want right now.

An alternative would be to display a message like "

[2021-10-19 22:59] arouinfar commented on #751
I really like this idea @ariel-phet. I have found myself opening the edit panel to confirm the max/min voltage of the AC source, and it can be a bit inconvenient. I believe this matches the Java behavior, so I would want to discuss it with the team before making the change. Let's discuss at design meeting.

[2021-10-20 02:00] samreid commented on #750
I pushed a fix that corrects the problem locally.  Closing until next time!

[2021-10-20 02:00] #750 closed, assigned to samreid

[2021-10-20 02:08] samreid commented on #752
I was able to reproduce the problem by decreasing the resistance by 0.1, like @ariel-phet recommended (in a circuit with 40V AC source, 4.0 A fuse and 9.9 Ohm resistor).  In https://github.com/phetsims/circuit-construction-kit-common/issues/466#issuecomment-483425506 we made it so the current threshold has to be exceeded for 0.1 seconds to trip the fuse.  @arouinfar and @ariel-phet can you please

[2021-10-20 02:35] samreid commented on #757
I can change the inline ammeter with a patch like this:

[code]

Some questions.  First, the `questionMarkString` is internationalizable, but MathSymbols.NO_VALUE is not.  Is that OK to make it non-translatable?  Second: `questionMarkString` is used in these places:

* SeriesAmmeter
* Regular Ammeter
* Voltmeter
* ProbeTextNode (which is used in ammeter and voltmeter)

Should all of them be change

[2021-10-20 02:49] samreid commented on #758
I experimented with reducing the MIN_DT and ERROR_THRESHOLD in TimestepSubdivisions.ts.  However, reducing it lower and lower wrecked the performance before the curve smoothed out appreciably.  This is an emergent behavior from our solver and I'm not sure how to investigate it next.  @arouinfar or @ariel-phet can you brainstorm ideas where to look?

[2021-10-20 04:51] samreid commented on #758
This case is not a problem for Java.  I edited the Java to take the inductor below its default of 10, set up the same characteristics and it did OK.  But it did print out "Time step too small" over and over:

![image](https://user-images.githubusercontent.com/679486/138030175-b9a06371-efb4-4fdd-ad01-a0ddbe2fb352.png)

[2021-10-20 18:26] samreid commented on #755
Fixed, but waiting until code stabilizes from other issues to make a dev version.

[2021-10-20 19:14] samreid opened #761 "Testing for chart probe location regressions"
During https://github.com/phetsims/phet-io/issues/1827 I had to change the implementation of the chart problem locations to support phet-io.  We just need a spot test to make sure there is no regression in the behavior.  I'll publish a development version shortly.

[2021-10-20 19:18] samreid commented on #755
Here's a dev version we can use for testing this: https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.37/phet/circuit-construction-kit-ac_en_phet.html

Please note #761 which should also be checked before using this version with interviewees.

[2021-10-21 00:52] ariel-phet commented on #752
@samreid investigating a bit further, the problem seems easiest to produce with the following steps:

Make the following simple circuit
Default 10 Ohm bulb
1 Amp fuse
11 V source at 2.0 Hz

The fuse does not blow for me. Pausing  the sim and using the step button I can easily capture a current above 1 A. If just continuing to step I can actually go up to 12 V, but if I play the sim the fuse blows.

[2021-10-21 05:16] samreid commented on #756
It sounds like you are proposing that the schematic wires would have the same thickness as the lifelike view?  Just naively changing that wire width (but not of other circuit elements) to see what it would look like:

![image](https://user-images.githubusercontent.com/679486/138215534-e5ef942e-25bc-448d-9d32-f3b716085f82.png)

And here's changing the lifelike view to match the schematic dimension.

[2021-10-22 01:42] samreid commented on #758
At today's design meeting, we saw that the jitter was only in the voltage across the inductor and not across any of the other components, or in any of the currents.  @ariel-phet and I scheduled a meeting to take a closer look.

[2021-10-22 04:15] samreid opened #762 "ModifiedNodalAnalysisCircuitElement is too general"
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/758, it has a placeholder for `value` but that gets overloaded by voltage, resistance and current.  It's very confusing.

[2021-10-23 14:54] samreid opened #763 "Resonance not occurring at right frequencies"
In slack, Isam said:

[2021-10-23 15:49] samreid opened #764 "Linear transient analysis model improvements"
During discussion in https://github.com/phetsims/circuit-construction-kit-common/issues/758 I decided to recommend significant model improvements.  This can be through a rewrite, but may be possible through progressive changes.  This part of the model is around 2000 lines of code.  It is complicated but not that much code.  Here are some problems that should be addressed:

* The code is split up i

[2021-10-23 17:12] samreid opened #765 "The real bulb code looks buggy"
From https://github.com/phetsims/circuit-construction-kit-common/issues/764, it looks like it is always setting the resistance to 1.0 no matter what.  Either something else is at play, or this is very buggy.

[code]

[2021-10-24 21:10] zepumph opened #766 "Check on compile error I fixed"
@samreid, while messing with some things in the main phet-types file, I found and fixed this compile error. Please review once I have committed my changes, on hold until then.

[2021-10-25 15:21] KatieWoe opened #767 "CT should be a fixed length circuit element"
[code]

[2021-10-25 22:16] #766 closed, assigned to samreid

[2021-10-26 05:21] #764 closed, assigned to samreid

[2021-10-27 16:39] #765 closed, assigned to ariel-phet

[2021-10-27 23:41] ariel-phet opened #768 "Overlapping electrons seen with parallel batteries"
It is pretty easy with a setup of parallel batteries and resistors to see some slightly odd behavior our of the electrons. You can get cases where the electrons appear to overlap for a bit and then one sort of slingshots away. This can lead to some uneven spacing conditions at times. Definitely not a showstopper, but worth being aware of.

Observed during testing of https://phet-dev.colorado.edu/h

[2021-10-28 15:50] ariel-phet opened #769 "Connecting a capacitor in parallel to other capacitors cause severe visual jitter"
In the simple DC circuit shown below, when the parallel capacitor is connected to the circuit a pretty severe visual jitter occurs that eventually settles down. However, this situation should be very stable, we should investigate the source of this instability. The video does not quite show how bad the jitter actually appears.

Observed while testing https://phet-dev.colorado.edu/html/circuit-cons

[2021-10-29 20:04] arouinfar commented on #768
The electron overlap is particularly noticeable in https://github.com/phetsims/circuit-construction-kit-common/issues/768#issue-1037948250, but it can happen at any parallel junction. The issue is that electrons don't get sorted into their new branch until their center reaches the center of the vertex. As electrons merge or are sorted into branches, they will accelerate to match up with the new sp

[2021-10-29 20:04] #768 closed

[2021-10-29 20:06] arouinfar commented on #761
@samreid I'm not seeing any issues in dev.37 or master, closing.

[2021-10-29 20:06] #761 closed

[2021-10-30 03:32] samreid commented on #769
I was able to reproduce the problem, and also confirmed that it does not happen in Java.  Java does show a sudden spike, but it damps out quickly.  The critical difference seems to be the resistance in the wires.  A default length wire in Java has a resistance of 1.5E-4 Ohms.  A default length wire in HTML5 has a resistance of 1.2E-8 Ohms.  To test the hypothesis that increasing the resistance wou

[2021-10-30 14:52] samreid commented on #769
To help understand the nature of the problem, I ran the following experiment.
* Set the HTML capacitor internal resistance to 0 (was previously 1E-6) so the problem is at its worst.
* Decrease timestep min dt from 1E-3 to 1E-6
* Decrease timestep error threshold from 1E-5 to 1E-6.

I observed that this corrects the spiking oscillatory behavior in the circuit, for both the DC case and the AC case,

[2021-10-30 22:36] ariel-phet commented on #570
So far in my testing I think we are safe closing this issue. Considering this behavior matches Java and does not seem to be causing bugs, I think we are good to go.

[2021-10-30 22:36] #570 closed

[2021-10-31 17:14] ariel-phet opened #770 "Bugs with "paused" condition"
Observed while testing https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.41/phet/circuit-construction-kit-ac_en_phet.html

While checking resonant circuits with inductors in parallel I saw the following very odd behavior (easily repeatable). This behavior also occurs with a single inductor, but two inductors in parallel make the behavior more dramatic.

Steps to reproduce:

[2021-11-01 14:55] samreid commented on #770
Good discovery @ariel-phet.  I believe this is caused by our decision in https://github.com/phetsims/circuit-construction-kit-common/issues/572 to simulate updates while paused by running the model with a tiny dt:

[code]

However, we limit how low dt can go in the model TimestepSubdivisions, so these ideas are at odds--it's still running the model at larger dt.  We previously investigated other m

[2021-11-01 15:41] samreid opened #771 "Should adjacent inductors have a constrained z-order?"
Discovered during #770, I saw the z-order of adjacent inductors making an incorrect 3d effect:

![image](https://user-images.githubusercontent.com/679486/139698833-b07bd292-f443-4363-aeb9-fd310faf2968.png)

I'm not sure how difficult this would be to fix, and I also don't think it would be pedagogically problematic, but I thought I'd run it past you to see if it warrants effort.

[2021-11-01 15:46] samreid commented on #770
I tested the "UPDATE 2" approach and it seemed OK in testing, so I published a dev version with that idea.  @ariel-phet can you please review in https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.42/phet/circuit-construction-kit-ac_en_phet.html

[2021-11-01 23:14] samreid commented on #756
I expanded the hit area for capacitor to the highlighted region, it seems to match OK with the lifelike view:

![image](https://user-images.githubusercontent.com/679486/139754145-68d9842e-d40b-4030-8879-17936e0bb75c.png)

[2021-11-02 01:12] samreid commented on #756
The pointer area for the fuse was shifted, and it was throwing off the results.  I corrected that, and set it to use the full bounds for schematic mode.  Both errors seem to be corrected, I'll create a dev version for review.

[2021-11-02 01:16] samreid commented on #756
@ariel-phet can you please test in https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.43/phet/circuit-construction-kit-ac_en_phet.html

[2021-11-02 01:23] samreid commented on #760
I added the sims to phet-io-state-unsupported for now, self-unassigning until there is progress in https://github.com/phetsims/scenery/issues/1312

[2021-11-02 19:41] ariel-phet commented on #756
@samreid I tested 1.0.0-dev.43 with a range of components. I think things are looking pretty good, closing

[2021-11-02 19:41] #756 closed

[2021-11-03 13:50] issamali67 commented on #763
Apologies to re-open this. There is a 50 H inductor (just to check that my eyes are not fooling me, I showed it to my son and it is 50!). This is the default value I get in the prototype. Once I realized that its value is a variable, I played with it and found that the minimum is 10 H. Few comments (based on me teaching college students):

(1) I changed the values of L and C so that I get the larg

[2021-11-03 15:51] arouinfar commented on #763
@issamali67 the publically-available prototype is very old and frankly buggy. Can you try out the latest dev version instead? https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.43/phet/circuit-construction-kit-ac_en_phet.html

[2021-11-03 16:14] arouinfar commented on #771
That screenshot definitely looks a bit weird @samreid, but I'm hesitant to suggest special-case z-ordering. There are other instances of odd-looking z-ordering because we chose simplicity in https://github.com/phetsims/circuit-construction-kit-common/issues/319 (wires under solder under other components).
<img src="https://user-images.githubusercontent.com/8419308/140099015-ff0b6bde-241b-495b-baa2

[2021-11-04 11:34] issamali67 commented on #763
Thanks. Will do.

[2021-11-04 17:12] ariel-phet commented on #770
@samreid I am still seeing some issues.

Building a resonant circuit similar to the one above

1. Set up a resonant LC circuit as shown in the video
2. Charge the capacitor (using switch connected to the battery)
3. Isolate the capacitor (open the switch connected to the battery)
4. Get the resonant circuit going (close the switch for the LC circuit)
5. Pause the sim
6. Open the LC circuit switch,

[2021-11-04 17:29] ariel-phet commented on #758
@samreid I have not seen any jitter in this kind of circuit in 1.0.0-dev.43 during testin.

Before closing the issue, we might want QA to check performance of a circuit like this on a Chromebook

[2021-11-04 17:36] ariel-phet commented on #769
Marking for discussion at design meeting

[2021-11-04 20:56] samreid commented on #770
We'll move the above problem to a new issue, it seems this issue can be closed.

[2021-11-04 20:58] samreid opened #772 "Model freezing in circuit with inductor and capacitor"
In https://github.com/phetsims/circuit-construction-kit-common/issues/770#issuecomment-961247642 @ariel-phet reported

@samreid I am still seeing some issues in 1.0.0-dev.43

Building a resonant circuit similar to the one above

1. Set up a resonant LC circuit as shown in the video
2. Charge the capacitor (using switch connected to the battery)
3. Isolate the capacitor (open the switch connected t

[2021-11-04 20:58] samreid commented on #770
New issue opened, closing.

[2021-11-04 21:17] samreid commented on #769
At today's design meeting, @arouinfar confirmed that `?capacitorResistance=1E-4` eliminates the "enveloping" problem seen above.  We are concerned that it could disrupt time constant calculations if this resistance is too high.

@ariel-phet will investigate with testing `?capacitorResistance=1E-4` in the latest dev version.

For reference, we added the capacitor resistance in https://github.com/ph

[2021-11-04 21:26] samreid commented on #759
Today, we decided that if all of the data is 100% out of range, we will show a message "Data out of range".  We like the red text because it pops and kind of indicates an error.

[2021-11-04 21:28] samreid commented on #758
I can test on my son's school-issued chromebook, but I'll probably do so with capacitorResistance=1E-4 since we are considering that for https://github.com/phetsims/circuit-construction-kit-common/issues/769#issuecomment-961431451

[2021-11-04 21:37] samreid commented on #754
We agreed the components on the carousel 1st page are convenient to have access to all of them.  Perhaps when we fine tune the carousel in #753 this problem will be reduced.  We agreed this can be closed for now.

[2021-11-04 21:37] #754 closed

[2021-11-04 21:44] samreid commented on #751
We discussed whether this would show an inconsistent value for case where you see a changing current:

![image](https://user-images.githubusercontent.com/679486/140424187-240325f1-6ff2-433c-9e30-8f6a946946d7.png)

KP: For the student that doesn't understand the AC circuit, it makes it clear that it doesn't stay put.  You don't need a chart, it is easy to visualize that it is changing.  So it helps

[2021-11-04 21:44] #751 closed

[2021-11-04 22:02] samreid commented on #606
We discussed that since we now have current charts and worked out the current signs, we can leverage this for the numeric circuit value readout.  We would like to add a query parameter and phet button => options feature for this.  This would be for the in-line ammeter, and probe ammeter.  Reversing the in-line ammeter should not negate the value.

The query parameter will be: `?ammeterReadout=sign

[2021-11-04 22:06] samreid commented on #770
We just saw a capacitor charge while the sim was paused.

[2021-11-04 22:15] samreid commented on #714
@arouinfar reported 2 interviews with upper-level students.  They made low-pass and high-pass filters, AC-to-DC converters.  Nobody checked resonant behavior in these interviews.  2nd interview made connections between charged capacitors and batteries.  Observing current in a battery/resistor circuit with inductor.  Both intuitively used delete key without instruction.  Would be nice to select mul

[2021-11-04 22:16] #714 closed

[2021-11-04 22:25] samreid opened #773 "Add unit tests for parallel capacitors, and another for parallel inductors"
Add unit tests for parallel capacitors, and another for parallel inductors

[2021-11-05 06:54] issamali67 commented on #763
I looked at this latest prototype. I like this sim.
Here are few comments:

(1) You do not need L up to 4 significant figures. Your resonance frequency is within 0.1 Hz accuracy.
(2) Same for input voltage, R and C. I think 2 significant figures should be enough.
(3) I checked the "RLC" tab and set both L and C values at their smallest (C = 0.05 F, L  = 0.1 H). In this case f_resonance = 2.25 Hz,

[2021-11-06 21:49] samreid commented on #606
I added the "signed" form for the ammeter, and basic tests seem to be working correctly.  I noticed that the inline ammeter and ammeter probe were using slightly different code, so I unified them to use the same code.  For testing:

* Try the query parameters `?ammeterReadout=signed` and `?ammeterReadout=magnitude`
* Try changing this value from the options menu
* Create circuits and make sure the

[2021-11-07 03:29] samreid commented on #759
Implemented and ready for testing in next verison.

[2021-11-07 03:49] samreid commented on #771
Fixed and ready for review in next dev version.

[2021-11-07 23:17] arouinfar commented on #771
It looks really nice @samreid!

[2021-11-07 23:55] arouinfar commented on #759
@samreid this is generally looking good, but I noticed an inconsistency when the value is null vs. zero.

Steps to reproduce:
1. Build a simple circuit with 120 V battery and 120 ohm resistor.
2. Measure voltage and current with the chart tools. "Data out of range" message will appear, as expected.
3. Remove probe so that reading is zero. "Data out of range" persists but the dot has returned to ze

[2021-11-08 03:29] ariel-phet opened #774 "Perpetual Current possible with Parallel inductors"
I have seen several cases of this issue in my testing (basically seeing some kind of perpetual current in parallel inductors), but here is the way I was able to reliably reproduce it.

Possibly related to https://github.com/phetsims/circuit-construction-kit-common/issues/772

I was using testing link https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.45/phet/circuit-construct

[2021-11-08 03:30] ariel-phet commented on #772
Need to test this with @ariel-phet will investigate with testing ?capacitorResistance=1E-4 in the latest dev version.

[2021-11-08 03:32] ariel-phet commented on #769
I tested 1.0.0-dev.45 with '?capacitorResistance=1E-4' and this issue appears to be resolved.

[2021-11-08 03:32] #769 closed

[2021-11-08 04:12] samreid commented on #758
Testing the resonant circuit in the top comment with dev.45 looks fine on the lenovo 300e chromebook. Despite the graininess of this video the motion seemed smooth and speedy.

![Kapture 2021-11-07 at 21 04 05](https://user-images.githubusercontent.com/679486/140682647-69bd8499-6536-4964-a6b4-ab78dd7af3ce.gif)

Running with ?capacitorResistance=1E-4 seemed about the same.  I compared sim time to w

[2021-11-08 04:15] samreid commented on #769
Thanks, I changed the default to be 1E-4.

[2021-11-08 15:41] samreid commented on #759
I adjusted the logic so that the message won't appear when the pen is showing at y=0.  Will be ready for review in next dev version.

[2021-11-08 15:47] samreid commented on #771
Thanks, closing.

[2021-11-08 15:47] #771 closed

[2021-11-08 15:50] samreid commented on #770
During the design meeting, we all observed a capacitor charge while the sim was paused.  However, I'm having difficulty reproducing the problem (testing in master).  I tested a number of simple circuits with capacitors as well as cases like https://github.com/phetsims/circuit-construction-kit-common/issues/770#issuecomment-961247642.  I'll ask for help reproducing this bug in the next dev version.

[2021-11-08 16:43] samreid commented on #773
I added all the tests and it seems to be working OK.  Parallel inductors had errors for some random values of inductance, but I relaxed the error criterion from 0.01 A to 0.05 A and perhaps it is good enough.  I think turning down the dt would have a similar effect, but I've changed dt to be fixed at 1/60 to match other constraints.  Closing.

[2021-11-08 16:43] #773 closed

[2021-11-08 17:09] ariel-phet commented on #772
@samreid I tried reproducing this bug using https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.45/phet/circuit-construction-kit-ac_en_phet.html?capacitorResistance=1E-4

With that dev version and capacitor resistance the bug does not appear, however, if I try 1.0.0-dev.45 without the `?capacitorResistance=1E-4` the bug is easily reproduced.

In my testing adding this capacito

[2021-11-08 19:58] samreid commented on #772
Thanks, I adjusted the capacitor resistance to 1E-4 in https://github.com/phetsims/circuit-construction-kit-common/issues/769.  Leaving self-assigned to create a dev version for double checking.

[2021-11-08 20:42] samreid commented on #770
@arouinfar or @ariel-phet can you figure out a way to get the sim to run or a capacitor to charge while paused in version?  https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.46/phet/circuit-construction-kit-ac_en_phet.html

[2021-11-08 20:44] samreid commented on #759
@arouinfar can you please test in this version? https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.46/phet/circuit-construction-kit-ac_en_phet.html

[2021-11-08 21:04] samreid commented on #774
Can you speculate about the cause of this problem?  Does increasing the inductance mitigate the problem?  Do we need to add a rule for when to clear inductor internal state?  Right now, inductors are cleared at the end of any time step in which both the start and end vertex have 0 adjacent circuit elements with current >1E-4.

[2021-11-08 21:25] ariel-phet commented on #774
@samreid, do inductors have a minimum internal resistance (like capacitors which we just raised). I could see some funky behavior potentially being linked to inductors having too low of a default resistance.

[2021-11-08 23:09] samreid commented on #774
Currently, capacitors have an internal resistance of 1E-4, but inductors do not have any internal resistance.  Should we try adding that?

[2021-11-09 00:31] arouinfar commented on #774
@samreid yes, let's try adding internal resistance to the inductors. I'm not certain what the value should be, but we could start with a value that matches batteries (1E-6) or capacitors (1E-4). Can you hook it up to a query parameter?

[2021-11-09 01:57] samreid commented on #774
Following the pattern established with capacitor internal resistance, I added inductor internal resistance and it can be tested in this dev version:  https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.47/phet/circuit-construction-kit-ac_en_phet.html.  @arouinfar and @ariel-phet please test with a few values of `?inductorResistance` such as `?inductorResistance=10` to sanity t

[2021-11-09 02:01] samreid commented on #772
The proposed inductorResistance in https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.47/phet/circuit-construction-kit-ac_en_phet.html for https://github.com/phetsims/circuit-construction-kit-common/issues/774 doesn't help, however running with a profiler indicates the time is spent drawing too many charges on the capacitor:

![image](https://user-images.githubusercontent.com

[2021-11-09 02:10] samreid commented on #772
Putting a 0.2 ohm resistor in series seems to help.  Also, in the worst case, it was trying to render 60,000 plus signs and another 60,000 minus signs.  I should limit that max.

[2021-11-09 02:25] samreid commented on #772
I hypothesized that in the step, there was an unusual `dt` going to the model, but I only saw the expected values:

![image](https://user-images.githubusercontent.com/679486/140850086-fa3b2ce7-96de-45a8-bffe-78eb2d8bbab2.png)

But perhaps running the model with that tiny `dt` spikes the capacitor charge.

[2021-11-09 02:29] samreid commented on #772
There is a bit of a spike in the inductor values:

![image](https://user-images.githubusercontent.com/679486/140850645-bde5ff4c-dfb4-4b0a-8024-b7aa71b35d36.png)

This is because:

[code]

And we are dividing by `5E-13`.

So I'm not sure how to proceed on this model part, but at least I can fix the performance by reducing the max number of charges that can be rendered.

[2021-11-09 19:58] samreid commented on #748
We will proceed with dev testing in https://github.com/phetsims/qa/issues/736

[2021-11-09 19:58] #748 closed

[2021-11-09 20:04] samreid commented on #606
UPDATE: Please test in the newer version: https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.48/phet/circuit-construction-kit-ac_all_phet.html

[2021-11-09 20:46] samreid opened #775 "Memory leak"
In https://github.com/phetsims/qa/issues/736#issuecomment-964526145 @KatieWoe said:

<img width="344" alt="memtest" src="https://user-images.githubusercontent.com/41024075/141001192-892fc4be-1001-4d43-9811-3ac14e4080c2.png">

[2021-11-09 20:46] samreid commented on #775
@KatieWoe was that in PhET brand or PhET-iO brand?

[2021-11-09 20:47] KatieWoe commented on #775
This was PhET brand

[2021-11-09 21:45] KatieWoe opened #776 "Charge not conserved in disconnected capacitor"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/736
When the capacitor is disconnected from a circuit, or only connected on one end, changing capacitance should not change the charge on a plate.

**Visuals**
![incorectcharge](https://user-images.githubusercontent.com/41024075/141009898-5b66f531-cfef-43be-a5b3-9ff

[2021-11-09 22:02] KatieWoe commented on #770
I'm seeing this fairly easily in dev.48
![pausedcharge](https://user-images.githubusercontent.com/41024075/141012073-712315e9-e809-4def-b3ae-c4c11d09dbd7.gif)

[2021-11-09 22:17] Nancy-Salpepi commented on #770
For dev.48, I am also able to charge the capacitor while the sim is paused using the setup in https://github.com/phetsims/circuit-construction-kit-common/issues/770#issuecomment-961247642
![chargedcapacitor](https://user-images.githubusercontent.com/87318828/141013616-b06c81e4-b484-45ce-a6dc-0eca3d971667.gif)

[2021-11-10 00:06] arouinfar commented on #776
Charge should be conserved here, so changing C should result in a change in V (Q=CV). Instead, it looks like the sim is maintaining a constant V and adjusting Q instead.

[2021-11-10 17:29] ariel-phet commented on #774
@samreid I verified the query parameter is working as expected, however, this perpetual current still occurs using `inductorResistance=1E-3` which is already too high to be viable (you start to see that level of resistance damping out current in a resonant circuit)

The threshold appears to be `?inductorResistance=.1` to remove the unwanted behavior from occuring, so I think we will need to pursue

[2021-11-10 19:52] stemilymill commented on #772
For https://github.com/phetsims/qa/issues/736

I'm not sure if this is helpful but it seems related:

Several times I was able to freeze the sim in the manner shown in this video. You can still see the current still flowing here but the sim is not responsive to user input and eventually completely crashes.
This was taken with a very low frame rate, and I sped up the beginning (building the circuit

[2021-11-10 21:43] Nancy-Salpepi opened #777 "Dog Yelp sound absent in virtual lab"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/736

The dog usually makes a yelping sound when it experiences a large amount of current. This occurs in the AC version, but not in the standalone virtual lab. I wasn't sure if that was intentional or not. I noticed that the published versions of bot

[2021-11-11 02:17] ariel-phet commented on #770
@samreid see QA results above

[2021-11-11 17:17] arouinfar commented on #777
@samreid I don't see the tambo sound button in the navbar, so it looks like you haven't enabled audio in this sim.

[2021-11-11 19:47] stemilymill opened #778 "Opening and closing switch while paused causes current to jump from negative to positive"
For https://github.com/phetsims/qa/issues/736, also may be related to https://github.com/phetsims/circuit-construction-kit-common/issues/770.
When opening and closing a switch while sim is paused, current in one part of a circuit jumps to zero and back to the original value, but current in another part of a circuit jumps from its original (negative) value to zero and then to a positive value.

htt

[2021-11-11 19:50] KatieWoe commented on #778
I was able to reproduce this with a fairly simple circuit. If the current was positive when the switch turned off, it will be positive again when turned on and the curve looks smooth. If it was negative however, it is positive when turned back on.
![simplecircuitsignchange](https://user-images.githubusercontent.com/41024075/141359917-3e242419-3bfa-4edf-ba00-4e257af480b7.gif)

[2021-11-11 19:53] KatieWoe commented on #778
May be related to https://github.com/phetsims/circuit-construction-kit-common/issues/606

[2021-11-11 20:18] KatieWoe commented on #778
@samreid I also noticed that the sign the current reads depends on when the first ammeter was dragged out.
1. Build a circuit with a battery, lightbulb, and wires.
2. Pull out an ammeter and look at the current
3. Switch the battery around and observe the negative current.
4. Hit reset all
5. Build the circuit from step 3
6. Pull out the ammeter and observe

[2021-11-11 20:31] KatieWoe opened #779 "Phase shift doesn't work"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/736.
Changing the phase on the ac sources does not seem to shift their phase from any of the other sources. If watching on a current probe, a spike occurs as you move the control, but the current returns to it's previous wave with no phase shift.

**Visuals**
![noph

[2021-11-11 20:43] samreid commented on #776
We discussed this today, the rule we want to implement is: if the capacitor is not in a loop with any voltage source (including a 0 V battery), then it should follow the Q=CV rule, but only when the user is changing the capacitance.  Otherwise it follows the pre-existing rule.  The behavior in a loop with a voltage source already seems correct.

[2021-11-12 17:13] samreid commented on #775
For this playgound sim, I used the following strategy to memory leak test.

1. Start sim with ?fuzz and watch it fuzz about 10 seconds.  For a warm-up period.
2. Run `phet.chipper.queryParameters.fuzz=!phet.chipper.queryParameters.fuzz` to disable fuzzing
3. Navigate to each screen and press the reset all button.
4. Take a memory snapshot.
5. Run `phet.chipper.queryParameters.fuzz=!phet.chipper.qu

[2021-11-12 17:13] #775 closed

[2021-11-12 17:53] samreid commented on #776
This was not working correctly in Java either:

![Kapture 2021-11-12 at 10 52 27](https://user-images.githubusercontent.com/679486/141512414-014d8261-3266-439d-b180-3aa241028c5e.gif)

[2021-11-12 19:51] samreid commented on #776
I implemented a first draft in the commit.  Some notes:

* Since the only way the capacitance changes is through the user interface, there was no need for a "is it in a loop" guard.  Changing the capacitance for a capacitor in the loop appears (to me) to give reasonable behavior.  This should be verified.
* I change the voltage of the start and end vertex of the capacitor, and you can see the chan

[2021-11-12 19:59] samreid commented on #776
@arouinfar and I confirmed the value flowed throughout the circuit as desired.

[2021-11-12 20:53] samreid commented on #770
The sim is supposed to update while paused. For instance, consider this light bulb circuit:

![Kapture 2021-11-12 at 13 50 28](https://user-images.githubusercontent.com/679486/141532874-ade94218-174f-475c-9cc1-3c44f5a7583c.gif)

If the circuit was closed and the light bulb did not light, the sim would be in an inconsistent state and seem buggy.  Therefore we added a rule that would do a discrete u

[2021-11-12 20:59] samreid commented on #778
For https://github.com/phetsims/circuit-construction-kit-common/issues/778#issue-1051306559, I think the behavior is as expected, please see https://github.com/phetsims/circuit-construction-kit-common/issues/770#issuecomment-967534803

For https://github.com/phetsims/circuit-construction-kit-common/issues/778#issuecomment-966579897, there is a rule that the first reading from a completed circuit s

[2021-11-12 23:18] samreid commented on #779
In the gif above, you can see the two waves going out of phase:

![image](https://user-images.githubusercontent.com/679486/141594288-a3efd765-1027-42e1-92a8-31cc96317b6a.png)

Note the upper wave is headed down and the lower wave is headed up.  I tested and everything seems to be behaving as expected as far as I can see.  The spikes are not desirable but are a natural consequence of the sudden cha

[2021-11-12 23:33] samreid commented on #777
Fixed and will be ready for confirmation in the next dev version.

[2021-11-13 02:10] samreid commented on #774
I've watched the video several times, and what would be most helpful to me is a description of the behavior that is odd, and what the expected behavior is instead.  Is it something like this?

1. (at 13 seconds) Expected behavior: the current flows to the right through the inductors.  Actual behavior: the current flows to the left through the inductors
2. (at 25 seconds) Expected behavior: the cur

[2021-11-13 02:52] samreid commented on #772
I fixed the max number of charges problem in https://github.com/phetsims/scenery-phet/issues/713, but it seems we should still investigate the following:

(1) can we eliminate that inductor spike with low dt?
(2) Seeing if the previous comment was affected by the inductor spike, the capacitor charges, or something else?

[2021-11-15 13:31] Nancy-Salpepi commented on #770
Thanks for explaining @samreid. I do not see anything beyond the immediate update. I will leave this for @KatieWoe to comment/close.

[2021-11-15 16:37] KatieWoe commented on #770
I have not seen this so far. Closing. Will reopen if something comes up.

[2021-11-15 16:37] #770 closed

[2021-11-15 16:49] samreid commented on #772
I tested the circuit in https://github.com/phetsims/circuit-construction-kit-common/issues/772#issue-1045197327 and confirmed the problem is caused by the low values of dt, based on how we are simulating updates to the model when the sim is paused.  Currently PAUSED_DT is `5E-13` and that causes the inductor companion model values to spike, giving a 1E20 condition number for the matrix.  I did a b

[2021-11-15 16:51] samreid opened #780 "Model lag for inductor capacitor circuit"
In https://github.com/phetsims/circuit-construction-kit-common/issues/772#issuecomment-965690073 @stemilymill said:

For https://github.com/phetsims/qa/issues/736

I'm not sure if this is helpful but it seems related:

Several times I was able to freeze the sim in the manner shown in this video. You can still see the current still flowing here but the sim is not responsive to user input and eventu

[2021-11-15 17:19] samreid commented on #780
I found that increasing `?minDT` from the default value of `?minDT=1E-3` to `?minDT=1E-2` corrected this problem.  So it does seem like another occurrence of poor matrix conditioning in an LC circuit due to low dt values.  However, we tried to turn the `minDT` as low as we could in order to get accurate physics.  We recently turned up `minDT` because when it was too low we suffered from performanc

[2021-11-15 18:04] samreid commented on #779
In today's discussion, @arouinfar commented that the phase shift is working, and @arouinfar will make a note in the teacher tips that the spikes are a natural physical response.  We will open a side issue about changing the delta from 10 to 15.

[2021-11-15 18:04] samreid opened #781 "Make the phase shift delta 15 instead of 10"
From https://github.com/phetsims/circuit-construction-kit-common/issues/779, so we can get to values like 45 degrees.

[2021-11-15 18:06] samreid commented on #758
@arouinfar and I discussed this today.  Since it was smooth and speedy on the chromebook, and the time was internally consistent on the chromebook, this issue seems good to close.  It is ok running at 3:5 time.

[2021-11-15 18:08] samreid commented on #759
@arouinfar and I reviewed this today, and agreed the new behavior is good, closing.

[2021-11-15 18:08] #759 closed

[2021-11-15 18:17] samreid commented on #778
@arouinfar and I reviewed the 3 cases above and all the behavior seems to be expected.  @arouinfar will check the teacher tips to make sure it discusses that the initial currents are always positive (no matter the direction of the battery).  You will see the polarity flip if you flip the battery after connection, but not before.

[2021-11-15 18:21] KatieWoe commented on #778
@samreid this is what I'm seeing. I can get it to read negative first, but it might be explained by what you said in https://github.com/phetsims/circuit-construction-kit-common/issues/778#issuecomment-969187094
![contradiction](https://user-images.githubusercontent.com/41024075/141833792-2133db4c-09d9-46b6-a5e4-de7b787eee8d.gif)

[2021-11-15 18:34] samreid commented on #774
@arouinfar and I reviewed the circuit in question (with the inductor resistance of 1E-4) and we saw the perpetual motion in the inductor loop.  However, we inspected the current at runtime and found the current was dying off.  For instance, in one frame, the inductor had a current of `0.2982546789693879` and in the next frame it was `0.2982499213266419`, so it reduced by `0.000004757642745989443`

[2021-11-15 18:50] samreid commented on #772
@arouinfar and I discussed this today, and we agree that the 1E-6 paused dt seems like the most efficient solution.  I expressed concern that students may see values update while the sim is paused in that case, say, the current was 1.00 when paused, then later it reads 1.01 while paused.  @arouinfar thought that would be a rare and acceptable occurrence.  We also discussed the possibility of just