[2020-01-23 07:28] ariel-phet commented on #565
@samreid all is looking pretty good.

I think for this dev version I would comment out the "play area zoom buttons" - currently they overlap the schematic/realistic buttons in a way that looks broken. I know we are not really pixel polishing yet, but those zoom buttons are very noncritical if someone looks at the dev version, and I think it will look cleaner for this purpose, they can be put back

[2020-01-23 07:29] ariel-phet commented on #565
No need for @kathy-phet to review for this checkpoint, assigning back to @samreid

[2020-01-24 04:35] samreid opened #567 "branch: omit-mipmaps"
For https://github.com/phetsims/chipper/issues/840

[2020-01-24 14:24] samreid commented on #536
The ranges were updated in this version:
https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.9/phet/circuit-construction-kit-ac_en_phet.html

@arouinfar can review in the dev version, but I'll need to leave this self-assigned to help me to make sure the gridlines behave properly after I update the chart transforms.

[2020-01-24 14:25] samreid commented on #565
I addressed the 2 issues raised above and published a version here:
https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.9/phet/circuit-construction-kit-ac_en_phet.html

@ariel-phet and/or @arouinfar would you like to review?

[2020-01-24 15:08] samreid commented on #566
Fixed in the above commit, and adjusted tick marks accordingly.  This applies to both DC and AC sims, but does not affect the controls for, say, battery voltage or other circuit controls.

@arouinfar can you please review?

[2020-01-24 16:52] arouinfar commented on #566
Looks good @samreid, thanks!

I need to do a larger review for pixel polishing, and I plan to open an issue next week. I'll comment on the component edit controls there.

[2020-01-24 16:52] #566 closed

[2020-01-24 16:54] arouinfar commented on #536
I'm really liking the new zoom levels!

[2020-01-24 17:06] arouinfar commented on #536
On second thought... I identified ranges optimal for voltage, but didn't take current into account. Current values will generally be lower than the voltage values, so we may want to consider adding an additional level or two of zooming in, possibly [-0.5, 0.5]. This would be the only zoom level with decimal values, and ideally we could show the decimals here but not on other levels.

[2020-01-24 17:08] arouinfar commented on #565
@samreid dev.9 is looking good to me!

[2020-01-24 17:10] samreid commented on #565
Assigning to @kathy-phet so she is aware of dev.9.

[2020-01-30 06:17] ariel-phet commented on #426
I attempted to reproduce on my android phone, both loading CCK in the browser, and through our Android app.

I see no evidence of this bug existing now, and if it does exist, it would seem not only difficult to reproduce but also an unusual user interaction. Considering we have also heard no bug reports from users to this effect, I am fine with closing.

[2020-01-30 06:17] #426 closed

[2020-03-06 21:05] samreid opened #568 "Is it OK to have accessibility: true without a Keyboard Help Dialog?"
From https://github.com/phetsims/phet-io/issues/1457#issuecomment-595959777:

[2020-03-10 19:01] oliver-phet commented on #429
Another email received 3/10/2020:

[2020-03-13 14:22] oliver-phet commented on #509
Another suggestion into phethelp (forwarded by @kathy-phet)

[2020-03-16 16:40] arouinfar commented on #509
I've uploaded Etkina's LED labs referenced in https://github.com/phetsims/circuit-construction-kit-common/issues/509#issuecomment-598744343 to the [sim design folder](https://drive.google.com/drive/u/0/folders/1R5cWksG94t9sV07kUEue9uVxOI5kk5_A).

[2020-03-16 18:01] zepumph commented on #568
This is a question for a11y designers. So I'll assign to them.

@terracoda and @emily-phet, in Circuit Construction Kit there is a way to delete an element or circuit connection by clicking an icon. A PDOM related listener was also added to support using the "delete" key to achieve this. Does this warrant a keyboard help dialog? In pairing with @samreid I wasn't sure what the requirements were for

[2020-03-17 01:13] terracoda commented on #568
@zepumph, I think that listening for the delete key is a very good idea - a very intuitive shortcut. I can't be sure if their won't be a conflict with some screen reader software.

Is your question more about if we would want to add instructions about this to the keyboard shortcuts dialog?

[2020-03-17 02:35] zepumph commented on #568
Yes exactly. Since CCK (at least right now) doesn't have any other description or alternative input other than the delete key, I don't worry about the interference with AT. I am wondering if we need to add a keyboard help dialog for this single keyboard interaction.

[2020-03-17 03:59] emily-phet commented on #568
@zepumph - thoughts:
1) we don't have the bandwidth to participate in adding a keyboard dialog to CCK, so if a11y folks are needed, it needs to be deferred.
2) if a11y folks are not needed, then I think it's up to the CCK team if they think adding a keyboard shortcut key will support the needs of that sim.

[2020-03-17 10:36] terracoda commented on #568
@zepumph, I agree with @emily-phet, and for something so intuitive it is possible that putting it in the teacher tips could suffice if the team chooses not to make a shortcuts dialog.

[2020-03-17 16:48] KatieWoe opened #598 "Sound seems active, but none occurs in the sim"
**Test device**
Dell and Mac
**Operating System**
Win 10 and Mac 10.15
**Browser**
Chrome
**Problem description**
Found during https://github.com/phetsims/chipper/issues/840. Seen in both master and the two dev versions the the issue.
The tambo button for muting/unmuting the sound seems to be present in the nav bar of the sim, but I could find no instances of sound in the sim itself. If I'm just m

[2020-03-17 20:03] arouinfar commented on #568
This sim does not at all support alternative input (yet). I think adding a keyboard dialog could potentially cue that the sim has functionality that it does not, especially if the "`Tab` to get started" and "Basic Actions" sections of the dialog are required components.

We currently describe the delete interaction in the Teacher Tips:
![image](https://user-images.githubusercontent.com/8419308/768

[2020-03-17 20:10] zepumph commented on #568
Then I personally don't think that a help dialog is needed.

[2020-03-19 15:03] KatieWoe opened #569 "CT Cannot read property disposeCircuitElement of null"
Occurs in multiple CCK sims
[code]

[2020-03-25 17:10] kathy-phet opened #572 "New Feature: Add play/pause/step controls"
In working with the sim for a webinar, I really wanted to be able to pause the sim to do some quantitative analysis of the charge time of a capacitor in an RC circuit. With things constantly changing, this was not possible.

[2020-03-27 00:45] samreid commented on #568
@zepumph do we need to do anything else to close this issue?

[2020-03-27 02:02] zepumph commented on #568
I think we're good.

[2020-03-27 02:02] #568 closed

[2020-04-01 18:53] arouinfar opened #570 "infinite voltage in inductor when circuit is broken"
@samreid can you investigate this? This also happens in AC and DC RL circuits in both HTML5 and Java.

A user emailed phethelp:

**Test device**
Lenovo Notebook
**Operating System**
Win 10 64 bit
**Browser**
Mozilla Forefox
**Problem description**
Infinite voltage oscillation induced after breaking L circuit .
Same happends in AC circuit LAB
**Steps to reproduce**
Switch of the voltage and observe

[2020-04-02 19:18] arouinfar opened #571 "Edit panel pixel polishing"
Necessary to make room for the play/pause/step buttons in phetsims/circuit-construction-kit-ac#18.

- [x] Reduce slider track length to 130 px
- [x] Reduce slider thumb height to 20 px
- [x] Reduce the amount of space between the slider track and tweaker buttons (mockup has 15 px padding).
- [x] 25 px padding between UI elements
- [x] Center panel in the space between the carousel and right-side p

[2020-04-03 14:11] samreid commented on #571
It looks like the labels were lost in the transfer.

[2020-04-03 14:11] samreid commented on #572
It looks like the labels were lost in the transfer.

[2020-04-03 20:59] samreid commented on #571
After my first pass, it is looking like this:

![image](https://user-images.githubusercontent.com/679486/78404374-83df3900-75bb-11ea-8127-8d4e696e47ee.png)

[2020-04-03 21:01] samreid commented on #571
Is our prototype English-only?  It looks like this in stringTest=double:
![image](https://user-images.githubusercontent.com/679486/78404587-fc45fa00-75bb-11ea-9464-1212c80246c9.png)

[2020-04-03 21:05] samreid opened #573 "Stackoverflow error on stringTest=double"
Stackoverflow error on stringTest=double, discovered during https://github.com/phetsims/circuit-construction-kit-common/issues/571

[2020-04-03 21:16] samreid opened #574 "TimeControlPanel shouldn't show in DC sim"

[2020-04-03 21:17] samreid commented on #572
I published a dev version here and will request brief spot testing on slack
https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.10/phet/circuit-construction-kit-ac_en_phet.html

[2020-04-03 22:03] arouinfar commented on #572
@samreid I'm noticing several issues with the sim behavior. I think most of it stems from the circuit not instantaneously updating while paused. Stepping forward fixes all of the issues described below (except for the ResetAllButton).

* The TimeControlNode doesn't respond to the ResetAllButton. If the sim is reset while paused, it stays paused rather than returning to the startup state.

There ar

[2020-04-03 22:34] arouinfar commented on #572
@samreid I think the issue underpinning most of this is that the current doesn't update while paused. This can lead to all sort of buggy looking situations (many described above), including situations like this:

<img src="https://user-images.githubusercontent.com/8419308/78410085-9f047580-75c8-11ea-9e59-cda1301e91e6.png" width=200>

The Java version of the simulation also doesn't update the curre

[2020-04-03 23:26] samreid commented on #572
In slack I said:

@kathy-phet replied:

[2020-04-04 17:33] samreid commented on #572
The above commit changes the code so that if no acceptable minimum dt is discovered above the threshold, then it does not run the physics at all for that step.  I set the "paused" dt to 5E-13, which would accumulate 0.001 seconds over one year.  I tested for 10 minutes or so and did not see any obvious physics problems.  I did see it print out "nonlinear" a few times in the console, which indicate

[2020-04-05 18:10] samreid commented on #572
@kathy-phet said:

[2020-04-06 01:39] samreid opened #575 "Electrons aren't centered when wire is at an angle"
Electrons aren't centered when wire is at an angle

![image](https://user-images.githubusercontent.com/679486/78515978-2262ca00-7775-11ea-927e-2d3dbf120211.png)

[2020-04-06 01:46] mattpen commented on #572
1.0.0-dev.12 has been posted at https://phet.colorado.edu/sims/html/circuit-construction-kit-ac/latest/circuit-construction-kit-ac_en.html

[2020-04-06 04:28] samreid commented on #571
@arouinfar can you take a look at the current version and let me know what you recommend?

[2020-04-10 16:05] oliver-phet opened #576 "User suggestion: resistor values, multiple voltmeters"

[2020-04-10 16:25] arouinfar commented on #576
There is a list of typical values online, but they are typically 330, 470, 560, 820, 1000, 1200, 2200, 3300, etc...

At first, I thought the user's request would be addressed by directing them to use the tweaker buttons to edit the resistance. However, it seems that both the slider thumb and tweaker buttons also move in steps of 100 ohms! This makes the tweakers absolutely useless. Generally, they

[2020-04-10 16:32] arouinfar opened #577 "User suggestion: add high-R and high-V components to CCK: AC"
From https://github.com/phetsims/circuit-construction-kit-common/issues/576.

The resistance values will be addressed in #576. However, only CCK: DC has high-R and high-V components. High-R bulbs and resistors were a new addition in HTML5, but all Java flavors of CCK include high-V batteries. In the spirit of flexibility, I think we should include the high-R and high-V components in CCK: AC, thoug

[2020-04-24 15:59] oliver-phet opened #578 "User suggestion: RMS value"

[2020-04-29 23:08] arouinfar commented on #571
@samreid these changes look good in master.

Th prototype is English only, but we'll want to apply appropriate maxWidths to the strings so the panel doesn't expand. Back to you @samreid.

[2020-04-29 23:12] arouinfar commented on #572
@samreid the behavior in the updated prototype looks good to me. I was unable to reproduce any of the issues described in https://github.com/phetsims/circuit-construction-kit-common/issues/572#issuecomment-608708226.

That said, I think this is an issue that QA should test fairly aggressively in the next round of testing.

[2020-05-01 15:55] arouinfar commented on #578
From @kathy-phet:

MD has mentioned that it would be great to have an option on the voltage and current meters to have a switch labeled DC or AC. When in DC, it gives realtime voltage in AC it displays the RMS values of voltage and current. Or alternatively, make another tab where AC only, and use more real world AC values. At any rate, we should further discuss with Mike on feature ideas in this

[2020-05-01 18:39] arouinfar commented on #578
Looking through old phethelp emails, I found another request for RMS:

[2020-05-01 18:40] arouinfar commented on #577
I didn't find any other requests for this in my inbox, so unassigning myself.

[2020-05-04 18:26] arouinfar commented on #10
A user reached out to phethelp today with this message:

Their expectation was that the sim had non-Ohmic bulbs.

[2020-05-07 15:21] KatieWoe opened #579 "Report media task"
[code]

[2020-05-07 15:23] KatieWoe opened #580 "CT parent should not have child resistorNode"
In other CCK sims
[code]

[2020-05-07 15:59] pixelzoom commented on #580
BAA has a similar problem (see https://github.com/phetsims/build-an-atom/issues/215), maybe they have something in common.

[2020-05-11 18:41] pixelzoom opened #581 "documentation of query parameters"
Related to https://github.com/phetsims/aqua/issues/91.

In CCKCQueryParameters.js and CCKACQueryParameters.js, there is no indication that any of the query parameters are public-facing (no use of `public` field in schema), and some query parameters are not even documented.

[2020-05-12 22:32] samreid commented on #429
Here is a screen capture of the changes committed by @issamali67 above:

![image](https://user-images.githubusercontent.com/679486/81751833-77c58180-946d-11ea-8209-ff220bf6f360.png)

This looks really great.  My main recommendation after reading the commits would be to add code comments that express what is happening in each phase.  For instance, the originalBulbShape has code comments like so:

[

[2020-05-12 22:54] arouinfar commented on #429
@samreid @issam67 this is looking nice!

To be clear, the IEC light bulb should have the same wire pattern as the IEEE bulb so the current animation stays aligned.

[2020-05-12 22:55] samreid commented on #429
I agree, I'll add that on integration.

[2020-05-12 23:55] issamali67 commented on #429
Ok. Will work on this. I am currently out running some errands so will do
this later tonight.

Isam

On Tue, May 12, 2020, 4:33 PM Sam Reid <notifications@github.com> wrote:

[2020-05-18 21:38] oliver-phet commented on #151
Another user email about this:

I am working with the Circuit Builder DC lab with 30 minute class sessions. What I would like to do is have a simple, series, and parallel circuit already made that students could use for an inquiry setup about the brightness current and voltage. They would then modify the circuits as they do the activity. With such a short class, I don't want them to have to spend

[2020-05-24 19:42] samreid commented on #569
I pushed a proposed fix and will see what CT says.

[2020-05-24 20:23] samreid commented on #569
CT is green for these shas, closing.

[2020-05-24 20:23] #569 closed

[2020-05-29 16:52] samreid commented on #579
This is passing now in master, closing.

[2020-06-15 17:43] KatieWoe opened #582 "CT should not have listeners when a pointer is disposed"
In the different cck sims:
[code]

[2020-06-16 16:13] samreid opened #583 "CCK AC does not behave correctly with battery RC circuit and discharging switch across capacitor."
MD: I built an RC circuit with a battery and a switch. The behavior is correct. See attached pic1, CorrectBehavior.  But when I add a switch across the capacitor, and close the switch the capacitor should discharge. It does not. See attache pic 2, NOT correct behavior.

He said he could use a fix for this in 3 weeks for classroom usage.

I did not receive screenshots with the email report.  Is thi

[2020-06-17 16:47] kathy-phet commented on #583
This is indeed high priority to fix. It's a very significant physics bug. Please go ahead and look into its cause.

[2020-06-17 16:49] kathy-phet commented on #583
Here are the pictures from Mike D:
![DCRCCrktCorrectBehavior](https://user-images.githubusercontent.com/5096804/84926123-27eb6300-b088-11ea-893a-707ec9089423.PNG)
![DCRCCrktNOTCorrectBehavior](https://user-images.githubusercontent.com/5096804/84926133-2ae65380-b088-11ea-9dc6-9281a825660a.PNG)

[2020-06-22 18:05] samreid opened #584 "Buggy behavior when cutting a vertex"
Discovered during #583 when cutting a vertex, there is buggy behavior like this:

![image](https://user-images.githubusercontent.com/679486/85320617-93ff0a00-b480-11ea-83af-234299380dca.png)

[2020-06-22 18:20] samreid commented on #584
This bug was introduced in https://github.com/phetsims/circuit-construction-kit-common/commit/210c48dba2e79c0e97ef90c916d8680f1ce74834, I wiill push a fix shortly.

[2020-06-22 18:21] samreid commented on #584
Fixed, closing.

[2020-06-22 18:21] #584 closed

[2020-06-22 18:36] samreid commented on #583
Observations during investigation:
1. The same problem can be triggered by adding a battery in series with a capacitor and plain wires (no resistance).
2. This problem can be seen in master and on the published prototoype.
3. The default wire resistivity is 1.68e-8 Ohms.  Turning this up to 0.0007641532709788131 eliminates the problem, but shows higher resistance than we want.
4. The default minim

[2020-06-22 18:57] kathy-phet commented on #583
Can you find a dev version where this works? We did that tweaking around making sure the lightbulb did not light when things were shorted, and I'm wondering if that is causing this issue.

[2020-06-22 19:29] samreid commented on #583
Dev.2 works OK
Dev.6 works OK
Dev.9 works OK
Dev.10 works OK
Dev.11 has the correct behavior but takes a long time to run (sometimes >10 seconds)
Dev.12 broken

[2020-06-22 19:59] samreid commented on #583
Here's a patch that restores this behavior.  It is still to-be-determined whether all parts of the patch are necessary, and what problems they will re-introduce:

[code]

[2020-06-22 20:27] samreid commented on #583
I don't recall the reasoning behind skipping the nonlinear steps, but applying the patch above together with other fixes from https://github.com/phetsims/circuit-construction-kit-common/issues/572 still seems reasonable, but we probably need a way to have a smaller DT when the sim is paused so it doesn't accumulate time too fast.

[2020-06-22 20:35] kathy-phet commented on #583
Sam - Can you comment on things that might break because of this patch? So @ariel-phet and @arouinfar can keep an eye out for behavior?

[2020-06-22 21:27] samreid commented on #583
The main changes in the commits are:

* Increase MIN_DT back to 1E-5.  In https://github.com/phetsims/circuit-construction-kit-common/issues/572 I believed it needed to be lower than the paused timestep, but I discovered that's not true.  There is pre-existing logic that takes min of (MIN_TIMESTEP and the requested dt).  With this value too low (like 1E-15) it was taking 10-20 seconds to run one m

[2020-06-26 04:33] arouinfar commented on #583
@samreid master seems to be okay. I've confirmed that the buggy paused behaviors described in https://github.com/phetsims/circuit-construction-kit-common/issues/572#issuecomment-608708226 are not present in master, and the capacitor is looking ok. I tested several cases, but I think it'd be good if @ariel-phet can also do some sanity testing.

[2020-06-30 22:43] oliver-phet opened #585 "User request: unknown resistors"

[2020-07-01 00:52] ariel-phet commented on #583
@samreid I checked fairly thoroughly for the capacitor cases, and then look carefully at RLC circuits and everything seems to check out so far. No obvious issues.

Feel free to go ahead and publish a new dev version for the website

[2020-07-01 01:41] samreid commented on #565
The prototype has been published for a while now, closing.

[2020-07-01 01:41] #565 closed

[2020-07-01 01:42] samreid commented on #583
Thanks for testing, I'll close this and open a new issue about publishing a new prototype.

[2020-07-01 01:42] #583 closed

[2020-07-01 01:51] samreid opened #586 "Publish a new prototype version with the capacitor fixes from #583"
From https://github.com/phetsims/circuit-construction-kit-common/issues/583, we would like to publish a new version of the prototype on the website.  I'm marking as high priority since MD is hoping to use this in the classroom in the near future.

@mattpen can you comment on the process for uploading a new prototype?

@ariel-phet there are two ways to proceed for building the fixed version:
(a) We

[2020-07-01 15:16] oliver-phet commented on #585
Another comment from the user:

[2020-07-01 15:56] mattpen commented on #586
Is this for CCK-AC? If so, to update the prototype, simply replace this file with the new version:

[code]

[2020-07-01 16:36] ariel-phet commented on #586
@samreid lets go with option (b) for the moment, QA won't be able to do a thorough test for awhile

[2020-07-02 02:42] samreid commented on #586
@kathy-phet asked me to run the fixed version past MD, I'll try to build a dev version following strategy (b) to share with him.

[2020-07-02 20:43] samreid commented on #586
The prototype version is 1.0.0-dev.12, the dependencies.json is https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.12/phet/dependencies.json.

[2020-07-02 21:08] samreid opened #587 "branch: prototype"
To support https://github.com/phetsims/circuit-construction-kit-common/issues/586

[2020-07-02 21:29] samreid commented on #586
I pushed a one-off version here: https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-prototype.1/phet/circuit-construction-kit-ac_en_phet.html

[2020-07-03 11:22] samreid commented on #586
MD reported:

I notice that my PC fan comes on when I run this sim. Sim seems to need a lot or CPU time and memory to run -- about 50% CPU according to task manager.  What is especially puzzling is that the CPU usage does not decrease significantly when I pause the sim.

I will open a new issue for that new problem.

Before posting this new version to the website, can @arouinfar or @ariel-phet spo

[2020-07-03 11:25] samreid opened #588 "High CPU Usage when sim is paused"
Reported in https://github.com/phetsims/circuit-construction-kit-common/issues/586

MD said:

We are now running the model when the sim is paused as part of https://github.com/phetsims/circuit-construction-kit-common/issues/572.  That issue is still open and requires testing, but this issue in particular asks whether we can use that same strategy but make it less CPU intensive.

[2020-07-06 15:43] samreid commented on #587
Publication forthcoming in https://github.com/phetsims/circuit-construction-kit-common/issues/586, unassigning for now, but leaving open since the branch will need to stick around for a while.

[2020-07-06 16:34] samreid commented on #582
This hasn't happened in several columns, let's reopen if it recurs.

[2020-07-06 16:34] #582 closed

[2020-07-07 04:49] arouinfar commented on #586
@samreid the one-off looks fine to me, and I made sure to test the play/pause and capacitor behavior.

[2020-07-07 13:39] samreid commented on #586
Thanks @arouinfar.  @mattpen can you please promote the one-off version https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-prototype.1/phet/circuit-construction-kit-ac_en_phet.html to be the new prototype accessible from the website?

[2020-07-07 16:50] ariel-phet commented on #585
I believe this same user also wrote directly to @samreid

[2020-07-07 17:07] ariel-phet commented on #585
@samreid could you comment here on what the "lowest cost" way to implement mystery resistors would be?

I would think something like a query parameter that just takes numerical arguments, something like:

`?mysteryResitors=15,10,3`

I would think a "mystery resistor" would have to have no identification bands, but I assume those bands are "drawn in code" so they could just be removed. We would als

[2020-07-07 17:13] mattpen commented on #586
https://phet.colorado.edu/sims/html/circuit-construction-kit-ac/latest/circuit-construction-kit-ac_en.html has been updated to 1.0.0-prototype.1

[2020-07-07 17:25] arouinfar commented on #585
I really like the idea of allowing for customizable mystery resistors, and I think a lot of teachers would love them.

`?mysteryResitors=15,10,3`

This sounds like a good approach to me.

The best place would probably be at the end of the carousel on each screen. Not all carousels have a completely full final page, so some of the mystery resistors may share space with standard components.

We coul

[2020-07-07 22:05] samreid commented on #586
Thanks @mattpen, I'll notify @kathy-phet and MD.  Closing.

[2020-07-07 22:05] #586 closed

[2020-07-11 06:21] samreid commented on #585
Sketching out different aspects of the work for this:

* New query parameter support (0.5 hours)
* Encrypting the query parameters so students can't just look at the URL to see the answers (2-4 hours?)
* Pagination for new elements in the carousel (1 hour).  Do we want a wire at the top of each new page?  That would be (2-3 hours.)
* New `circuitElementToolFactory` Node (2 hours)
* New view node o

[2020-07-22 00:36] samreid opened #589 "CCK: Basic PhET-iO instrumentation"
We would like to add basic PhET-iO instrumentation for a client.

Use `circuitConstructionKitDc.introScreen.view.circuitElementToolbox.carousel.tools.resistorToolNode.visibleProperty`. Note, it does not reflow the layout.

Use `circuitConstructionKitDc.introScreen.view.sensorToolbox.visibleProperty` to hide both.
Use `circuitConstructionKitDc.introScreen.view.sensorToolbox.ammeterToolIconWithLabel

[2020-07-22 00:39] samreid commented on #513
A basic instrumentation was requested, I'll pursue it in https://github.com/phetsims/circuit-construction-kit-common/issues/589

[2020-07-22 22:50] oliver-phet opened #590 "User suggestion: lower inductor or capacitor value"

[2020-07-25 00:23] zepumph opened #591 "IO types should serialize by using NullableIOReferenceIO"
While working on https://github.com/phetsims/phet-io/issues/1685, I am finding myself converting a lot of fromStateObject methods into the stateToArgsForConstructor that look like this:

[code]

This feels like a great place to try out:

`NullableIO(ReferenceIO( ObjectIO ) ).fromStateObject( stateObject.circuitElementIO )`

Maybe a specific IO type instead of `ObjectIO`?

Try it out and see how it

[2020-07-27 16:42] samreid commented on #589
I published a version here but noticed not all of the requests are "featured".

https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.2.0-dev.3/phet-io/

I think I should make those requests featured and post a new version.

[2020-07-27 16:59] samreid commented on #589
Here's a dev version that features the items above:
https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.2.0-dev.4/phet-io/

I did some basic testing on save/loading circuits and didn't see any obvious problems.

[2020-07-27 17:08] samreid commented on #562
For #589 @kathy-phet said:

I'll increase the priority and follow the recommendation above.

[2020-07-27 17:52] samreid commented on #589
I'll work on turning off the common code sound effects in https://github.com/phetsims/circuit-construction-kit-common/issues/562.  @kathy-phet what level of testing or QA do you want to complete before delivering this to the client?

[2020-07-27 18:05] samreid commented on #562
I applied this strategy to CCK DC and verified that sounds only play for the dog bark.  If more common code sounds creep in, we will need to make sure they are labeled as "user-interface".  That's everything for this issue, closing.

[2020-07-27 18:06] samreid commented on #589
I disabled the common code sound effects and published a new dev version here:
https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.2.0-dev.5/phet-io/

[2020-07-29 23:09] oliver-phet commented on #429
Another user emailed about this:

[2020-07-29 23:10] oliver-phet opened #592 "User suggestion: design of 'connections'"

[2020-08-05 17:36] samreid opened #593 "Error: Assertion failed: unable to find node from unique Trail id"
@jessegreenberg said on slack:

[2020-08-07 15:48] samreid commented on #593
@zepumph can we schedule a time to collaborate on this?  It seems like a potential a11y/phet-io overlap.

[2020-08-07 17:27] samreid commented on #591
I investigated this and couldn't find where this code is being run, and I wasn't certain that it should be run.  I'll raise for discussion on Wednesday meeting.

[2020-08-07 23:19] zepumph commented on #593
@samreid and I paired on this today. We found that an easy way to reproduce this bug is to fuzz mirror inputs in CCK dc, and then click randomly  with a mouse/touch in the top sim. Within 10 seconds we could reliably hit this bug.

We found that push/popNonPlayback from dataStream.js solves this error because we saw focus/blur events occurring downstream of other playback events (like mouseDown).

[2020-08-09 08:38] ProfStick commented on #10
Please can we have some non-ohmic resistors!

[2020-08-10 07:32] Fedsie commented on #10
Please add non-ohmic light bulbs. This way we have a more realistic virtual lab for investigating and comparing ohmic and non-ohmic components and Ohm’s law. Thanks.

[2020-08-24 13:33] KatieWoe opened #594 "CT Impossible set state from iterate unset state"
[code]

[2020-08-24 16:37] samreid commented on #594
This is on the agenda for Wednesday investigation.  On hold until then.

[2020-08-27 04:40] arouinfar opened #595 "Use only one decimal place in StopwatchNode display"
In https://github.com/phetsims/scenery-phet/issues/565 StopwatchNode gained the option of having only 1 decimal place in the readout. Since the StepForwardButton increment is 0.1s, the StopwatchNode doesn't need more than 1 decimal place.

@samreid please update the StopwatchNode display to have only one decimal place.

[2020-08-27 04:40] arouinfar commented on #595
See https://github.com/phetsims/scenery-phet/issues/617 for further discussion of StopwatchNode precision.

[2020-08-27 12:00] samreid commented on #595
Implemented in the commit and ready for review.

[2020-08-28 23:23] zepumph opened #596 "Assertion failed: countProperty should match array length."
This CT error was partially recorded in https://github.com/phetsims/circuit-construction-kit-common/issues/594, but is its own problem.

@samreid and I dove into a state wrapper issue regarding the countProperty of trashButtonGroup. The primary issues we looking into is that trash buttons were not being set to state again. This primarily is because they are view dynamic elements, but aren't follow

[2020-08-28 23:24] zepumph commented on #594
High because it is breaking CT.

[2020-08-28 23:53] zepumph commented on #596
Here is a patch that shows our investigation of (1). You also need to make TrashButton.js phetioState:true for this:

<details>

[code]

[2020-08-29 00:21] zepumph commented on #594
Above I found that potentially one of the only things still using the old dynamic elements pattern is the seriesAmmeters. All other group tandems were actually unused. Perhaps this means you should convert this to use PhetioGroup, or maybe, like the other tools you can create them all at once. I don't know which is better.

I don't see a way to move forward keeping it with the old dynamic elements

[2020-08-29 00:21] zepumph commented on #594
I think this will be an easy fix, if this is all that CT was red about, I don't think it would be worth turning off state testing to support.

[2020-08-29 00:27] zepumph commented on #596
I think this is worth the time to investigate. I would hate to turn state testing off for a partial instrumentation where stateful customizations are delivered to a client.  The requirements for https://github.com/phetsims/circuit-construction-kit-common/issues/589 are very simple and I would hate to hold up that priority. My preference would be to do this right in a complete way. That said, we sh

[2020-08-30 22:27] samreid commented on #596
Thanks for the discussion and the clear direction, I'm confident that I could proceed as prescribed.  However, after reflection, I think the core implementation and PhET-iO interface will be simpler if the trash button is a singleton rather that a group.  For instance, instead of trashButton_37 being able to delete a particular circuit element, it seems simpler that there is only one `trashButton`

[2020-08-30 22:28] samreid commented on #596
This strategy seems like it is working well, closing.

[2020-08-30 22:28] #596 closed

[2020-08-30 22:38] samreid commented on #594
Thanks for identifying this was related to the series ammeters, I converted that in the commit.  Next error is:

[code]

Perhaps something shouldn't be optional?

[2020-08-30 23:04] samreid commented on #594
After fixing that, it fuzzes a bit longer and reports:

[code]

[2020-08-30 23:08] samreid commented on #594
It's fuzzing much longer after the commit.  CT will have the final word, closing until then.

[2020-08-30 23:08] #594 closed

[2020-08-31 16:13] zepumph commented on #596
Just noting here that I'm not totally convinced this will work in all cases though. For example the battery voltage number control. It cannot be a singleton, and will need to be created after there is a voltageProperty in the model for the circuit element. Likely the easiest thing to do for now is to make those components `phetioState:false` unless it is really challenging.

[2020-08-31 22:34] arouinfar commented on #595
Looks good in master, thanks @samreid.

[2020-08-31 22:34] #595 closed

[2020-09-09 22:55] samreid opened #597 "Review and estimate remaining work before publication"
Today @kathy-phet recommended I survey outstanding work for CCK-AC to see what is left to do before publication.  We would like to publish this sim by January.   Working backwards, that means RC Dec 1 and Dev version Nov 1.  So I will need to start this sometime in Sept.

[2020-09-09 23:23] arouinfar commented on #597
@samreid I'm going to co-assign myself to have a look through open issues and phethelp emails.

[2020-09-10 10:19] samreid commented on #593
This issue hasn't appeared on CT for a while, perhaps https://github.com/phetsims/phet-io/issues/1693 solved it, thanks @zepumph!

[2020-09-10 10:19] #593 closed

[2020-09-10 10:22] samreid commented on #545
@arouinfar can this issue be closed?  Would we ever want to add this feature?

[2020-09-10 10:24] samreid commented on #580
This has been clear on CT for a while, closing.

[2020-09-10 10:24] #580 closed

[2020-09-10 10:28] samreid commented on #573
Fuzzing AC with ?stringTest=double is working nicely, closing.

[2020-09-10 10:28] #573 closed

[2020-09-10 10:46] samreid commented on #574
Fixed, closing.

[2020-09-10 10:46] #574 closed

[2020-09-10 10:49] samreid commented on #567
https://github.com/phetsims/chipper/issues/840 is closed and I deleted the branch, closing.

[2020-09-10 10:49] #567 closed

[2020-09-10 10:49] samreid commented on #592
@arouinfar what do you recommend for this issue?

[2020-09-10 11:05] samreid commented on #588
Most of the CPU expense is from this code in ChargeNode:

[code]

The electron moves by a tiny bit (1E-11) but this triggers scenery SVG attribute setting which takes around 10% CPU:

![image](https://user-images.githubusercontent.com/679486/92721353-3497f400-f323-11ea-92f4-fa61f4f507b6.png)

[2020-09-10 11:25] samreid commented on #588
By checking if the matrix has changed, we can avoid that `setAttribute` and `updateLayerTree`, saving >=23% when the simulation is paused.  However, this comes at an expense of 0.6% (whether paused or not) to the simulation to compare these matrices:

![image](https://user-images.githubusercontent.com/679486/92721939-1383d300-f324-11ea-8603-14e464fa156b.png)

This number will grow with the charge

[2020-09-10 11:29] samreid commented on #587
Note: there is a new prototype publication process.  Once we use that new process or publish a production version, we can delete this branch.  On hold until then.

[2020-09-10 11:31] samreid commented on #585
In https://github.com/phetsims/circuit-construction-kit-common/issues/597#issue-697216958 it was requested that we publish this sim by January and there is plenty to do before then.  Should this issue be prioritized for that release?

[2020-09-10 11:32] samreid commented on #590
@arouinfar can you please review this issue and advise?

[2020-09-10 11:33] samreid commented on #577
@arouinfar is this issue ready for work?  Should I proceed with this step:

[2020-09-10 15:50] arouinfar commented on #545
There's no reason to leave it deferred since it doesn't serve the learning goals. Let's close.

[2020-09-10 16:35] arouinfar commented on #592
I don't think we should remove the vertices in schematic mode. They are important for circuit manipulation, especially on touch. I would also push back on the suggestion that students have trouble with interpreting the schematic circuit with prominent vertices, as this is the first request we've had of this nature.

While we could try removing or reducing the size of the gray circle (while keeping

[2020-09-10 16:35] #592 closed

[2020-09-10 16:37] arouinfar commented on #590
We will likely need to make adjustments to the L/C ranges and step sizes. I think there may have been other phethelp emails with a similar request, so I'll look through my email before diving further into this one.

[2020-09-10 16:47] arouinfar commented on #585
Given the timeline, this may be hard to squeeze into the initial release.

I'll request time for CCK: AC in next Thursday's design meeting so we can check in on this (and other issues) with the team.

[2020-09-10 16:50] arouinfar commented on #578
We'll need to decide the priority of this issue for the initial release. Let's discuss at design meeting.

[2020-09-10 16:52] arouinfar commented on #577
@samreid I would like to add these components to CCK:AC, but it's something we should run by the team. Let's discuss at the next design meeting.

[2020-09-11 21:52] samreid opened #599 "CCK: AC needs homescreen + navbar icons"
CCK: AC needs homescreen + navbar icons

It currently looks like this:

![image](https://user-images.githubusercontent.com/679486/92975973-b46aaf00-f446-11ea-8bff-d6fb4dc44df4.png)

[2020-09-11 21:53] #598 closed

[2020-09-11 21:57] samreid commented on #591
Point taken and I'll use ReferenceIO in the future where appropriate.  For this issue, it was better to make those buttons static, so I removed the corresponding IO Types. Closing.

[2020-09-11 21:57] #591 closed

[2020-09-14 04:35] samreid commented on #581
Fixed in the commit and ready for review.

[2020-09-14 12:39] samreid commented on #536
When I tried a range of -0.5 .. 0.5 with a gridline in the middle and one decimal place, it rounded the 0.25 to 0.3:
![image](https://user-images.githubusercontent.com/679486/93086513-793dcb00-f654-11ea-91bc-f5cebd19d206.png)

When I used 2 decimal places, it seemed jarring going from 0 decimal places to 2 decimal places:

![image](https://user-images.githubusercontent.com/679486/93086600-9a9eb700

[2020-09-14 14:57] pixelzoom commented on #581
I still don't see any use of `public`.  Public-facing query parameter need to have `public: true` or they won't be handled by QueryParameterWarningDialog.  For example in NS:

[code]

[2020-09-14 15:10] samreid commented on #581
Thanks, I added that in the commit.  Back to you for mini-review.

[2020-09-14 15:21] samreid opened #600 "When zooming out, one tick label is not shown."
From https://github.com/phetsims/circuit-construction-kit-common/issues/536 When zooming out, one tick label is not seen

![image](https://user-images.githubusercontent.com/679486/93104941-b2ce0080-f66b-11ea-95f1-90779548b104.png)

[2020-09-14 15:23] samreid opened #601 "Chart labels are recreated every frame"
From https://github.com/phetsims/circuit-construction-kit-common/issues/536, labels are continually redrawn as the chart scrolls, this is probably a performance problem.  Note: the chart scrolls horizontally but recreates the vertical labels each frame since it doesn't distinguish between the dimensions.

[2020-09-14 15:24] samreid commented on #536
I opened a few side issues for other problems I noticed.  For this issue, reassigning to @arouinfar to review the preceding comment.  I committed -0.4 ... 0.4 to master if you want to review that behavior.

[2020-09-14 15:47] samreid commented on #600
The problem is in `getLinePositionsInGrid`.  If I add this slack of 1E-6, then it works out OK, but that doesn't seem like a very good solution (what if we are plotting things on that scale).  Here's a patch with the slack.  @jessegreenberg can you please review and advise?

[code]

[2020-09-14 16:47] pixelzoom commented on #581
👍🏻 closing.

[2020-09-14 16:47] #581 closed

[2020-09-15 18:06] ariel-phet commented on #588
@samreid before going further we need device info on MD's device. If it is a low performance device that would be good to know, and he is likely running quite an old version of windows etc (if past experience is an indicator).

If MD emailed you directly, lets gather this information before going any further.

[2020-09-15 18:13] ariel-phet commented on #588
@samreid for instance, my fast home desktop running this sim barely notices a load (Quite new windows 10 PC running the sim in Chrome)

- less than 10% CPU usage on chrome,  ~15% total CPU when just having the sim run
- less than 15% CPU usage on chrome with quickly moving a slider back and forth for a lit lightbulb with electrons all, around 20% total CPU
- Chrome ~1% CPU when sim is closed, and

[2020-09-15 21:33] jessegreenberg commented on #600
A fix for this was made in the above commits, @samreid can you please review? I added an option to set the precision when necessary so this doesn't happen. I couldn't think of a good general way to fix this that didn't require specifying the desired precision at some point.

[2020-09-15 21:38] samreid commented on #600
Would it work to iterate from `min` to `max + spacing/2`?

[code]

In this way, the spacing will automatically compensate for the precision and we won't need an extra degree of freedom.

[2020-09-15 22:11] jessegreenberg commented on #600
I think that would result in too many lines, we want to keep all lines within modelMin + modelSpan. Say `modelSpan` is 10, `spacing` is 6, we will have lines at [ 0, 6, 12 ] and we shouldn't have any greater than 10.

[2020-09-15 22:57] samreid commented on #600
@jonathanolson do you have time to review this issue and recommend how to proceed?

[2020-09-15 23:00] samreid commented on #600
Or what about taking a fixed ratio of the range?

[code]

[2020-09-15 23:07] #536 closed

[2020-09-16 01:39] samreid commented on #429
I committed an initial draft to master, @arouinfar can you please review?  Also, the options dialog is bare-bones and could use some design improvements.  Can you recommend how it should look?

[2020-09-16 04:01] arouinfar commented on #429
@samreid this is looking really nice in master!

Here's a mockup of the dialog:
<img src="https://user-images.githubusercontent.com/8419308/93290382-cda09200-f79d-11ea-92cf-c38c80da0c42.png" width=300>

We've also previously discussed adding a query parameter, such as `symbols=ieee` and `symbols=iec`. I'll tag for design meeting to decide on the exact query parameter.

[2020-09-16 04:08] samreid commented on #429
In https://github.com/phetsims/circuit-construction-kit-common/issues/429#issuecomment-572754386 we discussed `?schematic=ieee`, and this is implemented.  I'll work on improving the dialog.

[2020-09-16 04:16] samreid commented on #429
I improved the options dialog in the commits, ready for review.

[2020-09-16 14:27] samreid commented on #576
I updated the high resistance and high voltage controls, and noticed that we already added 2x voltmeters and ammeters in https://github.com/phetsims/circuit-construction-kit-common/issues/518.  I also noted that the deltas for regular resistors and batteries was incorrectly 1 instead of 0.5, so I corrected that. Ready for review.

[2020-09-16 14:30] samreid commented on #601
@jessegreenberg can I put this on your radar as something I may need help with?

[2020-09-16 16:29] jessegreenberg commented on #601
https://github.com/phetsims/griddle/commit/b10edda2375bad17ecef739e02ede4e22e22fd44 should be an improvement for this by only redrawing horizontal/vertical labels when necessary. @samreid can you please review?

[2020-09-16 21:26] samreid commented on #588
I wrote:

MD replied:

[2020-09-17 19:36] arouinfar commented on #429
9/17/20 meeting notes

This looks good in master, just a few tweaks:

- [ ] Change dialog text to "Schematic Standard"
- [ ] Change query parameter to `schematicStandard`

[2020-09-17 19:59] arouinfar commented on #578
9/17/20 meeting notes

This is a feature that we would like to add at some point, but it is beyond the scope of the initial release.

There are some model challenges in how we would actually implement RMS values, and we would likely need some sampling window. At minimum, you would need to go through an entire period before it could be displayed. For the frequency ranges in the sim, this isn't that

[2020-09-17 20:17] arouinfar commented on #585
Discussed at the 9/17/20 design meeting

This will not be in the initial release of CCK: AC.

This is a feature that seems more appropriate for CCK: Black Box, a Mystery screen, or an app.

For a mystery screen, we could have set mystery R1, R2, R3, and then R4 could be randomly generated. Another alternative could be a query parameter like `?mysterySet=1` etc, where the values are defined in the

[2020-09-17 20:20] arouinfar commented on #577
Discussed in the 9/17/20 design meeting, and decided against making this change.

This could be a bit of a slippery slope. If we add high-V batteries, should we also add high-V AC sources? What about high-C or high-L components?

The primary concern of the user was addressed by fixing the tweaker increments in https://github.com/phetsims/circuit-construction-kit-common/issues/576.

[2020-09-17 20:20] #577 closed

[2020-09-17 20:29] arouinfar opened #602 "Add noise to the model"
A common teacher requests for PhET sims in general is to add noise to the model. As lab instruction is being done online, this is a more timely request.

There is a standalone Java version that included noise that was used for a study. We should reach out to Carl, Engin, and Natasha.

The feature should be accessible through the options dialog and query parameter (similar to the pressure noise in

[2020-09-18 12:39] samreid commented on #589
@kathy-phet and @arouinfar reported they will be reviewing this today.  I ran through the `phetioID`s in the issue description https://github.com/phetsims/circuit-construction-kit-common/issues/589#issue-663391407 and confirmed they are all working as expected.  I'll publish a dev version at https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.2.0-dev.6/phet-io/

UPDATE: I noticed that

[2020-09-21 21:33] arouinfar commented on #599
@samreid let's try these icons:
![image](https://user-images.githubusercontent.com/8419308/93823611-53e62980-fc1f-11ea-8728-40c2c63466d0.png)

Please let me know if you would prefer to draw these in code or would like assets. I'll need to clean up the mockups a bit more to make them asset-quality.

[2020-09-22 00:46] samreid commented on #599
Drawing all 3 of those in code would take half a day or more, and would lead to increased code complexity that would need to be maintained.  Providing them as assets gives us the leeway to adjust them independently of the artwork in the sim.  But if we always want them to exactly match what is in the sim, rendering them with code is a way to do that without having to make adjustments in both.  I'm

[2020-09-22 00:47] samreid commented on #599
By the way, I think they look great, but maybe not all of the details (such as dotted lines) are necessary on the latter two.

[2020-09-22 01:48] ariel-phet commented on #588
@samreid I think we need one more piece of information. Is this CPU usage only with the CCK AC prototype or also with CCK DC for MD?

Correct me if I am wrong, but what you are suggesting above related to electron movement also exists in the DC version does it not? CCK DC has been published for quite some time now with no known performance complaints, so if this perceived performance issue exists

[2020-09-23 00:49] samreid commented on #588
MD reported this for the AC CCK, but it is most likely caused by a change in circuit-construction-kit-common which is used for DC and AC sims, which was introduced in April 2020 for https://github.com/phetsims/circuit-construction-kit-common/issues/572.

[2020-09-23 17:23] samreid commented on #602
Here is the Java model with values filled in by EB in May 2015:

<details>
[code]

</details>

Here is a sim published with that model (May 11, 2015)
https://phet-dev.colorado.edu/circuit-construction-kit/3.20.35/

[2020-09-23 17:36] samreid commented on #602
@arouinfar can you please review the behavior in https://phet-dev.colorado.edu/circuit-construction-kit/3.20.35/ "random fluctuations" flavor, and evaluate its design before we proceed?

[2020-09-29 08:42] Nibbos commented on #10
HI.
This is a passionate plea for the addition of non-ohmic conductors into your circuit builder sim, please.
I note that this discussion started over four-and-a-half years ago but that nothing has yet been added to the Phet sim as a consequence of the to-ing and fro-ing.
Many teaching specifications require an understanding of non-ohmic conductors, and their associated V-I graphs.
Filament bulb (

[2020-09-30 04:17] arouinfar commented on #599
I cleaned up the icons, and have attached the assets. Ready for you @samreid.

[cck-ac-screen-icons.zip](https://github.com/phetsims/circuit-construction-kit-common/files/5303094/cck-ac-screen-icons.zip)
![image](https://user-images.githubusercontent.com/8419308/94642479-71f7fd80-02a1-11eb-86d5-4c9b0bdcde16.png)

[2020-09-30 04:57] ariel-phet commented on #588
@samreid @arouinfar let's plan to discuss at the next CCK design meeting

[2020-10-05 22:47] samreid commented on #575
I simplified this code a lot, and tested with capacitor clipping areas and transparency.  It seems more centered now, and I didn't see any problems, but @arouinfar could you please double check?

[2020-10-06 16:06] samreid commented on #601
This is looking much better, thanks!  In testing in CCK-AC, I noticed that it is no longer creating the labels every frame.  However, I noticed that even though it only have 5 labels, it creates them twice.  You can test this by adding this line where the vertical label text is created:

[code]

Then when you zoom in or out in CCK AC Voltmeter, instead of creating 5 new labels, it creates 10 each

[2020-10-06 17:29] samreid commented on #429
Both requests addressed in the commit.  @arouinfar can you please review?  Close if there's nothing else to do.

[2020-10-06 19:37] samreid commented on #571
I adjusted the sizes in the commit, ready for review.

[2020-10-06 21:19] samreid commented on #570
There is an explanation at https://jmanton.wordpress.com/2018/08/03/does-the-voltage-across-an-inductor-immediately-reverse-if-the-inductor-is-suddenly-disconnected/

It says an ideal inductor suddenly disconnected will oscillate.  For this reason, real inductors are often modeled as an ideal inductor in series with an ideal capacitor and ideal resistor.

[2020-10-06 21:29] samreid commented on #570
Proposal: add a listener so that when the circuit topology changes (vertices disconnected or switch opened), any inductors that are no longer in a loop are cleared.

@ariel-phet and/or @arouinfar do you think this will work?

[2020-10-06 21:47] samreid commented on #601
I decided to open a griddle issue for that last point, and will close this one, thanks @jessegreenberg!

[2020-10-06 21:47] #601 closed

[2020-10-06 21:51] samreid commented on #512
On hold until artwork is complete.

[2020-10-06 21:52] samreid commented on #555
Can this issue be closed?

[2020-10-06 21:53] samreid commented on #564
I think the cost of investigating and addressing this exceeds its value, and I recommend closing.

[2020-10-06 21:53] #564 closed

[2020-10-06 22:28] samreid commented on #600
What about computing the number of grid lines to show, and rounding to the nearest whole number if it is very close to a whole number?  This seems reasonable and eliminates the extraneous degree of freedom, but I can't get it working, perhaps because I don't understand `distanceToGridLine`:

[code]

[2020-10-06 22:40] samreid commented on #597
I estimate less than an hour to incorporate the new icons, a day to address TODOs in the code and 2-4 days to address the issues linked in https://github.com/phetsims/circuit-construction-kit-common/issues/528.  Those are all the issues assigned to me at the moment (could save time if we skip a tricky one).  But there are 18 other issues spanning new features, design changes, etc. which would be g

[2020-10-06 23:36] samreid opened #603 "Horizontal grid lines no longer showing in the charts"
Somewhat related to https://github.com/phetsims/griddle/issues/31

[2020-10-07 03:51] samreid commented on #603
Fixed, closing.

[2020-10-07 03:51] #603 closed

[2020-10-07 03:53] samreid opened #604 "Voltmeter and Ammeter seismograph gridlines should scroll horizontally"
From https://github.com/phetsims/griddle/issues/31.  Note that this will be an option.  Some sims will need to have static gridlines.

[2020-10-08 21:20] samreid commented on #10
We would like to investigate this for upcoming publication.  This will be in DC only.  Cold resistance is not adjustable.  Resistance will be a function of previous current (not adding a synthetic measure like temperature).  It will be instantaneously coming to temperature.

[2020-10-08 21:26] samreid commented on #588
@ariel-phet suggests revising https://github.com/phetsims/circuit-construction-kit-common/issues/572 to have the physics engine run a very small dt if the user has added user input.  For instance, mouse down, mouse drag (while down), mouse up.  This would be on the entire display, including sliders etc.

[2020-10-08 21:31] Nibbos commented on #10
Thanks, Sam.
This sounds fantastic.
Will you test it so that it produces the classic 'filament bulb curve'
needed for high-school physics, please?
Many thanks
Conor

On Thu, 8 Oct 2020, 22:20 Sam Reid, <notifications@github.com> wrote:

[2020-10-08 21:32] samreid commented on #602
Non-ohmic bulbs is higher priority than this.

[2020-10-09 01:08] samreid commented on #10
@Nibbos, Can you please link to an example, so I can make sure we are seeing the same thing?  Also, for your purposes is it important to be quantitatively correct, or is it more qualitative?

[2020-10-09 02:14] samreid opened #605 "Profile and improve performance regarding PDOMPeer.js"
In https://github.com/phetsims/circuit-construction-kit-common/issues/572 @kathy-phet pointed out the sim can use a lot of CPU.  Let's profile it and see if there is room for improvement.

[2020-10-09 03:02] samreid commented on #572
I determined there was already an existing infrastructure for detecting circuit changes.  I added Capacitor and Inductor clear to that channel, and used it for determining when to step the model when paused.  It seems OK in local testing, and much better than listening to scenery input and accessibility events.  @arouinfar can you please test in master?

[2020-10-09 03:02] samreid commented on #588
I decided to work on this as part of #572, on hold until there is progress in that issue.

[2020-10-09 03:40] samreid commented on #605
Dragging around a single wire shows most of the time is spent in PDOMPeer.js

![image](https://user-images.githubusercontent.com/679486/95540705-ba54a100-09ae-11eb-8ade-62dba3063960.png)

@jessegreenberg can you please recommend someone to investigate?

[2020-10-09 05:30] samreid commented on #599
I added the screen icons. They look great, my only recommendation is maybe to increase the thickness of the light bulb brightness lines if we would like them to appear better in the navigation bar.  Here's a screenshot:

![image](https://user-images.githubusercontent.com/679486/95546523-1246d400-09be-11eb-8e25-55f422828416.png)

[2020-10-09 12:06] Nibbos commented on #10
Hi, Sam.
Standard GCSE Physics content over here in UK.
Search for 'GCSE physics filament bulb'.
Here's an example of what we have to teach and what students need to be
able to reproduce or describe.

Note that the filament bulb graph does NOT quite become horizontal at the
extremes.

I have just made a simple excel spreadsheet (attached) with an initial R=10
ohms, increasing linearly with current

[2020-10-09 21:59] jessegreenberg commented on #605
I see, Ill take a look - @samreid can you comment on the priority of this issue? Does this need to be resolved quickly for upcoming deadlines or publications?

[2020-10-09 22:03] jessegreenberg commented on #605
Also,

How was this measured? Was there a noticeable drop in performance, or was it noticed that the browser's CPU usage was abnormally high?

[2020-10-09 22:51] samreid commented on #605
We would like to create an RC branch at the end of November.

@kathy-phet mentioned that CCK tends to use a high amount of CPU compared to other sims.  I think this means her fan turns on sooner?

The profile above was created when just dragging a single element, this is not under a demanding load and I wouldn't expect that to use a lot of CPU--I was just trying to identify where time was being sp

[2020-10-12 15:10] Nibbos commented on #10
Hi, Sam.
Just a quick fix wanted in the Circuit Builder, please.
Can we have the ammeter also giving negative current readings, to show the
directional nature of current - just as you have done with the voltmeter
readings, please?
Many thanks.
Conor

On Fri, 9 Oct 2020, 13:05 Conor Davies, <mrdaviesphysics@gmail.com> wrote:

[2020-10-12 17:48] samreid commented on #10
Thanks Conor, I'll track that request in a new issue, linked below.

[2020-10-12 17:50] samreid opened #606 "Should the ammeters show negative values?"
In https://github.com/phetsims/circuit-construction-kit-common/issues/10, @Nibbos said:

Just a quick fix wanted in the Circuit Builder, please.
Can we have the ammeter also giving negative current readings, to show the
directional nature of current - just as you have done with the voltmeter
readings, please?
Many thanks.
Conor

See also https://github.com/phetsims/circuit-construction-kit-common/

[2020-10-12 18:03] Nibbos commented on #508
Hi. Working with d.c. circuits and determining V-I characteristics for ohmic resistors requires ammeters to display negative current when polarity of battery is reversed. Students can then plot V versus I and determine R from 1/gradient of the graph.
Can negative currents be indicated on the ammeters just as negative voltage appear on the voltmeters, please?
Thanks
Conor

[2020-10-12 19:15] samreid commented on #606
From https://github.com/phetsims/circuit-construction-kit-common/issues/508#issuecomment-707267680

Can negative currents be indicated on the ammeters just as negative voltage appear on the voltmeters, please?

[2020-10-12 23:21] jessegreenberg commented on #605
OK thanks - In https://github.com/phetsims/scenery/issues/1088 I am proposing a way to opt out of this when we don't need it. By passing `positionSiblings: false` to VertexNode and CircuitElementNode options, I am no longer seeing time spent in these functions.
![image](https://user-images.githubusercontent.com/6396244/95798374-d19dd200-0cbf-11eb-8ccb-3de77ed4d4e4.png)

But I think there is probab

[2020-10-14 01:41] ariel-phet commented on #570
@samreid yes I think that would be a reasonable solution. An ideal inductor would indeed oscillate (which is not realistic). In general the field decays quite quickly, so I think clearing the inductor when disconnected is very reasonable.

For example, an incandescent bulb has a fading glow when turned off since it take a moment for the filament to cool but we clear the light bulb rays instantly w

[2020-10-18 15:55] samreid commented on #570
Checking for whether an inductor is in a loop is complicated, since we would need to consider insulators, open switches, etc.  Instead, it is straightforward to detect when the inductor oscillates, like so:

[code]

With this code, there is a single spike in the voltage when the circuit is disconnected:

Is this acceptable?  Or should I investigate alternatives?

![image](https://user-images.githu

[2020-10-18 15:58] samreid opened #607 "Avoid deprecated code"
Here is the result from running with ?deprecationWarnings:

[code]

[2020-10-18 22:20] samreid commented on #607
I converted the SwitchNode inputListener from `ButtonListener` to `FireListener` like so:

[code]

But it isn't firing any events.  @jonathanolson can you please advise?

[2020-10-19 16:18] samreid commented on #607
For the SwitchNode FireListener, for now I have specified `attach:false` as indicated by @pixelzoom and it is working well.  However, @jonathanolson said that means it could now touch-snag to start another drag in the same operation.  He said we may be able to get rid of `attach:false` if we identify the other listener that is attaching to the pointer.

[2020-10-19 18:23] samreid commented on #607
- [ ] Several TODOs in the code regarding drag listeners.

[2020-10-19 20:01] samreid opened #608 "Get rid of attach: true"
From https://github.com/phetsims/circuit-construction-kit-common/issues/607

The competing listeners are

[code]

[code]

If `attach:false` is in either one, then the switch can be dragged and opened/closed.

It could be possible to change `CircuitLayerNodeDragListener` to extend FireListener, and have the `SwitchNode` listen for that `fire` event (so there is only input listener on the switch), b

[2020-10-19 20:02] samreid commented on #607
We'll discuss `attach:true` in a side issue. Closing.

[2020-10-19 20:02] #607 closed

[2020-10-20 00:45] samreid commented on #10
When I used the same strategy in Fuse.js of setting the next resistance as a function of the previous time step values, there is an oscillating behavior. This plot is of current vs voltage.

![image](https://user-images.githubusercontent.com/679486/96526424-b80a0680-123a-11eb-839e-bd871e104fc5.png)

This was not present in Fuse because tripping the fuse is a one way function.

<details>

[code]

<

[2020-10-20 01:33] samreid commented on #10
I used the same facility we developed for batteries exceeding their current threshold in https://github.com/phetsims/circuit-construction-kit-common/issues/245 (running the computation engine twice) and it came out much smoother:

![image](https://user-images.githubusercontent.com/679486/96529270-f3f49a00-1241-11eb-8dc7-60e7e7ae1063.png)

[2020-10-20 01:40] samreid commented on #10
- [ ] Make `nonOhmic` an option in `LightBulb`
- [ ] Add another toolbox entry
- [ ] Make sure the resistance updates correctly
- [ ] Make sure the brightness maps as desired
- [ ] Compare an ohmic bulb to a non-ohmic bulb
- [ ] Check the equation with the design team

[2020-10-20 03:51] samreid commented on #10
I committed a proof-of-concept "rough draft" working prototype for non-ohmic light bulbs.  Notes on how it was implemented:

The desired curve looks roughly logarithmic, so I modeled `I = k*ln(V)`.  In testing, I determined that base=2 with a coefficient k=3 worked well.  Combining I=ln(V) with V=IR and solving for R gives R = V/ln(V).  I also shift the logarithm so that at V=0 the log is 1.

[cod

[2020-10-20 08:09] Nibbos commented on #10
Hi, Sam.
This is looking really good. Many thanks.
I'm just wondering if it's possible to tweak the function you use to give a
less vertical plot around the V=0 region?
Are you able to display the V and I values so that students can calculate R
as the experiment is carried out? If so, what value of R is produced at
small values of V?
And are you able to produce the same graph for negative values o

[2020-10-20 14:51] KatieWoe opened #609 "CT cannot read property createNextElement of undefined"
Seen in a few cck sims.
[code]

[2020-10-20 15:30] samreid commented on #609
Thanks @KatieWoe.  I pushed a fix that corrects it on my side, closing for now.

[2020-10-20 15:30] #609 closed

[2020-10-22 03:46] arouinfar commented on #599
Thanks @samreid. The icons generally look good in master, and I agree the light rays could be a bit thicker. Here are the updated assets:
[revised-screen-icons.zip](https://github.com/phetsims/circuit-construction-kit-common/files/5419911/revised-screen-icons.zip)

[2020-10-22 03:59] arouinfar commented on #572
@samreid master seems ok to me, but we'll still need QA to thoroughly test this when it comes time.

[2020-10-22 04:05] arouinfar commented on #429
Looks great in master, thanks @samreid!

[2020-10-22 04:07] arouinfar commented on #575
I haven't noticed any issues with the electron alignment in master @samreid.

[2020-10-22 04:07] #575 closed

[2020-10-22 04:14] arouinfar commented on #576
Thanks @samreid. The tweaker increments look correct in master, but the thumb is no longer snapping as it used to.

I'd like to maintain the same constrainValue currently in the latest published version.
- [ ] High-V battery: 100 V
- [ ] High-R resistor/bulb: 100 ohms

[2020-10-22 04:19] arouinfar commented on #606
Hi @Nibbos, we considered your request about adding negative values of current, but felt that for this simulation keeping the current display as representing the amount of current flowing in all situations better matched the main learning goals. Additionally, since the probes of the voltmeter can just be swapped, it is really up to the student to set up the correct measuring experiment. Even if cu

[2020-10-22 07:50] Nibbos commented on #606
Hi, Amy.
Thanks for all the hard work you and your team put into the Phet
simulations.
The non-ohmic bulb will be really valuable for us here in the UK.
We can work around the lack of negative value currents with a little
teacher explanation, but thanks for considering my request.
To cap it all off, a diode (or LED), thermistor and LDR would be very
welcome additions to complete this package. I'm

[2020-10-27 03:50] ariel-phet commented on #570
@samreid I do not think that is an acceptable solution. There are many situations in which the inductor voltage should oscillate (such as when driven by an oscillating source or when setting up an RLC circuit).

Perhaps you and I should have a zoom chat and discuss some possibilities.

[2020-10-27 03:56] samreid commented on #570
To be more specific, the detection code in https://github.com/phetsims/circuit-construction-kit-common/issues/570#issuecomment-711249184 only detects the erratic cases like when voltage jumps from -28V to +28V in 1/60th of a second, and would not be triggered by normal oscillatory behavior.  I'm not opposed to a more robust solution, but should make sure it is warranted.  Please reach out to me on

[2020-10-27 12:12] ChemersSci commented on #10
This would be amazing if implemented and would make the simulation compatible with the GCSE (high school) core practicals in the UK as already mentioned. Myself and the students have found the sims incredibly useful during COVID 19 where practical work isn't as accessible and some students are self isolating. The qualifications regulator has said that we can use simluations instead of completing p

[2020-10-27 12:28] Nibbos commented on #10
Negative current won't be implemented, alas. This had been requested but
won't be happening.
I told students to just make the current values negative when they reversed
the polarity of the battery, since they could see that the current flowing
was in the opposite direction.
Filament bulb is looking good, and I've suggested a few tweaks to make it a
less vertical graph in and around the origin.
Dio

[2020-10-27 17:44] samreid commented on #570
@ariel-phet and I discussed a more robust algorithm that clears the inductor if its neighboring circuit elements have no current.  I committed it and it looks like this:

![image](https://user-images.githubusercontent.com/679486/97340712-be573e80-1849-11eb-8dcb-b3a5653388a3.png)

@ariel-phet can you please test in master?

[2020-10-27 22:03] samreid commented on #599
Thanks, I committed the new icon.  Back to @arouinfar for review, close if all is well.

[2020-10-27 23:43] arouinfar commented on #599
👍

[2020-10-27 23:43] #599 closed

[2020-10-28 01:47] ariel-phet commented on #570
@samreid so far this solution seems to be working well. In places where the circuit goes through a transient "zero" state it does not seem to be causing problems (for instance just driving with an AC source, or setting up an RLC circuit and having it oscillate.

Overall this solution seems to be working well. We still do get a very large spike on the graph. It might be worth bringing to design mee

[2020-10-28 02:23] Geoffysicist commented on #10
Thanks Sam for finally picking this up. looks good so far. Is there some way we can play with the prototype?

[2020-10-28 04:01] samreid commented on #10
We have not published a prototype version with these changes, but it should be possible to check out the sources, as described in https://github.com/phetsims/circuit-construction-kit-dc/blob/master/README.md

[2020-10-29 22:36] samreid opened #610 "Add a checkbox with "Add Realistic Bulbs" in advanced panel which scrolls the carousel to that page."
From https://github.com/phetsims/circuit-construction-kit-common/issues/10, we would like to Add a checkbox with "Add Realistic Bulbs" in advanced panel which scrolls the carousel to that page.

[2020-10-29 22:37] samreid opened #611 "Add a flag query parameter ?addRealisticBulbs"
Related to https://github.com/phetsims/circuit-construction-kit-common/issues/10, we would like a query parameter to turn that on.

[2020-10-29 22:49] samreid opened #612 "Non-ohmic light bulb resistance should be updated, because brightness uses it and it appears in the display"
From https://github.com/phetsims/circuit-construction-kit-common/issues/10

Today we observed that the brightness was the same, but that's because the value wasn't updated.

[code]

It wasn't clear whether we should hide the resistance value or show it.  If it's easy, I'll show it, then we can decide whether it should be redacted.

[2020-10-29 22:50] samreid commented on #612
@kathy-phet said:

[2020-10-29 22:51] samreid opened #613 "Change socket color for realistic bulb"
Related to https://github.com/phetsims/circuit-construction-kit-common/issues/10.  At today's design meeting, we agreed the realistic bulb should look different than the ideal light bulb, and this may be done by drawing the socket differently.  High priority since we would like to publish this soon.

[2020-10-29 22:51] kathy-phet commented on #612
To clarify @samreid - I said, it should be dimmer when hooked up to the default battery. It should be 10 ohms (same ohms as the ideal bulb) when "cold" - not hooked to anything.

[2020-10-29 22:52] samreid opened #614 "The realistic bulb filament should have a distinct appearance"
From https://github.com/phetsims/circuit-construction-kit-common/issues/10, the filament should change color as a function of resistance

[2020-10-29 22:53] kathy-phet commented on #612
And if they are in "series", then actually the real bulb would be brighter than the ideal bulb. In parallel, the real bulb is dimmer than the ideal bulb.

[2020-10-29 22:53] samreid opened #615 "Create a spreadsheet that depicts I, V, R values for the realistic bulb"
From https://github.com/phetsims/circuit-construction-kit-common/issues/10, @kathy-phet asked me to create a spreadsheet with I, V, R values, and plotting I vs V, and R vs I.

[2020-10-29 22:54] samreid commented on #615
It was requested that I produce an Excel spreadsheet, but I wonder if it would be simpler if I created a Google Spreadsheet.

[2020-10-29 22:56] samreid opened #616 "Republish "DC" with the non-ohmic bulb"
From https://github.com/phetsims/circuit-construction-kit-common/issues/10, we would like to republish the DC sim with the non-ohmic bulb and barking dog.  This will happen before initial publication of "AC".  For milestone: https://github.com/phetsims/circuit-construction-kit-common/milestone/1

[2020-10-29 22:56] samreid commented on #512
Increasing priority since this was requested for upcoming release.

[2020-10-29 22:57] samreid commented on #10
I committed the name change and i18n and opened side issues for the remaining work.  @arouinfar can this issue be closed?

[2020-10-30 15:47] samreid commented on #610
I added this in the commit, @arouinfar can you please review this part?

[2020-10-30 15:51] samreid commented on #611
Fixed in the commit, @arouinfar can you please review this part?

[2020-10-30 16:00] samreid commented on #612
Comparing defaults after the commit:

![image](https://user-images.githubusercontent.com/679486/97727739-5f3a3980-1a96-11eb-99b8-3b45bffc3f4e.png)

![image](https://user-images.githubusercontent.com/679486/97727855-7c6f0800-1a96-11eb-9fce-3a89d00ed613.png)

Also, the resistance is now displayed with "show values":

![image](https://user-images.githubusercontent.com/679486/97728021-a9bbb600-1a96-11

[2020-10-30 16:05] samreid commented on #614
I found the filament is rasterized and in the mipmaps/ directory, see https://github.com/phetsims/circuit-construction-kit-common/blob/a93e39506338f2960bbb2d7c0ea54f30da61d573/mipmaps/lightbulb-middle.png

It is used in `CustomLightBulbNode.js`.  We didn't see it yesterday because it was in mipmaps/ instead of images/.

Some options for how to proceed:
1. @jonathanolson is working on color filters

[2020-10-30 16:16] samreid commented on #615
I recorded data from the simulation and plotted it in Google Spreadsheets here: https://docs.google.com/spreadsheets/d/1bolSLoxkewPamtv8sID5ABNGc9nTPL_fEk9DjetTaA0/edit#gid=0

Here is I vs V:

![image](https://user-images.githubusercontent.com/679486/97729986-e1c3f880-1a98-11eb-8aed-e1626eeb0bcb.png)

Here is R vs I

![image](https://user-images.githubusercontent.com/679486/97730029-f0121480-1a98-

[2020-10-30 16:17] samreid commented on #616
On hold until related issues are addressed.

[2020-10-30 16:25] samreid commented on #615
Here's the patch I used to plot the data:

[code]

[2020-10-30 16:44] kathy-phet commented on #615
@samreid - these curves look good to me. Can you run them by our Github teacher commenters, and by Mike D as well?

[2020-10-30 19:11] samreid commented on #615
I posted in https://github.com/phetsims/circuit-construction-kit-common/issues/10 and also asked Mike D in email.

[2020-10-31 00:30] Nibbos commented on #10
Perfect. Thanks.

On Fri, 30 Oct 2020, 17:23 Sam Reid, <notifications@github.com> wrote:

[2020-11-02 16:14] samreid commented on #614
I saw there are sampled points in the model for the electron path, in https://github.com/phetsims/circuit-construction-kit-common/blob/aa6fe2c38306c6e16840df59a859f67def7b55e7/js/model/LightBulb.js#L29-L41

We could use these to render the filament, but it would need additional work to make it curved instead of lines.  I believe the electron paths are all linear at the moment.

[2020-11-02 18:05] samreid commented on #576
I committed a proposed fix, @arouinfar can you please review?

[2020-11-05 20:48] samreid commented on #612
We reviewed this in today's meeting and agreed it is working nicely.

@kathy-phet said if we get teacher requests, we may consider a query parameter to omit the ohm readouts from realistic bulbs.

Closing.

[2020-11-05 20:48] #612 closed

[2020-11-05 20:51] samreid commented on #614
@ariel-phet clarified that the filament doesn't need to change color continuously as a function of resistance, rather a single different color would be sufficient.  @ariel-phet also recommended a "coiled look" for the filament for this.  @arouinfar can you please take a look?

[2020-11-05 20:55] samreid commented on #615
@arouinfar would like to move this sheet into the sim design folder.

[2020-11-05 21:05] samreid commented on #611
We reviewed this in today's meeting and agreed it is working well.  We need the query parameter to support teachers that want the realistic bulb available by default.

[2020-11-05 21:05] #611 closed

[2020-11-05 21:09] samreid opened #617 "The Realistic Bulb checkbox should have the same font as other checkboxes"
Also update the slider labels to match

[2020-11-05 21:09] samreid commented on #617
We reviewed this today at today's design meeting, closing.

[2020-11-05 21:09] #617 closed

[2020-11-05 21:10] samreid commented on #610
We reviewed the checkbox today, and agreed it looks good.  We also added https://github.com/phetsims/circuit-construction-kit-common/issues/617.  Closing.

[2020-11-05 21:10] #610 closed

[2020-11-05 21:14] samreid commented on #589
@kathy-phet indicated her and @arouinfar work will resume on this early December.

[2020-11-05 21:17] samreid commented on #576
We discussed this in today's meeting--the changes above are great.  We would like one more change, for the basic resistor and battery, the slider knob should round to whole numbers, not 0.5, which is the tweaker delta.

[2020-11-05 21:31] samreid commented on #512
We reviewed the case in https://github.com/phetsims/circuit-construction-kit-common/issues/512#issuecomment-642244320 and agreed as long as the current is only through the hand and the current is low, it would not be a health risk.

We reviewed the behavior in master and agreed it is OK. We feel there are pedagogical advantages of showing a disembodied hand, so students can see that hands are not

[2020-11-05 21:32] samreid commented on #512
We also agreed we would like to have a "dog looks at the camera/head tilt" graphic for the upcoming publication.

[2020-11-05 22:21] jonathanolson commented on #600
Where is the comparison that is causing things not to display? Usually adjusting comparisons is a good approach.

[2020-11-05 22:34] jonathanolson commented on #600
Or:
[code]

[2020-11-06 17:30] arouinfar commented on #615
I've copied the sheet into the sim design folder, and it now lives here:
https://docs.google.com/spreadsheets/d/1l8yLXjOYhH1hVs1lv6INd7ga97otqGgxobHOjN929_I/edit#gid=0

[2020-11-06 17:30] #615 closed

[2020-11-09 18:08] samreid commented on #608
This does not seem critical for the upcoming milestone, but it should be completed before any PhET-iO release.

[2020-11-09 18:59] samreid commented on #600
Thanks @jonathanolson, I appreciate it.  Based on the recommendation from @jonathanolson I committed a change that automatically handles the round-off error for the tick labels.  This allowed me to remove the API for `gridLinePrecision`.  I added another step to address @jessegreenberg's comment in https://github.com/phetsims/circuit-construction-kit-common/issues/600#issuecomment-693006722, to ma

[2020-11-09 19:44] jessegreenberg commented on #600
I see, that is very cool - nice work! I tested GridNode in its other usages and the grid is being drawn correctly in all places I reviewed.

[2020-11-09 19:48] samreid commented on #600
Excellent, thanks!  Closing.

[2020-11-09 19:48] #600 closed

[2020-11-10 04:40] arouinfar commented on #614
I mocked up a coiled look, where the coils are a darker shade of the filament color.

Option 1: Coils around the horizontal portion of the filament
![lightbulb-1_lightbulb_middle_realistic](https://user-images.githubusercontent.com/8419308/98628222-54bc4300-22d3-11eb-82f9-d71c329c7b8e.png)

Option 2: Coils around the entire element
![lightbulb-2_lightbulb_middle_realistic](https://user-images.gith

[2020-11-10 04:48] arouinfar commented on #613
Here are the bulbs currently in CCK:
![image](https://user-images.githubusercontent.com/8419308/98628817-a6b19880-22d4-11eb-97d1-9918cf74e798.png)

In design meeting we discussed making the socket a metallic-looking red. Here's a mockup with the coiled filament (see #614). @samreid if this color looks reasonable to you, I'll send you the asset.
![lightbulb-3_lightbulb_front_realistic](https://user

[2020-11-10 17:47] jonathanolson commented on #608
Is it... crazy to refactor PressListener/FireListener behavior into mixins (but where PressListener/FireListener are concrete types with those premixed), so that we could include both of those behaviors?

It also seems tricky to me that we'd want to have two listeners here... what happens when one activates and the other doesn't?

[2020-11-10 23:01] samreid commented on #613
That seems good to me.  Do you want a 2nd opinion from @ariel-phet before we proceed?

[2020-11-10 23:03] samreid commented on #614
At the size it will appear in the simulation, I think it will be difficult to see the coils.  Perhaps they should be exaggerated so they can be clearer?  I see the argument for having the coils all around the path, but it seems cleaner just to have it around the horizontal portion, depending on how we exaggerate it.

[2020-11-10 23:42] arouinfar commented on #614
Thanks @samreid. Here are a few more iterations with larger, less densely spaced coils.

![lightbulb_lightbulb_front_realistic](https://user-images.githubusercontent.com/8419308/98746858-8b499a80-2373-11eb-9da1-0b1c0682479f.png) ![lightbulb_lightbulb_front_realistic](https://user-images.githubusercontent.com/8419308/98746633-1c6c4180-2373-11eb-97a5-83b047243369.png) ![lightbulb_lightbulb_middle_re

[2020-11-10 23:48] samreid commented on #614
I searched Google Images for "incandescent light bulb filament" and looked for ones that might seem familiar to people, with clearly visible loops, and this one stood out. What do you think?

![image](https://user-images.githubusercontent.com/679486/98747334-8cc79280-2374-11eb-9d11-33299452809a.png)

[2020-11-11 19:58] ariel-phet commented on #613
I like that red color, definitely makes it stand out.

[2020-11-11 20:01] ariel-phet commented on #614
@arouinfar I would lean towards the direction of option 1 in https://github.com/phetsims/circuit-construction-kit-common/issues/614#issuecomment-725034280

I would also go with @samreid recommendation of a direction and make the coils have more space, thicker stroke, and bigger radius (I am thinking if I am using this sim on something like a phone, I will hardly see those coils, so I think we want

[2020-11-11 22:10] arouinfar commented on #614
Thanks for the feedback @samreid @ariel-phet! Here's an option with exaggerated coils. The smaller version is a rough approximation of the size in the sim.
![lightbulb_lightbulb_front_realistic copy](https://user-images.githubusercontent.com/8419308/98866059-9232e480-2429-11eb-84de-ffac7aa3d849.png)<img src="https://user-images.githubusercontent.com/8419308/98866059-9232e480-2429-11eb-84de-ffac7aa

[2020-11-11 22:13] samreid commented on #614
Looks great to me, but I'll wait for consensus before integrating them into the sim.

[2020-11-11 22:14] arouinfar commented on #613
Great, thanks! The final assets will be delivered once we're done iterating on #614.

[2020-11-11 22:14] samreid commented on #614
Do you just want to show the electrons going in front of the coils, or something more complicated with z-ordering?

[2020-11-11 22:17] arouinfar commented on #614
@samreid I am fine with showing the electrons traveling on top of the coils. The coils do have a front and back layer, so it would be possible to sandwich the electrons between them, but that would complicate the assets. The current implementation of the light bulb already has separate back, middle, and front artwork.

[2020-11-11 22:18] samreid commented on #614
I think it would send the wrong message to show the electron going through like a tunnel.

[2020-11-12 17:12] ariel-phet commented on #614
@arouinfar I think the latest iteration looks awesome! Very clearly distinguishable . I agree the electrons just traveling on top of the coils is fine in my opinion. Nice work.

[2020-11-12 17:19] arouinfar commented on #614
Awesome, thanks! @samreid the assets (including the updated socket) are linked in https://github.com/phetsims/circuit-construction-kit-common/issues/614#issuecomment-725689411.

[2020-11-12 17:19] arouinfar commented on #613
@samreid the updated assets are linked in https://github.com/phetsims/circuit-construction-kit-common/issues/614#issuecomment-725689411.

[2020-11-15 02:22] samreid commented on #613
I added the images in the commit.  To see them in the toolbar, you might need to remove the pencil (until another issue is fixed).  Other than that, can you please review?

[2020-11-15 02:22] samreid commented on #614
I added the images in the commit.  To see them in the toolbox, you might need to remove the pencil (until another issue is fixed).  Other than that, can you please review?

[2020-11-15 02:31] samreid commented on #613
OK I think that commit will help.  Ready for review.

[2020-11-15 13:50] samreid commented on #576
Committed as recommended, and fixed a bug that gave the wrong deltas for the high resistance light bulb.  @arouinfar can you please review?

[2020-11-16 18:54] arouinfar commented on #613
Looks great in master, thanks @samreid!

[2020-11-16 18:54] #613 closed

[2020-11-16 18:56] arouinfar commented on #614
The realistic bulb looks great!

![image](https://user-images.githubusercontent.com/8419308/99295382-95035000-2802-11eb-90d4-6aee93d29035.png)

[2020-11-16 18:56] #614 closed

[2020-11-17 05:37] samreid commented on #604
I switched to a new implementation that supports grid lines scrolling.  @arouinfar can you please check that the charts are behaving properly (including but not limited to the grid lines scrolling)?  Also, I converted to use the new zoom buttons that were developed during Natural Selection.

Also, now that we have scrolling grid lines, do we still want the "double-headed" arrow that indicates the

[2020-11-17 17:27] samreid commented on #512
@arouinfar can you please comment on the expected timeline for this issue?

[2020-11-19 20:25] arouinfar commented on #576
Looks good in master @samreid

[2020-11-19 20:25] #576 closed

[2020-11-19 20:27] arouinfar commented on #571
Looks good in master @samreid!

[2020-11-19 20:27] #571 closed

[2020-11-19 20:39] samreid opened #618 "Zoom buttons are missing"

[2020-11-19 21:19] samreid commented on #618
Schematic/lifelike will be horizontal, directly under the carousel.  Zoom will be beneath that.

[2020-11-20 01:08] samreid opened #619 ""Add realistic bulbs" should not be in AC"
"Add realistic bulbs" should not be in AC

[2020-11-20 01:09] samreid opened #620 "Zoom buttons need magnifying glasses"
From today's design meeting, "+" and "-" are overloaded in CCK, and showing those as button icons without other context will be confusing.  We need the magnifying glass icons.  This is for the charts and for the play area zoom buttons.

@ariel-phet also indicated the flat buttons are good.

[2020-11-20 01:11] samreid opened #621 "Dropping a meter in the toolbox is too eager"
Right now, a meter drops in the toolbox if any edge overlaps.  This is too eager, especially for the large voltmeter chart + ammeter chart.  For those, the center should overlap to trigger dropping in.

[2020-11-20 01:11] samreid opened #622 "The AC current swaps sign sometimes when crossing 0"
During today's meeting, we observed the AC current "bounced" off of 0 to make an "M" shape.

[2020-11-20 01:18] samreid opened #623 "Capacitor should be normal casing"

[2020-11-20 01:19] samreid opened #624 "All fonts in the carousel should be the same size"

[2020-11-20 15:52] samreid commented on #597
I wrote to @kathy-phet on slack:

I cannot easily give a “bottom line” timeline, but let me summarize what I know at the moment.
There are 6 known issues for the “DC” milestone: https://github.com/phetsims/circuit-construction-kit-common/milestone/1
None of those is very complicated.  The big delays in going toward DC publication are (a) waiting on art assets (b) waiting on QA and (c) any redesign

[2020-11-20 15:52] #597 closed

[2020-11-21 20:01] samreid opened #625 "Dropping a realistic bulb in the toolbox when "add realistic bulbs" is unchecked shouldn't show a bulb"
Dropping a realistic bulb in the toolbox when "add realistic bulbs" is unchecked shouldn't show a bulb

[2020-11-21 20:17] samreid commented on #618
Fixed, @arouinfar can you please review?

[2020-11-21 20:18] samreid commented on #10
As far as I can tell, all of the work for this issue is completed (aside from publishing, which will be done in https://github.com/phetsims/circuit-construction-kit-common/issues/616 ), closing.

[2020-11-21 20:18] #10 closed

[2020-11-21 20:19] samreid commented on #620
The play area zoom buttons already have magnifying glasses, so I'll move this to the AC milestone.

[2020-11-21 20:21] samreid commented on #624
This already seems OK in the DC version (for English)

![image](https://user-images.githubusercontent.com/679486/99886762-4c7dd500-2bfc-11eb-83e3-a1de89ee356e.png)

I think we were seeing `maxWidth` effects in AC, for example this is running with stringTest=double:

![image](https://user-images.githubusercontent.com/679486/99886784-733c0b80-2bfc-11eb-9c5e-dcca7e184c9b.png)

@arouinfar does anythin

[2020-11-21 20:23] samreid commented on #625
Also, checking "add realistic bulbs" when there are none creates an 11th bulb.

[2020-11-21 20:34] samreid commented on #625
I think it's fixed in the commit.  @arouinfar can you please test?

[2020-11-25 14:34] arouinfar commented on #618
Looks good in master @samreid

[2020-11-25 14:34] #618 closed

[2020-11-25 14:42] arouinfar commented on #624
@samreid looks good in DC.

For AC, I'm seeing a maxWidth issue with "CAPACITOR" but I think it should fit if re-cased to "Capacitor" which will be handled in #623
![image](https://user-images.githubusercontent.com/8419308/100241995-88ad8000-2ef1-11eb-946e-eacb1f440213.png)

[2020-11-25 14:42] #624 closed

[2020-11-25 14:45] arouinfar commented on #625
@samreid looks good in master!

[2020-11-25 14:45] #625 closed

[2020-11-25 14:46] arouinfar commented on #512
The artist who created the dog currently in CCK is on hiatus from PhET until February. I sent an email to @samreid @kathy-phet @ariel-phet to discuss next steps.

[2020-11-25 15:09] arouinfar commented on #512
Possible options

1. Work with a different artist, which would probably require new altogether new dog artwork.
2. Wait on adding new artwork until the original artist is available in February. Proceed with publication without the secondary dog artwork, but plan to republish CCK: DC after CCK: AC is published.
3. Forget secondary dog artwork, and find some other way to visually indicate that the d

[2020-11-26 15:39] samreid commented on #512
The cartoonish "!!!" speech bubble looks great to me for next release.

[2020-11-27 20:31] samreid commented on #621
I committed the proposed fix, @arouinfar can you please review?  Close if all is well.

[2020-11-27 20:42] samreid commented on #623
I added i18n and fixed the casing, @arouinfar can you please review?  Also, does this look like it solves https://github.com/phetsims/circuit-construction-kit-common/issues/624 ?

[2020-11-28 00:18] samreid commented on #619
Proposed fix committed, @arouinfar can you please review?  Close if all is well.

[2020-11-28 00:20] samreid commented on #622
This problem occurred twice in just 10 seconds of testing.  Here is the latter curve:

![image](https://user-images.githubusercontent.com/679486/100489940-cae2e700-30d4-11eb-8a8b-8751d378d6e8.png)

[2020-11-28 00:32] samreid commented on #622
The problem is inherent in the solution for https://github.com/phetsims/circuit-construction-kit-common/issues/508, and the problem can be made more frequent by changing the epsilon value:

![image](https://user-images.githubusercontent.com/679486/100490163-93753a00-30d6-11eb-94cd-6de46a9a6d58.png)

[2020-11-28 00:57] samreid commented on #622
I tried this and it worked OK in testing, but I think it is also error-prone.  It uses the slope to determine whether to recompute the orientation, but it should fail at the high and low points of a sinusoid.  We will need to continue searching.

[code]

[2020-11-30 19:23] kathy-phet commented on #512
I like the cartoon "!!!" as well.

[2020-11-30 19:33] ariel-phet commented on #512
Looks good

[2020-11-30 19:35] samreid commented on #620
I opened https://github.com/phetsims/scenery-phet/issues/645, but the play area zoom buttons look like this:

![image](https://user-images.githubusercontent.com/679486/100655373-69a35980-3308-11eb-86bd-fce6ecf5c99f.png)

Should the chart zoom buttons look identical to the play area zoom buttons?  If so, what styling/coloring should we use?

[2020-11-30 19:53] samreid commented on #620
I discussed this with @pixelzoom in https://github.com/phetsims/scenery-phet/issues/645 and on slack.  His opinion was that the +/- buttons are already perfectly clear in context, and that adding the complexity of changing icons for the ZoomButtonGroup is unwarranted.

I recommend we do one of the following (no particular order):
1. Spend the time to generalize ZoomButtonGroup so that it can suppo

[2020-11-30 19:58] pixelzoom commented on #620
If you add the ability to use magnify glass icons, you'll also need to factor that icon out of ZoomButton.

[2020-11-30 20:00] pixelzoom commented on #620
... or better yet, switch to using the fontawesome icons for the magnifying glasses:

https://fontawesome.com/icons/search-plus?style=solid
https://fontawesome.com/icons/search-minus?style=solid

[2020-11-30 21:26] arouinfar commented on #512
I cleaned up the speech bubble a bit. Here are the assets @samreid:
[dog_bark.zip](https://github.com/phetsims/circuit-construction-kit-common/files/5618765/dog_bark.zip)

![dog_bark](https://user-images.githubusercontent.com/8419308/100667256-7f6c4b00-3317-11eb-8640-d8286147d2c3.png)
If you prefer to draw it in code, the speech bubble is fontawesome [f075](https://fontawesome.com/icons/comment?st

[2020-11-30 23:07] samreid commented on #620
Would it be OK if ZoomButtonGroup was hardcoded to use the magnifying glass icons?

[2020-12-01 00:57] pixelzoom commented on #620
Do you mean as an option, or instead of +/- ?

[2020-12-01 01:02] pixelzoom commented on #620
And I'm still trying to understand... If you want the ZoomButton look (magnifying glasses) why not just use a pair of ZoomButtons?  That's what has been done in other sims that use "magnifying glass" zoom buttons. What's special about CCK, and why does it need to use ZoomButtonGroup?

[2020-12-01 16:38] samreid commented on #620
It would simplify things if we can use the same icons everywhere.  But if we need flexibility, then we should make it possible/easy to specify any icon.

ZoomButtonGroup adds:

* Layout
* Pointer areas
* Disposal
* Enabled
* Deltas

Why should this be duplicated?

[2020-12-01 16:51] pixelzoom commented on #620
If you want to add the ability to show magnifying glass icons to ZoomButtonGroup, you'll need at least 2 options:

* An option to indicate whether to show magnifying glasses or +/-, probably something clunky like `useMagnifyingGlassIcons`.
* An option to scale the FontAwesomeNodes that display the magnifying glass icons. Either something like `magnifyingGlassIconsScale` or `fontAwesomeOptions` if

[2020-12-01 16:59] pixelzoom commented on #620
[code]

[2020-12-01 17:00] samreid commented on #620
The preceding proposal https://github.com/phetsims/circuit-construction-kit-common/issues/620#issuecomment-736683290 looks good to me, let me know if you would like me to implement it.

[2020-12-01 17:05] pixelzoom commented on #620
If you need it now, go for it.  You'll need to add the fontawesome glyphs to FontAwesomeNode.js.

[2020-12-01 17:07] pixelzoom commented on #620
Before you begin...  I'm still skeptical that any of this is needed.  I haven't heard a response to why this is needed for CCK (+/- seems clear to me in the context of the chart), and why it's desirable to have 3 different "looks" for zoom buttons in PhET sims.

[2020-12-01 17:13] pixelzoom commented on #620
In https://github.com/phetsims/circuit-construction-kit-common/issues/620#issue-747057037, you said:

I should also point out that these buttons will not look identical to the play area zoom buttons. They will be using fontawesome icons.  And they will not be separated by space.   And if you have thoughts about adding that space to ZoomButtonGroup, that's going to complicate the pointer areas, whi

[2020-12-01 17:18] samreid commented on #620
OK let's wait until we hear from designers.  @kathy-phet @arouinfar or @ariel-phet the main questions are:

* Does the CCK chart require magnifying glass icons, or are "+" and "-" OK?
* If so, should the play area buttons and the chart zoom icons have the same look?
* If not, will we have other sims where the zoom buttons will need to show icons other than "+" and "-"?

@pixelzoom please add other

[2020-12-01 17:24] kathy-phet commented on #620
I prefer the magnifying glass - due to what was discussed. That +/- are overloaded in this context. I could imagine other places (e.g. math sims) where we might want to use magnifying glasses.

[2020-12-01 17:37] ariel-phet commented on #620
@pixelzoom since "positive" and "negative" can refer to the sign of charges, the sign of voltage etc, they are "overloaded" in the sense that @kathy-phet points out. Since the chart is moving, it seems like we don't want to have any confusion that perhaps polarity is flipping. So I think ideally we would have two different zoom buttons (the very clean ones used in natural selection, and a simple m

[2020-12-01 18:05] arouinfar commented on #620
I think the current look of ZoomButtonGroup (+/-, flat appearance, touching) is ideal for most graphs. It has a really clean design that doesn't compete with the graph contents, and when next to an axis the icon meaning is clear. It's perfect for Natural Selection and Fourier: Making Waves. It'll probably also end up in sims that currently use magnifying glass zoom buttons in graphs, such as Black

[2020-12-02 18:15] samreid commented on #512
We already had the "comment" path data.  I added the exclamation point path, and wired it up in the commit.  It looks like this:

![image](https://user-images.githubusercontent.com/679486/100913860-8ddd7280-348f-11eb-98f7-bedd70c3662b.png)

@arouinfar can you please review in master?

[2020-12-02 23:18] arouinfar commented on #512
@samreid the speech bubble is looking great, but its duration feels a bit too short. If you aren't looking at the dog when the current threshold is exceeded, it's easy to miss.

![bark](https://user-images.githubusercontent.com/8419308/100943004-98acfd00-34b9-11eb-95dd-e73740c6a9f3.gif)

Can we try something like 0.5 s? I realize this means the speech bubble will be visible for a bit longer than t

[2020-12-02 23:19] arouinfar commented on #623
Looks good in master @samreid. And yes, I think this solves #624 too.

[2020-12-02 23:19] #623 closed

[2020-12-02 23:20] arouinfar commented on #621
This feels much better now, thanks @samreid

[2020-12-02 23:20] #621 closed

[2020-12-02 23:20] arouinfar commented on #619
👍

[2020-12-02 23:20] #619 closed

[2020-12-02 23:23] arouinfar commented on #555
This issue is stale, and the placement of the lifelike/schematic buttons was addressed in https://github.com/phetsims/circuit-construction-kit-common/issues/618. Closing.

[2020-12-02 23:23] #555 closed

[2020-12-03 00:12] arouinfar commented on #507
@samreid here are the pixel polishing requests for the AC carousel. I don't know how much is shared with DC, but I am fine with any of these tweaks making their way over to DC too.

- [ ] Make carousel 10 px taller
- [ ] Reduce padding between carousel buttons and first/last item to 20 px
- [ ] Reduce large icons (light bulb, capacitor, inductor) by 10%
- [ ] Padding between icon and label is 3 px

[2020-12-03 00:20] arouinfar commented on #604
We discussed this in the 11/19/20 design meeting.

There was some debate about whether or not we should have scrolling or static gridlines. While static gridlines have better alignment with the scale indicator and have an oscilloscope-like feel, we ultimately decided to stick with scrolling gridlines so that measurements of DC elements don't look broken.

I don't think we need scrolling labels, an

[2020-12-03 00:20] #604 closed

[2020-12-03 21:35] samreid commented on #622
Current status:

<details>

[code]

</details>

[2020-12-04 22:21] samreid commented on #512
I increased the time to 0.5 seconds and positioned the bark relative to the dog so it would look OK at different rotations.  Ready for review.

[2020-12-04 22:28] samreid commented on #512
Also, I kept the bark always "upside up" like so, but we could rotate it with the dog if we prefer:

![image](https://user-images.githubusercontent.com/679486/101221644-5284a480-3645-11eb-8edc-ccc9c41dfb83.png)

[2020-12-07 19:32] arouinfar commented on #512
@samreid the speech bubble duration looks great! In general, I like the "upside up" approach, but there are a few rotations where the dog ends up occluded so it might not be the best solution.
<img width="424" alt="dog1" src="https://user-images.githubusercontent.com/8419308/101395759-a088ea80-3887-11eb-9869-61d9e49647c1.png">
<img width="249" alt="dog2" src="https://user-images.githubusercontent.

[2020-12-09 19:46] oliver-phet opened #626 "User suggestion: compass"

[2020-12-10 23:24] arouinfar commented on #626
I'm fairly certain that this would be a major model change, as I doubt there is information about the magnetic field in the play area. This is not a request we will be able to accomodate, and it's really best served by [Faraday's Electromagnetic Lab](https://phet.colorado.edu/en/simulation/faraday). Can you share this sim with the user @oliver-phet?

[2020-12-11 18:40] pixelzoom opened #627 "add a cue that indicates when all data is outside a chart's range"
This came up while I was collaborating on some bamboo (chart) changes with @samreid.  I was testing my changes in the context of CCK-AC, and he referred me to the Voltage meter.   I put the meter across a 9v battery, didn't see anything, and thought the meter was broken.   The problem was that all data was off scale, and I needed to zoom out.   I suspect that students may also be prone to this pro

[2020-12-11 18:42] pixelzoom commented on #627
@samreid also asked about supporting this in bamboo.

Sam Reid  11:38 AM
Should that be a standard griddle building block somehow?

Chris Malley  11:41 AM
Not until we identify something that is appropriate for most sims.  I doubt that something as heavy as "Zoom out to see data" will pass muster for the tiny charts in CCK:AC.

[2020-12-12 11:23] samreid commented on #512
After the commit, the speech bubble rotates with the dog.  I also noticed that electrons or other circuit elements can overlap the speech bubble, but I don't think that would be trivial to change the z-ordering.  @arouinfar ready for review.

[2020-12-14 19:34] samreid commented on #620
@pixelzoom can you please comment on whether we should use `new Text( MathSymbols.PLUS )` vs `new PlusNode()`?

[2020-12-14 19:48] samreid opened #628 "Dragging a chart out of the control panel when zoomed out has wrong coordinate frame"
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/620, dragging a chart node out of the control panel while zoomed out has the drag in the wrong coordinate frame.

The chart drag listener is defined in js/view/CCKCChartNode.js.  The forwarding listener is declared in js/view/SensorToolbox.js

[2020-12-14 20:13] pixelzoom commented on #620
Use `MathSymbols.PLUS` and `MathSymbols.MINUS` when the icons are +/-.

Use FA icons `'search-plus-solid'` and `'search-minus-solid'` for magnifying glasses.

[2020-12-14 20:19] samreid commented on #620
Can you please comment why to prefer `Text(MathSymbols.PLUS)` vs `PlusNode()`?  They look like this:

PlusNode
![image](https://user-images.githubusercontent.com/679486/102130932-b4e06080-3e0e-11eb-8ca3-0a45cebded3c.png)

vs

Text
![image](https://user-images.githubusercontent.com/679486/102131016-cf1a3e80-3e0e-11eb-959a-d646d19b9bd2.png)

Also, scenery-phet already has a magnifying glass node wit

[2020-12-14 20:25] pixelzoom commented on #620
Simpler implementation.  Imo `PlusNode` and `MinusNode` should be deprecated.

[2020-12-14 20:27] pixelzoom commented on #620
Again, simpler implementation.  I would replace the icons in ZoomButton with FA icons.

[2020-12-14 21:41] samreid commented on #620
@pixelzoom and I discussed and agreed to keep `MagnifyingGlassNode` instead of going to FA for this case, since we have many places where we want to keep `MagnifyingGlassNode` and it already looks good and has been well tested, and supports the white glass.  I also recommended using the `PlusNode` and `MinusNode` shapes to rule out any abnormalities due to odd fonts, and @pixelzoom agreed that wou

[2020-12-14 22:33] samreid commented on #620
I committed as @pixelzoom and I discussed.  @pixelzoom do you have time to review?  If not, please reassign to @ariel-phet to request another reviewer.

[2020-12-14 22:37] samreid commented on #620
I added one more commit to use the magnifying glasses in the CCK chart.

[2020-12-15 20:32] samreid commented on #616
I messaged on slack:

[2020-12-15 20:41] samreid commented on #507
I'll move the preceding comment to a new issue and close this one, since we determined that carousels will appear on all screens.

[2020-12-15 20:41] samreid opened #629 "Pixel polishing requests for the carousel"
From https://github.com/phetsims/circuit-construction-kit-common/issues/507#issuecomment-737573013

@samreid here are the pixel polishing requests for the AC carousel. I don't know how much is shared with DC, but I am fine with any of these tweaks making their way over to DC too.

- [ ] Make carousel 10 px taller
- [ ] Reduce padding between carousel buttons and first/last item to 20 px
- [ ] Redu

[2020-12-15 20:42] samreid commented on #507
I moved the preceding comment to a new issue, closing.

[2020-12-15 20:42] #507 closed

[2020-12-15 21:55] samreid commented on #629
One of the complications in the codebase is that the carousel spacing is recomputed when switching between lifelike/schematic in order to keep icons in the same places.  Without a workaround like that (or splitting icons to schematic/lifelike and putting AlignBox around them), a fixed spacing causes all of the schematic icons would compress at the top:

![image](https://user-images.githubuserconte

[2020-12-15 22:48] arouinfar commented on #512
Looking good in master @samreid. I don't see any reason to mess with the z-ordering.

[2020-12-15 23:32] kathy-phet commented on #512
@samreid - The dog can still be occluded -- is this expected?
![image](https://user-images.githubusercontent.com/5096804/102285127-d581e680-3ef2-11eb-8cdd-dd7cb19b8e3f.png)

Also, I noticed that he doesn't yelp until he has a 10K voltage across him - is that expected? I would think he would be electrocuted (as in die) at a lower voltage?

[2020-12-15 23:35] kathy-phet commented on #512
I would think a reaction of a yelp at around 110 or 120 volt would be appropriate?

[2020-12-15 23:57] samreid commented on #512
@arouinfar and @kathy-phet and I set the threshold to Voltage of 100 V instead of a current of 0.1 Amps.  Leaving open as a reminder to notify the client after this is published.

[2020-12-16 00:05] samreid commented on #629
In discussion with @arouinfar and @kathy-phet, we decided to try making the icons have padded rectangles that are all the same height.  We may need to make the tallest icon shorter to make this work.

[2020-12-16 00:08] samreid opened #630 "Make it so that studio doesn't leave "holes" in the carousel during customization"
Make it so that studio doesn't leave "holes" in the carousel during customization, but dragging out the last item should leave a hole.

[2020-12-16 21:16] samreid commented on #616
@kathy-phet and @arouinfar and I discussed https://github.com/phetsims/circuit-construction-kit-common/issues/512 and got it to a place we were comfortable with.  @arouinfar additionally commented that "Master looks good to me.".  I'll create a QA issue placeholder.

[2020-12-16 21:49] samreid commented on #616
I opened QA placeholder https://github.com/phetsims/QA/issues/587

[2020-12-16 23:17] pixelzoom commented on #620
A bit of cleanup needed.  In the above commits:

* In MagnifyingGlassZoomButtonGroup.js, this assertion is needed in, as you're potentially (silently) blowing away an icon specified by the client:

`assert && assert( !options.magnifyingGlassNodeOptions.icon, 'MagnifyingGlassZoomButtonGroup sets magnifyingGlassNodeOptions.icon' );`

* In PlusMinusZoomButtonGroup.js, this constant isn't going to mak

[2020-12-17 00:58] samreid commented on #620
I reviewed the changes and did not have further recommendations, thanks!  Closing.

[2020-12-17 00:58] #620 closed

[2020-12-19 00:49] samreid opened #631 "CCK-AC: Publish 1.0"
Most of the remaining work tracked in this milestone: https://github.com/phetsims/circuit-construction-kit-common/milestone/2

[2020-12-22 03:47] samreid commented on #564
I removed a TODO that mentioned this problem, hence I will mark as "will not fix" (even though many parts were addressed).

[2020-12-22 03:55] samreid opened #632 "CapacitorNode instance should use view-oriented API"
See https://github.com/phetsims/scenery-phet/issues/555

[code]

[2020-12-22 03:58] samreid opened #633 "CapacitorNode is probably creating far too many <canvas> elements, and also making the charges blurry"
CapacitorNode is probably creating far too many `<canvas>` elements, and also making the charges blurry.

[2020-12-22 04:01] samreid opened #634 "Should we use DynamicSeries or something else?"
`CCKCChartNode` uses bamboo, but also `DynamicSeries`.  We should see what's best.

[2020-12-22 04:13] samreid commented on #531
All TODOs that pertain to this release have been addressed or promoted to issues.  Remaining TODOs are marked like "black box study" or "phet-io".  Therefore, I think we should close this issue.  When we work on the black-box-study or phet-io, we can open a side issue for those TODOs.

[2020-12-22 04:13] #531 closed

[2020-12-22 16:15] samreid opened #635 "Tweaker Buttons can be misaligned when text changes size due to i18n"
From https://github.com/phetsims/wave-interference/issues/433,

![image](https://user-images.githubusercontent.com/679486/63202572-88b0a600-c047-11e9-8abc-2eb042904fb4.png)

@ariel-phet said:

A later dev meeting consensus said:

Then in April, @zepumph commented:

I created this issue so we can address it as it pertains to CCK AC upcoming milestone.  Self-assigning to report on status, then I'll

[2020-12-22 16:17] samreid commented on #528
All relevant open issues above now have AC 1.0 milestone issues, closing.

[2020-12-22 16:17] #528 closed

[2020-12-22 18:01] samreid commented on #628
After the chart has been dropped in the play area, it drags at the correct rate.  So it seems the problem is only with the `createForwardingListener` when dragging out of the toolbox at the zoomed-out-scale.  I'm not sure how to investigate this and could use help.  @ariel-phet can you please recommend someone to assist on this problem?

[2020-12-22 21:58] ariel-phet commented on #628
This seems like it probably falls in @jonathanolson wheelhouse. If he is not available I recommend chatting with @jessegreenberg

[2020-12-22 22:28] jessegreenberg commented on #628
I tried to take a look, but didn't notice any odd behavior dragging the voltmeter or ammeter out of the SensorToolBox. I wasn't too sure what kind of zoom you meant so I tried with the charts zoomed out using their zoom buttons, at various levels of native browser zoom, and at various levels of zoom with PhET's pan and zoom feature. In each case the draggable object followed the mouse as I would e

[2020-12-22 22:31] samreid commented on #628
To reproduce the problem, launch CCK-AC Screen 1, then press the "zoom out" button in the bottom left of the screen, then drag a voltage chart from the toolbox.  It drags at about half of the rate and gets disassociated from the mouse.  @jonathanolson and I have scheduled an appointment to investigate further.

[2020-12-22 22:39] samreid commented on #622
I committed an implementation that updates at every time step and requires the slope and value to be close to zero before "forgetting" the current directionality (previous version just checked the value, which is why sometimes when crossing 0 it would forget the directionality).  I tested with a Battery Resistor circuit with a reversed wire, and saw that it had a positive current.  Then I cut the

[2020-12-23 03:34] samreid commented on #629
In the commits, I separated the lifelike/schematic icons so that they can be aligned.  I used AlignBox to align the lifelike/schematic icons as well as the icons across pages and screens, and to treat them as if they all have the same dimensions.  I fine tuned the dimensions so that everything would fit in the worst case scenario, the RLC page of AC.

Here is the lab screen:

![image](https://user

[2020-12-23 03:39] samreid commented on #629
Also, switching to `iconAlignGroup.createBox( n, { yAlign: 'center' } ),` (not committed) leaves less blank space at the top of the screen, but increases the space between the icons and the text (depending on icon height):

![image](https://user-images.githubusercontent.com/679486/102956649-c3c1b580-4495-11eb-8c9e-d346793523be.png)

[2020-12-23 03:42] samreid commented on #629
Also, I noticed that the schematic sizes are all disorganized (on the first page).  But I'd rather get overall feedback on this strategy before fine tuning parts like that:
![image](https://user-images.githubusercontent.com/679486/102956839-21560200-4496-11eb-978e-df72cd01fbc9.png)

[2020-12-23 03:43] samreid opened #636 "Schematic light bulb cannot be tapped to edit"
Schematic light bulb cannot be tapped to edit

[2020-12-23 03:52] samreid commented on #634
All it uses are the data, and a listener and a clear method.  It doesn't seem too problematic, but I wonder if we should investigate using an ObservableArray of data points?

[2020-12-23 03:55] samreid opened #637 "Will the charts ever show more than one data series?"
I could make a simplification in the code if we think the CCK: AC charts will always only show one data series at a time.  At the moment, they are generalized to support multiple series, but I don't think we are using that feature.  @arouinfar can you please comment?

UPDATE: Discovered this question while working on https://github.com/phetsims/circuit-construction-kit-common/issues/634

[2020-12-23 04:06] samreid commented on #634
It seems better with observableArray, closing.

[2020-12-23 04:06] #634 closed

[2020-12-23 04:12] samreid commented on #635
Here is the AC source control panel with stringTest=double. It's less problematic than the case in Wave Interference because there are no tick labels here.

![image](https://user-images.githubusercontent.com/679486/102958391-f8d00700-4499-11eb-90d8-00a08f9698a6.png)

I see a slight misalignment of the latter tweaker buttons (they are a bit high), but this doesn't seem problematic enough to require

[2020-12-23 04:21] samreid opened #638 "Schematic wire node is difficult to tap"
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/636.  The schematic wire node touch area is unusably thin.

[2020-12-23 16:50] samreid commented on #628
@jonathanolson and I addressed this in the commits, thanks @jonathanolson !

[2020-12-23 16:50] #628 closed

[2020-12-23 17:01] samreid commented on #629
@jonathanolson and I realized that one AlignGroup is redundant, and after the commits we are using ToggleNode to manage that part.  We also switched the default ToggleNode.CENTER, but could switch that to BOTTOM if preferred.

[2020-12-23 19:31] ariel-phet commented on #635
@samreid, agreed.

[2020-12-23 19:31] #635 closed

[2020-12-24 03:31] samreid opened #639 "Schematic resistor pointer areas are not centered"
![image](https://user-images.githubusercontent.com/679486/103057822-d3a4cc80-455d-11eb-9333-43c1d4bcb7dc.png)

Schematic resistor pointer areas are not centered.  Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/636

[2020-12-24 03:34] samreid commented on #638
Fixed, closing.

[2020-12-24 03:34] #638 closed

[2020-12-24 03:38] samreid commented on #636
Fixed, closing.

[2020-12-24 03:38] #636 closed

[2020-12-24 03:52] samreid commented on #639
Fixed, closing.

[2020-12-24 03:52] #639 closed

[2020-12-24 03:56] samreid commented on #633
I confirmed each CapacitorNode is creating a separate canvas element:

![image](https://user-images.githubusercontent.com/679486/103059077-46fc0d80-4561-11eb-9be4-01cb46c4073b.png)

[2020-12-24 04:04] samreid commented on #633
On the other hand, each canvas is pretty small, and the simulation is limited to 10 capacitors.  With 1 capacitor out, I measured 54MB, and with all 10 out, I measured 58.1MB.  This seems within tolerable levels.

![image](https://user-images.githubusercontent.com/679486/103059294-eb7e4f80-4561-11eb-9e77-8e679a048ebe.png)

I don't think we should support both canvas and scenery-based renderers for

[2020-12-24 04:12] samreid commented on #588
We addressed https://github.com/phetsims/circuit-construction-kit-common/issues/588 with a change-based approach rather than a small-dt-based approach, and that issue is ready for QA testing.  I measured performance while paused and CPU was minimal, most of the time idle:

![image](https://user-images.githubusercontent.com/679486/103059838-714eca80-4563-11eb-9a44-24d6f20f8451.png)

Therefore this

[2020-12-24 04:12] #588 closed

[2020-12-24 04:14] samreid opened #640 "Performance optimization"
From https://github.com/phetsims/circuit-construction-kit-common/issues/588, @kathy-phet said:

I'll take a look and see if anything seems worthwhile before the upcoming releases.

[2020-12-28 17:34] samreid commented on #608
Unassigning until we work toward our first PhET-iO release.

[2020-12-29 17:44] samreid opened #641 "Clicking on the word "Wire" drags out a battery"
Clicking on the word "Wire" drags out a battery.  Perhaps pointer areas are wrong after we change the carousel layout.

[2021-01-04 12:07] samreid commented on #640
Profiling the case where there is an RLC with AC source and 2 wires, and a voltage chart and current chart, and remembering to disable assertions:

![image](https://user-images.githubusercontent.com/679486/103533395-452c2700-4e4a-11eb-9b38-219012bd96f6.png)

I observed that the CPU was 37% idle.

![image](https://user-images.githubusercontent.com/679486/103533564-8e7c7680-4e4a-11eb-8fd7-38f86f0e0e

[2021-01-04 12:27] samreid commented on #640
10% of the scripting time was taken in LinePlot shape manipulation.  I converted that to CanvasLinePlot in the commit, and the CPU idle time went up to about 50%.  After that improvement, here is the first page of bottom-up self-time profiling results:

![image](https://user-images.githubusercontent.com/679486/103534609-73ab0180-4e4c-11eb-8084-471fca060861.png)

Surprisingly, the most expensive pa

[2021-01-04 12:33] samreid commented on #640
Another 10% boost in this function by factoring out the array length accessor:

![image](https://user-images.githubusercontent.com/679486/103535633-52e3ab80-4e4e-11eb-96e6-6944d3014658.png)

CPU idle is at 57% after this change.

[2021-01-04 12:38] samreid commented on #640
I looked at the next highest-time function `getChargesInCircuitElement`, but it is only using a few percent and changes to its implementation would make the code less clear and more brittle.  I think this issue is at a good stopping point, closing.

[2021-01-04 12:38] #640 closed

[2021-01-04 17:34] arouinfar commented on #637
@samreid I don't see any reason why we would want to display multiple series in a single chart. In fact, I think that would be very confusing in this context.

[2021-01-04 17:57] arouinfar commented on #627
Thanks for the suggestion @pixelzoom. I think the core problem in CCK is that the default zoom level does not match up with the default voltage. It wasn't always like this, though. @samreid please make the default zoom range for the voltage chart [-10, 10]. The default range for the current chart looks good.

I'm not sure I would add a warning message or cueing arrow to communicate range. The char

[2021-01-04 18:15] arouinfar commented on #633
@samreid the charges look reasonable to me with all 10 capacitors in the play area. I don't think it's worth limiting the number of capacitors to 6 to sharpen the charge appearance.
![image](https://user-images.githubusercontent.com/8419308/103565343-6fe3a300-4e7d-11eb-9395-f73f2fb397cf.png)

Since the performance with canvas is reasonable, I don't see any reason to take a gamble on scenery. Let's

[2021-01-04 18:15] #633 closed

[2021-01-04 18:20] arouinfar opened #642 "Why does the AC Source look so blurry?"
In #633 @samreid noticed the capacitor charges can sometimes look a little blurry which got me thinking about how much the blurry appearance of the AC source has been bothering me.

![image](https://user-images.githubusercontent.com/8419308/103565994-89391f00-4e7e-11eb-884e-ccc5fa475028.png)

It is noticeably lower quality than the other components. @samreid is there something we could do to impro

[2021-01-04 18:26] arouinfar commented on #622
@samreid things are looking good in master. Current signs seem to be correct, and I haven't seen any bouncing.

[2021-01-04 18:26] #622 closed

[2021-01-04 19:48] arouinfar commented on #629
Thanks @samreid! I'm generally liking this approach but it needs some fine tuning.

I think a `TOOLBOX_ICON_HEIGHT` of 35 is too small, which makes icons looks very disproportionate in size. For example, the resistor feels comically larger than the capacitor.
![image](https://user-images.githubusercontent.com/8419308/103572544-f7371380-4e89-11eb-9488-619970481bb3.png)

Part of the issue is that `T

[2021-01-04 20:34] samreid commented on #629
This needs to be completed before https://github.com/phetsims/QA/issues/587, so I've updated the milestone.

[2021-01-04 20:37] samreid commented on #627
I agree with the preceding comment, and changed the voltage chart default range to -10..10.  @arouinfar can you please review?  Close if it's working as desired.

[2021-01-04 21:20] arouinfar commented on #627
👍🏻

[2021-01-04 21:20] #627 closed

[2021-01-05 03:37] samreid commented on #605
I made other performance improvements in https://github.com/phetsims/circuit-construction-kit-common/issues/640, and will hence focus this issue on PDOMPeer.js

[2021-01-05 03:40] samreid commented on #641
There is indeed something wrong with the pointer areas:

![image](https://user-images.githubusercontent.com/679486/103603944-05f2ea00-4ecd-11eb-9ffe-0089eb04f832.png)

[2021-01-05 03:59] samreid commented on #641
Looking much better after these changes:
![Uploading image.png…]()

[2021-01-05 04:00] samreid commented on #641
Fixed, closing.

[2021-01-05 04:00] #641 closed

[2021-01-05 15:27] samreid commented on #629
One of the issues is that the AC source has a naturally small height, so the MAX_HEIGHT doesn't apply to it.  That will be addressed in https://github.com/phetsims/circuit-construction-kit-common/issues/642.  I'll need to see what's happening to the inductor and capacitor.

I think increasing the max height sounds good.  I deleted `TOOLBOX_ITEM_SPACING`, thanks for pointing out it is unused.  The

[2021-01-05 17:58] samreid commented on #642
I increased the resolution without changing the size, therefore I'll move it back to AC milestone.  @arouinfar can you please review?

[2021-01-05 18:01] arouinfar commented on #642
It looks so much better now, thanks @samreid!
![image](https://user-images.githubusercontent.com/8419308/103681899-5017b200-4f45-11eb-9fd3-6e2db6090c4b.png)

[2021-01-05 18:01] #642 closed

[2021-01-05 18:16] samreid commented on #629
In the first commit, I made it so no icon will be too small.  In the second commit, I adjusted the constants for size, max width, spacing and margin.  It now looks like this:

![image](https://user-images.githubusercontent.com/679486/103683403-61fa5480-4f47-11eb-8a7d-4aea140ef63d.png)

@arouinfar can you please take a look and advise?

[2021-01-05 19:23] arouinfar opened #643 "Increase number of voltage/current charts to 2"
We currently only have one of each chart type, but two voltmeters and non-contact ammeters. At first I thought this was a mistake, but it looks like we made the decision in https://github.com/phetsims/circuit-construction-kit-common/issues/518#issuecomment-538118656 to only allow one of each chart type. For comparison, Java has an unlimited number (which is certainly more than necessary).

I'd lik

[2021-01-05 19:34] samreid commented on #629
Eliminating the charge canvas helped fix the capacitor bounds.

[2021-01-05 19:43] samreid opened #644 "Schematic bulb thickness is too thick"
Schematic bulb thickness is too thick:

![image](https://user-images.githubusercontent.com/679486/103691529-8825f180-4f53-11eb-952a-db78e66a3a77.png)

[2021-01-05 20:00] samreid commented on #644
Fixed, closing.

[2021-01-05 20:00] #644 closed

[2021-01-05 20:00] ariel-phet commented on #643
I would be fine with 2 of each. It has the potential to get pretty crowded, but that is up to the user.

[2021-01-05 20:22] kathy-phet commented on #643
I'm fine with 2 of each as well!

[2021-01-05 20:25] samreid commented on #643
Sounds good to me! I think we are unanimous, so I'll self-assign and mark this for the AC milestone.

[2021-01-05 20:34] samreid commented on #629
@arouinfar and I worked on this further--ready for review.  Please close if all is well.

[2021-01-05 22:06] samreid commented on #637
Thanks, I simplified the code, closing.

[2021-01-05 22:06] #637 closed

[2021-01-05 22:07] samreid commented on #632
On hold until we decide on https://github.com/phetsims/scenery-phet/issues/555#issuecomment-754367935 and the following comments.

[2021-01-05 22:09] samreid commented on #605
@jessegreenberg can you please report on the status of this issue, and how it pertains to the upcoming publication of Circuit Construction Kit?

[2021-01-05 22:11] samreid commented on #590
Increasing priority, since this is one of the few remaining issues for the AC 1.0 milestone.

[2021-01-05 22:32] arouinfar commented on #629
👍🏻

[2021-01-06 03:26] samreid commented on #643
I increased the maximum to 2 current charts and 2 voltage charts, and this is ready for review.  I thought in one run, I saw the 2 voltage charts out-of-phase, but I was unable to replicate the problem.  @arouinfar can you please test?

[2021-01-06 03:40] samreid commented on #626
It seems straightforward to use the Biot-Savart Law to compute the magnetic field at a point, if we (a) only compute it for straight wires or components (e.g., not light bulbs) and (b) only compute it at a point, like for a compass, and not for showing the entire field (like ferromagnetic magnetic filaments), which could be more performance intensive.  For me, the more important question is whethe

[2021-01-06 04:25] samreid commented on #487
I believe we dropped support for edge, and I haven't seen this bug. Closing for now, but please reopen if I'm wrong or if it recurs.

[2021-01-06 04:25] #487 closed

[2021-01-06 16:19] brooklynlash opened #645 "Voltage probe can get stuck past the sim borders and can't be grabbed"
**Test device**
Lenovo ThinkPad

**Operating System**
Win10

**Browser**
Chrome, Firefox

**Problem description**
This is for https://github.com/phetsims/QA/issues/587
When dragging out the Voltage or Current probes (either screen), if you drag out to the edge of the screen one of the probes is stuck past the border and you cannot grab it. The only way to change this without clicking the orange re

[2021-01-06 16:40] brooklynlash opened #646 "Screenshot performance slow even with no items on screen"
**Test device**
Lenovo ThinkPad

**Operating System**
Win10

**Browser**
Chrome

**Problem description**
This is for https://github.com/phetsims/QA/issues/587
When taking a screenshot of either screen, it takes up to 10 seconds for the screenshot to download, even when no items are on the screen.

**Visuals**
![circuitsc2](https://user-images.githubusercontent.com/72031637/103795362-bc082200-4ffa-

[2021-01-06 22:06] arouinfar commented on #585
We've received another request for this feature on phethelp:

[2021-01-06 22:43] arouinfar commented on #643
@samreid I didn't see any issues with the phase of the voltage charts, but I did run into an issue with the current sign. I created two simple AC circuits (AC source + default resistor) and the current charts showed opposite polarities. The circuits were otherwise identical.

[2021-01-07 16:09] samreid commented on #646
Co-assigning @jonathanolson in case he has ideas about this before I investigate.

[2021-01-07 16:18] samreid commented on #632
In https://github.com/phetsims/scenery-phet/issues/555#issuecomment-755470226, we determined this will not be part of the AC 1.0 release, so I'll update the milestone.

[2021-01-07 17:12] samreid commented on #646
@amanda-phet pointed out there is a similar problem in 2/4 screens of Number Line Operations.

[2021-01-07 17:21] samreid commented on #646
It took around 4-5 seconds on my mac/chrome.

[2021-01-07 17:34] samreid opened #647 "Create a virtual lab version for AC"
Today, we agreed we would like to create a virtual lab AC version.

[2021-01-07 19:25] arouinfar commented on #626
Good to know @samreid!

I really don't see it within the scope of CCK's learning goals. We would need more constraint to properly focus on Biot-Savart Law, which really doesn't mesh with the sandbox nature of CCK. Faraday's EM Lab would be a closer fit, but with 5 screens, I don't see that sim getting any bigger. We could probably use an electrodynamics sim, but that's a long ways off.

[2021-01-07 19:34] oliver-phet commented on #626
I replied to the user, but forgot to add that to this issue. Here's the reply from the user:

[2021-01-07 20:52] samreid commented on #626
Since we don't have plans to introduce a compass into CCK, and the user has been notified, it seems we should close this issue.

[2021-01-07 20:52] #626 closed

[2021-01-09 00:06] KatieWoe opened #648 "Should toolbox carousel scroll to the top when realistic lightbulb added"
**Test device**
MacBook Air
**Operating System**
10.15.7
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/587.
When checking the "Add Realistic Bulbs" checkbox, the tool carousel scrolls back to the top. This can be a bit odd, especially if you were already on the last panel where the bulb would be. Turning off the box does not seem to do this.

**Visuals**
![ad

[2021-01-09 03:38] arouinfar commented on #648
Good catch @KatieWoe. It's supposed to scroll to the page that contains the Realistic Bulb.

[2021-01-11 22:47] DevonQui opened #649 "Strange Behavior With Dog Element"
**Test device**
MacBook Pro

**Operating System**
Big Sur 11.0.1

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/QA/issues/587

I noticed some strange behavior when trying to get the dog "resistor" to bark. When setting the battery on the "Lab" section of the sim to 1000V and connecting a wire from the negative terminal of the battery to a dog "resistor", you c

[2021-01-11 22:54] samreid commented on #649
Great discovery @DevonQui, thanks!  I'll investigate.

[2021-01-11 23:12] DevonQui commented on #649
Also noticed another case of strange behavior here...

https://drive.google.com/file/d/18VXn4aBb4pV2Grc-rx_b9Eri_oW4fBJF/view?usp=sharing

[2021-01-11 23:24] DevonQui opened #650 "Shouldn't Resistance Increase with Length of Wire?"
**Test device**
MacBook Pro

**Operating System**
Big Sur 11.0.1

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/QA/issues/587

Considering that the simulation gives people the option to look at values like resistance and voltage, shouldn't the resistance of the wire increase as the length of the wire increases? It's been a while since I've even studied that ty

[2021-01-11 23:58] samreid commented on #650
The wires do have resistivity, and on the lab screen, there is an option to change the wire resistivity:

![image](https://user-images.githubusercontent.com/679486/104251699-88c7f780-542d-11eb-9b3e-cbd55f3807fa.png)

What you are seeing on this display is that the battery has an internal resistance of 20 Ohms:
![image](https://user-images.githubusercontent.com/679486/104251905-fffd8b80-542d-11eb-9

[2021-01-12 00:15] arouinfar commented on #650
@samreid it looks like @DevonQui found a bug.

The label on the battery is only supposed to be indicative of the internal resistance of the battery and should be completely independent of the wire resistivity.

Set the internal resistance of a high-V battery to 10 ohms, and then short it. Maximize the voltage, and the displayed resistance will increase to 20 ohms. Reducing the internal resistance

[2021-01-12 01:32] samreid commented on #645
Thanks for discovering and reporting this bug.  I committed a fix to master.  Can you please verify on master?  This is for a dev test, so will not need to be cherry-picked to any branches.

[2021-01-12 01:41] samreid commented on #648
I committed a proposed fix, ready for review in master.  This is for a dev test, so would not need to be cherry picked into any branches.

[2021-01-12 01:58] samreid commented on #650
In https://github.com/phetsims/circuit-construction-kit-common/issues/245 we agreed to recompute the battery internal resistance when the battery current threshold is exceeded, I think that's what we are seeing here.  @arouinfar can you please advise?

[2021-01-12 03:09] samreid commented on #649
In https://github.com/phetsims/circuit-construction-kit-common/issues/512#issuecomment-745634034 and the following commit, we added this code to trigger a bark:

[code]

The problem is that the voltageDifference is computed like so: the voltage at each vertex is computed.  The dog start vertex is shared with the battery vertex, and hence is at 1000V.  The dog end vertex is at 0V, so it thinks the

[2021-01-12 03:22] samreid commented on #643
Thanks for the report @arouinfar, I was able to reproduce this problem:

![image](https://user-images.githubusercontent.com/679486/104265085-10bbfa80-544a-11eb-8050-2f8810ea4293.png)

This problem occurs because the sign "sense" or directionality of the current is chosen when the circuit is closed.  If you complete the 2nd circuit when the 1st circuit is positive, they will have the same sense:

!

[2021-01-12 04:04] samreid commented on #647
I finished setting this up, and it appears OK on my side.  @arouinfar can you please test?

[2021-01-12 05:29] arouinfar commented on #647
@samreid the Virtual Lab flavor shouldn't include the non-contact ammeter. It should be removed from the toolbox and the label should be changed to `Ammeter`.

[2021-01-12 05:50] samreid commented on #647
Good catch!  For unknown reasons, it looks like bayes/phettest is missing this commit https://github.com/phetsims/circuit-construction-kit-ac/commit/fee31fdbe929695ab371ddb047acb16822aa11fe

Also, I noticed that in DC-Virtual lab it reads "Ammeters" instead of "Ammeter"--should that be changed to singular as well?

[2021-01-12 13:57] kathy-phet commented on #649
Sam, we shouldn't be able to really get this scenario:

It should be 0V. Perhaps, it needs a time step to realize that both ends of the dog should be at the same voltage in this situation of not a complete circuit. If you could put a delay of a timestep or two in this code, I think the behavior would be corrected by that change:
  const voltage = this.voltageDifferenceProperty.value;
    if ( Math

[2021-01-12 16:25] KatieWoe commented on #648
Looks fixed in master. Now scrolls to bottom

[2021-01-12 16:29] samreid commented on #648
Excellent, thanks for reporting this problem.  New SHAs will be taken when we move to RC, closing.

[2021-01-12 16:29] #648 closed

[2021-01-12 18:25] KatieWoe opened #651 "Switching screens makes interacting with carousel difficult/impossible"
**Device**
iPad 6th Gen
**OS**
iPadOS 14
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/587. Wasn't able to reproduce on Mac 10.15 or iPhone iOS 13.
When you are on one screen, switch to the other with the nav bar, and switch back it is difficult or impossible to use the carousel arrows or pick up tools from that box. Other interactions, such as tools already

[2021-01-12 18:41] KatieWoe commented on #651
Does not happen in published. On master it doesn't seem to happen right now.

[2021-01-12 20:33] KatieWoe commented on #651
Potentially connected oddity I saw on ChromeOS. When you switch from one screen to the other, the mouse over the carousel arrows is an arrow rather than a hand. pressing down on a button does nothing the first time, but then the mouse will become a hand and you can interact as intended. I wonder if this is a less breaking version of this bug.

[2021-01-12 20:35] KatieWoe commented on #651
Saw on Win 10 Chrome as well, so it seems more general than ChromeOS.

[2021-01-13 04:40] samreid commented on #649
Great idea! I must say I'm surprised that the physics engine works like that--I outputted the dog voltages in each time step and saw:

time step 0 (before connecting battery): 0, 0
time step 1 (after connecting battery): 1000,0
time step 2 (one step after battery connection): 0, 0

I understand the value in time step 1, as described in https://github.com/phetsims/circuit-construction-kit-common/is

[2021-01-13 04:43] samreid commented on #651
I'm wondering if this dev version was published with the bad SHAs that affected https://github.com/phetsims/sun/issues/672 ?

[2021-01-13 05:45] kathy-phet commented on #649
Great. Glad the physics is working! This is what I would expect, except I wasn't sure it would happen in one timestep. Since its an open circuit it cannot maintain a voltage difference across the dog. If there is ANY voltage difference, current/electrons will shift/flow and then stop when the voltage difference is gone.

I don't think it needs to be half time steps. What you have above seems fine

[2021-01-13 16:06] brooklynlash commented on #645
It looks fixed on master! Everything looks great. So sorry for the delayed response.

[2021-01-14 02:12] ariel-phet commented on #649
@samreid I reviewed on master and the behavior looks good. Checked a few other cases (like shorting the battery with the lightbulb) and everything still looked good.

[2021-01-14 16:45] #645 closed

[2021-01-14 16:53] samreid commented on #649
Thanks, it seems like this issue is ready to be closed.

[2021-01-14 16:53] #649 closed

[2021-01-14 17:27] arouinfar commented on #646
I think this is a general issue in master. Taking screenshots in Fourier: Making Waves took more than 5 seconds on my Mac/Chrome.

[2021-01-14 21:43] samreid commented on #650
Proposal from design meeting: only show the displayed value of the slider, not the computed battery internal resistance.  Only show the internal resistance if the slider is set to non-zero.  We should be clear to update the teacher tips since this could be a source of confusion (if the internal resistance differs from what is displayed).

[2021-01-14 21:48] samreid commented on #651
I could not reproduce this problem on iPhone 12, but I'll also test on iPad.

[2021-01-14 21:49] KatieWoe commented on #651
Yeah, I think it may be something about iPadOS, since I didn't see it on my phone either. But I also have iOS 13 on my phone, so it may be connected to version.

[2021-01-14 21:57] samreid commented on #572
In today's design meeting, we discovered that the dog bark or fuse trip does not happen while paused.  We looked in the code and did not see an obvious immediate way to remedy this.  Since it doesn't seem as important as updating the currents or light bulb brightness, we will document it in the teacher tips without further implementation work.

[2021-01-14 22:27] samreid commented on #629
At today's meeting @kathy-phet pointed out that it is preferable to have wider margins for the carousel.  This can be seen when comparing to the published DC version, which has much wider margins:

![image](https://user-images.githubusercontent.com/679486/104656561-c66e8f80-567c-11eb-8fba-2758f13719d5.png)

Master:

![image](https://user-images.githubusercontent.com/679486/104656682-eb630280-567c-

[2021-01-14 22:37] samreid opened #652 ""Realistic Bulb" text is somewhat shrunken, should we change the name to "Real Bulb" to shorten it?"
From https://github.com/phetsims/circuit-construction-kit-common/issues/629.  "Realistic Bulb" text is somewhat shrunken, should we change the name to "Real Bulb" to shorten it?  If so, we would change the name in the code, query parameter, checkbox, etc.  In order to have a maxWidth that accommodates "Realistic Bulb" the icon width must be unnaturally wide.

It currently looks like this:
![image]

[2021-01-14 22:39] samreid commented on #652
@arouinfar and I agree the connotation of "realistic" is a little better.  @kathy-phet what do you recommend?

[2021-01-14 22:43] samreid commented on #629
In the commits, we increased the margin by 50%, and increased the icon sizes a little bit as well.  We reduced the spacing between icons (just a bit) to compensate.

Also, about the spacing above the top wire, we tried different settings for the AlignBox but "bottom" alignment was preferable.  We also looked at "hacking" carousel to move everything up a little bit, but were not familiar enough wit

[2021-01-14 22:44] samreid opened #653 "Battery tool icon has too much blank space between it and the label"
From https://github.com/phetsims/circuit-construction-kit-common/issues/629.  We had a similar problem with capacitors recently, I'll take a look.

[2021-01-14 22:45] samreid commented on #653
![image](https://user-images.githubusercontent.com/679486/104658193-8957cc80-567f-11eb-8930-6643c4780c19.png)

[2021-01-14 22:46] samreid commented on #629
I also opened a side issue about pruning whitespace between the battery tool icon and its text.  That will help this issue somewhat.

[2021-01-14 22:53] arouinfar opened #654 "Final pixel polishes/tweaks for DC flavors"
During today's design meeting, I noticed that the "Add Realistic Bulbs" checkbox looks bigger than other checkboxes. I should review the DC flavors to see if there are any other pixel polishes we should take care of before going to RC.

[2021-01-14 22:56] arouinfar commented on #646
@samreid I added this issue to the DC milestone. Milestones can't handle things across repos, so I can't tag the underlying scenery issue.

[2021-01-14 22:59] arouinfar commented on #652
Based on connotation alone, I think "realistic" is better, but with the other design concerns, I'd go with "real".

Another benefit of using "real" is that the query parameter will be shorter `addRealBulbs` instead of `addRealisticBulbs`.

[2021-01-15 19:35] arouinfar commented on #562
@samreid this will need to be done in the DC - Virtual Lab flavor too. Currently, all user-interface sounds are present in master.

[2021-01-15 19:42] arouinfar commented on #654
@samreid I've finished reviewing DC and DC-VL in master, and I found a few small things. I reopened #562 because DC-VL still has the UI sounds that were turned off in DC. Additionally, let's make these changes:

- [ ] Reduce the size of the the "Add Realistic Bulbs" checkbox so it is the same size as the other checkboxes in the sim.
- [ ] Center the animation speed string in the play area between

[2021-01-19 14:52] JCRuizT opened #655 "Spinner control to Keyboard input"
Good morning,  I have a question, is it possible to change the spinner controls to one where the value can be entered by keyboard? Thank you very much.

[2021-01-19 17:37] samreid commented on #650
I changed the battery readout value to only display the user-specified internal resistance, not the computed internal resistance.  @arouinfar can you please review?

[2021-01-19 17:45] samreid commented on #651
I was easily able to reproduce this problem on an iPad 7 running iOS 14.3.  The problem is very severe.  I did a fresh build from master and the problem is gone.  So https://github.com/phetsims/sun/issues/672 is still a candidate for what caused the problem, but we still don't know exactly what caused https://github.com/phetsims/sun/issues/672.  Still, this seems corrected and ready for review in

[2021-01-19 17:52] samreid commented on #653
This is caused by the larger vertical height of the schematic battery icon.  You can see this if you switch back and forth between lifelike & schematic.  If we want to reduce the size of the battery schematic icon, we cannot simply scale it without its width and line width getting out of sync compared to the other schematic elements.  @arouinfar how do you recommend to proceed?

[2021-01-19 17:55] samreid commented on #562
Fixed and confirmed on my side, @arouinfar can you please test?

[2021-01-19 18:15] samreid commented on #654
Fixed and ready for testing.

[2021-01-19 18:18] arouinfar commented on #562
👍🏻

[2021-01-19 18:18] #562 closed

[2021-01-19 18:19] arouinfar commented on #654
Looks great, thanks @samreid!

[2021-01-19 18:19] #654 closed

[2021-01-19 18:21] arouinfar commented on #653
Oh, that makes sense @samreid. I don't think we should make any changes to the schematic battery, so I'll go ahead and close.

[2021-01-19 18:21] #653 closed

[2021-01-19 18:24] arouinfar commented on #650
Looks good in master @samreid.

[2021-01-19 18:26] samreid commented on #650
Thanks, I'll mark this for a double-check in the RC.

[2021-01-19 18:52] samreid commented on #646
@jonathanolson fixed https://github.com/phetsims/scenery/issues/1139 and it has been reviewed and closed.  @arouinfar can you double check that CCK seems reasonable after that change?  Close if all is well.

[2021-01-19 19:06] arouinfar commented on #646
Screenshot performance is snappy in master, closing.

[2021-01-19 20:30] samreid commented on #650
On second thought, this seems good to close.

[2021-01-19 20:30] #650 closed

[2021-01-21 16:10] samreid commented on #605
@jessegreenberg does this block publication of CCK AC?

[2021-01-21 16:36] jessegreenberg commented on #605
After changes in https://github.com/phetsims/scenery/issues/1088 and https://github.com/phetsims/scenery/issues/1094, there shouldn't be a performance loss related PDOMPeers. Let me make sure I can reproduce the screenshot in https://github.com/phetsims/circuit-construction-kit-common/issues/605#issuecomment-707393305 on master (not seeing any time in PDOMPeer positioning), then I think this can b

[2021-01-21 16:51] jessegreenberg commented on #605
Confirmed, a built version with --minify.mangle=false and dragging around a resistor, I don't see time in PDOMPeer.
![image](https://user-images.githubusercontent.com/6396244/105383236-e521d880-5bde-11eb-88cd-562ff2a5c08e.png)

@samreid I think this can be closed, back to you.

[2021-01-21 17:01] samreid commented on #605
Excellent, thanks @jessegreenberg, closing.

[2021-01-21 17:01] #605 closed

[2021-01-21 17:22] samreid opened #656 "Disable keyboard navigation for AC and AC virtual lab"
@jessegreenberg pointed out that AC should not be keyboard accessible yet, it probably needs this snippet:

[code]

[2021-01-21 17:23] samreid commented on #656
To make this work @jessegreenberg points out they will also need `"supportsInteractiveDescriptions": true` in package.json.

[2021-01-21 23:53] kathy-phet commented on #652
I'm OK with changing to real, although I do agree with "realistic" as conveying more meaning/sentiment.

I do want to mention that on phettest I did not see either version - I only saw "Light Bulb" twice.

[2021-01-22 00:03] arouinfar commented on #652
Thanks @kathy-phet. @samreid let's proceed with changing things over to "Real Bulb". Please update the component label in the carousel, the checkbox label, and the query parameter.

That sounds strange to me. "Light Bulb" does appear twice for the regular and high-R bulbs, but I'm still seeing "Realistic Bulb" in master:
![image](https://user-images.githubusercontent.com/8419308/105427279-04822b00

[2021-01-22 01:23] kathy-phet commented on #629
I like having the width with the bit of white space on either side of the icons. I think I would suggest just slightly smaller icons (mostly the height feels like it can crowd the icon above it. If a current icon is say fitting in a space that is 30 tall x 40 wide (just making these numbers up), can you adjust the space to be 25 tall x 35 wide, and then keep the overall spacing of the icon names s

[2021-01-23 16:22] #655 closed

[2021-01-23 20:58] samreid commented on #652
Changed in the commits, @arouinfar can you please test?

[2021-01-27 03:05] samreid commented on #629
I made it so the icon sizes can be adjusted independently, and I updated them as @kathy-phet prescribed, here is the before: after:

![image](https://user-images.githubusercontent.com/679486/105936907-be660680-6011-11eb-9574-d584e1e3271e.png)

[2021-01-27 03:08] samreid commented on #629
I made the lifelike/schematic buttons taller in both brands, it fits OK in AC, but we could have a different size in DC if necessary.

[2021-01-27 03:22] samreid commented on #629
I adjusted the carousel width slightly, and updated the button dimensions in the commit.  There is already code that scales each button group so its width matches the carousel, so adjusting the sizes was sort of "guess and check" and involved adjusting the spacing.

[2021-01-27 03:54] samreid commented on #629
I increased the carousel size for the DC simulations, since it is for a younger audience it makes sense to make it more "cartoonish" and more appealing--using the sizes optimized for AC didn't seem like a good fit.

[2021-01-27 03:56] samreid commented on #629
After increasing the pointer areas for the lifelike/schematic radio buttons and zoom buttons, I tested on iPhone and found buttons easy to press.  We have a meeting schedule to discuss this Thursday, but let me know if you have any feedback before then.

[2021-01-27 04:07] arouinfar commented on #629
Thanks @samreid! Let's finalize things in design meeting.

[2021-01-27 04:24] arouinfar commented on #647
The Virtual Lab flavors look good, including the singular/plural "Ammeter(s)" label.

[2021-01-27 04:24] #647 closed

[2021-01-27 04:25] arouinfar commented on #652
Looks good in master @samreid.

[2021-01-27 04:25] #652 closed

[2021-01-27 05:21] samreid commented on #656
Fixed in the commits and seems to be testing OK on my system.  @jessegreenberg can you please review or spot check as you see fit?

[2021-01-27 18:43] jessegreenberg commented on #656
This looks good to me and I tried to test to make sure it works. I tried CCK:AC, CCK:DC, CCK:AC Virtual Lab and CCK:DC Virtual Lab. For all of them I could delete components by pressing the "backspace" key, but I was not able to tab around the sim.

[2021-01-27 23:11] samreid commented on #656
Thanks @jessegreenberg! Closing.

[2021-01-27 23:11] #656 closed

[2021-01-28 21:32] samreid commented on #629
We agreed 1.2 looks good.

From today's meeting:
@arouinfar: make the lifelike battery a little bigger, to match the battery width.  She can edit the file directly, see the preceding commit https://github.com/phetsims/circuit-construction-kit-common/commit/2d87f1f4cd609832ac7b494fee31e41121dbefb8 for guidance.
@samreid: Fix the stroke of the AC voltage (create a new issue)
@arouinfar: investigate

[2021-01-29 16:44] samreid opened #657 "Investigate a schematic icon for AC source"
From https://github.com/phetsims/circuit-construction-kit-common/issues/629, we would like to investigate a schematic icon for AC source.  @arouinfar can you please take the lead?

[2021-01-29 16:44] samreid commented on #629
I opened a side issue for the schematic AC source.  Leaving this issue assigned to @arouinfar to revise the icon sizes as necessary.

[2021-01-29 17:38] arouinfar commented on #657
@samreid this is the schematic icon for an AC source. It seems to be the same in both IEEE and IEC standards.

![image](https://user-images.githubusercontent.com/8419308/106308545-18d3b280-621e-11eb-862a-072b4680b4eb.png)

[2021-01-29 17:40] samreid commented on #657
Should I use what is already in the code but (a) fixing the stroke and (b) getting rid of the +/- signs?

[2021-01-29 17:42] arouinfar commented on #657
@samreid that sounds reasonable. For schematic, we should:

- [ ] Match stroke of other schematic icons
- [ ] Remove white fill
- [ ] Remove +/- signs

[2021-01-29 18:14] samreid commented on #657
I proposed fixes for each recommendation in the commit, can you please review?  Note this also made corresponding minor modifications to the lifelike view.

[2021-01-29 18:44] arouinfar commented on #629
I made some slight changes to the icon height, and they now look more balanced to me.

Here are some before (left)/after (right) comparisons:
<img width="234" alt="Screen Shot 2021-01-29 at 11 41 08 AM" src="https://user-images.githubusercontent.com/8419308/106314448-fabe8000-6226-11eb-999d-4dbb6bdb5e4d.png">

<img width="236" alt="Screen Shot 2021-01-29 at 11 41 24 AM" src="https://user-images.gi

[2021-01-29 18:48] samreid commented on #629
I compared before/after in the browser and all changes seem good.  Nice work @arouinfar!  Closing.

[2021-01-29 18:48] #629 closed

[2021-01-29 19:11] arouinfar commented on #657
@samreid  the new schematic looks great! I'm not so sure that I like the thicker outline stroke in the lifelike view. Would it be possible to dial it down a bit to look more similar to the other lifelike icons?
![image](https://user-images.githubusercontent.com/8419308/106317090-001dc980-622b-11eb-8f17-4dc08b7e6748.png) ![image](https://user-images.githubusercontent.com/8419308/106317107-04e27d80-

[2021-01-29 19:18] samreid commented on #657
I set the schematic stroke to 4 and lifelike stroke to 2.  Please review.  Feel free to adjust or request changes as you see fit.

[2021-01-29 21:16] arouinfar commented on #657
Looks great, thanks @samreid!

[2021-01-29 21:16] #657 closed

[2021-01-30 00:11] samreid commented on #616
All issues complete.  @arouinfar said she would like to take it for a test drive before we move forward with the QA placeholder issue.

[2021-02-01 19:15] samreid commented on #151
Here is a posting to the Google Group from Jan 18, 2021:

[2021-02-03 22:20] samreid commented on #616
@arouinfar said she tested this a bit on Friday, and this is ready to create an RC.

[2021-02-04 20:43] DevonQui opened #658 "Voltmeter can be "Lost" when zooming in on Lab section"
**Test device**
MacBook Pro

**Operating System**
11.0.1 Big Sur

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/QA/issues/605

When zooming out completely, placing the voltmeter on the edge of the sim screen, and then zooming in, the voltmeter will go off screen. I noticed that the ammeter doesn't have the same behavior because it stays within the bounds of th

[2021-02-05 22:36] muedli commented on #658
I managed to lose both the voltmeter and the ammeter following @DevonQui's steps on iOS 14.3 + Safari 14.0.2.

[2021-02-05 23:51] liam-mulhall opened #659 "Z-ordering of light bulb is wrong"
For https://github.com/phetsims/QA/issues/605.

![File_000](https://user-images.githubusercontent.com/60749003/107100461-ad678300-67d1-11eb-9297-7cda869ae331.png)

Notice how the fire is behind the light bulb's metal portion, but in front of the light bulb's glass portion.

I've seen this on multiple platforms and it seems to be an issue in both the RC linked above and the published version.

EDIT

[2021-02-08 17:49] brooklynlash commented on #659
I also noticed this with other objects covering the bulb:
![lightbulb1](https://user-images.githubusercontent.com/72031637/107260368-46c5ad80-69fb-11eb-99aa-69a5322c02e1.PNG)
![lightbulb2](https://user-images.githubusercontent.com/72031637/107260373-488f7100-69fb-11eb-84c6-a702a5a9c7b2.PNG)

[2021-02-09 18:50] DevonQui commented on #658
I was also able to lose both using a different method. Shown below

First readjust the size of the window itself by stretching it super wide...
<img width="1264" alt="Screen Shot 2021-02-09 at 11 47 12 AM" src="https://user-images.githubusercontent.com/72042459/107412234-acce3580-6acc-11eb-841b-e9c585044dfa.png">

Then set the window size back to normal and the items will be lost. This still only

[2021-02-09 19:01] KatieWoe commented on #651
This looks good in rc.1

[2021-02-09 19:01] #651 closed

[2021-02-09 23:41] KatieWoe commented on #659
Noting that this does seem to happen in the published sim. I also noticed that the light lines seem layered behind other objects, even if the bulb is on top. This is also in the published sim.
<img width="167" alt="lightbehind" src="https://user-images.githubusercontent.com/41024075/107443213-a607e880-6af5-11eb-92b5-10095b3124f4.png">

[2021-02-10 18:38] KatieWoe opened #660 "Possible Memory Leak"
For https://github.com/phetsims/QA/issues/605. Done on Win 10 Chrome with CCK DC sim.
Start: 25.3
1 min: 111
2 min: 152
3 min: 192
4 min: 218
5 min: 242
6 min: 251
7 min: 227
8 min: console crashed.

I also noticed that, while fuzz testing for this memory test, sometimes the electrons would appear to be floating free of the objects. Not sure how to achieve this without fuzz testing.
<img width="38

[2021-02-10 19:15] KatieWoe commented on #660
For comparison, here are the results from the published sim:
Start: 16.6
1 min: 33.8
2 min: 40.9
3 min: 68
4 min: 64.5
5 min: 39.4
6 min: 37.8
7 min: 56
8 min: 34.5
9 min: 32.8
10 min: 29

I also didn't notice the electron behavior from above

[2021-02-10 19:53] KatieWoe opened #661 "Labels and Values have different sized pointer areas on the two screens"
For https://github.com/phetsims/QA/issues/605. Very minor issue and appears in published version. Feel free to close.

The pointer areas for the Labels and Values checkboxes extend towards the end of the box they are in. However, even though the box itself seems to be the same width between screens, the pointer area on the first screen is shorter than the second screen.

![difpointarea](https://us

[2021-02-10 21:24] KatieWoe opened #662 "Unable to drag fuse slider to end of slider"
**Test device**
Lovelace
**Operating System**
ChromeOS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/605.
When dragging the slider it increments by 1.0, but the arrows go by .1. This means that you can't drag the fuse to it's minimum setting. It stops at 1.0, but it's actual minimum is .5.
This was not an issue in the published version, which seems to be beca

[2021-02-10 21:52] arouinfar commented on #662
@samreid let's change the `constrainValue` to 0.5

[2021-02-10 21:54] KatieWoe opened #663 "Virtual lab does not have options dialog to switch schematic type"
**Test device**
Lovelace
**Operating System**
ChromeOS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/605. The CCK DC sim has an options dialog in the PhET menu that allows the user to switch between IEEE and IEC. The Virtual Lab version does not have the options dialog. Using the `schematicStandard=iec` query parameter does still work.

**Visuals**
<img width

[2021-02-10 21:56] arouinfar commented on #661
@samreid I'm fine with closing this as wont-fix, but I'll leave it up to you.

[2021-02-10 22:00] arouinfar commented on #663
Nice find @KatieWoe! Looks like an oversight to me. @samreid all ac/dc flavors of CCK should have an options dialog for the schematic standard.

[2021-02-10 22:07] arouinfar commented on #659
Thanks @liam-mulhall @brooklynlash @KatieWoe!

This behavior has been around since the 1.0 release of CCK: DC, and I'm pretty sure it's been discussed before, though I couldn't track down the issue.

While it definitely looks weird, the z-ordering is a bit complicated in this sim and there likely isn't an easy fix. Generally speaking, electrons need to go on top of components. The light bulb is a

[2021-02-10 23:13] KatieWoe opened #664 "Conventional arrows break when objects are dragged out of toolbox"
**Test device**
MacBookPro
**Operating System**
Mac 10.15
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/605.
When you have a circuit going, and you drag a new object out of the toolbox, the conventional arrows disappear. If you click on the battery the arrows will return, but will also appear on objects they shouldn't that aren't on a circuit.
Does not seem t

[2021-02-10 23:43] KatieWoe commented on #664
This does not seem to happen with the voltmeter or the single point ammeter. The in-circuit ammeter does cause this bug.

[2021-02-11 19:33] KatieWoe commented on #664
Sometimes touching the battery may not bring the arrows back, but other interactions might.

[2021-02-12 22:37] samreid commented on #658
I committed a proposed fix, @DevonQui can you please test the fix in master?  If it seems correct, please reassign to me to cherry-pick into the RC branch.

[2021-02-13 03:13] samreid commented on #660
Thanks for finding this new problem, I corrected it on my side and ran a test over about 15 minutes:
![image](https://user-images.githubusercontent.com/679486/107840292-cb535b80-6d6e-11eb-815f-1a8158058cfd.png)

I'll commit shortly.

[2021-02-13 03:15] samreid commented on #660
To try to make the tests more reproducible, I tried to press "Reset All" on both screens before capturing the memory snapshot--to try to avoid noise.  @KatieWoe can you please test on one platform in master?  If it seems good, please reassign to me and I'll cherry pick it into the RC.

[2021-02-13 03:33] samreid commented on #663
Thanks for discovering this problem, I corrected it in the commit.  Please review and if everything seems good in master, please reassign to me so that I may cherry pick to the branch.

[2021-02-13 03:49] samreid commented on #662
In the commit, I round `constrainValue` to 0.5 instead of 1.  It seems OK on my side.  @arouinfar or @KatieWoe can you please review in master?  If it is OK, please reassign to me so I can cherry pick into the RC.

[2021-02-13 04:05] samreid commented on #664
I committed a proposed fix, @KatieWoe can you please test in master?  If it checks out, please reassign to me to cherry pick to the RC.

[2021-02-15 03:28] arouinfar commented on #662
Looks good @samreid.

[2021-02-15 05:19] arouinfar opened #665 "Update DC & DC-VL screenshots"
For #616

There have been enough visual changes and new features to warrant new screenshots. These will need to be cherry-picked into the current release branch (sorry I didn't think of this sooner @samreid).

Self-assigning to update the screenshots.

[2021-02-15 05:20] arouinfar commented on #665
Nevermind, I can commit them directly to master and the release branch.

[2021-02-15 19:29] DevonQui commented on #658
@samreid checked this in master and the issue has been resolved.

[2021-02-15 19:49] KatieWoe commented on #660
Here is my new memory test from master. It looks better:
<img width="417" alt="newmemtest" src="https://user-images.githubusercontent.com/41024075/107987868-0d0d1d80-6f8c-11eb-9e16-537976c7206a.png">
@samreid I did still see the odd electron behavior. Should this get it's own issue, or is it not worth an issue?
<img width="546" alt="electrons" src="https://user-images.githubusercontent.com/4102407

[2021-02-15 20:15] KatieWoe commented on #663
Options menu has been added on master

[2021-02-15 20:34] KatieWoe commented on #664
Looks fixed from what I see on master

[2021-02-16 00:21] arouinfar commented on #665
@samreid I updated the screenshots in master and the 1.2 branches in the above commits. I think that should take care of things, but in case there's something else that needs to be done, I'll pass this off to you.

[2021-02-16 19:48] samreid opened #666 "Sometimes during fuzzing, electrons become disassociated from the circuit elements"
As described in https://github.com/phetsims/circuit-construction-kit-common/issues/660

<img width="381" alt="leftbehindmemtest" src="https://user-images.githubusercontent.com/41024075/107555317-401e6e00-6b94-11eb-9924-7c646cfc4d63.png">

[2021-02-16 19:48] samreid commented on #660
I opened a new issue for the electrons getting disassociated..

[2021-02-16 20:15] samreid opened #667 "Cherry picks for the 1.2 release of DC and DC Virtual Lab"
Here are the commits to cherry pick for the upcoming 1.2 release:

https://github.com/phetsims/circuit-construction-kit-common/commit/2753793007394244d586a82081b4bd4b3712e36e
https://github.com/phetsims/circuit-construction-kit-common/commit/1dcefb688c4d9c2522e027fb4a3f06323ee93d07
https://github.com/phetsims/circuit-construction-kit-common/commit/24888bc038151ef90be91e801f94f19fa87df08a
https://g

[2021-02-16 20:22] arouinfar commented on #667
@samreid can you add https://github.com/phetsims/joist/commit/991d6a448a869bff9ed7836676eae9fdd2c9aeed to the list? There are joist sounds in the latest rc, which is odd because all other UI sounds are disabled, see https://github.com/phetsims/joist/issues/680.

[2021-02-16 20:27] samreid commented on #667
In https://github.com/phetsims/QA/issues/605#issuecomment-773576084 it was said:

In https://github.com/phetsims/QA/issues/605#issuecomment-777985354 @jessegreenberg said:

@jessegreenberg said:

[2021-02-16 21:34] samreid commented on #667
I applied patches for all of the above, but @jonathanolson recommended we coordinate with @jessegreenberg about the others before publishing the next RC.

[2021-02-16 22:37] samreid opened #668 "There should be no sound on the home screen icons or other joist parts"
Check that https://github.com/phetsims/joist/issues/680 is corrected in the patched RC.

[2021-02-16 22:48] samreid commented on #667
@pixelzoom indicated that https://github.com/phetsims/joist/issues/680 only affects CCK sims, so I went ahead and patched it.  Afterwards, I realized that it made commits to a branch in joist.  Hopefully this doesn't disrupt ongoing maintenance releases.  Oh, next I realized that the fix for https://github.com/phetsims/phet-android-app/issues/155 was a scenery commit.  I checked that fix was in bo

[2021-02-17 00:38] samreid opened #669 "Joist touch up issue should be corrected"
From https://github.com/phetsims/joist/issues/658#issuecomment-772811567, we need to make sure it is corrected in next RC.

[2021-02-17 00:39] samreid opened #670 "The next RCs should have the Android fixes"
From https://github.com/phetsims/phet-android-app/issues/155, the next RC's should work in Android

[2021-02-17 00:39] samreid commented on #667
I'll track the rest of the work in separate issues, closing.

[2021-02-17 00:39] #667 closed

[2021-02-17 01:01] samreid commented on #665
This is ready for spot checking in the deployments listed for https://github.com/phetsims/QA/issues/610

[2021-02-17 01:02] samreid commented on #658
This is ready for spot checking in the deployments listed for https://github.com/phetsims/QA/issues/610, please close if it seems correct in RC.2.

[2021-02-17 01:02] samreid commented on #660
This is ready for spot checking in the deployments listed for https://github.com/phetsims/QA/issues/610, please close if it seems correct in RC.2.

[2021-02-17 01:02] samreid commented on #662
This is ready for spot checking in the deployments listed for https://github.com/phetsims/QA/issues/610, please close if it seems correct in RC.2.

[2021-02-17 01:02] samreid commented on #663
This is ready for spot checking in the deployments listed for https://github.com/phetsims/QA/issues/610, please close if it seems correct in RC.2.

[2021-02-17 01:02] samreid commented on #664
This is ready for spot checking in the deployments listed for https://github.com/phetsims/QA/issues/610, please close if it seems correct in RC.2.

[2021-02-17 01:02] samreid commented on #668
This is ready for spot checking in the deployments listed for https://github.com/phetsims/QA/issues/610, please close if it seems correct in RC.2.

[2021-02-17 01:02] samreid commented on #669
This is ready for spot checking in the deployments listed for https://github.com/phetsims/QA/issues/610, please close if it seems correct in RC.2.

[2021-02-17 01:02] samreid commented on #670
This is ready for spot checking in the deployments listed for https://github.com/phetsims/QA/issues/610, please close if it seems correct in RC.2.

[2021-02-17 19:17] Matthew-Moore240 opened #671 "On a 1440p monitor you can move and see the voltmeter pens below the black bar at the bottom of the sim screen"
**This problem only appears for me at 1440p and does not appear at all in 1080p**

**Testing Device**
Windows pc with a 1440p monitor
**Operating System**
Windows 10
**Browser**
Firefox version 85.0.2  64 bit
**Problem description**
You can move the voltmeter pens in the lab section to the very bottom of the sim and still see and move them from the tiny sliver that you can see.

**Steps to reprodu

[2021-02-17 19:27] samreid commented on #671
It looks like (a) the navigation bar isn't all the way at the bottom of the screen and (b) the screen view extends beyond the top of the navigation bar.  I could not reproduce this problem on Mac/Chrome or Firefox on a 2048x1152 external monitor.  Let's open up a joist issue for further investigation, but this shouldn't block publication.

[2021-02-18 01:34] samreid opened #672 "AC Code Review"
New code for AC should be reviewed before release.  Past review was done in https://github.com/phetsims/circuit-construction-kit-common/issues/317 by @jonathanolson

List of directories/files to be reviewed:

circuit-construction-kit-ac/
circuit-construction-kit-common/doc/implementation-notes.md
circuit-construction-kit-common/doc/model.md
circuit-construction-kit-common/js/model/ACVoltage.js
cir

[2021-02-18 19:00] samreid commented on #672
At today's dev meeting, @kathy-phet asked if @pixelzoom could do this review.  @pixelzoom agreed and requested that @samreid provide a scope and list of files.

[2021-02-19 18:55] pixelzoom commented on #570
@samreid You asked @ariel-phet to review, he commented, but did not assign back to you.  So back to you to decide what's next.

[2021-02-19 21:51] KatieWoe commented on #665
Screenshots look good and seem to be in the right folders

[2021-02-19 21:51] #665 closed

[2021-02-19 22:16] KatieWoe commented on #658
Looks good in rc.2

[2021-02-19 22:16] #658 closed

[2021-02-19 22:50] KatieWoe commented on #660
DC memory test:
<img width="413" alt="maybefixedmemtest" src="https://user-images.githubusercontent.com/41024075/108569971-17038900-72ca-11eb-8b43-36802e919377.png">
VL memory test:
<img width="415" alt="VLmemtest" src="https://user-images.githubusercontent.com/41024075/108569977-1d920080-72ca-11eb-922d-33e70f6512a3.png">
@samreid if these are expected numbers, please close.

[2021-02-19 23:15] samreid commented on #660
That seems much better, thanks!  Closing.

[2021-02-19 23:15] #660 closed

[2021-02-19 23:16] KatieWoe commented on #662
Looks good in rc.2

[2021-02-19 23:16] #662 closed

[2021-02-19 23:22] KatieWoe commented on #663
Looks good in rc.2

[2021-02-19 23:22] #663 closed

[2021-02-19 23:29] KatieWoe commented on #664
Looks good in RC.2

[2021-02-19 23:29] #664 closed

[2021-02-19 23:39] KatieWoe commented on #668
I only seem to get sound with the dog bark

[2021-02-19 23:39] #668 closed

[2021-02-19 23:41] samreid commented on #659
@arouinfar described the problem eloquently--at one point we tried to have each electron rendered "in the layer of the component it is in" but that led to problems when junctioning with another circuit element.  I think this should be closed.

[2021-02-19 23:41] #659 closed

[2021-02-20 00:20] KatieWoe commented on #670
Looks ok using link in https://github.com/phetsims/QA/issues/608

[2021-02-20 00:20] #670 closed

[2021-02-20 00:34] KatieWoe commented on #669
Looks good in rc.2

[2021-02-20 00:34] #669 closed

[2021-02-22 18:11] brooklynlash opened #673 "Performance differences in published and current rc"
This is for https://github.com/phetsims/QA/issues/610, seen on Win10 Firefox.

I noticed that when the batteries are current-overloaded on this rc (the battery is on fire), the performance gets substantially laggy, but on published it seems to work fine. On published, the current/electrons stop moving when you move the wires around and they don't in this rc, which seems to help the problem.

Let m

[2021-02-22 20:42] KatieWoe commented on #646
For https://github.com/phetsims/QA/issues/610 I was seeing a bit of slowness on iPadOS 14. Not too bad, but it usually better on that device.

[2021-02-24 15:47] arouinfar commented on #673
Was this an intentional deviation @samreid?  Seems like we should be pausing the current representation when dragging components, like we used to do.

[2021-02-24 15:52] arouinfar commented on #646
https://github.com/phetsims/scenery/issues/1139 was considered bad enough to block all sim publication, so I need more information before I can make a call about CCK.

@KatieWoe can you provide more information? Is iPadOS 14 the only platform you see the issue on? Does it happen in other sims on master? Can you quantify the delay, are we talking 2-3 seconds or something worse?

[2021-02-24 15:52] samreid commented on #673
I compared published (1.1.5) to master and it seems the electrons have the same behavior when dragging.  Can you please confirm or let me know if I'm missing something?

[2021-02-24 16:09] arouinfar commented on #673
@samreid I feel a bit crazy right now. I took latest (1.1.5) and 1.0.0 for a drive (macOS 10.15.7 Chrome/Safari) and I'm not seeing the current pause when elements are dragged. However, I have specific memories of the current pausing, and I know we must have talked about this before because the teacher tips say:

Regardless, this sounds serious to me:

I have access to a Win10 machine, so I'll giv

[2021-02-24 16:10] arouinfar commented on #673
@samreid here's the paper trail for the pausing current https://github.com/phetsims/circuit-construction-kit-common/issues/147

[2021-02-24 16:42] samreid commented on #673
In #147 we decided to reset the phase of the electrons on each drag event.  That is what is happening in both master and the published version.  The effect is that if you smoothly and continuously drag the wire, the electrons will not move.  This also means if you drag very slowly (so that there are periods of time where the circuit isn't moving at all), then the electrons will stutter--move a lit

[2021-02-24 16:44] samreid commented on #646
I tested on iPad 7 running iOS 14.4 with RC.2 and it was around a second (perhaps 1.2 sec) to generate the screenshot.

[2021-02-24 17:11] arouinfar commented on #673
Thanks for the clarification about #147 @samreid. I do see a slight pause if I've reached the animation speed limit, so perhaps that's what I was thinking of.

Well, I couldn't get the sim to load in Firefox (never progressed past the splash screen), and I didn't have time to troubleshoot. Given the amount of QA testing, I'm inclined to believe this is an issue with the particular machine or Firef

[2021-02-24 17:13] arouinfar commented on #646
That sounds reasonable to me @samreid. I'm comfortable closing this issue if you are.

[2021-02-24 17:20] KatieWoe commented on #646
I saw it a bit on ChromeOS, but in both cases it was less than 2 seconds.

[2021-02-24 17:21] samreid commented on #646
That seems like an acceptable delay for generating a screenshot, closing.

[2021-02-24 17:21] #646 closed

[2021-02-24 17:25] samreid commented on #673
I marked as "blocks sim publication" since it seems we shouldn't publish the RC until we know more about this problem.

[2021-02-24 21:42] arouinfar commented on #673
Co-assigning @KatieWoe since this is the only issue that determines if CCK needs another round of testing or not.

[2021-02-24 21:48] KatieWoe commented on #673
The failure in https://github.com/phetsims/circuit-construction-kit-common/issues/673#issuecomment-785230759 worries me much more than the performance, but I'm stumped as to how it happened. @arouinfar do you want to pair at some point to see if we can track it down?

[2021-02-24 21:50] kathy-phet commented on #673
This seems like a more robust solution.

[2021-02-24 21:51] KatieWoe commented on #673
May look like https://github.com/phetsims/installer-builder/issues/107?

[2021-02-24 22:08] samreid opened #674 "Pause the flow of electrons in a circuit on touch/mouse down and resume on up"
From https://github.com/phetsims/circuit-construction-kit-common/issues/673#issuecomment-785408131

I said:

@kathy-phet replied:

Should this be implemented for DC (the current release), or for the upcoming AC release?  Is it important that only the electrons in the circuit connected to the dragged element pause, or would it be OK or preferable to pause all electrons on drag (may be simpler)?

[2021-02-24 22:13] samreid commented on #673
@arouinfar do you see the `runWeback` bug on any other PhET simulations on your Win/Firefox?

[2021-02-24 22:31] arouinfar commented on #673
The problematic Win10/Firefox device is my husband's work computer, so I can't really commandeer it right now. He was able to open a few sims at random from the website (Equality Explorer and Gravity Force Lab), but several others are failing to load
![image](https://user-images.githubusercontent.com/8419308/109074299-d2eefa80-76b4-11eb-90eb-70f2434390b9.png)
![image](https://user-images.githubuse

[2021-02-24 22:33] arouinfar commented on #674
I don't know that I would invest any resources into this. It's currently being floated as a potential solution to a problem that we don't even know the severity of.

[2021-02-24 22:42] KatieWoe commented on #673
That is very concerning.

[2021-02-24 23:02] brooklynlash commented on #673
@arouinfar regarding the lag on Firefox, I was not able to replicate it today with the same devices and same steps I used yesterday, which I think is odd, but I agree it is probably machine-dependent. I am not sure what you want for the screencaps but I can send whatever you need from my device.

[2021-02-24 23:09] arouinfar commented on #673
Thanks @brooklynlash!  I dug up an old laptop, and didn't see any noticeable difference in performance in rc.2 and latest in Win10/Firefox, so I think we can close this issue.

I can move the failed sim-loading comments to another issue. @samreid can you recommend a repo? Since it's happening to published sims, I don't see why it would block the release of CCK.

[2021-02-24 23:24] samreid commented on #673
Scenery has this code which looks related to the stack trace:

[code]

So scenery seems like a good repo for this.

[2021-02-25 16:48] samreid commented on #151
In a google groups thread, a user asked:

[2021-02-25 17:18] zepumph opened #675 "Strange pointer area for AC power source?"
I was playing with the sim, and realized it was a bit hard to touch the AC power source when using the "schematic" view. This doesn't happen in the lifelike view.

Here is a screenshot. Note the touch area in the top right only:

![image](https://user-images.githubusercontent.com/6856943/109190863-062b9b00-7742-11eb-9560-a9c4f16235a8.png)

[2021-02-26 01:49] samreid commented on #661
I don't think this indicates a bug, I don't think it warrants attention for the upcoming CCK work, closing.

[2021-02-26 01:49] #661 closed

[2021-02-26 16:29] samreid opened #676 "Battery resistance should not go to zero"
In slack, @kathy-phet said:

[2021-02-26 16:30] samreid commented on #676
Fixed and ready for review/discussion.

[2021-02-26 18:44] oliver-phet commented on #429
Another user contacted us on twitter and wrote into phethelp:

[2021-02-26 21:14] arouinfar commented on #429
I did a little bit of digging to make sure there weren't any other differences in the UK.  Two UK-based sources use the IEEE symbol for the fuse, but otherwise use IEC symbols.

[BBC - GCSE Circuits](https://www.bbc.co.uk/bitesize/guides/zgvq4qt/revision/1)
<img src="https://user-images.githubusercontent.com/8419308/109354619-55a1c200-783b-11eb-8c52-5d028d5af58c.png" width=400>

[Institute of Engi

[2021-02-27 00:39] arouinfar commented on #429
@kathy-phet mentioned we had some Twitter feedback about the battery schematic.

[A user based in England Tweeted:](https://twitter.com/harmsy/status/1365025314414473218)

(Then' + is not important)
:clap:
![image](https://user-images.githubusercontent.com/8419308/109368824-a3c4be80-7857-11eb-8db7-5298c2639e62.png)

The BBC GCSE circuits resource I linked above also makes this distinction, as well

[2021-02-27 00:55] arouinfar commented on #429
Here's another source for GCSE physics:
http://www.passmyexams.co.uk/GCSE/physics/circuit-symbols.html
![image](https://user-images.githubusercontent.com/8419308/109369797-17b49600-785b-11eb-8140-933f9bd2adb2.png)

I completely disagree with the statement that a battery is more than one cell. AA Batteries (and AAA, C, D) are single-cell batteries. They contain exactly one electrochemical cell.

[2021-02-27 01:01] arouinfar commented on #429
One last source for GCSE circuit symbols
https://qualifications.pearson.com/content/dam/pdf/International%20GCSE/Physics/2017/specification-and-sample-assessments/international-gcse-Physics-2017-specification.pdf
![image](https://user-images.githubusercontent.com/8419308/109370172-73cbea00-785c-11eb-8c8e-a794861b1164.png)

They include this statement

[2021-02-27 01:13] kathy-phet commented on #429
I agree with leaving the battery symbol as the single cell version.

[2021-02-27 01:14] kathy-phet commented on #429
I also think having a 3rd setting to do the UK specific combo of standards is reasonable, especially since it seems like it shouldn't be too much work with what @samreid already has set up.

[2021-02-27 01:17] arouinfar commented on #429
@samreid the changes would be:
- [ ] Add "British" to the RadioButtonGroup in the Options dialog
- [ ] Set up `schematicStandard=british` as the corresponding query parameter
- [ ] Use IEC symbols for everything except for the fuse, which uses IEEE. (No changes to the battery.)

[2021-03-01 18:17] oliver-phet opened #677 "User reported issue: parallel arrangements of batteries causes improper current sharing"
![I_Broke_it](https://user-images.githubusercontent.com/5090275/109540416-a275da80-7a7f-11eb-8dc8-4664a7a38b91.PNG)

[2021-03-01 18:33] arouinfar commented on #677
@samreid can you take a look at this? My guess is that introducing internal resistance to the batteries when shorted/high current is likely a factor here.

[2021-03-01 18:38] samreid commented on #677
Could this be explained by the top circuit having resistance from the wires, and the middle branch having no resistance contribution from wires?

[2021-03-02 15:38] samreid commented on #570
@arouinfar can you please review this issue, and see if any more work is warranted, or if another design meeting is warranted?

[2021-03-02 15:51] samreid commented on #675
Proposed fix in the commit, thanks for reporting this problem @zepumph, closing.

[2021-03-02 15:51] #675 closed

[2021-03-04 18:20] oliver-phet commented on #606
Another user requested this feature:

[2021-03-04 21:02] samreid commented on #284
At today's design meeting, we discussed https://github.com/phetsims/circuit-construction-kit-common/issues/677 and https://github.com/phetsims/circuit-construction-kit-common/issues/676 and would like to investigate a model solution that supports ideal wires.  My estimate was:

I think it could take half a day to know if it will work.  If it does work, then it would probably be a couple of days to

[2021-03-04 21:04] samreid commented on #429
At today's design meeting, we agreed to go ahead with this.  Let's do it as a cherry-pick maintenance release.

[2021-03-04 21:08] samreid commented on #570
At today's design meeting, @kathy-phet recommended that @arouinfar could meet with MD to discuss this topic.

[2021-03-04 21:10] samreid opened #678 "How to manage phase locking for separate AC sources?"
From https://github.com/phetsims/circuit-construction-kit-common/issues/643 and related to https://github.com/phetsims/circuit-construction-kit-common/issues/622#issuecomment-749814222.

@arouinfar said:

@samreid replied:

Thanks for the report @arouinfar, I was able to reproduce this problem:

![image](https://user-images.githubusercontent.com/679486/104265085-10bbfa80-544a-11eb-8050-2f8810ea429

[2021-03-04 21:11] samreid commented on #678
@arouinfar volunteered to discuss this with MD at their upcoming meeting.

[2021-03-04 21:11] samreid commented on #643
We'll continue this last topic in https://github.com/phetsims/circuit-construction-kit-common/issues/678, closing.

[2021-03-04 21:11] #643 closed

[2021-03-05 00:29] samreid commented on #677
On hold while we investigate https://github.com/phetsims/circuit-construction-kit-common/issues/284

[2021-03-05 18:13] samreid commented on #429
The proposed fix is in master, @arouinfar can you please test and verify?  I'm also seeing some layout issues in the carousel in master--we will make sure those don't affect the branch.

[2021-03-05 18:20] arouinfar commented on #429
@samreid the schematics, Options dialog, and query parameter are all looking good in master.

The carousel is looking pretty wacky right now. I'm seeing lots of holes. Should you publish an rc version on the 1.2 branch to verify before proceeding with the MR?

[2021-03-05 18:22] samreid commented on #429
Yes, we'll publish an RC for the MR.

[2021-03-05 18:24] arouinfar commented on #429
@oliver-phet can you forward me the user's email so I can let them know when we publish the maintenance release?

[2021-03-05 18:28] samreid commented on #429
In https://github.com/phetsims/phetmarks/issues/48 @jessegreenberg remarked that he is in the process of making a maintenance release--I'll need to coordinate with him.

[2021-03-05 18:33] oliver-phet commented on #429
User email forwarded.

[2021-03-05 18:59] samreid commented on #429
Here's an RC for "DC": https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.2.1-rc.1/phet/circuit-construction-kit-dc_en_phet.html

[2021-03-07 04:39] arouinfar commented on #429
@samreid looks good!

[2021-03-07 05:09] samreid commented on #429
Deployed: https://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html
Please wait for the build-server to complete the deployment, and then test!
After testing, let the simulation lead know it has been deployed, so they can edit metadata on the website

@arouinfar does any metadata need to be changed?

[2021-03-08 20:09] pixelzoom opened #679 "More light bulb"
Discovered while working on https://github.com/phetsims/scenery-phet/issues/170. That issue has a lot of discussion about the benefits of consolidating lightbulb styles, and the desire to use common code for CCK.  So I was dismayed to find that CCK not only punted on the problem, but has made the problem much worse by creating (at least) 3 new classes and 4 new PNG files related to lightbulbs:

*

[2021-03-09 18:48] samreid commented on #284
Here's a simple circuit that demonstrate the problem.  From the published version of DC virtual lab:

![image](https://user-images.githubusercontent.com/679486/110520957-60c2e080-80cc-11eb-8bf9-e3fb96c166e3.png)

If I change wires to be implemented as 0 voltage batteries, then most of the infrastructure we need is already there, and basic things are working nicely.

![image](https://user-images.gi

[2021-03-09 18:56] samreid commented on #284
I committed an initial draft of ideal wires.  @arouinfar can you please review and comment on whether we also would like to investigate ideal batteries and/or fuses?

[2021-03-11 20:44] samreid commented on #284
@arouinfar pointed out that a wires-only circuit breaks other circuits:

![image](https://user-images.githubusercontent.com/679486/110852725-f2b71e80-826f-11eb-89ac-eabe67fc2641.png)

[2021-03-11 20:50] samreid commented on #676
At today's meeting, we surmised that the fix for https://github.com/phetsims/circuit-construction-kit-common/issues/284 would supercede this fix.  So we should revert this commit.

[2021-03-11 20:56] samreid commented on #676
We found that reverting the change made it so that loops like https://github.com/phetsims/circuit-construction-kit-common/issues/284#issuecomment-794297660 have voltages but no resistance and are nonphysical, so we reverted that revert.

[2021-03-11 21:30] samreid commented on #284
Today we looked at cases like the above and cases like this one.

![image](https://user-images.githubusercontent.com/679486/110857442-17ae9000-8276-11eb-8ca4-b055e1a2727d.png)

This is unsolvable for ideal wires because electrons could go around the loop an arbitrary (even infinite) number of times.

We will revert the "add support for ideal wires" commit.  After that is reverted, we will make sur

[2021-03-11 21:37] samreid commented on #284
Brainstorming another idea:

What if we add 2 "ideal wires" to each screen (in the carousel)?  We can depict them differently than normal wires.  Their existence will draw attention to the fact that the other wires are non-ideal.  Then the user can use the 2 ideal wires to make circuits like this mindfully:
![image](https://user-images.githubusercontent.com/679486/110858282-1df13c00-8277-11eb-80dd

[2021-03-11 21:41] samreid commented on #284
I reverted the "add ideal wires" commit, haven't had a chance to sanity test it though.

[2021-03-11 22:00] samreid commented on #676
I reverted the ideal batteries and made sure the "Constrain battery resistance to be above 1E-8" code is in place, ready for @kathy-phet to take a look and advise.

[2021-03-11 22:19] samreid commented on #284
Also, I don't recall the numerical errors, but what if we put batteries at 1E-10 ohms and wires at 1E-20 ohms?  Would that give the results we expect in cases like https://github.com/phetsims/circuit-construction-kit-common/issues/284#issuecomment-794297660 ?

[2021-03-16 04:49] samreid commented on #676
@kathy-phet requested via email:

Self-assigning and raising priority.

[2021-03-17 06:07] samreid commented on #676
I tested the version in master and it has the initial commit from this issue: https://github.com/phetsims/circuit-construction-kit-common/commit/8327d6fa711b2db73137a4c6b8a9a5994527b024 and it does not have the "ideal wires" proposal from https://github.com/phetsims/circuit-construction-kit-common/issues/284#issuecomment-794297660.

However, in testing this circuit:

![image](https://user-images.g

[2021-03-17 18:06] samreid commented on #676
From slack:

Kathy Perkins

Sam Reid

Kathy Perkins

Sam Reid

[2021-03-17 18:23] samreid commented on #676
On the last comment, here is a dev version that has a query parameter for the wire resistivity, and showing that ?wireResistivity=1E-11&batteryMinimumResistance=1E-6 works pretty well for this case:

![image](https://user-images.githubusercontent.com/679486/111518167-6c8d5300-871b-11eb-9c23-b222ce1e6919.png)

https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.3.0-dev.3/phet/circuit-c

[2021-03-17 19:04] pixelzoom opened #680 "Why isn't the stopwatch in the toolbox?"
Noted while working on https://github.com/phetsims/scenery-phet/issues/659.

Sims that have a toolbox put the stopwatch in that toolbox: capacitor-lab-basics, energy-skate-park, masses-and-springs, wave-interference, wave-on-a-string.

Sims that don't have a toolbox control the stopwatch visibility with a checkbox: gas-properties, pendulum-lab

CCK doesn't follow this convention. It has a toolbox,

[2021-03-17 21:12] kathy-phet opened #681 "PhET-iO Design: Add a "Power" derived property for resistive elements"
A researcher requested to have a measure of the bulb "brightness". Basically this comes down to having a derived power property associated with each resistive element as either P=|I(deltaV)| or P=I^2*R or P=(delta V)^2/R  whichever is easiest to calculate for the resistive elements in the sim.

Is it possible to attach this property to the iO group archtype?

[2021-03-17 21:56] samreid commented on #680
This question seems best for @arouinfar.

[2021-03-18 14:42] samreid opened #682 "Publish a new phet-io dev version"
@kathy-phet requested over slack

It's unclear whether #681 is essential for the release, but I expect that issue should be straightforward so I'll plan to do it first.

[2021-03-18 20:01] kathy-phet commented on #676
This circuit seems to behave as if the minimum wire resistance is not length dependent anymore?
https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.3.0-dev.3/phet/circuit[…]t.html?wireResistivity=1E-11&batteryMinimumResistance=1E-6

![image](https://user-images.githubusercontent.com/5096804/111689979-4686b200-87f2-11eb-8f7a-9de574c38332.png)

The 2 paths for the wires have a 2/3 1/3 s

[2021-03-19 00:09] kathy-phet commented on #676
I have played around with these relationships between battery and wire resistance.

1) To get the desired behavior of parallel batteries, we want
**default wire resistivity to be 10^-5 times lower than battery defaults**, as in
?wireResistivity=1E-11&batteryMinimumResistance=1E-6
in this one (1e-4 different) you still see wire length as detectably effecting current in this scenario ?wireResistivit

[2021-03-19 00:39] samreid commented on #676
Excellent, thanks!  It looks like Wire resistance is getting clamped to a minimum value of 1E-8 in this code.  I’ll tinker with it once Gravity and Orbits is in RC.2.

https://github.com/phetsims/circuit-construction-kit-common/blob/2cbbc258f636101230b597055324fca0e2cb343c/js/model/Wire.js#L91-L96

[2021-03-19 16:51] samreid commented on #681
It seems like the best way to address this would be to move the `resistanceProperty` into `CircuitElement`.  Right now it is duplicated in many subclasses, but it seems all CircuitElements have a `resistanceProperty` now, even if the value is 0.  Then we could use that and the current to derive the power.

[2021-03-19 16:51] samreid commented on #682
Since https://github.com/phetsims/circuit-construction-kit-common/issues/681#issuecomment-802971319 seems more complex, I'll publish a version without the power computation for now.

[2021-03-19 16:56] samreid commented on #682
Deployed: https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.3.0-dev.4/phet/circuit-construction-kit-dc_en_phet.html
Deployed: https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.3.0-dev.4/phet-io/

[2021-03-19 17:16] samreid commented on #682
Deployed: https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.3.0-dev.5/phet/circuit-construction-kit-dc_en_phet.html
Deployed: https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.3.0-dev.5/phet-io/

These seem better.

@kathy-phet I published these versions with minimal testing.  They also do not have the power https://github.com/phetsims/circuit-construction-kit-common/

[2021-03-19 19:51] samreid commented on #676
I reduced the minimum wire resistance to 1E-14 and made it so that ?dev will output wire resistivities when they change.  I tested with wireResistivity=1E-11&batteryMinimumResistance=1E-6 and it seemed reasonable.

![image](https://user-images.githubusercontent.com/679486/111835038-0e4aa680-88ba-11eb-8fac-96ece31bc06e.png)

We could potentially reduce these numbers further if we want a safety net.

[2021-03-19 20:50] kathy-phet commented on #676
@samreid - Can you build a new dev of this version? (that still has the query parameter options). Thanks!

[2021-03-19 20:58] samreid commented on #676
I deployed https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.3.0-dev.6/phet/circuit-construction-kit-dc_en_phet.html?wireResistivity=1E-11&batteryMinimumResistance=1E-6, please adjust the query parameters accordingly.

[2021-03-19 22:47] kathy-phet opened #683 "Change Battery Resistance Slider lower limit to "Tiny""
If we keep a default battery resistance as 1e-6, then we need to change the lower limit of the slider to read "tiny".

[2021-03-23 16:46] oliver-phet opened #684 "User reported issue: PDOM visible, interfering with use"
![image](https://user-images.githubusercontent.com/5090275/112184526-e793b500-8bc4-11eb-94c5-eda781b97d70.png)

[2021-03-23 17:13] oliver-phet commented on #684
Additional screenshots:
![image](https://user-images.githubusercontent.com/5090275/112188399-91287580-8bc8-11eb-9993-1db82ca653af.png)
![image](https://user-images.githubusercontent.com/5090275/112188409-95ed2980-8bc8-11eb-9f51-6e928c695305.png)
![image](https://user-images.githubusercontent.com/5090275/112188430-9980b080-8bc8-11eb-8647-9461c7b9d20a.png)

@zepumph @jessegreenberg assigning to you

[2021-03-23 17:30] samreid commented on #684
From the screenshots and user agent decoder, it seems the problem is showing on Win 10 + Chrome.

[2021-03-23 17:37] samreid commented on #684
I tested on my Win 10 + Chrome 89, but could not reproduce the problem.

[2021-03-23 17:39] oliver-phet commented on #684
If relevant, device is a Lenovo Yoga 260. It is a laptop and also flips into tablet mode.

[2021-03-23 17:53] jessegreenberg commented on #684
I also am unable to see this happen on my Win 10 + Chrome Version 89.0.4389.90 (Official Build) (64-bit).

[2021-03-23 18:13] oliver-phet commented on #684
@jessegreenberg Is there other information I could collect from the user to help diagnose this issue?

[2021-03-23 20:29] jessegreenberg commented on #684
It is behaving as though the PDOM isn't hidden at all with CSS. I am curious if stylesheets aren't working for the user (used by SceneryStyle.js). Otherwise, some very important CSS attribute in PDOMSiblingStyle.js is unsupported. Let me think a little and get back to you @oliver-phet.