[2021-11-15 19:28] samreid commented on #780
@arouinfar and I discussed this today, we were able to reproduce the problem and see it disappear when dt was increased to 1E-2.  However, changing the dt to 1E-2 causes some values to go past our previously determined error threshold of 0.05 in the unit tests.  We discussed combining adjacent series inductors or capacitors into a single composite for purposes of the circuit solution--we were hope

[2021-11-15 20:02] stemilymill opened #782 "Unable to zoom on charts on iPad"
For https://github.com/phetsims/qa/issues/736.

Device: iPad Pro (10.5-inch)
iPadOS 15.0
Using Chrome 96.0.4664.36 and Safari

I am unable to zoom in or out on charts on iPad. The buttons do not respond.
However, the general zoom buttons work fine.

[2021-11-15 21:36] samreid commented on #782
Thanks, good find!

[2021-11-15 23:38] samreid commented on #778
@arouinfar and I reviewed the behavior, and agreed it is the expected behavior.  The current directionality is selected to make initial currents positive at the time the circuit is completed..

[2021-11-16 00:21] samreid commented on #782
I reached out for help on Slack:

[2021-11-16 00:22] samreid commented on #782
I also tried swapping out the zoom buttons for a ResetAllButton with console.log, and that didn't fix the problem.  So the problem is extrinsic to the zoom button group.

[2021-11-16 01:26] samreid commented on #782
@jessegreenberg said:

[2021-11-16 01:27] samreid commented on #782
If I remove the drag listener from the backgroundNode, then the zoom buttons get mouse events.
It could be related to #1150
Yes, it sounds a lot like that problem case.
I can’t figure out how to apply the remedy “Having the non-interactive foreground set to pickable:false prevents this.” to this case.

Or why it only applies to touch but not mouse.

[2021-11-16 01:30] samreid commented on #781
Fixed, can you please test on phettest?  Close if all is well.

[2021-11-16 01:39] samreid commented on #780
According to http://dev.hypertriton.com/edacious/trunk/doc/lec.pdf we can follow the Norton model for the inductor companion model to have all of the dt in the numerator.  But we will have to add current sources.  It's a current source in parallel with a resistor, with:

[code]

This seems like the right thing to investigate next, since we would like to be able to turn down the dt without creating

[2021-11-16 01:39] samreid commented on #772
Let's put this on hold until https://github.com/phetsims/circuit-construction-kit-common/issues/780#issuecomment-969634307 is addressed because it has a proposal to put the dts in the numerator for the inductors.

[2021-11-16 01:50] jessegreenberg commented on #782
If I add `allowTouchSnag: false` to the DragListener options that also seems to fix it.

[2021-11-16 02:29] samreid commented on #782
Thanks @jessegreenberg, that's the best solution yet.  I still don't understand the root cause but this may be good enough for publication.  Assigning @jonathanolson to ask about the root cause.  Assigning @arouinfar to ask if it is OK to disable touchSnag on the chart (while in the play area).

[2021-11-16 05:18] samreid opened #783 "_.keys() returns [] for Map of voltage solutions"
When the circuit solutions were converted to Maps in https://github.com/phetsims/circuit-construction-kit-common/issues/764, we still used _.keys to get the keys.  However, that returns `[]`.  That means since Oct 25 that solution has been buggy, and always identifying solutions as "close enough" to each other in the timestep subdivisions.

[2021-11-16 05:22] samreid commented on #783
Correction, it is only being used in unit tests.  The documentation was stale.  I fixed it in the commit, closing.

[2021-11-16 05:22] #783 closed

[2021-11-16 05:26] samreid commented on #780
I implemented the norton inductor trapezoidal rule.  Not sure about all the signs, but unit tests are failing.

<details>

[code]

</details>

To test:
* Did the unit tests have the wrong signs?
* I added a test from wikipedia with a current source, and have some sign questions there as well.

[2021-11-16 15:49] samreid opened #784 "Sign errors in MNA"
One hypothesis for why https://github.com/phetsims/circuit-construction-kit-common/issues/780 is failing is that there are sign errors in the MNA itself.  Using spice as a ground truth, we can test using known netlists and answers to make sure the signs are right.

[2021-11-16 16:51] arouinfar commented on #782
That sounds acceptable to me. While in the play area, the charts are very large so I don't think touch snag adds anything to the experience. (I'd still want it for grabbing items out of the carousel and toolbox, though.)

[2021-11-16 19:00] ariel-phet commented on #774
@samreid @arouinfar I included the odd changes in current directionality in the video just as an further example of odd behavior.

I should make clear that the main issue is the you in essence get a DC current running through the inductors with no voltage source. The inductors do not appear to be clearing and discharging the way we would expect when the circuit is open. The physics just seems quit

[2021-11-16 19:42] samreid commented on #784
Using spice, I generated 4 or 5 different test cases, and I used these to match the signs:

<details>

[code]

</details>

Here are the results:

[code]

That is, of the 32 combinations that matches the first circuit, only half of them satisfy all the 4-5 test cases.  I also noticed that one of them (at the end) has only one sign difference between compatibility with spice and our legacy.

[2021-11-16 22:49] samreid commented on #784
@arouinfar and @ariel-phet and I discussed the progress so far and agreed it is going in a good direction.  Here's a full patch of my working copy changes.  I'll try to get to a clean point so we can investigate the norton inductor:

<details>

[code]

</details>

[2021-11-16 22:56] samreid commented on #784
Patch from unit tests:

<details>

[code]
</details>

[2021-11-17 00:06] samreid commented on #780
@arouinfar and @ariel-phet and I worked on this today.  We tried out the norton equivalent trapezoidal inductor and could not get it to work.  We tried all combinations of signs and saw 3 behaviors:

* steady -0.5A
* oscillating exponential growth
* non-oscillating exponential growth

We also saw that we need to seed the inductors with the DC operating values.

We also tried the forward euler, but

[2021-11-17 02:50] samreid commented on #780
Page 25 of https://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=1301&context=ecetr also has a treatment of inductor companion models.

[2021-11-17 03:15] samreid commented on #780
Here is the full patch with the forward euler norton inductor:

<details>

[code]

</details>

[2021-11-17 03:36] samreid commented on #784
After the commit, the entire forward euler norton inductor is this (does not include the 1E-4 series resistance):

[code]

[2021-11-17 03:51] samreid commented on #780
I also tried putting an exponential damping term on the inductor voltage, and that seemed to correct some bad behavior:

[code]

[2021-11-17 04:06] samreid commented on #780
After the commit, the entire forward euler norton inductor is this (does not include the 1E-4 series resistance):

[code]

[2021-11-17 04:13] samreid commented on #784
This issue has been so helpful and eliminated numerous sign errors that have been present since the beginning.  The next step is to see where else signs need to be updated.  The current is flowing the wrong direction.  I'll have to see if the voltmeter is backwards.  @arouinfar or @ariel-phet can you think of other downstream effects that may need to update based on this issue?

[2021-11-17 16:34] samreid commented on #774
There is a proposal in https://github.com/phetsims/circuit-construction-kit-common/issues/780#issuecomment-971149638 for an exponential damping term that seemed to help in a similar case.

[2021-11-17 17:08] ariel-phet commented on #784
@samreid possibly the current chart or the "signed" ammeter readout

[2021-11-17 18:50] samreid commented on #780
Today, we observed that putting dt low enough, say to 1E-5, would correct the problem in the case described in https://github.com/phetsims/circuit-construction-kit-common/issues/780#issuecomment-971149638.  We did not get the damping working.

However, we aren't sure how to pick a threshold for various architectures and lower inductance values.  We observed that lower inductance values fail earlie

[2021-11-17 19:13] samreid commented on #772
We added the norton forward euler inductor and it seemed to be working ok, but we didn't want to switch between inductor models.  So we want to proceed with 1E-6 paused timestep.  I also reported that it seemed like dts were only being generated on circuit changes already.

[2021-11-17 21:27] samreid commented on #228
Chapter 19 of the spice manual http://ngspice.sourceforge.net/docs/ngspice-manual.pdf describes how to call into the spice library like so:

[code]

[2021-11-18 21:13] samreid commented on #782
Leaving open to verify on a touch device in the next dev version.

[2021-11-18 21:15] samreid commented on #781
In design meeting today, we agreed that since you can get to 120 and other interesting numbers, this seems good.  Closing.

[2021-11-18 21:15] #781 closed

[2021-11-18 21:18] samreid commented on #776
We reviewed this in today's design meeting.  @ariel-phet wants to take a closer look.  Thanks!

[2021-11-18 21:23] samreid commented on #784
This will also need significant testing in the next dev version, since we need to make sure we addressed all downstream signs. (like current direction, voltage sign, ammeter signs, etc).

[2021-11-18 21:24] samreid commented on #606
In today's design meeting, @arouinfar said basic testing was looking good.  @ariel-phet said he saw a few surprising results, but wanted to test more thoroughly.  Maybe we will put this on hold until #784 is closed.

[2021-11-18 21:32] samreid commented on #778
At today's design meeting, we discussed that it is confusing for the current to change direction when a switch is opened then closed.  @kathy-phet asked if I could investigate that.  Fixing this is not critical for 1.0, but I'll investigate.

The current (pun!) rule is:

[code]

We could change the rule to "current is zero and it is not in a loop with an open switch".  We would at least like to tr

[2021-11-18 21:48] samreid commented on #780
At today's design meeting, we discussed that the range in java was 10H to 100H.

@ariel-phet: If you want to hit resonance at 10H, you need to reduce the capacitance accordingly.  The capacitance ranges were already finely tuned.
@kathy-phet: We need at least 1 way to hit resonance, but do not need to cover a large state space with resonances.  Let's calculate where the resonance is.
@ariel-phet:

[2021-11-18 21:59] samreid commented on #772
We discussed this in today's design meeting.  Time will only pass when changing circuit elements.  If you drag a slider 1E6 times, that will drive time forward by one second.

@kathy-phet and @ariel-phet think this sounds reasonable.

[2021-11-18 22:14] samreid commented on #228
We discussed this briefly today.  We will need to publish soon even if there are corner cases that have difficulty, but this could be a possibility for future versions.

[2021-11-18 22:17] samreid commented on #774
We would like to try higher resistances in the wires to see if it reduced the problem?  But @kathy-phet says the priority is getting the sign changes fixed.  If some corner cases like this have bad behavior, we may have to list it as a known issue.

[2021-11-19 05:51] samreid commented on #774
After the commit, the default is 1 inductor.  The `?moreInductors` query parameter brings it back to 10.

[2021-11-19 05:56] samreid commented on #772
I changed the paused dt to 1E-6.  I tried dragging a voltage slider for a while in the sim while paused and I didn't see anything move.  This will be ready for review on master or in next dev version.

[2021-11-19 17:49] samreid commented on #784
I've fixed the current animation direction and conventional current arrow direction, and voltmeter signs in the commits.  The current chart and ammeter seem correct in my limited testing.  It's ready for @arouinfar and @ariel-phet to test in the next dev version to see if more signs need to be updated.

[2021-11-19 18:05] samreid commented on #780
I added the query parameters, they will be ready for testing in the next dev version:

[code]

[2021-11-19 18:17] samreid opened #785 "More investigation around inductors"
From https://github.com/phetsims/circuit-construction-kit-common/issues/774#issuecomment-973318310, we switched to 1 inductor.  This issue is about working toward the root cause of the multiple inductor problems.  May not need to be done before 1.0.

We would like to try higher resistances in the wires to see if it reduced the problem?  But @kathy-phet says the priority is getting the sign changes

[2021-11-19 22:40] ariel-phet commented on #782
The issue I was seeing previously with not being able to use the zoom in/out buttons on the current/voltage charts is working well on my Android 12 phone in chrome with dev 1.0.0-dev.51

[2021-11-19 23:18] ariel-phet commented on #774
@samreid the query parameter `?moreInductors` acts as expected. I recommend marking this issue deferred (since we may at some point want to address the issues with multiple inductors). I have removed it from the 1.0 milestone since it should likely remain opened (but deferred) and is not needed for this milestone.

[2021-11-19 23:20] KatieWoe commented on #776
Disconnecting the capacitor seems to switch which plates have which charges on master.
![bad](https://user-images.githubusercontent.com/41024075/142703254-dd4db4c4-76b6-4f25-b580-404cadf719fd.gif)

[2021-11-19 23:32] KatieWoe commented on #784
Disconnecting the capacitor seems to switch which plates have which charges on master.
Edit: and in above dev version.
This was originally in https://github.com/phetsims/circuit-construction-kit-common/issues/776
![bad](https://user-images.githubusercontent.com/41024075/142703965-88c8d56a-41b4-4758-8945-7190a0766e70.gif)

[2021-11-20 00:04] ariel-phet commented on #776
In addition in 1.0.0-dev.51 changing the capacitance of a charged capacitor switches the charge on the plates as well.

https://user-images.githubusercontent.com/4051174/142705786-207b2075-2478-4748-bf6a-9e9db3fcc200.mp4

[2021-11-21 04:58] samreid commented on #767
Even though we originally wanted to maintain black-box-study alongside CCK AC development, it has been too complex and time consuming.  For now, I've removed that screen from main.

[2021-11-21 04:58] #767 closed

[2021-11-22 00:01] samreid commented on #776
This looks caused by https://github.com/phetsims/circuit-construction-kit-common/issues/784, I'll be addressing it there.

[2021-11-22 19:35] samreid commented on #777
Published in https://phet-dev.colorado.edu/html/circuit-construction-kit-ac-virtual-lab/1.0.0-dev.2/phet/circuit-construction-kit-ac-virtual-lab_en_phet.html, @Nancy-Salpepi can you please verify and close if all is well?

[2021-11-22 19:43] samreid commented on #784
I wasn't able to understand the root cause of these new sign errors.  Still, working with ?vertexDisplay and trying several cases I was able to add a questionable workaround that seems to work in every case I tried.

Please test https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.52/phet/circuit-construction-kit-ac_en_phet.html and if you see a sign error, please terminate tes

[2021-11-22 19:45] samreid commented on #776
There is a proposed fix for the sign error in https://github.com/phetsims/circuit-construction-kit-common/issues/784, but testing in this issue should probably hold off until that issue is checked.

[2021-11-22 19:56] Nancy-Salpepi commented on #777
The tambo sound button is now on the nav bar and the dog yelping sound can be heard.

[2021-11-22 19:56] #777 closed

[2021-11-23 07:04] ariel-phet commented on #784
@samreid I am seeing some very odd behaviors when it comes to capacitors in 1.0.0-dev.52

First, in this video (the resistance is 0.0 ohm), you will see the capacitors not appearing to reach a steady state solution when connected across a battery. And then when the capacitors are shorted, they should fully discharge, but appear to retain charge and have a voltage across them

https://user-images.g

[2021-11-23 15:29] samreid commented on #784
In my testing in dev.52, I do see a steady state solution reached soon.  I'm not sure if I had the same battery voltage or capacitances in your test, since they were not reported.  I'm using default values for capacitance, and a 120V battery in this test.

![Kapture 2021-11-23 at 08 21 35](https://user-images.githubusercontent.com/679486/143052082-8b7c13ca-4087-454c-b10d-4ca4efaf5629.gif)

However

[2021-11-23 15:30] samreid opened #786 "Unexpected charge distribution for series capacitors"
Discovered by @ariel-phet in https://github.com/phetsims/circuit-construction-kit-common/issues/784#issuecomment-976211615:

https://user-images.githubusercontent.com/4051174/142982784-cab76537-c9bb-49ef-ad29-4f822e0e0fa0.mp4

[2021-11-23 15:31] samreid commented on #786
This issue needs to be on hold until #784 is corrected.

[2021-11-23 15:34] samreid commented on #784
You can see the spiking behavior very easily if you charge the series capacitors and change the battery voltage.  In dev.48 it is smooth like so:

![image](https://user-images.githubusercontent.com/679486/143054159-7e233b04-1465-485b-9aad-5e53f439f562.png)

In dev.52 it oscillates and spikes:

![image](https://user-images.githubusercontent.com/679486/143054269-d3b81ad1-361d-450f-963e-146c7f469afe.

[2021-11-23 19:00] samreid commented on #784
I'm not sure what changed, but I can't get it to spike any more.

[2021-11-23 19:02] KatieWoe commented on #784
I was able to reproduce it a few times myself

[2021-11-23 19:03] samreid commented on #784
Can you share the steps?  Does it happen for you in dev.48?  Can you get it to happen with a single capacitor, or does it require 2?

[2021-11-23 19:34] KatieWoe commented on #784
I was testing on dev.52. It occurs with any circuit charging a capacitor with 0 resistance. I haven't seen a case with 0 resistance where it doesn't happen in that dev test yet.
<img width="959" alt="suchas" src="https://user-images.githubusercontent.com/41024075/143091671-d259f0c4-71b1-4ae0-a58c-c6c5288e9069.png">

[2021-11-23 19:35] KatieWoe commented on #784
Sorry I don't have much to help.

[2021-11-23 19:41] KatieWoe commented on #784
1. Drag out battery, two wires, and a capacitor
2. Set up battery, left wire and capacitor as shown in image in https://github.com/phetsims/circuit-construction-kit-common/issues/784#issuecomment-977068470
3. Pull out the current probe and put it on left wire
4. Connect right wire and observe.

This has been pretty consistent for me

[2021-11-23 22:14] samreid commented on #784
Thanks, I see that the oscillation is happening in the current but not in the voltage, and that has been happening all the way back in dev.48, so was not introduced by these sign changes.  Note that in https://github.com/phetsims/circuit-construction-kit-common/issues/784#issuecomment-976727708 one chart is voltage and one is current.

[2021-11-23 22:31] samreid commented on #778
The existing depth-first search algorithms have special handling around switches (to not traverse them) and do not track which elements were traversed, so it would take 2-4 hours to write out this new algorithm and test it thoroughly. I'm not sure whether this is acceptable, especially if it's on the longer side.  @arouinfar @kathy-phet @ariel-phet want me to keep working on this for 1.0?

[2021-11-23 22:55] kathy-phet commented on #778
I vote for deferring this exploration until after 1.0 is published. When we do PhET-iO, we can revisit this issue, but proceed with with publishing the current behavior.

[2021-11-24 00:11] samreid commented on #784
@arouinfar and @ariel-phet I'm not sure how to proceed for this issue or how it overlaps with https://github.com/phetsims/circuit-construction-kit-common/issues/786, can you please comment what the expected behavior is and brainstorm how it may be corrected?

[2021-11-24 21:27] ariel-phet commented on #778
I concur with @kathy-phet -- @samreid probably should mark this issue deferred on on-hold.

[2021-11-29 23:35] ariel-phet opened #787 "Capacitor Drift"
Steps are...

[2021-11-29 23:36] ariel-phet commented on #784
@samreid the capacitor drift issue occurs in dev.48, separate issue opened in https://github.com/phetsims/circuit-construction-kit-common/issues/787

[2021-11-30 02:44] samreid commented on #787
Thanks, I was able to see the drift by following the instructions.  I tried turning down `dt`, but it seemed that turning down dt makes the problem worse.  For instance, I turned dt all the way to 1E-6 and the problem was severe.  Conversely, I bumped dt up to 1E-1 and the problem was nearly gone (rapid oscillation in last digit).

[2021-11-30 05:16] samreid commented on #787
Following the same instructions, I'm seeing a similar drift in Java:

![image](https://user-images.githubusercontent.com/679486/143989704-fcf6c366-18bb-42cb-a13d-336fbddb8b66.png)

[2021-11-30 05:21] samreid commented on #606
#784 seems reasonable, and like it should no longer block testing of this issue.

[2021-11-30 05:23] samreid commented on #786
@ariel-phet and @arouinfar and I discussed this today, and it appears the behavior is correct.  When the left plate is discharged, then current flows until the voltage drop across both capacitors equals the battery voltage.  Since the right plate had a "head start", and the same current flows across both plates, the right plate ends up with more net charges.  @ariel-phet can this issue be closed?

[2021-11-30 05:24] samreid commented on #776
#784 is mostly in good shape, I think this can be checked now.

[2021-11-30 06:01] samreid commented on #787
I tried eliminating the capacitor internal resistance, and saw the same drifting problem.

Adding more resistance to the circuit reduces the problem.  For instance, if the resistor is set to 0.1 ohms instead of 0.0 ohms the drift is very slow.  Around 10 seconds to change out in the 3rd decimal place.  The voltmeter only shows 2 decimal places, so it could take around 50 seconds to show in that ca

[2021-11-30 17:01] kathy-phet commented on #787
For now, I would vote for #2 _ Move forward with the incorrect behavior, knowing this problem is limited to cases with low resistance, high capacitance and 2 capacitors in series, and knowing we had a similar problem in Java.

I agree, that finding the issue would be best, and we can continue working on it after publication, but I don't think this should be blocking publication. It is unusual to a

[2021-11-30 17:10] arouinfar commented on #782
This also looks good on my phone, but let's have QA verify on iPad in the next test cycle.

[2021-11-30 17:14] arouinfar commented on #779
Added to the Teacher Tips issue, closing.

[2021-11-30 17:14] #779 closed

[2021-11-30 17:27] arouinfar commented on #772
@samreid the paused dynamics look good in dev.51 (and master). I was unable to reproduce https://github.com/phetsims/circuit-construction-kit-common/issues/772#issuecomment-965690073 with
`?moreInductors` so I think the updates to paused dt addressed the issue. I'll leave it up to you to decide if further QA testing is necessary for this issue.

[2021-11-30 17:34] arouinfar commented on #776
@samreid I am unable to reproduce the behavior in https://github.com/phetsims/circuit-construction-kit-common/issues/776#issuecomment-974549502 and https://github.com/phetsims/circuit-construction-kit-common/issues/776#issuecomment-974535331 in dev.52.

[2021-11-30 17:40] arouinfar commented on #787
I'm also fine with moving forward with option (2).

[2021-11-30 17:54] ariel-phet commented on #787
I am fine with moving forward and getting the sim published, since this is a bit of an edge case. However, I do think this issue should be solved in the long run, and should not be left on the back burner indefinitely.

[2021-11-30 18:01] kathy-phet commented on #780
I thought after the last group meeting I attended to discuss this, we decided to stick with the original values @ariel-phet had chosen and then restrict to one inductor. So you can hit resonance with the L values Ariel chose a while back.

I thought any revisiting of values was going to happen - as needed - after publishing 1.0, when we continue to diagnose and figure out if we can support a versi

[2021-11-30 18:02] kathy-phet commented on #780
@arouinfar - Do you agree with this recollection (see ^^)

[2021-11-30 18:34] ariel-phet commented on #786
@samreid yes I think so. In case questions arise I did find this reference:

*The effect of trapped charge on series capacitors*
https://aapt.scitation.org/doi/10.1119/1.4916888

PDF available here (through CU library access)
https://aapt-scitation-org.colorado.idm.oclc.org/doi/pdf/10.1119/1.4916888

[2021-11-30 18:34] #786 closed

[2021-11-30 18:40] samreid opened #788 "Oscillatory spiking in capacitors"
From https://github.com/phetsims/circuit-construction-kit-common/issues/784#issuecomment-976717775

In my testing in dev.52, I do see a steady state solution reached soon.  I'm not sure if I had the same battery voltage or capacitances in your test, since they were not reported.  I'm using default values for capacitance, and a 120V battery in this test.

![Kapture 2021-11-23 at 08 21 35](https://u

[2021-11-30 18:41] samreid commented on #784
I opened https://github.com/phetsims/circuit-construction-kit-common/issues/788 about the oscillation and spiking in capacitors.  My main complaint for this issue is the sign issue in https://github.com/phetsims/circuit-construction-kit-common/issues/784#issuecomment-975860131.  But I think this issue is ready for testing in next dev test.

[2021-11-30 18:42] samreid commented on #772
That seems good, thanks!  We can reopen if something is discovered in an upcoming test, but I don't think this issue needs to remain open for focused testing.  Closing.

[2021-11-30 18:42] #772 closed

[2021-11-30 18:47] ariel-phet commented on #784
@samreid with further contemplation I do not think there is a sign error in the behavior. I think the second video in https://github.com/phetsims/circuit-construction-kit-common/issues/784#issuecomment-976211615 is showing correct behavior. Once you have setup this "unequal charge of series capacitors" the results can be a bit surprising, but I think the sim is currently showing the correct behavi

[2021-11-30 19:03] samreid commented on #788
I am seeing the same spiking oscillatory behavior in dev.48:

![image](https://user-images.githubusercontent.com/679486/144111072-45eb829e-1635-402d-ab79-2795d99531d6.png)

[2021-11-30 19:04] samreid commented on #788
In yesterday's meeting, we wondered if this issue relates to #787

[2021-11-30 21:35] KatieWoe opened #789 "Unable to fully manipulate objects when zoomed in"
**Test device**
iPad
**Operating System**
iPadOS 15.1
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/qa/issues/747. This is most impactful on iPad/touch devices since there is only one way to zoom and pan.
When zoomed in on an object, if you click on it to bring up options to alter it (such as changing a battery's voltage) and then try to drag the screen down to view th

[2021-11-30 21:36] samreid commented on #789
Should we keep the object selected during pan/zoom?  @arouinfar or @jessegreenberg can you please review and comment?

[2021-11-30 23:15] stemilymill opened #790 "Clickable area of capacitors does not include middle of capacitor when not a schematic"
For https://github.com/phetsims/qa/issues/747.

The clickable area for the capacitor does not match the highlight box that appears when the capacitor is selected, and clicking in the area between the plates when the capacitance is low does not select the capacitor. In the schematic view, the clickable area is a rectangle  around the entire capacitor element.

I'm not sure if this is intentional or

[2021-11-30 23:21] KatieWoe commented on #790
To clarify, the mouse, at least, only clicks on the actual plates, rather than the space in between. When the plates are far apart this may cause issues, and may seem odd.

[2021-11-30 23:45] samreid commented on #790
@arouinfar how should this behave?

[2021-12-01 13:16] Nancy-Salpepi commented on #776
@samreid I am unable to reproduce any of the above behavior in dev.53. Closing.

[2021-12-01 13:16] #776 closed

[2021-12-01 16:23] #782 closed

[2021-12-01 19:39] ariel-phet commented on #780
@kathy-phet that was my understanding, that since we were going to limit to 1 inductor for the moment, no need to mess around with the current default values of L and C if we can avoid it.

[2021-12-01 19:50] arouinfar commented on #789
If you are on a computer, you can pan by scrolling and it won't dismiss the selection. It would be nice to keep the object selected while panning on a touch device, but I don't know if there is an easy way to detect the pan swipe action or if it is distinguishable from other touch events.

If there is a straightforward way to keep the object selected during pan/zoom, I think it's worth doing. If n

[2021-12-01 19:55] samreid commented on #789
Is it important to deselect the selected object if there is a tap in the play area that doesn't initiate or continue pan/zoom?

[2021-12-01 19:56] arouinfar commented on #790
@samreid can you extend the pointer areas of the lifelike capacitor to include the space between the plates?

As an aside, the selection box around the schematic capacitor should be expanded. It currently looks like this:
![image](https://user-images.githubusercontent.com/8419308/144304498-fcab36e0-5d54-41b3-88f2-07c2b6f59e86.png)

[2021-12-01 20:02] samreid opened #791 "Expand the selected/highlight region of schematic capacitors"
In https://github.com/phetsims/circuit-construction-kit-common/issues/790 @arouinfar said:

![image](https://user-images.githubusercontent.com/8419308/144304498-fcab36e0-5d54-41b3-88f2-07c2b6f59e86.png)

[2021-12-01 20:02] samreid commented on #790
Thanks, I moved that last request to a new issue.

[2021-12-01 20:06] arouinfar commented on #789
Yes, it's important to be able to deselect an object by tapping in the play area.

[2021-12-01 20:06] samreid commented on #789
@jessegreenberg can you please review this issue and advise?

[2021-12-01 20:18] samreid commented on #790
I didn't see an easy way to add the hit area just between the plates (leaving the rest of the fine-grained hit area), so I added a rectangle hit area like so:

![image](https://user-images.githubusercontent.com/679486/144307486-328aeae8-1b38-4200-af54-629ffc8411a6.png)

@arouinfar does that seem OK?

[2021-12-01 20:20] samreid commented on #790
I eroded it vertically a bit more in the commit, now it is more like:

![image](https://user-images.githubusercontent.com/679486/144307848-11cf8c9b-f80d-4ee4-8cc8-ce7df7bd330b.png)

[2021-12-01 20:26] samreid commented on #791
Fixed and looks like this now:

![image](https://user-images.githubusercontent.com/679486/144308636-bdc760b8-0e13-4a4f-b21b-ba142a65ab54.png)

@arouinfar can you please review in phettest/master?

[2021-12-01 22:21] samreid commented on #789
@arouinfar and I discussed that we would need to change "deselect on touch down" to "deselect on touch up", but then we would also need to guard on whether the touch up participated in a pan/zoom event.  We'll wait to hear from @jessegreenberg about that part.  We also discussed that it's not an ideal UX to have to pan around looking for controls when zoomed in.

[2021-12-01 22:26] samreid commented on #790
@arouinfar and I reviewed this and agreed it seems ok, closing.

[2021-12-01 22:26] #790 closed

[2021-12-01 22:27] samreid commented on #784
No sign errors were reported in the dev-lite test, so this seems OK to close.

[2021-12-01 22:27] #784 closed

[2021-12-01 22:30] samreid commented on #780
@arouinfar and I cleared the milestone since it seems we don't need to change the capacitor ranges or anything else for RC.1.  @arouinfar recommended closing this issue.

[2021-12-01 22:30] #780 closed

[2021-12-01 22:32] samreid opened #792 "Support multiple inductors by default"
Due to problems in https://github.com/phetsims/circuit-construction-kit-common/issues/780#issuecomment-974291874 and https://github.com/phetsims/circuit-construction-kit-common/issues/774, we resorted to just 1 inductor (or ?moreInductors) to bypass this constraint.  One day it would be nice to have multiple inductors.  If we have to adjust the inductance range, we would need to adjust the capacit

[2021-12-01 22:35] samreid commented on #606
This would be good to explicitly test in QA with the signed ammeter.  Looking for discontinuities, or anything that seems incorrect.

[2021-12-01 22:42] samreid commented on #788
@arouinfar and I discussed that shorting capacitors is somewhat nonphysical, and that the behavior is as expected as soon as the resistance is 0.1 ohms or higher.  Therefore this doesn't need to be addressed for RC.1.  @arouinfar confirmed this is already documented in the teacher tips.  We may not ever fix this ourselves with our hand-written model, but maybe leave this open in case we explore sp

[2021-12-01 22:43] samreid commented on #791
@arouinfar and I reviewed this and agreed it seems good, closing.

[2021-12-01 22:43] #791 closed

[2021-12-01 23:20] jessegreenberg commented on #789
I wanted to see if we could prevent this from happening by checking if the Pointer had an attached listener in the `clickToDismissListener`. But that didn't work because of the order of listeners. On `down`, the pan/zoom listener isn't attached yet because it gets attached on move. The `up` event reaches the MultiListener before an `up` in the `clickToDismissListener` so `event.pointer.isAttached(

[2021-12-01 23:47] jessegreenberg commented on #789
The above seems complicated but I can't think of anything better at the moment. There are many cases of adding a `clickToDismissListener` to `phet.joist.display` in the project and I would guess this is a problem for all of them. Maybe we can abstract the `clickToDismissListener` so that it does the work in https://github.com/phetsims/circuit-construction-kit-common/issues/789#issuecomment-9841476

[2021-12-02 00:08] samreid commented on #789
I reviewed the patch and it seemed reasonable.  In testing it seemed to work OK to select an element, then pan/zoom without losing selection.  I also tested that tapping and releasing in the play area cleared the selected element.  However, in testing a little more, I received this error:

[code]

It wasn't clear to me what was causing this error or how to prevent it.  Since we are trying to avoid

[2021-12-02 00:26] jessegreenberg commented on #789
Thanks @samreid, I am guessing there is an issue with my patch and I am failing to remove the listener on the pointer each release. Will be on the lookout for that in https://github.com/phetsims/joist/issues/770 where I am working on a better way to support this.

[2021-12-02 23:00] samreid commented on #589
From today's design meeting:

KP: Focus on DC first for PhET-iO.

Build a circuit.  Then randomize values.  Hide the resistance of the resistors and require students to look at voltage drops. Being able to change the resistances through the API calls.  Don't show the resistor edit panel.  We may need another visibility function.

Make it so we can hide the stripes.
Input enabled false on the resis

[2021-12-02 23:01] samreid commented on #513
From today's design meeting:

KP: Focus on DC first for PhET-iO.

Build a circuit.  Then randomize values.  Hide the resistance of the resistors and require students to look at voltage drops. Being able to change the resistances through the API calls.  Don't show the resistor edit panel.  We may need another visibility function.

Make it so we can hide the stripes.
Input enabled false on the resis

[2021-12-03 02:34] samreid commented on #513
I'll need to make a PhetioGroup for ResistorNodes so they can be instrumented, but that's complex enough that we should take RC SHAs first.

[2021-12-03 18:06] KatieWoe opened #793 "Flipping battery briefly leads to wrong sign for in line ammeter (and sometimes other ammeters)"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/748.
If you switch the direction of a battery before connecting a circuit, it will give a positive current, but may give a negative current for the first frame before switching to positive. This can best be seen with the in-line ammeter on the lab screen, but I have

[2021-12-03 18:07] KatieWoe commented on #793
May be related to https://github.com/phetsims/circuit-construction-kit-common/issues/606

[2021-12-03 22:57] KatieWoe commented on #793
The second example also happens on the first screen.
<img width="953" alt="firstscreen" src="https://user-images.githubusercontent.com/41024075/144683454-b98405a5-3b8e-4e4c-80d3-74074fbe1be1.png">

[2021-12-03 23:07] CliffordH123 commented on #793
Tested on Windows 10 Firefox and wasn't able to reproduce it. May be Windows 11 related in some way

[2021-12-03 23:15] KatieWoe commented on #793
Just realized I forgot to add the step of turning on the signed option in the option menu. I was unable to reproduce on iPad until I remembered. Sorry, added to the instructions.

[2021-12-04 06:19] samreid commented on #513
I made a <2 minute screen capture:

* Set up a circuit
* Hide the "values" checkbox
* Hide the resistor stripes
* Make the resistor non-interactive (so it can't be selected or show a resistance control)
* Save the customized sim
* Add a line of code that randomizes the resistance on startup

It uses the autoselect feature, and I wanted to put the video in a private repo, so I posted it here: https

[2021-12-04 18:52] samreid opened #794 "Chart tool icon labels should disappear when "Labels" is unchecked."
Discovered during https://github.com/phetsims/circuit-construction-kit-common/issues/513 and relevant to https://github.com/phetsims/qa/issues/748.

Chart tool icon labels should disappear when "Labels" is unchecked.

![image](https://user-images.githubusercontent.com/679486/144721208-e8f6c301-c2e1-48d2-a658-30fc87b79b4d.png)

[2021-12-04 19:21] samreid opened #795 "Cursor hand over region with no chart tool icon"
Discovered during https://github.com/phetsims/circuit-construction-kit-common/issues/513 and relevant to https://github.com/phetsims/qa/issues/748.

Even after dragging out all the charts, there is still a cursor hand in that region.

[2021-12-05 00:28] samreid opened #796 "Should meter tool labels disappear when all tools are in the play area?"
When all dogs are in the play area, the label "dog" disappears from the carousel.  But when all voltmeters are in the play area, the "voltmeters" label remains in the toolbox:

![image](https://user-images.githubusercontent.com/679486/144728833-b82eb3ac-c1d7-4ab9-bad6-0f6cc2676079.png)

Should we unify these?

Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/513 and

[2021-12-05 00:32] samreid commented on #795
Fixed in master and ready for cherry-picking into the RC branch.

[2021-12-05 00:34] samreid commented on #794
Fixed in the commit and ready for cherry-picking into the release branch.

[2021-12-06 03:43] samreid opened #797 "How should we instrument the number controls for circuit elements?"
For https://github.com/phetsims/circuit-construction-kit-common/issues/513, I set out to make the resistance controls static, so that there would be one resistance control, one capacitance control, etc., and each would switch which component it controls.  This would not be trivial to implement since NumberControl, NumberDisplay and Slider do not support mutable attributes such as range, the proper

[2021-12-06 13:36] Nancy-Salpepi commented on #793
also seen with mac + chrome

[2021-12-06 17:11] KatieWoe opened #798 "iPad Reloads"
For https://github.com/phetsims/qa/issues/748
On iPadOS 15.1, with the query parameter `?showPointerAreas`, the sim crashed and reloaded after a few minutes of use. This seems similar to https://github.com/phetsims/molecule-shapes/issues/206

[2021-12-06 17:25] KatieWoe commented on #798
This happened after I set up an AC circuit with a lightbulb and let it run for a few minutes.

[2021-12-06 18:39] stemilymill commented on #798
I have tried to reproduce this several times, and been unable to. I am using iPad pro iPadOS 15.0. I'm going to update to 15.1 and try to reproduce again.

[2021-12-06 18:45] Nancy-Salpepi opened #799 "Treat Switch text the same as other free-floating text"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Chrome and Safari

**Problem description**
For https://github.com/phetsims/qa/issues/748

I noticed that when a circuit element is behind or very close to the text "Tap circuit element to edit", I can still click on that element. However, when the text for the switch is on the screen, I can't access the element.

From

[2021-12-06 19:24] arouinfar commented on #799
Thanks @Nancy-Salpepi!

@samreid this is a fairly minor issue, so feel free to close as wontfix if my request in https://github.com/phetsims/circuit-construction-kit-common/issues/799#issue-1072484267 isn't feasible.

[2021-12-06 19:26] arouinfar commented on #798
@stemilymill can you also try to reproduce https://github.com/phetsims/molecule-shapes/issues/206?

[2021-12-06 19:27] KatieWoe commented on #798
I tried without `?showPointerAreas` and it didn't seem to happen.

[2021-12-06 20:01] stemilymill commented on #798
I was unable to reproduce with iPadOS 15.1, and thus far also unable to reproduce https://github.com/phetsims/molecule-shapes/issues/206

[2021-12-06 20:52] Nancy-Salpepi opened #800 "Current sign doesn't reset to positive when multiple circuits are on same screen"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/748

I noticed that whenever I opened and then closed the switch, it reset the current value back to positive (if negative). However, when there is more than one circuit on the same screen, both displaying negative currents, opening/closing the s

[2021-12-06 23:41] oliver-phet opened #801 "User suggestion: change schematic design of bulb"
Here's the original (?) design issue https://github.com/phetsims/circuit-construction-kit-common/issues/273

[2021-12-06 23:49] jessegreenberg commented on #789
I added a new DisplayClickToDismissListener in https://github.com/phetsims/joist/issues/770 and tested it out in CCK in https://github.com/phetsims/circuit-construction-kit-common/commit/c71117ff7bd2d2d68f104910ee5a903fb1e8170f.  I identified the problem noticed in https://github.com/phetsims/circuit-construction-kit-common/issues/789#issuecomment-984170858 (I was trying to add the listener to a P

[2021-12-07 01:31] Nancy-Salpepi commented on #800
Also, if the current sign was positive for one circuit, it can change to negative when the switch is opened/closed, if the other circuit shows a negative current.

Steps:
1. Create 2 simple circuits with a switch, battery and lightbulb.
2. Turn on 'Signed' for ammeter readout in the Options menu
3. Attach an ammeter to each circuit
4. Close both switches
5. Flip the battery in one circuit--its cur

[2021-12-07 17:24] KatieWoe commented on #798
After a few minutes testing this on the iOS 14.8 device, I didn't see it there either.

[2021-12-07 17:53] samreid opened #802 "Using phet-io to hide a circuit tool icon, then dropping a circuit element of that type, makes the tool icon reappear."
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/589#issuecomment-694843412

In this version, dragging out other components or resetting doesn't restore the resistor tool.  But dragging the resistor tool to to the toolbox restores it.  I'll wait for guidance on how to proceed here, but here are some options:
* instrument the "max number" of resistors.  Setting the m

[2021-12-07 17:54] samreid commented on #513
https://github.com/phetsims/circuit-construction-kit-common/issues/589#issue-663391407 has notes about some desired phet-ioIDs that were implemented.

[2021-12-07 17:55] samreid commented on #589
Since we are moving forward with the full phet-io instrumentation (instead of this "basic" version), I opened side issues for the remaining work and will close this one.

[2021-12-07 17:55] #589 closed

[2021-12-07 18:02] arouinfar commented on #801
@oliver-phet there really isn't anything we can do here. We are constrained by the current path. The electrons and conventional current arrows must travel on the same path regardless of whether the circuit is in lifelike or schematic mode. It is important the the lightbulb terminals are realistically placed on the bottom/side of the socket. We also want to accurately depict the flow of current thr

[2021-12-07 19:11] samreid commented on #799
Fixed and ready for cherry-picking.

[2021-12-07 20:16] Nancy-Salpepi opened #803 "Current value doesn't update when wire resistivity is changed in pause mode"
**Test device**
Chromebook (and Macbook Air)

**Operating System**
94.0.4606.124

**Browser**
chrome

**Problem description**
For https://github.com/phetsims/qa/issues/748
This is a minor issue, but it is an inconsistency:

On the lab screen and in the virtual lab, when the sim is paused and I change the value of an element in the circuit (battery voltage, resistivity of bulb/resistor etc), the va

[2021-12-07 21:06] samreid commented on #797
@arouinfar and I discussed it, and are thinking the cleaner way to implement it is to have one resistance control, one voltage control, etc.  This will allow you to listen/customize the entire family without having to wire up to each one individually.   If a client wants to customize a control for a specific element, they would have to have a selectedCircuitElement listener and apply customization

[2021-12-07 21:11] kathy-phet commented on #797
This seems like a pretty big decision - and expensive to change - so shall we gather some feedback from clients before we go down one path or another? I would also like to understand the nuances here too .... happy to discuss before Thursday.

[2021-12-07 21:14] samreid commented on #796
@arouinfar and I think it would be a better design to remove the text when all the items are in the play area.  It's worth at least an hour of investigation.

[2021-12-07 21:17] samreid commented on #798
@arouinfar and I discussed this today, we recommend creating a scenery-specific issue.  However, it is an internal query parameter, and not reproducible across different devices.  @arouinfar says it doesn't need to be fixed before publishing 1.0.  On the other hand, if there is a fix it could be good to cherry pick.

[2021-12-07 21:21] samreid commented on #800
@arouinfar and I discussed, and would like to investigate this.  This kind of breaks the usability of the signed readout, because it displays an incorrect physical change.  I'll spend up to 4 hours investigating.

[2021-12-07 21:23] samreid commented on #803
@arouinfar and I discussed this, and I have an idea how to investigate.  I'll take a look.

[2021-12-07 21:31] samreid commented on #802
@arouinfar and I discussed this today.  We considered a new attribute on the circuit element model, `canBeDroppedInToolbox` which defaults to true, but can be set to false if the client wants to prevent that.

[2021-12-07 21:34] samreid commented on #513
@arouinfar and I discussed this today.  I said the tree is in good shape (aside from the 2 issues we discussed), and it is ready for the tree to be reviewed on phettest.  @arouinfar said she could review it next week at the earliest.

[2021-12-07 21:59] oliver-phet commented on #801
@arouinfar what about Sam's suggestion in https://github.com/phetsims/circuit-construction-kit-common/issues/273#issuecomment-295554469? I'm imagining if the schematic had an identical path as the lifelike view it could alleviate this phallic issue?

Here's a quick mockup using the filament path and aligning the "bulb" schematic on top. I think this could have a couple benefits:

1. The path of el

[2021-12-07 22:58] samreid commented on #606
We requested testing for this issue in https://github.com/phetsims/qa/issues/748, and some side issues were reported.  I'm inclined to close this and work on the discovered issues.  @KatieWoe please reopen if there's anything else specific to this issue.

[2021-12-07 22:58] #606 closed

[2021-12-07 23:10] samreid commented on #796
Fixed and ready for cherry picking.

[2021-12-08 00:29] samreid commented on #803
An older performance optimization was delaying updates to the stepInTime() phase, I removed it and now it seems that updating resistivity or wire length when paused works properly.  We will want to make sure dragging a wire is still smooth enough on our slow platforms.

[2021-12-08 02:05] samreid commented on #793
I was able to reproduce the problems, thanks for the good find and instructions!  I pushed separate fixes for the series ammeter and non-series ammeter.  They both needed to listen for the currentSenseProperty, but they have different pipelines for it.  Ready for cherry picking and testing in next RC.

[2021-12-08 02:07] samreid commented on #800
There is a chance https://github.com/phetsims/circuit-construction-kit-common/issues/793 may fix this.

[2021-12-08 06:39] samreid commented on #800
#793 does not fix this.  It is being caused by `CircuitElement.determineSense` which has this code:

If a CircuitElement's sense is unspecified, but some other circuit element (call it the root circuit element) sense is specified, then choose a sense so the overall sign matches the root.  The problem in this case is the root is not connected to the circuit element.  I considered writing a graph se

[2021-12-08 17:20] samreid commented on #800
From slack:

I’m about to commit the proposed fix, but I have more questions about corner cases.  Want to chat again?
For instance, if you connect a battery resistor circuit, then flip the battery polarity, then disconnect the battery and delete everything except the battery, then reconnect the battery, it will show initial current readout as negative.  Is that OK?
But if you put the battery back

[2021-12-08 20:11] oliver-phet commented on #578
Another user wrote in requesting this feature:

[2021-12-09 00:03] samreid commented on #800
Latest patch from second discussion with @kathy-phet and @arouinfar where we only use ac sources as references:

<details>

[code]

</details>

[2021-12-09 16:59] kathy-phet commented on #800
@samreid - I would like to be able to play with a dev version that follows this rule and see what breaks?

We could have a circuit element permanently remember its sense, unless it is fully disconnected? Here is a patch that tries that idea:

Starting with that rule only. Then I'm wondering if that in combination with "if unspecificied, use any other "AC sources" if they exist to set the sense", m

[2021-12-09 17:23] samreid commented on #800
I combined the "We could have a circuit element [starts "unspecified" but then] permanently remember its sense, unless it is fully disconnected?" patch with the "use any other "AC sources for reference" idea in this patch:

<details>

[code]

</details>

Initial setups will work ok, but here's a case that will fail it.  If you connect circuits like this, the currents will be in phase:

![image](ht

[2021-12-09 17:55] samreid commented on #800
@arouinfar and I found this patch to be promising:

[code]

We saw one discontinutity but cannot reproduce it.

[2021-12-09 18:49] samreid commented on #800
@arouinfar and I tried this strategy which looks at locally connected circuit elements to choose the polarity.  However, even adjacent connected elements may have an inconsistent polarity which would lead to discontinuities:

<details>

[code]

</details>

https://user-images.githubusercontent.com/679486/145457122-9345a05f-2c5e-4ccd-a1c4-8132f45aa832.mov

We think we may be able to get this strate

[2021-12-09 20:25] samreid commented on #800
We considered this case, and we don't think we can guarantee consistency at the junction:

![image](https://user-images.githubusercontent.com/679486/145470259-0d05c963-4ef0-4b44-93a6-ebac34834afa.png)

However, each loop needs to be self-consistent.

[2021-12-09 20:26] samreid commented on #800
We would like to make sure the current readouts are consistent throughout this circuit:

![image](https://user-images.githubusercontent.com/679486/145470486-f64bd81f-fe02-4fcf-97ca-0c37e8458c08.png)

[2021-12-09 20:26] samreid commented on #800
We are considering looking at neighbors to see if one is specified.  @kathy-phet suggested that going from the high voltage side, then choosing the "highest voltage" neighbor would be a consistent way to assign senses.

[2021-12-10 00:07] samreid commented on #800
Current status:

<details>

[code]

</details>

[2021-12-10 05:04] samreid commented on #800
I rewrote the algorithm in Circuit.ts, and made it more holistic.  Let me describe the algorithm at the moment.  This happens once per `step`

[code]

I planned for the first draft to have the "assigning sense from neighbors during the traversal" follow the "take the voltage from the high voltage side's highest voltage neighbor", but I haven't reproduced a case where this is necessary yet.  I test

[2021-12-10 05:56] kathy-phet commented on #800
With this circuit I was able to get the phases of the AC circuits out of sync, if I opened and closed the switch on the right and timed it correctly to be out of phase. But that is because the AC source on the right gets its "sense" from the existing sense of the battery loop in the middle.

This isn't technically broken ... just the AC is out of phase by 180 degree. I don't see a way around this

[2021-12-10 05:59] kathy-phet commented on #800
When you are testing, know that expected behavior is ...
- if a stand alone circuit has no current in it at all (either by breaking the path or opening a switch), it will always choose positive for the current when reconnected if DC, or match the sense of an existing AC source if AC.

[2021-12-10 06:00] kathy-phet commented on #800
@samreid - How "expensive" is this algorithm, performance wise?

[2021-12-10 06:24] samreid commented on #800
Sure, I'll post a dev version soon for QA testing.  I may want to adjust some things first (there are 3 TODOs in the code to consider). Also, I created the circuit from 3 comments ago and looked at the "steady state" performance cost (while things are running, not just the moment something is connected), and it seems on the low side, significantly lower than the charge animator, or the modified no

[2021-12-10 15:06] kathy-phet commented on #800
A circuit this complicated is able to get some discontinuities and change the way it behaves based on timing of closing the switch. The parallel branches here have different current signs now, even though flow is in same direction. But overall, for simple circuits, this is getting much better behaved. Haven't tried to see if I can mess it up with just DC.
![image](https://user-images.githubusercon

[2021-12-10 15:47] kathy-phet commented on #800
I made this circuit ...
![image](https://user-images.githubusercontent.com/5096804/145601374-67b4f160-fc63-4350-8cf9-523ebe5cd791.png)

It's easy to get the top current to switch relative to the one on the right, because I can just flip the batter in that bottom loop, and then the top loop matches the sense in that "lowest z-order" wire.

[2021-12-10 15:52] kathy-phet commented on #800
@samreid @arouinfar - While the new algorithm cannot create a situation that is "in sync" for all circumstances, it seems pretty robust for common simple circuits ... one voltage source, parallel and series situations.

I would favor moving forward with a dev test and see if the QA team finds any simple cases which seem incorrect.

And ask Ariel to bang on it too to see if he finds any simple case

[2021-12-10 18:23] samreid commented on #800
In the commit: renaming, refactoring, simplification, performance improvements.  Should not change overall behavior, but should be better for maintainability.

[2021-12-10 18:48] samreid commented on #800
In testing a pair of AC voltage circuits, I observed the following:

### Connecting at arbitrary time, they are in phase as desired:
![image](https://user-images.githubusercontent.com/679486/145625697-5e2016e3-14ba-4d60-8a01-40bbe8b5b6c4.png)

### Then, changing the phase puts them out of phase, as expected:
![image](https://user-images.githubusercontent.com/679486/145625811-a42b59e6-a0bc-4871-aaa

[2021-12-10 18:52] samreid opened #804 "Create RC.2"
This will cherry-pick the 7 open milestone issues. (1 commit per issue except for 2 issues have 2 commits).

[2021-12-10 18:58] samreid commented on #804
I followed this process (used my IDE to create the common code branch):

[code]

Deployed: https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-rc.2/phet/circuit-construction-kit-ac_en_phet.html

[2021-12-10 19:10] samreid commented on #804
RCs created, closing.

[2021-12-10 19:10] #804 closed

[2021-12-10 19:32] arouinfar commented on #800
This is definitely fine for 1.0 and easy enough to document in the Teacher Tips. Something we could consider for the future is adding a way to manually clear the phase (perhaps a button in the edit panel) to re-sync things up.

[2021-12-10 19:37] arouinfar commented on #800
This sounds like a great plan. I would only consider sign errors blocking if they show up in circuits that would show up in a typical classroom activity. Generally, it seems like issues arise when there are voltage sources in separate but strangely connected loops.

[2021-12-10 19:38] samreid commented on #800
For clarification, @kathy-phet and I decided to do this testing with RC.2 instead of a dev version.

[2021-12-10 19:48] KatieWoe commented on #793
This looks fixed in rc.2. Will reopen if something shows up.

[2021-12-10 19:48] #793 closed

[2021-12-10 19:56] Nancy-Salpepi commented on #803
This looks fixed in rc2.

[2021-12-10 19:56] #803 closed

[2021-12-10 19:57] KatieWoe commented on #794
This is still in RC.2. Not fixed
![notfixed](https://user-images.githubusercontent.com/41024075/145634013-aeb7b523-ddb8-40cd-b0c7-0a9264443431.gif)

[2021-12-10 20:02] KatieWoe commented on #794
Actually, I think I may have misunderstood/misread. Waiting for SR to confirm.

[2021-12-10 20:10] KatieWoe commented on #795
This is partially fixed. Now, when all charts are removed the label disappears. This may be intended, but for the ammeters on the lab screen, it only takes the left ammeter into account, and the label disappears even if in-line ammeters are left. This does not occur if all in-line ammeters are removed but the left ammeters are left.
![ammetergone](https://user-images.githubusercontent.com/41024075

[2021-12-10 20:18] samreid commented on #794
I wrote on slack:

[2021-12-10 20:19] KatieWoe commented on #794
Sorry for the confussion

[2021-12-10 20:19] #794 closed

[2021-12-10 20:19] samreid commented on #795
Good find, thanks!

[2021-12-10 20:22] samreid commented on #795
Did you mean to mark this comment for https://github.com/phetsims/circuit-construction-kit-common/issues/796 ?  Also, in any case I will probably move the report to a new issue.  Can this one be closed?  It is about a cursor hand incorrectly showing over the empty voltmeter charts in rc.1.

[2021-12-10 20:24] kathy-phet commented on #800
@sam - Can  you make a new issue for this? So we can fix it when we do PhET-iO add. I think its fixable.

[2021-12-10 20:26] KatieWoe commented on #795
No, I hadn't gotten to that issue yet. I just noticed the differing behavior when all things were removed from rc.1 and thought it was this issue.
Closing

[2021-12-10 20:26] #795 closed

[2021-12-10 20:26] samreid opened #805 "AC Source current sense is determined without regard for the "phase shift" controls"
From https://github.com/phetsims/circuit-construction-kit-common/issues/800#issuecomment-991212081, I said:

In testing a pair of AC voltage circuits, I observed the following:

### Connecting at arbitrary time, they are in phase as desired:
![image](https://user-images.githubusercontent.com/679486/145625697-5e2016e3-14ba-4d60-8a01-40bbe8b5b6c4.png)

### Then, changing the phase puts them out of p

[2021-12-10 20:26] samreid commented on #805
@kathy-phet said:

[2021-12-10 20:27] samreid commented on #805
I’ll open an issue, but not sure how we will handle the case when they are 90 degrees out of phase.

[2021-12-10 20:27] KatieWoe commented on #796
For the ammeters on the lab screen, it only takes the left ammeter into account, and the label disappears even if in-line ammeters are left. This does not occur if all in-line ammeters are removed but the left ammeters are left.
![ammetergone](https://user-images.githubusercontent.com/41024075/145637129-8adf04f0-72d1-43df-a83b-05045c397115.gif)

[2021-12-10 20:44] samreid commented on #796
I committed a fix to master, ready to cherry-pick into RC.3

[2021-12-10 23:00] KatieWoe opened #806 "Graphics Driver/CCK AC freezing and screen blackout"
For https://github.com/phetsims/qa/issues/752, this issue has been quite hard to pin down. Paired with @samreid for quite awhile trying to work it out.
This morning, I updated my graphics driver. When testing RC.2 for CCK AC, if the sim sits for even a small amount of time (10 seconds), trying to drag an object causes the sim to freeze for a bit. If it sits for long enough (say 2 minutes) the wind

[2021-12-11 21:45] samreid commented on #806
In my opinion, the next step for this issue is to wait for another graphics driver update and see if the problem changes.  But also, if this behavior is too bothersome and/or @KatieWoe wants to investigate more, it would be possible to roll back to a prior graphics driver to see what happens.  That has some risks (such as inadvertently installing undesirable system utilities, or making it harder t

[2021-12-13 16:04] ariel-phet commented on #800
@kathy-phet thanks for the clarification -- I actually just saw your "intended" behavior comment in the RC testing issue -- I will continue to test with that in mind, I will be careful about connecting and reconnecting circuits to see the behavior is matched. Onward!

[2021-12-13 16:36] kathy-phet commented on #800
Yes, so for instance if you add a parallel branch to the one you made negative above, without opening the switch, it should adopt the negative current that is already in that circuit. If you then open the switch and close the switch it should stay negative, because the parallel branch is still keeping the current sense in "Memory" so to speak.

[2021-12-13 22:00] KatieWoe commented on #806
I checked other sims on master on the problem platform and only CCK AC and AC VL showed the issue.

[2021-12-14 01:37] ariel-phet opened #807 "Current not read in junction between two AC source"
Discovered in testing https://github.com/phetsims/qa/issues/752

@samreid while testing 1.0.0-rc.2 I noticed that if you try to read the current on the current chart in the junction between two AC sources you get a "null" reading. Seems like there should still be a current read out in this case. Does not block publication, but seems worthy of noting as an issue.

Example:

https://user-images.gith

[2021-12-14 02:00] ariel-phet commented on #800
@samreid @kathy-phet @arouinfar with the understanding of the rule described, things seems self consistent in my testing.

[2021-12-14 02:06] samreid commented on #800
Thanks, I don't have any other work for this issue at the moment, and QA didn't indicate other trouble in RC.2.

I'll leave this issue open and unmark for the milestone.  It's unclear to me how we would do other work for this issue, would be good to discuss before I work on this further.

[2021-12-14 15:13] samreid commented on #807
I'll triage this for next publication with phet-io.

[2021-12-14 16:37] KatieWoe commented on #806
Also noting that, if the sim sat and something was moving, such as the electrons on the circuit, this didn't seem to happen.

[2021-12-14 17:31] samreid opened #808 "Update credits"
@KatieWoe said:

@arouinfar said:

[2021-12-14 18:34] samreid commented on #513
From CT:

[code]

[2021-12-14 19:24] KatieWoe commented on #808
Looks good

[2021-12-14 19:24] #808 closed

[2021-12-14 20:26] samreid opened #809 "Add CT tests for public query parameters"
Some checklists say "Add CT tests for public query parameters".  I reached out to slack to ask how this can be done.

[2021-12-14 20:30] samreid commented on #809
@pixelzoom said:

[2021-12-15 18:05] samreid commented on #797
@zepumph indicated that Projectile Motion has different controls for each object type, like `baseballNumberControl`, `tankShellNumberControl`, etc.  He said whichever is easier to support in the code may be preferable.  Currently the code instantiates new controls each time you click on an object.  @zepumph said he could join in the upcoming phet-io design meetings for this.

[2021-12-16 04:49] samreid commented on #809
Added, closing.

[2021-12-16 04:49] #809 closed

[2021-12-16 21:14] samreid commented on #797
From today's discussion:

@ariel-phet: It seems you should have one control per item, for full flexibility and control.  You might want to show the trash button for one circuit element but not another.
@samreid: Yes, that sounds the most robust to me.
@arouinfar: We could add other flags to the model element, indicating whether it's enabled, etc.
@kathy-phet: If we have one control per circuit ele

[2021-12-16 22:37] samreid opened #810 "Are circuit element label nodes instrumented?"
Are circuit element label nodes instrumented?  Should clients be able to set that to any text?

[2021-12-17 00:10] samreid opened #811 "cannot tap away from selected voltage vertex to deselect it"
I noticed you cannot tap away from selected voltage vertex to deselect it.

[2021-12-23 20:10] samreid opened #812 "Add PhET-iO customizable text for circuit elements and vertices"
Related to https://github.com/phetsims/circuit-construction-kit-common/issues/810, add a phet-io customizable text label for each circuit element.  Invisible by default.  Dynamic layout to make it the right size and position.

SR: Should we make a more generalized engine for creating a label and associating it with a node or position?
KP: That has been rarely necessary in other designs.  And the l

[2021-12-23 20:16] samreid commented on #810
In https://github.com/phetsims/circuit-construction-kit-common/issues/812, we will support arbitrary text. Therefore the "values" labels will not have their text editable.  The visibility of the value labels should be independently controllable separately from the custom labels in https://github.com/phetsims/circuit-construction-kit-common/issues/812.

But we should be able to support clicking "sh

[2021-12-23 20:20] samreid commented on #681
At today's meeting, we agreed the clients don't need an explicit instrumented property for the bulb brightness.

[2021-12-23 20:21] samreid commented on #691
This issue overlaps with discussion in https://github.com/phetsims/circuit-construction-kit-common/issues/810

[2021-12-23 20:24] samreid commented on #778
On hold until we address the phet-io specific issues.

[2021-12-23 20:24] samreid commented on #785
On hold until we address the phet-io specific issues.

[2021-12-23 20:27] samreid commented on #630
At today's design meeting, we agreed we need to make the distinction between "all the batteries are currently gone and there should be a placeholder blank spot for them" vs "the customized sim doesn't have any batteries so there shouldn't be a spot for them".

[2021-12-23 20:31] samreid commented on #608
From today's phet-io meeting: Assigning to @samreid to see how this pertains to the data stream or phet-io instrumentation.  Please reach out to @jonathanolson as necessary to proceed.

[2021-12-27 06:15] rollcode commented on #681
Thanks @samreid . Does this mean that it will not be in i/o (no problem), or also that it will not be visible to the student? Thanks.

[2021-12-29 14:04] samreid commented on #681
This issue is about instrumenting features for PhET-iO and will not change the student-facing user experience.

[2021-12-29 14:11] samreid opened #813 "Light bulb filament path is wrong for customized studio save file"
The Light bulb filament path is wrong for customized studio save file:

![image](https://user-images.githubusercontent.com/679486/147670889-a62e7a99-5f9d-454c-9180-d193c02c5141.png)

[2022-01-05 16:22] samreid commented on #749
There is more to do:

- [ ] search for `@public` and update accordingly
- [ ] update/remove JSDoc

[2022-01-06 20:08] samreid commented on #631
Published, closing.

[2022-01-06 20:08] #631 closed

[2022-01-07 05:00] samreid commented on #813
The filament path was corrected in the commit.  There is also a problem about the schematic positioning:

![image](https://user-images.githubusercontent.com/679486/148494287-e51875ba-7be8-438e-b2be-ec18e556e211.png)

[2022-01-08 04:52] samreid commented on #811
In master, I'm able to select a vertex then tap away to deselect it.  Was this solved, or did I have a problem when testing this before?  In any case, let's close.

[2022-01-08 04:52] #811 closed

[2022-01-10 17:14] samreid opened #814 "Translations Error: Cannot find module 'acorn'"
I got build errors for locale "fa" with message Error: Cannot find module 'acorn'.

Perhaps we need to maintenance release with the revert in https://github.com/phetsims/chipper/issues/1171.  I may know more after dev meeting discussion in https://github.com/phetsims/perennial/issues/256

[2022-01-10 20:23] samreid commented on #797
From today's meeting, we would like to have one (e.g.,) resistance number control that is statically created and points to the currently selected resistor.  Each element in the carousel will have its own number control.  These will be statically created.

We will need model-based `isEditable` properties so that different model elements can be made editable vs non-editable.

There will be one trash

[2022-01-10 21:01] samreid opened #815 "PhET-iO data stream voltages rapidly switch"
When running with the data stream, `circuitConstructionKitDc.introScreen.model.circuit.vertexGroup.vertex_1.voltageProperty changed {"oldValue":0,"newValue":9}` keeps flipping back and forth between 0 and 9.

Is this related to the sign errors we faced previously?

@kathy-phet said I can reach out to @jonathanolson as necessary for assistance on this issue.

[2022-01-10 21:10] samreid opened #816 "State Wrapper: circuitConstructionKitDc.introScreen.view.circuitLayerNode.wireNodeGroup.countProperty should match array length. Expected 1 but found 2"
We got this error in the state wrapper:

circuitConstructionKitDc.introScreen.view.circuitLayerNode.wireNodeGroup.countProperty should match array length.  Expected 1 but found 2

[2022-01-10 21:28] samreid commented on #802
UPDATE: We have a new plan in https://github.com/phetsims/circuit-construction-kit-common/issues/797 that will affect this issue.

[2022-01-10 21:31] samreid commented on #681
From today's meeting, we will add the power `derivedProperty` but not instrument the `brightnessProperty`.

[2022-01-10 21:32] samreid commented on #691
See notes in https://github.com/phetsims/circuit-construction-kit-common/issues/797

[2022-01-10 21:36] samreid commented on #630
@kathy-phet said this may be beyond the scope of our January 2022 sprint.

[2022-01-10 22:57] pixelzoom commented on #797
Since we're exposing sim internals, I think it would be wise to consider what's clearer for PhET developers. And that would be `isDisposable`.

[2022-01-10 23:59] samreid commented on #797
In the commit, I tried a pattern for static creation and reuse of a control for the fuse property, and it seems to be working OK.  We can try that pattern for the different circuit elements.

[2022-01-11 20:53] samreid opened #817 "Dragging out a regular battery then a high voltage battery fails"
Discovered during https://github.com/phetsims/circuit-construction-kit-common/issues/797, we get this error:

[2022-01-13 18:57] oliver-phet commented on #801
@arouinfar I think I forgot to assign this issue back to you after my quick mockup. I think it has benefits beyond the phallic issue, but up to you to decide!

[2022-01-13 21:03] samreid opened #818 "Tool nodes should be nested under something"
Currently looks like this:

![image](https://user-images.githubusercontent.com/679486/149408702-82fe9eb6-ad66-4953-bc4e-d2da2ef76ed5.png)

[2022-01-14 16:40] samreid commented on #797
I messaged on slack:

[2022-01-14 22:26] samreid commented on #817
@arouinfar and I saw this problem again today.  We think the view groups need to be separated like the model groups are.

[2022-01-19 16:38] KatieWoe opened #819 "CT Must call super constructor in derived class before accessing this or returning from derived constructor"
[code]

[2022-01-19 19:04] samreid commented on #797
On slack, @arouinfar said:

[2022-01-20 03:17] samreid commented on #797
In the commits, I've added the following:
* Resistor.isColorCodeVisibleProperty
* isValueDisplayableProperty
* Battery.isReversibleProperty
* DynamicCircuitElement.isClearableProperty
* Fuse.isRepairableProperty

Those parts are ready for review.  Coming up next: I'm at https://github.com/phetsims/circuit-construction-kit-common/issues/797#issuecomment-1009311546 CHECKPOINT Jan 19.

[2022-01-20 20:02] samreid opened #820 "Electrons and Conventional should be in a radio button group."
Electrons and Conventional should be in a radio button group, with a linked element.

[2022-01-20 21:08] samreid opened #821 "Add phet-io-specific customizable labels for each circuit element"
Add phet-io-specific customizable labels for each circuit element

[2022-01-21 15:53] kathy-phet opened #822 "Circuit element NumberDisplays have inconsistent font size"
I was demoing this sim yesterday and saw a small inconsistency in font size. The Frequency number control is inconsistent with the other control sizes. I think would be nice if we could match that to the other sizes and do a MR if easy. @arouinfar - Can you take a peak? And let me know if this was intentional or we just overlooked it previously? Thx.
![image](https://user-images.githubusercontent.

[2022-01-21 17:43] samreid commented on #797
I’m working on this request:

This is a nontrivial request due to how the graph search identifies movable elements.  However, I found that Vertex already supports a feature called Vertex.isDraggedProperty.  I instrumented it and found that it works as a way to make neighboring CircuitElements non-movable.  It isn’t the ideal API for clients, but it works out of the box and will not require rewriti

[2022-01-21 17:50] samreid commented on #797
I instrumented startVertexProperty and endVertexProperty, but it is using `VertexIO` which is data-type oriented instead of reference-type oriented.  So I'm not sure it's correct.  Also, we will need to edit the metadata, such as whether it is readonly.

[2022-01-21 17:50] samreid opened #823 "Output the circuit so it can be processed by researchers"
From https://github.com/phetsims/circuit-construction-kit-common/issues/797

[2022-01-21 17:57] samreid commented on #797
I reviewed the current implementation and it looks as if the dragged vertex replaces the drop target vertex.  That means if the dragged vertex was cuttable, then after it is dragged and attached to something else, it will remain cuttable.  The "accepting" vertex is deleted.  Is this acceptable for 1.0?

[2022-01-21 18:15] arouinfar commented on #822
Summary:
- Circuit components added after CCK: DC 1.0 are styled differently.
- All resistance and voltage controls are collapsed into a single control in the published versions but will be decoupled for phet-io so we will have more control over pixel polishing.
- We should be using a consistent font size for these controls and will pixel polish as a part of the upcoming release.

Slack discussion

[2022-01-21 18:36] samreid commented on #797
This issue is ready for review and testing.  Also, this issue is getting long, so I recommend opening new issues where possible for discovered side problems (unless there is something foundational to this issue).  Please note some questions in the preceding comments, and that I have already opened side issues for certain aspects.

[2022-01-24 16:13] samreid commented on #802
We added `CircuitElement.isDisposableProperty` in #797, can this issue be closed?

[2022-01-24 16:30] samreid commented on #681
That is incorrect. Capacitors and inductors do not have a resistanceProperty at the moment.  I looked at factoring out a `ResistiveCircuitElement` property, but this is incompatible with our type hierarchy because we must have `Wire extends ResistiveCircuitElement` and `Fuse extends FixedCircuitElement` but `Capacitor extends FixedCircuitElement`.  Without mixins, I don't see a place to factor out

[2022-01-24 16:49] samreid commented on #691
In #797 we added `CircuitElement.isValueDisplayableProperty` and in #812 we will add customizable text labels.  Resistors also have `isColorCodeVisibleProperty`.  So I think this issue can be closed.  @arouinfar can you please confirm and close if true?

[2022-01-24 16:56] samreid commented on #681
@arouinfar and I discussed this today, and we saw many different `resistanceProperty` values across different circuit elements, used in different ways.  Some behaving like derived properties, etc.

We saw that Capacitors and Inductors have an internal resistance of 1E-4.

We discussed leaving things as they are, but adding `powerProperty` to resistors and light bulbs. But it seems we need to check

[2022-01-24 16:58] samreid commented on #691
@arouinfar and I agreed this can be closed.

[2022-01-24 16:59] samreid commented on #802
@arouinfar and I discussed, and agreed this is solved by `isDisposableProperty`, closing.

[2022-01-24 16:59] #802 closed

[2022-01-24 17:01] samreid commented on #778
@arouinfar indicated that there are no current signs in DC, so this may be able to wait until we publish AC.

[2022-01-24 17:04] samreid opened #824 "AC-specific circuit elements and features should not appear in the DC studio tree"
AC-specific circuit elements and features should not appear in the DC studio tree

[2022-01-24 17:08] samreid commented on #822
@arouinfar and I took a look and suspect this may have been caused by maxWidth restrictions.  But we also observed that the maxWidth can extend over the tweakers if necessary (looks like it might be constrained just to the slider track).  I'll take a look.

[2022-01-24 18:27] samreid commented on #810
In #797 we added `CircuitElement.isValueDisplayableProperty` which works as a gate for displaying the value.  Since the text is not settable independently, it seems these should not be instrumented.  Therefore, I think this issue can be closed.

[2022-01-24 18:27] #810 closed

[2022-01-25 16:08] samreid commented on #817
Fixed, closing.

[2022-01-25 16:08] #817 closed

[2022-01-25 23:26] samreid commented on #812
I added a first draft of putting the custom label text.  It seemed most natural to put it with the other CircuitElement model elements, so the tandem is something like:

[code]

If set to the empty string `''` it is hidden.  It shows in the same panel and same maxWidth as the value display.  That part seems ready for review, but I still need to work on the vertex labels.

[2022-01-25 23:36] samreid commented on #812
I added a similar label for vertices.  I could use help fine tuning the font sizes and max widths of everything.  @arouinfar can you please review and reach out to me for fine tuning?

[2022-01-26 01:59] samreid commented on #681
I wrote on slack:

[2022-01-27 15:40] samreid commented on #816
@zepumph and I fixed this in the commit, closing.

[2022-01-27 15:40] #816 closed

[2022-01-27 16:21] samreid opened #825 "Remove blackBoxStudy items"
PhET-iO CCK Jan 10

They should not be visible in DC.  OK to strip them out for now.

[2022-01-27 16:22] samreid opened #826 "circuitConstructionKitDc.introScreen.model.circuit.vertexGroup.vertex_1.voltageProperty should be marked as high frequency"
PhET-iO CCK Jan 10

circuitConstructionKitDc.introScreen.model.circuit.vertexGroup.vertex_1.voltageProperty should be marked as high frequency

[2022-01-27 20:38] samreid commented on #815
@kathy-phet said it is not necessary to fix this for the upcoming dev version.

[2022-01-28 03:17] samreid commented on #681
I added powerProperty for LightBulbs, Resistors (includes grab bag elements) and Batteries.  I was getting different answers for batteries computing P=IV vs `I*I*R`.  The P=IV values seemed too high whether I used `voltageProperty` or `voltageDifferenceProperty`, and it was simplest to use one computation factored out, so I used `I*I*R` for the battery as well.  @arouinfar can you please review an

[2022-01-28 03:19] samreid commented on #812
I think this issue is ready for review and feedback.  @arouinfar can you please take a look?

[2022-01-28 03:28] samreid commented on #813
Seems to be fixed in the commit, closing.

[2022-01-28 03:28] #813 closed

[2022-01-28 03:36] samreid commented on #818
I fixed tandem names and the tree is looking much nicer now, closing.

[2022-01-28 03:36] #818 closed

[2022-01-28 04:44] samreid commented on #820
Fixed and seems good, closing.

[2022-01-28 04:44] #820 closed

[2022-01-28 04:44] samreid commented on #821
Duplicate of https://github.com/phetsims/circuit-construction-kit-common/issues/812, closing.

[2022-01-28 04:44] #821 closed

[2022-01-28 05:02] samreid commented on #823
Setting up a simple circuit

![image](https://user-images.githubusercontent.com/679486/151490148-90e32081-0fc2-49ef-92ff-d5392571e2eb.png)

and showing the changed state (not just featured), we have:

<details>

[code]

</details>

Is this acceptable?  We do not want to have to create and maintain a completely separate data language/format for the circuit.

[2022-01-28 16:02] samreid commented on #824
I wrote on slack:

It's worked well to have AC and DC share as much code as possible, and I don't want to complicate the type hierarchy unless necessary.  @zepumph can you please advise?

[2022-01-28 16:04] samreid commented on #824
Also, @arouinfar can you comment what should be excluded from DC?  Anything other than capacitors, inductors, AC sources and their corresponding controls?

[2022-01-28 16:14] zepumph commented on #824
I was going to recommend passing an option through to the Class creating these groups, so that AC can tell it to create and instrument these.

Does this mean would prefer not to do this?

If you want to make PhetioGroup Tandem.OPTIONAL, go for it.

[2022-01-28 16:26] samreid commented on #824
So the type would be `PhetioGroup<Capacitor> | null` ?  I considered creating `ACCircuit extends Circuit` but what if in the future we have a variant of CCK that has capacitors but not inductors?  We have talked about CCK "Intro" and energy-focused CCK variants, so we may need to be able to support arbitrary combinations.

[2022-01-28 16:36] samreid commented on #824
The real light bulb is only available on the Lab screen.  Do we need to omit the realLightBulbGroup from the intro screen?

[2022-01-28 16:43] samreid commented on #826
Fixed, closing.

[2022-01-28 16:43] #826 closed

[2022-01-28 16:45] samreid commented on #825
Fixed, closing.

[2022-01-28 16:45] #825 closed

[2022-01-28 17:04] samreid commented on #630
The pagination is very explicit at the moment, with wires at the top of each page.

[code]

It's unclear what the desired behavior should be during customization.  Should the client be able to set up different pagination during startup?  Or dynamically?

Is the current behavior acceptable for now?

[2022-01-28 17:05] samreid commented on #785
I don't think this should be part of the current sprint, @arouinfar can I remove it from the milestone?

[2022-01-28 17:06] samreid commented on #778
@arouinfar should we label the current milestone as "dc-specific", and remove this from the milestone?

[2022-01-28 17:39] kathy-phet commented on #630
@samreid @arouinfar - I would say that this is not a priority for the Jan 2022 sprint, and can defer for a later time.

[2022-01-28 17:40] kathy-phet commented on #785
I agree this isn't a priority for current Jan 2022 sprint on PHET-iO.

[2022-01-28 17:44] kathy-phet commented on #681
Hi Sam,
Actually P=IV is what I am thinking here... where in this case it is not power consumed from resistive part of battery, but power SUPPLIED" by the battery. So P=I*(voltage of the battery). It should add to the power used by any lightbulbs used in the circuit.

[2022-01-28 18:19] samreid commented on #681
I wrote in slack:

[2022-01-28 18:20] zepumph commented on #824
It does not bother me to have PhetioGroup tandem optional. This of course means making if Tandem.OPTIONAL in PhetioDynamicElementContainer. Will you just document the reason to avoid future confusion, something like, "Many PhET-iO instrumented types live in common code used by multiple sims, and may only be instrumented in a subset of their usages."

[2022-01-28 18:29] samreid commented on #812
@arouinfar and I reviewed this today, and it seems to be working nicely.  Closing.

[2022-01-28 18:33] samreid commented on #824
@arouinfar and I discussed it, the realLightBulb shouldn't appear in the tree in screen 1.  Same with the high voltage battery and high resistance resistor and bulb, they shouldn't be in the intro screen.

@arouinfar indicated the charts should be excluded from DC.

[2022-01-28 18:41] samreid commented on #823
@arouinfar and I discussed this, and it is unclear what use cases we want to optimize for the researchers.  We see that the relevant parts of the state are being outputted correctly in the state, and it would be possible for researchers to use that JSON to analyze the circuit topology.  We don't recommend any changes for the upcoming dev version.

[2022-01-28 18:50] samreid commented on #608
In discussion, @arouinfar said this didn't seem too serious, but we can check with @jonathanolson for upcoming release.

[2022-01-28 18:57] samreid commented on #681
In discussion, @kathy-phet recommended that for resistors, light bulbs and batteries would have: `powerDissipatedProperty`.  For batteries, we would add `powerGeneratedProperty` which is P=IV.

[2022-01-28 19:16] samreid commented on #681
Fixed, and reviewed together.  Closing.

[2022-01-28 19:16] #681 closed

[2022-01-28 19:18] samreid commented on #785
We decided this wouldn't impact any of the DC milestones.

[2022-01-28 19:23] samreid commented on #778
@kathy-phet said this does not need to be part of the client preview milestone.  @arouinfar confirmed that pause is irrelevant to this issue.

[2022-01-28 19:29] samreid opened #827 "currentTypeProperty should use the new enumerations pattern, and UPPERCASE values"
currentTypeProperty should use the new enumerations pattern, and UPPERCASE values.  See if there are more cases like this.

[2022-01-28 19:34] samreid opened #828 "Create a dev test"
Today @kathy-phet said we don't need to wait for the blocks-publication issues to make our first dev test here.

I'll finish the changes for https://github.com/phetsims/studio/issues/246 (tooltip and avoid fallback).
It will include the changes for autoselect being able to pick panels.
It will include the rich JSON studio controls, though there are still some requested changes for that issue.  May

[2022-01-28 21:35] samreid commented on #827
Fixed in the commits.  Should be reviewed/tested.  @arouinfar can you please test each of the features above briefly to make sure there were no regressions?

[2022-01-28 22:19] samreid commented on #824
@zepumph can you please review https://github.com/phetsims/tandem/commit/3750a57bf4f09cab72343b55de4e8e012fd37d72 ?  It was failing with an assertion error before that commit.

[2022-01-28 22:40] arouinfar commented on #827
Looks good in master, thanks @samreid

[2022-01-28 22:40] #827 closed

[2022-01-28 23:04] arouinfar commented on #824
@samreid here are the irrelevant elements that I'm currently seeing in the tree:

AC-Specific elements:
- [ ] `circuitConstructionKitDc.*Screen.model.stopwatch`
- [ ] `circuitConstructionKitDc.*Screen.view.circuitElementEditContainerNode.frequencyControl`
- [ ] `circuitConstructionKitDc.*Screen.view.circuitElementEditContainerNode.phaseShiftControl`

Lab Screen-specific elements:

- [ ] `circuitCo

[2022-01-28 23:30] zepumph commented on #824
Looks great! Thanks.

[2022-01-30 00:46] samreid commented on #824
OK I added guards for "this is only in the AC sim" and "this is only in the lab screen" and updated following the checklist above.  @arouinfar can you please test and spot check?

[2022-01-31 18:39] kathy-phet commented on #797
Does this extend to other properties too?
So if I had isMoveable:false on a vertex, and then I move a wire over an attached it, the vertex will now be movable ... because it was replaces?

[2022-01-31 18:42] samreid commented on #797
Yes, the current replacement strategy applies to all Properties.

[2022-01-31 18:44] arouinfar opened #829 "Bits of ammeter visible in Intro screen play area on startup"
Possibly related to #824.

After pulling all and clearing my cache, there are bits of an ammeter wallpapered to the Intro Screen. Master currently looks like this:
![image](https://user-images.githubusercontent.com/8419308/151853098-f4e38352-649f-4098-ad0a-532abaa94df0.png)

[2022-01-31 18:50] kathy-phet commented on #797
This seems problematic for several use cases. I do think we should open a new issue for this though - the title here is unrelated. I think the issue can be documented, and noted as existing. If you see a clear pattern for improvement - and its doable - I would recommend it.

My recommendation would be ...
Any property that is not the "default" setting should OVERWRITE/TAKE PRECEDENCE. So if there

[2022-01-31 19:06] arouinfar commented on #824
@samreid I verified the list in https://github.com/phetsims/circuit-construction-kit-common/issues/824#issuecomment-1024729218 but found a few more Lab-only elements to remove from the Intro Screen:

- [ ] `introScreen.view.circuitNode.highResistanceLightBulbNodeGroup`
- [ ] `introScreen.view.sensorToolbox.seriesAmmeterNodeIcon`
- [ ] `introScreen.view.sensorToolbox.seriesAmmeterToolNode.visiblePr

[2022-01-31 19:15] arouinfar opened #830 "Circuit elements still movable when `isMovableProperty` is false"
Discovered while reviewing #797

Steps to reproduce:
1. Open sim in Studio.
2. Drag any element out of the carousel.
3. Hold down ctrl to navigate the tree the circuit element's model.
3. Set the element's `isMovableProperty` to false.
4. Drag the circuit element around the play area. It's still movable!

[2022-01-31 19:36] arouinfar opened #831 "Text that appears when switch is selected should be instrumented"
Discovered during #797

When a switch is selected, there is a string at the bottom of the screen that reads `The switch is open.` or `The switch is closed.`.

I expected to find this text under `circuitElementEditContainerNode` since it seems similar to the `tapInstructionTextNode` and other Buttons and NumberControls housed within it. I didn't get any hits from autoselect or search, so I don't th

[2022-01-31 19:45] arouinfar commented on #812
@samreid while reviewing #797 I discovered that the `labelTextProperty` listens to `showValuesProperty`. This means that a client's custom label will be toggled with the Values checkbox which seems problematic. I think makes sense for the custom label to have the same appearance/styling as the displayed values, but I don't think they should follow the same visibility rules.

I don't think this is

[2022-01-31 21:26] arouinfar opened #832 "Batteries not always disposed from tree on reset all"
Steps to reproduce:
1. Open sim in Studio on master.
2. Drag a battery out of the carousel.
3. Use ctrl or opt to select the associated element in the tree.
4. Use the ResetAllButton and the battery will still be selected in the tree, despite it not existing anymore.

This set of errors will appear in the console a few times:
[code]

[2022-01-31 21:33] samreid commented on #824
I adjusted the five requests in the commit.  @arouinfar can you please review/test?

[2022-01-31 21:35] arouinfar commented on #832
Note that this also happens when disposing of a battery in another way, such as returning to the carousel.

[2022-01-31 22:35] samreid commented on #829
Thanks, it was caused by https://github.com/phetsims/circuit-construction-kit-common/issues/824.  Fixed in the commit and ready for testing.

[2022-01-31 23:39] arouinfar commented on #824
Looks good, thanks @samreid

[2022-01-31 23:39] arouinfar commented on #829
Thanks @samreid, looks good in master

[2022-01-31 23:39] #829 closed

[2022-01-31 23:53] samreid commented on #830
In https://github.com/phetsims/circuit-construction-kit-common/issues/797#issuecomment-1018726700 we decided to control CircuitElement movability via the adjacent vertices.  It was an error that `CircuitElement.isMovableProperty` still remained, so I removed it in the commit.  @arouinfar does this seem good to you?

[2022-02-01 00:01] samreid commented on #832
There was a missing dispose call.  It seems to be working on my side after that change.  Can you please test after that commit?

[2022-02-01 00:05] samreid opened #833 "When joined, vertices should retain non-default values from either parent."
In https://github.com/phetsims/circuit-construction-kit-common/issues/797 @kathy-phet said:

[2022-02-01 00:06] samreid commented on #797
I moved the vertex-joining proposal to https://github.com/phetsims/circuit-construction-kit-common/issues/833.  I think this issue is mainly open for @arouinfar review.

[2022-02-01 00:13] arouinfar commented on #830
Thanks for the reminder @samreid. I no longer is any instances of `isMovableProperty` in the tree, so I'll go ahead and close.

[2022-02-01 00:13] #830 closed

[2022-02-01 00:23] arouinfar opened #834 "Vertex boolean properties should have `is` prefix"
Discovered in #797

Vertices have `draggableProperty` and `selectedProperty` which both behave nicely. However, the name is a bit of a departure from the other boolean properties such as `isEditableProperty` and `isCuttableProperty` (to name a few).

@samreid I think it would be nice to continue with the `is` prefix here too, but it can wait until the full release.

[2022-02-01 00:24] samreid commented on #833
Fixed in the commit and seems to be working correctly. @arouinfar or @kathy-phet would you like to review/test?

[2022-02-01 00:27] arouinfar opened #835 "Add `isSelectedProperty` to circuit elements"
Discovered in #797

Vertices have `selectedProperty` to indicate when the vertex has been selected (to be renamed `isSelectedProperty` in #834). This would be helpful for circuit elements as well.

@samreid this can wait until the full release.

[2022-02-01 00:32] arouinfar commented on #797
@samreid the contents of `view.circuitElementEditContainerNode` all look good as do the various component-specific properties. I've opened up a few other issues for the remaining work (all referenced above) and have added them to the appropriate milestone. Most of the issues can be deferred until full publication.

[2022-02-01 00:53] arouinfar commented on #832
Look good, thanks!

[2022-02-01 00:53] #832 closed

[2022-02-01 01:12] arouinfar commented on #833
@samreid @kathy-phet I think the behavior in master is fine for the client preview version.

Joining vertices will retain properties appropriately, but cutting a vertex destroys the old one and creates new vertices that all revert to the default behavior. Clearing the `labelTextProperty` seems reasonable in this case, but I wouldn't expect the `draggableProperty` to change necessarily.

[2022-02-01 01:33] kathy-phet commented on #833
Yes, this seems a bit problematic regarding blowing away labels when you cut the vertex. But seems OK for client preview. We can discuss various scenarios and behaviors ... and see what might be the best pattern. I assume hitting reset gets you the label back, so that seems good.

[2022-02-01 01:41] samreid commented on #833
Based on the remarks, it seems we should move this to the next milestone.

[2022-02-01 01:41] samreid commented on #834
This would be good to do before the imminent milestone.

[2022-02-01 01:44] samreid commented on #834
Fixed and ready for review.

[2022-02-01 02:08] samreid commented on #835
Due to other considerations (including but may not be limited to the circuit element edit panels), the selected circuit element is tracked through `Circuit.selectedCircuitElementProperty`.  This is instrumented and visible in the tree as `circuitConstructionKitDc.labScreen.model.circuit.selectedCircuitElementProperty`.  Is this sufficient, or should we add a readonly version in CircuitElement itse

[2022-02-01 04:17] arouinfar commented on #834
Looks good, thanks @samreid

[2022-02-01 04:17] #834 closed

[2022-02-01 04:25] arouinfar commented on #835
Ah, good point @samreid. I think `circuit.selectedCircuitElementProperty` is preferable. Is there a reason why it doesn't provide the phetioID of selected vertices?

[2022-02-01 04:29] arouinfar opened #836 "phetioFeatured overrides"
Self-assigning to take care of the phetioFeatured overrides.

@samreid I added this to the client preview milestone, but it can be done concurrently with QA testing.

[2022-02-01 05:41] arouinfar commented on #836
I committed a draft of the phetioFeatured overrides. I think it's good enough for the client preview, but it's still rough.

1. Tree needs thorough review to make sure nothing was missed.
2. Design pattern for carousel needs to be established.
3. I found instances of over-instrumentation that should be addressed.
4. Several elements should be`phetioReadOnly: true`.

I will open up separate issues

[2022-02-03 13:45] Nancy-Salpepi opened #837 "Voltage and current readings misaligned in Studio and State Wrappers"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/772, when the sim is launched in studio, the word "voltage" and the voltage reading are shifted to the right.

**Steps to reproduce**
1. In studio: on either screen make a simple circuit like the one shown below. Close switch.
2. Attach voltage m

[2022-02-03 15:36] zepumph commented on #729
Work has been done such that https://github.com/phetsims/chipper/issues/1022 is fixed for me. Closing

[2022-02-03 15:36] #729 closed

[2022-02-03 17:47] Nancy-Salpepi commented on #824
For https://github.com/phetsims/qa/issues/772

The clear button (view.circuitElementEditContainerNode.clearButton) should be removed from the studio tree (Confirmed with @arouinfar that this button is only for inductors/capacitors which aren't present in DC).

[2022-02-03 20:08] Nancy-Salpepi opened #838 "Cut button does not stay disabled in Studio"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/772:
In studio, if I disable the cut button, it will be grayed out initially. If I move to another connection it will be enabled and if I go back to the original connection, that is also enabled. Also, if I disable the cut button and launch the s

[2022-02-04 13:19] Nancy-Salpepi opened #839 "negative ammeter readings not maintained in Studio and State wrappers"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/772

In Studio and State wrappers, the negative sign for current doesn't appear in the downstream/launched sim. This happens on both screens.

**Steps to reproduce**
In State:
1. Make a simple circuit in the intro screen
2. Attach ammeter
3. Go t

[2022-02-04 14:13] Nancy-Salpepi opened #840 "voltage number control not working properly in Studio and State Wrappers"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/772 in the lab screen only:

In State: After building a circuit, clicking on the battery causes the voltage to change in the downstream sim. Changing the voltage in the upstream sim doesn't change the voltage in the downstream sim unless you are

[2022-02-04 14:33] Nancy-Salpepi commented on #837
In both the Studio and State Wrappers, when the switch is open--both the voltage and current readings will be misaligned in the launched/downstream sim.

Steps:
1. In the intro screen, create a simple circuit with battery, switch and bulb. Leave the switch open.
2. Attach ammeter and voltmeter
3. In studio: Launch sim
4. Close switch--values will move to proper place.
![readingsStudio](https://use

[2022-02-04 15:41] Nancy-Salpepi opened #841 "Carousel scrolling occurs after sim is launched in Studio"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/772

In Studio, if the sim is launched when the carousel is on page 2,3, or 4 the carousel scrolls to that page after launch instead of already being on that page. This happens on both screens.

**Steps to reproduce**
1. In the Studio wrapper go

[2022-02-04 16:26] KatieWoe opened #842 "CT all descendants must be disposed by the next frame"
[code]

[2022-02-04 16:28] KatieWoe commented on #842
Also in dc:
[code]

[2022-02-04 16:46] Nancy-Salpepi commented on #840
The same thing seems to be happening with resistors (both types) and lightbulbs (both types) on the lab screen in both studio and state. As with the battery, if the resistor or lightbulb is not selected when the sim is launched, it launches properly.
![resistors](https://user-images.githubusercontent.com/87318828/152568339-1cee871d-ca91-4391-a659-da7c48b9d9a3.gif)

[2022-02-04 18:59] KatieWoe commented on #837
The adjustment to being in the proper place seems to occur when the voltage readout changes.

[2022-02-04 19:11] KatieWoe commented on #840
I'm also reproducing this by flipping the battery around and launching the sim in the lab screen.
![9to100](https://user-images.githubusercontent.com/41024075/152588870-5d234fe7-65ea-4e29-8860-a32641e01160.gif)

[2022-02-04 19:26] KatieWoe opened #843 "Taking out fuse and putting it back prevents launching sim"
**Device**
Dell
**OS**
Win 11
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/qa/issues/772. If you take the fuse out of the carousel, and then put it back, a launched sim from studio will no longer load. The console throws an error that says it is impossible to set state. In order to fix this you need to refresh the studio page.

**Steps**
1. Go to the lab screen in st

[2022-02-04 19:32] KatieWoe commented on #843
Doesn't seem to happen to the state wrapper unless you press the launch button.

[2022-02-04 19:36] Nancy-Salpepi opened #844 "Carousel's Next/Previous buttons do not stay disabled in Studio"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/772 in the Studio Wrapper:

If the previous button and next button are disabled, they will be enabled when the sim is launched.
This happens on both screens.

**Steps to reproduce**
1. In studio, navigate to the second page of the carousel on eit

[2022-02-07 17:36] Nancy-Salpepi opened #845 "Value location interferes with ability to select circuit element"
**Test device**
iPad Air 2
**Operating System**
15.2

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/772

On either screen, when the values checkbox is selected and the voltage is negative, the voltage value appears in the middle of the battery. This makes it difficult to select the battery--especially on the iPad (but also with the trackpad on my mac).  Is i

[2022-02-07 19:01] KatieWoe opened #846 "In line ammeters that are connected to each other may show current when not connected to anything else"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/772.
Fairly minor. On the lab screen, if you connect three or more in-line ammeters, the ones in the middle will read 0, rather than a dash or a question mark. This happens in the published version as well.

**Visuals**
Published:
<img width="450" alt="published_amm

[2022-02-07 19:16] arouinfar commented on #846
Thanks @KatieWoe. This is not a bug, but by design. The ammeters on the edges have null readings (only one probe connected) and so we display a dash, which we generally use to convey null readings in other sims. This is a change from the `?` used in the previously published version, see https://github.com/phetsims/circuit-construction-kit-common/issues/757. The ammeters in the middle all have vali

[2022-02-07 19:16] #846 closed

[2022-02-07 19:22] arouinfar commented on #845
Thanks @Nancy-Salpepi, this looks like a bug to me. The location of the value display should not depend on the battery's orientation. It's also a bit odd that the value blocks the pickability of the battery itself, but I don't know if that is to be expected or not.

[2022-02-07 19:27] arouinfar commented on #824
This is something that should be cleaned up for publication, but I don't think it will have any ill effects on the client, so I switched the milestone.

[2022-02-07 19:28] Nancy-Salpepi commented on #845
Thanks @arouinfar!
I just went back and looked at the published version of CCK-AC and the value location changes from top to bottom when the battery is flipped.
![voltagevalue](https://user-images.githubusercontent.com/87318828/152858076-ae593599-8c1c-4e95-b1d3-5ed5015ecbd7.gif)

[2022-02-07 19:37] arouinfar commented on #838
Good find @Nancy-Salpepi.

Looks like the model overrides `cutButton.enabledProperty` each time the button is summoned. Interestingly, the same doesn't happen with the `visibleProperty`. However, I don't see any real need for a client to control the enabled property of this particular button. If they don't want the student to cut the vertex, they should be using `isCuttableProperty` or even tempor

[2022-02-07 19:39] arouinfar commented on #837
This looks pretty serious.

@samreid I'm going to add this issue to the preview milestone. If it's not feasible to patch, we should at least alert the client about this particular bug.

[2022-02-07 19:42] arouinfar commented on #845
Oh, good to know @Nancy-Salpepi!

@samreid since this affects sim usability, I'm going to tag it for the preview milestone. It should either be patched or documented as a known bug.

[2022-02-07 19:45] arouinfar commented on #839
@samreid I'm tagging this for the preview milestone to make sure we let the client know that this is a known bug. However, I don't think it needs to be fixed until the production version.

[2022-02-07 19:50] arouinfar commented on #840
@samreid this looks like a bug that can negatively impact the client's usage. I recommend we try fixing this before sending the client another version, but if that's not feasible it should be documented as a known bug.

[2022-02-07 19:54] arouinfar commented on #841
This is the first (modern) PhET-iO sim with a carousel, and the design pattern hasn't been established yet. This bug is a bit unsightly, but I don't think it's terribly harmful.

I'm going to tag this for the preview milestone to include a blanket statement that carousel is a bit quirky and subject to change as we establish the design pattern.

[2022-02-07 19:57] arouinfar commented on #843
@samreid this looks like a bug that can negatively impact the client's usage. I recommend we try fixing this before sending the client another version, but if that's not feasible it should be documented as a known bug.

[2022-02-07 20:06] arouinfar commented on #844
Thanks @Nancy-Salpepi. I think the solution here is that `carousel.nextButton.enabledProperty` and `carousel.previousButton.enabledProperty` should be phetioReadOnly: true. However, that should be handled in a separate issue for the PhET-iO design patterns for carousel. Self-assigning to open an issue in sun.

[2022-02-07 20:08] KatieWoe opened #847 "Values label can block access to battery/other elements"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/772.
This does not seem to be as much of an issue in published, as upside down elements are not as fully covered by their values label. In the dev version, if certain elements are upside down (such as by flipping the battery) the values label can cover the entire el

[2022-02-07 20:14] KatieWoe commented on #847
Noting that this can also make dragging objects more difficult.

[2022-02-07 22:01] arouinfar commented on #847
Thanks @KatieWoe this is a duplicate of #845, so I'll move your comments there and close.

[2022-02-07 22:02] arouinfar commented on #845
@KatieWoe also reported this issue in #847

**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/772.
This does not seem to be as much of an issue in published, as upside down elements are not as fully covered by their values label. In the dev version, if certain elements are upside down (such as by flipping the batte

[2022-02-07 22:30] KatieWoe opened #848 "Going to a non-existent carousel page freezes sim"
**Device**
Dell
**OS**
Win 11
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/qa/issues/772. May be related to https://github.com/phetsims/circuit-construction-kit-common/issues/844. There isn't a reason for doing this that I can think of, but since it causes a crash I'm still documenting.
If you go to the element `circuitConstructionKitDc.introScreen.view.circuitElement

[2022-02-07 22:36] Nancy-Salpepi opened #849 "Fuse blows repeatedly in State wrapper"
**Test device**
iPad Air 2

**Operating System**
15.2

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/772
In the State Wrapper, the fuse will continuously blow in the downstream sim. I was able to reproduce this using my MacBook + Safari. When I looked into this in the Studio wrapper, if I blew the fuse before launching the sim (not sure why anyone would want

[2022-02-08 16:31] Nancy-Salpepi opened #850 "Connection highlight doesn't disappear"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/772

If a connection between 2 elements is selected and then another element is removed from the carousel, the yellow highlight doesn't disappear--only the cut symbol does. The connection will stay highlighted until you select another element. In

[2022-02-08 16:37] Nancy-Salpepi commented on #850
It will also stay highlighted if you select any of the radio buttons or meters.

[2022-02-08 19:25] arouinfar commented on #848
Thanks @KatieWoe.

The solution here is the same as the solution to #844 -- `carousel.nextButton.enabledProperty` and `carousel.previousButton.enabledProperty` should be phetioReadOnly: true. I'll self-assign to open up the appropriate carousel design issue in sun.

@samreid I do not think there is any reason for the client to be messing with the `enabledProperty` of these buttons, so they are unl

[2022-02-08 19:27] arouinfar commented on #849
@samreid this looks like a bug that can negatively impact the client's usage. I recommend we try fixing this before sending the client another version, but if that's not feasible it should be documented as a known bug.

[2022-02-08 19:33] arouinfar commented on #850
Nice find @Nancy-Salpepi.

@samreid it seems like `vertex.isSelectedProperty` is not being properly toggled. It looks rough, but I don't think it seriously impacts the usability of the sim. The selected highlight around the vertex will be dismissed if clicking in a blank area of the play area or if selecting a different element/vertex.

I'll tag this for the preview milestone to document as a know

[2022-02-08 20:14] arouinfar commented on #844
Design issue for carousel linked above, closing.

[2022-02-08 20:14] arouinfar commented on #848
Design issue for carousel linked above, closing.

[2022-02-08 20:14] #848 closed

[2022-02-08 21:21] arouinfar commented on #841
I've documented this as a known issue, so switching the milestone to production.

[2022-02-08 21:37] arouinfar commented on #850
I've documented this as a known issue, so switching the milestone.

[2022-02-08 21:42] arouinfar commented on #839
I've documented this as a known issue, so switching the milestone

[2022-02-08 22:30] arouinfar commented on #812
This looked really buggy when I was doing a walkthrough with the client, so I am going to switch the milestone to the preview version.

[2022-02-10 20:49] samreid commented on #845
Feb 10 design check-in: For the client preview, making the label non-pickable is sufficient.  For the full version, the labels should be in the correct locations.

[2022-02-11 02:34] samreid commented on #840
@arouinfar can you reproduce this bug?  I set up this case and saw that the value was transmitted properly:

<img width="574" alt="image" src="https://user-images.githubusercontent.com/679486/153529184-58025244-3440-45f3-b517-decc378f2322.png">

[2022-02-11 02:52] samreid commented on #849
Good find, QA team!  The commit addresses https://github.com/phetsims/circuit-construction-kit-common/issues/849#issuecomment-1032811084.

For https://github.com/phetsims/circuit-construction-kit-common/issues/849#issue-1126577466, my understanding is that the Fuse is a dynamic element, and created fresh each frame.  It is created with `isTrippedProperty=false` by default.  Then when the state set

[2022-02-11 02:53] samreid commented on #843
Fuse.isRepairableProperty was not being disposed.  That was corrected in https://github.com/phetsims/circuit-construction-kit-common/commit/df80074f680e0ac01fbe705e50ddbd0496bc24f7.  This is likely fixed, and ready for testing in next dev version.

[2022-02-11 02:55] samreid commented on #812
Can you please confirm this problem? Testing in master, I see that the label shows over the resistor whether or not the values checkbox is checked:

<img width="420" alt="image" src="https://user-images.githubusercontent.com/679486/153530798-b242d919-be19-4d8b-87b8-4d0b6fa62ac5.png">

[2022-02-11 03:18] samreid commented on #837
I traced this problem to the surprising fact that the text bounds are not updating right after text set:

<img width="688" alt="image" src="https://user-images.githubusercontent.com/679486/153532637-56234787-a569-432d-92f0-5dd68a199acb.png">

<img width="380" alt="image" src="https://user-images.githubusercontent.com/679486/153532623-66253504-b0ec-4b51-ae40-3cb7bc4523a8.png">

@jonathanolson is th

[2022-02-11 03:25] samreid commented on #838
The commit sets `cutButton` to `phetioReadOnly:true`.  I tested that is working as desired in studio.  @arouinfar anything else for this issue?

[2022-02-11 03:44] arouinfar commented on #845
Thanks @samreid. The behavior in master is reasonable for the client preview and is definitely an improvement.

We can defer addressing the label location until the next milestone.

[2022-02-11 03:45] #838 closed

[2022-02-11 03:49] samreid commented on #840
Thanks, that helped me reproduce and correct the problem.  Ready for next round of testing.

[2022-02-11 03:49] arouinfar commented on #812
Huh, I'm having trouble reproducing, even in the client's dev version. I've definitely run into this a few times, but maybe there's a specific way to trigger it.  I'll see what I can do.

[2022-02-11 03:59] arouinfar commented on #812
Ah, I think I've figured it out!  I must have pasted the wrong property into my notes when I first ran into this bug. It's not the Values checkbox that's the problem, it's the interaction between `isValueDisplayableProperty` and `labelTextProperty`.

Steps to reproduce:
* Edit the `labelTextProperty` of a circuit component.
* Set the `isValueDisplayableProperty` of that same component to false.
*

[2022-02-11 04:06] arouinfar commented on #849
Thanks for the explanation @samreid. I wasn't sure if this bug would also manifest if a student submits the state of the sim as a solution. If this bug is unlikely to show up in that case, I'll update the doc we shared with the client. We can defer the discussion about the tripped fuse animation until we resume work on the next milestone.

[2022-02-11 05:41] samreid commented on #849
Sounds good, I'll move to the next milestone.  Please feel free to move it back if you still need to update the doc.

[2022-02-11 05:46] samreid commented on #812
Fixed and ready for testing, please close if all is well.

[2022-02-11 05:51] samreid commented on #840
Can you please test/review this on master using phettest?  Please close if it seems corrected.

[2022-02-11 05:51] samreid commented on #837
Can you please test/review this on master using phettest?  Please close if it seems corrected.

[2022-02-11 05:51] samreid commented on #843
Can you please test/review this on master using phettest?  Please close if it seems corrected.

[2022-02-11 12:59] Nancy-Salpepi commented on #837
Looks good @samreid!

[2022-02-11 12:59] #837 closed

[2022-02-11 13:19] Nancy-Salpepi commented on #840
Looks fixed on master.

[2022-02-11 17:13] KatieWoe commented on #843
Looks fixed on master

[2022-02-11 17:13] #843 closed

[2022-02-11 21:02] arouinfar commented on #812
Thanks @samreid, looks good in master!

[2022-02-11 21:02] #812 closed

[2022-02-11 22:03] arouinfar opened #851 "Instrument text associated with switch"
When the switch is selected, a string appears at the bottom of the screen that says "The switch is {{open, closed}}." This text is not instrumented, and it's possible that a client may want to hide it.

Seems like a reasonable  place for it would be under `view.circuitElementEditContainerNode` and call it something like `switchTextNode` with its own  `textProperty` (read-only) and `visibleProperty

[2022-02-11 22:05] arouinfar commented on #851
Nevermind, I already opened an issue for this, see #831.

[2022-02-11 22:05] #851 closed

[2022-02-11 22:05] samreid commented on #828
1st dev test completed, and all milestone issues addressed.  I'll create another dev test.

[2022-02-11 22:06] arouinfar commented on #831
Seems like a reasonable  place for it would be under `view.circuitElementEditContainerNode` and call it something like `switchTextNode` with its own  `textProperty` (read-only) and `visibleProperty`.

[2022-02-11 22:11] arouinfar opened #852 "Add linked property to ZoomControlPanel"
The zoom state is controlled by `model.zoomProperty`. It would be nice to add a linked property under the corresponding view element `ZoomControlPanel`.
<img width="182" alt="image" src="https://user-images.githubusercontent.com/8419308/153677191-42a81ca2-0ba8-4fec-9ba4-ef3a703cc622.png">

[2022-02-11 22:39] arouinfar opened #853 "Battery carousel icon doesn't need "right" descriptor"
The battery in the carousel is `view.circuitElementToolbox.circuitElementTools.rightBatteryToolNode`. The "right" descriptor appears six places in the tree (3 for each screen).
<img width="201" alt="image" src="https://user-images.githubusercontent.com/8419308/153679654-3354a42a-577d-49bc-8b9a-b8d56abcd75b.png">

This orientation information doesn't add any value to the tree and carries the implic

[2022-02-12 03:26] arouinfar opened #854 "Several elements should be read-only"
@samreid please set these to phetioReadOnly: true.

- [x] `model.circuit.circuitChangedEmitter`
- [x] `model.circuit.circuitElements.elementAddedEmitter`
- [x] `model.circuit.circuitElements.elementRemovedEmitter`
- [x] `model.circuit.*.archetype.endVertexProperty`
- [x] `model.circuit.*.archetype.startVertexProperty`
- [x] `model.circuit.vertexGroup.archetype.positionProperty`
- [ ] `model.circui

[2022-02-12 03:46] arouinfar opened #855 "Remove instances of over-instrumentation"
@samreid I found a few cases of over-instrumentation or circuit elements with irrelevant properties instrumented. Please uninstrument the following:

- [x] `model.circuit.wireGroup.archetype.isEditableProperty`
- [x] `model.circuit.wireGroup.archetype.isValueDisplayableProperty`
- [x] `model.circuit.wireGroup.archetype.labelTextProperty`
- [x] `model.circuit.seriesAmmeterGroup.archetype.isEditable

[2022-02-12 04:02] arouinfar opened #856 "Add top-level visibleProperty to sourceResistanceControl and wireResistivityControl"
The `sourceResistanceControl` and `wireResistivityControl` in the Advanced AccordionBox could both use a top-level `visibleProperty` so the entire slider could be hidden in one go.

@samreid please create:
- [x] `labScreen.view.advancedAccordionBox.sourceResistanceControl.visibleProperty`
- [x] `labScreen.view.advancedAccordionBox.wireResistivityControl.visibleProperty`

[2022-02-12 04:22] arouinfar opened #857 "Updates to ammeters and voltmeters"
@samreid I'd like to make the following tweaks to the ammeters & voltmeters:

- [x] Add linked property (`model.meters.*`) to corresponding view elements (`view.meterNodes.*`)
- [x] Replicate `view.meterNodes.ammeter*.probeTextNode` in the series ammeter
- [x] Replicate `model.meters.ammeter*.currentProperty` in the series ammeter

[2022-02-13 21:45] samreid commented on #828
I made a 2nd dev in https://github.com/phetsims/qa/issues/774.  Closing.

[2022-02-13 21:45] #828 closed

[2022-02-14 22:29] KatieWoe commented on #844
This has not been done in the newest dev. Reopening for https://github.com/phetsims/qa/issues/774
<img width="960" alt="notdone" src="https://user-images.githubusercontent.com/41024075/153957387-80424f23-660e-41f9-b6be-117213f8cd91.png">

[2022-02-14 23:05] KatieWoe commented on #840
Reopening as I managed to reproduce this in https://github.com/phetsims/qa/issues/774. It was seen with the bill, eraser, hand,  and dog. It also happened in the intro screen as well as the lab screen. It could be seen if there was a circuit, or, more easily, if values were on.
<img width="501" alt="money" src="https://user-images.githubusercontent.com/41024075/153961442-ef50f525-98ea-4101-ad4e-a8

[2022-02-15 15:16] Nancy-Salpepi opened #858 "Is the circuit element tool visible property working correctly?"
**Test device**
Dell

**Operating System**
Win10

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/774:

In Studio, when a circuit element that there is multiple of, such as a battery, is placed in the play area and then its visible property is set to false (view.circuitElementToolbox.circuitElementTools.rightBatteryToolNode.visibleProperty), it's value will be

[2022-02-15 16:41] KatieWoe commented on #840
This may also happen with the non-ohmic bulb at high resistance. The value in the gif bellow seems to stutter each time state is set before going to the correct value.
![stutternumber](https://user-images.githubusercontent.com/41024075/154107527-2066dadd-fe7f-457b-b316-afc3b663438c.gif)

[2022-02-15 17:12] Nancy-Salpepi opened #859 "Add lifelike/schematic icons to lightBulbToolNode and realLightBulbToolNode"
The lightBulbToolNode (on both screens) and the realLightBulbToolNode (on lab screen) are missing :
  `lifelikeIcon.resistorIcon`
  `lifelikeIcon.resistorIcon.visibleProperty`
  `schematicIcon.resistorIcon`
  `schematicIcon.resistorIcon.visibleProperty`

From my slack conversion with @arouinfar, all items in the carousel should have these.

[2022-02-15 17:39] Nancy-Salpepi commented on #858
I noticed that if I follow the same steps as above, but with the ammeter (`view.sensorToolbox.ammeterToolNode.visibleProperty`) and voltmeter (`view.sensorToolbox.voltmeterNodeIcon.visibleProperty`) the visibleProperty stays false after launching.

https://user-images.githubusercontent.com/87318828/154117847-8ec8399e-693a-466a-b636-7764493ef59d.mp4

[2022-02-15 17:39] KatieWoe opened #860 "Setting endVertexProperty and startVertexProperty leads to a crash"
**Device**
Dell
**OS**
Win 11
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/qa/issues/774. Found with the `endVertexProperty`'s and `startVertexProperty`'s. Haven't yet seen on others, but may happen elsewhere. Most properties I've tried seem to set properly so far.
The `endVertexProperty` and `startVertexProperty` of circuit elements cause a crash when you try to set

[2022-02-15 20:06] arouinfar commented on #860
Thanks @KatieWoe. These properties will be made read-only in #854, so I'll go ahead and close.

[2022-02-15 20:06] #860 closed

[2022-02-15 22:12] Nancy-Salpepi opened #861 "Screenshot wrapper not working correctly with Win10 + Chrome"
**Test device**
Dell

**Operating System**
Win10

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/774:

When taking a screenshot with the Screenshot wrapper, the blue background is missing along the right side and across the bottom of the screen.

* I could not reproduce this on Master with Win10 + chrome
* This couldn't be reproduced with Win + FireFox or Mac

[2022-02-15 23:04] oliver-phet opened #862 "capacitanceStep is smaller than capacitorNumberDecimalPlaces"

[2022-02-16 13:09] Nancy-Salpepi commented on #861
This also occurs in the PhET brand sim using the Screenshot Option in the PhET Menu with Win10 + chrome.

Screenshots were correct on published sims ( I tried CC- AC, CCK-DC, Density, Build an Atom) and  CCK-DC in master.

[2022-02-16 16:06] KatieWoe commented on #861
I was unable to reproduce this on Win 11 + chrome.

[2022-02-16 16:43] arouinfar commented on #862
@oliver-phet this looks like an error on our part. It's going to take some digging to find the paper trail on what the desired behavior should be, but in the meantime please ask the user to use `?capacitorNumberDecimalPlaces=3` to correct things in the published version. This was not intended to be a public-facing query parameter, just something we used in our own testing/model tuning but it works

[2022-02-16 17:01] stemilymill commented on #861
I was unable to reproduce this on win10 chrome

[2022-02-16 17:05] arouinfar commented on #862
The capacitance range was determined in https://github.com/phetsims/circuit-construction-kit-common/issues/590, but the query parameters were introduced in https://github.com/phetsims/circuit-construction-kit-common/issues/780#issuecomment-974291874 when we were trying to address a situation with buggy inductors. We ended up keeping the capacitance values as they are and limiting the number of ind

[2022-02-16 17:40] Nancy-Salpepi commented on #861
Hum. I guess it is my device then.

[2022-02-16 19:28] ariel-phet commented on #862
@arouinfar I agree option (2) sounds like the right solution. I believe that was our intention. We have fine enough control with inductor values to tune in a resonant frequency.

[2022-02-16 20:41] KatieWoe opened #863 "Carousel may not be on correct page when sim is launched"
**Device**
Dell
**OS**
Win 11
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/qa/issues/774
On the lab screen, if you have the real bulb activated in studio and launch the sim, the carousel will be on the last page even if isn't meant to be.
**Steps to Reproduce**
1. Go to the lab screen in studio
2. Turn on the real bulbs
3. Scroll the carousel back to the top
4. Launc

[2022-02-16 20:55] arouinfar commented on #841
Unsurprisingly, this is also present in https://github.com/phetsims/qa/issues/774

@KatieWoe reported in #863

Dell
**OS**
Win 11
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/qa/issues/774
On the lab screen, if you have the real bulb activated in studio and launch the sim, the carousel will be on the last page even if isn't meant to be.

[2022-02-16 20:55] arouinfar commented on #863
Thanks @KatieWoe. I've moved your comments over to https://github.com/phetsims/circuit-construction-kit-common/issues/841. Closing.

[2022-02-16 20:55] #863 closed

[2022-02-16 21:04] arouinfar commented on #862
Thanks @ariel-phet. Unles @samreid has objections, we should proceed with updating the `capacitanceStep` default to 0.01 and publishing a MR of CCK: AC and CCK: AC - VL.

[2022-02-16 21:26] KatieWoe opened #864 "Sim zooming and schematic type changes after sim is launched in Studio."
**Device**
Dell
**OS**
Win 11
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/qa/issues/774. Similar to https://github.com/phetsims/circuit-construction-kit-common/issues/841.
If you launch the sim while it is zoomed out (with the zooming buttons) or in schematic mode it will make those changes after launch.

**Visuals**
![scrollin](https://user-images.githubusercontent

[2022-02-17 17:45] arouinfar opened #865 "Create examples.md for DC flavors"
This sim will need client guides before this sim goes into RC for full publication.

[2022-02-17 19:51] arouinfar commented on #844
Thanks @KatieWoe this issue will be addressed in https://github.com/phetsims/sun/issues/736 where the button's `enabledProperty` will be made read-only.

[2022-02-17 19:51] #844 closed

[2022-02-17 20:52] samreid opened #866 "Add PhET-iO For DC Virtual Lab"
Add PhET-iO For DC Virtual Lab

[2022-02-17 20:56] samreid commented on #840
Is there an uninstrumented property in the realistic bulb that has a correction step?

[2022-02-18 21:04] samreid commented on #823
@arouinfar how should we proceed with this issue? Close it?  Schedule a discussion?

[2022-02-18 21:10] samreid commented on #822
CircuitElementNumberControl specifies maxWidth at 2 levels:

[code]

The different-length text under the same maxWidths can yield different sizes of text.  I'm not aware of how to match sizes across different components.  Do we want to match the fonts only of things that can be seen at the same time, or of all editors within one screen, or all editors across all screens?  Also, does this problem a

[2022-02-18 21:12] samreid commented on #630
@arouinfar should this be part of the Full initial PhET-iO release: DC Milestone?  How should we proceed?

[2022-02-18 21:13] samreid commented on #778
@arouinfar how should we accomplish that step?

[2022-02-19 00:16] samreid commented on #831
Upon review, I saw that the switch readout node has 2 children that it switches between.  This seemed a good match for PhET-iO because the client can change how the text should read in the textNode and it will apply to all switches.  The tree looks like this:

<img width="669" alt="image" src="https://user-images.githubusercontent.com/679486/154777270-0e3ca040-b8d6-4c7a-97ba-efb551722547.png">

@a

[2022-02-19 00:32] samreid commented on #835
`circuit.selectedCircuitElementProperty` indicates which circuit element is selected.  For instance, in this case, `resistor_0` is selected:

<img width="691" alt="image" src="https://user-images.githubusercontent.com/679486/154778094-ee997305-c44b-4516-b1c5-355fd7dc39b1.png">

By clicking on the resistor in the tree, you can see which vertices it is connected to:

<img width="754" alt="image" src

[2022-02-19 00:39] samreid commented on #841
In the commit, carousel animation is skipped during setting phet-io state.  It appears to correct this problem.  @arouinfar can you please review in master?

[2022-02-19 00:43] samreid commented on #850
Should I rewrite the sim to have a single Property indicating what is selected, and it can be a Circuit Element OR Vertex?  Perhaps `selectionProperty`? Then we would uninstrument the `vertex.isSelectedProperty` values and just use them as internal plumbing to get the same behavior?  Would we ever want the user to be able to select more than one thing?  (Like a drag selection)?

[2022-02-19 00:48] samreid opened #867 "Opening the options dialog in the state wrapper fails an assertion"
Opening the options dialog in the state wrapper fails an assertion

I thought it might mean we need a dispose somewhere. But perhaps it means something is wrong with the capsule processing?

[2022-02-19 00:48] samreid commented on #867
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/839

[2022-02-19 00:57] samreid commented on #845
@arouinfar what is the desired location for the label?  The current version shows this behavior:

![Kapture 2022-02-18 at 17 56 44](https://user-images.githubusercontent.com/679486/154779364-395a53f0-6450-4395-8d6d-630bb1e4c830.gif)

I wonder if it ended up that way in part because it prevents some overlap when creating loops?

@arouinfar please advise.

[2022-02-19 03:24] arouinfar commented on #841
Looks good in master, thanks @samreid.

[2022-02-19 03:38] arouinfar commented on #831
Thanks @samreid, this looks good in master.

Adding a container that allows users to hide the open/closed text independently of the trash button would be consistent with how we've treated the other elements in the `circuitElementEditContainerNode`, so I would recommend this change.

[2022-02-19 03:43] arouinfar commented on #630
This is definitely worth investigating before the full publication milestone, but I won't insist on having this feature if it proves too difficult.

[2022-02-19 03:52] arouinfar commented on #823
@samreid I'll tag for discussion at design meeting.

[2022-02-19 03:54] arouinfar commented on #845
@samreid the location of the label generally looks good as the component is rotated, but perhaps the label could pop back up to the top when it reaches 180°.

[2022-02-19 04:00] arouinfar commented on #835
Thanks @samreid. We can continue the discussion over in #850 since your proposal in https://github.com/phetsims/circuit-construction-kit-common/issues/850#issuecomment-1045446290 would make this issue moot.

[2022-02-19 04:00] #835 closed

[2022-02-19 04:02] arouinfar commented on #850
I really like this idea. That way, the client only has to look at one property to know exactly what the user has selected.

No, I don't think so. If multiple elements are simultaneously selected, we would need to display multiple edit panels/trash buttons which would be really messy and confusing.

[2022-02-19 04:09] arouinfar commented on #822
Thanks @samreid. I'll tag this for design meeting.

There are a few things we can consider.
* The NumberDisplay for the high-V/R and standard batteries/resistors/bulbs appears to be the same size. This creates a lot of unnecessary blank space for standard components.
* Spelling out `volts` and `ohms` adds a lot of characters. Can we use abbreviations instead? We use abbreviations elsewhere in the

[2022-02-19 04:25] arouinfar opened #868 "Carousel design pattern for PhET-iO"
The PhET-iO design for Carousel will be handled in https://github.com/phetsims/sun/issues/736. Since I can't add issues from other repos to milestones in this repo, I'm creating this issue to make sure we don't overlook it.

[2022-02-19 04:44] arouinfar opened #869 "Should labels in carousel be instrumented?"
The labels in the toolbox are instrumented and clients can customize the strings.
<img width="149" alt="image" src="https://user-images.githubusercontent.com/8419308/154786490-1e3df4dd-d664-426e-8a4a-a3d02b230fe6.png">

Should we do the same for the labels in the carousel?
<img width="83" alt="image" src="https://user-images.githubusercontent.com/8419308/154786512-410e471c-c170-414c-a20e-901a06530

[2022-02-19 04:48] arouinfar opened #870 "Should checkboxes and radio buttons have customizable text?"
We often (but not always) instrument the title text of checkboxes and radio buttons. Should these strings be instrumented?

<img width="149" alt="image" src="https://user-images.githubusercontent.com/8419308/154786604-b82ceef0-8327-417b-a63a-d50074e1b944.png">
<img width="152" alt="image" src="https://user-images.githubusercontent.com/8419308/154786617-18bad9a1-9eb0-4a6d-a131-75e1f6bbb137.png">

[2022-02-21 18:56] zepumph commented on #760
A fix has been pushed over in [phetsims/scenery#1312 (comment)](https://github.com/phetsims/scenery/issues/1312#issuecomment-1047142324), next steps for this issue are to make sure it is being tested on CT in the state wrapper. This will ensure we got the fix correct.

[2022-02-24 20:36] arouinfar commented on #870
2/24/22 design meeting, we decided to instrument the strings in the screenshot above. Over to @samreid.

[2022-02-24 20:39] arouinfar commented on #869
2/24/22 design meeting, we would like to make the strings in the carousel customizable. Additionally, the `visibleProperty` should be read-only because the labels are controlled by the Labels checkbox.

[2022-02-24 20:48] arouinfar commented on #862
2/24/22 design meeting. We decided to proceed with option (2) and publish MR of CCK: AC and CCK: AC - VL.  @samreid should also confirm that the slider thumb snaps to 0.01 increments. In Studio, using `capacitanceStep=0.01` seems to behave as desired.

[2022-02-24 20:55] arouinfar commented on #865
Include an example with `vertex.isDraggableProperty` `vertex.isCuttableProperty` and `vertex.labelProperty` are customized. Let users know that students can add onto this special vertex with their own components, but deleting that component won't affect the other customizations in the circuit. #833

[2022-02-24 20:58] arouinfar commented on #833
We reviewed this in the 2/24/22 design meeting and decided that the current behavior is acceptable, but I've added a note in #865 to discuss how vertex properties are handled when combined/split.

[2022-02-24 20:58] #833 closed

[2022-02-24 21:11] arouinfar commented on #823
Discussed in the 2/24/22 design meeting. We decided that the example in https://github.com/phetsims/circuit-construction-kit-common/issues/823#issuecomment-1023888995 is an acceptable output. However, we may need to eventually write an interpreter between this format and the output that was previously used by our research collaborators. This is not necessary for 1.0, but would be something to cons

[2022-02-24 21:12] arouinfar commented on #823
@kathy-phet would like to continue this discussion, so adding the meeting label again.

[2022-02-24 21:34] samreid commented on #824
Today we discussed reverting the "lab" specific features, so those are more unified.  I can revert those commits.

[2022-02-25 03:35] samreid commented on #853
It has a "right" descriptor because in an incomplete version of CCK Basics we added batteries facing the opposite way.  In light of https://github.com/phetsims/geometric-optics-basics/issues/3#issuecomment-1050287506 do we still want to do this?

[2022-02-25 03:55] samreid commented on #814
https://github.com/phetsims/perennial/issues/256 didn't indicate the need for a maintenance release.  And we haven't heard further reports of this problem.  Closing.

[2022-02-25 03:55] #814 closed

[2022-02-28 16:43] KatieWoe opened #871 "CT phetioID already registered"
[code]

[2022-02-28 20:02] pixelzoom opened #872 "Odd implementation of zoom Properties."
In https://github.com/phetsims/geometric-optics/issues/337, @arouinfar requested that I look at CCK for how `zoomLevelProperty` was instrumented.   Specifically, she referred me to `circuitConstructionKitDc.introScreen.model.zoomProperty`:

<img width="665" alt="screenshot_1574" src="https://user-images.githubusercontent.com/3046552/156049572-737688c1-9a75-49ba-9f68-a41dcdeba115.png">

We ultimate

[2022-03-06 18:29] samreid commented on #862
I changed the capacitanceStep to 0.01 and made it the slider thumb snap step as well.  @arouinfar can you please verify the behavior on phettest before we create the maintenance releases?  After the behavior is verified do we need any other steps such as QA involvement for this maintenance release?

[2022-03-09 22:28] samreid commented on #872
I tried to make `selectedZoomProperty` derived from `zoomProperty` but received this error from ZoomButtonGroup: `Assertion failed: invalid zoomLevelProperty`.

[2022-03-09 22:32] samreid commented on #872
@arouinfar what is the desired PhET-iO API for this?  It was designed so that the PhET-iO API is "NORMAL" vs "ZOOMED_OUT".  Do you want something more like https://github.com/phetsims/geometric-optics/issues/337 ?

[2022-03-09 22:37] samreid commented on #871
I'm not able to reproduce this locally at the moment, closing for now.

[2022-03-09 22:37] #871 closed

[2022-03-09 23:00] samreid commented on #870
I added "label" subcomponents for each of the items above.  Ready for review.

[2022-03-15 19:44] samreid commented on #869
Patch with current status:

<details>

[code]
</details>

[2022-03-17 19:28] jessegreenberg commented on #747
This one was fixed by https://github.com/phetsims/scenery/issues/1312, closing.

[2022-03-17 19:28] #747 closed

[2022-03-18 02:43] samreid commented on #842
I pushed a fix for one aspect on CT at the moment, will reopen this or a new issue if it recurs.

[2022-03-18 02:43] #842 closed

[2022-03-21 15:50] KatieWoe opened #873 "CT getLocalToGlobalMatrix unable to work for DAG"
[code]

[2022-03-28 16:29] KatieWoe opened #874 "CT cannot read properties of null reading isDragged"
[code]

[2022-03-28 20:53] jessegreenberg commented on #873
I see this is in the common repo, great. Assigning to myself from https://github.com/phetsims/circuit-construction-kit-ac-virtual-lab/issues/5

[2022-03-28 20:54] jessegreenberg commented on #873
From https://github.com/phetsims/circuit-construction-kit-ac-virtual-lab/issues/5#issuecomment-1072780797

[2022-03-28 21:14] jessegreenberg commented on #873
This was fixed in the above commit, `panToNode` was replaced with a new `panToTrail` so that this feature works with DAG. `?fuzzBoard` tests are passing locally, closing.

[2022-03-28 21:14] #873 closed

[2022-03-28 21:20] jessegreenberg commented on #874
I took a look because it looked like an alt input problem but I am not sure yet. It seems like `getSelectedVertex` is returning `null` here https://github.com/phetsims/circuit-construction-kit-common/blob/5d939da4ea4887d8190753529b35d78139fb28aa/js/view/VertexNode.ts#L302-L311

But I wasn't able to reproduce it myself with the query params shown in the issue ticket
```brand=phet&ea&supportsInterac

[2022-04-02 20:15] samreid commented on #760
OK I added it back to the state tests.

[2022-04-04 16:42] arouinfar opened #875 "Are wires necessary to complete a circuit?"
A user Tweeted that they couldn't complete a circuit without wires. @ariel-phet and I both confirmed that this seems to be the case. Is there a rule that requires at least one wire to close the circuit? If so, can you remember the reason @samreid?

I am not proposing a change, but would like to confirm that the behavior is intentional.

[2022-04-04 16:43] ariel-phet commented on #875
Tweet for reference:

https://twitter.com/brianwfrank/status/1511009238419750915?s=20&t=gHYlPz0kG6IfbyyBV36ydw

[2022-04-04 16:46] samreid commented on #875
Historically, we required at least one wire, so we could guarantee there was at least that much resistance.  This is probably less of a concern now that batteries have internal resistance.  There is also an implementation constraint that only the dragged vertex is adjusted when dragging, so with fixed-length circuit elements, the other vertices are not auto-adjusted to get a perfect match.  But I

[2022-04-04 18:37] arouinfar commented on #875
Thanks @samreid. I'll leave it to @ariel-phet to communicate with the user. Based on the conversation, we can consider updating the behavior in the next release.

[2022-04-04 19:33] ariel-phet commented on #875
User writes:

[2022-04-06 18:35] arouinfar commented on #875
Thanks @ariel-phet. I'll add this to the next publication milestone for consideration.

[2022-04-07 22:15] samreid opened #876 "Support customizable archetypes"
For https://github.com/phetsims/phet-io/issues/1856

[2022-04-10 05:31] samreid commented on #862
@arouinfar can this be included with the next milestone of CCK (PhET-iO)?  Or does it warrant an earlier separate maintenance release?

[2022-04-13 18:34] zepumph commented on #760
Yay!

[2022-04-13 18:34] #760 closed

[2022-04-21 23:29] zepumph opened #877 "Figure out updateRenderer() @protected status"
While working on https://github.com/phetsims/chipper/issues/1237, it seems like many of those overrides are not actually protected, but I didn't know how to proceed. Please help me out @samreid

[2022-04-22 22:39] samreid commented on #877
I committed the proposed fix, @zepumph would you like to spot check?

[2022-04-25 18:35] zepumph commented on #877
Yes perfect, and exactly what I would have done, I just didn't if it was too strict for how you wanted your code. Thanks!

[2022-04-25 18:35] #877 closed

[2022-04-25 22:01] oliver-phet opened #878 "User suggestion: raise voltage to 220V/380V"

[2022-04-28 16:46] arouinfar commented on #878
We'd like to eventually make a household/electrician version of CCK that would better serve the user's goals, but it's not currently on the radar.

On the Lab Screen, there is a Phase Shift control for the AC sources that may be of use. Currently, the range only extends to 180 degrees, but this was a somewhat arbitrary choice. For three-phase voltages, we would need to extend the range to 240 degr

[2022-04-28 17:05] arouinfar opened #879 "Extend Phase Shift range to 240 degrees"
In https://github.com/phetsims/circuit-construction-kit-common/issues/878, a user requested the ability to create a [three-phase AC voltage](https://en.wikipedia.org/wiki/Three-phase_electric_power). In general, their goals are better suited to a household/electrician flavor of CCK, but it seems like increasing the range of the Phase Shift to 240 degrees could achieve some of their goals.

![image

[2022-04-28 17:14] oliver-phet commented on #878
Thanks, I'll reply to user.

[2022-04-28 17:14] #878 closed

[2022-05-12 18:29] KatieWoe commented on #693
A user reported this again, and it was reproduced in the published version of the sim on 5/12/22.
This was the set up:
<img width="1108" alt="Screen Shot 2022-05-11 at 12 11 30 PM" src="https://user-images.githubusercontent.com/41024075/168142816-2f05d99e-bc5f-4c93-ba89-0526c7c8fe4c.png">
Cut this point:
<img width="1154" alt="Screen Shot 2022-05-11 at 12 11 36 PM" src="https://user-images.githubu

[2022-05-26 16:18] oliver-phet opened #880 "User request: finer resistance scale, meter bridge"

[2022-05-27 03:50] samreid opened #881 "Publish a new version of CCK DC PhET-iO"
For an upcoming meeting

[2022-05-27 18:12] samreid commented on #881
I published https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.3.0-dev.17/phet-io/wrappers/studio/ today.  @arouinfar can you please spot check it for the purposes of the presentation?

[2022-05-31 20:46] arouinfar commented on #881
Thanks @samreid I shared dev.17 in today's meeting, and it was well-behaved during my testing before then.

[2022-05-31 20:46] #881 closed

[2022-05-31 21:08] arouinfar opened #882 "User request: remove the dog"
@RVieyra shared this on Slack:

![image](https://user-images.githubusercontent.com/8419308/171282475-2f6ddeaf-55d7-4b28-9947-21d87cc8533f.png)

The dog has been controversial and in the 1.2 version, we changed its behavior to bark and disconnect if the voltage becomes too high, see #512.

While the decisions made in #512 circumvent the unrealistic resistance and animal cruelty aspects, there are s

[2022-05-31 21:13] arouinfar opened #883 "Carousel order is inconsistent on Lab screen of CCK: DC"
Noticed during #882

The "grab bag" items generally follow this order in the CCK: DC and CCK: AC flavors:
1. Dollar bill
2. Paper clip
3. Coin
4. Eraser
5. Pencil
6. Hand
7. Dog

However, the Lab screen of CCK: DC (same as CCK: DC - VL) has the pencil last. @samreid let's update the order in the carousel to match the list above.

[2022-05-31 21:33] arouinfar opened #884 "Delete `moreWires` and increase number of wires to 50"
@DianaTavares reported a user issue with the number of wires available by default.

The recommended solution was to use the `moreWires` query parameter. However, @DianaTavares raised these concerns:

Query parameters are not accessible in the app and are hard to share when sending the .html file. There are two options we can consider:
1. Add a "More Wires" checkbox to the Options dialog.  (This wo

[2022-05-31 22:15] oliver-phet opened #885 "Add ohmmeter"

[2022-06-01 17:32] DianaTavares commented on #884
option 2) solve the problem of this issue of more wires, but I think that moving from query parameter to something in the Options dialog can be better In general for all the simulations. I visualize that this can be a recurrent problem with other simulations, like the new math sims that have a lot of query parameters, or Natural selection where starting with a specific bunny population can be usef

[2022-06-02 21:09] arouinfar commented on #885
This is beyond the scope of the upcoming PhET-iO release, but we can consider it someday when this sim is revisited, deferring.

Reasons not to add an ohmmeter:
* Goal is for students to calculate the equivalent resistance or determine/prove the equivalent resistance.

[2022-06-02 21:16] arouinfar opened #886 "Update Teacher Tips"
The Teacher Tips should be updated with the next release.

- [x] Remove `moreWires` from query parameter table, #884
- [x] Add `ammeterReadout` to query parameter table
- [x] Remove info related to hand & dog, #882 #907
- [x] Update references to precision, see #963
- [x] Update screenshots

[2022-06-02 21:16] arouinfar commented on #884
Discussed with @samreid and @kathy-phet and we decided to go with option (2) and delete the `moreWires` query parameter and include 50 wires by default.

[2022-06-03 20:58] RVieyra commented on #882
Just a few more considerations:
- If you keep the hand, I propose a "spread hand," with electrons flowing from pinky to thumb. Right now, wrist to finger is more "odd" than problematic.
- If you keep the hand, please keep in mind the potential need for cultural contextualization (skin tone).
- Does the hand have pedagogical value? Any organic material would, but, you might has well replace it with

[2022-06-03 21:37] samreid opened #887 "Build failure: Error: Build aborted, circuit-construction-kit-ac failed with exit code 1 stdout:"
I saw this build failure:

[code]

I checked out that branch and have the same problem locally.

[2022-06-03 21:44] samreid commented on #887
This problem was caused by an errant "griddle" appearing in the tsconfigs.  It didn't have griddle in the SHAs so was trying to type check an incompatible version (whatever else was checked out).

[2022-06-03 22:02] samreid commented on #887
I patched the dependencies in the commits, and updated of the dependencies file.  I re-triggered the build following a command given to me by @mattpen.

[2022-06-03 23:19] samreid commented on #887
@jonathanolson @zepumph and I worked through several problems and got 1.0.2 published, and the om translation looks good.  @jbphet do you have a way to notify that translator?

[2022-06-06 16:50] #887 closed

[2022-07-19 14:33] jonathanolson opened #888 "CCKCQueryParameters.batteryCurrentThreshold remaining reference"
In LinearTransientAnalysis, it's accessing a query parameter that doesn't exist before (noted to link https://github.com/phetsims/circuit-construction-kit-common/issues/245).

I'm adding a ts-ignore for now.

[2022-08-03 23:14] samreid commented on #228
Today I noticed that https://github.com/danchitnis/EEsim seemed to have a lot of good progress recently.

[2022-08-24 16:07] jessegreenberg opened #889 "Update fonts and spacing for simulation preferences"
Now that contents of OptionsDialog have been moved into PreferencesDialog, it would look best for the contents to match fonts and spacing of PreferencesDialog.

<details><summary>Current layout</summary>

![image](https://user-images.githubusercontent.com/6396244/186468082-7b7d3745-60bd-4426-b879-d83655bc339c.png)

[2022-08-24 16:17] jessegreenberg commented on #889
Done, new layout looks like
![image](https://user-images.githubusercontent.com/6396244/186470109-2e231e68-f366-49e8-b4e4-53b50e48bbb3.png)

Closing but notifying responsible dev @samreid.

[2022-08-24 16:17] #889 closed

[2022-08-24 16:18] jessegreenberg opened #890 "Rename CCKOptionsDialogContent"
From https://github.com/phetsims/joist/issues/837 now that this content is not in the OptionsDialog this should be renamed.

[2022-08-24 17:06] jessegreenberg commented on #890
Done with the above commits, but wanted to notify responsible dev @samreid.

[2022-08-24 17:06] #890 closed

[2022-08-27 16:12] samreid opened #891 "phetioID missing from the baseline that was not an archetype:"
[code]

[2022-08-27 16:24] samreid commented on #891
Fixed, closing.

[2022-08-27 22:19] samreid commented on #819
This problem has not appeared on CT for a while, closing.

[2022-08-27 22:19] #819 closed

[2022-08-27 22:20] samreid commented on #874
This problem hasn't appeared on CT for a while, closing.

[2022-08-27 22:20] #874 closed

[2022-08-27 22:29] samreid commented on #888
Fixed, thanks for finding the problem.  Closing.

[2022-08-27 22:29] #888 closed

[2022-08-27 22:32] samreid commented on #884
Fixed.  Clients that continue to use ?moreWires from their bookmarks will not run into problems (query parameter will be safely ignored).  Closing.

[2022-08-27 22:32] #884 closed

[2022-08-27 22:37] samreid commented on #883
Fixed in DC and DC VL, @arouinfar want to spot test on phettest?

[2022-08-27 22:38] samreid commented on #693
I feel like https://github.com/phetsims/circuit-construction-kit-common/issues/228#issuecomment-1204572936 will be the most efficient way out of this problem.  @arouinar or @kathy-phet can you please help prioritize?

[2022-08-27 22:45] samreid commented on #869
Implemented above (and made visibleProperty readonly). Ready for review.

[2022-08-27 22:46] samreid opened #960 "Make it possible to switch locales at runtime"
May be easier once https://github.com/phetsims/mean-share-and-balance/issues/99 is complete.

[2022-08-27 23:13] samreid commented on #824
Just wanting to clarify the convention before I start on this issue.  In Circuit Construction Kit: DC, the Intro screen should support natural features from the Lab screen?  But none of the features from AC?

[2022-08-27 23:14] samreid commented on #868
https://github.com/phetsims/sun/issues/736 is closed, closing.

[2022-08-27 23:14] #868 closed

[2022-08-27 23:23] samreid commented on #845
This commit prefers to put the label above the circuit element, the rest of the logic is the same:

![Kapture 2022-08-27 at 17 23 19](https://user-images.githubusercontent.com/679486/187051294-ac9a6606-da7e-4625-965a-c39cf8bff0f9.gif)

[2022-08-27 23:27] samreid commented on #841
Thanks, closing.

[2022-08-27 23:27] #841 closed

[2022-08-27 23:32] samreid commented on #867
Fixed, and I opened a side issue for a related problem I discovered.  Closing.

[2022-08-27 23:32] #867 closed

[2022-08-27 23:33] samreid commented on #513
Other work tracked in other issues, closing.

[2022-08-27 23:39] samreid commented on #864
Fixed, closing.

[2022-08-27 23:39] #864 closed

[2022-08-27 23:41] samreid commented on #861
@Nancy-Salpepi is this still happening on the latest version (on phettest)?

[2022-08-27 23:53] samreid commented on #852
Fixed, and it looks like this:

<img width="878" alt="image" src="https://user-images.githubusercontent.com/679486/187051790-58cddba2-222a-40b8-a2c9-b3da1a98891e.png">

There is some complication that there is another competing (cooperating?) enumeration like so:

<img width="808" alt="image" src="https://user-images.githubusercontent.com/679486/187051801-47240c97-b7ee-4b1f-a19b-8c558bdc01ad.png">

[2022-08-28 02:41] samreid commented on #854
Right, but giving an API to PhET-iO clients allows them to choose the value, without making it user-adjustable.  Should clients be able to choose that resistance value?

[2022-08-28 02:49] samreid commented on #854
All issues addressed or asked about in the preceding comment.  @arouinfar can you please review?

[2022-08-28 16:02] samreid commented on #866
Added and it is working well.  It may show up in phetmarks after the nightly task completes.  Closing.

[2022-08-28 16:02] #866 closed

[2022-08-28 16:15] samreid commented on #831
I added a `messageNode` container which is working well. This is ready for review, but I wanted to ask some specific questions about the desired behavior.

* Currently `switchReadoutNode` contains the garbage can too.  But it sounds like it is just the readout.  What should this name be?
* Should the garbage can be centered if the messageNode is hidden?
* Want to rename `messageNode`?

[2022-08-28 18:18] samreid commented on #850
I implemented the proposal so there is one selectionProperty which can be CircuitElement | Vertex | null.  It is easy to change the selection from studio using "get" --> "set".  This also fixes the vertex highlighting bug.  Ready for review.

[2022-08-28 18:21] samreid commented on #630
Before starting on this, I'd like to clarify the design requirements.  ComboBoxes have the ability to "move up" and "move down" elements:

<img width="697" alt="image" src="https://user-images.githubusercontent.com/679486/187088896-3620a7e9-cbca-49d5-b78a-147415a0904f.png">

Is that what we want here?  Do we want that generally for all carousels?  Or generally for more layout containers?

[2022-08-28 18:34] samreid commented on #855
I opted out of the tandems checked off above.  For the others, I wanted to ask:

* Is uninstrumentation of the archetypes permanently, or only until we implement https://github.com/phetsims/phet-io/issues/1856 ?
* Do we really want to uninstrument the labels?
* The thumb node and track node should remain instrumented for the data stream events, right?

[2022-08-28 19:15] samreid commented on #856
I instrumented and featured the `visibleProperty`.  If it is preferable, I can remove that `phetioFeatured` from the code and move it to the overrides.  Also referring to https://github.com/phetsims/phet-io/issues/1873 which discusses where this metadata should live.

[2022-08-28 19:19] samreid commented on #859
It was requested to uninstrument the lifelikeIcon and schematicIcon in https://github.com/phetsims/circuit-construction-kit-common/issues/855, @arouinfar can you please review if anything needs to be done here?

[2022-08-28 20:19] samreid commented on #857
This was more complicated because SeriesAmmeterNode previously had an independent implementation of the readout.  But it was very nice to unify it with the other readouts.  This aligned the tandems, and it is ready for review.  Please also check for what things should be `phetioFeatured`--in the commit `circuitConstructionKitDc.labScreen.view.circuitNode.seriesAmmeterNodeGroup.archetype.readoutPan

[2022-08-29 12:37] Nancy-Salpepi commented on #861
I wasn't able to reproduce on Master. I'm going to go ahead and close.

[2022-08-29 12:37] #861 closed

[2022-09-08 21:31] samreid commented on #513
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:31] samreid commented on #703
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:31] samreid commented on #758
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:31] samreid commented on #797
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 23:01] #797 closed

[2022-09-09 01:02] samreid commented on #758
I removed the TODO, closing.

[2022-09-09 01:02] #758 closed

[2022-09-09 01:05] samreid commented on #703
I decided to keep the predicate.  It is working well and I don't want to introduce a separate data token that could get out of sync.

[2022-09-09 01:05] #703 closed

[2022-09-09 01:08] samreid commented on #513
I visited all 4 and updated or removed them, closing.

[2022-09-09 01:08] #513 closed

[2022-09-09 16:07] KatieWoe commented on #891
I'm seeing this again now that CT is working again.
[code]

[2022-09-09 18:26] samreid commented on #891
Fixed and pushed, thanks for reporting it.  Closing.

[2022-09-09 18:26] #891 closed

[2022-09-15 21:46] KatieWoe opened #892 "CT All descendants must be disposed by the next frame:"
In several CCK repos:
[code]

[2022-09-27 17:03] samreid commented on #892
Fixed, closing.

[2022-09-27 17:03] #892 closed

[2022-10-10 20:46] arouinfar commented on #883
Looks good, thanks!

[2022-10-10 20:46] #883 closed

[2022-10-10 20:54] arouinfar commented on #869
Thanks @samreid. I'm not sure where these changes fell in relation to the changes made in https://github.com/phetsims/chipper/issues/1302. However, reviewing master, each carousel item has a link back to the appropriate `stringProperty` in `general.model.strings`, which is what I would expect to see. Closing.

[2022-10-10 21:10] arouinfar commented on #824
Yes, that seems reasonable @samreid. My takeaway from https://github.com/phetsims/geometric-optics-basics/issues/3 is that we do not need to aggressively prune the tree to remove features that could *safely* be turned on in other screens/flavors of a sim, especially when the differences are largely subtractive in nature. In the future, derivative simulations could potentially be created by clever

[2022-10-10 21:12] arouinfar commented on #845
Looks great, thanks @samreid!

[2022-10-10 21:12] #845 closed

[2022-10-10 21:12] arouinfar commented on #852
Thanks @samreid! Looks good in master.

[2022-10-10 21:12] #852 closed

[2022-10-10 21:45] arouinfar commented on #854
Thanks @samreid. I verified the checked items in https://github.com/phetsims/circuit-construction-kit-common/issues/854#issue-1133585268, but those related to strings are now moot.

Excellent point @samreid. It's also now user-adjustable with the Get Value/Set Value functionality within Studio, so we should leave this as-is.

Those related to the vertices should definitely be read-only. Things can

[2022-10-10 22:03] arouinfar commented on #831
Thanks @samreid. I agree it's all looking good in master and links back to the appropriate `stringProperty`.

It's a child of the `circuitElementEditContainerNode`, so maybe `switchContainerNode`? I'm not too worried about the element name since it's clearly related to the switch and testing out its `visibleProperty` will make its contents pretty obvious.

Ideally, yes, but I think that applies to

[2022-10-10 22:06] arouinfar commented on #850
Thanks @samreid. I really like `selectionProperty`, and it seems powerful that users can pass in the `phetioID` of the element they want to highlight. However, it doesn't seem like Studio does any error checking to make sure the `phetioID` exists when using Set Value. Should it?

[2022-10-10 22:15] arouinfar commented on #856
Thanks @samreid. The behavior looks good in Studio. Since https://github.com/phetsims/phet-io/issues/1873 hasn't been resolved, I'm not sure where we should specify `phetioFeatured: true` or if this issue can be closed, so back to you.

[2022-10-10 22:17] arouinfar commented on #859
Thanks @Nancy-Salpepi @samreid. Based on the current behavior in master, I don't think there's anything we need to do here.

[2022-10-10 22:17] #859 closed

[2022-10-10 23:15] arouinfar commented on #857
Thanks @samreid. This all looks good, but the comments I made in regards to `readoutText` in https://github.com/phetsims/circuit-construction-kit-common/issues/854#issuecomment-1273846549 apply here.

It looks like you made things `phetioFeatured` within the sim code. Not sure if that will be the way forward or not, since https://github.com/phetsims/phet-io/issues/1873 hasn't been resolved. Additi

[2022-10-10 23:15] #857 closed

[2022-10-10 23:25] arouinfar commented on #855
These requests all look permanent to me. Wires are not editable and have no value or label to display, so I see no reason for them to have `isEditableProperty`, `isValueDisplayableProperty`, or `labelStringProperty`. These properties do not translate to the series ammeter, either.

The "tiny" and "lots" labels do not need to be instrumented in the view. The strings will still be accessible under `

[2022-10-10 23:37] arouinfar commented on #862
@samreid the PhET-iO milestones are all related to CCK: DC, and it will likely be quite some time before CCK: AC & CCK: AC - VL are republished off of master. Let's proceed with publishing maintenance releases of the AC flavors, as time allows.

[2022-10-10 23:43] arouinfar commented on #870
Now that PhET-iO sims contain all of the rosetta strings, this sort of request is no longer necesary. That said, I reviewed the tree in master, and the checkboxes and radio buttons now all contain links to the appropriate `stringProperty`, which is great. Closing.

[2022-10-10 23:43] #870 closed

[2022-10-10 23:48] arouinfar commented on #853
I'm a bit conflicted. I really do think the "right" descriptor adds a bit of difficulty when scanning the tree for "battery". However, this is mitigated by the Studio select feature. Since there could be a "left" battery in future flavors of CCK, let's leave this as-is so we don't have to introduce API-breaking changes in the future to distinguish the "right" and "left" batteries.

[2022-10-10 23:48] #853 closed

[2022-10-18 20:43] oliver-phet commented on #693
Just documenting another user report of this:
![Construire un circuit _ CC screenshot](https://user-images.githubusercontent.com/5090275/196540788-c1dbc211-b2a2-4f66-adfe-dda85dbf4bfa.png)
Looks like electron bunching.

[2022-10-19 02:02] samreid commented on #693
For me, this is another vote for https://github.com/phetsims/circuit-construction-kit-common/issues/228#issuecomment-1204572936

[2022-10-19 02:09] samreid commented on #228
I tested https://eesim.dev/ in mac firefox 105.0.3 (64-bit) and it worked great!

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/679486/196580606-af0b6679-5d8c-4bda-aa01-ea544f06bf0b.png">

[2022-11-02 21:26] arouinfar opened #893 "Create query parameters to load example circuits"
@ariel-phet proposed this over Slack:

I love this idea, and I think it would be a really great alternative to the save/load functionality we had in Java.

Tagging for design meeting and the next publication milestone since we should decide if this feature is within the scope of the next release.

[2022-11-09 19:55] matthew-blackman opened #894 "Switch readout display message shifting position after clicking on a different element"
The text that says "The switch is open/the switch is closed" changes position after clicking on a different component.

To reproduce:
- Add a switch to a blank play area
- Click on switch, view text position
- Add another component and click on it
- Click on the switch again, the text will have shifted position

Screenshot after text shift:
![Screen Shot 2022-11-09 at 2 51 47 PM](https://user-imag

[2022-11-09 20:31] samreid commented on #894
Fixed, but we also need to see if other components need this same fix.

[2022-11-09 20:34] samreid opened #895 "Scissors don't always show when they should"
Vertex is not always cuttable by default. If you take out 1 wire and leave it close to the toolbox, then take out a 2nd wire further to the right, then connect them, there is no scissors for that vertex.  If you reverse the order, everything is OK though. Awkward!

<img width="720" alt="image" src="https://user-images.githubusercontent.com/679486/200936035-acca1d03-83a2-47b4-9914-3aaad36f5c94.png"

[2022-11-09 20:35] samreid commented on #894
@matthew-blackman said there are no problems on the other components, closing.

[2022-11-09 20:35] #894 closed

[2022-11-09 20:57] samreid commented on #895
@matthew-blackman and I determined there is an ordering problem.  When 2 vertices are joined, one is disposed.  If the disposal happens afterwards, the cut button disappears.  Maybe this disposal line is too greedy:

[code]

[2022-11-10 06:02] samreid commented on #608
`attach: false` is used 17 times across our codebase, we have not demonstrated significant negative effects.  The PhET-iO data stream seems reasonable.  I recommend closing this issue, and we can reopen if/when we discover code review problems or usability issues with this setting.

[2022-11-10 06:02] #608 closed

[2022-11-10 06:04] samreid commented on #823
I do not believe an interpreter between the PhET-iO State format and the previously supported data structure needs to be included in the release--it could be a script supplied separately to researchers.  Therefore, I would like to remove this from the Milestone. I'll leave it labeled for design meeting though.

[2022-11-10 06:10] samreid commented on #849
Fixed, and working well in testing launching a studio state with a tripped fuse.  Closing.

[2022-11-10 06:10] #849 closed

[2022-11-10 06:32] samreid commented on #895
After the commit, things are working much better.  But the look of the disabled cut button is a bit paler, perhaps the opacity or grayscale is applied twice?

[2022-11-16 19:47] matthew-blackman commented on #895
@samreid and I found that the disabled opacity of the cut button was consistent with the DISABLED_OPACITY constant in SceneryConstants.js. We also looked into the component tree using the joist helper, and did not see any node structure that was applying opacity twice to the cut button.

Noteworthy: The unbuilt version of the sim has a lower opacity for the disabled button than the version on the

[2022-11-16 19:47] #895 closed

[2022-11-16 20:09] matthew-blackman commented on #831
@samreid and I discussed what to name the container Node that appears at the bottom of the screen when a circuit component is highlighted. For most components this container will have controls to edit the component, but for the switch it only shows a message and the trash button. The container is currently called 'switchReadoutNode' which doesn't seem to match what it is, but changing it to 'switc

[2022-11-16 20:13] samreid opened #896 "Ensure coverage of phet-io instrumentation for elements in the circuitElementControlNode"
Today while working on #831 @matthew-blackman discovered there was poor coverage of phet-io instrumentation in what we hope to call the `circuitElementControlNode`.  For example, in the resistor and fuse controls, and light bulb. We should add better instrumentation there.

[2022-11-16 20:25] samreid commented on #850
@matthew-blackman and I tested this in a built version.  We tried selecting a battery that doesn't exist. It showed this alert dialog and did not crash the sim:

<img width="460" alt="image" src="https://user-images.githubusercontent.com/679486/202286437-917b610e-5f8d-4b18-bebc-c1a1c28e1b25.png">

We cannot use a standard validator in this place for the rich studio error reporting since trying to

[2022-11-17 01:11] samreid commented on #854
OK we updated the tandems and marked things as readonly.  @arouinfar ready for review.

[2022-11-17 16:57] KatieWoe opened #897 "CT Various"
Number of CT issues in the different CCK sims
[code]
[code]
[code]
[code]

[2022-11-21 19:37] samreid commented on #855
@matthew-blackman and I looked into this, and we additionally saw `tandem.createTandem( 'tinyLabelText' )` in `SourceResistanceControls`.  (Whatever we decide should apply equally to SourceResistanceControls and WireResistivityControls). But we were skeptical about uninstrumenting these tick mark label scenery nodes, thinking that would make it impossible to use studio autoselect to discover them.

[2022-11-21 19:41] samreid commented on #856
It doesn't seem to be causing problems to specify this in the code, so let's leave it as is.  If we decide otherwise in https://github.com/phetsims/phet-io/issues/1873, we can change that easily.

[2022-11-21 19:41] #856 closed

[2022-11-21 19:56] samreid commented on #840
@matthew-blackman and I tested this behavior, we were able to recreate the buggy behavior on the dev version listed in https://github.com/phetsims/qa/issues/774, but not in the current state of master.  @KatieWoe can you please double check on phettest?  Please close if all is well.

[2022-11-21 21:03] matthew-blackman commented on #815
We discovered that there was a postprocessing step that was setting any vertex not in the liner algebra to zero, and it was then being set to 9 in the next step. @samreid and I were not able to determine why a vertex was not being set in the linear algebra step (we ran a test in the unit test harness and saw that a disconnected battery did have a solved voltage for both vertices), but we feel conf

[2022-11-21 21:03] #815 closed

[2022-11-21 21:09] matthew-blackman opened #898 "currentProperty, powerDissipatedProperty and powerGeneratedProperty updating slightly every frame in connected circuit"
Connecting a circuit with the data stream running shows rapid logs like the following:

circuitConstructionKitDc.introScreen.model.circuit.batteryGroup.battery_0.powerGeneratedProperty changed {"oldValue":8.09991906553702,"newValue":8.099920065564913}

circuitConstructionKitDc.introScreen.model.circuit.lightBulbGroup.lightBulb_0.currentProperty changed {"oldValue":0.8999910072818911,"newValue":0.8

[2022-11-21 22:52] KatieWoe commented on #840
Something froze the downstream sim while I was attempting to test this:
<img width="955" alt="notest" src="https://user-images.githubusercontent.com/41024075/203173973-bb02b7b0-e9d5-4d16-9641-67d06c02086c.png">

[2022-11-21 23:02] KatieWoe commented on #840
When the above bug doesn't stop me, it does seem this is fixed on master.

[2022-11-21 23:10] KatieWoe commented on #840
The non-ohmic bulb now seems to read 1000 ohms no matter what the current, making that aspect hard to test. The rest of the objects (dog, etc.) seem to be fixed.

[2022-11-22 00:04] samreid commented on #840
I fixed the ammeter problem.  I'm also seeing varying values in the non-ohmic bulb

<img width="522" alt="image" src="https://user-images.githubusercontent.com/679486/203182581-9870a3ee-e2b9-481d-a7e0-875cd26ba904.png">

Can you please specify how to reproduce the problem?

[2022-11-22 00:12] samreid commented on #876
Labeling for design meeting to determine priority/timeline

[2022-11-22 00:34] samreid commented on #898
In further testing, I saw this error occurred some times and not other times, even depending on the wire length.  So it seems to be a roundoff error for certain configurations.  I tried rounding off the current values in the model like so and that seemed to prevent the problem.

<details>

[code]

</details>

I'm not sure if rounding off the model could cause other problems though.  Let's discuss.

[2022-11-22 03:27] samreid commented on #897
Looks fixed in the latest column, closing.

[2022-11-22 03:50] samreid commented on #862
On Thursday, @jonathanolson reported that he is working on maintenance releases.  He said:

I replied:

On hold until we know more.

[2022-11-22 15:44] KatieWoe commented on #840
I was mixing up bulbs in my previous testing, sorry. The non-ohmic bulb looks ok.

[2022-11-22 20:16] AgustinVallejo opened #899 "CircuitElementNodeIO is not used nor redefined"
There is a field called [CircuitElementNodeIO in CircuitElementNode.ts](https://github.com/phetsims/circuit-construction-kit-common/blob/4ce649c263ef9865b0aa507bef894bb93107584f/js/view/CircuitElementNode.ts#L35) that isn't currently being used. Should it be deleted?

[2022-11-23 19:26] samreid commented on #899
Thanks, I deleted it.  Closing.

[2022-11-23 19:26] #899 closed

[2022-11-28 19:44] matthew-blackman commented on #824
The clear button no longer appears in studio in DC mode. @samreid and I confirmed that DC studio does not show any inductors or capacitors.

[2022-11-28 19:44] #824 closed

[2022-11-28 19:48] matthew-blackman opened #900 "DC-specific circuit elements and features should not appear in the AC studio tree"
We should not add DC-only features (high-voltage and high-resistance components) to AC because they have not been tested in an AC environment and go beyond the scope of the learning goals.

[2022-11-28 19:49] matthew-blackman commented on #824
Cross-linking issue #900 in separate milestone for AC release

[2022-11-28 21:20] samreid commented on #839
I fixed this by instrumenting the current sense property, closing.

[2022-11-28 21:20] #839 closed

[2022-11-28 21:21] samreid opened #901 "Deleting a vertex using the keyboard in the state wrapper did not update"
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/839, Deleting a vertex using the keyboard in the state wrapper did not update the upstream sim.  But the vertex split in the downstream sim.  So the upstream sim was left in a broken state.

[2022-11-28 21:24] samreid commented on #896
All parts of the resistor controls seem well-instrumented:

<img width="823" alt="image" src="https://user-images.githubusercontent.com/679486/204383962-e5afd170-dfa9-4917-b605-b3f2bafccd3b.png">

[2022-11-28 21:25] samreid commented on #896
I saw equally good coverage for the fuse and light bulb controls. @matthew-blackman am I checking the right thing?  Does this issue seem ready to fix?

[2022-11-29 15:42] KatieWoe commented on #840
I think this can be closed.

[2022-11-29 15:42] #840 closed

[2022-11-29 16:38] matthew-blackman commented on #896
I tested this in studio and the controls all look instrumented for resistors, bulbs and fuses. Closing this issue.

[2022-11-29 16:38] #896 closed

[2022-11-29 16:40] matthew-blackman opened #902 "'Reset fuse' button is misaligned vertically"
See screenshot below. It looks like the 'reset fuse' button should be vertically centered, not bottom-justified.

<img width="353" alt="Screen Shot 2022-11-29 at 11 37 45 AM" src="https://user-images.githubusercontent.com/108756567/204588952-99b2e36d-6651-46f4-9d3f-43a0de0ccc43.png">

[2022-11-30 19:21] arouinfar commented on #882
11/30/22 design meeting @arouinfar @samreid @matthew-blackman

@matthew-blackman said that he has had students who spend a lot of time and energy focused on the dog. It's an attractive distraction and doesn't serve the primary learning goals. Students would drag out every possible battery to create a large current to electrocute the dog (or light the dollar bill on fire). MB had to instruct his st

[2022-11-30 19:31] arouinfar commented on #876
Design meeting 11/30/22 @arouinfar @samreid @matthew-blackman

There is some benefit in allowing instructional designers to customize the archetypes, and we would like to include it in this milestone.

Caveats
* Customizing the archetype will not have a retroactive effect on the already existing elements.

[2022-11-30 19:33] arouinfar commented on #875
@samreid @matthew-blackman and I agree that this is not within the scope of the current milestone.

[2022-11-30 19:52] arouinfar commented on #630
11/30/22 discussion with @samreid @matthew-blackman @arouinfar

* We cannot simply hide the holes, because later pages have a different number of visible items.
* Re-paginate items to fill holes
* If a page becomes empty, hide that page and the page control dot
* Adding "Move Up" and "Move Down" controls to Studio could be useful to Instruction Designers, so let's spend a few hours investigating.

[2022-11-30 19:53] arouinfar commented on #778
Self-assigning to understand the current behavior.

[2022-11-30 20:23] matthew-blackman commented on #630
@samreid and I have been discussing this and ran into some edge cases. Currently there is a wire as the top element on every page of the carousel. We are asking about the desired behavior in the following cases:

1. The user wants to remove a wire from a carousel page
2. The user does not want wires as the first item of each carousel page

If the user, for example, hides the fuse, do we still want

[2022-11-30 20:34] matthew-blackman commented on #630
Currently the carousel has only one global 'Wire Tool Node' that is being shown at the top of each carousel page. If the user sets the wire tool node invisible, this will remove the wire tool at the top of each carousel page. Is this the intended behavior, or do we want separate wire tool nodes for each carousel page to allow more customizability?

[2022-11-30 21:11] samreid commented on #902
Thanks, I changed align to center, and it seems much better now:

<img width="306" alt="image" src="https://user-images.githubusercontent.com/679486/204908617-6498c2c5-f773-4abb-9f37-be12301df4b0.png">

Not sure how this was working before--I didn't see much other layout code for the trash button, etc.

Can you please spot check the layouts for a few component types and close if all seems well?

[2022-11-30 23:12] arouinfar commented on #630
This is a fun edge case. The wire appears at the top of each carousel page as a convenience since there are generally far more wires in a circuit than other element types.

Yes, I think so. The goal is to make wires very easy to find, and keeping them in a consistent position maintains this.

I don't think we need to provide clients with the ability to decide which of the wires to keep and which t