[2017-10-19 18:10] phet-steele commented on #296
@samreid this is in [Voltmeter.js](https://github.com/phetsims/capacitor-lab-basics/blob/master/js/common/model/meter/Voltmeter.js)

[code]

[2017-10-20 17:26] phet-steele opened #425 "Vertex Pulling Redux"
1. Take two fixed length components.
2. Drag them each and bring them within snapping distance. They won't snap, which is good. Bring them about this close to each other:

<img width="198" alt="screen shot 2017-10-20 at 11 12 23 am" src="https://user-images.githubusercontent.com/5863899/31833376-998634da-b587-11e7-9f65-6af07b7e3a46.png">

3. Release both at the same time! You will get some misplac

[2017-10-20 19:43] ariel-phet commented on #425
I can reproduce, but this bug has extreme dependence on conditions (releasing at the same time, getting the right over lap).

Deferring currently, and removing any assignments

[2017-10-20 20:42] phet-steele opened #426 "Dead circuit elements after quick carousel interaction"
@ariel-phet I'm thinking this is pretty device specific, but I'm hoping @samreid can help diagnose this issue to find the root cause and (hopefully) reproduce on all devices.

Reproducible on: Samsung Galaxy Tab A (so this might occur in our Android app).

Step:
1. Double tap on an item in the carousel. If nothing happened, try again.  You could also just tap as much as you want, you'll just hit t

[2017-10-20 21:44] ariel-phet commented on #426
@samreid I would say this is very much "no bueno" considering we have the android app these days (and will want a CCK app in addition). Would be good to identify the bug and fix.

[2017-10-20 21:53] phet-steele commented on #426
@samreid @ariel-phet I can reproduce on touchscreen Chrome OS (but not with a cursor?).

[2017-10-24 16:19] samreid commented on #419
Fix pushed to master and needs to be merged into the RC for RC.2.

[2017-10-24 16:28] phet-steele commented on #281
New set-up courtesy of @EthanWJohnson. Looks like furthest-nearest electron fails when the current in an element is many orders of magnitude lower than the incoming current. Electrons will continue to enter at a faster rate than they can leave:
<img width="806" alt="screen shot 2017-10-24 at 10 26 51 am" src="https://user-images.githubusercontent.com/5863899/31955555-ff0145ea-b8a5-11e7-8fac-2d09ad

[2017-10-24 18:54] phet-steele opened #427 "Cut button can be dismissed without dismissing the highlight"
@samreid this requires touch input (because I think `touchSnag` is needed).

1. Connect two elements together and drag their connection near the carousel.
2. Place them in such a way that when the cut button is shown, the button covers (or at least somewhat overlaps) and object in the carousel, like this:
<img width="358" alt="screen shot 2017-10-24 at 12 47 57 pm" src="https://user-images.githubu

[2017-10-24 19:27] phet-steele opened #428 "Flickering item when rapidly grabbing items from the carousel"
@samreid @ariel-phet, on somewhat slower devices (I say somewhat because this is still seen on good iPads, but hard to see on laptops), you can see a flickering effect when rapidly grabbing/releasing an item out of the carousel. I usually see this more when grabbing the last of an item.

This is easy to do with one-ofs, like the dollar bill. While rapidly grabbing then releasing the item, if you l

[2017-10-24 19:38] ariel-phet commented on #421
We will deal with this after 1.0, not a significant issue.

[2017-10-24 19:51] ariel-phet commented on #427
Seems like a non problematic edge case, will investigate as part of 1.1

[2017-10-24 19:54] ariel-phet commented on #428
This seems unlikely to cause any pedagogical issues, but it is not super aesthetically pleasing, deferring for now, will look into for 1.1

[2017-10-24 19:54] phet-steele commented on #421
FWIW, you can get two practically identical circuits but only have one show fire. This is with very small wire resistivity (one little notch above "tiny").

<img width="955" alt="screen shot 2017-10-24 at 1 52 23 pm" src="https://user-images.githubusercontent.com/5863899/31964831-975472ba-b8c2-11e7-9ab6-6e910c63589a.png">

The difference is that the circuit on the right has wires that are just a f

[2017-10-24 19:57] ariel-phet commented on #421
@phet-steele understood, but precision/accuracy of measuring devices is real-world. It is OK for there to be a difference here since the circuits are not truly identical. I see your concern, but we will no address for 1.0.

[2017-10-24 20:10] samreid commented on #419
Merged and ready for testing in next rc.

[2017-10-24 20:14] samreid commented on #420
Proposed fix after adjustment:

![image](https://user-images.githubusercontent.com/679486/31965759-995b998c-b8c5-11e7-873f-dcd472cd9d13.png)

[2017-10-24 20:15] samreid commented on #420
Committed to the branch and ready for testing in next RC.

[2017-10-24 20:19] samreid commented on #422
Fixed in the RC branch, ready for testing in next RC.

[2017-10-24 20:30] samreid commented on #426
In the video, it looks like 2 light bulbs are created, and one of them disappears and the other becomes the zombie.

[2017-10-25 03:40] samreid commented on #426
@ariel-phet I implemented a feature in CCK which has the following behavior: when you tap and immediately release on an object in the control panel, the object stays on the screen for half a second before it disappears, see https://github.com/phetsims/circuit-construction-kit-common/issues/224

There is a good chance that the implementation leads to this issue (dead circuit elements) as a side eff

[2017-10-25 03:46] samreid commented on #426
It looks like there is invalid usage of setTimeout in CircuitElementNode.js, and I'm wondering if some platforms have a different behavior for setTimeout(0)--we could easily test with setTimeout(1) instead to test this hypothesis.

[2017-10-25 20:03] samreid commented on #426
Possible tests we can do:

1. try making sure the setTimeout minimum is 1 instead of 0
2. Use Timer.setTimeout instead of window.setTimeout
3. Get rid of the 500ms delay altogther

I'm leaning toward jumping all the way to (3) unless the design team @ariel-phet @arouinfar recommends otherwise.

[2017-10-25 20:06] arouinfar commented on #426
Option (3) is fine with me @samreid.

[2017-10-25 20:12] samreid commented on #426
Thanks @arouinfar.  I published a dev version here without any 500ms delay:

https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.167/circuit-construction-kit-dc_en.html

@phet-steele can you please test this on the devices that revealed problems?

[2017-10-25 20:13] samreid commented on #422
Dev version is here: https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.167/circuit-construction-kit-dc_en.html

[2017-10-25 20:13] samreid commented on #420
Dev version is here: https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.167/circuit-construction-kit-dc_en.html

[2017-10-25 20:13] samreid commented on #419
Dev version is here: https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.167/circuit-construction-kit-dc_en.html

[2017-10-25 20:19] phet-steele commented on #426
@samreid it's easier to break now.

[2017-10-26 17:08] samreid commented on #426
We added console.log to SimpleDragHandler in FixedCircuitElementNode and throughout SimpleDragHandler and are seeing that a start+move is happening with no end, even though the pointers have all been lifted.

<img width="830" alt="screen shot 2017-10-26 at 11 06 07 am" src="https://user-images.githubusercontent.com/679486/32066707-e881369c-ba3d-11e7-996e-c9e33405f408.png">

[2017-10-26 17:08] samreid commented on #426
@jessegreenberg and @phet-steele also identified this symptom is present in Projectile Motion

[2017-10-26 17:10] samreid commented on #426
We noticed that SimpleDragHandler.createForwardingListener supports down but not up, maybe this is related to the problem?

[2017-10-26 21:41] samreid commented on #426
@jonathanolson and @phet-steele are investigating in https://github.com/phetsims/scenery/issues/702

[2017-10-27 04:08] samreid commented on #419
Will be ready for RC testing in https://github.com/phetsims/QA/issues/59

[2017-10-27 04:08] samreid commented on #420
Will be ready for RC testing in https://github.com/phetsims/QA/issues/59

[2017-10-27 04:08] samreid commented on #422
Will be ready for RC testing in https://github.com/phetsims/QA/issues/59

[2017-10-27 04:26] samreid commented on #426
@ariel-phet said that this issue does not need to be solved for 1.0.  However, if we publish 1.0 and find a non-invasive fix for this, we would be able to incorporate it easily as a maintenance release.  We'll continue in the scenery issue then re-evaluate for CCK after further progress.

[2017-10-27 16:55] samreid commented on #296
Fixed and I'll push it to rc.3

[2017-10-27 17:01] samreid commented on #296
Published at https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-rc.3/circuit-construction-kit-dc_en.html

[2017-10-27 18:53] phet-steele commented on #422
Great!

[2017-10-27 18:53] #422 closed

[2017-10-27 19:18] arouinfar commented on #296
Looks great!

[2017-10-27 19:18] #296 closed

[2017-10-27 19:54] phet-steele commented on #419
Looks great.

[2017-10-27 19:54] #419 closed

[2017-10-27 19:54] phet-steele commented on #420
Looks great.

[2017-10-27 19:54] #420 closed

[2017-10-30 03:26] samreid commented on #426
On hold until we hear back from https://github.com/phetsims/scenery/issues/702

[2017-11-02 04:14] samreid commented on #426
Unassigning myself until we know more

[2017-11-08 22:30] oliver-phet opened #429 "User suggestion: standardize schematic components"

[2018-01-31 00:05] pixelzoom opened #430 "use of prototype common code for animation"
Noted while working on phetsims/twixt#4.

CCK:C is using EaseAnimation, which is documented as:

[code]

Should we be using prototype code for animation in production sims?

[2018-02-08 17:35] pixelzoom opened #431 "branch: vertex-test"
Identified by `print-branches.sh`. @samreid please describe.

[2018-02-09 06:06] samreid commented on #431
Merged to master, deleted branch, closing.

[2018-02-09 06:06] #431 closed

[2018-03-06 20:29] ariel-phet opened #432 "More wires?"
I forget how we arrived at the current wire limit (was it a performance concern on iPad 2)?

This user makes a case for circuit comparison:

https://twitter.com/MO_Keeffe/status/971114960699969536

![capture](https://user-images.githubusercontent.com/4051174/37056671-5524f390-2142-11e8-9006-f1b1d57b01e9.PNG)

[2018-03-06 20:29] ariel-phet commented on #432
@arouinfar thoughts here?

[2018-03-06 20:42] phet-steele commented on #432
Found the commit that first limited wires. Doesn't have a linked issue, but at least gives us a date to look for a discussion: April 27, 2016. https://github.com/phetsims/circuit-construction-kit-common/commit/62aa788a97eb74f8ad46d169e4e5d8c1cc23e8d7

[2018-03-06 20:50] phet-steele commented on #432
Issue that requested to bump the number up to 20: https://github.com/phetsims/circuit-construction-kit-common/issues/110.

Could be that the limit was requested for BBS?

[2018-03-06 21:18] arouinfar commented on #432
I think it would be pedagogically useful to increase the number of wires @ariel-phet. The circuits in the teacher's screenshot are quite reasonable, and are likely to be recreated by other teachers.

I believe the initial limit may have been performance/Stanford related -- thanks for digging up the issue @phet-steele! I requested 20 wires in #110 because it was double the previous limit, but 20 is

[2018-03-06 21:19] arouinfar commented on #432
How does that sound @ariel-phet?

[2018-03-06 22:47] ariel-phet commented on #432
@arouinfar sounds good to me, and my guess is an easy change.

[2018-03-06 22:57] arouinfar commented on #432
@samreid can you increase the number of wires to 25?

[2018-03-07 03:47] samreid commented on #432
Sure, do you want this published right away as a maintenance release?

[2018-03-07 06:04] ariel-phet commented on #432
I think it would be nice to publish as a maintenance release. A spot check seems appropriate.

[2018-03-08 04:31] samreid commented on #432
@mattpen am I cleared to do chipper 1.0 maintenance releases?  I know the build server has been in flux lately.

[2018-03-08 05:31] mattpen commented on #432
@samreid, I am doing all of my testing for the build-server on ox-dev.  A maintenance release should be fine.

[2018-03-09 04:16] samreid commented on #432
@ariel-phet I'm operating under the assumption that we'll make maintenance releases for both DC and Virtual Lab.  Please correct me right away if that's wrong.

[2018-03-09 14:36] samreid commented on #432
I published RC1 here:
https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.1-rc.1/circuit-construction-kit-dc_en.html
and
https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc-virtual-lab/1.0.1-rc.1/circuit-construction-kit-dc-virtual-lab_en.html

I'll open a QA issue for spot testing them.

[2018-03-09 17:02] samreid commented on #432
On hold until testing complete.

[2018-03-09 19:19] ariel-phet commented on #432
Correct assumption @samreid

[2018-03-10 02:42] samreid commented on #432
Testing passed, ready for publication.

[2018-03-10 03:44] samreid commented on #432
I'm inclined to work on this Monday in case something goes wrong.  I'll put it on my personal calendar.

[2018-03-12 15:32] samreid commented on #432
Starting 1.0.1 publication now.

[2018-03-12 15:37] samreid commented on #432
dc-1.0.1 is now visible on the website, I'll diff check it as described in https://github.com/phetsims/QA/issues/107#issuecomment-371838501

[2018-03-12 15:56] samreid commented on #432
Virtual lab published, diff looks good.

Reassigned to @ariel-phet to notify the customer/social media as appropriate.

[2018-03-12 20:56] ariel-phet commented on #432
Looks good, closing!

[2018-04-17 21:04] oliver-phet opened #433 "User suggestion: grid"

[2018-04-30 17:51] arouinfar commented on #433
I don't see the grid as being pedagogically useful, so I'm inclined to pass on this suggestion. We don't currently have any dev bandwidth for CCK work, and if we did, there are many other issues we planned to address for v1.1+.

@oliver-phet can you reply to the user and thank them for their suggestion, but let them know this isn't something we plan to address.

[2018-06-12 21:51] lmulhall-phet opened #434 "[1.0.10-rc.1] TypeError: Cannot read property 'branch' of null"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.13.5

<b>Browser</b>

Google Chrome 67.0.3396.79

<b>Problem Description</b>

For phetsims/QA/issues/128. Found in https://phet-dev.colorado.edu/html/circuit-construction-kit-black-box-study/1.0.10-rc.1/circuit-construction-kit-black-box-study_en-phetio.html?phet-io.standalone. I connected multiple wires, the sim became uninteracta

[2018-06-13 19:29] lmulhall-phet commented on #434
Wrong repo. Closing and reposting in CKKBBS.

[2018-06-13 19:29] #434 closed

[2018-06-13 19:35] zepumph commented on #434
SEE https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/67

[2018-06-29 20:41] samreid opened #435 "Delete ProbeWireNode and use scenery-phet WireNode instead"
Like we did in https://github.com/phetsims/bending-light/issues/377

[2018-07-09 17:37] oliver-phet opened #436 "User suggestion: increase AC frequency range"
Current range:
![image](https://user-images.githubusercontent.com/5090275/42466537-6bf91bd2-836c-11e8-96f0-6b85f6fa56a9.png)

[2018-08-02 17:06] oliver-phet commented on #151
I recently got another user email about this feature. I noticed that iOS 11 has a Files app that might solve the questions above about iPad save?

[2018-08-09 03:36] ariel-phet commented on #435
Deferred until next time CCK is worked on (certainly will be revisited when AC is worked on). Clear assignees

[2018-08-24 19:43] pixelzoom opened #437 "evaluate stepper option to Carousel"
Carousel was converted to use TWIXT/Animation in https://github.com/phetsims/sun/issues/381.  The default is `stepper: 'manual'`, which means that the client must call `step` to control the Carousel's animation.   To avoid having to make changes in this sim, `stepper: 'timer'` was added to Carousel call sites, which means that the animation will run automatically using the sim Timer.

The responsi

[2018-08-26 22:08] samreid commented on #437
We are discussing using an `{Emitter}` instead of a `{string}`, defaulting to the PHET_CORE Timer emitter, in https://github.com/phetsims/twixt/issues/19.  I'll put the issue on hold until that is complete.

[2018-10-15 19:17] WHWONTTHEDOGDIE commented on #426
WHY WON'T THE DAMN DOG DIE I HAVE PUT OVER 1 MILLION VOLTS THROUGH IT AND IT STILL WONT DIE FFFFFFFUUUUUUUUUUUUUCCCCCCCCCCCCKKKKKKKKK

[2018-10-26 14:54] KatieWoe opened #438 "CT cannot set property 1 of null"
Similar error shows up in related circuit construction kit sims, so putting example here.
[code]

[2018-10-29 14:36] samreid opened #439 "Port the AC model"
@kathy-phet mentioned the possibility of starting to port the AC model for CCK when my work on Wave Interference tapers off.

[2018-10-29 16:40] jessegreenberg commented on #438
https://github.com/phetsims/axon/issues/192 has been closed, and this sim looks good on Bayes CT again.This issue can be closed.

[2018-10-29 16:40] #438 closed

[2018-11-07 22:08] oliver-phet opened #440 "User suggestion: analogical representation"

[2018-11-19 15:16] TrustyMan opened #441 "I need not circuit design tool, just short form of circuit"
Hello, everyone.
I need html PhET circuit simulation.
![image](https://user-images.githubusercontent.com/29589220/48715639-63297400-ec50-11e8-8f40-9628f91f2dba.png)
My circuit simulation should be like this function.
Students chooses votages and all 3 resistors.
and the simulation shows the effect of changes by altering brightness, Vmax = 12v, Rmax = 10 ohm.

[2018-12-17 23:03] oliver-phet opened #442 "User suggestion: lightbulb should burn out"

[2018-12-18 20:06] arouinfar commented on #429
@oliver-phet Iooking at the user's link, we are using standard circuit symbols. Perhaps their concern is that we are using the American standard for resistors? The resistor symbol we are using is ANSI/IEEE, and the IEC (international standard) is somewhat different.

| CCK | Electronic Symbols |
| --- | --- |
| ![image](https://user-images.githubusercontent.com/8419308/50179120-78330a80-02c3-11e9-

[2018-12-18 20:11] oliver-phet commented on #429
I just replied to the user, and I'll update once I hear back.

[2019-01-30 02:42] ariel-phet opened #443 "ResetAllButton repositioning"
The ResetAllButton touch area in these sims overlaps the navbar, it should be moved vertically (perhaps same distance from navbar as right side is from the dev bounds)

![cck](https://user-images.githubusercontent.com/4051174/51954578-f7a51500-23fd-11e9-85fb-acc81a3ab20b.PNG)

[2019-01-30 03:16] samreid commented on #443
In the commit, I made the ResetAllButton bottom margin same as the right margin.  It looks like this now:

![image](https://user-images.githubusercontent.com/679486/51955843-96cc0b80-2402-11e9-80b0-38e524d5ba1a.png)

Would you like the zoom buttons bottom margin to be increased to match the reset all button bottom margin?

[2019-02-05 17:54] pixelzoom opened #444 "undesirable '{0}' replacement"
Noted in https://github.com/phetsims/scenery-phet/issues/446.

In CircuitElementEditContainerNode, you're doing a replacement of one pattern with another, since these strings will be used with NumberControl:

[code]

Using '{{value}}' instead of '{0}' is preferred, now that NumberControl supports it.  But you could avoid the replacement altogether by using '{{value}}' in your string values.   I.e.

[2019-02-05 18:07] pixelzoom commented on #444
If you decide to not change the strings and continue to do the replacement, please use `NumberDisplay.NAMED_PLACEHOLDER`, not the literal `'{{value}}'`.

[2019-02-08 13:45] samreid opened #445 "Port to ES6"
As a prelude to https://github.com/phetsims/circuit-construction-kit-common/issues/439 it would be nice to review open issues and convert to ES6.

[2019-02-08 14:26] samreid commented on #445
Here's a reference version before we begin porting:
https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.1.0-dev.1/phet/circuit-construction-kit-dc_en_phet.html

[2019-02-08 19:01] samreid opened #446 "Convert to Enumeration"
As part of https://github.com/phetsims/circuit-construction-kit-common/issues/445 we need to update to Enumeration.

[2019-02-09 04:43] samreid commented on #446
Complete, closing.

[2019-02-09 04:43] #446 closed

[2019-02-09 04:46] samreid commented on #445
Before changes: 12798 total lines of code
After arrow/class/enumeration, the line count is: 12443 total.

This reduced 355 lines of code, or around 3%

[2019-02-09 04:49] samreid commented on #445
The main part of this is complete, I'm not sure what else can be done.  I'm sure I'll think of other things as we move forward, but this seems a good closing point for this issue.

[2019-02-09 04:49] #445 closed

[2019-02-09 04:52] samreid commented on #439
There are some Java unit tests which will be essential to port as an early step.

[2019-02-10 14:35] samreid opened #520 "Finalize the simulation name and repository name"
From the google design doc:

@arouinfar said:

I replied:

`+` is not a legal character for a repo name, so here are some choices:
* circuit-construction-kit-ac
* circuit-construction-kit-ac-and-dc
* circuit-construction-kit-ac-dc

I know that ac has a history and will make sense to users that used the java simulation, but it doesn't seem too friendly a term to newcomers. But I'm not sure what ter

[2019-02-12 16:29] samreid opened #447 "Where should code specific to CCK: AC go?"
I recently created the "AC" repo and started developing model code.  I recalled decisions from previous simulations to combine code into a common repo rather than to segregate based on functionality.  I was inclined to modularize and keep the "AC" specific code in the "AC" repo, but I reached out on Slack first.  Based on the arguments given, I am now inclined to centralize work here in the common

[2019-02-12 16:29] samreid commented on #447
As discussed above, I'll use "circuit-construction-kit-common" as the repository for implementation and issues for the "ac" simulation.  Closing.

[2019-02-12 16:29] #447 closed

[2019-02-12 17:10] samreid commented on #447
Chris Malley [10:04 AM]
Concentration is a subset of Beer’s Law Lab.  pH Scale: Basics is a subset of pH Scale.  EqEx: Basics is a subset of EqEx.  GSI is a subset of GL.  Does that help explain why those sims are organized as they are? (edited)
And in every case, the primary sim came first, and the secondary sim came later.

Sam Reid [10:06 AM]
What would have been the disadvantage of developing

[2019-02-12 17:10] samreid commented on #447
Chris Malley [10:10 AM]
In the case of CCK, I’d probably put as much as possible in cck-common.

[2019-02-12 17:49] oliver-phet commented on #432
Another user replied asking about the limit:

[2019-02-12 18:08] ariel-phet commented on #432
@arouinfar and I discussed a little and perhaps we could try this as a query parameter such as `?extraWires` so it was not easily accessible to students but could be provided in the teacher tips or primer or such.

Another option would be to put this option in an options menu.

@samreid how difficult would adding such a query parameter be?

[2019-02-12 18:17] samreid commented on #432
Adding a query parameter to set the max number of wires would be a very easy change. (Easier than adding an options menu).

[2019-02-13 00:14] samreid commented on #432
Perhaps it would be better to just increase the number of wires permanently, for all users.  Now that we no longer support iPad 2, performance may not be an issue.  Can we test/investigate that approach before adding query parameters? What is our new slowest supported platform?  How many wires do we want?

[2019-02-14 17:56] arouinfar commented on #432
@samreid according to https://github.com/phetsims/energy-forms-and-changes/issues/191#issuecomment-462496115, our slowest iPad above the iPad2 is Jemison (iPad 4, iOS 10). I tested the published version of CCK: DC on Jemison, and it ran pretty smoothly. When maximizing the number of wires in the play area, the frame rate dipped to 11FPS, but the sim was still pretty responsive. I didn't feel like

[2019-02-14 20:37] samreid commented on #432
For now, we would like to add a query parameter in master.   Then we'll assign to @arouinfar for testing.  May do an RC in March.  Call it something like `moreWires`.

[2019-02-14 22:54] arouinfar opened #519 "Unfuddle Triage"
For phetsims/circuit-construction-kit-ac-and-dc#1

I should review the open Unfuddle tickets for user suggestions and other known issues/bugs.

[2019-02-15 03:27] samreid commented on #432
Added query string in the preceding commits. @arouinfar can you please test and check performance?

[2019-02-15 03:30] samreid opened #448 "Can WebGL be removed now?"
WebGL was introduced in https://github.com/phetsims/circuit-construction-kit-common/issues/367 to attain good performance on iPad 3.  Our current minimum supported iPad is iPad Air 2.  If that gives good performance without WebGL, it would be good to remove it so that we are no longer constrained by the layering requirements or suffering from the complexity increase.

@ariel-phet and @arouinfar is

[2019-02-15 03:33] samreid opened #449 "Publish CCK AC 1.0 by January 31, 2020"
Today I asked if there was a deadline for publication of CCK AC 1.0, and the answer was Jan 2020.  It was noted that publishing by summer would be much better, but it was also requested to finish the Diffraction screen by the end of summer and I can't say it's feasible to do both by then.

UPDATE: Last week we clarified this sim needs to be published by the end of January 2020, and I sent @kathy-p

[2019-02-15 03:35] samreid opened #450 "Inductor should discharge when not in a loop"
Today @ariel-phet and @arouinfar and I observed a disconnected inductor rapidly oscillating between +4.5V and -4.5V (or so).  We think this may be a natural consequence of the model, and that we may need to manually clear the inductor when it is not participating in any loops.

[2019-02-15 03:37] samreid opened #451 "Capacitor plates view should be backed by kite shapes for hit detection"
Unlike Java, we would like to get voltage readings on the plates. Therefore, we should draw them in code and use kite shapes for hit detection.

@arouinfar does this also mean you can read the current on a capacitor plate?

[2019-02-15 03:38] samreid opened #452 "Use pattern or code from Capacitor Lab: Basics for laying out charges on the plates"
Use pattern or code from Capacitor Lab: Basics for laying out charges on the plates

[2019-02-15 14:23] arouinfar commented on #448
If we're dropping support for iOS 10, then I think the iPad Air 2 would be the slowest. For now, I think iPad 4/iOS 10 is our lowest-supported iPad.

@samreid should I do some preliminary performance testing with `?webgl=false` on iPad and Chromebook?

[2019-02-15 14:29] samreid commented on #448
Let me take a look and make sure `?webgl=false` falls back to SVG properly.  I also have an iOS 11 iPad Air 2, so I'll test first before handing it over to you.

[2019-02-15 15:33] arouinfar commented on #451
@samreid good question. Yes, t think the current probe should read in the same places at the voltmeter probes.

[2019-02-17 03:11] samreid opened #453 "Label name for "AC Source""
The design doc shows the label name for the oscillating source as "AC Source", which expands to "Alternating Current Source".  I'm wondering if some clients may misconstrue this as a type of "current source" https://en.wikipedia.org/wiki/Current_source as opposed to a voltage source, which is how we have been modeling it.  Should this be named something else?

[2019-02-17 22:41] samreid commented on #453
I noted in Java this was called "AC Voltage":

![image](https://user-images.githubusercontent.com/679486/52920529-805ef480-32ca-11e9-95ad-77a68de58324.png)

[2019-02-18 13:57] samreid commented on #444
If I change the template variables as specified in https://github.com/phetsims/circuit-construction-kit-common/issues/444#issue-406903423, will I make that change in babel as well as the english strings?  Will it create any complications or errors for rosetta or pre-existing translations?

[2019-02-18 17:30] samreid opened #454 "Zoom is broken"
@arouinfar discovered this during testing of https://github.com/phetsims/circuit-construction-kit-common/issues/432

I’m trying to test ?moreWires, but it looks like the zoom buttons are broken in master, making it pretty tricky to test.

I tested and discovered the zoom buttons aren't doing anything.  There is no error reported in the console.

[2019-02-18 18:15] arouinfar commented on #432
I tested `?moreWires` in iOS 10, 11, and 12. In all cases, the frame rate will drop off when there are a lot of circuit components in the play area. For iOS 11 and 12, the performance remained pretty responsive, but things got a bit laggy (but still usable) for iOS 10. I think `?moreWires` will be perfectly fine for our supported versions of iOS.  I still need to test Chromebook, but I'll report b

[2019-02-18 18:57] arouinfar commented on #432
I tested `?moreWires` on Chadwick (ChromeOS, stable channel) and Feynman (ChromeOS, beta channel), and the performance was similar/slightly better than the iPad Air 2's.

@samreid I think we can safely move forward with `?moreWires`.

[2019-02-18 20:19] jbphet commented on #444
Yes, this would need to be changed in the existing babel translations as well, and you'd need to do a maintenance release at the same time.  In this particular case, I would suggest leaving the string format values as they are and just updating the code that adapts them to work with `NumberControl`.

[2019-02-24 03:27] samreid commented on #432
Based on https://github.com/phetsims/circuit-construction-kit-common/issues/432#issuecomment-463785461, I'll unassign for now and put a note in my calendar to re-evaluate mid-March.

[2019-02-25 15:53] samreid opened #455 "Where should the probes attach to the Voltage/Current charts?"
The mockup shows them attaching at the right in the toolbox:

![image](https://user-images.githubusercontent.com/679486/53349588-a8f27a00-38da-11e9-867d-2b6d0284363e.png)

And at the left in the play area:

![image](https://user-images.githubusercontent.com/679486/53349613-b90a5980-38da-11e9-9cb2-3dec90ca16e1.png)

I think it makes more sense to attach them at the right since that is where the new

[2019-02-25 21:59] arouinfar commented on #455
The icons in the toolbox are actually screenshots of the wave detector in Bending Light. I created the mockups before the updated chart tools had been designed, so those were meant as a stand-in.

The icons should be a shrunken version of the tool itself, similar to what was done in Wave Interference:
![image](https://user-images.githubusercontent.com/8419308/53371578-31dad700-3916-11e9-994a-5c1de

[2019-02-26 20:24] samreid opened #456 "Do the charts need to support a "no value" value?"
In Java, the charts omit data when the value is undefined, like so:

![image](https://user-images.githubusercontent.com/679486/53443787-af135400-39c9-11e9-8842-4392d9a2e4c4.png)

Griddle does not support that feature at the moment.  Should we invest in that feature for griddle, or should we simplify and say that when the chart probes are not connect to something, the readout value is zero, like so

[2019-02-27 04:19] samreid commented on #455
To clarify, I thought it improve the design slightly for the wires to attach where the data is flowing in--at the right.  Maybe it doesn't matter too much, but I thought I'd bring it up.

I agree about having the icon be a shrunken version of the play area tool, however we decide that will look.

[2019-02-27 22:41] arouinfar commented on #456
@samreid great question. Probe-like tools generally display "no value" when they aren't reading a value. This provides feedback to the user that the probes aren't correctly placed on the thing being measured.   Here are a few examples:

![image](https://user-images.githubusercontent.com/8419308/53527923-6fba3580-3aa5-11e9-8505-d1829df404a4.png)

However, this doesn't perfectly generalize to a char

[2019-02-27 22:47] arouinfar commented on #456
The Wave Detector in Wave Interference has the desired no value behavior. If a probe is removed from the wave area, the line stops drawing and the previously recorded data will scroll away. The only strange thing in WI is that the dot retains the y-position of the last recorded value. This seems a bit odd to me, but it's also not that jarring.

[2019-02-27 22:52] arouinfar commented on #455
Ah, understood. Re-reading your original comment, that point does come across clearly.

I personally think it looks a bit better to have the probes on the left, though I think this is a detail I'd prefer to work out once I can test it in the sim. Can we wait on this for a bit @samreid?

[2019-02-27 22:59] arouinfar commented on #453
@samreid you make a good point. I can see how "AC Source" could be interpreted as a current source. After all, its name is alternating current source, which is ambiguous at best. I think "AC Voltage" would probably be a better name for both the circuit component and first screen.

Any objections @ariel-phet?

[2019-02-28 01:51] samreid commented on #455
Yes, we can see it in practice and decide later.

[2019-03-03 18:26] arouinfar opened #457 "User suggestion: random motion of electrons before circuit is switched on"
For https://github.com/phetsims/circuit-construction-kit-ac-and-dc/issues/4.

[Unfuddle Ticket #3588](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3588)

While in reality the electrons would always be in motion, I think keeping them frozen until a circuit is complete makes it really clear that the current is switched on. However, this request is somewhat akin to the random motion o

[2019-03-03 18:32] arouinfar opened #458 "Numerical instability when breaking a junction in an LR circuit"
For https://github.com/phetsims/circuit-construction-kit-ac-and-dc/issues/4

Steve Pollock reported in [Unfuddle Ticket #3070](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3070).

![image](https://user-images.githubusercontent.com/8419308/53699619-a34bd700-3da7-11e9-9aab-668627fc2e2b.png)

@samreid replied:

This looks a legacy bug, so assigning @samreid.

[2019-03-03 19:09] arouinfar opened #459 "Wires and circuit components have a preferred end for direction of current"
For https://github.com/phetsims/circuit-construction-kit-ac-and-dc/issues/4

There are a few Unfuddle tickets about a funky sign issue with the current chart. In general, it seems that a clockwise current is given a positive sign, and a counter-clockwise current has a negative sign.  However, this doesn't always hold, as highlighted in some of the examples provided in the tickets below.

Due to th

[2019-03-04 01:10] arouinfar opened #518 "Consider allowing multiple voltmeters"
For phetsims/circuit-construction-kit-ac-and-dc#4.

@samreid raised a few design issues in the following tickets.

[Unfuddle Ticket #389](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/389)

the screen. If 2 or 3 voltmeters could be on screen at same time this would help me
explain potential divider circuits better.

[Unfuddle Ticket #375](https://phet.unfuddle.com/a#/projects/9404/t

[2019-03-04 01:15] arouinfar opened #460 "User suggestion: add ground component"
For https://github.com/phetsims/circuit-construction-kit-ac-and-dc/issues/4

[Unfuddle Ticket #2909](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2909)

Adding a ground would be useful for the household flavor of CCK. I'll mark as deferred for now, since we're not actively working on that sim.

[2019-03-04 16:36] oliver-phet opened #461 "User suggestion: increase AC voltage range"
I am looking for AC voltages of 120, the scale only goes to 100.

Java version AC Voltage Dialog:
![image](https://user-images.githubusercontent.com/5090275/53747625-ec139680-3e60-11e9-8222-a3163393f6a1.png)

[2019-03-04 17:03] arouinfar commented on #461
The range for the AC Voltage will match the voltage range for the battery, which was extended to 120 V in CCK: DC. @oliver-phet can you let the user know that we will be accommodating this request in the HTML5 version of CCK: AC?

[2019-03-04 17:04] oliver-phet commented on #461
Will do, thanks!

[2019-03-04 17:04] #461 closed

[2019-03-05 04:08] ariel-phet commented on #453
No objections. The symbol we are using on the item matches up with the international "AC voltage source".

If we needed some brevity we could call this "AC Supply" or even simply "AC"....It is not like we call the battery a "DC voltage source" even though that that is what it is.

I think the screen name can still be "AC" - yes we have AC Voltage sources, but in the circuit those induce Alternatin

[2019-03-05 04:25] ariel-phet commented on #456
@arouinfar @samreid I agree with @arouinfar that there should be a "no value" behavior. Reading zero is incorrect, since there is really nothing to read, and could imply a ground, or a false positive.

[2019-03-05 18:04] arouinfar commented on #453
Thanks @ariel-phet.

Let's proceed with calling the circuit component  and first screen "AC Voltage". This naming aligns with Java. I don't think "AC Voltage" is too verbose for a screen name, and is more descriptive than simply "AC".

[2019-03-28 16:36] oliver-phet opened #462 "User suggestion: single pole double throw switch"

[2019-03-28 17:09] arouinfar commented on #462
@oliver-phet this request is similar to https://github.com/phetsims/circuit-construction-kit-dc/issues/32 and it is a feature we will be considering for CCK: AC (which would likely propagate to CCK: DC).

[2019-04-03 12:59] samreid commented on #463
I moved this to the "common" directory since the work will be done in this repository.

[2019-04-03 13:08] samreid commented on #463
@arouinfar should we add a slot to the carousels so the fuse can be on the first page?

[2019-04-03 16:22] arouinfar commented on #463
For some added context, @kathy-phet emailed:

@samreid I think the fuse is a bit advanced, so I would put it in the 2nd slot of the 2nd page of the carousel. For screens without a carousel (RLC & Lab on CCK: AC), I would add the fuse just above the switch.

Here's a quick mockup of the fuse, showing increasing current ratings.
![image](https://user-images.githubusercontent.com/8419308/55494634-636

[2019-04-03 16:57] kathy-phet commented on #463
I like it overall. I think we would need to make something that was a transitional animation - spark or something - to help students really focus in on the fuse being blown.

[2019-04-03 21:02] arouinfar commented on #463
@kathy-phet I took a stab at the animation. Is this in line with what you were envisioning?

![fuse](https://user-images.githubusercontent.com/8419308/55512807-4438e680-5621-11e9-9efb-5345bf87ce25.gif)

[2019-04-03 21:19] kathy-phet commented on #463
Thanks, Amy! Yes, that is generally matching what I was thinking. Seems like it would draw student attention.

[2019-04-03 21:21] samreid commented on #463
Looks great!  I'm wondering if it should be accompanied by a sound effect?  Or will it be too odd if the sim only has sonification for 1 thing?

[2019-04-03 21:44] kathy-phet commented on #463
I agree a sound would be nice. I think this will be sonified at some point, so perhaps hold off. @emily-phet - What do you think re sound for this one thing now or hold off?

[2019-04-04 02:43] samreid opened #464 "What should be shown for the fuse when "Values" is checked, if anything?"
Should anything be shown for the fuse when "Values" is checked?  Brainstorming some possibilities:

* Don't show anything for "values"
* Show the text "tripped" or "not tripped"
* Show the percentage of current to maxCurrent--the way to being tripped, example: "75%"
* Show the current value and the max current: example: 3.0 A / 5.0 A

Until we decide on this, the simplest implementation is to show

[2019-04-04 02:46] samreid opened #465 "Where should the fuse appear in the carousels?"
For "CCK DC" should we add a new carousel slot and put Fuse at the bottom?  Or something else?

[2019-04-04 03:35] samreid opened #466 "Add animation for tripping the fuse"
@kathy-phet said:

@arouinfar replied:

@kathy-phet I took a stab at the animation. Is this in line with what you were envisioning?

![fuse](https://user-images.githubusercontent.com/8419308/55512807-4438e680-5621-11e9-9efb-5345bf87ce25.gif)

@kathy-phet replied:

[2019-04-04 03:36] samreid commented on #466
I asked on slack developer channel:

Sam Reid [9:33 PM]
How would you deal with an animation like this?

https://github.com/phetsims/circuit-construction-kit-common/issues/463#issuecomment-479657637
(just the yellow part)
Ask for a stack of PNGs and iterate through them?  Do it in code?  Something else?

[2019-04-04 03:36] samreid commented on #463
I created a new issue for dealing with animation for tripping the fuse.

[2019-04-04 03:37] samreid commented on #465
In https://github.com/phetsims/circuit-construction-kit-common/issues/463#issuecomment-479560860 @arouinfar said

[2019-04-04 03:43] samreid commented on #463
I committed an initial draft of the fuse.  It has a fixed max current and cannot be reset, but I'll address that in a new issue.

[2019-04-04 03:44] samreid opened #467 "Fuse should have an adjustable max current and be resettable"
From https://github.com/phetsims/circuit-construction-kit-common/issues/463

@arouinfar said:

Here's some mockups of the edit menu. Users can set the current rating (range and default TBD), and when the fuse blows the reset button will become active and the slider will be inactive.
![image](https://user-images.githubusercontent.com/8419308/55495254-b7c6fd80-55f9-11e9-9fbd-266b2447cade.png)

[2019-04-04 03:46] samreid opened #468 "Sonification for fuse"
In https://github.com/phetsims/circuit-construction-kit-common/issues/463#issuecomment-479663465 I said:

@kathy-phet replied:

[2019-04-04 03:46] samreid commented on #463
I also opened an issue to discuss fuse sonification.

[2019-04-04 03:48] samreid opened #469 "Fuse filament should have varying thickness and should split when tripped"
From https://github.com/phetsims/circuit-construction-kit-common/issues/463#issuecomment-479560860

@arouinfar said:

![image](https://user-images.githubusercontent.com/8419308/55494634-636f4e00-55f8-11e9-8903-6b9d90d626fd.png)

![image](https://user-images.githubusercontent.com/8419308/55494779-ae896100-55f8-11e9-88c0-d1ba5d638f72.png)

[2019-04-04 03:49] samreid commented on #463
I split out the remaining work into other issues.  @arouinfar please let me know if I missed anything.  Putting this issue on hold until sub-issues are closed.

[2019-04-04 10:09] emily-phet commented on #468
@samreid @kathy-phet Would be good to loop Ashton and @jbphet into the conversation. What's the timeline for this? Can it wait until mid-April?

[2019-04-04 13:39] arouinfar commented on #466
@samreid I created the animation by scaling a single image over a few frames.
![image](https://user-images.githubusercontent.com/8419308/55560064-ad197080-56ac-11e9-84d9-46988515904c.png)

[2019-04-04 14:04] arouinfar commented on #463
Looks good to me @samreid!

[2019-04-04 14:18] arouinfar commented on #464
@samreid @kathy-phet I think the most useful information to show would be the current rating, otherwise users would need to open the edit panel to see this information.  That said, I'm a bit apprehensive about showing just the current rating because I wonder if it could be interpreted as the actual current through the component. I'm leaning towards something like `3.0 A / 5.0 A`.

I don't think "t

[2019-04-04 14:57] KatieWoe opened #470 "CT: Issue with licences"
[code]
[code]
[code]
[code]

[2019-04-04 14:59] samreid commented on #466
Chris Malley [7:46 AM]
I’d do it in code.  Create a unit `{Shape} sparkShape` that describes the yellow part (only needs to be done once).  Create an associated `{Path} sparkPath`. When the fuse breaks, `step` will progressively scale `sparkShape`:

[code]

[2019-04-04 17:47] arouinfar commented on #466
Here you go @samreid! I've also cleaned up the artwork a bit. The .ai and .svg are in the .zip file.

[spark.zip](https://github.com/phetsims/circuit-construction-kit-common/files/3044711/spark.zip)

[2019-04-04 19:38] samreid commented on #470
Fixed, closing.

[2019-04-04 19:38] #470 closed

[2019-04-05 01:59] samreid opened #471 "Reentrant property issue when resetting the fuse."
While working on #467 I found a problematic reentrant property loop of the same kind explored in https://github.com/phetsims/axon/issues/179

Tripping the fuse, then resetting it (while still overloaded) causes the following trace:

setting enabled: true
isTrippedProperty false
resistance 1e-8
isTrippedProperty true
resistance 1000000000
setting enabled: true
setting enabled: true
setting enabled:

[2019-04-05 02:18] samreid commented on #471
Fixed in preceding commit, closing.

[2019-04-05 02:18] #471 closed

[2019-04-05 02:19] samreid commented on #467
Committed in https://github.com/phetsims/circuit-construction-kit-common/commit/6fac769cbe0be422189aeab37677c59e1192401e

During testing, it was very useful to be able to change the current rating when the fuse was tripped.  Is this something that would be useful to teachers & students as well?

[2019-04-05 02:28] samreid opened #472 "Should we add a rectangle around the component controls?"
Currently none of our circuit element controls have a border:

![image](https://user-images.githubusercontent.com/679486/55600173-269a7880-5718-11e9-825c-2d1305fb9259.png)

But the proposal for https://github.com/phetsims/circuit-construction-kit-common/issues/467 showed a shaded area:

![image](https://user-images.githubusercontent.com/679486/55600184-344ffe00-5718-11e9-8855-94786d6d7a81.png)

Sh

[2019-04-05 02:40] samreid commented on #464
I implemented like `3.0 A / 5.0 A` and it can be seen in phettest.  It seems nice to me.

[2019-04-05 02:42] samreid commented on #465
This is fixed for CCK DC but I haven't started RLC or Lab yet so cannot address those yet.

[2019-04-05 03:33] samreid commented on #466
I committed a first draft for the animation, it can be reviewed in phettest.  @arouinfar can you please take a look?

[2019-04-05 13:04] samreid commented on #469
@arouinfar have you shared the AI for the fuse?  Sorry if I missed it.

[2019-04-05 15:36] samreid commented on #469
I added a rough draft for the filament stroke and tripping, visible on phettest.

[2019-04-05 15:48] samreid commented on #468
I have not been involved with the sonification of a simulation and not sure what all is involved in that design.  But I am wondering about the possibility of playing a pre-recorded "pop" sound when the fuse is tripped.

[pop.mp3.zip](https://github.com/phetsims/circuit-construction-kit-common/files/3048694/pop.mp3.zip)

OK if I add something like that to the simulation as a proof of concept?  I do

[2019-04-05 16:28] samreid commented on #469
I received the artwork and added it, ready for review on phettest.

[2019-04-05 16:56] arouinfar commented on #472
@samreid for CCK: AC, the edit panel potentially has up to 3 controls in addition to the delete button, so we decided to add a transparent panel. While the components in CCK: DC don't have as many edit options, I think it might be nice to keep a consistent look. So let's try adding the panel to all CCK flavors.

[2019-04-05 16:59] arouinfar commented on #466
Looks great @samreid! I'll tag for design meeting for review with @kathy-phet and @ariel-phet.

[2019-04-05 17:07] arouinfar commented on #469
@samreid the artwork and filament look good! I'll tag for design meeting for review with @kathy-phet and @ariel-phet.

[2019-04-05 17:57] arouinfar commented on #467
I think so! I found it very useful to be able to change the current rating of a blown fuse. Otherwise, resetting a fuse still connected to the circuit will result in immediately blowing the fuse again.

I'd like to review the current flow with @kathy-phet and @ariel-phet in our brainstorming meeting next week, so tagging for design meeting.

@samreid in the meantime, can you update the minimum cur

[2019-04-05 17:57] arouinfar commented on #464
Looks good in master @samreid. Tagging for design meeting for review with @kathy-phet and @ariel-phet.

[2019-04-05 19:21] samreid commented on #444
CCK is now using only `{{names}}` instead of `{0}`, can this issue be closed?

[2019-04-05 19:34] samreid commented on #448
As I was investigating this issue, I saw this comment in CircuitLayerNode:

[code]

This means ever since a165d9efe99c52670a5972788ffaafef9e386b0d in Sept 2017 we have been using SVG only and just left the WebGL code in "just in case".  I recommend we go through and remove the WebGL code for this sim to simplify it and make it easier to maintain.  @arouinfar or @ariel-phet or @kathy-phet does that

[2019-04-05 19:44] kathy-phet commented on #448
Should we leave it in until the AC parts are done? Could it be that the AC rendering would benefit from WebGL?

[2019-04-05 19:56] samreid commented on #448
I don't think AC would change our decision here--rendering electrons moving at constant speed has the same performance envelope as rendering electrons that change speed.  The AC Voltage, Inductor and Capacitor (with depicted plate changes) all seem well-suited for SVG.  We haven't previously investigated rendering charts in WebGL, but so far SVG has worked well for them.

Perhaps we should leave t

[2019-04-05 20:06] arouinfar commented on #448
That sounds reasonable to me @samreid.

[2019-04-05 20:48] kathy-phet commented on #466
Fuse looks great! Thanks! (But I'm seeing some odd stuff in CCK DC on phettest -- a different bulb with no electrons at all flowing through, the voltage probe meter, etc ---- FYI). I'm hoping we can possibly publish this fuse upgrade in CCK DC before we finish CCK AC - preferrably before July.

[2019-04-05 20:48] kathy-phet commented on #466
Or at least make a nice dev version for someone to use

[2019-04-05 21:08] samreid opened #473 "Light bulb electron path is broken"
Identified by @kathy-phet in https://github.com/phetsims/circuit-construction-kit-common/issues/466#issuecomment-480417045, the electrons are jumping across the light bulb.

[2019-04-05 21:09] samreid opened #474 "The charts should not appear in DC"
As pointed out in https://github.com/phetsims/circuit-construction-kit-common/issues/466#issuecomment-480417045, the voltage chart should only appear in the AC simulation.

[2019-04-05 21:10] samreid commented on #466
Thanks @kathy-phet, I opened issues for the problems you identified.  If you are aware of other problems, please let me know and I'll take a look.

[2019-04-05 22:44] pixelzoom commented on #444
I don't see any usages of `{{name}}`. @samreid Did you mean "using only `{{value}}` instead of `{0}`?

[2019-04-05 22:46] samreid commented on #444
I meant CCK is only using the double brace pattern with appropriate variable terms, including but not limited to `{{resistance}}`, `{{value}}` `{{current}}` etc.

[2019-04-05 22:50] pixelzoom opened #475 "convert from disposeActions to dispose{{Type}}"
In https://github.com/phetsims/sun/issues/492, we identified that CCKC is using the depreciated `disposeActions` pattern.

In https://github.com/phetsims/sun/issues/492#issuecomment-479745084, @samreid said:

CCKC occurrences are in `CircuitElementNode` and `ValueNode`.

[2019-04-05 22:52] pixelzoom commented on #475
If you do this after https://github.com/phetsims/sun/issues/493, please update phet-software-design-patterns.md.  You can remove the note about `disposeActions`, since it will no longer exist.

[2019-04-05 23:47] kathy-phet commented on #473
Ignore name change

[2019-04-06 00:34] samreid commented on #475
I converted to use the `disposeEmitter` pattern.  However, our patterns document indicates the emitters should be named like `disposeEmitter{{TypeName}}`.  I'm struggling with that part, because it is making that part of the code harder to read, particularly for `disposeEmitterCircuitElementNode`.

[2019-04-06 00:36] samreid commented on #475
I added the suffices in the preceding commit.  If it still bothers me in the future, I'll reopen.

[2019-04-06 00:38] samreid commented on #475
@pixelzoom this seemed pretty straightforward, but I thought I should ask if you would like to review.

[2019-04-06 00:41] samreid commented on #453
It's renamed to "AC Voltage", @arouinfar do you mind double checking that everything seems ok?  You can't see the screen name for AC CCK yet because it only has one screen so far.  Close if all is well.

[2019-04-06 00:47] samreid commented on #474
Fixed, closing.

[2019-04-06 00:47] #474 closed

[2019-04-06 00:50] samreid commented on #469
On several occasions, the fuse has tripped when an electron is right in the middle, and it obscures the broken filament graphic:

![image](https://user-images.githubusercontent.com/679486/55662738-96ba0480-57d3-11e9-9586-cb05459580ed.png)

I wonder if we should exaggerate the break so it is easier to see even when electrons are in the way.

[2019-04-06 00:52] samreid commented on #473
Fixed, @arouinfar can you please test the light bulb electron path, with the electrons traveling both ways and report any problems you discover?  Close if all is well.

[2019-04-06 00:57] samreid commented on #454
Fixed, closing.

[2019-04-06 00:57] #454 closed

[2019-04-06 00:59] samreid commented on #467
I changed the minimum current rating to 0.5 amps. Unassigning for now.

[2019-04-06 02:01] samreid commented on #472
I added the rectangle for grouped components.  For controls where there is only a trash button and for the switch readout, I thought it looked better without.  @arouinfar can you please take a look?

[2019-04-06 03:30] #444 closed

[2019-04-07 02:30] samreid commented on #456
Support was added in https://github.com/phetsims/griddle/issues/33 and the behavior looks correct for CCK AC:

![image](https://user-images.githubusercontent.com/679486/55677751-bcfea380-58aa-11e9-8dde-df253da02f82.png)

Closing.

[2019-04-07 02:30] #456 closed

[2019-04-07 19:12] pixelzoom commented on #475
I skimmed the commits quickly, looks straightforward. Closing.

[2019-04-07 19:12] #475 closed

[2019-04-08 14:36] samreid opened #476 "Switching tabs then switching back shows a gap in time"
Switching tabs then switching back shows a gap in time

![image](https://user-images.githubusercontent.com/679486/55732533-617f0380-59d9-11e9-9d39-da5f4bcac617.png)

[2019-04-08 15:48] samreid opened #477 "There appear to be 2 colors on the voltage chart line"
There appear to be 2 colors on the voltage chart line

![image](https://user-images.githubusercontent.com/679486/55737949-65b01e80-59e3-11e9-95ea-cf2b8d18d6e6.png)

[2019-04-08 16:02] arouinfar commented on #467
@phet-steele suggested these font-awesome repair icons as alternatives to the reset button.

<img src="https://user-images.githubusercontent.com/8419308/55738698-d99ef680-59e4-11e9-89e5-d583202157a8.png" width=200> <img src="https://user-images.githubusercontent.com/8419308/55738707-e02d6e00-59e4-11e9-8f73-a26177b9c17d.png" width=150>

For the fuse, these icons may be a bit clearer. However, the c

[2019-04-08 18:30] arouinfar commented on #472
Looks great @samreid! Tagging for design meeting for final sign-off.

[2019-04-08 18:31] arouinfar commented on #473
@samreid the electron and conventional current paths through the light bulb look good in master.

[2019-04-08 18:31] #473 closed

[2019-04-08 18:33] arouinfar commented on #453
:+1:

[2019-04-08 18:33] #453 closed

[2019-04-08 20:43] pixelzoom opened #478 "remove Tween preload?"
I don't see TWEEN used anywhere in CCK, but I see this preload in package.json for all 4 CCK repos:

[code]

Can this preload be removed?

[2019-04-09 20:41] emily-phet commented on #468
@samreid
I'm currently traveling, and unfortunately don't have the bandwidth to mediate this. Carry on as you all see appropriate, no worries about stepping on toes. Sound is for everyone (to create and use). :)

[2019-04-09 22:20] arouinfar commented on #472
Agreed @samreid. @ariel-phet and I reviewed this today, and it looks good!

[2019-04-09 22:20] #472 closed

[2019-04-09 22:21] arouinfar commented on #469
@ariel-phet and I reviewed the general flow today, and the behavior is looking good.

@samreid here are some tweaks we could make to address the obscuring issue
* Exaggerate the break angle a bit more
* Increase the separation between the wire segments so that there's some padding between the electron and the edge of the wires

[2019-04-09 22:37] arouinfar opened #479 "Icon for reset/repair fuse button"
Offshoot of #467

The reset icon isn't the the best fit for the button that repairs the fuse because
(1) it doesn't give an indication of what will actually happen
(2) implies the current rating will reset to default

In our [brainstorming meeting](https://docs.google.com/document/d/1bueLDNUhlGuYUMFVvQW2wlZMRknLG7ClZfVMd0GL6ag/edit#heading=h.7mt2qcxt23mc), @ariel-phet suggested some iconic represe

[2019-04-09 22:39] arouinfar commented on #467
@ariel-phet and I reviewed the fuse's edit panel, including the current rating default and range. Things are generally looking good, with the exception of the icon for the reset/repair fuse button, which I've moved to the issue above.

[2019-04-09 22:39] #467 closed

[2019-04-09 22:44] arouinfar commented on #466
@ariel-phet and I reviewed the animation in today's brainstorming meeting, and generally like the look of the animation.

@samreid we have one tweak to suggest. If the fuse is immediately re-blown, fix the fuse (show the unbroken image) before replaying the tripping animation.

[2019-04-09 23:52] arouinfar opened #480 "Include internal resistance in fuse model?"
Related to #463.

From https://en.wikipedia.org/wiki/Fuse_(electrical)#Construction

In reality, a fuse would have internal resistance. The lower the tolerance, the higher the resistance. Here's some [empirical data](https://w220.ee/DIY_Voltage_Drop_Across_Fuses_-_Quiescent_Current_or_Parasitic_Discharge_Tests) for the relationship between the current rating and the internal resistance.

<img src=

[2019-04-09 23:57] arouinfar commented on #464
Discussed this with @ariel-phet in today's brainstorming meeting.

Fuses generally have internal resistance, so that seems like the most appropriate value to display (and a nice parallel to the switch). However, the model of the fuse doesn't currently include any internal resistance, see #480.

Marking this issue as on-hold until #480 is discussed/addressed.

[2019-04-09 23:59] arouinfar commented on #464
Tagging https://github.com/phetsims/circuit-construction-kit-common/issues/463

[2019-04-11 03:16] samreid commented on #466
Re-labeling for design to clarify if the unbroken image should be shown for 1 frame, or for some range of milliseconds.

[2019-04-11 04:00] samreid commented on #468
Labeling for potential discussion for April 11 design meeting.

[2019-04-11 16:46] samreid commented on #480
In order to understand how the change in resistance will appear in the user experience, I computed the current for a 9V battery and 10 Ohm resistor (the defaults), with 10 Amp and 20 Amp rated fuses in series.

[code]
However, the ammeter only reads out to 2 decimal places.  So I'm curious about the motivation for this issue, and what learning goals we are trying to address.  Is it about seeing th

[2019-04-11 20:01] samreid commented on #480
@ariel-phet and @kathy-phet and I discussed this, and we would like to add resistance to the fuses.  We will use values like the ones in the given table.  So the default would have some round number.

Instead of reading "1.2 A / 4.0 A", we will change that to read: "max 4.0 A".
@ariel-phet wants to show the resistance in the "show values"

@kathy-phet said the primary learning goal is about the fu

[2019-04-11 20:03] samreid opened #481 "Make it clear the fuse electron path is interrupted when tripped"
We will increase the angle of the fuse split, and maybe cut off a tooth or two so even if an electron is in the way, you will see the current path interrupted.

[2019-04-11 20:13] samreid commented on #468
@kathy-phet said let's wait until we sonify the entire simulation.

[2019-04-11 20:18] samreid commented on #466
@ariel-phet said OK for @samreid to make the call regarding how long to depict as long as it is easy to see that the fuse was temporarily repaired.

[2019-04-15 21:27] samreid commented on #466
After the preceding commit, the current must exceed the current rating for 0.1 seconds to trip the fuse.  @ariel-phet or @arouinfar can you please review this behavior on phettest?  Let me know if you prefer a different time limit or want to investigate a different rule.

[2019-04-15 21:36] samreid commented on #481
Duplicate of https://github.com/phetsims/circuit-construction-kit-common/issues/469#issuecomment-481462028, closing.

[2019-04-15 21:36] #481 closed

[2019-04-15 21:36] samreid commented on #469
Notes from #481

[2019-04-15 21:40] samreid commented on #469
After the commit, the default tripped fuse looks like this:

![image](https://user-images.githubusercontent.com/679486/56167170-ad5f1900-5f94-11e9-9bd4-49ad7ce141de.png)

@arouinfar and @ariel-phet does this look OK to you?  You can test it interactively and with different filament thicknesses on phettest.

[2019-04-15 21:46] samreid commented on #480
We will have to be cautious about a re-entrant property loop of the following form:

1. Current rating changes
2. Resistance changes
3. Current changes
4. Fuse is tripped
5. Resistance changes

Since changing the resistance can cause a re-entrant change to itself, I'm inclined to move the resistance change step to the model.step function so it won't create a loop.

[2019-04-16 03:00] samreid commented on #480
The commit computes resistance during the step() function using `resistance = 0.06 / currentRating`, which has 3 mΩ at 20.0 A as recommended in the 2nd to last paragraph of https://github.com/phetsims/circuit-construction-kit-common/issues/480#issue-431244202.

With a default battery, default resistor, tuning the fuse to 1.0 A rating drops the current displayed in the ammeter from 0.9 A to 0.89 A.

[2019-04-16 03:06] samreid commented on #480
This commit updates the value pattern, the default value is nice and round:

![image](https://user-images.githubusercontent.com/679486/56179276-39d40080-5fc2-11e9-81c6-2f21c2ee7256.png)

@arouinfar and @ariel-phet please test/review/feedback.

[2019-04-16 03:09] samreid commented on #478
Zoom and carousel animation now seem to work without tween, so I'll commit this.  Thanks @pixelzoom!

[2019-04-16 03:10] samreid commented on #478
Removed, closing.

[2019-04-16 03:10] #478 closed

[2019-04-16 05:32] ariel-phet commented on #480
@samreid When the fuse breaks, it is reading some larger number of mOhms, can we just change that to read infinity just like the switch once we go above a certain threshold?

I know the parentheses was my idea, not sure I love it, curious what @arouinfar thinks. Maybe if we wrote the amperage in more of a gray than black text it would feel less like it was reading out the current and more "label-e

[2019-04-16 05:36] ariel-phet commented on #469
It is looking good to me on master, it definitely has a very "broken" appearance, and seems to clearly have negative space around the fuse wires regardless of thickness or where the electron falls.

[2019-04-16 05:44] kathy-phet commented on #480
for the reading, would <4.0 A (or less than or equal to sign) be a bit clearer that it is a limit?

[2019-04-16 14:23] samreid commented on #480
The commit shows `∞ mΩ` when the fuse is tripped.  I also considered showing `∞ Ω`, but it seemed odd to switch units and the code already supported `mΩ` without additional work.  But let me know if you want to go for `∞ Ω` instead.

Showing `<4.0 A` adjacent to the other reading could look like an expression: `10 mΩ <4.0 A` could be misread as "10 milliOhms is less than 4 Amps".

I also considere

[2019-04-16 16:16] arouinfar commented on #469
Agreed @ariel-phet! Looks great @samreid.

[2019-04-16 16:16] #469 closed

[2019-04-16 16:35] arouinfar commented on #480
@samreid this is looking great!

Thanks for the suggestion @ariel-phet. I do agree that the `(4.0 A)` leave something to be desired. I'm not sure that the text color would be enough of an indicator that it's a label, not the actual current reading. @samreid and @kathy-phet had some other suggestions I'd like to try out.

I like this idea @kathy-phet!

Let's leave it `mΩ` @samreid. I don't think we

[2019-04-16 16:39] arouinfar commented on #466
@samreid this looks wonderful! I think the time frame is enough to show that the fuse has been temporarily repaired before blowing again. This should make it clear to users that they need to make some adjustment to the circuit (such as increasing the current rating or decreasing the voltage) so the fuse can remain repaired.

[2019-04-16 17:02] ariel-phet commented on #466
Looks good to me to, closing.

[2019-04-16 17:02] #466 closed

[2019-04-16 17:11] arouinfar commented on #479
Alternative ideas:
* Show an intact filament, since the button is only active when the fuse needs to be repaired.
* Show intact filament with up/down arrows at the repair point.

[2019-04-16 21:30] arouinfar commented on #479
@ariel-phet @samreid here are some options for the reset/repair fuse button.

![image](https://user-images.githubusercontent.com/8419308/56245191-02199700-605c-11e9-9f68-90491381693b.png)

I quite like the simplicity of (e) and (g), though (a) and (b) could also work. I'm not so crazy about the other options, as they look a bit too busy and/or unclear to me.

[2019-04-17 15:39] samreid commented on #479
(g) is my favorite so far!

[2019-04-17 17:36] arouinfar commented on #479
Thanks @samreid. Since a wrench came up as a potential icon in a previous issue, here's a mockup of that too:

[2019-04-17 21:12] ariel-phet commented on #479
(e) (f) (g) all work for me

I personally like (f) the best in terms of clarity, but agree the others are simpler (and would likely work just fine)

[2019-04-17 21:20] arouinfar commented on #479
Thanks @ariel-phet!

Since @samreid and I prefer (g) and it's not far off from @kathy-phet's suggestion to show an intact filament, I'd like to see how it looks in the sim. We can then review it in context as a team.

@samreid can you proceed with (g)?  Is this an  icon you could draw in code, or would you prefer an asset?

[2019-04-17 21:28] samreid commented on #479
I'll draw that in the code, thanks!

[2019-04-22 16:12] samreid commented on #479
I reused the same code that draws the fuse filament, so the phase isn't exactly like in the (g) mockup.  @arouinfar can you please review on phettest and let me know if you have any recommendations?

![image](https://user-images.githubusercontent.com/679486/56510447-0e33a780-64e7-11e9-87cc-8df658d91656.png)

[2019-04-22 16:13] samreid commented on #480
I've moved the current rating down a line, @arouinfar can you please review?

[2019-04-22 21:38] ariel-phet commented on #448
@samreid agreed with @arouinfar, seems like a reasonable plan.

Marking deferred for the moment and removing assignees.

[2019-04-23 03:07] arouinfar commented on #480
I like it! Thanks @samreid.

Any thoughts on the fuse label @ariel-phet @kathy-phet?
![image](https://user-images.githubusercontent.com/8419308/56550352-a4e18200-6542-11e9-86d4-640c0754340a.png)

[2019-04-23 18:03] ariel-phet commented on #480
@arouinfar working nicely for me. I might consider bumping down the font size of the current rating, but I think having it on a separate line with the "less than or equal" to symbol works very nicely.

I think having them be different fonts may make these two values feel more different, but it probably will work just fine as is.

[2019-04-24 18:04] kathy-phet opened #482 "Proposal to switch red/black leads on volt meter"
In using CCK, I always end up naturally creating a circuit and measuring a negative voltage. I think it would be better if natural use, first led to measuring a positive voltage. That is pulling a battery, bulb, some wires, then connecting, then measuring (without crossing leads), gave a positive. I find myself swiching the leads all the time, and creating crossed wires in doing so.

My proposal i

[2019-04-24 19:15] arouinfar commented on #482
Agreed!

[2019-04-25 19:55] KatieWoe opened #483 "Add a pause/play button?"
While exploring https://github.com/phetsims/QA/issues/311 it occurred to me that a pause/play button could be useful.  If a student want's to add reset multiple fuses, depending on the set up one may be blown out before the other could be restarted.  In general, it could be useful for a student to fully set up a circuit before starting it.  Of course, this could all be accomplished by the student

[2019-04-25 20:09] phet-steele commented on #483
@KatieWoe, FWIW do `?showDepictValuesToggleButton` if you want to try it out.

[2019-04-25 20:51] KatieWoe opened #484 "Can't tell fuse is blown"
Looking at https://github.com/phetsims/QA/issues/311 I noticed that there is no visual difference between a working and a blown fuse in the schematic scene.  I was unable to find a representation of a blown fuse, but I did see a fuse with an indicator light represented as:
![blownfuseled](https://user-images.githubusercontent.com/41024075/56767432-fa977380-6768-11e9-9cfa-6d985ad014f5.png)
with the

[2019-04-26 16:05] KatieWoe opened #485 "Freeze on IE when focusing on an item"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
IE
**Problem description:**
For https://github.com/phetsims/QA/issues/311.  When focusing on a circuit item to change it's resistance or voltage, the sim freezes and must be refreshed.  Does not occur for items like the wire where a trash button is the only thing available.  So far only seen on IE, but it makes the sim unusable.
**Ste

[2019-04-26 16:09] samreid commented on #485
Is this problem also in the published version?

[2019-04-26 16:32] etwa4650 opened #486 "Inconsistent voltage measurement after changed resistance"
<b>Test Device</b>

Jordan

<b>Operating System</b>

Mac OS 10.14.4

<b>Browser</b>

Google Chrome

<b>Problem Description</b>

for https://github.com/phetsims/QA/issues/311

When measuring the voltage going through a fuse, the voltage reader displays different number depending on whether the black probe is placed on the wire, or the connecting joint.

<b>Steps to Reproduce</b>

Initial setup:
<im

[2019-04-26 16:35] KatieWoe commented on #485
No it is not.

[2019-04-26 16:54] KatieWoe opened #487 "Images in other parts of carousel appear"
Test device:
Dell
Operating System:
Win 10
Browser:
Edge
Problem description:
For https://github.com/phetsims/QA/issues/311
When dragging items out of the left carousel box, the items in other parts may briefly become visible.  The wire in the box seems to disappear when this happens, even if it is not out.  Only seen on Edge so far.  Does not occur in published version that I've seen.  Does not s

[2019-04-26 17:31] KatieWoe opened #488 "Lightbulb left with only one connection point"
Test device:
Dell
Operating System:
Win 10
Browser:
firefox
Problem description:
For https://github.com/phetsims/QA/issues/311
I ended up with a situation where a lightbulb only had one connection point.  Unfortunately, I have been unable to reproduce so far, and am unsure if this is present in the published version as a result.  I will continue to explore and add steps if I find more.  As it is,

[2019-04-26 18:09] etwa4650 opened #489 "Blue background overlapping with other parts parts of screen with wire movement"
<b>Test Device</b>

JORDAN

<b>Operating System</b>

MAC OS 10.14.4

<b>Browser</b>

Firefox

<b>Problem Description</b>

for https://github.com/phetsims/QA/issues/311

While moving one end of a wire, the blue background will appear over parts the black banner at the bottom and the toolbox on the right hand side.

<b>Steps to Reproduce</b>

Add a wire at the bottom of the screen, close to the bott

[2019-04-26 18:33] KatieWoe commented on #488
From slack:

[2019-04-26 18:38] KatieWoe opened #490 "Inconsistencies in which fuse blows"
Test device:
Dell
Operating System:
Win 10
Browser:
Firefox
Problem description:
For https://github.com/phetsims/QA/issues/311
When a number of fuses are all in series and have the same threshold, a current over that should blow them all out, instead of just one at random.  In addition, if one fuse is lower threshold, it is not always the one to blow out.
Steps to reproduce:
1. Build a series circ

[2019-04-26 19:31] KatieWoe opened #491 "Pointer Areas hard to hit"
For https://github.com/phetsims/QA/issues/311.  The pointer areas for the +/- minus buttons are too small to use effectively on an iPad.  On the published version, the title of the box was also clickable.  Now that this is removed, I had trouble hitting those buttons.
![toosmall](https://user-images.githubusercontent.com/41024075/56831861-8a9bf280-6827-11e9-885a-8f3920eb5260.png)

[2019-04-26 20:03] arouinfar commented on #491
@samreid please dilate the touch areas of the `ExpandCollapseButton` like so:

![image](https://user-images.githubusercontent.com/8419308/56833533-fda76800-682b-11e9-81be-f4a69acb0d82.png)

[2019-04-26 20:14] arouinfar commented on #486
Nice find @etwa4650!

The Battery is set at 100 volts,
The fuse is set at 20.0 A

By the way, if you take the screenshot with the "Values" checkbox on, you'll see the values over the circuit components. Might save you a bit of time with future circuit construction kit issues. :)
<img src="https://user-images.githubusercontent.com/8419308/56833754-9dfd8c80-682c-11e9-92f5-6fd404cb896c.png" width=200

[2019-04-26 20:26] arouinfar commented on #484
Thanks for bringing this up @KatieWoe. It's not something we've had an explicit design discussion about.

While I do agree that it is a challenge to realize that a fuse has blown in schematic mode, I'm not sure that we need to do anything here. I think it's one of the trade-offs of using schematic. We could break the iconic filament, but I think we'd be likely to get pushback from folks for breaki

[2019-04-26 20:29] arouinfar commented on #483
Thanks for the suggestion @KatieWoe.

Agreed. I think play/pause could be useful in some instances, but I think it's more pedagogically beneficial to use switches appropriately. I'll mark this for design meeting to see if others on the team agree.

[2019-04-26 21:04] KatieWoe opened #492 "Bulb stays lit when circuit shorts"
Test device:
Dell
Operating System:
Win 10
Browser:
chrome
Problem description:
For https://github.com/phetsims/QA/issues/311
First pointed out in a phethelp email.  When an ammeter is wired in parallel to a circuit to short it out, the lightbulb of the shorted circuit may remain lit.  In published version.
Steps to reproduce:
1. Build a simple circuit with a bulb, wires, and a battery
2. Add an a

[2019-04-26 21:10] phet-steele commented on #492
Looks like a duplicate of #245?

[2019-04-26 21:10] #492 closed

[2019-04-26 21:30] arouinfar commented on #245
@KatieWoe reported this in #492. Looks like phethelp is still getting emails about this, so we may want to consider the proposal in https://github.com/phetsims/circuit-construction-kit-common/issues/245#issuecomment-305544556.

First pointed out in a phethelp email.  When an ammeter is wired in parallel to a circuit to short it out, the lightbulb of the shorted circuit may remain lit.  In publishe

[2019-04-26 21:31] arouinfar commented on #492
Thanks @phet-steele! I knew there was as issue for this, but was searching only the closed issues. Oops!

@KatieWoe I moved your comment to the original issue.

[2019-04-26 21:32] arouinfar commented on #480
Nice idea @ariel-phet! @samreid is this something you can try out?

[2019-04-26 21:34] arouinfar commented on #479
I like it! We should probably review with @kathy-phet and @ariel-phet in design meeting.

[2019-04-26 21:59] ariel-phet commented on #484
@KatieWoe though we did not have an explicit discussion, I think we should not "make up a schematic"

I actually thought about this issue when I switched to schematic mode, but seeing that no "blown" fuse exists as a schematic it seemed like we should not try to do anything here.

I think we can close this issue.

[2019-04-26 21:59] #484 closed

[2019-04-26 22:03] samreid commented on #488
Does this happen on the published version?

[2019-04-26 22:12] KatieWoe commented on #488
Like I said, I haven't been able to reproduce it at all.  I spent a fair amount of time trying with no luck, so I really have no idea.

[2019-04-26 22:25] samreid commented on #489
Great discovery @etwa4650!  @jonathanolson have you seen anything like this or have any ideas about it?

[2019-04-29 14:56] samreid commented on #485
Is an error message reported in the console?

[2019-04-29 15:06] KatieWoe commented on #485
![console](https://user-images.githubusercontent.com/41024075/56905786-2020c780-6a5e-11e9-879a-e62bcd5a64b1.png)

[2019-04-29 15:27] arouinfar commented on #490
Thanks @KatieWoe.

Since components in series have equal current, I would expect equally rated fuses to blow simultaneously. If the fuses have different ratings, the lowest rated should blow first. @samreid any idea what's going on here?

[2019-04-29 18:41] ariel-phet commented on #490
@arouinfar @KatieWoe I actually don't agree.

For one, you don't put multiple fuses in series. That is just really an non-real world approach.

Sure, you could do it. And I am pretty confident that one will blow before the others. There are going to be small differences in the fuses, and once one blows, no more current will be flowing. I think it is actually fairly realistic for one to somewhat ra

[2019-04-29 18:44] KatieWoe commented on #490
That makes sense.  I tried looking up what would happen, but didn't find much because every result boiled down to "don't do that, it's dangerous."

[2019-04-29 18:45] ariel-phet commented on #486
@arouinfar @etwa4650 @samreid I actually do not think this is a bug...the wires (and the fuse itself) have some small resistance for the model too work. As you measure the voltage over a longer run of low restive elements, you will get more voltage drop. My guess is that the volt meter is not measuring "true zero" in the first case, but it is below the threshold to show 0.001 V.

[2019-04-29 18:47] ariel-phet commented on #487
Since this is Edge only, and appears to not occur in Edge dev version, we will punt.

Marking deferred.

[2019-04-29 18:48] ariel-phet commented on #488
@KatieWoe feel free to continue exploring, but removing @samreid assignment. This seems like quite an "edge case" - would be nice to figure out reproducible steps, but not a high priority.

[2019-04-29 19:00] arouinfar commented on #490
Sure, but as you say, that's because the fuses aren't actually identical. We could take that approach, but the sim is still buggy. Here, the lowest-rated fuse is still intact, which is non-physical.

![image](https://user-images.githubusercontent.com/8419308/56919043-d398b480-6a7c-11e9-84ca-3ed5386a97bc.png)

I would be fine with a single fuse blowing, assuming they were equally rated, as that is

[2019-04-29 19:06] arouinfar commented on #486
Agreed, but at small voltages the voltmeter should be displaying a third decimal place, which is why I asked @samreid to look into it.

[2019-04-29 19:34] samreid commented on #491
Proposed fix is pushed, @arouinfar can you please review?

[2019-04-29 19:41] arouinfar commented on #491
👍

[2019-04-29 19:41] #491 closed

[2019-04-29 19:43] samreid commented on #485
I pushed a proposed fix to address https://github.com/phetsims/scenery-phet/issues/493, however, it cannot be tested with assertions enabled because some assertions in our codebase use Array.prototype.includes.  So I've published a dev version for testing this: https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.1.0-dev.4/phet/circuit-construction-kit-dc_en_phet.html

@KatieWoe can yo

[2019-04-29 19:46] KatieWoe commented on #485
Problem seems to be solved there @samreid

[2019-04-29 19:47] samreid commented on #485
Thanks, I'll close this issue.

[2019-04-29 19:47] #485 closed

[2019-04-29 20:06] samreid commented on #490
If the current was gradually increased, the fuse with the lowest rating will trip first.  However, the test that is described for this issue is where all fuses are tripped simultaneously, since the current is 9 amps.  Therefore, it seems reasonable for a random fuse to trip.

For completeness, I'll mention I did try increasing the `timeCurrentRatingExceeded` threshold, but that has the same behavi

[2019-04-29 20:13] samreid commented on #489
I am unable to reproduce this problem on Mac OS 10.14.4 running Firefox 66.0.3 (64-bit).  What firefox version was this seen on?  Is there another QA machine that can be used to try to try to reproduce this behavior?

[2019-04-29 20:23] samreid commented on #486
It's unclear what action to take or what the desired behavior is for this issue.

As @ariel-phet said, this is due to the internal resistance of the wire.

Is the voltmeter sometimes supposed to show "0.000 V"?

[2019-04-29 20:55] KatieWoe commented on #489
@samreid I'm seeing it on 66.0.3, though it seems less pronounced for me than in the video.  @amanda-phet checked on her machine and we couldn't reproduce it there.

[2019-04-29 22:05] arouinfar commented on #490
Ah, I guess I had forgotten that detail from the original report. Tested this out, and the sim is behaving correctly.

Looking more carefully at the sim, it doesn't actually appear to be a random fuse. If you build a circuit with a few fuses in series, the fuse closet to the negative terminal of the battery will blow first. Repairing it will lead to the 2nd fuse getting blown, and so on. It's like

[2019-04-29 23:20] arouinfar commented on #486
For some reason I had thought that this was the case, but looking at the published version, the ammeter reverts to two decimal places when the current dips below 0.001 A. I suppose I was just a bit rusty. :)

I think it would get really messy to decide when to display `0.000 A` vs. `0.00 A`, so I don't think we need to go there. I'll go ahead and close.

[2019-04-29 23:20] #486 closed

[2019-04-30 14:37] samreid commented on #480
Recording some options as I go:

font-size: 14px;

![image](https://user-images.githubusercontent.com/679486/56969592-b6b6bc80-6b22-11e9-981d-3e9815936b55.png)

font size 18

![image](https://user-images.githubusercontent.com/679486/56969622-c6360580-6b22-11e9-863c-6111936d922d.png)

Italics:
![image](https://user-images.githubusercontent.com/679486/56969672-e796f180-6b22-11e9-85e8-808db841acf0.pn

[2019-04-30 14:38] samreid commented on #480
Pushed, @arouinfar and @ariel-phet can you please review on phettest and provide feedback?

[2019-04-30 14:42] samreid commented on #490
It looks like the fuses are tripping in the order they are added to the model.  For instance, I added fuses in the left-to-right order:  1 4 2 5 3 and saw that they tripped in the order the were added: 1, 2, 3, 4, 5.

[2019-04-30 16:42] arouinfar commented on #480
Thanks @samreid. I'm leaning more towards the 16 pt option (still very readable, but less emphasized), but would be completely fine with 18 pt if that's what others prefer.

After playing a bit on master, I think we might want to instead right-align the strings so the units are at least somewhat aligned. That would also be more consistent with the battery label when there's internal resistance.

!

[2019-04-30 17:12] arouinfar commented on #490
Thanks for the clarification @samreid. I am still somewhat uncomfortable with the idea that a higher rated fuse can blow before a lower-rated one. However, as @ariel-phet points out, connecting fuses in series does not have a real-world application, so I don't think we are likely to do any real harm here. I also made a note about series fuses in the Teacher Tips.

[2019-04-30 17:12] #490 closed

[2019-04-30 18:05] ariel-phet commented on #480
Agreed with @arouinfar comments above, right aligned, 16 pt font

[2019-05-02 16:27] samreid commented on #480
I pushed 16 point font and right aligned text, it looks like this:

![image](https://user-images.githubusercontent.com/679486/57090786-d2f25f00-6cc4-11e9-8f51-94b99079093d.png)

@arouinfar or @ariel-phet anything else for this issue?

[2019-05-02 21:57] arouinfar commented on #480
Looks good to me @samreid!

[2019-05-06 18:37] KatieWoe commented on #489
Looks like it may be related to https://github.com/phetsims/area-model-common/issues/175, if that helps

[2019-05-06 19:23] samreid commented on #482
@kathy-phet requested this feature to be included in the next release.

[2019-05-06 20:01] samreid commented on #482
I showed the voltmeter black probe on the left and red probe on the right in the pushed commit.  I published a dev version here: https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.1.0-dev.6/phet/circuit-construction-kit-dc_en_phet.html

@arouinfar, @ariel-phet or @kathy-phet can you please test out the voltmeter and let me know if I've missed anything?

[2019-05-06 20:15] arouinfar commented on #482
@samreid the voltmeter is working nicely, but I noticed that the dots at the base of the wires are the wrong color.  Here are updated asset files:

[voltmeter-body.zip](https://github.com/phetsims/circuit-construction-kit-common/files/3149697/voltmeter-body.zip)

[2019-05-06 20:16] ariel-phet commented on #482
@samreid besides @arouinfar comment above (nice attention to detail!) all looks good. As mentioned in email, lets do a sanity dev test, but otherwise, I think this issue can be closed.

[2019-05-06 20:21] ariel-phet commented on #480
Agreed, I think this is really nice. I know we played around with many solutions, but I think this works well.

Closing

[2019-05-06 20:45] samreid commented on #482
Nice catch @arouinfar, I committed the new artwork.  Can you review on phettest and close if all is well?

[2019-05-06 20:55] arouinfar commented on #482
Looks good @samreid!

[2019-05-06 21:59] KatieWoe commented on #480
Examining for https://github.com/phetsims/QA/issues/314 and I do have a suggestion/thought.  On the battery the Voltage is on top and resistance is on bottom.  I think that resistance should be on the bottom for the fuse as well.  Especially since the Amp rating has a larger effect on the circuit in pretty much all cases in the sim.  I'm also unsure why that text is smaller.

[2019-05-06 22:27] KatieWoe commented on #482
Incredibly minor nitpick, but should the lab screen's nav bar and home screen icon be changed since the default position and the tilt of the colors has changed?
![shouldnavchange](https://user-images.githubusercontent.com/41024075/57259164-d7e44500-701b-11e9-9a67-41f086e96783.png)

[2019-05-06 22:28] KatieWoe commented on #482
Feel free to close again if not worth it

[2019-05-07 01:50] ariel-phet commented on #480
@KatieWoe the choice to de-emphasize the current rating was very intentional, with lots of design discussion. You are correct that the current rating has a clear effect on the circuit. However, two important points:

1. The current rating (if prominent) might get confused with the actual current in the circuit. Especially if you are varying the current rating, it could easily be mistaken as a curr

[2019-05-07 02:44] samreid commented on #482
I agree it would be good to update if not too much trouble.

[2019-05-07 14:32] #480 closed

[2019-05-07 15:12] KatieWoe commented on #491
Looks good in dev test.  Also worth noting that per https://github.com/phetsims/sun/issues/477#issuecomment-488749407 the titles are now clickable again.

[2019-05-07 15:21] KatieWoe commented on #488
Haven't managed to reproduce so far.  Will continue to keep an eye out, but will focus on more normal use for rest of this (https://github.com/phetsims/QA/issues/314) dev test.

[2019-05-07 15:37] KatieWoe commented on #245
I did a closer look at https://github.com/phetsims/circuit-construction-kit-common/issues/245#issuecomment-487207618 with the point ammeter.  I noticed that there is still some current in the lightbulb's path (likely due to small resistance in the wires) and this causes the phenomena.  If this is right it may be worth putting in the teacher tips/mentioning when sent into phethelp in the future.

[2019-05-07 15:50] arouinfar commented on #245
Thanks @KatieWoe, this is already mentioned in the teacher tips.

[2019-05-07 16:24] arouinfar commented on #482
Nice catch @KatieWoe! @samreid I couldn't find an .ai file for the screen icon, either locally or in the assets directory, so I think it was probably code generated. Can you swap the probes?

[2019-05-07 16:39] samreid commented on #482
I reversed the probes for the lab screen icon in the commit.  @arouinfar can you please take a look and see if it's good?

[2019-05-07 16:42] arouinfar commented on #482
Looks great, thanks @samreid!

[2019-05-07 16:42] #482 closed

[2019-05-07 17:11] oliver-phet commented on #429
A similar request received into phethelp:

[2019-05-07 20:44] lmulhall-phet opened #493 "Wire resistivity slider laggy when all items in play area"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14.3

**Browser**

Google Chrome 74.0.3729.131

**Problem Description**

If all items are in the play area, the wire resistivity slider can be laggy. See gif. Happens for both CCK:DC and CCK:DC-VL.

**Steps to Reproduce**

1. Add all or most items to the play area.
2. Adjust wire resistivity slider.

**Screenshots**

![issue](https://use

[2019-05-07 21:06] lmulhall-phet commented on #493
Same thing happens on the latest version of iOS.

[2019-05-07 21:23] lmulhall-phet commented on #493
Side note, moving the items around can cause significant lag on iOS, but it's not consistent. Let me know if I should make a separate issue.

[2019-05-07 22:49] samreid commented on #493
Does the latest published version exhibit this same performance degradation?

[2019-05-08 00:07] samreid commented on #493
@ariel-phet do you want me to investigate this before moving to RC.1?

[2019-05-08 17:40] ariel-phet commented on #493
@lmulhall-phet @KatieWoe please check if the same occurs in the published version

@samreid if the same issue exists in the published version, no need to address for RC.1

[2019-05-08 20:57] KatieWoe commented on #493
It does occur in the published sim @samreid

[2019-05-10 02:42] samreid commented on #245
On slack, @ariel-phet said this does not need to be included in the upcoming DC/Fuse RC.

[2019-05-10 02:54] samreid opened #494 "Remaining steps before DC and DC Virtual Lab RC.1 (with fuse)"
We completed dev testing in https://github.com/phetsims/QA/issues/314 and https://github.com/phetsims/QA/issues/311 and all issues have either been closed, deferred, set to low priority or also exist in the published version.  This issue is to track additional work, if any, before we can start RC.1 testing.

I realized we have not had code review for the new Fuse code.  According to https://github

[2019-05-13 20:12] samreid commented on #494
In email, @ariel-phet recommended I reach out to @Denz1994 for code review.  I'll create an issue.

[2019-05-13 20:15] samreid opened #495 "Code Review for Fuse and FuseNode"
From https://github.com/phetsims/circuit-construction-kit-common/issues/494.  CCK has an intermediate (minor) release coming up with a new feature of a Fuse component.  The code was developed in Fuse.js (123 lines) and FuseNode.js (186 lines) and can be tested by:

1. Open CCK DC
2. Go to the 2nd page of the carousel
3. Add a fuse to the play area.

Design decisions are described in #463 and relat

[2019-05-13 20:28] samreid commented on #494
Code review issue is #395.  @arouinfar do you expect we are doing interviews before RC1?  I recalled we were doing that for Wave Interference but hadn't heard it mentioned for CCK DC/fuse yet--just thought I'd double check.  Close if interviews not necessary.

[2019-05-13 20:56] arouinfar commented on #494
@samreid I'm not sure what the timeline is for publishing the fuse. I can certainly add CCK to the Wave Interference interviews, but we're still a few weeks out from that (summer term starts June 3). I was also waiting on Wave Interference interviews until after we share/get feedback from STROBE, in case there are any design changes.

@kathy-phet @ariel-phet any thoughts on fuse interviews?

[2019-05-13 21:04] kathy-phet commented on #494
I'm not sure the fuse by itself needs interviews. I would be comfortable with publishing it without interviews as it seems like a relatively straightforward component addition that is consistent with the other components. But I would pay more attention to this when AC is interviewed on as a check at that point.

[2019-05-13 21:40] arouinfar commented on #494
Sounds good @kathy-phet. I think it's pretty safe to table fuse interviews until we get to CCK: AC.

[2019-05-13 21:40] arouinfar commented on #494
Seems like this issue can be closed, but back to @samreid to confirm.

[2019-05-13 22:27] #494 closed

[2019-05-14 18:26] arouinfar commented on #464
This was handled in #463, so closing.

[2019-05-14 18:26] #464 closed

[2019-05-15 22:58] KatieWoe opened #496 "CT numberZigZags must be an integer"
[code]

[2019-05-17 17:28] veillette commented on #496
I made a commit https://github.com/phetsims/circuit-construction-kit-common/commit/c2b62768e29ab4a9e91007628dede557c8deed9c that will resolve the issue since it forces the number of zig-zags to be an integer.

[2019-05-17 17:32] veillette commented on #496
CT is now passing but the commit brings a visual change, that although hardly perceptible, should be review. Assigning to @Denz1994 since he is in the process of reviewing FuseNode (see https://github.com/phetsims/circuit-construction-kit-common/issues/495)

[2019-05-20 18:18] oliver-phet opened #497 "User request: 2 or 3 significant figures"

[2019-05-21 14:58] Denz1994 commented on #496
Thanks for handling this @veillette. The fuse node looks good and CT has been silent. Closing this issue.

[2019-05-21 14:58] #496 closed

[2019-05-21 15:06] Denz1994 commented on #495
REVIEW comments have been added to address code review suggestions. I will follow up with @samreid via a zoom call for added input regarding memory usage and the tripping behavior.

[2019-05-21 16:36] Denz1994 commented on #490
I noticed this issue while exploring the sim during a code review of the fuse node. I expected the fuses should blow out in sequential order, but when this wasn't the case, I pinged @samreid who directed me to this issue.

I thought the observation was worth noting in this issue.

[2019-05-21 19:37] Denz1994 opened #498 "Fuse can trip despite being within tolerance rating"
Found during the code review of the fuse node https://github.com/phetsims/circuit-construction-kit-common/issues/495.

_Circuit Setup (Lab Screen):_
- Set up a circuit with one battery (40.5 V), one resistor (10 ohms), a fuse (4.0 A), 2 wires, and an inline ammeter.
- Wire resistivity should only be slightly raised, so it isn't at the default (zero).

_Steps to reproduce:_
1. Set up the circuit as

[2019-05-21 19:39] Denz1994 commented on #498
I would be happy to demonstrate over zoom if need be. I wasn't successful with getting a gif imported.

[2019-05-21 19:50] phet-steele commented on #498
Was there ever a discussion about truncating the ammeter after two places so it says 3.99?

![image](https://user-images.githubusercontent.com/5863899/58126023-2c1c2700-7bcf-11e9-9760-7b830a612a3b.png)

[2019-05-21 19:52] Denz1994 opened #499 "Memory leak when disposing fuse node."
Found during https://github.com/phetsims/circuit-construction-kit-common/issues/495.

Using Chrome (incognito) I followed these steps on the Lab Screen:

1. Take heap snapshot
2. Drag out max amount (10) of fuses in the play area (making sure not to connect them)
3. Take heap snapshot
4. Click trash can button for each fuse in the play area to dispose of them until none were left.
5. Take heap sna

[2019-05-22 16:29] ariel-phet commented on #498
@Denz1994 I looked at this, and personally I think everything is fine. It is great attention to detail on your part, but I have not seen a circumstance that would cause me concern. We don't put a +/- percentage on the fuse, but a real fuse does have some variation, and the slight inconsistency that can be seen in tripping here does not raise any pedagogical flags for me.

The fuse also says < or =

[2019-05-22 16:29] #498 closed

[2019-06-14 12:24] samreid opened #500 "Plan for publication with fuse"
From https://github.com/phetsims/circuit-construction-kit-common/issues/463

- [x] 1st round dev testing https://github.com/phetsims/QA/issues/311
- [x] 2nd round dev testing https://github.com/phetsims/QA/issues/314
- [x] code review
- [x] address `// REVIEW` comments, see https://github.com/phetsims/circuit-construction-kit-common/issues/495
- [x] A memory leak was reported in https://github.com

[2019-06-14 12:25] samreid commented on #463
Let's close this issue and follow-up in https://github.com/phetsims/circuit-construction-kit-common/issues/500 and its child issues.

[2019-06-14 12:25] #463 closed

[2019-06-14 16:42] ariel-phet commented on #500
@samreid priority is below both of Graphing Quadratics iO and Diffraction screen

[2019-06-27 16:53] samreid commented on #479
@kathy-phet says this icon looks fine.

[2019-06-27 16:53] #479 closed

[2019-06-27 16:55] samreid commented on #483
@kathy-phet said it is fine to not have play pause.

[2019-06-27 16:55] #483 closed

[2019-06-27 17:28] kathy-phet commented on #500
We need this version - at least a good usable dev version - for use for a class on July 15. @samreid - Can you prioritize the issues that need to be address to make it useable in class, and create a new dev version.

[2019-06-27 17:35] samreid commented on #495
For this review comment:

[code]

This logic should only be used to trip the fuse, not to untrip it, so the inline conditional statement would not have the correct behavior.

[2019-06-27 17:44] samreid commented on #495
Thanks for the helpful feedback @Denz1994, I addressed the REVIEW comments.  Can you please review?

[2019-06-27 18:26] samreid commented on #499
Same problem for resistors.  Dragging out 10 resistors then pressing reset all shows 10 resistors still in memory.

[2019-06-27 18:49] samreid commented on #499
A few minutes of fuzzing:
![image](https://user-images.githubusercontent.com/679486/60292282-fb1fc800-98d9-11e9-8acd-0d27d784751c.png)

[2019-06-28 17:49] jessegreenberg commented on #499
After https://github.com/phetsims/scenery/issues/982, here are a collection of heap snapshots with ?fuzz in CCK-DC, taken every 30-45 seconds.
![image](https://user-images.githubusercontent.com/6396244/60361115-61285000-99ab-11e9-9e8a-6d5fee33dde8.png)

[2019-06-28 21:36] samreid commented on #499
The wide variability is due to creation and deletion of components.  A less noisy test would be to press Reset All right before each memory snapshot, but currently we have no way to do that during fuzzing.  Here are my results from a run:

![image](https://user-images.githubusercontent.com/679486/60372644-7d7fb900-99ba-11e9-9d59-abd9c2de103e.png)

[2019-06-29 03:01] samreid commented on #499
I launched the sim with ?fuzz, then captured a memory profile, then let it run for a few minutes, then paused fuzzing via `phet.chipper.queryParameters.fuzz=false` then captured another memory profile.  No problems indicated between the two snapshots.

![image](https://user-images.githubusercontent.com/679486/60378860-5343f080-99e6-11e9-94d1-780e595b65af.png)

Following @Denz1994 instructions from

[2019-06-29 03:36] samreid commented on #500
I addressed #495 and #499 and they are reassigned to @Denz1994 for review.  After that we can move to dev then RC testing.  I'll co-assign @Denz1994 to this issue so he is aware of priority.

[2019-07-02 16:04] Denz1994 commented on #499
Thanks, @jessegreenberg for the help on this one. I'm seeing similar results after repeating @samreid test from https://github.com/phetsims/circuit-construction-kit-common/issues/499#issuecomment-506921285.

I'm going to close this one since the initial memory leak is not evident any longer in the memory profiles.

[2019-07-02 16:04] #499 closed

[2019-07-02 16:04] Denz1994 commented on #495
Thanks for the clarification regarding https://github.com/phetsims/circuit-construction-kit-common/issues/495#issuecomment-506441296. I'm going to reassign to @samreid for closure. The doc updates are much appreciated.

[2019-07-02 16:07] Denz1994 commented on #500
Issues https://github.com/phetsims/circuit-construction-kit-common/issues/495 and https://github.com/phetsims/circuit-construction-kit-common/issues/499 have been reviewed. Thanks for the changes @samreid. Removing assignment.

[2019-07-03 18:15] samreid commented on #495
Thanks, this issue seems ready to close.

[2019-07-03 18:15] #495 closed

[2019-07-03 18:22] samreid commented on #500
@kathy-phet and @ariel-phet should I focus on circuit-construction-kit-dc for now or proceed with circuit-construction-kit-dc-virtual-lab at the same time?

[2019-07-07 17:49] samreid commented on #500
I published https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.1.0-dev.8/phet/circuit-construction-kit-dc_en_phet.html which can be used for dev testing, but will not have time to create QA dev test issue until Wednesday or Thursday.  Assigning to @ariel-phet or @kathy-phet to see if they want to have someone else work on that part.

[2019-07-09 19:28] samreid commented on #500
Based on the remark in https://github.com/phetsims/QA/issues/314#issuecomment-489875820 I'll go with both.

[2019-07-09 19:38] samreid commented on #500
I created the dev test issue, on hold until that's complete.

[2019-07-09 22:19] KatieWoe commented on #488
Saw again in https://github.com/phetsims/QA/issues/361.  I took everything out and connected it in a large mess.
![lostagain](https://user-images.githubusercontent.com/41024075/60926927-54d2ab80-a265-11e9-9d1f-8ecf056e6bcd.png)

[2019-07-10 19:38] KatieWoe commented on #487
Seen again in https://github.com/phetsims/QA/issues/361

[2019-07-10 21:19] samreid commented on #500
Dev testing complete in https://github.com/phetsims/QA/issues/361, no new issues reported.  @kathy-phet you can use DC or Virtual Lab for the July 15 class:

https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.1.0-dev.8/phet/circuit-construction-kit-dc_en_phet.html
https://phet-dev.colorado.edu/html/circuit-construction-kit-dc-virtual-lab/1.1.0-dev.2/phet/circuit-construction-kit-dc-v

[2019-07-10 21:28] kathy-phet commented on #500
Thanks, QA and Sam! I'll pass along the links. Does that mean this can also go to RC?

[2019-07-10 21:37] samreid commented on #500
Yes, it's ready for RC.  I'll try to create the RC and set up the QA issue by end of business Friday.

[2019-07-12 22:55] samreid commented on #500
This is blocked by https://github.com/phetsims/chipper/issues/764#issuecomment-510929071, would be good to hear from @ariel-phet or @jonathanolson before proceeding.

[2019-07-15 16:36] samreid commented on #500
https://github.com/phetsims/chipper/issues/764#issuecomment-510929071 is no longer blocking, so I'll proceed with creating the RC.

[2019-07-22 20:53] etwa4650 commented on #489
Also seen on Windows 10 in https://github.com/phetsims/QA/issues/369

[2019-07-25 04:59] samreid commented on #489
@ariel-phet would you like investigation into this issue before publication of CCK DC and DC Virtual Lab with the fuse component?  It was the only issue pointed out during RC.1.  If you would like investigation into this, I believe @jonathanolson may be best versed in problems with Firefox repaint regions.

[2019-07-25 06:19] kathy-phet commented on #489
Does this exist in the published version? If yes, then I would vote for publishing as is, if not, then investigate what change to scenery may be causing this issue? ... but just defer, not close.

[2019-07-25 07:37] jonathanolson commented on #489
I'm also curious about whether WebGL was used for that error (as it seems similar to some instances in WebGL with invalid pixel data)?

[2019-07-25 15:55] samreid commented on #489
It was stated in the initial issue description that:

@etwa4650 or @KatieWoe can you additionally test the sim with `?webgl=false` to see whether that suppresses the problem?

[2019-07-25 17:50] ariel-phet commented on #489
@samreid a few points:

1. We are not supporting firefox and Mac anymore, so that is not a concern
2. I can reproduce on FF and Win 10 (in both dev and published version)
3. `?webgl=false` does NOT suppress the problem
4. Pretty easy to trigger with even a single wire

[2019-07-25 17:51] ariel-phet commented on #489
Since this exists in the published version, will defer for now.

[2019-07-25 21:40] samreid commented on #500
RC test revealed no new problems, I'll deploy.

[2019-07-26 01:47] samreid commented on #500
Deployed: https://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html

[2019-07-26 01:53] samreid commented on #500
I published both sims, but they haven't appeared on the website yet.  Leaving self-assigned to double check later on.  Also adding @arouinfar as an assignee in case any of the text descriptions need to change.

[2019-07-29 20:57] arouinfar commented on #500
@samreid I think it just takes some time for the version to update, I'm seeing 1.1.0 under the About section.

I've updated the Teacher Tips and sim description. Closing.

[2019-07-29 20:57] #500 closed

[2019-08-20 18:35] samreid commented on #449
@kathy-phet additionally asked for an estimate of developer hours for this.

[2019-08-23 20:53] oliver-phet opened #517 "User request: adjustable range of hertz values"

[2019-08-28 21:56] samreid opened #501 "Use rasterized instead of toDataURLImageSynchronous"
Use rasterized instead of toDataURLImageSynchronous, as part of #449

[2019-08-29 22:08] arouinfar commented on #452
@samreid I think we can use the exact same method for dealing with charge density. I do not think we would want to show the electric field between the plates, as that goes well beyond the goals of CCK.

The default orientation of the capacitor is more like this.
![clb](https://user-images.githubusercontent.com/8419308/63979735-d16c5400-ca76-11e9-8ec1-f60943d852f6.png)

The `+` is symmetric and loo

[2019-08-30 01:51] samreid commented on #452
I am not familiar with the code in Capacitor Lab: Basics, but it seems worth investigating factoring out this code that renders these plates and charge distributions.

Pros:
* Avoiding duplicated code, less to create and maintain
* Making an improvement in one sim will improve both sims
* Uniform representation for capacitors across sims
* Reusable by other capacitor-related sims in the future

Co

[2019-08-30 16:05] samreid opened #502 "branch: dynamic-circuit"

[2019-08-31 22:14] samreid commented on #502
Merged to master and deleted remote branch, closing.

[2019-08-31 22:14] #502 closed

[2019-08-31 23:25] samreid commented on #451
Capacitor Lab Basics looks like it already has good bounds support, we are considering reusing that code in #452

[2019-08-31 23:27] samreid commented on #452
One more con I discovered while investigating this:

* PlateChargeNode is rendered using CanvasNode--will this create too many retina layers and overflow the memory?  Or maybe we can limit the sim to a small number of capacitors, like 3?

[2019-08-31 23:50] samreid commented on #452
I loaded this into CCK and added some mock model parts to create it.  It came out like so (I haven't rotated the negative charges yet):

![image](https://user-images.githubusercontent.com/679486/64070098-fa2b4f80-cc16-11e9-9f2e-ce446caf38f1.png)

And this allowed me to use namespace to see all of the Capacitor Lab: Basics types that are directly or transitively loaded:

* BoxNode
* BoxShapeCreator

[2019-09-01 03:13] pixelzoom commented on #452
While I wrote the Java version, that was a long long time ago, and I had little to do with the JavaScript version.  Perhaps I'm listed as `@author` because it was a relatively-direct port, but I haven't compared implementations.

[2019-09-03 14:07] samreid opened #503 "Which inductor schematic symbol should we use?"
I'm seeing several schematic symbols to represent inductors:

![image](https://user-images.githubusercontent.com/679486/64180091-6ed1da00-ce21-11e9-9aa9-e3d57c208581.png)

![image](https://user-images.githubusercontent.com/679486/64180267-bce6dd80-ce21-11e9-869f-b9e7cfb05a89.png)

![image](https://user-images.githubusercontent.com/679486/64180283-c708dc00-ce21-11e9-9ef8-8911025c8343.png)

[2019-09-03 14:53] samreid commented on #440
@arouinfar and/or @ariel-phet where would you like to go with this issue?

[2019-09-03 15:22] samreid commented on #439
Initial port complete, closing.

[2019-09-03 15:22] #439 closed

[2019-09-03 15:23] samreid commented on #430
Resolved in 89ab99a9e09be3a9abe672c1eb11653ac696c1c2, closing.

[2019-09-03 15:23] #430 closed

[2019-09-03 15:25] samreid commented on #294
According to the above discussion, there is nothing left to do for this issue.  I'll open a side issue for "snap" in case we want to pursue that.

[2019-09-03 15:25] #294 closed

[2019-09-03 15:26] samreid opened #504 "Should probes snap to objects?"
From https://github.com/phetsims/circuit-construction-kit-common/issues/294

Should probes snap to objects?  For example, when a voltmeter probe is near a battery, should it snap to show it is in contact?  Likewise, when the user puts a probe on a wire, then moves the wire, should the probe follow?

[2019-09-03 15:37] samreid commented on #501
Fixed.  Bounds and padding were removed in WireNode, but I tested in firefox as described in https://github.com/phetsims/circuit-construction-kit-dc/issues/111 and didn't see any problems.  Closing.

[2019-09-03 15:37] #501 closed

[2019-09-03 15:38] samreid commented on #441
@ariel-phet or @arouinfar where would you like to go with this issue?  Should we use it an an example case for a PhET-iO wrapper?

[2019-09-03 16:58] samreid opened #505 "Should the placement of the lifelike/schematic buttons be underneath the carousel in both AC and DC sims?"
The design doc for AC says:

It would simplify the code as well as making the user interfaces more consistent (between the sims) to have the buttons in the same spot.  What do you recommend?

Also, I have a bit of deja vu about this, so my apologies if I have already asked (couldn't find a paper trail).

UPDATE: Tagging for https://github.com/phetsims/circuit-construction-kit-common/issues/449

[2019-09-03 18:58] ariel-phet commented on #503
To me, the "generic air-core" is the clearest, but the generic or IEC-style air cooled also seems fine to me.

[2019-09-03 19:15] jonathanolson commented on #452
I don't recall the CLB implementation being terribly generalizable, but I'd generally defer to your judgment @samreid. If it looks good to use (with that patch), go for it.

[2019-09-03 19:35] samreid commented on #452
My feeling is I would need to duplicate a lot of what is in CLB for CCK, so factoring out as much as possible seems nice.  Due to the large number of files (10), it seems like it warrants a separate subdirectory in scenery-phet.

To clarify, the patch set up CCK to use CLB as a dependency, I didn't factor out the files yet.

[2019-09-03 19:42] arouinfar commented on #503
The Java version of the sim uses an IEC-like symbol.
![image](https://user-images.githubusercontent.com/8419308/64202894-79a36380-ce4f-11e9-959b-9ba946c4c49f.png)

Generally, the generic/air-core symbol seems most prevalent in the US. I checked 4 intro textbooks & Hyperphysics, and most use the generic/air-core symbol -- just 1 textbook used the IEC symbol.
<img src="https://user-images.githubuser

[2019-09-03 19:58] arouinfar commented on #440
@samreid @ariel-phet I think this goes well beyond the scope of the learning goals for CCK. If we really wanted to address the water analogy, it would best be done in its own standalone sim.

That said, while the water analogy is fairly ubiquitous and useful for simple DC circuits, it isn't perfect. I think it would take some careful design -- both artistically and pedagogically -- for this to wor

[2019-09-03 20:05] arouinfar commented on #504
@samreid I'm not sure if this is something we really need to pursue. As far as I know, we haven't had any complaints in regards to #294.

[2019-09-04 19:05] ariel-phet commented on #440
@arouinfar I agree, this suggestion goes way beyond the scope of this sim. I often use water analogies in my own teaching regarding things like Voltage or resistance or such, but that is really just a separate conceptual sim. Such analogies would (as AR pointed out) not easily be represented in a more complicated circuit. I am going to close this issue.

[2019-09-04 19:05] #440 closed

[2019-09-04 19:08] ariel-phet commented on #441
This situation is completely able to be set up with the current HTML5 simulation. If @TrustyMan wishes to make this situation, it can be accomplished currently and a worksheet could be built around it. I don't think we should pursue this issue further or make an iO wrapper with this situation given that it is limited in scope, and our sims are generally made to be quite flexible.

[2019-09-04 19:08] #441 closed

[2019-09-04 23:03] arouinfar commented on #505
We relocated the scene buttons due to crowding on the Lab screen
![image](https://user-images.githubusercontent.com/8419308/64299251-acc02280-cf35-11e9-842a-aaf8a780ec28.png)

I prefer the the sizing/positioning of these button in the current AC design, and think it could be a change we carry over to the DC sim.

How does that sound to you @ariel-phet?

[2019-09-04 23:10] arouinfar commented on #449
@samreid I reviewed the design doc, and it's up to date. I also can't think of anything that needs to be added to the checklist in https://github.com/phetsims/circuit-construction-kit-common/issues/449#issue-410590256

[2019-09-05 02:49] samreid commented on #504
Sounds good, let's close for now and we can reopen if we change our minds.

[2019-09-05 02:49] #504 closed

[2019-09-05 02:52] samreid opened #506 "Should the lifelike/schematic button group be horizontal instead of vertical?"
From #505

@arouinfar have you considered making the lifelike/schematic buttons horizontal instead of vertical?  Even if it exceeds the width of the carousel, it may make it easier to visually parse--as it stands (vertical), they kind of seem like two more choices of circuit element.

We could also move it lower--by the zoom buttons, if it helps.

[2019-09-05 03:32] ariel-phet commented on #505
Seems fine to me.

[2019-09-12 20:11] samreid opened #507 "Should the RLC toolbox be a carousel or panel?"
Related to https://github.com/phetsims/circuit-construction-kit-common/issues/465, I noticed that CCK used to have code in ee5186b9db5f87697c4e7176fd4dafc035e6be4b where it used to switch between panel vs carousel depending on the number of items as part of https://github.com/phetsims/circuit-construction-kit-common/issues/330.  Eventually we decided to make all of the other CCK screens use carous

[2019-09-16 16:48] samreid commented on #10
@arouinfar will we be doing this as part of AC 1.0?

[2019-09-16 17:11] samreid commented on #114
I recommend closing this issue since delete/backspace works well, and we will likely need design meetings, more issues and more work to fully instrument for accessibility.

[2019-09-16 17:11] #114 closed

[2019-09-16 17:20] samreid commented on #228
Some notes in case we want to investigate this further, if we are running into too many physics bugs in the modified nodal analysis + companion models, etc.

`-s MAX_SETJMPS=50` is not working out of the box with latest emscripten.  I can't get a build to complete by following those instructions, perhaps other updates are necessary to use latest emscripten.  I haven't tried downloading a legacy em

[2019-09-16 17:32] samreid commented on #233
@arouinfar we published virtual-lab as a separate simulation.  Can this issue be closed?

[2019-09-16 17:41] samreid commented on #284
This does not seem in the scope for AC publication, so I've re-deferred.

[2019-09-16 17:43] samreid commented on #319
@arouinfar anything else to do for this issue?

[2019-09-16 17:44] samreid commented on #362
@arouinfar want to spend any time on this for publishing AC?

[2019-09-16 17:45] samreid commented on #413
CT has been clear for ages, I'll close for now.

[2019-09-16 17:45] #413 closed

[2019-09-16 17:48] samreid commented on #423
@arouinfar and @ariel-phet do you want any work on this for the AC publication?

[2019-09-16 17:57] samreid commented on #432
I confirmed I was able to create 50 wires by using the published version https://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html?moreWires

Closing.

[2019-09-16 17:57] #432 closed

[2019-09-16 18:16] arouinfar commented on #362
@samreid, yes let's address this is AC 1.0.

[2019-09-16 18:21] arouinfar commented on #319
The solder is always layered below non-wire components, so the current z-ordering of the switch is consistent. Let's leave things the way they are @samreid.

![image](https://user-images.githubusercontent.com/8419308/64982829-567ba980-d87c-11e9-85d8-ae0d0102a281.png)

[2019-09-16 18:21] #319 closed

[2019-09-16 18:23] arouinfar commented on #284
@samreid as far as I know, there haven't been any requests for ideal wires.

[2019-09-16 18:24] arouinfar commented on #233
Yes, let's close.

[2019-09-16 18:24] #233 closed

[2019-09-16 21:49] arouinfar opened #509 "User suggestion: Add diode/LED"
There have been several requests for the addition of a diode/LED.

Unfuddle Ticket [#3688](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3688?cycle=true)

Unfuddle Ticket [#2170](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2170?cycle=true)

From phetsims/circuit-construction-kit-dc#21

The requests for a DC motor and fuse will be tracked separately. More complicated

[2019-09-16 21:49] arouinfar opened #510 "User suggestion: Add motor/fan"
Several users have requested the addition of a motor (or fan)

Unfuddle Ticket [#1778](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/1778?cycle=true)

Unfuddle Ticket [#2525](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2525?cycle=true)

"circuit construction kit". It s nice to use it with my students.
May I ask you if there is any way to add some components like a
l

[2019-09-16 21:57] arouinfar opened #511 "User suggestion: two-way switch"
We've had a few requests for additional switches.

Unfuddle Ticket [#3532](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3532?cycle=true)

From phetsims/circuit-construction-kit-dc#3

On the plus side, great simulators for showing basic circuit faults.

A two-way switch seems like a potentially useful addition, but a three-way switch could be constructed from two-way switches and wi

[2019-09-16 21:57] samreid opened #514 "No event for editing a circuit element/vertex"
From https://github.com/phetsims/phet-io/issues/807

When clicking on a circuit element, the only thing that remotely signifies that this has happened is this event (number 332):
<img width="555" alt="screen shot 2016-11-03 at 12 05 26 pm" src="https://cloud.githubusercontent.com/assets/5863899/19978886/1d00c854-a1be-11e6-9b88-ce260e3ce096.png">

But this is not truly representative of editing a c

[2019-09-17 01:42] BryceAG opened #516 "Animation speed optical illusions?"
With the circuit below, the electrons move at a speed where some optical illusions can happen. In windows 7, chrome, it looks like the electrons go only towards the positive end of the battery (circled, following arrows), so all charges head to one point and kirchoff's current law is broken. With conventional current it looks like some of the arrows travel backwards. In Firefox the same issue occa

[2019-09-17 02:05] samreid commented on #245
@ariel-phet or @arouinfar should we work on this issue for AC publication?

[2019-09-17 02:06] samreid commented on #509
I labeled deferred since this was not in the design for AC.  @arouinfar please correct me if this is incorrect.

[2019-09-17 02:18] samreid commented on #510
Deferring for current development because AC design doesn't call for motor/fan.  @arouinfar correct me if this is wrong.

[2019-09-17 04:18] samreid commented on #511
Deferring for current development because AC design doesn't call for this feature. @arouinfar correct me if this is wrong.

[2019-09-17 04:23] samreid commented on #512
It seems this would be good to discuss at an upcoming CCK design meeting, particularly if we want to work on this before AC publication.  Also, even if we decide there will be no grab bag items in the AC sim, it may be beneficial to republish DC at the same time as AC to keep them in sync, if time allows.

[2019-09-17 04:26] samreid commented on #513
We will probably instrument this sim as a separate phase after AC 1.0 is published.  I'll defer until then.

[2019-09-17 04:31] samreid commented on #423
I marked as `type:wontfix` based on discussion in the slack channel.  Up to @ariel-phet whether it should also be closed.

[2019-09-17 04:32] samreid commented on #424
Marking deferred since this does not appear in the AC design, @arouinfar or @ariel-phet please correct me if necessary.

[2019-09-17 15:11] samreid commented on #436
The design doc for AC doesn't explicitly state the range, but it does show this slider, which looks like 0-2:

![image](https://user-images.githubusercontent.com/679486/65054628-1de6d900-d92b-11e9-8b40-14d51282d8eb.png)

@arouinfar what would you like to do with this issue?

[2019-09-17 15:13] samreid commented on #442
@arouinfar or @ariel-phet can you recommend how to proceed with this issue?

[2019-09-17 15:13] samreid commented on #520
Marking for design meeting to finalize the name.

[2019-09-17 16:56] ariel-phet commented on #442
@samreid I believe we treat our lightbulbs like ideal resistors that can handle any amount of current. I think now that we have the fuse as an option in the published version that this is a non-issue, since the fuse can be employed to get to this learning goal.

@arouinfar feel free to close if you agree.

[2019-09-17 19:02] ariel-phet commented on #245
@arouinfar I think this issue would be worth bringing back to design meeting.

Perhaps another route of addressing the issue would be to add a new component, basically a "short circuit wire", but not mess with the battery being ideal or such. It seems the goal of teachers is to show off what happens in a short circuit, and maybe we could make that goal explicit. I am thinking of something in the s

[2019-09-17 19:03] ariel-phet commented on #423
I am fine with this issue being closed

[2019-09-17 19:03] #423 closed

[2019-09-17 23:33] jingis2020 commented on #463
good day every one i need a guide  on how to add additional wire (black wire) in html5 DC circuit simulator it will be great if some one help me out thanks and best regard hope to have a positive   answer

[2019-09-18 14:47] samreid commented on #455
The sim seems functional enough to test this.  The advantage of having the probes on the left is that because the meter is dragged from the right, the circuit will be on the left.  @arouinfar can you please test in context and let me know your recommendation for this issue?

[2019-09-18 14:52] samreid commented on #457
What if there is a very small but nonzero current?

[2019-09-18 14:57] samreid commented on #462
@arouinfar would we like to try to implement this for AC by Jan 31, 2020?

[2019-09-18 15:01] samreid commented on #497
@arouinfar can you please recommend how to proceed?

[2019-09-18 15:09] samreid commented on #517
We are discussing the range of the AC voltage source here: https://github.com/phetsims/circuit-construction-kit-common/issues/436

@arouinfar what would you like to do with the other ideas from this issue?  Perhaps split them out to separate issues and decide on them individually?

[2019-09-18 15:13] samreid commented on #151
As far as I know, this will not be part of the AC publication for Jan 31, 2020, deferring until afterwards.

[2019-09-19 20:00] arouinfar commented on #517
This will be discussed in #436

An ideal current source can be a useful mathematical tool, but it is not an actual circuit component and would somewhat violate the "kit" branding of the sim. While there are many [implementations](https://en.wikipedia.org/wiki/Current_source#Implementations) of real current sources, they go way beyond the scope of CCK.

It looks like this user is unaware of schemat

[2019-09-19 20:04] arouinfar commented on #442
Agreed @ariel-phet, closing.

[2019-09-19 20:12] oliver-phet commented on #517
Email to user sent.

[2019-09-19 20:12] #517 closed

[2019-09-19 20:56] arouinfar commented on #455
Played a bit in master, and the probe positioning is feeling natural to me @samreid. Let's close.

[2019-09-19 20:56] #455 closed

[2019-09-19 21:10] samreid commented on #427
In design meeting today, we decided it is enough of a corner case that it can be closed.

[2019-09-19 21:10] #427 closed

[2019-09-19 21:11] samreid commented on #361
I'll take a look at these during development of AC.

[2019-09-19 21:29] samreid commented on #245
@ariel-phet recommends checking if any element of the circuit exceeds a threshold like 10000A, then anything else on the circuit under a threshold like 100A should be zeroed out.

We would need to detect connected components "in the same circuit" and only apply that rule within that circuit.

@kathy-phet demonstrated a case where circuits are loosely connected, but we can't think of how to program

[2019-09-19 21:33] samreid commented on #245
New idea: when the battery current exceeds a threshold, turn up its internal resistance.  This will emulate the short.

[2019-09-19 21:39] samreid commented on #245
I'll create two  query parameters: one for the battery current threshold and one for the internal resistance and run it past @arouinfar and @ariel-phet.  We'll see if that works OK.

[2019-09-19 21:57] samreid commented on #228
After discussion, it seems we will need to continue developing our own physics engine, addressing corner cases as we come across them.  We suspect there will be too much overhead in calling to emscripten in each timestep.  We may be able to leverage it by reading the source code or asking developers questions.

[2019-09-19 22:02] samreid commented on #10
At discussion today, @arouinfar pointed out we should have a big picture discussion about what components to add.  However, we are skeptical we could add this before Jan 31, 2020.

[2019-09-19 23:49] samreid commented on #442
One more question--should we reach out to the customer to let them know they can use the fuse to reach this learning goal?

[2019-09-20 15:46] arouinfar commented on #442
Good idea @samreid.

@oliver-phet can you follow up with this user and let them know that we've recently added a fuse to the sim, which should be able to address their stated goal.

[2019-09-20 16:10] oliver-phet commented on #442
Email to user sent.

[2019-09-20 16:10] #442 closed

[2019-09-25 02:19] samreid opened #521 "Dealing with a disconnected inductor or capacitor"
From https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/412

I recently made the observation that in an RL circuit in the CCK, after letting the current reach the steady state,
if you remove a wire or the battery, then the electrons oscillate in the inductor.
This is the result from the time dependent circuit analysis, and it has taken me some time to
understand the physical reason for t

[2019-09-25 02:19] samreid commented on #521
@jbphet said:

[2019-09-25 02:19] samreid commented on #521
@arouinfar said:

[2019-09-25 02:20] samreid commented on #519
I looked through the remainder of the Unfuddle issues, and created GitHub issues where appropriate. Thanks for organizing this @arouinfar, closing.

[2019-09-25 02:20] #519 closed

[2019-09-25 15:13] samreid commented on #521
I connected an inductor in series with the battery and waited until the current is flowing.  Then I shorted the circuit so there was one loop with an inductor and no voltage source.  I saw that the current flowed through the inductor correctly.  When I deleted a wire from the inductor loop, there was no unusual oscillation.  This issue seems like it can be closed.

[2019-09-25 15:13] #521 closed

[2019-09-25 15:17] samreid commented on #515
In master on Chrome, the voltage text box now travels with the battery in this scenario.  Closing.

[2019-09-25 15:17] #515 closed

[2019-09-25 15:49] samreid commented on #508
Here's a proposal for one way that might address this.  The first time a circuit component gets a nonzero current, that determines the directionality for the component.  The directionality is chosen so that all initial currents are positive.  This way, when setting up an initial circuit, all currents will be consistently positive.  When the circuit element's current goes to zero (for instance, if

[2019-09-26 17:14] arouinfar commented on #497
Ammeters always show at least 2 decimal places, which increases to 3 when the current is below 0.02 amps.

The `1.00` reading has 3 sig figs, and the `0.017` reading has 2 sig figs.
<img src="https://user-images.githubusercontent.com/8419308/65708342-98aaa500-e04b-11e9-9c00-6a6add5802f9.png" width=200> <img src="https://user-images.githubusercontent.com/8419308/65708491-ef17e380-e04b-11e9-9f26-3e2

[2019-09-26 17:47] arouinfar opened #522 "Review and prioritize additional user-suggested components"
In the 9/19/19 design meeting, we decided that adding additional components to the sim is not necessary for 1.0.

That said, we should still eventually have a big-picture discussion about which components would be the highest priority for future development.

| Issue | Component |
| --- | --- |
| #10  | Non-ohmic bulb |
| #509  | Diode/LED |
| #462, #511 | SPDT or two-way switch |
| #510 | Motor/f

[2019-09-26 17:50] arouinfar commented on #462
As discussed in the 9/19/19 design meeting, we have deferred additional components for 1.0. A big-picture discussion about the relative priority of new components will take place in #522.

[2019-09-28 18:47] samreid commented on #505
Fixed in the preceding commits, @arouinfar can you please review on phettest?

[2019-09-28 18:56] samreid commented on #497
The existing implementation is:
if (value is between 0.001 and 0.02) => 3 decimal places
otherwise => 2 decimal places

Would it accomplish our goals to change it to:
if (value is above zero and below 0.02) => 3 decimal places
otherwise => 2 decimal places

Do we need to build in some slack, like making the lower threshold 1E-6 to handle approximate zeros?

For my future reference, the code is loc

[2019-09-28 19:46] samreid commented on #493
This problem seems somewhat reduced in master on my MacOS laptop.  When I test the published version and drag out every component, I see a moderate lag.  When I test requirejs, I see a small amount of lag.  I ran the profiler and it shows the effort is in the circuit solve step, I'm not sure how we could avoid that.

I published a dev version for comparison, but on second thought want to make sure

[2019-09-28 20:03] samreid commented on #477
This appears to be an aliasing problem, when I increase the line width to 1.5 the problem seems to go away.

![image](https://user-images.githubusercontent.com/679486/65821858-9df92280-e1f8-11e9-8ab0-9131481dae28.png)

[2019-09-28 20:03] #477 closed

[2019-09-28 20:08] samreid commented on #476
I outputted the dt values and saw:

0.017
0.016
0.017
0.016
0.017
0.5
0.069
0.038
0.017

I thought joist/sim knew how to guard against large dts?

[2019-09-28 20:10] samreid commented on #476
I'm seeing code in other sims like:

[code]

Perhaps that is the established pattern?

[2019-09-28 20:12] samreid commented on #476
Here are all the comments on that pattern:

[code]

[2019-09-28 20:18] samreid commented on #476
Also relates to https://github.com/phetsims/joist/issues/130

[2019-09-28 20:30] samreid commented on #476
The code is now skipping when dt>=0.5 sec.  You can still create short kinks<0.5 sec by tabbing out and back quickly, but they don't seem as bad.

[2019-09-28 20:30] #476 closed

[2019-09-28 20:31] samreid commented on #459
I proposed an idea for this in https://github.com/phetsims/circuit-construction-kit-common/issues/508, I'll mark this for design meeting as well.

[2019-09-28 20:33] samreid commented on #458
I did not observe the same bug in master (note the bottom right battery is really an inductor):

![image](https://user-images.githubusercontent.com/679486/65822185-efa3ac00-e1fc-11e9-8284-52b03758db37.png)

[2019-09-28 20:33] #458 closed

[2019-09-28 20:34] samreid commented on #450
I tested this in #458 and did not see the problem.  Closing (for now?).

[2019-09-28 20:34] #450 closed

[2019-09-28 20:35] samreid commented on #437
Since this carousel is decoupled from the model, it can run using the default value of timer.  Closing.

[2019-09-28 20:35] #437 closed

[2019-09-29 22:16] samreid commented on #435
Fixed in the commit, closing.

[2019-09-29 22:16] #435 closed

[2019-09-30 00:41] samreid commented on #428
I tested master on Mac Chrome with x6 throttling, and I tested the published version of CCK DC on an iPad 3.  Neither site showed this symptom, closing until we see this problem again.

[2019-09-30 00:41] #428 closed

[2019-09-30 00:43] samreid commented on #408
https://github.com/phetsims/scenery/issues/810 was deferred, I'll defer this to match it.

[2019-09-30 01:05] samreid commented on #362
In the preceding commits, I made ammeters, voltmeters, charts and circuit elements move to the front when pressed.  Note that the circuit defines specific layering, such as wires are always in the back and light bulbs are always in the front--this change only arranges elements within their layer (wires won't move in front of resistors).  Also, for circuit elements, this is only wired up when dragg

[2019-09-30 13:00] samreid commented on #245
I added the two query parameters (shown in the patch)
<details>

[code]
</details>

However, in testing, this caused a rapidly oscillating behavior for the battery because of these steps:

The battery current exceeds the threshold ==> this causes the battery resistance to increase ==> this causes the battery current to go below the threshold ==> This causes the current to exceed the threshold.

![

[2019-09-30 15:49] kathy-phet commented on #245
Sam, if you choose a small enough resistance and a low enough threshhold, this flicker should go away.

Sent from my iPhone

On Sep 30, 2019, at 7:00 AM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

I added the two query parameters (shown in the patch)

Index: js/CCKCQueryParameters.js
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<

[2019-09-30 20:26] arouinfar commented on #362
@samreid looks good in master.

[2019-09-30 20:26] #362 closed

[2019-09-30 20:30] arouinfar commented on #497
if (value is above zero and below 0.02) => 3 decimal places
otherwise => 2 decimal places

@samreid yes, I think this would give us the desired result. Let's use this approach.

Let's see how things work out. If we're seeing odd behavior at low currents, we could try out a small, non-zero threshold instead.

[2019-09-30 20:34] arouinfar commented on #506
@samreid I'd rather not have horizontal radio buttons, as it would cut into the play area which could look pretty odd. We could bump the buttons down a bit so there's some more negative space between the carousel and the buttons, but we can handle the polishing in #505.

[2019-09-30 20:35] #506 closed

[2019-09-30 21:33] arouinfar commented on #505
@samreid looks good, but I think we could probably move the radioButtonGroup down a bit so there's more padding between the carousel and the buttons. Can you try bumping it down a bit, maybe 10 px or so?

[2019-09-30 21:41] arouinfar commented on #436
@samreid I think it'd be impossible to use a household standard of 50 or 60 Hz, particularly when considering the need to show the current animation, resolution of the charts, and performance implications. We have considered creating a Household flavor of CCK which would have a realistic frequency, but would likely not show the current animation or have the ability to tune the frequency.

The HTML

[2019-10-01 15:32] samreid commented on #505
I bumped it down 10px in the commit.  But I thought I should ask: right now it is positioned 20px below the carousel no matter how big the carousel is.  Would it be better to position it a fixed distance above the zoom buttons instead?  Different screens have different carousel sizes.

[2019-10-01 16:06] samreid commented on #245
Thanks!  More specifically, if the limited current is under the threshold, there will be flickering.  If the limited current remains over the threshold, there will be no flickering.  Here's a dev version of the DC simulation we can use for experimenting:

https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.2.0-dev.2/phet/circuit-construction-kit-dc_en_phet.html?batteryCurrentThreshold

[2019-10-01 16:31] kathy-phet commented on #245
What are the units of these parameters here? that is what does 10 mean physically in units of Amps and ohms?

[2019-10-01 16:32] samreid commented on #245
Yes, `batteryCurrentThreshold` is in Amps, and `batteryInternalResistanceWhenCurrentThresholdExceeded` is in Ohms.

[2019-10-01 16:40] kathy-phet commented on #245
can these be set at runtime - through sliders or otherwise - instead of query parameters. It's hard to test with having to reload all the time.

[2019-10-01 16:53] samreid commented on #245
You can set the values dynamically at runtime by using the dev tools.  For example, you can paste these commands in the dev tools and the values update in the sim right away without reloading.

[code]
and
[code]

Please let me know if that helps, or if I should take the time to put a control UI in the sim.  If you would like to try a control UI in the sim, please recommend ranges for each paramete

[2019-10-01 16:57] samreid commented on #245
On second thought, I'm seeing cases where changing this in dev tools may not trigger a recomputation in the sim, since they are buried in a DerivedProperty which only triggers when the current through the battery changes.

@kathy-phet please let me know whether dev tools commands is OK (if I fix it up to update right away) or whether I should build a UI for this experimentation.

[2019-10-02 02:28] ariel-phet commented on #245
@samreid I see the dilemma, We can get close with some parameters, but unfortunately I think we need the current threshold to be pretty high.

Couldn't you have logic that basically goes, once the battery resistance is set to true, it only gets reset to false if there is a change in the matrix describing the circuit? So if the circuit is untouched, the battery resistance remains, but if a wire is

[2019-10-02 03:07] samreid commented on #245
The problem is that when the battery resistance is enabled, that counts as a change in the matrix and hence would cause the battery current to be recomputed.  It would be very complicated to add infrastructure that lets circuit elements track the reasons behind circuit recomputation (say, so the battery could ignore recomputations caused by its own resistance being enabled).  It would be easier an

[2019-10-02 18:46] ariel-phet commented on #245
@samreid understood.

Considering this is a "frame by frame" type calculation, we could in theory then easily implement a resistance that depends on current threshold correct? So there might be a nearly imperceptible flicker at first, but then the current will settle. I assume a linear or such map would be able to be implemented, or a few current thresholds and corresponding resistances? I am pret

[2019-10-02 21:33] samreid commented on #497
The commit uses 3 decimal places for values less than 0.02. I tested the example in the bottom right of https://github.com/phetsims/circuit-construction-kit-common/issues/497#issuecomment-535601130 and the current is actually `0.0009499999578110875` which rounds to `0.001` instead of `0.000`.  @arouinfar can you please review?

[2019-10-03 14:27] ariel-phet commented on #245
@samreid actually I might need to think about this some more...what I was thinking will work in many cases...but not in all...

[2019-10-03 20:34] samreid commented on #520
We discussed today and agreed to go with "Circuit Construction Kit: AC"

[2019-10-03 20:38] samreid commented on #518
We would like to try 2x ammeter, 2x voltmeter, but only 1x of each chart.

[2019-10-03 20:57] samreid commented on #508
We discussed this and could not think of better alternatives (unless there is some way to leverage the directionality of electrons), we would like to give this a try.

[2019-10-04 22:06] samreid commented on #518
If we are going to limit the number of voltmeters to 2, then I think I should code it like `model.voltmeter1` and `model.voltmeter2`.  However, if we anticipate PhET-iO should be able to create more than 2, then I might put group them in an array or Group, like `model.voltmeters.voltmeter_1`, etc.  @arouinfar, @ariel-phet or @kathy-phet what do you think?

[2019-10-04 22:12] samreid commented on #520
I asked on slack:

[2019-10-04 22:14] samreid commented on #520
I renamed the repo, next I'll rename the occurrences in perennial data lists.

[2019-10-04 22:15] samreid commented on #520
Renamed lists in https://github.com/phetsims/perennial/commit/4d84da90a1b73d7a0f4a94b1de63e5408126db73

[2019-10-04 22:25] samreid commented on #520
The majority of this work is complete, leaving open to remind me to double check if CT or phettest or any other service needs to be restarted.

[2019-10-04 22:51] samreid commented on #508
Proposed fix implemented, @arouinfar can you please review?

[2019-10-07 16:01] ariel-phet commented on #518
I really think more than 2 is overkill. Generally comparing/contrasting 2 parts of a circuit would be the most pedagogically useful in my opinion (such as voltage drop in the symmetric cases of series and parallel resistors). I also think with the size of the play area, 3 would just get unnecessarily crowded.

[2019-10-07 16:15] jessegreenberg commented on #452
It has been a several years since I worked on CL:B but generalizing definitely seems nice and worth it to me. I took a quick look through the files and while some like CLBModelViewTransform use CLBConstants for defaults it seems like they are not strictly tied to CLB.

[2019-10-07 17:22] kathy-phet commented on #518
I think 2 is sufficient. And agree with Ariel, that 3 is getting too crowded.

[2019-10-07 23:14] arouinfar commented on #518
Thanks for checking in @samreid. Like @kathy-phet and @ariel-phet, I don't think we need to allow more than 2 meters.

[2019-10-08 22:35] samreid opened #523 "Should the capacitor size or plate separation change?"
Would you like the plate size or separation to change when the user changes the capacitance?  I don't think it changes in the Java version.

[2019-10-10 15:42] samreid opened #524 "How to simulate charges passing between the capacitor plates?"
We would like to show that no electrons pass between the capacitor plates.  In Java this was accomplished with constructive area geometry, creating many clipping areas where the electrons aren't shown in front of the capacitors.  The desired behavior is something like so:

![Kapture 2019-10-10 at 9 40 52](https://user-images.githubusercontent.com/679486/66584307-1f7a7a00-eb42-11e9-913e-aeaa68864b4

[2019-10-10 15:53] jonathanolson commented on #524
I'm not sure I understand the exact desired behavior, as it seems like electrons are shown in front of the capacitors in some situations in the animations above? Do you mean they shouldn't be shown between the plates?

[2019-10-10 15:55] samreid commented on #524
It's supposed to be a pseudo-3D effect.  In the topmost animation, the left plate is " in front", and electrons flow into it.  Then they flow out of the back of the right plate, so are "behind" it.

[2019-10-10 16:13] jonathanolson commented on #524
I'm curious if splitting the capacitors into two nodes, one layered in front of the electrons, and the other behind would work? That's probably the highest-performance option. Alternatively having a clipping region defined for the electrons.

CAG might work too, but performance would be potentially an issue, unless it's smart about knowing when to use it (i.e. don't CAG every single electron shape

[2019-10-10 17:03] samreid commented on #524
Here's initial testing of per-node clipping:

[code]

[2019-10-10 23:49] samreid opened #525 "Make it easier to iterate during development"
During development, it is time consuming to have to rebuild a circuit each time in order to test a feature.  For instance, in fine tuning the clipping region for electrons flowing through a capacitor, it would be nice to be able to load the simulation with a completed circuit.  As it stands now, each time I want to run a test, I have to drag several components from the toolbox and connect them.

[2019-10-10 23:51] samreid commented on #525
We had one way to save/load circuits for the black-box study.  Another way would be to code that imperatively to run during startup.  I wonder how PhET-iO state might help.

[2019-10-11 19:48] samreid commented on #513
Instrumentation may help us save state and iterate for #525, I'll make initial commits here.

[2019-10-13 03:50] samreid commented on #525
After work in #513 and the preceding commit, it is possible to save and load circuits for iteration.  This uses the current PhET-iO paradigm of PhetioGroup, and eliminates the former custom strategy.  We can use this for iteration during development.

[2019-10-13 03:50] #525 closed

[2019-10-13 03:54] samreid commented on #520
All set, closing.

[2019-10-13 03:54] #520 closed

[2019-10-14 13:55] samreid commented on #524
From slack:

Sam Reid 9:49 AM
I think I need to do something like Node.localToParentShape(), but all I can find are bounds and point.  What should I do?

Jonathan Olson 9:50 AM
node.transform.transformShape( shape ) would work. Or shape.transformed( node.matrix ). Let me know if named varieties would be good long-term

Sam Reid 9:50 AM
Would I need to do the inverse of one of those?

Jonathan Olso

[2019-10-14 14:45] KatieWoe opened #526 "CT false is not a function"
Not in the common repo, but seems to impact all the cck sim repos, so putting the issue here.  There is also a black box study error that looks related, but if it's not, let me know.
[code]

[2019-10-14 15:52] samreid commented on #526
That commit will hopefully fix it.  I'll close for now and we can reopen if it appears again.

[2019-10-14 15:52] #526 closed

[2019-10-14 16:30] samreid commented on #524
After the preceding commit, everything is looking good for lifelike.  We will also need to do the same thing for schematic.

[2019-10-14 17:40] samreid opened #527 "Clip electrons in battery schematic view"
From #524, I noticed that charges are clipped between schematic capacitor plates but not batteries.  @arouinfar should we also apply clipping to the electrons when they appear in schematic batteries?

![image](https://user-images.githubusercontent.com/679486/66771405-6ab0c780-ee77-11e9-8746-54c4834a806a.png)

[2019-10-14 17:53] samreid commented on #524
Implemented above, working much better than in Java.  Some minor TODOs marked in the code and one side issue opened above.  Closing.

[2019-10-14 17:53] #524 closed

[2019-10-17 21:36] samreid commented on #452
In https://github.com/phetsims/scenery-phet/issues/537 I ported Capacitor Lab: Basics CapacitorNode to scenery-phet.  That code still needs to be reviewed, and there are some follow-up items, but I'll create separate issues for those.  Closing.

[2019-10-17 21:36] #452 closed

[2019-10-17 21:39] samreid opened #528 "Issues from other repos that need to be addressed before next publication."
Issues from other repos that need to be addressed before next publication.

[2019-10-18 02:48] samreid opened #529 "Capacitor minus charges should be upside-up when the capacitor is horizontal"
From https://github.com/phetsims/circuit-construction-kit-common/issues/452, we would like to rotate all of the minus charges 90 degrees so they are upside up when the capacitor is left-right.

It may also be possible or easy to always keep the plus and minus signs "upside-up", but it may look odd or have performance issues.  I'll keep it in mind during investigation.

[2019-10-18 02:49] samreid opened #530 "Left wire should be in front of the front plate."
From #452, Left wire should be in front of the front plate.

[2019-10-18 04:17] samreid commented on #245
For my reference, here is a verbose patch with extra debugging and console statements:

<details>

[code]
</details>

[2019-10-18 04:40] samreid commented on #245
I haven't enabled PhET-iO in package.json yet, so cannot publish a phet-io dev version, but here's a link to phettest that exercises the commits above (bear in mind that master is unstable and this may not be a good permanent reference)

[shorted battery with separate light bulb circuit on phettest](http://phettest.colorado.edu/circuit-construction-kit-ac/circuit-construction-kit-ac_en.html?brand=

[2019-10-18 12:43] samreid opened #531 "Address TODOs"
Currently at 82 TODOs

[2019-10-21 02:17] samreid commented on #530
Fixed, closing.

[2019-10-21 02:17] #530 closed

[2019-10-21 02:34] samreid commented on #529
Fixed, closing.

[2019-10-21 02:34] #529 closed

[2019-10-21 16:29] samreid commented on #518
Fixed in the commits and working well in local testing, closing.

[2019-10-21 16:29] #518 closed

[2019-10-21 16:34] samreid commented on #361
I'll look into these as part of #531

[2019-10-21 16:34] #361 closed

[2019-10-22 03:21] samreid commented on #523
I noticed in the design doc:

The distance between the plates will inversely scale with the capacitance.

For a parallel-plate capacitor, capacitance, C, is given by:  C=Ae/d

![image](https://user-images.githubusercontent.com/679486/67257347-c61b2080-f448-11e9-99d5-292157e62eed.png)

[2019-10-23 12:06] samreid commented on #523
The plate separation now changes, but I'll need to update the clipping regions for the wires and electrons.

[2019-10-23 12:06] #523 closed

[2019-10-23 12:08] samreid opened #532 "The clipping regions for wires and electrons should update as a function of capacitor plate separation"
After completing https://github.com/phetsims/circuit-construction-kit-common/issues/523, I need to change the clipping regions for the wires and electrons.  The two main variables I need are the center of each plate and the edge of each plate.

[2019-10-23 12:13] samreid opened #533 "Stopwatch should appear near the checkbox"
Currently the stopwatch appears in an arbitrary location far to the top left, it seems more useful to have it appear near the checkbox.

[2019-10-23 12:21] samreid opened #534 "Charts should show the units on the vertical axis"
Charts should show units on the vertical axis.

[2019-10-23 12:21] samreid commented on #534
Like this:
![image](https://user-images.githubusercontent.com/679486/67392208-5d719800-f55d-11e9-90ec-9cea60da7340.png)

[2019-10-23 12:22] samreid opened #535 "Charts should show grid labels on the vertical axis"
Charts should show tickmarks on the vertical axis, like this:

![image](https://user-images.githubusercontent.com/679486/67392254-70846800-f55d-11e9-90f6-3c00e9602484.png)

[2019-10-23 12:22] samreid opened #536 "Charts should have zoom in/out buttons"
Charts should have zoom in/out buttons, like this:

![image](https://user-images.githubusercontent.com/679486/67392303-86922880-f55d-11e9-9180-c765fc48b571.png)

[2019-10-23 15:48] samreid commented on #536
@arouinfar before I start on this, I want to double check on the layout.  It seems unfortunate to have to give up so much chart space for the zoom buttons.  Would it be possible to put them in the bottom left corner, which is already kind of an unused block of space?  Or maybe it's not too important to keep all of the chart horizontal space?  I'm happy to proceed as it's designed, just wanted to d

[2019-10-23 15:55] samreid opened #537 "Create lifelike inductor view"
Lifelike inductors should look something like this:

![image](https://user-images.githubusercontent.com/679486/67411620-27dba780-f57b-11e9-802d-e27b25092bf0.png)

[2019-10-26 02:43] samreid opened #538 "It seems like the plate charge should change when the capacitance changes"
Currently in the simulation, if you wire up a capacitor to a battery, then change the capacitance, the displayed charge on the capacitor remains the same and no charge flows.  But I suspect it should change according to `q=CV`.  But when changing the capacitance, will the current also flow through the circuit?  I'm not sure why it doesn't already have the expected behavior, and I'm not sure how co

[2019-10-27 20:17] samreid commented on #533
Fixed, closing.

[2019-10-27 20:17] #533 closed

[2019-10-27 20:21] samreid opened #539 "AC source should have settable phase on lab screen"
AC source should have settable phase on lab screen

[2019-10-27 20:21] samreid opened #540 "AC Source should have settable internal resistance on the lab screen"
AC Source should have settable internal resistance on the lab screen

[2019-10-27 20:22] samreid opened #541 "The capacitor controls should have a "clear capacitor" button"
The capacitor controls should have a "clear capacitor" button.  I can add a scaffolding for it, but I'll also assign @arouinfar since we'll need to design an icon.

[2019-10-27 20:23] samreid opened #542 "The inductor should have a clear button"
Like #541 the inductor will need a clear button.

[2019-10-27 20:24] samreid opened #543 "Make sure carousel item order is as specified"
I need to double check that the carousel item ordering is as specified for all the screens in AC.

[2019-10-27 20:26] samreid commented on #449
All problems noted here are listed in other issues, closing.

[2019-10-27 20:26] #449 closed

[2019-10-27 20:32] samreid commented on #540
This will be in an advanced panel like so:

![image](https://user-images.githubusercontent.com/679486/67641255-88921980-f8c6-11e9-8e01-1857ad0f85e8.png)

[2019-10-27 20:33] samreid opened #544 "Check units for capacitor"
We should check on the values for C=keA/d to make sure the values are reasonable.

[2019-10-27 20:37] samreid commented on #541
I noted there are some icon ideas in the design doc.

[2019-10-27 20:37] samreid commented on #542
I noted there are some icon ideas in the design doc.

[2019-10-27 20:45] samreid opened #545 "Should the AC source have a "reverse" button?"
A few places in the design doc mention a "reverse" button for the AC source.  However, this is not shown in the mockups (unless I missed it).  Is this necessary?

[2019-10-27 21:07] samreid commented on #544
Using a 0.2 F capacitor, with e0 = 8.85E-12, we have:

0.2 = 8.85x10 -12 * A/d
d= 4.425e-11 * A

It seems we are really "cartooning" up the plate separation relative to plate areas.  @arouinfar should we do anything about this, or leave it as-is?  You can see the current version of plate depiction on phettest.

[2019-10-27 21:12] samreid commented on #543
I checked that the carousel items are as indicated in the design doc, closing.

[2019-10-27 21:12] #543 closed

[2019-10-28 14:31] gregmax17 opened #546 "Negative to Negative allows Circuit"
I attached a screen shot to show a better example. I have a negative and negative attached yet the lightbulb is lit up.

<img width="465" alt="Screen Shot 2019-10-18 at 9 57 43 AM" src="https://user-images.githubusercontent.com/220331/67685620-0869c380-f95b-11e9-9ad9-113756531c4c.png">

[2019-10-28 21:24] arouinfar commented on #545
@samreid the edit panel of the AC sources is shown in the [Editing component values](https://docs.google.com/document/d/1bueLDNUhlGuYUMFVvQW2wlZMRknLG7ClZfVMd0GL6ag/edit#heading=h.gpu1ymxti715) section of the design doc. The reverse button is the same as the battery's.
![image](https://user-images.githubusercontent.com/8419308/67718965-826b6e00-f996-11e9-92f2-01761252144d.png)

When the orientatio

[2019-10-28 21:26] samreid commented on #545
Thanks! I see it now.  Also, I wanted to make sure the control is necessary.  Perhaps because the wave oscillates, it will be unimportant or maybe even confusing to switch its polarity.  Why would a user want to flip an AC source?  Just wanted to understand better before I start on this part.

[2019-10-28 21:31] arouinfar commented on #544
@samreid the behavior on master is what we had envisioned. At minimum capacitance, the plates are as far apart as possible. At maximum capacitance, the plates are as close as possible (while still looking reasonable). Between the extrema, the separation scales linearly. These distances are of course exaggerated, but the goal here is to have some visual indication of the capacitance. This also show

[2019-10-28 21:31] #544 closed

[2019-10-28 22:46] arouinfar commented on #541
@samreid if you need a place-holder, I would suggest using the reset icon, which is what is in the latest version of the mockups.

![image](https://user-images.githubusercontent.com/8419308/67720045-a16aff80-f998-11e9-9aef-c7bcbd9b0fdc.png)

Looking at the [4/9/19 meeting notes](https://docs.google.com/document/d/1bueLDNUhlGuYUMFVvQW2wlZMRknLG7ClZfVMd0GL6ag/edit#heading=h.ofumvjk8grba), another su

[2019-10-28 22:47] arouinfar commented on #542
@samreid if you need a place-holder, I would suggest using the reset icon, which is what is in the latest version of the mockups.

![image](https://user-images.githubusercontent.com/8419308/67720045-a16aff80-f998-11e9-9aef-c7bcbd9b0fdc.png)

Looking at the [4/9/19 meeting notes](https://docs.google.com/document/d/1bueLDNUhlGuYUMFVvQW2wlZMRknLG7ClZfVMd0GL6ag/edit#heading=h.ofumvjk8grba), another su

[2019-10-28 22:57] arouinfar commented on #538
That sounds really buggy to me. I would also expect the charge to change in accordance with `q=CV`. The Java sim appears to handle the charge density correctly when changing C or V. @samreid can you investigate?

[2019-10-28 23:00] arouinfar commented on #527
@samreid I don't think we need to be worried about a clipping mask for the battery. The gap in the capacitor is physical and matches the electron flow of the lifelike circuit, so the clipping mask feels natural.

[2019-10-28 23:00] #527 closed

[2019-10-28 23:17] arouinfar commented on #536
We've discussed several options for the placement of the zoom buttons. In all the mockups below, the actual grid area is the same size, but the body of the tool becomes larger, depending on the zoom button placement.  These layouts all felt really awkward to us, which is why we settled for the layout shown in https://github.com/phetsims/circuit-construction-kit-common/issues/536#issue-511286522.

[2019-10-29 15:51] samreid commented on #546
If those are all 9 volt batteries, then the net voltage will be 9 + 9 - 9 volts = 9 volts, still enough to power the light bulb.

[2019-10-29 15:53] samreid commented on #532
Fixed, closing.

[2019-10-29 16:50] ariel-phet commented on #542
@arouinfar agreed with (4) - but it seems an eraser icon could also work

[2019-10-29 16:53] ariel-phet commented on #541
I like the one on the left here. I think you could use the same button for the inductor and the capacitor actually. I view this as sort of "removing the electricity" button in layman's terms, and I think that is fine for both the inductor and capacitor. I don't think we need to get too technical that we are clearing the magnetic field, so I think a clear icon would be the best for both. (and I thi

[2019-10-29 19:08] samreid commented on #451
Fixed, closing.

[2019-10-29 19:08] #451 closed

[2019-10-29 19:12] #546 closed

[2019-10-30 00:09] samreid commented on #537
I implemented a rough draft today, and it is looking like this:

![image](https://user-images.githubusercontent.com/679486/67818517-24628780-fa77-11e9-8536-3225ccdad9e3.png)

@arouinfar can you please review on phettest and provide feedback?

[2019-10-30 01:27] samreid commented on #541
I also prefer the icon on the left.  I added it for both the capacitor and inductor.  @arouinfar can you please review on phettest?

[2019-10-30 01:29] samreid commented on #542
Based on the nice idea in https://github.com/phetsims/circuit-construction-kit-common/issues/541#issuecomment-547523152, I added the "ban" lightning bolt for both the inductor and the capacitor.  @arouinfar can you please review on phettest?

[2019-10-30 03:25] samreid commented on #539
Like this:

![image](https://user-images.githubusercontent.com/679486/67826575-985e5900-fa92-11e9-9543-83699617833a.png)

[2019-10-30 03:43] samreid commented on #539
From slack, I said:

Jonathan Olson 9:41 PM

Sam Reid 9:42 PM

[2019-10-30 03:58] arouinfar commented on #539
@samreid I'm fairly certain this component is called a NumberSpinner.

[2019-10-31 01:35] samreid commented on #539
I added a settable phase control, but there is a problem to discuss.  In order to smoothly and continuously change the frequency without disrupting the waveform, I've been matching the phase shift when frequency changes.  This makes for great waveforms, but it seems odd that the phase control changes as you change the frequency.  I considered adding 2 phase controls: (a) a latent one which is used

[2019-10-31 17:42] arouinfar commented on #542
@samreid this is looking good on master. I'll tag for design meeting for the team's sign off.

[2019-10-31 17:43] arouinfar commented on #541
@samreid this is looking good on master. I'll tag for design meeting for the team's sign off.

[2019-10-31 20:42] samreid commented on #545
We decided this does not clearly serve a learning goal, and hence will not be prioritized for next publication. Deferring.

[2019-10-31 20:46] samreid commented on #542
The design team agreed this icon works well for inductor and capacitor, closing.

[2019-10-31 20:46] #542 closed

[2019-10-31 20:46] samreid commented on #541
The design team agreed this icon works well for inductor and capacitor, closing.

[2019-10-31 20:46] #541 closed

[2019-10-31 21:00] samreid commented on #539
At design meeting, we decided that matching the phase as the frequency is changed is not important.  Keeping the phases simple and aligned is more important.  We will delete this part.

[2019-10-31 21:05] samreid commented on #537
We decided we would like to add a wire to the left and right so you can see the electron path:

![image](https://user-images.githubusercontent.com/679486/67986035-c6a57b00-fbef-11e9-835c-49fb01b694ef.png)

[2019-10-31 21:11] samreid commented on #503
Maybe we could use ParametricSpringNode for one of these views.

From today's meeting, we would like to add a global options menu to select IEC vs IEEE.  Defaults for 1.0 will be IEEE, since that is what we have been doing.  Perhaps if we have an assistant, they can help with the different schematic shapes.

[2019-10-31 21:12] samreid commented on #503
@kathy-phet also noted that it was tricky choosing a bulb schematic that matched our vertex layout.  That may need to remain the same between IEEE/IEC

[2019-10-31 21:14] samreid commented on #503
@kathy-phet points out that a query parameter should be able to select between these options.

[2019-10-31 21:15] samreid commented on #457
During design meeting, @ariel-phet pointed out that the random motion would be distracting from the main learning goals.  Closing.

[2019-10-31 21:15] #457 closed

[2019-10-31 21:17] samreid commented on #436
During design meeting, we discussed that in the future we may show a household circuit that has 50-60Hz and doesn't depict electrons.  Closing.

[2019-10-31 21:17] #436 closed

[2019-10-31 21:34] samreid commented on #507
In discussion today, @arouinfar and I agreed it would be nice to keep it as a carousel, and add grab bag items in the later pages.  @arouinfar will determine what appears in each page.

[2019-10-31 21:35] samreid commented on #505
@arouinfar and I agreed to close this issue, and address the preceding comment during pixel polishing phase.

[2019-10-31 21:41] samreid commented on #245
At today's meeting, @ariel-phet and @arouinfar and I reviewed master with these values:

[code]

We found the behavior (with the 2-phase matrix solve) is mostly what we need.  @ariel-phet said he would test and fine-tune the behavior after I publish a dev version.

[2019-11-01 14:52] KatieWoe opened #547 "CT Util is assigned a value but never used"
Happening in a number of the cck sims
[code]

[2019-11-01 14:59] samreid commented on #547
Fixed, thanks!

[2019-11-01 14:59] #547 closed

[2019-11-02 20:05] samreid commented on #245
I published a dev version with query parameters for the battery threshold and the subsequent internal resistance.  It uses the 2-phase strategy.  I tested with these values:

https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.2/phet/circuit-construction-kit-ac_en_phet.html?batteryCurrentThreshold=10000&batteryInternalResistanceWhenCurrentThresholdExceeded=0.5

which means aft

[2019-11-02 20:17] samreid commented on #503
https://www.ee.iitb.ac.in/~spilab/Tips/ansii_graphic_symbols_for_electrical_and_electronics_daigrams_1993.pdf is titled:

American National Standard
Canadian Standard
Graphic Symbols for Electrical and
Electronics Diagrams
(Including Reference Designation Letters)

and shows:

![image](https://user-images.githubusercontent.com/679486/68076520-2a0fe400-fd7b-11e9-9178-a065bc0fdc74.png)

![image](htt

[2019-11-02 20:20] samreid commented on #503
Wikipedia shows:

![image](https://user-images.githubusercontent.com/679486/68076545-87a43080-fd7b-11e9-8733-0880ad99e2cf.png)

@arouinfar can you please review this and the preceding comment and let me know what you recommend for IEEE?  I was confused about whether we are showing the magnetic core bars, or why the IEEE doc says "this symbol is deprecated and should not be used".

I'll also procee

[2019-11-03 17:24] samreid commented on #503
I added this one:

![image](https://user-images.githubusercontent.com/679486/68089246-12406a80-fe24-11e9-8563-d1615eaac13f.png)

Unassigning until I hear back about the preceding comments.

[2019-11-08 17:47] samreid opened #548 "Disposing a circuit element triggers 2 vertex disposals but no circuit element model or view disposal."
Disposing a circuit element triggers 2 vertex disposals but no circuit element model or view disposal.

Put a console.log in PhetioGroup dispose to test this.

[2019-11-11 21:15] ariel-phet commented on #245
This solution is getting quite close, it works for most "normal" use cases, but with multiple batteries with high voltage, it gets a bit suspect (we start breaking ohm's law and such. @samreid said that we have easy access to the battery voltage and I think we can introduce a simple scaling factor to the internal resistance as a function of battery voltage (combined with the current threshold and

[2019-11-11 21:38] samreid commented on #245
Here's a new version:

https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.4/phet/circuit-construction-kit-ac_en_phet.html

With these query parameters:
[code]

They are combined like so:

[code]

For example:
&batteryCurrentThreshold=1000&batteryInternalResistanceWhenCurrentThresholdExceededVoltageScaleFactor=0.01

has current threshold 1000A, no offset and a scale factor of

[2019-11-12 16:10] KatieWoe opened #549 "CT add same listener and should not call"
[code]
and
[code]

[2019-11-16 21:46] samreid commented on #549
I fixed the flip issues (from both stack traces), haven't been able to reproduce the zoom issue.  I'll close this and open a new zoom issue if it recurs.

[2019-11-16 21:46] #549 closed

[2019-11-18 19:40] samreid opened #550 "The coin can read current but not voltage"
During testing, I noticed that the coin can detect current with the current sensor but not voltage with the voltmeter.  This is true in master and the published DC version.  I can't recall if this is by design, or by an oversight, or if we wanted to implement this but didn't know how or didn't have time.  @arouinfar can you please comment?

[2019-11-21 16:01] KatieWoe opened #551 "CT various for different sims"
[code]
[code]
[code]
[code]

[2019-11-27 03:57] samreid commented on #537
Using a single path with fill+stroke leaves an artifact at the corners:

![image](https://user-images.githubusercontent.com/679486/69692445-51628400-108f-11ea-8953-ff12f814caf5.png)

As a workaround, I'll use two fills instead of fill+stroke.

[2019-11-27 04:37] samreid commented on #537
I implemented this using fills.  The implementation is straightforward, but it seems best to open a scenery issue to track that underlying problem.  The new implementation with fills looks like this:
![image](https://user-images.githubusercontent.com/679486/69694086-e7e57400-1094-11ea-86c1-0cb3d64f1ebb.png)

Closing.

[2019-11-27 04:37] #537 closed

[2019-11-27 04:48] samreid commented on #531
We are down to 30 TODOs, and I've marked several as pertaining to phet-io or black-box-study.  Others have related issues.

[2019-11-27 05:02] samreid commented on #539
I removed the code that matches phase as frequency is changed, and restricted the phase control to the lab screen.  I also internationalized the label.  Closing.

[2019-11-27 05:02] #539 closed

[2019-12-03 15:01] samreid commented on #535
This was more work than I expected because ScrollingChartNode was previously more qualitative.  It is now powered by ModelViewTransform2 and the labels are showing nicely:

![image](https://user-images.githubusercontent.com/679486/70062341-138bc100-15a3-11ea-84d8-f94488fe640f.png)

In other issues, we'll make sure the labels dynamically update when the zoom changes.  Closing.

[2019-12-03 15:01] #535 closed

[2019-12-03 15:05] samreid commented on #534
Fixed in the latter commit, closing.

[2019-12-03 15:05] #534 closed

[2019-12-03 16:56] samreid commented on #536
One more question.  Should the "minus" button be on top because it zooms out and makes the values larger?

[2019-12-03 17:27] arouinfar commented on #536
@samreid I think we generally keep the zoom in button on the top or right, so I would leave things how they are in the mockup.

[2019-12-03 17:32] samreid commented on #536
Thanks, I committed an initial version, please review on phettest for reference.  Some questions:

* Should number of decimal places depend on value or perhaps on zoom level?  We want to show -2 -1 0 1 2, but also -0.5, 0, 0.5, right?
* What should the zoom ranges be?  Should they be the same for the voltage chart and current chart?

[2019-12-05 05:16] samreid commented on #538
I fixed this in the preceding commits.  @arouinfar can you please review the behavior on phettest?

[2019-12-05 05:17] samreid opened #552 "A capacitor connected to a 0-volt battery should show no charge"
It currently shows a little charge, like so:

![image](https://user-images.githubusercontent.com/679486/70206177-d9760880-16e3-11ea-8772-d3103bd6658e.png)

[2019-12-05 05:24] samreid commented on #552
Proposed fix committed, closing.

[2019-12-05 05:24] #552 closed

[2019-12-07 17:00] samreid commented on #540
Here is how it currently looks in CCK DC:

![image](https://user-images.githubusercontent.com/679486/70377975-35a17e00-18d8-11ea-9afe-0145752706af.png)

The code will be simpler, easier to maintain and instrument if we unify it across DC and AC sims.  Should the DC simulation be revised to use a pattern more like the one proposed for AC, perhaps using the term "Battery" instead of "Source"?

[2019-12-10 00:01] arouinfar commented on #540
@samreid I would be fine with using the layout shown in https://github.com/phetsims/circuit-construction-kit-common/issues/540#issuecomment-546731448 for both sims if it is possible for AC and DC to use different strings. For AC, "Source" is the more appropriate term, while "Battery" is more appropriate for DC.

[2019-12-11 00:22] arouinfar commented on #538
Looks good in master @samreid!

[2019-12-11 00:22] #538 closed

[2019-12-11 00:39] arouinfar commented on #550
Currently, the voltmeter is only able to read on the wires and vertices, while the non-contact ammeter can read within the bounds of any circuit component. The bounding box for circuit components is rectangular, which generally aligns with the physical bounds of the circuit components, but there are some odd corner cases such as this:
![image](https://user-images.githubusercontent.com/8419308/7058

[2019-12-16 15:38] KatieWoe commented on #551
[code]

[2019-12-16 19:05] samreid commented on #550
I'm happy to leave things as they are, just wanted to make sure it was a deliberate choice, and that we have a way to track it.  Closing.

[2019-12-16 19:05] #550 closed

[2019-12-24 04:42] ariel-phet commented on #245
Some parameters I found that worked well:

https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.4/phet/circuit-construction-kit-ac_en_phet.html?batteryCurrentThreshold=4000&batteryInternalResistanceWhenCurrentThresholdExceededOffset=4e-5&batteryInternalResistanceWhenCurrentThresholdExceededVoltageScaleFactor=2e-4

[2019-12-27 21:24] samreid commented on #245
I turned the parameters from the preceding comment into the new defaults.  @ariel-phet what's next for this issue?

[2019-12-28 11:47] samreid commented on #245
CT discovered that the AC Voltage source can also exceed its current threshold, but it crashes since it doesn't have the extra features we added to Battery:

[code]

Should the "if any battery exceeds its current threshold, increase its resistance and run the solution again" rule apply to AC Sources as well?  Or should I opt-out for them?

[2020-01-07 16:35] ariel-phet commented on #245
For design meeting we should look at the behavior of the sim with the new parameters I suggested in https://github.com/phetsims/circuit-construction-kit-common/issues/245#issuecomment-568650850 (and that @samreid has now made defaults). A few things to consider:

1. For a single battery and single bulb with a short, these parameters work well over the entire voltage range

2. For multiple batterie

[2020-01-07 18:08] oliver-phet commented on #429
Another reply from the original user:

[2020-01-09 20:45] samreid opened #553 "Fix the length scaling of wires"
Let's call a battery 5cm and use it to rescale the physics.

[code]

This should reduce the overall resistance.

We will try to have the correct copper resistivity, but if this change causes too many odd ramifications, we can potentially change the resistivity.

In the lab view, we'll want the updated "resistivity" control to make sure it creates a measurable change.

See #245

@ariel-phet recomme

[2020-01-09 20:48] samreid commented on #245
From today's meeting, we would like to try apply the same pattern from batteries to AC voltage sources.

[2020-01-09 20:59] samreid commented on #429
Co-assigning @ariel-phet since this might be a good task for Isam.

[2020-01-09 21:02] arouinfar commented on #429
1/9/20 design meeting

* Options menu with radio buttons for IEEE & IEC
* @arouinfar will make a table of components in each style
* Isam will be working with @samreid on this.

[2020-01-09 21:27] samreid commented on #512
Notes from today's meeting.  Cut the front paw junction when current level exceeded.  Show dog turns head to side, and a short bark sound.

[2020-01-09 23:23] arouinfar commented on #536
Discussed in the 1/9/20 design meeting.

The zoom button placement looks good.
<img width="316" alt="Screen Shot 2020-01-09 at 2 48 49 PM" src="https://user-images.githubusercontent.com/8419308/72107734-32424d80-32ef-11ea-9b84-ec58fff8ebe8.png">

Currently the zoom levels increase by a factor of 10, with max voltage increasing from 1 V to 1000 V. These step sizes are too large. I will play with it

[2020-01-09 23:31] arouinfar commented on #245
1/9/20 design meeting notes:

* The values recommended by @ariel-phet look good.
* We decided to proceed with adjusting the length scaling of the wires, see #553
* We did not make a decision about (4) in https://github.com/phetsims/circuit-construction-kit-common/issues/245#issuecomment-571666663
* @samreid will try to generalize the pattern to the AC voltage sources

@ariel-phet I don't know that

[2020-01-09 23:54] arouinfar opened #554 "update resistance of the hand"
A user wrote into phethelp

The resistance of the hand matches the Java version, but it is an order of magnitude too high. Most sources list the value around 100000 ohms.

@samreid please update the value to 100000.

[2020-01-09 23:57] arouinfar commented on #554
This now means that the max current through the hand will be ~4 amps in CCK: DC. Since the hand is disembodied, we do not have the same reservations around electrocution as we do with the dog (#512).

[2020-01-10 00:09] arouinfar commented on #512
1/9/20 design meeting notes

* Update dog resistance to match the hand (100000 ohms)
* Get additional artwork of the dog, head turned to face user with mouth slightly open.
* Treat dog like a fuse. When match current reached (0.1 amps), swap out artwork and play "yip" sound.
* Cut junction at the dog's paw. The mechanics would be identical to using the cut button, severing the connection of all co

[2020-01-10 00:09] arouinfar commented on #512
Assigning @samreid to work on the fuse-like mechanics, but leaving self assigned to work with the graphic artist.

[2020-01-10 00:12] arouinfar commented on #465
@samreid let's include the fuse in the 2nd spot on the 2nd page. The grab bag items will follow in the same order used in CCK: DC.

[2020-01-10 00:15] arouinfar commented on #505
@samreid I think it's better to keep the button placement relative to the carousel position, as there is a possibility that the zoom buttons may get relocated in the carousel pixel polishing done in #507.

I don't think we'll need to make any further changes here, but I'd like @samreid to confirm before closing.

[2020-01-10 00:27] arouinfar commented on #507
1/9/20 design meeting notes

* Carousel on all screens
* Grab bag items on all screens
* @arouinfar will pixel polish the RLC carousel, including icon size and top/bottom padding.

[2020-01-10 15:07] samreid commented on #536
Also, I wanted to let you know the API for the zoom ranges takes an array of ranges, rather than a fixed zoom scale factor that must be applied at every level.  So, for instance you could choose zoom levels like:

[code]

etc.

[2020-01-10 15:08] samreid commented on #554
Also, from our design meeting yesterday, the specification is that the hand should be flammable.

[2020-01-10 15:13] samreid opened #555 "Lifelike/schematic radio buttons should be side by side instead of top/bottom"
From yesterday's design meeting, it sounded like we wanted to make the lifelike/schematic radio buttons side by side instead of top/bottom.  @arouinfar is that your understanding as well?  I didn't see if there was another issue for that.

Somewhat related to https://github.com/phetsims/circuit-construction-kit-common/issues/505

[2020-01-10 22:48] samreid commented on #245
For reference, here is the brightness function which is called with a multiplier of 0.35:

[code]

[2020-01-13 17:16] samreid commented on #245
In the commits, I generalized the "short circuiting voltage source" functionality to apply to both Battery and ACVoltage, and I identified and resolved two sign errors.  It's behaving much better now.  @ariel-phet can you please review on phettest?  If that checks out--is there anything else to do for this issue?

[2020-01-13 17:38] samreid commented on #554
I changed the hand resistance to 100000 Ohms, @arouinfar would you like to test in context?  Close if all is well.

[2020-01-13 17:52] samreid commented on #554
I noticed there are other parts to update, self assigning until fully fixed.

[2020-01-13 20:21] samreid commented on #512
After the above commits, when the current through the dog exceeds the threshold, it barks and splits the junction at the front paws.  I used placeholders for the bark image and audio, and it should be ready to test functionality.  Self-unassigning until we have improved bark image and audio or feedback on this draft.

[2020-01-13 20:22] samreid commented on #429
Self-unassigning, please reassign me when the table of remaining components is ready.

[2020-01-13 20:29] arouinfar commented on #512
@samreid the behavior is looking good! I see the "Bark" text, but I don't actually hear a sound. Not sure if you have a stand-in audio file, or you just have the architecture ready to go once there is a sound to incorporate.

[2020-01-13 20:59] samreid commented on #512
Thanks for letting me know! I had failed to push the *.mp3 file.  After pushing, I confirmed I can hear the audio on phettest.

[2020-01-13 21:03] arouinfar commented on #512
Thanks @samreid. Looks like the mechanics are all in place now.

[2020-01-13 21:10] samreid commented on #465
Currently the code supports a fixed number of items per page.  When I use the same items from circuit-construction-kit-dc/js/intro/view/IntroScreenView.js, this leaves two items on the final page, like so:

[code]

@arouinfar is this acceptable, or should we invest in generalizing this code so that different pages can have different number of items?  If we do generalize that code, how would you wa

[2020-01-13 21:11] samreid commented on #505
Sounds good, thanks!  Closing.

[2020-01-13 21:11] #505 closed

[2020-01-13 21:20] arouinfar commented on #465
@samreid I think the UX of varying the number of slots in the carousel by page would be pretty strange. I don't think we need to go there.

We could decide to move the switch to the 2nd page, which would leave 3 items on the last page, but that could be decided with the pixelpolishing #507.

[2020-01-13 22:00] arouinfar commented on #503
@samreid the schematic inductor looks good in master. I'll go ahead and close this issue since further discussion of the IEEE/IEC symbols belongs in #429.

[2020-01-13 22:00] #503 closed

[2020-01-13 22:12] arouinfar commented on #429
@samreid @ariel-phet it looks like these are the primary differences in the IEEE and IEC standards.

| Component | IEEE | IEC |
| --- | --- | --- |
| Resistor & grab bag items | ![image](https://user-images.githubusercontent.com/8419308/72293306-7f386380-3610-11ea-87d2-b71cda2b43d8.png) | ![image](https://user-images.githubusercontent.com/8419308/72293339-8eb7ac80-3610-11ea-8305-cf4d83a2dd29.png)

[2020-01-13 22:16] arouinfar commented on #555
@samreid this was indeed considered during design meeting, but I don't know that we made a decision. The given the width of the carousel and the aspect ratio of the buttons, the alignment will probably look a bit odd if we stack them side-by-side.
![image](https://user-images.githubusercontent.com/8419308/72296696-7c8d3c80-3617-11ea-90d8-3c1378870d96.png)

As I work on the pixelpolishing in #507,

[2020-01-14 01:04] samreid commented on #540
I committed an initial draft, @arouinfar can you please review it in the DC sim as well as the AC sim?

[2020-01-14 01:09] samreid commented on #554
OK, thanks for your patience.  This one is ready for testing now, please let me know how it goes.

[2020-01-14 04:39] samreid commented on #465
I added the grab bag items to the RC and Lab screens, I agree we can pixel polish the exact order and contents in #507, anything else for this issue?

[2020-01-14 05:39] samreid commented on #553
Changes in the commit:

* A battery is now 0.05m long
* Resistance is now determined as `R = rho * L / A`.  Resistance = resistivity * Length / cross sectional area.  Previous version used R = 1E-5 * L
* Resistivity taken from https://en.wikipedia.org/wiki/Electrical_resistivity_and_conductivity says copper has rho=1.68E-8 Ohm * m
* Wire cross sectional area taken from http://www.sengpielaudio.com

[2020-01-14 18:01] arouinfar commented on #465
Thanks @samreid. Fuse placement looks good, closing.

[2020-01-14 18:01] #465 closed

[2020-01-14 18:18] arouinfar opened #556 "ResetAllButton gets stuck in pressed position"
Occurs in cck-ac and cck-dc on master. When the ResetAllButton is pressed, it gets stuck in the pressed position and the sim freezes.
![image](https://user-images.githubusercontent.com/8419308/72369749-fb3cb500-36bd-11ea-9c7d-f65ec379c45b.png)

The sim will also partially reset -- some of the circuit components will return to the carousel and the radio buttons/checkboxes reset. Tools do not return

[2020-01-14 18:29] samreid commented on #556
Thanks @arouinfar, I pushed a fix for this.  Please close if all is well.

[2020-01-14 18:31] arouinfar commented on #556
Looks good in master, thanks!

[2020-01-14 18:32] arouinfar commented on #556
Actually... the voltage and current charts aren't returning to the toolbox.

[2020-01-14 18:36] samreid commented on #556
I recommend moving the aforementioned comment to a new issue.  It is a different symptom and will have a different solution.  I'll create a new issue now.

[2020-01-14 18:36] #556 closed

[2020-01-14 18:37] samreid opened #557 "the voltage and current charts aren't returning to the toolbox"
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/556, the voltage and current charts aren't returning to the toolbox.

[2020-01-14 18:41] samreid opened #558 "Chart zoom levels are not resetting on "reset all""
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/557, chart zoom levels should reset on "reset all".

[2020-01-14 18:42] samreid commented on #557
Fixed (and one related issue opened), @arouinfar please test and close if this issue is addressed.

[2020-01-14 18:55] arouinfar opened #559 "grab bag value labels left behind on resetAll"
Likely related to #556 #557 #558

Only appears to affect grab bag items.

1. Drag out grab bag item
2. Reset All
3. Turn on values, and the value label of the grab bag item(s) previously in the play area will appear.

![grabbag](https://user-images.githubusercontent.com/8419308/72372750-2a562500-36c4-11ea-8fcc-2fcd3438536a.gif)

[2020-01-14 19:16] samreid commented on #559
It seems like we need to embed household items in a PhetioGroup so they can be treated uniformly and disposed.  See CircuitElementToolFactory

[2020-01-15 04:50] samreid commented on #558
I addressed this in commits for https://github.com/phetsims/griddle/issues/48, closing.

[2020-01-15 04:50] #558 closed

[2020-01-15 05:41] samreid opened #560 "Dropping an item in the toolbox doesn't dispose the readout"
Discovered during https://github.com/phetsims/circuit-construction-kit-common/issues/559, Dropping an item in the toolbox doesn't dispose the readout.

[2020-01-15 05:41] samreid commented on #559
While working on this, I noticed a related issue, so I opened https://github.com/phetsims/circuit-construction-kit-common/issues/560.  But this issue seems to be addressed.  @arouinfar can you please verify?

[2020-01-15 05:51] samreid commented on #560
The proposed fix is working well on my side, and probably also fixed latent bugs in other ways of disposing a circuit element (such as the delete key).  @arouinfar can you please verify?  Close if all is well.

[2020-01-15 14:59] samreid commented on #548
I put a debugger statement in `PhetioGroup.disposeMember` and saw that 2 vertices and one circuit element are disposed from the group when a circuit element is dropped in the toolbox, closing.

[2020-01-15 14:59] #548 closed

[2020-01-15 15:33] KatieWoe opened #561 "CT cannot read property disposeCircuitElement of undefined"
Present in various CCK sims
[code]

[2020-01-15 15:57] samreid commented on #561
I believe this was corrected in 58b9751374c7d0b9603286f527f80a221ed04ce0, please reopen if it recurs.

[2020-01-15 15:57] #561 closed

[2020-01-15 15:58] samreid commented on #551
I've addressed a number of problems across several issues, fuzzing is now working on my local, and a few cells have turned green.  I'll close for now, but we can reopen if it recurs, or we can open a new issue for a new problem.

[2020-01-15 15:58] #551 closed

[2020-01-15 16:54] ariel-phet commented on #553
Hey @samreid for our "near ideal wires" on the first screen lets go with a cross section of around 5e-4 m^2 (that is a pretty big wire diameter wise, but I think on the first screen we are trying to approximate ideal as closely as possible, and we want to see if we can push the resistance of the wires down a bit).

If you can do that and publish a dev version, I can play and we can see if there ar

[2020-01-15 23:28] samreid commented on #553
I increased the wire cross sectional area to 5E-5m^2 and updated the "lots" value of the wire resistivity.  Here's a dev version:
https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.5/phet/circuit-construction-kit-ac_en_phet.html

[2020-01-16 17:15] arouinfar commented on #557
Fixed in master. Thanks @samreid

[2020-01-16 17:15] #557 closed

[2020-01-16 17:15] arouinfar commented on #554
Looks good in master, thanks!

[2020-01-16 17:15] #554 closed

[2020-01-16 17:16] arouinfar commented on #559
Looks fixed in master, thanks!

[2020-01-16 17:16] #559 closed

[2020-01-16 17:17] arouinfar commented on #560
@samreid I never observed the original bug, so I don't know exactly what I'm comparing against. However, the labels/readouts all appear well-behaved in master when disposed.

[2020-01-16 17:17] #560 closed

[2020-01-16 17:24] arouinfar commented on #540
@samreid the accordion box contents look good in cck-dc and cck-ac, but the alignment of "Advanced" is a bit off.
<img src="https://user-images.githubusercontent.com/8419308/72547390-cd847700-3849-11ea-9748-1aacb66a6844.png" width=200>

The padding between the ExpandCollapseButton and the title string is excessive. Let's cut it down so the padding is more like this
![image](https://user-images.git

[2020-01-16 17:25] ariel-phet commented on #553
@samreid I did some quick checks of behavior and physics, as well as looking at the "short circuit" example with both DC and AC. Everything is looking quite nice. Closing - we can always adjust if QA runs into some issues, but I think we are in a good place

[2020-01-16 17:25] #553 closed

[2020-01-16 17:30] ariel-phet opened #562 "Turn off sounds for most items"
@samreid I believe the tambo works currently is that once you turn on sound, it is on for everything, on the lastest version "common" sounds are on for all buttons. Sims like CCK probably need a full sound design before we start using default sounds for common components (fine to leave the sound for the reset all button).

You should see how much effort it is to turn off these other sounds, and we

[2020-01-16 17:33] samreid commented on #562
@Denz1994 or @jbphet can you please advise how this can be accomplished?

[2020-01-16 17:45] Denz1994 commented on #562
@samreid In most cases, I have been able to pass in an option for `soundPlayer` like this:
[code]
This does mean that tambo was added as a dependency for the sim, but the process was reletively straightforward.

[2020-01-16 17:45] arouinfar opened #563 "grab bag item resistance incorrect"
The paper clip, coin, and pencil resistances are incorrect in master.
![image](https://user-images.githubusercontent.com/8419308/72548946-f8bc9580-384c-11ea-92c4-07e31e6b2605.png)

Here are the correct values (latest)
![image](https://user-images.githubusercontent.com/8419308/72548993-1984eb00-384d-11ea-9297-334a5e12960c.png)

[2020-01-16 17:48] Denz1994 commented on #562
Also note @samreid, for classes whose options weren't exposed (due to composition or nesting). I had to go ahead and expose the options. Details are explained in https://github.com/phetsims/sun/issues/547.

Unassigning until further input is needed.

[2020-01-16 19:18] arouinfar commented on #497
@samreid this is looking good in master. Thanks!

[2020-01-16 19:18] #497 closed

[2020-01-16 20:47] arouinfar commented on #508
@samreid this is definitely an improvement. Since we cannot leverage the direction of the electrons, I don't have any ideas for how to address the odd behavior described in https://github.com/phetsims/circuit-construction-kit-common/issues/508#issuecomment-538125486. I think this'll have to do. Tagging #411 to document in the teacher tips.

[2020-01-16 20:47] #508 closed

[2020-01-16 21:22] ariel-phet commented on #245
I think with the latest dev https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.5/phet/circuit-construction-kit-ac_en_phet.html and the various fixes we have made to wire resistance and such, all is looking good here. Closing

[2020-01-16 22:44] samreid opened #564 "Address sign errors"
There are 5 sites noted in the code as potential sign errors.

[2020-01-16 23:41] samreid commented on #562
It does not seem practical to have to pass `soundPlayer: Playable.NO_SOUND` to numerous user interface components.  @jbphet is there a better "shut off valve" for this?

[2020-01-17 00:08] samreid commented on #563
Good catch, please review.

[2020-01-17 00:11] samreid commented on #540
I removed the spacing in the commit, @arouinfar can you please review?

[2020-01-17 00:15] samreid commented on #562
Bumping priority in hopes to address this before Jan 23 dev release.

[2020-01-17 00:15] samreid commented on #536
Bumping priority in hopes to address this before Jan 23 dev release.

[2020-01-17 00:17] samreid commented on #429
@ariel-phet or @kathy-phet or @arouinfar is this feature (query parameter and in-sim option) important for next week's dev release?

[2020-01-17 02:45] kathy-phet commented on #429
No - its not a priority.

[2020-01-17 17:12] jbphet commented on #562
I discussed this with @ariel-phet when common UI sounds were first integrated into master, and at the time we decided that using `soundPlayer.NO_SOUND` was a reasonable solution.  @Denz1994 did it for Build a Molecule and didn't raise any objections.  If this isn't working for you, then my suggestion would be that we tag all of the UI sounds as belonging to the `user-interface` class, and then tur

[2020-01-17 17:14] samreid commented on #562
@ariel-phet or @kathy-phet is this important to complete before next week's dev version?

[2020-01-17 18:29] arouinfar commented on #563
All good in master

[2020-01-17 18:29] #563 closed

[2020-01-18 15:30] samreid commented on #562
Specifying `Playable.NO_SOUND` in many places doesn't sound scalable.  For instance, `Playable.NO_SOUND` occurs in 10 different places across 8 files in Build a Molecule, and if a new user interface component is added, there is a chance that this option would be omitted.  I would recommend we pursue an alternate strategy.  Let's discuss further!

[2020-01-18 15:38] samreid commented on #562
I tried `soundManager.setOutputLevelForClass( 'user-interface', 0 );` but it looks like some or all user interface sounds are not set up with that class.  What would work well for CCK AC is to say "only sounds with class ``sim-specific`` should play", that way there is no opportunity for a sound to sneak in.  Is something like that possible?

[2020-01-19 03:01] samreid commented on #564
From Isam:

[2020-01-19 14:07] samreid opened #565 "Publish a dev version of AC by Wednesday, January 22"
At this week's status meeting, it was requested to publish a dev version by the end of next week.  Aiming to have something ready by Wednesday evening sounds nice, so we can discuss it Thursday.

[2020-01-19 14:07] samreid commented on #565
I asked if this version would require QA testing, and @kathy-phet said design team testing would be sufficient.

[2020-01-20 19:32] jbphet commented on #562
I put all of the common UI sounds into the `user-interface` category and added a line to code to set the output level for these sounds to zero to CCK AC.  This solves the issue that @samreid was describing, at least as well as I understand it.  Back to @samreid for review.

[2020-01-21 17:10] ariel-phet commented on #562
@samreid this is not a requirement for the dev version you were asked to publish. As I mentioned, I just think this sim would require a full sound design before considering if the common component sounds work well with the rest of the simulation. I don't believe sound design is expected for V1, so it seems appropriate to turn these sounds off (except the reset all button).

[2020-01-21 17:23] samreid commented on #562
It seems in CCK AC, it is impossible to generate 0.1 amps through the dog. The dog has a resistance of 100,000 ohms and the battery has a max voltage of 120V, so it would take around 83 batteries (n = 100000*0.1/120) to make the dog bark.  I don't know of any plans to add high-voltage batteries to this sim, so perhaps we should disable the sound altogether?  That way the speaker icon on the naviga

[2020-01-21 17:37] samreid commented on #565
I published a dev version from our current status:
https://phet-dev.colorado.edu/html/circuit-construction-kit-ac/1.0.0-dev.6/phet/circuit-construction-kit-ac_en_phet.html

@ariel-phet @arouinfar @kathy-phet can you please review and let me know if anything must be changed for this checkpoint?

[2020-01-22 07:14] ariel-phet commented on #562
@samreid - I am fine with that for CCK AC, but CCK DC will be able to have the dog bark, so as long as the proposal works for a future update of CCK DC, I am fine going that route for the moment.

[2020-01-22 20:54] arouinfar commented on #540
Looks good in master, thanks @samreid!

[2020-01-22 20:54] #540 closed

[2020-01-22 23:24] arouinfar commented on #536
@samreid let's go with these zoom ranges.

[code]

For each range, there will be a gridline at the midpoint between zero/max and zero/min, which is the current behavior of the voltage chart. For example [-100, 100] would look like this:

![image](https://user-images.githubusercontent.com/8419308/72943579-a4755200-3d33-11ea-8ac1-84e4f7b8ced5.png)

Since all these values are whole numbers divisible

[2020-01-22 23:27] arouinfar commented on #565
@samreid that version is looking pretty good to me. It would be nice to address #536 if it's a quick change, though not critical.

[2020-01-22 23:34] arouinfar opened #566 "Reduce size of slider thumbs"
Noticed during #540 and not required for the dev version needed for #565.

The slider thumbs for the Wire Resistivity and Source/Battery Resistance are quite large.
![image](https://user-images.githubusercontent.com/8419308/72943905-865c2180-3d34-11ea-9810-0ef8a1e6f8cd.png)

@samreid can you reduce the size by 30%? This would buy us a bit of extra vertical space. Currently, the Advanced panel is p