[2016-07-14 17:25] phet-steele opened #181 "Only show edit hint on components from the tool box"
Currently, in each Black Box challenge with a component in Reveal, the screen displays a "Tap circuit element to edit." hint. This is true for all challenges *except* challenge Black Box 2, which doesn't display a hint since Reveal only contains a wire. This could be a dead giveaway to some students; after I showed @arouinfar this, she proposed that the "Tap circuit element to edit." hint only app

[2016-07-14 17:25] phet-steele opened #182 ""Tap circuit element to edit." hint is sticky"
The hint "Tap circuit element to edit." remains on the screen when there are no components left to edit (lightbulbs, resistors, and batteries). It doesn't matter if a component is returned to the tool box, deleted, or Reset All is pressed, the hint will remain until a **wire** is manipulated.
![cckbb11](https://cloud.githubusercontent.com/assets/5863899/16846875/68147680-49ab-11e6-9360-b25a3165d14

[2016-07-14 18:12] pixelzoom commented on #170
Top-level stuff (Screen, ScreenView, Model,...) should be in circuit-construction-kit-black-box-study.

[2016-07-14 18:12] samreid commented on #170
Consensus from meeting: move code to specific repos as much as possible.

[2016-07-16 16:32] samreid opened #183 "The "Show Electrons" checkbox should have a query parameter that disables it."
The "Show Electrons" checkbox should have a query parameter that disables it.  It's unclear whether we should do this with existing phet-io machinery or creation of a new query parameter.

[2016-07-16 16:35] samreid commented on #118
@arouinfar: @kathy-phet said it would be good to spend time working on this now.  She said even  using the new battery image without having the electrons traverse the new wire paths would be an improvement--possibly good enough for the study.

@arouinfar can you provide AI files for the new artwork, accounting for the changes in the preceding comment https://github.com/phetsims/circuit-constructio

[2016-07-16 16:37] samreid opened #184 "Touch areas should be expanded for toolbox components"
On iPad3, it is difficult to drag out the components from the toolbox.  We should expand their touch areas and additionally consider swipe-to-grab.

[2016-07-16 16:38] samreid commented on #118
On Friday, @kathy-phet said this should be reasonably high priority, so I'll label this issue as such.

[2016-07-16 18:19] arouinfar commented on #118
@samreid I've emailed you the latest asset I have (see below). When we discussed the artwork in design meeting, we decided that the wire could be completely hidden by the socket, and there was no need for wire stubs to be visible on the side and bottom.

![image](https://cloud.githubusercontent.com/assets/8419308/16896325/5b66e410-4b4d-11e6-9bf4-e8e30caacd31.png)

[2016-07-18 20:13] samreid opened #185 "What else needs to be done before sharing the next version?"
@arouinfar can you please review open issues and decide what else should be completed before we share the next version with our collaborators?

[2016-07-18 20:40] samreid commented on #118
I added the new light bulb image in the above commit, it looks like this in context:

![image](https://cloud.githubusercontent.com/assets/679486/16929520/64ce6808-4cf5-11e6-9c6a-abe2c7647da6.png)

@kathy-phet were you imagining we would show the internal light bulb wire while still showing the electrons flowing straight from vertex to vertex for now?

@arouinfar and @kathy-phet anything else to do

[2016-07-18 20:41] samreid commented on #118
@arouinfar have you considered making the bulb glass fully transparent when the bulb is turned off?

[2016-07-18 20:49] arouinfar commented on #118
I modeled this bulb after the Faraday's Law bulb, as I'd like to keep our bulbs as stylistically similar/consistent as possible. While I think the transparency would look nice from an artistic perspective, I think it would diverge from the current bulb style. I also think the visual difference between off/on is pretty obvious, so I'm not sure transparency would add much here.

Looks good to me! I

[2016-07-18 22:22] samreid opened #186 "Electrons should travel on the correct path in the Light Bulb"
Now that we got new light bulb artwork in #118, we need to have the electrons travel along that path.  In the original CCK, this was modeled as separate wires that were moved in the model.  For the HTML5, I think it will be more appropriate to keep the same vertices in the model, but just to override the location map for the electrons without changing the physics model.

This will be a lot of work

[2016-07-18 22:24] samreid commented on #186
Here's a pic of the current status where electrons go straight from one vertex to another:

![image](https://cloud.githubusercontent.com/assets/679486/16932527/0e60cd80-4d04-11e6-8e1c-b140095595d6.png)

[2016-07-18 22:49] samreid opened #187 "Light bulb highlight too big"
![image](https://cloud.githubusercontent.com/assets/679486/16933011/98339f12-4d07-11e6-9802-3172331d6ee5.png)

Can we shrink that down?

[2016-07-19 14:22] samreid commented on #186
I asked on skype:

@jonathanolson responded:

I replied:

[2016-07-19 20:30] samreid commented on #186
Since the light bulbs are relatively small on the screen, it may look good enough to approximate the curves with linear segments.

[2016-07-19 20:38] samreid commented on #186
Coordinates for extrapolation:

dimension: 1.222, 2.063
bottom center: 0.623, 2.063
first curve: 0.623, 1.014
left curve 1: 0.314, 0.704
left curve 2: 0.314, 0.639
left curve 3: 0.394, 0.560
top right 1: 0.823, 0.565
top right 2: 0.888, 0.600
top right 3: 0.922, 0.699
exit: 0.927, 1.474

[2016-07-19 22:05] samreid commented on #186
Light Bulb Geometry is looking OK after last 2 commits.  Next we need to get the electron to go behind the base (new issue).

[2016-07-19 22:06] samreid opened #188 "Electrons should go inside the light bulb base"
After completing #186 the next step is for the electrons to go inside (behind) the light bulb base.  This could be accomplished through clipping or layering.

[2016-07-19 22:15] samreid commented on #188
Clipping could be difficult because we may need to apply clipping to electrons about to enter the base of the light bulb, not just electrons already in the light bulb.  The simplest way to implement layering would be to put light bulb bases in front of everything, but this will lead to odd corner cases, like where a wire cuts through a light bulb and its base.  We will probably start with this.  T

[2016-07-19 22:30] samreid commented on #188
The naive "keep bases in front" won't work because the electrons on the right should be in front of the base:

![image](https://cloud.githubusercontent.com/assets/679486/16968756/0fbfc300-4dce-11e6-8b34-ae9434619af2.png)

We may have to fully invest in layering to get this right.

[2016-07-20 01:41] samreid commented on #188
After the above commits, the behavior looks correct for the simple cases I tested.  I bet there are corner cases where unexpected and incorrect-looking things will happen with respect to layering.  Also, the changes I made will decrease performance significantly on iPad (though performance not too much worse on my laptop).

[2016-07-20 02:04] samreid commented on #186
This is broken for when the light bulb is at an angle.

[2016-07-20 04:22] samreid commented on #186
Light bulb rotation fixed above.

[2016-07-20 20:43] samreid commented on #188
When moving electrons back to go behind the base, they are going too far back and going behind other things too:

![image](https://cloud.githubusercontent.com/assets/679486/17002398/4deda1e6-4e88-11e6-8675-517ec602e4ae.png)

[2016-07-20 20:43] samreid commented on #188
I'll track the above item as a new issue.

[2016-07-20 20:43] #188 closed

[2016-07-20 20:44] samreid opened #189 "Light bulb electrons are going too far back"
![image](https://cloud.githubusercontent.com/assets/679486/17002420/6e1fd9ca-4e88-11e6-9ba2-8d86a2b1c029.png)

In the light bulb, they should go just behind the base, not all the way back.

[2016-07-20 20:45] samreid commented on #186
Path is working great, closing.

[2016-07-20 20:45] #186 closed

[2016-07-20 20:52] samreid commented on #189
Fixed above:

![image](https://cloud.githubusercontent.com/assets/679486/17002655/8cb22112-4e89-11e6-9e10-ea836d5104ff.png)

Closing.

[2016-07-20 20:52] #189 closed

[2016-07-20 20:53] samreid opened #190 "Electron flicker in light bulb base when dragging adjacent circuit element"
Doing the relayering while dragging will fix the flicker but incur a serious performance penalty.

[2016-07-20 21:02] samreid opened #191 "Initial review of light bulb electrons"
I've published a dev version of initial support for light bulb electrons here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.0-dev.20/circuit-construction-kit-black-box-study_en.html

Some of the code is prototype-ish and this has performance implications that need to be solved. That being said, I'm ready for design team feedback on the overall look and

[2016-07-22 18:44] samreid opened #192 "Memory leak for new features"
Recently added features have memory leaks. Here's a message from @kathy-phet:

On 7/22/16 12:42 PM, Kathy Perkins wrote:

[2016-07-27 03:07] samreid commented on #118
@arouinfar can you evaluate the light bulb in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.0-dev.20/circuit-construction-kit-black-box-study_en.html

[2016-07-27 04:17] samreid commented on #184
@kathy-phet said:

Just tried to check out CCK on my phone. Can you add a swipe to pick up option and increase touch areas?  I could not successfully pull a component from either box.

Not urgent, just good if we use on touch.

Thanks!
Kathy

Sent from my iPhone

[2016-07-27 05:29] samreid commented on #184
Touch areas looking much nicer in the above commit:

![image](https://cloud.githubusercontent.com/assets/679486/17164791/c0c8e298-5388-11e6-8582-04dbe20f2375.png)

Works great on my tiny iPhone 5S.

[2016-07-27 05:32] samreid commented on #184
I published a version here for testing:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.0-dev.21/circuit-construction-kit-black-box-study_en.html?showPointerAreas

I haven't re-tested the entire app to make sure nothing else was disturbed (though I'm not aware of any in-progress breaking changes), this is mainly to focus on the pointer areas.

@kathy-phet

[2016-07-27 05:35] samreid commented on #184
I didn't implement this yet, the input listeners are not written with SimpleDragHandler and I'm not sure how much effort would be required to port.

Also, I didn't increase touch areas for the play area objects yet, just for the toolbox--I may need to do that too.

[2016-07-28 06:32] arouinfar commented on #191
The light bulb electrons look good for Stanford @samreid.

However, it looks like electrons may occasionally overlap one another, so we should work a bit more on the design. Tagging for design meeting.

<img width="266" alt="e_overlap_2" src="https://cloud.githubusercontent.com/assets/8419308/17203100/add36258-545a-11e6-8c49-e940f603daf2.png">  <img width="283" alt="e_overlap_1" src="https://cloud

[2016-07-28 06:33] arouinfar commented on #179
Good catch @phet-steele. Please move the text behind the UI elements @samreid.

[2016-07-28 06:34] arouinfar commented on #118
Looks great @samreid! Closing.

[2016-07-28 06:34] #118 closed

[2016-07-28 06:35] arouinfar commented on #72
Fire artwork is not necessary for Stanford @samreid, but I will coordinate with our graphic artist to get new artwork for CCK: DC.

[2016-07-28 06:41] arouinfar commented on #184
@samreid we don't need to be worried about touch areas for Stanford, since they won't be using an iPad for their study.

The touch area boundaries look good in your screenshot, but I won't have access to an iPad to test until Friday. If you and @kathy-phet are happy with how it feels, then it's fine with me!

[2016-07-28 06:43] arouinfar commented on #183
@samreid unless Stanford has requested this feature from you, this is not necessary for their study, as far as I know. I'm leaving the study tag for now, but please remove it if you haven't heard anything from Stanford/KP about this.

[2016-07-28 07:38] arouinfar commented on #181
@samreid can you address this before we deliver a new version to Stanford? I wouldn't be surprised if a few students figure out this unintentional hint.

[2016-07-28 07:50] arouinfar commented on #161
Sounds good @samreid. Let's go with circuit components in front of text and control panels, and light rays behind text/panels/components. I don't think this is a critical issue to address before we deliver to Stanford, but if it's a relatively minor change, can you please take care of it?

[2016-07-28 07:52] arouinfar commented on #185
@samreid I've finished my review, and have tagged issues that should be addressed for Stanford.
https://github.com/phetsims/circuit-construction-kit-common/labels/circuit-construction-kit:black-box-study

Given the memory leak issue, @phet-steele and I should do another (final?) round of testing before sharing with Stanford.

[2016-07-28 16:36] samreid commented on #191
I'm not too concerned about the overlap, to me it seems like they are "going behind" each other instead of touching each other.  If we do need to solve this, we could make the electrons smaller (easy) or change the geometry of the light bulb (more difficult).

[2016-07-28 16:40] samreid commented on #183
@kathy-phet mentioned that Stanford would need this feature.

[2016-07-29 04:18] kathy-phet commented on #184
I've played with the new version, and definitely better for pulling items out of the tool box.

However, I think we will want to switch the behavior to swipe to pick-up because of the play area behavior. In the playarea, it doesn't work to increase the touch areas because of overlap issues so swipe to pick up makes the most sense to me with only modest increases in touch areas that will not cause

[2016-07-29 04:20] kathy-phet commented on #184
Changing priority to medium

[2016-07-31 21:05] samreid commented on #184
I'll create a new issue for the "swipe to pick up in play area" and close this one.

[2016-07-31 21:05] #184 closed

[2016-07-31 21:06] samreid opened #193 "Swipe to pick up components in the play area"
In https://github.com/phetsims/circuit-construction-kit-common/issues/184#issuecomment-236090947

@kathy-phet said:

I've played with the new version, and definitely better for pulling items out of the tool box.

However, I think we will want to switch the behavior to swipe to pick-up because of the play area behavior. In the playarea, it doesn't work to increase the touch areas because of overlap

[2016-08-01 17:48] samreid commented on #161
It would be a significant change to separate the layers for light bulb and its rays, so I'll postpone it.

[2016-08-04 16:20] samreid opened #194 "Fine tune touch interface"
@kathy-phet said there is an event in September which would benefit from a touch-friendly CCK.  This includes:

a) swipe to snag in the touch area
b) testing and refinement

I mentioned that swipe to snag wasn't trivial for the toolbox, and @kathy-phet said it may not be essential with those increased touch areas.

[2016-08-04 16:26] samreid commented on #194
@pixelzoom said:

FYI, In case your upcoming touchSnag work involves any situations where events need to be marked as “handled”:
https://github.com/phetsims/scenery/issues/547

Chris

[2016-08-08 02:28] samreid commented on #185
Thanks @arouinfar, I'll continue in the marked issues.

[2016-08-08 02:28] #185 closed

[2016-08-08 16:45] samreid commented on #192
Based on a diff between master and latest clean version, likely candidates for trouble:

CCKLightBulbForegroundNode
CircuitNode
CustomLightBulbNode

[2016-08-08 16:51] samreid commented on #192
I'm not seeing a significant memory leak for screen 1 testing over about 10 minutes.

![image](https://cloud.githubusercontent.com/assets/679486/17488310/077940a8-5d56-11e6-9fa9-d0712faac801.png)

[2016-08-08 16:58] samreid commented on #192
Testing screen 2 started at 10:52am.  Checking at 10:55 and 10:58 there does appear to be a significant problem:

![image](https://cloud.githubusercontent.com/assets/679486/17488513/ffaf5014-5d56-11e6-932a-6638c4399335.png)

[2016-08-09 15:59] samreid commented on #192
It looks like the memory leaks have been addressed sufficiently for now.  This test is over about 6 minutes and restricts to one element in the combo box.

![image](https://cloud.githubusercontent.com/assets/679486/17523420/be5bb6cc-5e17-11e6-905b-025f6a46812e.png)

This sim still needs a lot of refactoring and implementation work, a new memory leak test will be necessary later on.

[2016-08-09 15:59] #192 closed

[2016-08-09 16:12] samreid commented on #179
It looks like the moveToFront is no longer necessary to get the text in front of the transparency overlay (if we still have one?):

![image](https://cloud.githubusercontent.com/assets/679486/17523967/c681694e-5e19-11e6-986d-b14c5665ba10.png)

Committing shortly.

[2016-08-09 16:14] samreid commented on #179
Fixed above and will be ready for @phet-steele to confirm in the next version.

[2016-08-09 16:26] samreid commented on #181
Fixed above and ready for review in next version.

[2016-08-09 16:43] samreid commented on #183
The tandems we need are:
[code]

[2016-08-09 16:55] samreid commented on #183
This query parameter does the trick (must be phet-io version):

[code]

[2016-08-09 17:12] samreid commented on #187
Reduced a bit above, will need major changes to the way highlight is handled before it can be reduced more.

[2016-08-09 17:12] #187 closed

[2016-08-09 17:13] samreid opened #195 "Cannot select another element"
Discovered during #187 I noticed that you can no longer select another component to edit it.  This is a serious issue and must be addressed before sharing the next version.

[2016-08-09 17:20] samreid commented on #195
Fixed above, closing.

[2016-08-09 17:20] #195 closed

[2016-08-09 17:45] samreid opened #196 "Cannot deselect a component on touch"
Discovered during https://github.com/phetsims/circuit-construction-kit-common/issues/194 on iPad3 tapping away from a circuit element does not deselect it.

[2016-08-09 18:36] samreid commented on #194
I'm seeing other touch issues like #196 which could take some time, so perhaps we should move forward with a Stanford version before working on the touch issues too much.

[2016-08-09 18:45] samreid commented on #194
I added `allowTouchSnag` for play area components above and it is working nicely on iPad3.

[2016-08-09 19:13] samreid commented on #196
Fixed above, closing.

[2016-08-09 19:13] #196 closed

[2016-08-09 19:33] samreid commented on #194
I also fixed #196 and after testing for a few minutes on an iPad3, I did not see any other touch issues.  It would be good for @phet-steele to see if he sees any trouble in the next testing version.

[2016-08-09 19:43] samreid opened #197 "Testing for 1.0.0-dev.22"
I published http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.0-dev.22/circuit-construction-kit-black-box-study_en.html and took it for a quick test drive on Chrome and Firefox and it is ready for testing by @phet-steele and @arouinfar.  Following are a list of issues that are fixed-pending-testing:

[2016-08-09 19:43] samreid commented on #194
Test version available in https://github.com/phetsims/circuit-construction-kit-common/issues/197

[2016-08-09 19:44] samreid commented on #183
Test version available in https://github.com/phetsims/circuit-construction-kit-common/issues/197

[2016-08-09 19:44] samreid commented on #181
Testable version in https://github.com/phetsims/circuit-construction-kit-common/issues/197

[2016-08-09 19:45] samreid commented on #179
Ready for testing in https://github.com/phetsims/circuit-construction-kit-common/issues/197

[2016-08-09 19:46] samreid commented on #197
Aside from the issues mentioned above, we need to test that it is ready for delivery to Stanford.  Any other issues found?  Testing should be across several platforms (though not exhaustive).  I'll create a tasks issue so this can be prioritized and scheduled.

[2016-08-09 21:19] arouinfar commented on #179
Looks good to me @samreid!

![image](https://cloud.githubusercontent.com/assets/8419308/17533973/60d83d9a-5e44-11e6-82d9-adaf0c6615ee.png)
![image](https://cloud.githubusercontent.com/assets/8419308/17533987/68a57498-5e44-11e6-92ea-fbfa341fad18.png)
![image](https://cloud.githubusercontent.com/assets/8419308/17534014/7d13e536-5e44-11e6-8ea0-65c626697e25.png)

[2016-08-09 21:19] #179 closed

[2016-08-09 21:44] phet-steele commented on #181
Looks good in 1.0.0-dev.22

[2016-08-09 21:52] arouinfar commented on #181
Actually, something's not quite right here...

![edit_component_text](https://cloud.githubusercontent.com/assets/8419308/17534830/61aa223e-5e48-11e6-8ba1-569241414996.gif)

* In Investigate, drag editable component into play area, and the edit hint appears (as it should).
* Switch to Build, the edit hint remains, despite there being no editable components that are clickable. (I think the edit hint

[2016-08-09 21:54] arouinfar commented on #183
@samreid I'm not sure how to test this in dev.22, since the query parameter is an iO feature. I'll leave this one to @phet-steele or @samreid to confirm.

[2016-08-09 22:05] phet-steele commented on #181
Thanks @arouinfar!

[2016-08-09 22:18] arouinfar commented on #194
Touch feels good on the iPad Air @samreid.

I was able to swipe items out of the toolboxes and within the play area, and everything seems to be working nicely.

[2016-08-09 22:18] #194 closed

[2016-08-09 23:17] arouinfar opened #198 "Layer the scissors/cut button above electrons"
Found as part of #197.

The scissors button should be layered on top of everything, but it's currently behind the electrons.
![image](https://cloud.githubusercontent.com/assets/8419308/17535663/3966a84c-5e4d-11e6-8f3e-43fcc29e252d.png)

[2016-08-09 23:35] samreid commented on #183
You are correct, I will need to publish a phet-io version before you can test this.  Assigned to me.

[2016-08-09 23:36] arouinfar opened #199 "In Build mode, remove node outlines for components unavailable for connection"
For #197.

Red nodes are used to indicate which are empty and available for connection.
![image](https://cloud.githubusercontent.com/assets/8419308/17536846/585d9a5a-5e55-11e6-95bc-13b4e06041f7.png)

This can be a bit confusing when switching to Build mode. There are visible nodes which a user cannot connect anything to.
![image](https://cloud.githubusercontent.com/assets/8419308/17536858/66ecb330

[2016-08-09 23:37] arouinfar commented on #197
@samreid I've reviewed the outstanding issues, but I still need to do a bit more testing. Hoping to get through this tomorrow.

[2016-08-10 00:07] samreid commented on #181
In the preceding commit, the hint updates when the mode changes, and it seems to have the correct behavior for the scenario @arouinfar described above.  Note that the hint does not appear for wires because they cannot be edited (though they can be deleted).  Ready for review in next version.

[2016-08-10 00:10] samreid commented on #198
The scissors node is currently layered with the vertex node and would be a significant amount of work to move to an independent layer.  My recommendation is to deliver to Stanford before working on this.  @arouinfar can you comment?

[2016-08-10 00:16] samreid commented on #199
In the preceding commit, the vertex dotted lines have been hidden for unattachable vertices.  My limited testing checks out, but it would be good for @arouinfar to check in the next version.

[2016-08-10 16:21] arouinfar commented on #198
Oh, then please don't worry about the layering for Stanford @samreid.

However, I think we'll still want to make this change for CCK: DC.

[2016-08-10 19:36] samreid commented on #197
@arouinfar please notify me when you've completed testing so I can proceed to the next version.

[2016-08-10 19:38] samreid commented on #193
This was implemented in #194

[2016-08-10 19:38] #193 closed

[2016-08-10 19:41] arouinfar commented on #197
@samreid I have some interviews coming up soon, so I won't be able to finish testing until early this evening. I'll let you know when I'm done.

@phet-steele is also working on some other high priority QA issues related to the server change and publishing Rutherford Scattering. He most likely won't be able to test dev.22 until later this week, but he could instead wait and test dev.23.

[2016-08-10 22:21] phet-steele commented on #182
@samreid I believe this has been addressed by something?

[2016-08-10 22:32] samreid commented on #182
In ecb28fc47e260f0cdfcd3d8ed1e95db99ce2b3af we update the text when vertices are removed, so this is ready to close.

[2016-08-10 22:32] #182 closed

[2016-08-11 04:16] arouinfar commented on #197
I've finished testing @samreid. No additional issues to report!

[2016-08-11 13:48] samreid commented on #197
Thanks @arouinfar, we'll continue in other issues.

[2016-08-11 13:48] #197 closed

[2016-08-11 17:35] phet-steele opened #200 "Able to edit the BB circuit after Reset All"
1. Finger A holds down the reveal button
2. Finger B hits Reset All
3. Switch to Investigate Circuit to edit the circuit

![cckbb03](https://cloud.githubusercontent.com/assets/5863899/17598252/d8447ace-5fb6-11e6-9e5a-f31e97aeffac.gif)

Produces this error:

[code]

Seen on iOS 9.3.3 and Win 10 Chrome (with a touch screen). For phetsims/tasks/issues/668.
Troubleshooting information:
Name: ‪Circuit

[2016-08-11 17:35] phet-steele opened #201 "Scissors do not disable after most additional touch event"
You can have as many scissors up as desired by just touching vertices consecutively. Touching an empty area will clear all the scissors. This causes an error when done in the following manner:
1. Go to Build Circuit
2. Place an element in the box, tap one of its vertices
3. Switch back to Investigate Circuit
4. Attempt to switch back to Build Circuit, but get the error below

Beginning of this vid

[2016-08-11 17:35] phet-steele opened #202 "Disembodied vertices after deleting a controlled object"
1. Finger A will tap on an element, then hold down the element
2. Finger B will tap the delete button while finger A is still controlling the element
   ![cckbb01](https://cloud.githubusercontent.com/assets/5863899/17596985/1655e77c-5fb1-11e6-8231-e9936a8cd5ef.gif)

Gives the following error:

[code]

Seen on iOS 9.3.3 and Win 10 Chrome (with a touch screen). For phetsims/tasks/issues/668.
Trouble

[2016-08-11 17:50] phet-steele commented on #202
This leads to some fun consequences when showing electrons and deleting an object in the circuit:
![cckbb04](https://cloud.githubusercontent.com/assets/5863899/17598843/975799a8-5fb9-11e6-983f-2d0a9aefcd1a.gif)

[2016-08-11 17:51] phet-steele commented on #202
There's also a very similar procedure by just pressing Reset All when controlling an object.

[2016-08-12 17:44] samreid commented on #177
Fixed above, ready for review in next version.

[2016-08-15 17:00] samreid commented on #201
I'm not seeing this issue when using a mouse, so perhaps it doesn't need to be done for the next study version.

[2016-08-15 17:13] samreid opened #203 "Testing for 1.0.0-dev.23"
I've published 1.0.0-dev.23 at http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.0-dev.23/circuit-construction-kit-black-box-study_en.html for testing.

This should resolve #199, #181 and #177.

We will test the phet-io issues #138 and #183 separately.

[2016-08-15 17:13] samreid commented on #199
The test issue is https://github.com/phetsims/circuit-construction-kit-common/issues/203

[2016-08-15 17:13] samreid commented on #181
The test issue is https://github.com/phetsims/circuit-construction-kit-common/issues/203

[2016-08-15 17:13] samreid commented on #177
The test issue is https://github.com/phetsims/circuit-construction-kit-common/issues/203

[2016-08-15 17:46] samreid commented on #199
Here's the new pic of the above case.  @arouinfar can you please review in the version linked above?

![image](https://cloud.githubusercontent.com/assets/679486/17673309/c34e40a8-62dd-11e6-8002-e2f9c33d1dd4.png)

[2016-08-15 17:47] samreid commented on #181
@arouinfar can you please test this in the version linked above?

[2016-08-15 17:49] samreid commented on #177
@phet-steele can you please test whether this is resolved in the version linked above?

[2016-08-15 17:49] samreid commented on #203
@arouinfar and @phet-steele, can you see if this version is ready to share with Stanford?

[2016-08-15 19:19] samreid commented on #183
Here's a version that can be tested.  @arouinfar and/or @phet-steele can you test it on a few platforms?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.0-dev.24/phet-io/circuit-construction-kit-black-box-study_en-phetio.html?phet-io.standalone&phet-io.log=lines&phet-io.expressions=[[%22circuitConstructionKitBlackBoxStudy.exploreScreen.view.displayOptions

[2016-08-15 19:20] samreid commented on #138
I published a testable version here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.0-dev.24/phet-io/circuit-construction-kit-black-box-study_en-phetio.html?phet-io.standalone&phet-io.log=lines

It will only syntax highlight properly in Chrome (and perhaps Firefox).  @arouinfar and/or @phet-steele can you please check that every user interface component

[2016-08-15 19:22] samreid commented on #203
I published dev.24 for them and assigned to @arouinfar and @phet-steele for testing.

[2016-08-15 19:53] samreid commented on #138
@phet-steele pointed out a problem in clicking on a battery.  Should be fixed in this version:

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.0-dev.25/phet-io/circuit-construction-kit-black-box-study_en-phetio.html?phet-io.standalone&phet-io.log=lines

[2016-08-15 20:09] arouinfar commented on #138
I'm not 100% sure how to do this. If I open the JavaScript console in Chrome, I can see some messages that I can infer the meaning of (like firing a button or starting a drag), but I don't know if there's anything missing/not quite right. I think I'll leave this one to you @phet-steele.

[2016-08-15 22:07] arouinfar commented on #183
Everything seems in order for OSX 10.11.5 with the latest Chrome/Firefox/Safari.

My only request would be for the toolbox panel to top-align with the component panel if show electrons is suppressed. It looks a little unbalanced to me.
![image](https://cloud.githubusercontent.com/assets/8419308/17681303/2eb768e6-6302-11e6-8b8d-0f7a884e2077.png)

If this is a quick change, please take care of it fo

[2016-08-15 22:09] arouinfar commented on #199
👍

[2016-08-15 22:09] #199 closed

[2016-08-15 22:11] arouinfar commented on #181
Looks good!

[2016-08-15 22:11] #181 closed

[2016-08-15 23:15] samreid commented on #183
I'd be interested in discussing with @andrewadare and possibly @jonathanolson how to address layouts where items can be removed.  It seems like for PhET-iO versions we need the ability to remove components and add them back in (possibly not dynamically).

Until now, PhET-iO has only "removing" components by making them invisible.  Perhaps we should use another pattern where the "removed" component

[2016-08-15 23:21] samreid commented on #183
@arouinfar PhET-iO doesn't currently support the behavior you described, I'll discuss it with @andrewadare and possibly @jonathanolson for adding support in the future, but I think this version will need to ship with the shifted toolbox.

[2016-08-15 23:22] arouinfar commented on #183
Sounds reasonable to me @samreid!

[2016-08-16 02:09] samreid opened #204 "Fix the layout hole in the top right when showElectrons checkbox is hidden"
As described in https://github.com/phetsims/circuit-construction-kit-common/issues/183#issuecomment-239944313, after https://github.com/phetsims/phet-io/issues/544 is solved, we would like the sensor toolbox to move to the top of the screen when the display options panel is not shown.  I could hack around this now with a workaround but it would really be best to think about general solutions first

[2016-08-16 02:10] samreid commented on #183
I created a general issue and cck issues for fixing this kind of layout hole, closing.

[2016-08-16 02:10] #183 closed

[2016-08-16 17:20] arouinfar commented on #203
Tested on OSX 10.11.5 with the latest Chrome/Firefox/Safari, and haven't found any new issues to report.

[2016-08-16 17:22] arouinfar commented on #203
It would be good for @phet-steele or @alynne-phet to test dev.23 to see if there's anything I've missed, so leaving @phet-steele assigned.

[2016-08-16 18:12] phet-steele commented on #177
Looks resolved @samreid.

[2016-08-16 18:12] #177 closed

[2016-08-16 19:30] phet-steele opened #205 "Missing draggingTogetherProperty model event"
@samreid this feels incorrect to me. It looks like the `***.model.***.draggingTogetherProperty` for the voltmeter and ammeter are set to "true" at sim start up and after a Reset All. This means the first occurrence of a drag of these tools can be missed in the model. An example after Reset All:

<img width="568" alt="screen shot 2016-08-16 at 1 20 44 pm" src="https://cloud.githubusercontent.com/as

[2016-08-16 19:30] phet-steele opened #206 "Missing user interaction message"
@samreid the only thing I can see missing from the PhET-iO data stream is anything saying I clicked on a circuit element. For example, after just dragging a battery out, I clicked it and got just these three messages:
![screen shot 2016-08-16 at 12 48 16 pm](https://cloud.githubusercontent.com/assets/5863899/17711628/c6ad01b2-63af-11e6-964b-85983f974c3b.png)

For #138. Tested on OSX 10.11.6 Chrome

[2016-08-16 19:48] phet-steele commented on #205
@samreid I think I misinterpreted this property. This must be true when dragging the tool's body will also drag its probes, and false when dragging the tool's body only drags the body. If that's the case, I guess this issue can be closed.

[2016-08-16 20:04] samreid commented on #205
Yes that is correct, can you help me think of a better name for that variable, so that other's won't have the same misconception?

[2016-08-16 20:06] samreid commented on #206
Good catch @phet-steele, I think we should instrument the property that indicates which circuit element is selected.

[2016-08-16 20:45] phet-steele opened #207 "Rename draggingTogetherProperty"
From #205, @samreid and @phet-steele decided `draggingTogetherProperty` should be renamed to `draggingProbesWithBodyProperty`.

[2016-08-16 20:47] phet-steele commented on #205
Discussed over Skype, and the decision is moved to #207. Closing.

[2016-08-16 20:47] #205 closed

[2016-08-16 21:31] phet-steele commented on #203
@alynne-phet and I haven't found anything that would be a problem for MVP.

[2016-08-16 21:39] samreid commented on #203
Thanks @arouinfar and @phet-steele and @alynne-phet for testing, closing.

[2016-08-16 21:46] samreid opened #208 "Deliver versions to Stanford"
In https://github.com/phetsims/circuit-construction-kit-common/issues/203 we completed testing a candidate for Stanford, and determined that version is ready to share.  @arouinfar can you deliver the links to them and ask them to try everything out?  Please include the following links:

* the standard version
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.

[2016-08-16 21:46] samreid commented on #203
I created a new issue for next steps.

[2016-08-16 21:46] #203 closed

[2016-08-16 22:27] arouinfar commented on #208
Great news @samreid! I'll draft an email to Stanford, but I also have questions about what's next. Do we need to schedule a Zoom call like we did previously?

These are better questions for @kathy-phet, so I'll assign her.

[2016-08-16 22:29] samreid commented on #208
A zoom call sounds very nice, perhaps after they have had a few days to investigate things on their own and think of questions?  Or we could have a zoom meeting for delivery then a relatively soon follow-up.  @kathy-phet what do you recommend?

[2016-08-16 23:23] kathy-phet commented on #208
It would be good to do a short zoom meeting with Shima hopefully soon, to give her a tour and check in on her anticipated plans. Then do a follow-up meeting after that.

Next steps for us for the time being:
Build a simple wrapper (e.g. a blank wrapper with a fixed iframe size for the time being, except for entering 1-2 identifiers of sorts so Shima can associate with students ... we will need to

[2016-08-18 20:31] samreid opened #209 "Next steps for Stanford"
From @kathy-phet in #208
- Build a simple wrapper (e.g. a blank wrapper with a fixed iframe size for the time being, except for entering 1-2 identifiers of sorts so Shima can associate with students ... we will need to know what they want here).
- Finish testing for metacog data recording, and make sure that playback through the sims works well so that there is a way to review the data (like a vid

[2016-08-18 20:31] samreid commented on #208
I moved the next steps from the previous comment to a new issue.

[2016-08-19 16:59] pixelzoom opened #210 "buggy usage of NumberControl"
Noted while working on https://github.com/phetsims/scenery-phet/issues/254...

CreateBlackBoxControlPanel, line 19:

[code]

The constructor signature of NumberControl is:

[code]

I'm guessing that this is unused code, otherwise it would be failing.  In any case, it should be fixed.

[2016-08-19 17:34] samreid commented on #210
This was indeed unused code, and it has been removed.  Thanks @pixelzoom.

[2016-08-19 17:34] #210 closed

[2016-08-23 18:26] phet-steele opened #211 "Automated Testing Sim Error (8/23/2016 10:00 AM)"
[code]

[2016-08-24 18:44] samreid opened #212 "When switching modes and the simulation pauses, the "animation speed reduced" still shows."
During today's meeting, @arouinfar switched from "build" to "investigate" while the "animation speed reduced message was showing.  The simulation was running with ?showPlayPauseButton and when the mode changed the simulation paused.  Then in "investigate" mode, the "animation speed reduced" message was still showing.

[2016-08-24 18:46] samreid opened #213 "Background should be gray when paused"
When running with ?showPlayPauseButton the background should be a different color (gray was suggested) to indicate the simulation is paused.  If we go with gray, we will need to choose a shade that doesn't blend too much with the junction colors.

[2016-08-24 18:52] samreid commented on #213
Carl also suggested a "running" or "paused" text near the play/pause button, but it is unclear whether we still need that if the background color is changing.  @arouinfar can you comment?

[2016-08-24 19:13] arouinfar commented on #213
@samreid I believe Carl suggested that text _could_ go above the play/pause button, but I'm not sure if we need to add this text just yet. Let's make the background color change, and then see what Stanford has to say.

[2016-08-24 20:29] arouinfar commented on #208
After meeting with Stanford this morning, I sent a follow-up email with these links for testing. Closing.

[2016-08-24 20:29] #208 closed

[2016-08-30 17:48] phet-steele commented on #211
Again during 8/30 automated testing

[2016-09-01 17:15] pixelzoom opened #214 "parseInt missing radix argument"
`MNACircuit` contains 4 calls to `parseInt` with no radix argument.

[Documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/parseInt) for `parseInt` says:

[2016-09-01 17:33] pixelzoom commented on #214
Fixed, but not confident that I exercised the sim (or the proper sim) in a way that verified this. @samreid please verify.

[2016-09-02 05:08] samreid commented on #214
The change set seems good, closing.

[2016-09-02 05:08] #214 closed

[2016-09-27 18:39] oliver-phet opened #508 "User question: implementation of ammeters"
First, let me say I love your work!

However, I think there may be something amiss with the ac circuit simulation's implementation of ammeters.  Admittedly, that something might be my interpretation, but I'd like to have someone look into this and either fix it or let me know what I'm doing incorrectly.

In the tools for teachers, there is a nice example of LR circuit behavior, which uses a batter

[2016-09-28 17:25] phet-steele opened #215 "Automated Testing Build Error (9/28/2016 9:30 AM)"
[code]

[2016-09-29 02:35] samreid commented on #215
Here's the trouble:

[code]

It seems the short circuit should maybe be removed, but this would require testing.  Unassigning until I return my attention to CCK.

[2016-10-20 16:54] arouinfar commented on #191
Temporarily unassigning myself from all issues in this repo tagged for design meeting. When we resume design meetings, we can come back to these issues.

[2016-10-26 15:43] ariel-phet commented on #209
@samreid @arouinfar can this issue be closed?

[2016-10-26 15:47] arouinfar commented on #209
Possibly, @ariel-phet, but @samreid should confirm. Shima's change requests have all been logged in the CCK:BB Study repo:
https://github.com/phetsims/circuit-construction-kit-black-box-study/issues

[2016-10-26 16:06] samreid commented on #209
I don't recall building a data collection wrapper for Shima yet, perhaps this still needs to be done.

[2016-10-26 19:59] samreid commented on #209
Here is the last email sent to Shima and Carl,

 Hello Shima & Carl,

It was nice getting to chat with you this morning!  We’re looking forward to hearing what additional feedback you have for us.

Sam has logged two issues to address so far — one to change the background color to gray when in pause mode (while finding visually distinct colors from investigate/build), and the other to fix the bug

[2016-10-26 20:00] samreid commented on #209
Based on the last sent email (above), it seems like we did not yet deliver a wrapper that collects data in Metacog.  @kathy-phet and @amyh-phet are we still doing so?  What is the priority/schedule?  Should I communicate with Shima, Carl and Engin directly?

[2016-10-26 20:06] samreid commented on #209
Thanks, you are right!

[2016-10-26 20:10] arouinfar commented on #209
Frankly, I don't know the timeline for Stanford @samreid. After delivering the links to Shima, she had some change requests, which I logged in the CCK:BB Study repo:
https://github.com/phetsims/circuit-construction-kit-black-box-study/issues

@samreid have you started to refactor the CCK code? In our last meeting with Stanford, we told them that change requests would have a quicker turn-around if

[2016-10-26 20:14] samreid commented on #209
I have not yet started on the change requests or the refactoring.

[2016-10-31 05:11] samreid commented on #209
@kathy-phet can you please review this issue and help us prioritize/schedule?

[2016-10-31 05:19] kathy-phet commented on #209
Sent email off to shima

Sent from my iPhone

On Oct 30, 2016, at 11:11 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

@kathy-phet<https://github.com/kathy-phet> can you please review this issue and help us prioritize/schedule?

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/phetsims/circuit-

[2016-10-31 21:07] pixelzoom opened #216 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-10-31 21:35] pixelzoom commented on #216
I took care of this, but was unable to lint because this sim fails lint, or test because it's the sims that I tried that use this repo fail on startup.  Assigned to @samreid to verify.

[2016-10-31 21:59] pixelzoom commented on #215
I've hit this 3 times in the past week, while doing refactors.  The result was that I didn't lint my work.

[2016-10-31 21:59] pixelzoom commented on #215
I don't know how to fix this.  Assigning to @samreid -- it's a problem and affecting other developers.

[2016-10-31 22:01] pixelzoom commented on #215
Never mind, I hacked my way around it.

[2016-11-01 17:08] phet-steele opened #217 "Automated Testing Sim Error (11/1/2016 10:00 AM)"
[code]

[2016-11-05 03:16] samreid commented on #207
Fixed, closing.

[2016-11-05 03:16] #207 closed

[2016-11-08 16:22] samreid commented on #209
I'm moving this issue to https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/12 with the pertinent information.

@kathy-phet did you hear back from Shima?

[2016-11-08 16:43] kathy-phet commented on #209
Yes, I heard back from Shima. That is what I mentioned in status. She plans to do interviews mid-November, so we'd like to address her bugs/requests today (if possible) or devlote more time this week if a day is not enough.

[2016-11-08 16:47] samreid commented on #209
Thanks @kathy-phet, I'll be working on CCK today in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/11 and the other cck-black-box-study issues.  Closing.

[2016-11-08 16:48] #209 closed

[2016-11-08 17:56] phet-steele opened #218 "Automated Testing Lint Error (11/8/2016 10:00 AM)"
[code]

[2016-11-08 17:58] samreid commented on #218
Fix pushed above, closing.

[2016-11-08 17:58] #218 closed

[2016-11-08 20:40] samreid commented on #212
Tracking in the above issue, closing.

[2016-11-08 20:40] #212 closed

[2016-11-08 20:40] samreid commented on #213
Tracking in the above issue, closing.

[2016-11-08 20:40] #213 closed

[2016-11-16 19:16] samreid commented on #216
Lint and launch working properly, code review of the changes doesn't show any red flags. Thanks!

[2016-11-16 19:16] #216 closed

[2016-11-29 19:28] phet-steele opened #219 "Automated Testing Sim Error (11/29/2016 10:00 AM)"
[code]

[2016-12-06 23:11] pixelzoom opened #220 "convert from PropertySet to Property"
PropertySet is deprecated and should be replaced by Property, see phetsims/axon#102. Since this repo hasn't been published yet, this should be done before RC testing and publishing.

[2016-12-08 01:39] samreid commented on #219
@pixelzoom fixed this in https://github.com/phetsims/circuit-construction-kit-common/commit/f348f78dd1d338f8f38ba6ea85358ad35773a5bc, closing.

[2016-12-08 01:39] #219 closed

[2016-12-20 18:10] arouinfar opened #221 "Default values for batteries and resistors"
Moving this email chain over to GitHub.

@kathy-phet:

I was playing with CCK and noticed that the default resistor is 4.5 ohms, but that once you move away from that value you can never get back to it because the slider and the tweakers just let you change to whole number values.
Similarly, voltage is only whole number values but 1 decimal is displayed.
I am just sending this because I cannot rec

[2016-12-20 18:13] arouinfar commented on #221
Based on the discussion above, here are three options for the default values:

1. Keep the same default values, 4.5 ohms and 9V, but change the resistance tweakers to 0.5 ohm step size so default resistance can be restored.
2. 5 ohms, 10 V. Allows us to keep tweakers as is, but 10V isn't a standard battery size.
3. 3 ohms, 9 V. Keeps the standard 9V battery, but resistance and current will both be

[2016-12-20 18:17] kathy-phet commented on #221
I like option #1 too!

[2016-12-20 18:54] ariel-phet commented on #221
I agree with the first option

[2016-12-20 18:56] arouinfar commented on #221
Thanks @kathy-phet and @ariel-phet! Reassigning to @samreid.

[2016-12-23 21:03] samreid commented on #221
The place to make this change is in circuit-construction-kit-common/js/common/view/CircuitElementEditPanel.js

However, before I make this change I want to discuss a potential pedagogical problem.  If we make the resistance slider go by 0.5 and leave the voltage slider at increments of 1.0, then a student may come to the mistaken conclusion that voltage "matters more" than resistance in driving cu

[2016-12-23 22:07] kathy-phet commented on #221
I agree - both having the same increment makes sense to me.
K

Sent from my iPhone

On Dec 23, 2016, at 2:04 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #221<https://github.com/phetsims/circuit-construction-kit-common/issues/221> to @kathy-phet<https://github.com/kathy-phet>.

-
You are receiving this because you were mentioned.
Reply to this email dir

[2016-12-24 01:06] samreid commented on #221
Fixed above, will be ready in the next version.  Closing.

[2016-12-24 01:06] #221 closed

[2016-12-24 16:39] samreid opened #222 "branch: stanford"
To support the CCK-black box study sim for stanford

[2016-12-24 16:47] samreid commented on #170
Finished in above commits, closing.

[2016-12-24 16:47] #170 closed

[2016-12-25 21:08] samreid commented on #220
I converted PropertySet => Property in the above commits.  I'll leave the `preventGetSet` on for a few more days in case we catch other unintended usages (in a separate issue).

[2016-12-25 21:08] #220 closed

[2016-12-25 21:08] samreid opened #223 "Remove preventGetSet"
See https://github.com/phetsims/circuit-construction-kit-common/issues/220

[2016-12-26 22:26] samreid commented on #8
Moved to https://github.com/phetsims/circuit-construction-kit-basics/issues/1, closing.

[2016-12-26 22:26] #8 closed

[2016-12-26 22:31] samreid commented on #138
We delivered a data-stream enabled version to Stanford.  If further changes are needed, we can create separate issues for them.

[2016-12-26 22:31] #138 closed

[2016-12-26 22:33] samreid commented on #75
Values are now shown during reveal, closing.

[2016-12-26 22:33] #75 closed

[2016-12-26 22:38] samreid commented on #215
Lint issue is fixed, and I'll address the logic issue when I get to the TODO in #59, closing.

[2016-12-26 22:38] #215 closed

[2016-12-26 22:40] samreid commented on #204
@jonathanolson provided a new module for synchronizing layouts between panels, perhaps it would work here?

[2016-12-26 22:41] samreid commented on #168
Based on the performance notes in the preceding comment, I'll close this issue. If performance needs help, we'll have to do a thorough investigation.

[2016-12-26 22:41] #168 closed

[2016-12-27 15:37] samreid commented on #63
It will be simple enough to experiment with a border highlight when an object is dragged over the toolbox.  Assigned to myself to try it out.

[2016-12-27 17:26] samreid commented on #63
This looks akin to the scenery problem of detecting if any pointer is over a node.  In CCK, there are many draggable objects, and we would want to highlight the box if any one is over it.  So we would need either (a) a persistent list of objects that can be observed and with which we must be careful to make sure items get removed when dropping into the box or moving out of the box, or when reset a

[2016-12-27 18:11] jonathanolson commented on #204
That, or VBox? Couldn't fully understand the required changes.

[2016-12-27 18:15] samreid commented on #63
I added this property in Circuit.js

[code]

It is working well, except the toolbox highlights right when the user starts dragging an object for the first time.  That is because you can click and release an object in the toolbox and it will fall back into the toolbox.  This raises the following questions:

* Maybe you should not be able to drop an object back in the toolbox unless you have moved i

[2016-12-27 18:18] samreid commented on #63
Here's the spurious highlight on creation:

![highlight2](https://cloud.githubusercontent.com/assets/679486/21505606/1949c048-cc26-11e6-9c9a-40e9996b9065.gif)

[2016-12-27 18:19] samreid commented on #63
@arouinfar before I proceed on this, I'd like to discuss this question: Should the user be able to drop the circuit element back in the toolbox right away?  What should happen if the user clicks and releases on a circuit element over the toolbox?

[2016-12-27 18:24] samreid commented on #63
I decided to commit my intermediate work on this.

[2016-12-27 18:29] samreid commented on #151
It would be good to discuss the User Experience for how save load should work before I spend time on the UI.  Some possibilities:

* Save the state in query parameters.  The user would create their circuit, then the URL would automatically update, then the user could bookmark the page.  This could be confusing for users who just wanted to link to the blank CCK, not the circuit they created.
* Add

[2016-12-27 18:31] samreid commented on #151
Other considerations: how should we support save/load on iPad (if at all?)  iPad has no file system.  We could save circuits to local storage, but the save files wouldn't be transferrable to other computers.  We could add a "share" button, which emails the circuit to the user, etc.

[2016-12-27 19:15] arouinfar commented on #63
@samreid yes. If the user clicks, the object is grabbed (full size) but can immediately be dropped back into the toolbox -- like the tools in Bending Light.

[2016-12-27 23:03] samreid commented on #200
Moved to the issue noted above, closing.

[2016-12-27 23:03] #200 closed

[2016-12-27 23:11] samreid commented on #89
Looks better @arouinfar, I'll commit shortly.

![image](https://cloud.githubusercontent.com/assets/679486/21510312/1efc70ac-cc4f-11e6-92d2-f2553125b052.png)

[2016-12-27 23:12] samreid commented on #89
Closing.

[2016-12-27 23:12] #89 closed

[2016-12-27 23:28] samreid opened #224 "What should happen if you click and release on an object in a toolbox?"
In our simulations with toolboxes, typically a "click" (down then immediate up) leads to this behavior: The object flickers large for a second.  This is probably not what the user intended to happen.

I asked @arouinfar in https://github.com/phetsims/circuit-construction-kit-common/issues/63 what the behavior should be, and she replied:

I wanted to discuss this more thoroughly and understand our

[2016-12-27 23:29] samreid commented on #222
Putting the issue on hold to remove it from my todo list.

[2016-12-27 23:34] samreid opened #225 "toStateObjectWithVertexIndices should be revamped"
We should just return the state of the CircuitElement, then factor out the code that gets the vertex indices to the call site.

[2016-12-28 04:11] samreid commented on #225
Fixed above, closing.

[2016-12-28 04:11] #225 closed

[2016-12-28 17:02] samreid commented on #114
@jessegreenberg I'm getting closer to a good point to work on this.  Can you comment what the best strategy is now?  I'm not sure if the strategy in https://github.com/phetsims/circuit-construction-kit-common/issues/114#issuecomment-222742819 is the best, or if it has been superseded by AccessibleNode or something else.

[2016-12-28 17:04] samreid commented on #223
See https://github.com/phetsims/chipper/issues/533 for a more general approach for preventing undesired get/set calls.

[2016-12-28 17:05] samreid commented on #204
The given behavior seems acceptable for this version of CCK study.  In the future, if we have dynamic layouts, we can revisit.  Closing.

[2016-12-28 17:05] #204 closed

[2016-12-29 21:06] jessegreenberg commented on #114
Yes, now I would recommend AccessibleNode for this feature, it was recently added to Scenery.   The following options might work assuming that CircuitElementNode can access circuit:
[code]

With this approach things like the Reset All button and check boxes will automatically be in the tab navigation order, is this OK?  If you want to disable more general keyboard navigation for now, it should be

[2016-12-29 21:24] jessegreenberg commented on #114
@samreid I gave it a shot in the above commit in branch keyboard-delete if you would like to review.  If you have any questions about the changes please let me know.

[2016-12-29 22:30] samreid commented on #222
We'll use the 1.0-phetio branch instead, closing.

[2016-12-29 22:30] #222 closed

[2016-12-30 04:17] samreid commented on #114
@jessegreenberg this looks great, I'm going to move it to master, delete the branch and follow-up here with questions and comments.

[2016-12-30 04:33] samreid commented on #114
The main issues in functionality are:

1. After deleting the element, the focus region remains on the screen
2. There are two competing highlights, yellow and purple.

![select](https://cloud.githubusercontent.com/assets/679486/21559701/2c4cf702-ce0e-11e6-9d7d-c3c739c086bf.gif)

How do we get rid of the focus region?  Should that happen automatically if we the AccessibleNode is disposed?

For the

[2016-12-30 05:23] samreid commented on #114
I can no longer reproduce the bugs in https://github.com/phetsims/circuit-construction-kit-common/issues/114#issuecomment-269731431, perhaps I had a stale AccessibleNode?

[2016-12-30 05:24] samreid commented on #114
It would still be good to hear @jessegreenberg's recommendation for this question:

[2016-12-30 05:27] samreid commented on #63
After using it for a few days, the immediate highlight is still annoying, but not as bad as I expected.  Still, it would be good to wait until we convene on #224 before deciding how to address this issue.

[2016-12-30 05:38] samreid commented on #147
My main concern about this is that there is (currently) a significant performance delay when dragging a circuit element.  If we try to run the circuit at full speed while dragging, it could end up looking wrong if it runs slower because it is poor performance.  Still, after experimenting with this, I'm interested in giving it a try, especially if it is not too complicated to implement.

[2016-12-30 05:55] samreid commented on #190
I'm no longer seeing this flicker, closing.

[2016-12-30 05:55] #190 closed

[2016-12-30 18:35] arouinfar commented on #224
@samreid these are excellent questions, and it sounds like we should have a more global conversation about the desired behavior. Whatever we decide, we'll want to keep things consistent across all sims. The same goes for the highlight in #63.

Perhaps we could have a general discussion about this behavior in the next design meeting where both AP and KP will be around... perhaps Jan 12? I think we

[2016-12-30 19:10] jessegreenberg commented on #114
Exactly, sorry about that.  I recently added that in phetsims/scenery@b8c004f99b1f2a1689e9906960a8442dc23189c9, so it is likely AccessibleNode was stale.

With option (b) the focus highlights will be in display overlay so it will always be on top of other view elements:
![capture1](https://cloud.githubusercontent.com/assets/6396244/21570950/d4da42ca-ce87-11e6-80f7-d0719dc1a5b9.PNG)

For accessibil

[2016-12-30 21:16] samreid commented on #224
Within the next month or two will be fine.

[2016-12-30 22:13] samreid commented on #114
I'll take a look at using the accessibility overlay for drawing these regions to see how it would work.  Reassigned to me.

[2017-01-03 18:49] phet-steele opened #226 "Automated Testing Lint Error (1/3/2017 10:00 AM)"
[code]

[2017-01-03 19:25] samreid commented on #226
Fixed, closing.

[2017-01-03 19:25] #226 closed

[2017-01-05 17:37] samreid commented on #114
Unassigning, I'll work on this in my CCK list.

[2017-01-18 20:28] samreid opened #227 "Can/should any changes in the branch be propagated to master?"

[2017-01-20 01:56] FelixINX commented on #88
Hello!

We are currently using the Circuit Con. Kit DC in our school, Java version. I just published [the first version online](http://phet-circuits.felixinx.me/circuit-construction-kit-dc_en.html) for our student.

We have to use the switch. As I can see in the code, a big part of the code is ready. Do you know when we will be able to use it? _Even if it is not the stable version._

Thanks!

[2017-01-20 04:31] samreid opened #228 "Evaluate ngspice"
See https://github.com/concord-consortium/build-ngspice-js

[2017-01-20 16:30] samreid commented on #88
@ariel-phet or @arouinfar can you please respond to @FelixINX?

[2017-01-20 18:16] samreid opened #229 "Should Circuit have one list of CircuitElements or one list per type?"
Should Circuit have one list of CircuitElements or one list per type?

[2017-01-20 18:16] samreid commented on #229
If we are going to use model list ordering to order the view elements, one unified list seems essential.

[2017-01-20 18:25] samreid commented on #229
[1/20/17, 11:14:30 AM] Sam Reid: In CircuitConstrutionKit, I have base class CircuitElement.  Subclasses like Resistor, Battery, Wire, LightBulb.  Should Circuit contain an array of CircuitElements?  Or should it contain an array of Resistors plus an array of Wires plus an array of Batteries, etc?
[1/20/17, 11:18:22 AM] Chris Malley: How about a DAG of CircuitElement?
[1/20/17, 11:19:04 AM] Sam Re

[2017-01-20 18:54] samreid commented on #229
After experimenting with this, it seems like it will be a large refactoring step, but will simplify things greatly in the long run.

[2017-01-20 22:27] samreid commented on #229
In the preceding commits, I changed it so Circuit just has one list of circuit elements.  There are many places marked where abstraction or a change of serialization structure can simplify things further.  Things that broke during refactoring:
* Items no longer rotate
* solder appears at odd times

[2017-01-20 23:07] samreid commented on #229
Those two bugs are addressed above.  I'm also seeing a problem on reset all:  No circuit element node found for [object Object]

[2017-01-21 05:17] samreid opened #230 "Use BooleanProperty and NumberProperty where possible"

[2017-01-22 19:32] FelixINX opened #231 "Voltmeter not working"
Hi,

The voltmeter is not currently working. It alway's show "?". The console output an error as soon you move the voltmeter :
[code]

Test it here : [http://phet-circuits.felixinx.me/circuit-construction-kit-dc_en.html](http://phet-circuits.felixinx.me/circuit-construction-kit-dc_en.html)

_Note : the test is based on the DC version, but it look's like a general problem._

Thanks :+1:

[2017-01-22 20:11] ariel-phet commented on #231
@FelixINX - although we appreciate you looking at this code and understand why you have published a version, you are using an unfinished version with KNOWN issues.

Unfortunately, our priorities at the moment cannot be driven by bug reports on an unfinished product. We would appreciate if you hold off submitting any bug reports until we have actually published this sim.

[2017-01-22 20:12] #231 closed

[2017-01-22 20:19] FelixINX commented on #231
@ariel-phet I understand this, but I didn't find any issue for this specific problem, and I thought it would have been a good idea to mention it, before the final release!

[2017-01-22 20:47] ariel-phet commented on #231
@FelixINX you did not find a specific issue because this sim is not even yet at the testing phase. We have a rigorous process to identify bugs. Once the sim gets to the testing phase you will see we have done an "RC" branch, until that time, the main developer is continuing to work to get the sim feature complete.

[2017-01-22 20:57] FelixINX commented on #231
@ariel-phet Thank you for the answer. Having said that, can we help? We are many students who practice programming, and if we can help students in our school, and around the world, we would be delighted!

Sorry to disturb you on this sunday!

[2017-01-22 21:07] ariel-phet commented on #231
@FelixINX if you wish to help with testing when the sim is ready, we would be more than happy to have your assistance.

[2017-01-22 21:08] FelixINX commented on #231
@ariel-phet I'm talking about development, with code!

[2017-01-22 21:10] ariel-phet commented on #231
@FelixINX possibly, if that is of interest, please send me a good email contact, and I will get in touch there!

[2017-01-22 21:11] FelixINX commented on #231
@ariel-phet Perfect!

[2017-01-23 16:47] ariel-phet commented on #88
@FelixINX the time line for this element being ready has not crystallized yet. You had mentioned some interest in working on code in another issue. To evaluate that possibility I will need you to email me directly. Please provide me with an email address at which I can contact you.

[2017-01-23 21:30] FelixINX commented on #88
Sure it is felix.desjardins2 [at] ggl.csmb.qc.ca

[2017-01-24 04:37] ariel-phet commented on #88
@FelixINX I have sent you an email, and look forward to your reply

[2017-01-24 17:34] arouinfar commented on #224
@samreid I've requested at this (or possibly next) week's design meeting to discuss general toolbox behavior. I want to open an issue in one of the common repos to track the discussion. I'm not sure which repo would be the most appropriate, though. @samreid can you make a suggestion?

[2017-01-24 17:48] samreid commented on #224
scenery-phet is most likely the repo where we would implement toolboxes (if we added a common code implementation for them), so that's my best bet for where to discuss it.

[2017-01-24 17:49] arouinfar commented on #224
Thanks @samreid! I'll open a general toolbox issue in scenery-phet.

[2017-01-24 18:08] phet-steele opened #232 "Automated Testing Lint Error (1/24/2017 10:25 AM)"
[code]

[2017-01-25 16:20] samreid commented on #229
This has been a productive refactor, this issue is complete, closing.

[2017-01-25 16:20] #229 closed

[2017-01-25 16:22] samreid commented on #227
I merged the branch changes to master and will continue to do so, closing.

[2017-01-25 16:22] #227 closed

[2017-01-25 17:31] samreid commented on #63
This and potentially other toolbox design issues will be discussed in https://github.com/phetsims/scenery-phet/issues/289

[2017-01-25 17:40] samreid commented on #72
@kathy-phet said:

[2017-01-25 17:40] samreid commented on #72
@arouinfar said:

[2017-01-25 17:41] samreid commented on #72
Shima said:

[2017-01-25 17:41] samreid commented on #72
@kathy-phet said:

[2017-01-25 17:42] samreid commented on #72
@kathy-phet said:

Given this timeline, it seems reasonable that we could add flames, depending on our artist's schedule.

[2017-01-25 17:45] samreid commented on #72
Based on the Java CCK, it seems like all circuit components with a high current should show a fire.

![image](https://cloud.githubusercontent.com/assets/679486/22302292/5c02a40a-e2eb-11e6-9df2-14de3ed4d17c.png)

@arouinfar should we render the flame as a static image as we did in Java, or would you like to animate it and add smoke?

[2017-01-25 17:53] arouinfar commented on #72
As far as I know, the artist is starting fairly soon (perhaps immediately?) and doesn't have a ton of tasks, yet.

@samreid I think a static image will work fine here. While an animation would certainly look nice, I don't think it's pedagogically necessary and it could also negatively impact iPad performance.

[2017-01-25 18:54] samreid commented on #230
Fixed above, closing.

[2017-01-25 18:54] #230 closed

[2017-01-25 18:56] samreid commented on #73
Another option: make it always possible to connect to either side of the light bulb.  This may be non-trivial to design, but it could eliminate the need for a UI for selecting connection side.

[2017-01-25 19:15] samreid commented on #223
Removed in preceding commits, closing.

[2017-01-25 19:15] #223 closed

[2017-01-25 21:48] samreid opened #233 "Add query parameter for "virtual lab" version"
How do we minimize the number of CCK flavors while maintaining flexibility?

For example, some teachers do not want to use the non-contact ammeter in their classrooms. Others may only want their students to play with the intro screen.

We can build a customization tool that lives on the sim page that would allow teachers to check off the options they want, and then generate the URL with the approp

[2017-01-25 21:49] samreid opened #234 "Add a Grab Bag items to main toolbox/carousel"
@arouinfar said she would mock up a grab bag carousel.

[2017-01-25 21:52] samreid commented on #10
From design meeting discussion:

[2017-01-25 21:52] samreid commented on #95
In the design doc, @arouinfar said she would create a mock-up for the conventional current.

[2017-01-25 22:07] samreid opened #235 "Add magnifying glasses in the bottom left for zoom"
Want to preserve Medium and Small options from original CCK. Can function like radio button, no need to dynamically zoom.

Try magnifying glass icons in the bottom left

[2017-01-25 22:08] samreid opened #236 "Add schematic view"
All resistors will have the same-sized symbol, but the edges will extend further.

Light bulb can look more sketch-like. Filament will have resistor look.

[2017-01-25 22:08] samreid opened #237 "Add labels to the items in the toolbox (resistor, battery, etc)"
And a checkbox in the control panel that allows the labels to be turned off.

[2017-01-25 22:09] samreid commented on #236
Want to keep proximity to the components. Toggle looks a bit ragged.
Use scene selection-style buttons.

[2017-01-25 22:10] samreid commented on #234
Doesn’t always need to be open. May encourage students to interact with it earlier in the flow than we’d like. We could have a checkbox, accordion menu, or later in the carousel.

Keeping it in the carousel is more challenging. Users should always have access to wires. Carousel not an ideal option.

**Try accordion menu + Balancing Act carousel style**

[2017-01-25 22:10] samreid commented on #10
From July 20156 meeting:

Big feature request from teachers that would be on lab screen, if included.

As temperature increases, resistance increases

Open questions: does it need to have some memory?

The bulb needs to know how long current has been going through it. Not currently in the model, but SR thinks it can be added.  Note: this will *not* be necessary if we are modeling the R=f(V) as a s

[2017-01-25 22:11] samreid commented on #234
Infinite carousel would be nice here. May be hard to track where we are without the dots.
Infinite carousel + tracking dots

[2017-01-25 22:14] samreid opened #238 "Should the light bulb have wires coming off of it?"
At a June 2016 design meeting, it was suggested that we add wire stubs to the light bulb, like so:

![image](https://cloud.githubusercontent.com/assets/679486/22311453/c0439b98-e310-11e6-8d68-437e4ac4322e.png)

Notes: Widen socket so there’s more room for electrons. May or may not need to keep one wire on the edge. Center wire doesn’t need to be perfectly centered. Something like this:

![image](h

[2017-01-25 22:14] samreid commented on #73
See #238 for more discussion about light bulb UI.

[2017-01-26 17:25] arouinfar commented on #72
Tagging for https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/32.

[2017-01-27 23:05] samreid commented on #237
Working nicely, a few remaining TODOs noted in the code including i18n, touch areas, and max text width.

[2017-01-28 00:37] samreid commented on #237
1st draft seems OK, I'll get more feedback in the next review cycle or design meetings.  New problems will be noted in new issues.  Closing.

[2017-01-28 00:37] #237 closed

[2017-01-28 02:47] samreid commented on #232
Fixed, thanks for the report, closing.

[2017-01-28 02:47] #232 closed

[2017-01-28 04:11] samreid opened #239 "self.pointer is undefined on SimpleDragHandler.up"
http://localhost/circuit-construction-kit-dc/circuit-construction-kit-dc_en.html?brand=phet&ea&fuzzMouse&webgl=false

Uncaught Error: Assertion failed: undefined
    at window.assertions.assertFunction (assert.js:21)
    at Object.up (SimpleDragHandler.js?bust=1485576545717:70)
    at Input.dispatchToPointer (Input.js?bust=1485576545717:725)
    at Input.dispatchEvent (Input.js?bust=1485576545717:

[2017-01-30 20:28] jessegreenberg opened #240 "prune keyboard-delete branch"
In https://github.com/phetsims/circuit-construction-kit-common/issues/114, branch keyboard-delete was merged with master, so the branch should be deleted.

[2017-01-30 20:30] jessegreenberg commented on #240
Ah, it was already deleted!

[2017-01-30 20:30] #240 closed

[2017-01-30 21:09] jessegreenberg opened #241 "branch: accessibility-mixin"
In https://github.com/phetsims/scenery/issues/596 AccesssibleNode will be removed and replaced with a mixin for scenery/node called Accessibility.js.  This work is still being maintained on a branch in scenery.

This branch has the necessary changes for the transition from AccessibleNode to the mixin, and should be merged with master when the Accessibility mixin is merged into the scenery master b

[2017-02-01 00:16] jessegreenberg commented on #241
Merge completed via a21782d40ff1659df73316968362a936711ad5d7. Deleting the branch.

[2017-02-01 00:18] jessegreenberg commented on #241
Branch deleted. Closing.

[2017-02-01 00:18] #241 closed

[2017-02-01 15:19] samreid commented on #239
This is also noted in https://github.com/phetsims/scenery/issues/600 but I'll leave this issue open since I will likely work on it during CCK work.

[2017-02-01 16:47] samreid commented on #239
It looks like a ResistorNode is getting an endDrag to set the pointer to null, then a call to up.  The event.pointer is mouse but the this.pointer is null.

[2017-02-01 17:02] samreid commented on #239
The problem goes away if I comment out `circuitConstructionKitScreenView.dropCircuitElementNodeInToolbox( self );`

[2017-02-01 17:04] samreid commented on #239
I suspect I need to cancel or dispose the input listener for the object being dropped back in the toolbox.

[2017-02-01 17:07] samreid commented on #239
Changing the code to read like so works around the problem:

[code]

[2017-02-01 17:09] samreid commented on #239
@jonathanolson can you help me investigate this issue?

[2017-02-01 21:22] samreid commented on #239
@jonathanolson added a change to SimpleDragHandler to support this behavior.

[2017-02-02 17:23] samreid commented on #72
@kathy-phet said the artwork is ready.  @arouinfar can you send it my way?

[2017-02-02 18:11] arouinfar commented on #72
@samreid I've emailed you the assets.

[2017-02-02 20:10] samreid commented on #72
I was working on adding light bulb flames when I realized they don't exist in the Java version:

![image](https://cloud.githubusercontent.com/assets/679486/22566405/f7a23688-e948-11e6-8811-679572e4d089.png)

@arouinfar thoughts?  I'm leaning toward keeping light bulb flames as long as they don't look too odd.

[2017-02-02 20:13] samreid commented on #72
For instance, here's how it looks now:

![image](https://cloud.githubusercontent.com/assets/679486/22566499/58c9b850-e949-11e6-8669-7b618f8e78e9.png)

[2017-02-02 20:15] ariel-phet commented on #72
@samreid I think keeping the lightbulb flames would be problematic. A resistor only heats up if it has resistance (P=I^2*R). So The battery is being short circuited, and probably assumed to have some small internal resistance, but if you are setting the lightbulb to no resistance, it should actually not get hot.

[2017-02-02 20:16] arouinfar commented on #72
@samreid the Java version of CCK does not show a fire on the lightbulbs when shorted.

![image](https://cloud.githubusercontent.com/assets/8419308/22566561/ab87689e-e949-11e6-9ba8-d3a8557ba6dc.png)

[2017-02-02 20:16] samreid commented on #72
@ariel-phet by that logic should we suppress fire on the resistors as well?  (Resistor fires *are* shown in Java, see https://github.com/phetsims/circuit-construction-kit-common/issues/72#issuecomment-275179321 )

[2017-02-02 20:17] arouinfar commented on #72
Ah, I missed an earlier comment in the chain. I don't think the fire on the lightbulb is necessary, especially given @ariel-phet's comment.

[2017-02-02 20:20] ariel-phet commented on #72
@samreid @arouinfar it depends...is the fire based on the current level? It just is incorrect to have a component with zero resistance catching fire.

[2017-02-02 20:33] samreid commented on #72
Yes, in the Java there is a 10 Amp threshold.

[2017-02-02 20:38] samreid commented on #72
I could add a rule: fire only displays if it is a battery or a component with resistance >= 0.01 Ohms.  I think the battery internal resistance is modeled as `1E-4` in the Java.  It looks like it is 0 in the HTML5--I'll create a new issue to see if that's an problem.

[2017-02-02 20:40] samreid opened #242 "What should the battery internal resistance be?"
In https://github.com/phetsims/circuit-construction-kit-common/issues/72#issuecomment-277076184 we saw that Java has the internal battery resistance at 1E-4 and the HTML one looks like 0.  I should confirm these suspicions and see if it is causing any trouble, or if it should be changed in HTML5.

[2017-02-03 16:31] samreid opened #243 "Dropping a circuit element in the toolbox is broken"
Noted yesterday

[2017-02-03 16:32] samreid commented on #72
Assigned to @arouinfar and @ariel-phet for feedback.

[2017-02-03 16:36] samreid commented on #243
Fixed in above commit, closing.

[2017-02-03 16:36] #243 closed

[2017-02-03 17:08] samreid commented on #72
This is mainly working in master (though we still need to discuss what to do with 0-resistance components).

Possible next steps:
1. backport this fix to the legacy branch
2. abandon the legacy branch and thoroughly test master

Master has diverged so much from the legacy branch that it is no longer to automatically or semi-automatically merge the changes. All changes now have to be done manually,

[2017-02-03 17:09] samreid commented on #72
I'll plan to manually backport the fire from master to the branch, and I'll move the above comment to a new issue.

[2017-02-03 17:17] samreid commented on #72
Back-merging this through cherry-picks has been possible because this is in circuit-construction-kit-common (not black box repo).

[2017-02-03 17:21] samreid commented on #72
Here's a dev version of the branch: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.8/circuit-construction-kit-black-box-study_en.html

I'll sanity test then reassign to @arouinfar for further testing.

[2017-02-03 17:30] samreid commented on #72
That version had buggy fire for the light bulb.  Based on discussion above I also removed the resistor fire and here's a new version for me to test:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.9/circuit-construction-kit-black-box-study_en.html

[2017-02-03 17:32] samreid commented on #72
Seems OK during my testing, @arouinfar can you take a closer look?

[2017-02-03 18:02] samreid commented on #242
If I recall correctly, I added the battery internal resistance in Java to prevent numeric instability in the solutions.  Thus far, we have not observed any numerical problems in the circuits with the battery internal resistance being 0 (ideal battery).  My recommendation: leave this issue open but "on hold" as a thing to double check before publishing in case numerical issues arise.

[2017-02-03 18:03] samreid commented on #228
There are many unknowns about getting this to work and the odds are extremely low that it would serve as a drop-in replacement in time for July.  I'm unassigning for now.

[2017-02-03 18:31] arouinfar commented on #72
Everything looks good, as far as the logic for the fire artwork. My one complaint would be the placement of the artwork looks a little off.

![image](https://cloud.githubusercontent.com/assets/8419308/22603097/34966bee-ea03-11e6-9715-810bfd95f2c3.png)

I think it would look a bit cleaner if the flames were shifted a bit to the left so that they would look more centered.

![image](https://cloud.git

[2017-02-03 20:19] kathy-phet commented on #72
I'd like to continue the discussion around resistors catching fire as we move forward with CCK DC. Resistors can catch fire in the real world, and I think there is learning there (and fun).

[2017-02-03 20:23] ariel-phet commented on #72
@kathy-phet I am fine with resistors catching fire at **low resistance** but not at zero resistance.

[2017-02-03 20:27] kathy-phet commented on #72
Yes, I agree - that is where discussion should head in terms of where they will show fire.

[2017-02-06 19:17] arouinfar commented on #63
@samreid based on the discussion at design meeting last week, I don't think we'll be moving ahead with the outline, so I'll go ahead and close this issue.

[2017-02-06 19:17] #63 closed

[2017-02-06 19:21] arouinfar commented on #224
@samreid during last week's design meeting, we discussed the possibility of having a slightly longer flicker (~0.5 s) on release. Otherwise, we decided the current toolbox behavior should remain as-is.

[2017-02-06 20:41] arouinfar commented on #72
@samreid I agree with @ariel-phet and @kathy-phet. I am fine with resistors catching fire so long as they have a low, but non-zero, resistance.

[2017-02-06 23:15] arouinfar opened #244 "Increase flicker time when item in toolbox is clicked and released"
In https://github.com/phetsims/scenery-phet/issues/289 @ariel-phet wrote:

When at item in the toolbox is clicked (down then immediate up), the object flickers large. In the Toolbox design meeting, the consensus was that this "flicker" time could be made a bit longer (~0.5s).

@samreid can you try this out in CCK? If we like the behavior, it could retroactively apply to several other sims, so plea

[2017-02-06 23:15] arouinfar commented on #224
I've created a new issue to track the longer flicker (#244) , so I'll go ahead and close this one @samreid.

[2017-02-06 23:15] #224 closed

[2017-02-07 18:47] ariel-phet opened #245 "Light Bulb stays lit during short circuit"
A twitter user pointed out that in the Java version during a short circuit the bulb stays lit (confusing to students). This is incorrect and should be addressed in the HTML5 version. See screenshot below, in this scenario the short circuit electrons are moving quickly and the bulb side are frozen (as they should be) but the bulb is still lit.

![sc](https://cloud.githubusercontent.com/assets/40511

[2017-02-08 16:17] samreid commented on #239
Circuit Construction Kit: Black Box Study is currently passing 60 seconds of fuzzing, closing for now.

[2017-02-08 16:17] #239 closed

[2017-02-08 16:17] samreid commented on #217
Circuit Construction Kit: Black Box Study is currently passing 60 seconds of fuzzing, closing for now.

[2017-02-08 16:17] #217 closed

[2017-02-08 16:18] samreid commented on #211
Circuit Construction Kit: Black Box Study is currently passing 60 seconds of fuzzing, closing for now.

[2017-02-08 16:18] #211 closed

[2017-02-08 16:18] samreid commented on #119
Circuit Construction Kit: Black Box Study is currently passing 60 seconds of fuzzing, closing for now.

[2017-02-08 16:18] #119 closed

[2017-02-08 16:22] samreid opened #246 "Fire artwork should be centered"
From https://github.com/phetsims/circuit-construction-kit-common/issues/72#issuecomment-277324930

Everything looks good, as far as the logic for the fire artwork. My one complaint would be the placement of the artwork looks a little off.

![image](https://cloud.githubusercontent.com/assets/8419308/22603097/34966bee-ea03-11e6-9715-810bfd95f2c3.png)

I think it would look a bit cleaner if the flame

[2017-02-08 16:28] samreid opened #247 "Resistors should catch fire at low but non-zero resistance"
See the tail of https://github.com/phetsims/circuit-construction-kit-common/issues/72

The consensus from that thread was that resistors should catch fire but only if they have non-zero resistance.  At the lowest non-zero resistance of 0.5 ohms, a resistor will catch fire (at the 10 amp limit) with merely a 5V battery.

[2017-02-08 16:28] samreid commented on #72
Fire artwork has been added, hence this issue will be closed.  We will follow-up in the aforementioned 2 issues.

[2017-02-08 16:28] #72 closed

[2017-02-08 16:38] samreid commented on #245
If I understand correctly, for an ideal battery, the introduction of a short circuit doesn't change the voltage or current through the light bulb.  What does change is that the simulation is now running at reduced speed (to prevent strobe effect of electron motion). Hence it appears the electrons aren't moving through the light bulb (and it says speed reduced to <1% normal), but the electrons are

[2017-02-08 16:47] ariel-phet commented on #245
@samreid there is a conflict here:

1. an ideal battery would also not catch fire (no internal resistance, so no reason to heat up)

2. We are trying to depict the real world...especially in a basics version, allowing students to see the effects of a short circuit seems an important learning goal (for instance the twitter user specifically pointed out the students were confused the bulb stayed lit

[2017-02-08 16:52] samreid opened #248 "Dealing with 0 resistance light bulbs and resistors"
It is odd to show a resistor or light bulb that has 0 resistance, since these don't exist in real life (unless they are broken).  Some possibilities:

* Graphically depict a 0 resistance resistor (or bulb) as a wire
* Prevent the user from turning the resistance to 0.  (I'm not a fan of this idea since it limits the ability of the user to explore).

@arouinfar and @ariel-phet thoughts?

[2017-02-08 16:58] samreid commented on #247
Fixed above, closing.

[2017-02-08 16:58] #247 closed

[2017-02-08 17:07] samreid commented on #246
I fixed the transform to get it centered, but it overlaps with the vertices now:

![image](https://cloud.githubusercontent.com/assets/679486/22748125/51dd6e46-ede6-11e6-8f3f-1de789b60c4a.png)

Not sure if this is preferable (fire goes along the extent of the component), or to reduce it as we have mocked up in the previous comments.

[2017-02-08 17:15] samreid commented on #246
I added the padding on both sides, it looks better and doesn't interfere with the vertices.

[2017-02-08 17:20] samreid commented on #246
Fixed in above commit, closing.

[2017-02-08 17:20] #246 closed

[2017-02-08 17:36] samreid commented on #180
Putting updateStroke in a timeout(0) works around this problem.

[2017-02-08 17:41] samreid commented on #180
Fixed above, closing.

[2017-02-08 17:41] #180 closed

[2017-02-08 17:43] samreid commented on #176
This appears fixed in master, closing.

[2017-02-08 17:51] ariel-phet commented on #248
@samreid they do actually exist...they are called superconductors :). So it is not outside the realm of real life.

I do not think we should necessarily prevent this situation, but it does have consequences.

[2017-02-08 22:35] phet-steele opened #249 "Label text should not be camel case"
@arouinfar noticed that these labels should probably not be camel case. Title case (with a space between "light" and "bulb") would probably be better.

<img width="152" alt="screen shot 2017-02-08 at 3 27 58 pm" src="https://cloud.githubusercontent.com/assets/5863899/22760314/3564f252-ee13-11e6-98b8-79c998148ac6.png">

Seen on macOS 10.12.3 Chrome. For phetsims/tasks/issues/781.

[2017-02-08 22:37] samreid commented on #249
Agreed, good catch!

[2017-02-08 22:44] phet-steele opened #250 "Remove the toolbox highlight"
Based on https://github.com/phetsims/circuit-construction-kit-common/issues/63#issuecomment-277782953, the outline on the toolbox should be removed in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.1/circuit-construction-kit-black-box-study_en-phetio.html?phetioStandalone

Seen on macOS 10.12.3 Chrome. For phetsims/tasks#781.

[2017-02-08 22:57] phet-steele opened #251 "Light bulb has an electron that flickers"
I do not see the following bug on the BB screen.

1. Have nothing in the play area
2. Show Electrons

The first light bulb you drag out will show four electrons. Any subsequent light bulb will show a 5th, flickering near its base whenever it is moved.

![cckbbio02](https://cloud.githubusercontent.com/assets/5863899/22761260/386020c2-ee17-11e6-975d-ce6437133d0a.gif)

Seen on macOS 10.12.3 Chrome. F

[2017-02-09 00:05] arouinfar commented on #248
@samreid @ariel-phet I don't think it's necessarily harmful to keep the 0 resistance bulbs and resistors. In some situations, it may actually be a bit handy. For example, a teacher may set up a somewhat complicated circuit, and then decide to "turn off" various resistors or bulbs by setting R = 0.

[2017-02-09 00:18] kathy-phet commented on #248
I think we do want to Keep 0 resistance or make it nearly zero equivalent. I see lots of cases where this is useful for parallel and series circuits.

Sent from my iPhone

On Feb 8, 2017, at 5:05 PM, Amy Rouinfar <notifications@github.com<mailto:notifications@github.com>> wrote:

@samreid<https://github.com/samreid> @ariel-phet<https://github.com/ariel-phet> I don't think it's necessarily harmful

[2017-02-09 02:18] samreid commented on #248
We are in agreement that we should be able to set resistor and light bulb resistances to 0.  Should a 0 resistance light bulb look exactly the same as a 10 Ohm light bulb?

[2017-02-09 02:33] samreid commented on #249
Fixed above, will be ready for verification in rc.2.

[2017-02-09 02:35] samreid commented on #250
Fixed above, will leave open until confirmed in rc.2.

[2017-02-09 06:19] samreid commented on #251
Here's some very sketchy/broken/prototype ideas about how to deal with the rendering order in CircuitNode:

[code]

[2017-02-09 13:56] samreid commented on #251
Another approach for dealing with the z-order would be to make the electrons children of the circuit element--but this would lead to rendering artifacts where circuit elements meet together (electrons will go "underneath" adjacent elements.  We will also need to account for this problem if using a strategy like the one proposed above.

[2017-02-09 14:30] samreid commented on #249
Ready for verification in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.2/circuit-construction-kit-black-box-study_en-phetio.html?phetioStandalone

[2017-02-09 14:30] samreid commented on #250
Ready for verification in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.2/circuit-construction-kit-black-box-study_en-phetio.html?phetioStandalone

[2017-02-09 17:05] phet-steele commented on #250
Removed in rc.2, thanks!

[2017-02-09 17:05] #250 closed

[2017-02-09 17:18] arouinfar commented on #249
It's not title case, but I actually prefer the way the lower case labels look. Thanks @samreid.

[2017-02-09 17:18] #249 closed

[2017-02-09 17:21] samreid commented on #249
I tried Title case (with upper case first letter), but it looked odd to me and lower seemed much better.

[2017-02-09 17:22] arouinfar commented on #249
Good call @samreid. Thanks!

[2017-02-09 17:26] arouinfar commented on #248
@samreid I think they should look the same, with the exception that a 0 ohm bulb won't light up.

[2017-02-09 17:50] phet-steele opened #252 "Odd yellow square when a light bulb is selected"
I've got this little yellow square towards the upper left of the light bulb when I select it for edit. It doesn't look like it does anything.

<img width="264" alt="screen shot 2017-02-09 at 10 35 27 am" src="https://cloud.githubusercontent.com/assets/5863899/22795888/8556e624-eeb5-11e6-8617-20d3957f8703.png">

Seen on macOS 10.12.3 Chrome. For phetsims/tasks/issues/781.

[2017-02-09 18:25] phet-steele opened #253 "Slider resizes when thumbs at min/max"
It looks like the thumb on each slider will reposition the tweakers if the thumb has extended further  than the right or left of the track. The reposition/resize only happens after disabling then re-enabling the slider. I used a wire to align to the left edge of a tweaker so it was more obvious when it moved.

1. Click on a component to enable the slider.
2. Move the thumb all the way left or righ

[2017-02-10 17:52] samreid commented on #252
Fixed in preceding commit, will leave open until confirmed in rc.3.

[2017-02-10 17:57] phet-steele opened #254 "Vertex....Pulling?"
Using fixed length components, you can detach vertices from their body while controlling the opposite vertex you are attaching.

In this video, I am controlling vertex 26 and "pushing" vertex 27 and 24 together. Once I release 26, the battery is pulled away from vertex 25:

![cckbbio07](https://cloud.githubusercontent.com/assets/5863899/22837836/8ecf825e-ef7f-11e6-87da-9c67b9a2fdc9.gif)

Seen on m

[2017-02-10 18:20] samreid commented on #253
It seems the best way to address the root cause of this problem would be to add struts or bounds to the slider itself that will account for the half width of the slider.

[2017-02-10 18:45] samreid commented on #253
We will pursue a solution to this problem in https://github.com/phetsims/sun/issues/282

[2017-02-10 18:45] samreid commented on #253
Note: when this is fixed in common code, we will need new SHAs or a common code branch for RC.3.

[2017-02-10 21:23] samreid commented on #254
I have reproduced the problem, thanks @phet-steele!

[2017-02-10 21:49] samreid opened #255 "Solder should be behind components"
I think https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/36 made the solder go in front of components like so:

![image](https://cloud.githubusercontent.com/assets/679486/22845475/16598e2a-efa0-11e6-934f-dc1ff38c76e0.png)

Tagging for work as part of https://github.com/phetsims/tasks/issues/781

[2017-02-10 21:58] samreid commented on #254
Proposed fix is above, ready for testing with RC.3 is ready.

[2017-02-10 23:19] samreid commented on #255
It looks like the previous version had this half-right (screenshot from RC.1):

![image](https://cloud.githubusercontent.com/assets/679486/22847794/bc2947f8-efac-11e6-9245-b82c2070a557.png)

[2017-02-10 23:45] arouinfar commented on #255
@samreid in rc.2 I noticed that the solder joint between two fixed-length components can temporarily get mis-layered between the two components. I included a clip with batteries, but the same happens with any combination of batteries and resistors.

![solder_layering](https://cloud.githubusercontent.com/assets/8419308/22848175/c2544170-efaf-11e6-8f11-0e0891611fbc.gif)

[2017-02-10 23:48] arouinfar commented on #255
Actually, it looks like the mis-layering also happens when attaching a fixed-length component to a wire (but not the other way around).

![solder_layering_2](https://cloud.githubusercontent.com/assets/8419308/22848303/b14c4c78-efb0-11e6-8d68-ef86efb1d90d.gif)

[2017-02-11 20:21] samreid commented on #255
Here are my notes for when I resume work on this:

[code]

[2017-02-13 20:50] phet-steele opened #256 "Fire is seen when the sim is paused"
This seems not ideal, especially when coupled with the static electrons. A quick discussion with @arouinfar yielded that, for the purposes of this particular play/pause button, the effects of a circuit should only be seen when the sim is playing. This does mean that fire will "flicker" on and off when the sim is toggled between play/pause.

Seen on macOS 10.12.3 Chrome. For phetsims/tasks#781.

[2017-02-15 16:34] samreid commented on #253
Fixed in the sun issue/pending testing/requires new SHA.

[2017-02-15 16:38] samreid commented on #255
@arouinfar this is currently the only remaining item on my list of problems in RC.2.  I'd like to address it but am somewhat concerned that the fix will be invasive and would require a lot of testing and could create other issues.  Do you think we could move to RC.3 without this, or should I spend time on this now?  (I am not sure whether it is critical for Shima's upcoming usage).  CCK has specia

[2017-02-15 17:02] samreid commented on #256
Fixed above and ready for testing in rc.3+

[2017-02-15 17:35] samreid commented on #255
From our skype chat:

[2/15/17, 10:19:59 AM] Sam Reid: For CCK it looks like I’ll need to add code that moves one node in front of another node.  Is there scenery support for this?  Should there be?
[2/15/17, 10:21:16 AM] Sam Reid: Currently I have something like:  var index = parent.indexOf( a); parent.removeChild( b); parent.insertChild(index, b);
[2/15/17, 10:22:12 AM] Denzell Barnett: Node.js

[2017-02-15 17:36] samreid commented on #255
I wonder if it would work to have a wireLayer, then solder layer, then circuit element layer.  But then how would the electrons work?

[2017-02-15 17:42] samreid commented on #255
Perhaps electrons could travel in the node of their circuit element, and get reparented if they get close enough to a neighbor (taking whichever is in front).

[2017-02-15 17:44] samreid commented on #255
I asked

[2017-02-15 17:44] samreid commented on #255
But I'm not sure the wire/solder/circuit-element pattern would work for black box, because there are wires that must be able to go in front of the black box and some go behind it.

[2017-02-15 18:11] samreid commented on #255
[2/15/17, 10:33:44 AM] Chris Malley: My point is that a different scenegraph structure might eliminate the need to reorder sibling Nodes.
[2/15/17, 10:33:49 AM] Sam Reid: I would love that
[2/15/17, 10:34:08 AM] Sam Reid: I searched for one but could not find one that solved the edge cases.
[2/15/17, 10:35:08 AM] Sam Reid: I’m currently working on re-ordering the solder layer as a workaround but I

[2017-02-15 18:19] arouinfar commented on #255
@samreid I do not think that the layering or transparency of the nodes will have any adverse effect on Shima's study. Given the invasiveness of the change, I would not recommend addressing this issue until after the version for Shima has been built/delivered.

[2017-02-15 18:19] samreid commented on #255
Proposed fix in the preceding commit.  Tested for a few minutes in both screens, and it seems OK so far.  Could use more extensive testing.

[2017-02-15 18:21] samreid commented on #255
Ah, it looks like I missed it by just 3 seconds:

![image](https://cloud.githubusercontent.com/assets/679486/22988857/ccb5548c-f370-11e6-8d5b-229e60d37cd9.png)

I'll work on creating RC.3.

[2017-02-15 18:35] arouinfar commented on #255
@samreid sorry for keeping you waiting. Looks like the automated GitHub emails have been rather delayed today.  For clarification, will rc.3 include https://github.com/phetsims/circuit-construction-kit-common/commit/8171b21e653db7ba569ab52b3c6e9e5f9933b352?

[2017-02-15 18:37] samreid commented on #255
Yes, I was able to isolate the change to when vertices are connected or created, so hopefully it will be ok.  Or, if there are downstream problems caused by this, hopefully we can address them easily.

[2017-02-15 18:38] arouinfar commented on #255
Thanks for the clarification @samreid!

[2017-02-15 19:04] phet-steele commented on #252
Fixed here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.3/circuit-construction-kit-black-box-study_en-phetio.html?phetioStandalone

[2017-02-15 19:04] #252 closed

[2017-02-15 19:06] phet-steele commented on #253
Looks good in rc.3 @samreid.

[2017-02-15 19:16] phet-steele commented on #254
@samreid your fix works for single component manipulation, but not if I am moving a vertex atached to a different circuit element (I'm pushing vertex 26):

![cckbbio08](https://cloud.githubusercontent.com/assets/5863899/22991118/84f037fe-f378-11e6-9fbb-0a76641b4062.gif)

[2017-02-15 19:21] samreid commented on #254
Good catch @phet-steele.  @arouinfar and @phet-steele what behavior do you recommend for that case?  I believe there is already code to bump vertices away from each other, or we could try letting them be close without connecting.  I guess I'm leaning toward bumping them away so we don't end up with a situation where two elements look connected but aren't connected.  Sound OK to try?

[2017-02-15 19:22] samreid commented on #253
@phet-steele can this be closed?

[2017-02-15 19:33] arouinfar commented on #254
@samreid is it not possible for the right-most battery in https://github.com/phetsims/circuit-construction-kit-common/issues/254#issuecomment-280109283 to remain attached to vertex 23 when it scoots left? If not, I think it would be reasonable to try bumping the right-most battery away instead.

[2017-02-15 19:39] phet-steele commented on #253
Indeed it can! Left it open in case you would use it as a reminder for the sun issue.

[2017-02-15 19:39] #253 closed

[2017-02-15 19:46] phet-steele commented on #254
@samreid a bump would not solve the case where the component you are pushing towards is fixed in place:

![cckbbio09](https://cloud.githubusercontent.com/assets/5863899/22992340/a91bc5a4-f37c-11e6-8cda-e9c9005acbc9.gif)

[2017-02-15 19:49] phet-steele commented on #254
Actually, I didn't need the battery:
<img width="1058" alt="screen shot 2017-02-15 at 12 48 44 pm" src="https://cloud.githubusercontent.com/assets/5863899/22992510/22c8e5f8-f37d-11e6-9cc6-0197dfd6af50.png">

[2017-02-15 20:26] samreid commented on #253
I got the new sun sha, so we are good to go.  Thanks!

[2017-02-15 20:28] phet-steele commented on #256
Bel lavoro!

[2017-02-15 20:28] #256 closed

[2017-02-15 21:04] samreid commented on #165
@phet-steele was this addressed in https://github.com/phetsims/circuit-construction-kit-common/issues/255 ?

[2017-02-15 21:05] samreid commented on #164
@phet-steele is this fixed in RC.3?

[2017-02-15 21:05] phet-steele opened #257 "Cut buttons can be lost off screen"
@samreid I would recommend not letting the scissors get lost off the screen when vertices are along the edges of the sim.

<img width="253" alt="screen shot 2017-02-15 at 2 00 54 pm" src="https://cloud.githubusercontent.com/assets/5863899/22995209/362f9286-f387-11e6-811e-02da20b12fd8.png">

[2017-02-15 21:14] phet-steele commented on #165
No. This procedure can still be followed in rc.3. It is still very order-dependent.

1. Drag out a bulb
2. Drag out a wire and DROP IT (don't connect it to anything)!
3. Drag the bulb to the wire. The wire is in front of the solder

<img width="423" alt="screen shot 2017-02-15 at 2 13 26 pm" src="https://cloud.githubusercontent.com/assets/5863899/22995661/fabcf3c2-f388-11e6-8da9-195a1b699aa9.png">

[2017-02-15 21:28] phet-steele commented on #164
No, before reveal:
<img width="695" alt="screen shot 2017-02-15 at 2 26 18 pm" src="https://cloud.githubusercontent.com/assets/5863899/22996135/f1e08028-f38a-11e6-843c-6004a382cb74.png">

After reveal:
<img width="727" alt="screen shot 2017-02-15 at 2 27 09 pm" src="https://cloud.githubusercontent.com/assets/5863899/22996146/f93d5d96-f38a-11e6-81e5-facae1689965.png">

[2017-02-15 23:08] phet-steele commented on #176
@samreid this is what I see in rc.3. Granted it is slightly different since the left over vertex is red instead of black. The procedure is still the same and shows solder on a vertex with no connections.
![cckbbio10](https://cloud.githubusercontent.com/assets/5863899/22999477/dd99b982-f398-11e6-87be-75904002746d.gif)

[2017-02-15 23:29] phet-steele opened #258 "Reset All does not reset the Labels checkbox"
Seen in rc.3 on macOS 10.12.3 Chrome. For phetsims/tasks#781.

[2017-02-17 05:28] samreid commented on #258
Good catch, fixed above.

[2017-02-17 05:34] samreid commented on #254
@arouinfar is the behavior in rc.3 acceptable for our February deadline?

[2017-02-17 05:42] samreid commented on #255
Ready for testing in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.4/wrappers/index/

[2017-02-17 05:45] samreid commented on #258
Ready for testing in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.4/wrappers/index/

[2017-02-17 16:06] samreid commented on #257
We'll also need to handle the situation where the scissors are onscreen and then the screen is resized (though I think in other sims the popup controls just disappear when the window is resized).

[2017-02-17 16:08] samreid commented on #254
We could do that, but we must consider the more general case where the battery on the right is also connected to a larger circuit (or a black box vertex).

[2017-02-17 16:54] phet-steele commented on #258
Bien fait, @samreid.

[2017-02-17 16:54] #258 closed

[2017-02-17 18:36] arouinfar commented on #255
@samreid I haven't been able to reproduce mis-layered solder on fixed-length components in rc.4.

[2017-02-17 18:36] #255 closed

[2017-02-17 18:51] arouinfar commented on #254
Excellent point @samreid. I haven't been able to reproduce any of the examples described in this issue in rc.4. The behavior is definitely acceptable for Stanford's study, but I would like @phet-steele to take another look to make sure this is good enough for a publishable sim.

[2017-02-17 19:29] arouinfar commented on #254
So after consulting with @phet-steele I realized that I didn't fully understand the procedure to cause vertex pulling. In rc.3 I was able to get vertices to pull without releasing the component.

I can still cause vertex pulling in rc.4, but I think it's a little tricky to do. I do not think this is a blocking issue for Stanford, but we'll need to address this before sim publication.

[2017-02-24 16:53] samreid opened #259 "Light bulb should become transparent at power=0"
@kathy-phet said in https://github.com/phetsims/circuit-construction-kit-dc/issues/16

[2017-02-24 19:45] samreid opened #260 "Instead of a sudden max for light bulb brightness, use a logistic function or other asymptote"
From https://github.com/phetsims/circuit-construction-kit-dc/issues/16

@arouinfar would you like to recommend a max power?  Or should we try to implement a gradual (instead of sudden) cutoff, like a logistic function, so that we can depict different powers over a wider range?

![image](https://cloud.githubusercontent.com/assets/679486/23290198/400a5486-fa0c-11e6-9fcf-f50512d7368d.png)

[2017-02-24 19:45] samreid commented on #260
@kathy-phet said:

[2017-02-24 19:45] samreid commented on #260
@kathy-phet said:

[2017-02-24 19:45] samreid commented on #260
@arouinfar said:

[2017-02-24 20:35] kathy-phet opened #261 "Default resistivity"
In the CCK:DC (java), wires and lowest-resistence bulbs have a small amount of resistance. We should look closely at this behavior as we work on the DC HTML version - as I recall we spent a lot of time honing these types of choices in the original.

[2017-02-28 17:57] phet-steele opened #262 "Automated Testing Sim Error (2/28/2017 10:00 AM)"
[code]

[2017-03-01 17:51] samreid commented on #262
It looks like the best explanation is that sometimes a vertex is null.  But this is checked in

[code]

so I'm not sure how this could be happening.

[2017-03-01 17:58] samreid commented on #262
Unassigned until we have more information or I see it in my testing.  (two fuzz tests did not reveal this problem for me).

[2017-03-01 18:02] samreid commented on #260
@arouinfar can you please think about how we should depict brightness as a function of power, and make a recommendation for this issue?  You could provide (a) a function or (b) a clear description of how it should behave then we can work together to make it a function.

[2017-03-01 18:06] samreid commented on #262
I can reproduce this issue in Black Box Study, but not DC.  I'll take a closer look.

[2017-03-01 18:10] samreid commented on #262
Fixed above, @phet-steele can you double check?

[2017-03-01 18:12] samreid commented on #259
@arouinfar can you please provide artwork for the light bulb that will help with this?  All the images I have right now show as opaque even for power=0.

![image](https://cloud.githubusercontent.com/assets/679486/23474140/f1323280-fe6f-11e6-97f8-ea1639722e45.png)

Please see https://github.com/phetsims/circuit-construction-kit-common/tree/a1d7c54dd6267bc26b750f0e891e8f2a4dac0cfc/images for a remin

[2017-03-01 18:18] phet-steele commented on #262
Nice easy fix, thanks @samreid. Fuzzing at the following for four minutes did not show the error: http://phettest.colorado.edu/circuit-construction-kit-black-box-study/circuit-construction-kit-black-box-study_en.html?ea&brand=phet&screens=1&fuzzMouse

[2017-03-01 18:18] #262 closed

[2017-03-01 18:27] samreid commented on #257
Proposed fix is above, @phet-steele would you like to test it?

[2017-03-01 19:38] samreid commented on #254
Since the remaining issue looks like it only affects the BBS version, I'll move this issue to that repo.

[2017-03-01 19:51] arouinfar commented on #259
@samreid I've split the current lightbulb asset into three layers. The back (left) layer would only be visible when P>0.
![image](https://cloud.githubusercontent.com/assets/8419308/23478154/9eb63476-fe7d-11e6-8661-4f3f7d4d11d6.png)

I'll email you the updated assets.

[2017-03-01 20:07] arouinfar commented on #238
@samreid I'm happy with the light bulb used CCK:BB and CCK:Prototype. We can re-review the behavior during the next design meeting to see if there is anything we'd like fine-tuned. Light bulb discussion would also need to include #73 and #259.

[2017-03-01 20:12] arouinfar commented on #73
@samreid looking at this issue again, I'm not sure that this is a necessary feature. That said, we can still discuss it at design meeting to see if the other team members agree. Self-assigning for now.

[2017-03-01 20:45] arouinfar commented on #234
@samreid here's an example of Accordion menu + Balancing Act-style Carousel. I think we'd want the Grab Bag closed by default on the Intro screen, and possibly open on the Lab screen.

![image](https://cloud.githubusercontent.com/assets/8419308/23480215/67be62b6-fe84-11e6-8516-b7a3f23b97fe.png)

The Balancing Act-style carousel does not have tracking dots, nor is it infinite. In BA, there's a defi

[2017-03-01 20:57] arouinfar commented on #73
On second thought... I re-discovered this feature while playing with Java CCK, so my guess is that we'll want to keep this feature. I'll mock up some options for the next design meeting.

[2017-03-01 21:22] samreid commented on #73
@arouinfar can you consider symmetrical attachments, to see if we can eliminate this problem.  For instance, instead of having the attachment point on the right or the left, having it in the center (but on the metal part in the front in z-layering)?

[2017-03-01 22:01] arouinfar commented on #73
Are you suggesting something like this @samreid?

[2017-03-01 22:10] arouinfar commented on #234
I read through the meeting notes again, and in the 7/7/16 notes, we said

Here's what it would look like with the tracking dots. There are 7 items in the Grab Bag, so 4 dots would be needed.
![image](https://cloud.githubusercontent.com/assets/8419308/23483658/146a456e-fe91-11e6-98f5-608b4edbd54a.png)

[2017-03-01 23:09] samreid commented on #73
Yes, but perhaps it would help if the internal filament had one end pointing at the top vertex and the other end pointing at the bottom vertex, as an additional cue.

[2017-03-01 23:17] arouinfar commented on #73
@samreid I think the problem with the vertex arrangement in https://github.com/phetsims/circuit-construction-kit-common/issues/73#issuecomment-283484902 is that there's not a clear way to show  how the filament attaches to the vertices (which will look odd with Show Electrons). I don't think I quite follow your latest comment. Perhaps we can briefly chat about this before/after status tomorrow?

[2017-03-01 23:27] arouinfar commented on #73
If we decide to mirror the connection, we could add a mirroring button next to the resistance slider like so:

[2017-03-02 00:20] arouinfar commented on #151
@samreid thanks for your suggestions. Here are my thoughts.

I think query parameters are probably the best option, but I'm not sure about automatically updating the URL is the way to go. As you've pointed out, there are some pretty obvious usability issues.

Is this a viable option for iPads? I think we want to find a solution that would work across all of our supported platforms.

Drop to load i

[2017-03-02 21:41] samreid commented on #235
Only 2 zoom levels.  Default and "zoom out".

[2017-03-02 22:04] samreid commented on #10
Normally, the current resistance curves are not a function of time.

[2017-03-02 22:07] samreid opened #263 "Review Unfuddle issues"
@kathy-phet asked @arouinfar to review the unfuddle issues.

[2017-03-02 23:05] arouinfar commented on #234
Discussed during the 3/2/17 design meeting.

Grab bag is not necessary on Intro screen. We could possibly add another screen "More" (2nd screen) that would be the Intro Screen + Grab Bag.

There could be one big carousel that includes the circuit components and grab bag items. The wire (and possibly the battery) would always be at the top of the carousel.

Leaving self-assigned to mock this up.

[2017-03-02 23:16] arouinfar commented on #151
I know we didn't get the chance to talk about this at design meeting, but perhaps we can have some of this discussion over GitHub. @samreid and/or @ariel-phet can you take a look at the suggestions in https://github.com/phetsims/circuit-construction-kit-common/issues/151#issuecomment-283515625?  If you have any alternative suggestions, I'd be happy to mock them up before the next meeting.

[2017-03-02 23:35] oliver-phet opened #463 "Add a fuse"

[2017-03-02 23:38] samreid commented on #151
Perhaps the most straightforward way (for our users and implementation) would be to use File Save (as we do for the "screenshot" button) and the File Load (as we do for the phet-io playback wrapper).  This would not suffer from any limitation on file sizes and should be familiar with users.  However, the user would need to be able to write files to their computer (may not be possible on all school

[2017-03-03 00:22] arouinfar commented on #263
Thanks for opening this issue @samreid. I'll review Unfuddle tomorrow.

[2017-03-03 16:24] samreid commented on #244
Fixed above, will need review in next version.

[2017-03-03 16:45] samreid opened #264 "Create artwork for the objects"
@arouinfar can you please work with our artist to create artwork for the objects to be used in the 2nd screen?

Note to self: this issue is in common instead of "dc" because we may use the objects in other cck sims.

[2017-03-03 16:49] samreid commented on #95
From yesterday's meeting:

Checkbox with nested radio options (Show current, electrons default)

Instead of an electron, we could show an small red arrow pointing in the direction of the conventional current. These arrows would be animated around the circuit.

Red arrows would be a similar size to the electrons.

Checkbox with nested radio options
Show Current
Electrons
Conventional

Show Current

[2017-03-03 16:53] arouinfar commented on #95
Thanks @samreid!

Here's a screenshot of what the panel would look like with the default options on.
![image](https://cloud.githubusercontent.com/assets/8419308/23560321/3c9244c6-fff7-11e6-96b6-b1dd969dca68.png)

[2017-03-03 16:56] arouinfar commented on #95
@samreid you mentioned that the conventional current is something that you could try out programmatically. Would it be useful to you if I mocked something up first?

[2017-03-03 17:09] samreid commented on #95
I'm going to try using our ArrowNode and see how it looks.

[2017-03-03 17:26] samreid commented on #95
It's embarrassing, but here's the 1st draft with defaults for everything:

![image](https://cloud.githubusercontent.com/assets/679486/23561509/c99dae10-fffb-11e6-9476-77db211cdc3d.png)

I'll start on the 2nd draft.

[2017-03-03 17:30] samreid commented on #95
Should "values" be available in all screens?

[2017-03-03 17:39] samreid commented on #95
Whew, 2nd draft is somewhat better:

![image](https://cloud.githubusercontent.com/assets/679486/23561948/b15ba0e4-fffd-11e6-9174-08202f3eccf6.png)

[2017-03-03 17:47] samreid commented on #95
@arouinfar do you want icons in the "electrons" vs "conventional" radio buttons?

[2017-03-03 17:50] arouinfar commented on #95
@samreid the 2nd draft looks great! I was also wondering if we should add icons to the radio options. Perhaps a small electron and red arrow next to their respective option?

[2017-03-03 17:51] samreid commented on #95
On the right hand side, so they don't interfere with the radio button circles?  How to deal with alignment for different languages?  Or should we switch from aqua to the rectangular radio buttons (like we often use for scene selection)?

[2017-03-03 18:06] arouinfar commented on #95
@samreid I was proposing icons to the right of the radio button + label, as we typically do. We don't support layout changes for i18n, but even in RTL locales the sequence of radio button - string - icon seems to work.  I'm hesitant to use iconic radio buttons nested under a check box. We also have iconic radio buttons for the real vs. Schematic view of circuit components.

![screenshot_20170303-1

[2017-03-03 20:54] arouinfar commented on #95
@samreid I mocked up two versions of the Show Current radio buttons.  The iconic scene-selection style still feels a little strange to me nested under the checkbox, but it does have some advantages: fewer strings & better layout for i18n, shorter panel, avoids labelling current "electrons". What do you think @samreid?

![image](https://cloud.githubusercontent.com/assets/8419308/23568547/2c87b77a-0

[2017-03-03 20:58] samreid commented on #95
There may be an advantage in using the word "conventional" and "electrons", if they are part of the important vocabulary surrounding the sim.

[2017-03-03 21:04] samreid commented on #95
One other thought (not sure if it is a good idea or not):
What about using scene selection style radio buttons with text inside the button and vertically stacked.  This gets rid of the aqua radio buttons (which looks kind of like an electron/icon) and still includes the text and accommodates i18n.  If you think it is worth discussing, can you create a mock-up of it?

[2017-03-03 21:55] samreid commented on #95
It seems we will need to hide the arrows when the circuit is not connected.

[2017-03-03 22:14] samreid commented on #95
Do you want to gray out the radio buttons when the checkbox is deselected?  On the upside, it would cue that the checkbox controls the radio buttons.  On the downside, it would prevent the user from turning off the display, then changing display types, then turning the display back on (may be useful if the teacher is asking a predictive question).

[2017-03-03 22:18] samreid commented on #95
@arouinfar and @ariel-phet here's a rough draft that shows conventional current (when current is non-zero):
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.6/circuit-construction-kit-dc_en.html?screens=1

Let me know if you have any recommendations.

[2017-03-04 00:41] arouinfar commented on #95
@samreid I think the conventional current is a great first pass! However, the arrows feel a bit more crowded than the electrons (though I imagine this is probably an illusion). I'm also wondering if there's enough contrast between the arrows and the wires.

I think we're concerned that we may get some pushback from teachers if we refer to the current as "electrons". I'll show the latest dev to Mik

[2017-03-06 20:23] arouinfar commented on #10
I found another request for a non-Ohmic bulb on Unfuddle.

Unfuddle Ticket [#3212](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3212?cycle=true)

May be is it to difficult to make the resistor value from the light bulb increase. I don't know much about informatic programs.
If you can change that , it would be very good.

[2017-03-07 17:23] phet-steele opened #265 "Automated Testing Sim Error (3/7/2017 10:00 AM)"
Reproduced by hand:

1. "double click" a wire from the toolbox. First click will create the wire, second click will register in the small window of time before the wire is removed (since it is over the toolbox).

[code]

[2017-03-08 00:26] arouinfar opened #266 "User reported issue: batteries in parallel"
A user reported to phethelp:

![bug](https://cloud.githubusercontent.com/assets/8419308/23683983/38bb48c4-0359-11e7-8c98-781b90d75224.png)

I think the user may be conflating current and mAh. Consider a 9V battery connected to a 4.5 ohm resistor. The current through the resistor is 2 amps. If a 2nd 9V battery is connected in parallel to the 1st battery, the voltage across the resistor is still 9V,

[2017-03-08 16:16] samreid commented on #235
From recent meeting:

Two levels: Medium and Small from Java version.

Dynamic slider doesn’t directly support learning goals and could have animation performance costs, so a radio option may be better.

If circuit is built on the edge when zoomed out, that circuit should stay where it is when zoomed in. Don’t scoot it into the new zoom level. Leave it outside.

[2017-03-08 16:19] samreid commented on #235
@arouinfar where did we decide to put these controls at the end of the latest design meeting?

[2017-03-08 17:03] samreid commented on #235
I'm rolling with bottom-left for now.

[2017-03-08 17:04] arouinfar commented on #235
@samreid, when we tried having two separate carousels on the left side of the screen, we moved the zoom buttons to the lower right, near the reset all button. However, I think now that we've decided to combine the circuit components and grab bag into one carousel, we can keep the zoom buttons in the lower left corner.

[2017-03-08 17:48] samreid commented on #235
Currently the circuit element toolbox is in the same layer as the circuit itself.  Here's a note from Black Box about why that is done:

The effect is that the circuit toolbox zooms out too:

![image](https://cloud.githubusercontent.com/assets/679486/23716243/c198a34c-03ec-11e7-87f3-c0e15f89b464.png)

This does not seem desirable.

[2017-03-08 19:07] samreid commented on #235
Zoom is mostly working, I'll create side issues for the remaining work.

[2017-03-08 19:07] #235 closed

[2017-03-08 19:08] samreid opened #267 "Voltmeter & Ammeter should zoom in and out and have correct coordinate frames"
When zooming was introduced in #235, the voltmeter and ammeter are no longer in the correct coordinate frame.  Also, they need to zoom in and out with the circuit, so they do not become disconnected during zoom.

[2017-03-08 19:12] samreid commented on #147
It may be easier to hide or pause electrons during drag, but that could look odd or incorrect.

[2017-03-08 19:13] samreid commented on #164
Unassigning because it is not part of DC milestone.

[2017-03-08 19:20] samreid commented on #95
In the above commit, the radio button become enabled/disabled when the checkbox is checked/unchecked.  This issue is mainly complete, I'll create a side issue to determine whether the arrows or arrow density should be changed.

[2017-03-08 19:20] #95 closed

[2017-03-08 19:22] samreid opened #268 "Fine tune the conventional current arrow apprearance and density"
In https://github.com/phetsims/circuit-construction-kit-common/issues/95 we added conventional current, now we should decide exactly how the arrows should look and whether they should have different density than the electrons.  It currently looks like this and the arrows move at the same speed as the electrons do:

![image](https://cloud.githubusercontent.com/assets/679486/23719739/cdf02090-03f9-1

[2017-03-08 22:23] samreid commented on #267
Fixed in preceding commits, closing.

[2017-03-08 22:23] #267 closed

[2017-03-08 22:33] samreid opened #269 "Add a wire resistivity control panel"
For lab screen, something like this:

![image](https://cloud.githubusercontent.com/assets/679486/23727273/924d67b2-0414-11e7-8f2c-d453bc38abf5.png)

[2017-03-08 22:37] samreid opened #270 "Add series ammeter"
The Java version had an inline ammeter, which looked like this:

![image](https://cloud.githubusercontent.com/assets/679486/23727304/c08a03ba-0414-11e7-9ab9-04764da4da5a.png)

The HTML5 mockup shows one like this:

![image](https://cloud.githubusercontent.com/assets/679486/23727323/d370232e-0414-11e7-9961-abe93e6678af.png)

and it is in the sensor panel.

@arouinfar are you sure the HTML5 DC CCK n

[2017-03-08 22:54] arouinfar commented on #270
@samreid I think we're going to need the inline ammeter. There's been a lot of teacher pushback when it comes to the non-contact ammeter because it's different from how you would measure the current with a multi-meter. I think it's important to some teachers that students build and test circuits like they would in a real-world lab, which necessitates an inline ammeter.

That said, I like your sugg

[2017-03-08 23:15] samreid commented on #270
The electrons are "in front" of all the other circuit elements.  Why not have them be in front of the ammeter as well?

Should we discuss making one that looks like a real multi-meter?

[2017-03-09 00:20] arouinfar commented on #270
I think we'd want to create the illusion that the electrons are flowing through the inline ammeter, not on top of it.

Are you referring to an inline ammeter that would look something like this?
<img src="https://cloud.githubusercontent.com/assets/8419308/23730190/75a0b380-0423-11e7-9ed6-66252c955f86.png" width=200>

[2017-03-09 02:18] samreid commented on #270
Yes, I agree that sounds important, but it also seems important to indicate that the electrons are flowing through the resistor, not on top of it.

Yes, that seems the best way to address teachers' concerns by drawing parallels with real multi-meters.

[2017-03-09 20:20] arouinfar opened #271 "User suggestion: Recalibrate electron speed for ampere"
Unfuddle Ticket [#3549](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3549?cycle=true)

Is it possible to do so in a next update of this simulation? I would greatly appreciate it.

The ampere is equivalent to 1 C/s. The user has made the assumption that each electron represents 1 C of charge. It sounds like the user builds a circuit that has a current of 1 amp, and then counts the n

[2017-03-09 20:24] arouinfar commented on #270
Touché. 😄

We could consider this option, though I think we would need to show the electrons flowing through the probes/wires which seems a bit complicated.

[2017-03-09 21:06] samreid commented on #22
At today's design meeting, we decided that @kathy-phet's feedback will be crucial before we can proceed (if we decide to proceed).

[2017-03-09 21:13] arouinfar commented on #88
From 3/9/17 design meeting:

Switch could look something like its circuit symbol:
![image](https://cloud.githubusercontent.com/assets/8419308/23770838/eac5d3bc-04d1-11e7-8143-107e72160013.png)

From a development standpoint, keeping lifelike switch comparable to its schematic form is preferable.

Switch could be in a self-contained box that has a power button  inside. The power icon cues "on/off"

[2017-03-09 21:15] arouinfar commented on #88
If switch is tapped, its state is switched and it will be "selected". Text at the bottom of the screen could say "Switch is open/closed". Trash button will appear as usual.

[2017-03-09 21:27] samreid commented on #268
Done above, reviewed with team, closing.

[2017-03-09 21:27] #268 closed

[2017-03-09 21:40] arouinfar commented on #238
3/9/17 discussion:

Widen the socket.
Preferable to keep vertices in the same location on schematic and lifelike views.

[2017-03-10 19:51] arouinfar commented on #238
I widened the socket by 10% and was able to move the right vertex a few pixels to the right.

New bulb (left) vs. current bulb (right)
![image](https://cloud.githubusercontent.com/assets/8419308/23810699/d49445e2-058f-11e7-8cd6-d0fb6a752f03.png)

Any thoughts @samreid @ariel-phet?

[2017-03-10 20:29] arouinfar commented on #191
@samreid I think we touched a little bit on this during yesterday's meeting when reviewing the light bulb. I think we're all okay with the way the electrons are moving through the light bulb, but will discuss further tweaks to the bulb itself in #238.

I think this issue can be closed. Do you agree @samreid?

[2017-03-10 20:30] samreid commented on #191
Sounds good, thanks.  Closing.

[2017-03-10 20:30] #191 closed

[2017-03-10 20:50] arouinfar commented on #234
Here's a mockup with the updated carousel.
![image](https://cloud.githubusercontent.com/assets/8419308/23812569/4a54b0d4-0598-11e7-9939-78f50f557b92.png)

![image](https://cloud.githubusercontent.com/assets/8419308/23812499/0f70dcc2-0598-11e7-93a4-f9c1988e2d9c.png)

[2017-03-10 20:54] arouinfar commented on #234
The carousel on the lab screen will need to (eventually) include the fuse, LED, and non-Ohmic bulb. I think these items would show up between the standard circuit components and the grab bag items.

[2017-03-12 19:49] samreid commented on #234
@arouinfar how did you decide to use battery for the lifelike/schematic radio buttons?  I think it looks good, but wonder if more people might be familiar with resistor schematic icon (not sure if that even matters though).

[2017-03-12 20:05] samreid commented on #248
It sounds like we are in agreement that 0-resistance bulbs should look like regular bulbs, 0-voltage batteries should look like regular batteries, etc.  I'll close for now.

[2017-03-12 20:05] #248 closed

[2017-03-13 18:52] arouinfar opened #272 "Should electrons have a minus sign?"
When discussing the conventional current with Mike, he noticed that the electrons have a minus sign on them. He was enthusiastic about the addition, but pointed out it deviates from the Java version.

Personally, I also like the minus sign. However, I imagine there's probably a good reason why the electrons in Java are plain blue spheres, but I don't believe we've ever had a discussion about the i

[2017-03-13 21:37] samreid commented on #272
I am pro minus sign and don't recall any discussion about why it was specifically omitted previously.

[2017-03-13 21:44] ariel-phet commented on #272
I am generally for the minus sign as well (seem consistent with other sims), but definitely we should leave the current arrows as just arrows.

[2017-03-15 22:19] oliver-phet opened #512 "User suggestion: electrocute the dog"

[2017-03-16 20:26] arouinfar commented on #272
Discussed 3/16/17. Everyone likes the minus sign, so we'll keep it.

[2017-03-16 20:26] #272 closed

[2017-03-16 20:57] arouinfar commented on #238
The bulb does not need wires coming off of it. We're happy with the design in the comment above. I will open a new issue to track the new bulb.

[2017-03-16 21:16] arouinfar commented on #73
Discussed 3/16/17. This does not seem like a necessary feature. Closing.

[2017-03-16 21:16] #73 closed

[2017-03-16 22:14] arouinfar commented on #234
@samreid I think I first mocked them up that way during a design meeting. I think resistors and batteries have the opposite problem -- schematic resistors are more recognizable than the lifelike version. I think we'd want to go with either a battery or resistor, but I don't have a strong opinion on this issue. We can bring it up during design meeting.

[2017-03-17 18:03] arouinfar opened #273 "Create schematic bulb"
In https://github.com/phetsims/circuit-construction-kit-dc/issues/18, we decided that a schematic bulb is desired for 1.0.

Design specs
* The schematic bulb will use the illuminating lamp symbol with two schematic wire leads.
* In the toolbox, only the symbol will be shown (no wire leads).
* The vertices and electron path will remain the same as the lifelike bulb. Once implemented, we will review

[2017-03-17 18:07] arouinfar opened #274 "Update bulb"
In https://github.com/phetsims/circuit-construction-kit-common/issues/238 we tweaked the bulb's design. The socket and glass are slightly wider, and the bottom vertex has been shifted a few pixels to the left to provide more padding between the vertices.

Updated design:
![image](https://cloud.githubusercontent.com/assets/8419308/24056619/217fa796-0b0a-11e7-930e-79503ae857e5.png)

I will email the

[2017-03-17 18:09] #238 closed

[2017-03-17 18:49] arouinfar commented on #77
Discussed 3/16/17.

The entire metallic part of the probe should be able to read voltages. @samreid will add additional sampling points (~5) to the probes.

[2017-03-17 20:16] samreid commented on #269
It's mostly working, I need to restrict it from the 1st 2 tabs and it may look better with lifelike/schematic below.

[2017-03-17 22:02] arouinfar commented on #263
All Unfuddle issues have been reviewed, and issues have been created where applicable. Closing.

[2017-03-17 22:02] #263 closed

[2017-03-17 22:26] samreid opened #275 "Voltmeter probes should drag by deltas"
Currently the tip goes to the mouse

[2017-03-20 18:26] arouinfar opened #276 "Change background color"
At times, the light rays do not contrast well against the light blue background. Java CCK does not suffer this same issue, so we should find a darker alternative.

Argenta reported:

@kathy-phet replied

I've found a few alternative blues to try out for the background. It'd probably be easiest if @samreid could change the background color during a design meeting so we could review in realtime.

|

[2017-03-20 19:51] phet-steele opened #277 "Automated Testing Error"
Reproducible by attempting to drag a lightbulb into the play area.
[code]

[2017-03-21 18:27] ariel-phet commented on #151
Guessing this is not something to shoot for for 1.0, removing assignment for the time being.

[2017-03-22 15:22] samreid commented on #277
I reproduced the problem using http://localhost/aqua/test-server/test-sims.html?ea&audioVolume=0&testDuration=10000&testConcurrentBuilds=4&fuzzMouse&testSims=circuit-construction-kit-dc

[2017-03-22 15:38] samreid commented on #277
Fixed in the above commit.  Fuzz test in preceding comment is passing, closing.

[2017-03-22 15:38] #277 closed

[2017-03-22 16:27] phet-steele commented on #257
@samreid I like this fix! Although, I think it would be slightly more aesthetically pleasing if the button was layered over the yellow ring, no?

<img width="167" alt="screen shot 2017-03-22 at 10 26 10 am" src="https://cloud.githubusercontent.com/assets/5863899/24208795/24727710-0eea-11e7-9a1f-b04fc7046c6d.png">

[2017-03-22 16:43] samreid commented on #265
Fixed above, thanks for the "by hand" instructions @phet-steele, closing.

[2017-03-22 18:18] phet-steele opened #278 "Can't return a lightbulb to the toolbox"
@samreid I don't know if this is a result of #265 or #277 (or neither). Tested on CCKDC master as of 3/22, noon.

Seen on macOS 10.12.3 Chrome.

[2017-03-22 18:21] phet-steele opened #279 "You can drag a vertex that is about to be disposed"
@samreid as an addendum to #265 (and found while verifying it), you can do a very similar procedure with similar results.

1. Click on a wire from the toolbox.
2. Very quickly click & drag one of its vertices before it returns to the toolbox.

You can do this with any component except a lightbulb (because of #278).

![cckdc01](https://cloud.githubusercontent.com/assets/5863899/24213750/24c27d6e-0e

[2017-03-22 19:05] arouinfar commented on #264
Items needed:
* Dollar bill
* Paper clip
* Penny
* Eraser
* Pencil (graphite)
* Hand
* Dog

Before creating a task for our graphic artist, I have a few questions:
* The grab bag items in Java CCK have a photorealistic look. Is this desirable for CCK:DC, or should the style be more in line with our HTML5 aesthetic? I would prefer the latter, though I could see why others may prefer to keep the grab

[2017-03-22 19:22] samreid opened #280 "Rename electron => charge"

[2017-03-22 19:44] ariel-phet commented on #264
@arouinfar we should definitely stay with a style more in line with our HTML5 aesthetic. Nothing in our sims is "photorealistic" anymore, nor should it be.

I think we could have a generalized "coin" (does not need to be a penny)

I am sure Emmy would be fine with being the model...I think Mariah already may have a start to that in some of her artwork.

[2017-03-22 19:48] arouinfar commented on #264
I vaguely remember Mariah creating a cartoon version of you and Emmy, but I had trouble finding it in her artwork folder. @ariel-phet do you remember which issue it was for?

[2017-03-22 19:56] ariel-phet commented on #264
@arouinfar I don't see it either...I need to reach out to Mariah anyhow, I will see if I can get in touch with her.

[2017-03-22 19:58] phet-steele commented on #265
This was hit again 30 minutes ago, investigating.

[2017-03-22 21:07] arouinfar commented on #264
Thanks @ariel-phet. I will create an artwork task for these items, but hold off on the dog and general coin.

[2017-03-22 21:50] phet-steele commented on #265
@samreid still doable by:

1. Single click a wire over the toolbox
2. Very quickly, before the wire disappears "into" the toolbox, press Reset All.

Before you make assumptions, yes this is humanly possible.

[2017-03-23 20:46] samreid commented on #151
At today's meeting, we confirmed we want to save this for 1.1.

[2017-03-23 20:48] arouinfar commented on #276
@samreid can you please publish a dev version with the background color of: 99c1ff

If we'd still like to play with the color, we can pursue the use of colorpicker.

[2017-03-23 21:51] arouinfar commented on #261
Discussed in 3/23/17 design meeting.

Default resistance for bulbs and resistors will be 10 ohms. This will make the calculation for R in parallel easier (adding/inverting factors of 1/10 instead of 1/4.5), and the voltage can be maxed out without the fire appearing.

[2017-03-23 22:20] arouinfar commented on #261
@samreid I think this issue overlaps a bit with https://github.com/phetsims/circuit-construction-kit-dc/issues/17. Perhaps one of them can be closed?

[2017-04-13 16:51] arouinfar commented on #245
We had another user write into phethelp about this same issue:

This is something we'll clearly need to address, though I'm conflicted. I'm not convinced that this behavior is wrong (though certainly confusing). In an ideal short, the current through the bulbs would be zero. However the wires do have some internal resistance, so while the current through the bulbs is negligible compared to the cur

[2017-04-13 20:36] samreid opened #281 "Electrons are bunching up in a short circuit."
Electrons are bunching up in a short circuit.  I just created this circuit with default components and waited a few minutes.

![image](https://cloud.githubusercontent.com/assets/679486/25023277/7ebcf466-2056-11e7-8b73-719a5c57e860.png)

[2017-04-13 20:46] arouinfar commented on #245
@samreid will play with the animation speed limit so that the electrons through the bulb do not appear frozen.

[2017-04-13 20:47] samreid commented on #245
Here's what happens with the naive approach:

![image](https://cloud.githubusercontent.com/assets/679486/25023703/1dd8e770-2058-11e7-9801-80eaaf774c02.png)

[2017-04-13 21:00] arouinfar commented on #266
As discussed in 4/13/17 design meeting, the Java sim contains the bug... not the HTML5 sim.

This situation is still okay, because the inline current meters act as wires.
![image](https://cloud.githubusercontent.com/assets/8419308/25024060/b60ab7f2-2059-11e7-8b87-9fd857c59b9c.png)

[2017-04-13 21:00] #266 closed

[2017-04-13 21:04] samreid opened #282 "Putting wire resistance to 0 seemed to behave nicely, why???"
![image](https://cloud.githubusercontent.com/assets/679486/25024265/68e7de54-205a-11e7-8210-75212b2392db.png)

[2017-04-13 21:15] samreid opened #283 "Battery schematic shouldn't have "+""
Decided on at today's meeting.  It seems like clutter and would be good for students to figure that out for themselves.

[2017-04-13 21:15] arouinfar commented on #234
Lifelike battery is more recognizable, so we'll stick with that. The function of the schematic button will become immediately obvious to users.

[2017-04-13 21:53] samreid commented on #283
@Denz1994 volunteered to investigate this, thanks!

[2017-04-13 22:25] samreid commented on #282
@Denz1994 looked into this and when the matrix system has more unknowns than independent equations, the QRDecomposition basically gives you garbage.  In this case, maybe we got lucky so that it seems somewhat correct but we cannot rely on this as a solution.

One day it would be nice to investigate how to deal with zeroes in the solution.  Maybe this would be a great thing for our new Electrical E

[2017-04-14 02:34] samreid opened #284 "Solution for ideal wires"
After @Denz1994 and I discussed the wire situation in #282 I identified a potential strategy for solving circuits with 0-resistance loops.

Add another step to the solver that detects loops with 0 resistance.  If the voltage is zero, set the current of one of the elements in the loop to be 0.  If the net voltage is positive, set the current to be positive infinity.  If the net voltage is negative,

[2017-04-14 02:41] samreid commented on #280
Fixed, closing.

[2017-04-14 02:41] #280 closed

[2017-04-14 02:41] samreid commented on #276
@Denz1994 can you please investigate this one?  Are you set up for publishing dev versions?

[2017-04-14 03:02] kathy-phet commented on #284
I don't think we should have ideal wires.
K

Sent from my iPhone

On Apr 13, 2017, at 8:34 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

After @Denz1994<https://github.com/Denz1994> and I discussed the wire situation in #282<https://github.com/phetsims/circuit-construction-kit-common/issues/282> I identified a potential strategy for solving circuits with 0-resist

[2017-04-14 16:14] ariel-phet commented on #284
@samreid lets mark priority deferred (I do not agree with @kathy-phet - since many teachers would find it a useful feature to model ideal wires), but I definitely do not think we need to investigate for initial publication.

[2017-04-14 16:18] ariel-phet commented on #282
@samreid - will do once I have a CLA from him and add to the team

[2017-04-14 16:20] samreid commented on #282
One proposed solution for dealing with 0-resistance loops was proposed in #284, but it is unclear whether we want to implement it.  Marking as priority deferred.

[2017-04-14 19:37] arouinfar commented on #88
Preliminary switch:
<img src="https://cloud.githubusercontent.com/assets/8419308/25026914/70f4e4c8-2066-11e7-8030-fdf97bc5097b.png" width="300">

In reality, the hard edges of the lock and key would grind against one another, so I tried rounding out the edges a bit.
<img src="https://cloud.githubusercontent.com/assets/8419308/25053802/c0ba7e40-2116-11e7-9986-a2818f38ab38.png" width="300">

@samrei

[2017-04-14 19:39] arouinfar commented on #284
I agree with @ariel-phet -- no need to include ideal wires in 1.0.  I think this is a feature that some teachers would be interested in using, and we could consider it for a later version.

[2017-04-17 17:50] samreid commented on #283
I'll be fixing this shortly.

[2017-04-17 17:52] samreid commented on #283
Fixed above, closing.

[2017-04-17 17:52] #283 closed

[2017-04-17 17:56] samreid opened #285 "Default schematic battery obscured by electron"
If you get a battery then click schematic, you will see this:

![image](https://cloud.githubusercontent.com/assets/679486/25098171/c3856356-2364-11e7-96bf-52d8c8dce55c.png)

It looks odd because the electron spans the gap in the battery.  If "show electrons" is on by default, it seems like we should do something about this.  It is not as much of a problem once the electrons are moving.

[2017-04-17 18:05] samreid commented on #271
Does it seem like speeding up all electrons by a factor of 10/8.5 would work?  That would be an easy change but we would want to make sure we test for it in RCs too to make sure it remains good.

If we really want to support this as an explicit learning goal, we may also want to introduce a stopwatch and play/pause/step buttons (perhaps in the lab screen?).  I think we will need some of these time

[2017-04-17 18:08] arouinfar commented on #271
Yes, I think so @samreid. I think this change is worth trying out.

I'm not sure that its an explicit learning goal, but it might be nice to add a stopwatch to the lab screen. I don't think it's critical for 1.0, but perhaps this is something we can add in later on?

[2017-04-17 18:11] arouinfar commented on #285
@samreid I'm not sure that this is a problem, as the gap between the vertical lines isn't a physical break in the circuit (as an open switch would be).

I'm also not particularly bothered by this because the schematic view is not the default. We don't know when/if a user will trigger that scene, or if they will still have the electrons turned on. However, the user will always be able to see the un

[2017-04-17 18:33] samreid commented on #285
Not sure what's best, but I'll brainstorm some possibilities:

(a) leave it as it is
(b) make the electrons partially transparent
(c) add a clipping region so nothing is rendered between the plates.
(d) change the default density or battery metrics so that there are 4 electrons in the battery and nothing starts in the middle.

[2017-04-17 18:37] arouinfar commented on #285
@samreid thanks for brainstorming some options. I like option (b), as I sometimes find myself turning off the electrons because they get in the way. A slight reduction in opacity would alleviate the issue. We can discuss these options further in design meeting.

[2017-04-18 16:19] samreid opened #286 "How to make room for battery resistance panel?"
In https://github.com/phetsims/circuit-construction-kit-dc/issues/36#issuecomment-294631817 @Denz1994 noticed that with our pre-existing panel sizes there is not enough room for the battery resistance panel (it overlaps with the reset all button).  I'm not sure whether we are adding other controls to the right-side of the screen or not.

@arouinfar can you please advise on whether more controls ar

[2017-04-18 16:21] samreid commented on #286
It looks like the mock-up was updated 4 days ago, it will probably work.  @Denz1994 can you use it as a guide for adjusting the sizes of things?  The work of making sure all the panels have the same width is a different problem and will be handled separately, but you could work on getting the basic dimensions correct (especially for height).

![image](https://cloud.githubusercontent.com/assets/679

[2017-04-18 16:22] arouinfar commented on #286
Thanks @samreid, looks like you beat me to it! Here's a mockup with the panels open:

![image](https://cloud.githubusercontent.com/assets/8419308/25141422/bfff5d42-2420-11e7-95a4-6bc1be6cad6c.png)

[2017-04-18 16:39] Denz1994 commented on #286
This looks good. I will begin working on this.

[2017-04-18 19:39] samreid commented on #275
Fixed, closing.

[2017-04-18 19:39] #275 closed

[2017-04-19 02:59] samreid commented on #114
@arouinfar can you please review this issue and recommend how to proceed for 1.0?

[2017-04-19 03:00] samreid commented on #99
Now called ChargeAnimator, and looking good, closing.

[2017-04-19 03:00] #99 closed

[2017-04-19 03:00] samreid commented on #144
Everything is marked in TODOs, closing.

[2017-04-19 03:00] #144 closed

[2017-04-19 03:05] samreid commented on #261
I changed the default resistance for bulbs and resistors to be 10 ohms.  @arouinfar and @kathy-phet anything else to do for this issue?  I'm asking because the title is about resistivity but the comment https://github.com/phetsims/circuit-construction-kit-common/issues/261#issuecomment-288871727 doesn't mention resistivity.

[2017-04-19 17:17] phet-steele opened #287 "Unit test lint: 'deepEqual' is not defined"
[code]

[2017-04-19 17:18] samreid commented on #287
To solve this, I'll look at upgrading to the later qunit (as demonstrated by querystringmachine).

[2017-04-19 17:20] phet-steele commented on #287
@samreid can I assume that these lint errors are causing the actual unit test failures?

[code]

[2017-04-19 17:30] samreid commented on #287
I updated the qunit version and fixed the unit tests, I'll wait to hear from Bayes before closing.

[2017-04-19 17:45] phet-steele commented on #287
Guess not 😉, beautifully done @samreid. Bayes is giving the all clear.

[2017-04-19 17:45] #287 closed

[2017-04-19 17:47] samreid commented on #287
They were indeed independent problems, but I tackled them together.  Thanks @phet-steele!

[2017-04-19 19:09] samreid opened #288 "Voltmeter readouts are broken"
![image](https://cloud.githubusercontent.com/assets/679486/25197454/5b9e9d40-2501-11e7-87fe-16381df72862.png)

[2017-04-19 19:10] samreid opened #289 "Implement "show values""
From the design doc, it looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/25197509/922d638c-2501-11e7-87d3-6e113c0d1df4.png)

[2017-04-19 19:32] samreid opened #290 "Show more precision in ammeter readout?"
From https://github.com/phetsims/circuit-construction-kit-dc/issues/27#issuecomment-287448467

Another user has requested we add an additional decimal place to the current meter readout.

Unfuddle ticket [#3728](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3728?cycle=true)

we using a little voltage as 12 v to avoid electric shock .. then the current will be in mill amp . The Ammet

[2017-04-19 19:51] arouinfar commented on #261
From the original https://github.com/phetsims/circuit-construction-kit-common/issues/261#issue-210151368, I'm fairly certain @kathy-phet was referring to the resistance, not resistivity, as the title suggests. I don't think there's anything else that needs to be done here.

@kathy-phet can you please review? If everything looks good, please close.

[2017-04-19 19:54] kathy-phet commented on #261
Does the resistance per length of the wires currently match the Java version?

[2017-04-19 20:12] arouinfar commented on #290
@samreid I think a 3rd decimal place would be a reasonable addition to the current meters.

[2017-04-19 20:53] arouinfar commented on #114
@samreid I'm not sure I've followed everything. Are you trying to leverage a11y features to use the delete key to delete circuit components?

In general, I think it would be really helpful to use the delete key for this. I don't think it would be a required feature for 1.0, but nice to have if time allows. If you think this is something we should discuss with the team, please tag this issue for de

[2017-04-19 23:07] samreid commented on #261
In the Java CCK at the default value of "almost none", the default wire at its default length has resistance of 1.5E-4 Ohms.  When stretched diagonally across the screen, it has 0.0015796715030564601 Ohms.

At "lots", it has:
1.5 (short)
15.65 across the screen

For the HTML5 one, I see:
0.00015273409966500692 (short)
0.0016947679254338806 (across the screen)
"lots"
0.76 (short)
8.9 (across the sc

[2017-04-19 23:08] samreid commented on #261
After doubling "lots", I see 1.5273409966500693 (short) and 18.1 (diagonal).  I'll commit this then check with @arouinfar and @kathy-phet if this is good enough.

[2017-04-19 23:11] samreid commented on #261
@arouinfar and @kathy-phet does that sound good enough to you?

[2017-04-19 23:12] arouinfar commented on #261
Sounds good to me @samreid. Thanks!

[2017-04-19 23:23] samreid commented on #114
The delete key already works for deleting items, the remaining questions are about whether the highlighting should be purple (the built-in accessibility type) or yellow (the current custom cck type), and whether it can be always in front or if it should layer with the objects, see pic in https://github.com/phetsims/circuit-construction-kit-common/issues/114#issuecomment-269810184

[2017-04-20 02:24] samreid commented on #261
Changes are published here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.7/circuit-construction-kit-dc_en.html

[2017-04-20 02:31] samreid commented on #22
To me this seems like a pedagogically useful feature for learning about how circuits work, and I have seen illustrations like this in textbooks.  That being said, I'd be happy to leave this for a 1.1 or future version in order to keep focused on getting 1.0 ready.  Would be good to discuss at tomorrow's design meeting.

[2017-04-20 02:33] samreid commented on #273
It would be good to touch base on this again before implementation work starts.  Is it really desirable that the wires not be centered in the vertices?  There will be a sizable gap between wires in that case.  What about keeping the same path as the filament of the light bulb, but drawing the circle across the top?  That way we could keep the path geometry the same.

[2017-04-20 02:38] samreid commented on #244
@arouinfar can you test this in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.7/circuit-construction-kit-dc_en.html

[2017-04-20 02:39] samreid commented on #242
One point: it is impossible to create a circuit without wires, and all wires have at least 1E-8 ohms resistance, so the circuits algebra doesn't have any problems.  @arouinfar can this issue be closed?

[2017-04-20 02:43] samreid commented on #10
@arouinfar is this for 1.0 or 1.1?

[2017-04-20 02:45] samreid commented on #22
I haven't implemented the "show values" feature yet, this could be implemented as a part of that (or a sub-option).

[2017-04-20 16:04] arouinfar commented on #22
@samreid I'll add this to today's agenda.

[2017-04-20 16:07] arouinfar commented on #10
I would say this is a 1.1 feature @samreid.

[2017-04-20 16:12] arouinfar commented on #244
@samreid, in general the flicker time seems good. However, the bulb doesn't return to the toolbox after clicking. It gets stuck like this:
![image](https://cloud.githubusercontent.com/assets/8419308/25241039/d3776ec2-25b1-11e7-9d99-ec326e4d35f3.png)

I'm using the latest Mac OS/Chrome.

[2017-04-20 16:39] samreid commented on #244
Thanks, that will be tracked in https://github.com/phetsims/circuit-construction-kit-common/issues/278, closing.

[2017-04-20 16:39] #244 closed

[2017-04-20 16:46] arouinfar commented on #242
@samreid sounds good. I think we can go ahead and close this issue.

[2017-04-20 16:46] #242 closed

[2017-04-20 16:59] arouinfar commented on #261
@kathy-phet can you please review?

[2017-04-20 21:12] arouinfar commented on #22
Discussed in 4/20/17 meeting. Showing node voltages is not a desired featured for CCK, though handy to keep query parameter for QA testing.

* Zero point is arbitrary, and we would need to show a ground
* Doesn't require students to do measure -- gives away too much
* Voltage meter measures voltage drops -- not raw value. Students often don't think of Ohm's law in terms of deltaV=IR.

[2017-04-20 21:12] #22 closed

[2017-04-20 21:21] samreid opened #291 "In schematic mode, solder should always be on top"
Easier to imagine the connections and helps in visually segmenting different components.  Discussed in https://github.com/phetsims/circuit-construction-kit-common/issues/273

[2017-04-20 21:23] arouinfar commented on #273
For now, we'll keep the schematic bulb as-is. With the solder being layered on top, things should look fine, but we can make adjustments as necessary once implemented.

[2017-04-20 21:40] samreid commented on #290
We decided to go for it.

[2017-04-24 17:07] samreid commented on #290
@arouinfar let's discuss this further before making a change.  In the present version of CCK DC, with a 12 volt battery the lowest current you can get is 0.12 amps, which doesn't require a 3rd digit.  Later when we add higher resistance components in https://github.com/phetsims/circuit-construction-kit-dc/issues/29 or the grab bag, this could become an issue, but perhaps we should wait until we ha

[2017-04-24 17:12] samreid commented on #257
If I understand correctly, the default implementation for accessibility has the focus regions on top of everything else.  We have the opportunity to override this on a case-by-case-basis, but I'm not sure whether it will be worth the effort.  I may know more after finishing #114

[2017-04-24 17:25] samreid commented on #289
@arouinfar do you want this text always upside-up (recommended) or to rotate with the component?  Should the text always be the same distance from the center of the component, and always directly above it?

[2017-04-24 18:26] arouinfar commented on #290
@samreid let's defer the third decimal until we have high R components. I imagine that 3 decimals will give us enough precision, but  we can look at it more carefully when the time comes.

[2017-04-24 18:29] arouinfar commented on #289
@samreid the text should always be upside-up. As for the label location, I'm not sure. The Java approach seems to work well. What would you recommend @samreid?
![image](https://cloud.githubusercontent.com/assets/8419308/25352542/9e3a24e4-28e9-11e7-98c3-c8a672ace8d8.png)

[2017-04-24 21:32] samreid commented on #88
@arouinfar I think we have everything we need.

[2017-04-24 21:33] samreid commented on #147
Maintaining phase at junctions doesn't sound straightforward.  @arouinfar can you please review this issue and see what you recommend.

[2017-04-24 21:36] samreid commented on #176
Moved to BBS issue, closing.

[2017-04-24 21:36] #176 closed

[2017-04-25 16:01] samreid commented on #77
May need to investigate #231 first.

[2017-04-25 16:02] samreid opened #292 "Button should be over the focus highlight maybe?"
In #257 @phet-steele said:

<img width="167" alt="screen shot 2017-03-22 at 10 26 10 am" src="https://cloud.githubusercontent.com/assets/5863899/24208795/24727710-0eea-11e7-9a1f-b04fc7046c6d.png">

I replied:

[2017-04-25 16:03] samreid commented on #257
I moved the remaining work to a new issue, closing.

[2017-04-25 16:03] #257 closed

[2017-04-25 21:39] samreid commented on #281
@bhnzhang and I had difficulty reproducing this problem, we should look into it further and see if it is truly problematic.

[2017-04-26 19:14] samreid commented on #151
Here's some code I'm lifting out of CircuitConstructionKitScreenView until after 1.0

[code]

[2017-04-27 19:59] samreid opened #293 "test performance for opacity on iPad"
@ariel-phet pointed out that having transparent electrons/arrows may have a performance impact.  I'll take a look.

[2017-04-27 19:59] arouinfar commented on #285
Opacity of electrons and current arrows has been reduced to 75%.

Reviewed in design meeting, and we love the look of the transparent electrons. They look more ethereal. @samreid we'll need  to see what effects this has on performance though.

[2017-04-27 20:01] samreid commented on #285
Testing performance in https://github.com/phetsims/circuit-construction-kit-common/issues/293

[2017-04-27 20:01] #285 closed

[2017-04-28 21:47] samreid opened #294 "Voltmeter probes read when not touching"
Since the voltmeter reads out values when the probes are in the dotted circle, you can create cases like this where the probes are too far away from the terminals to conduct, yet still show a value:

![image](https://cloud.githubusercontent.com/assets/679486/25548502/eccfe3a8-2c29-11e7-96f0-c536405c92a5.png)

Is this acceptable?  If not, how should we change it?

[2017-04-28 22:00] samreid commented on #288
Fixed in this version http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.10/circuit-construction-kit-dc_en.html

[2017-04-28 22:00] #288 closed

[2017-05-01 02:09] samreid commented on #206
I added a new message that outputs when an element is selected:

![image](https://cloud.githubusercontent.com/assets/679486/25570282/e8672fd4-2de0-11e7-90b8-c795761ac4d7.png)

@phet-steele does that seem OK?

[2017-05-01 15:16] Denz1994 commented on #276
Dev version released with "99c1ff" background color. Thanks for the help with the dev set up @samreid. Leaving open for review.
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.11/

[2017-05-01 17:52] samreid opened #295 "iPad3 performance is dismal"
Built version.
Dragging around a single battery => 15fps
Battery+resistor+wire => 20fps

@ariel-phet I'm not sure I should be using the iPad3 as my baseline performance test for this sim.  What do you recommend?

[2017-05-01 17:59] ariel-phet commented on #295
@samreid we often test on the iPad3 to flesh out performance concerns, but baseline performance for the published sim should be tested on iPad2

[2017-05-01 18:02] samreid commented on #295
@phet-steele can or one of your colleagues please check iPad2 performance for http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.11/circuit-construction-kit-dc_en.html?profiler&screens=1 for the cases described in the issue description?  I'm trying to gauge how the performance differs between iPad2 and iPad3 for this sim.

[2017-05-01 18:37] arouinfar commented on #294
@samreid I do not think this is desirable behavior, as the probe tips are clearly not touching anything conductive. Perhaps the logic could be more like this:
* When a component is disconnected, the probe tips must be in the half of the vertex closest to the component. These would both be acceptable:
![image](https://cloud.githubusercontent.com/assets/8419308/25589359/88266822-2e69-11e7-8d94-f200f

[2017-05-01 23:17] arouinfar commented on #147
@samreid I'm leaning towards pausing the electrons while dragging, but we can discuss this in design meeting.

[2017-05-02 18:51] phet-steele commented on #295
Running http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.11/circuit-construction-kit-dc_en.html?profiler&screens=1 on an iPad 2 iOS 9.3.5:

Dragging around a single battery => 18-20fps
Battery+resistor+wire => Depending on the length of the wire:

- 23fps (long)
- 30fps (short)

[2017-05-03 02:16] samreid commented on #295
Thanks @phet-steele, it looks like the iPad3 and iPad2 performance are pretty similar.  If there's time, I'd like performance to be profiled/investigated before 1.0.

[2017-05-03 18:35] arouinfar commented on #276
👍

[2017-05-03 18:35] #276 closed

[2017-05-03 19:49] samreid commented on #294
Do you want to "snap" the probes to the conductive areas?  Do you think it is likely that a student will get a misreading by being outside of the conductive area?

[2017-05-03 21:36] samreid commented on #269
I restricted this to screen 3 and the lifelike/schematic should be above for consistency with screen 1-2.  We'll make sure the sizes of control panels are matched in https://github.com/phetsims/circuit-construction-kit-dc/issues/9, closing.

[2017-05-03 21:36] #269 closed

[2017-05-03 21:55] samreid commented on #265
Proposed fix is above, @phet-steele can you please take a look?

[2017-05-04 00:30] samreid opened #296 "voltmeter probes should read 0.0 when touching each other"
Cross-assigned to @arouinfar to double check that this is worth spending time on.

[2017-05-04 10:58] samreid opened #297 "Vertex wasn't in the model"
circuit-construction-kit-dc : fuzz : require.js : run
Uncaught Error: Assertion failed: Vertex wasn't in the model
Error: Assertion failed: Vertex wasn't in the model
    at window.assertions.assertFunction (https://bayes.colorado.edu/continuous-testing/snapshot-1493877955667/assert/js/assert.js:21:13)
    at Circuit.searchVertices (https://bayes.colorado.edu/continuous-testing/snapshot-1493877955

[2017-05-04 11:01] samreid commented on #297
Proposed fix is above and fuzzing seems OK for now, closing.

[2017-05-04 11:01] #297 closed

[2017-05-04 11:03] samreid opened #298 "Uncaught TypeError: Cannot set property 'startOffset' of null"
circuit-construction-kit-dc : fuzz : built : run
Uncaught TypeError: Cannot set property 'startOffset' of null
TypeError: Cannot set property 'startOffset' of null
    at endDrag (https://bayes.colorado.edu/continuous-testing/snapshot-1493877955667/circuit-construction-kit-dc/build/circuit-construction-kit-dc_en.html?postMessageOnLoad&postMessageOnError&postMessageOnBeforeUnload&fuzzMouse:1007:277

[2017-05-04 11:04] samreid commented on #298
Possibly same problem as #297

[2017-05-04 11:04] #298 closed

[2017-05-04 11:41] samreid commented on #271
In the above comment, I revised the speed and am now reading 10 electrons in 10 seconds in a 1 amp circuit.  I'll post a new dev version for @arouinfar to test.

[2017-05-04 15:56] phet-steele commented on #297
@samreid was this #279?

[2017-05-04 15:58] phet-steele commented on #297
Wait a minute, that's my job to check. Why am I asking you!? 😄

[2017-05-04 15:59] samreid commented on #279
@phet-steele can you see if #297 fixed this?

[2017-05-04 16:04] phet-steele commented on #279
@samreid it sort of fixed it. There's a new stack trace with the same procedure:

[code]

[2017-05-04 16:05] samreid commented on #279
Thanks @phet-steele I'll investigate!

[2017-05-04 16:07] arouinfar commented on #296
@samreid, technically the probes should read 0 V when touching, but I'm not sure if it's worth sinking a lot of time into. We can talk about it at design meeting.

[2017-05-04 16:08] arouinfar commented on #296
@samreid do you have a rough estimate of how much time this would take?

[2017-05-04 16:12] phet-steele commented on #265
@samreid looks great! 🤞

[2017-05-04 16:12] #265 closed

[2017-05-04 16:21] phet-steele commented on #206
@samreid I love it! Works great after a quick look. Thank you.

[2017-05-04 16:21] #206 closed

[2017-05-04 16:29] samreid opened #299 "Highlight box for lifelike battery is wrong"

[2017-05-04 17:22] samreid commented on #296
I'm guessing the up-front work to detect collisions between the probes would be 2-4 hours.  Then there would be the (small) recurring cost of this as a feature to maintain and support.

[2017-05-04 18:09] arouinfar commented on #264
Artwork is being tracked in https://github.com/phetsims/tasks/issues/833. Unassigning myself for now.

[2017-05-04 19:58] arouinfar commented on #114
Thanks for the clarification @samreid. I think it's fine to keep the highlight layered on top, as in the screenshot you referenced. I would prefer we keep the yellow highlight, rather than using a11y focus style. If/when CCK is made keyboard accessible, circuit components will have both a focused and "grabbed" state.

For example, once the balloon in BASE is grabbed, it can be moved around the pla

[2017-05-04 20:45] samreid commented on #296
At design meeting today, we decided this is not necessary for 1.0 and we can consider it for future versions.

[2017-05-04 20:58] arouinfar commented on #147
Discussed in 5/4/17 design meeting. We've decided to keep the behavior as-is, which is also consistent with Java.

Pausing electrons seems reasonable because you're in the act of moving around the circuit. The bulb stays lit even though electrons don't appear to flow through it. Turning the bulb off or temporarily hiding the electrons would be alternative options, but seem like they would be more

[2017-05-04 21:09] arouinfar commented on #295
Discussed in 5/4/17 design meeting. KP recommends that @samreid spends 2 days investigating performance. @jonathanolson won't likely have the availability to work with SR until later this summer. The goal for now would be for @samreid to continue to render things in scenery with some possible refactoring. Moving to WebGL is also a possibility, but would be a much bigger effort.

[2017-05-04 21:24] samreid opened #300 "Scale is wrong"
Drag out resistor.  Zoom out.  Reset.  Drag out resistor.  It is too big!  Same problem for voltmeter and ammeter.

Thanks @Denz1994

[2017-05-04 21:26] samreid opened #301 "Mouse gets away from ammeter after zoom"
Zoom out, then drag ammeter.  It is in wrong coordinate frame and drags at wrong speed depending on your screen size.

Thanks @Denz1994 !

[2017-05-04 21:29] samreid opened #302 "Meters shouldn't move on zoom in"
@Denz1994 showed that during zoom in the meter locations change. It could be confusing to automatically change the position without the user directing it.  We should make the probe keep the location independent of zoom.  If the user loses a meter, they would have to zoom back out to get it.

[2017-05-04 21:44] samreid commented on #302
@arouinfar if you zoom out then place a voltmeter at the edge of the screen then zoom in, the voltmeter translates along the visible edge of the sim.  @Denz1994 and I think this is problematic because it could mess up user readings and change the "physical" state by just changing the zoom level.  It makes sense that the user would have to zoom back out to get back the voltmeter.
 However, if you r

[2017-05-04 21:52] arouinfar commented on #294
Discussed in 5/4/17 design meeting. In Java, the probes read anywhere within the vertex, so the HTML5 behavior is consistent. We have not received complaints about this over the years, so we've decided to keep things as they are. I will make a note of this behavior in the Teacher Tips.

A "snap" feature may be something we consider in the future, but it is not necessary for 1.0.

[2017-05-04 22:03] arouinfar commented on #294
Tracking the teacher tips in https://github.com/phetsims/circuit-construction-kit-dc/issues/41, so unassigning myself.

[2017-05-04 22:03] arouinfar commented on #147
Tracking the teacher tips in https://github.com/phetsims/circuit-construction-kit-dc/issues/41, so I think this issue can be closed.

[2017-05-04 23:14] jessegreenberg commented on #292
Does the button need to be so close to the connection point?  Could it be totally outside the radius of the focus highlight?

[2017-05-05 17:30] samreid commented on #77
Fixed and ready for testing on phettest.  @arouinfar can you take a look?

[2017-05-05 17:31] samreid commented on #77
On second thought, I'll publish a dev version.

[2017-05-05 17:33] samreid commented on #77
Dev version is here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.13/circuit-construction-kit-dc_en.html

@arouinfar can you test?

[2017-05-05 17:44] arouinfar commented on #77
Looks great! Thanks @samreid.

[2017-05-05 17:44] #77 closed

[2017-05-05 20:40] samreid commented on #292
Normally it is much further away:
![image](https://cloud.githubusercontent.com/assets/679486/25763478/95e74b7c-31a0-11e7-93c1-c5849cdf7b92.png)

There is only an overlap when close to the edge of the screen (since the button is constrained to lie in the visible bounds)

![image](https://cloud.githubusercontent.com/assets/679486/25763506/b2fb9f74-31a0-11e7-8828-943ad7e09aec.png)

@arouinfar is this

[2017-05-05 20:54] samreid commented on #293
dragging a single battery with transparency: 19fps
dragging a single battery fully opaque: 19fps
dragging a single battery charge opaque: 19fps

battery+wire+resistor with transparency: 20fps
battery+wire+resistor full opaque: 30fps
battery+wire+resistor charge opaque: 29fps

So it seems for animating the charges, it costs us 10 frames per second.  This will need further investigation.

[2017-05-05 21:00] samreid commented on #293
@jonathanolson suggested to try `setImageOpacity`.  That showed 19fps dragging and 29fps animating.  Just as good as the opaque solution.  (This will eliminate opacity for conventional current, but at yesterday's meeting that seemed it would be fine.) I'll commit that.

[2017-05-05 21:03] samreid commented on #293
Published a dev version here as described above.  @arouinfar can you check that the electron and arrow opacity are good to go?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.15/circuit-construction-kit-dc_en.html

[2017-05-05 21:36] arouinfar commented on #293
Looks good @samreid!

[2017-05-05 21:43] arouinfar commented on #292
Seems reasonable to me @samreid.

[2017-05-05 21:45] #293 closed

[2017-05-05 21:46] #292 closed

[2017-05-05 21:57] samreid opened #303 "Cannot click to select schematic battery in the play area"

[2017-05-05 22:10] samreid commented on #303
Fixed above, closing.

[2017-05-05 22:10] #303 closed

[2017-05-05 22:11] samreid commented on #273
Would be best to do #274 first.

[2017-05-05 22:15] samreid commented on #289
I'm also wondering about the z-ordering. Should these be in front of all components, in front of the light bulb brightness lines, in front of control panels, behind the focus rectangle?

[2017-05-05 22:16] samreid commented on #289
Maybe for future design docs it would be good for the design team to create a "z-order" document?

[2017-05-05 23:42] samreid commented on #289
Should the values zoom in and out?  With current implementation, they will be in the circuit layer between circuit elements and highlights, and will zoom in and out.

[2017-05-06 04:21] samreid opened #304 "Ohms vs Ω"
Discovered during #289.  The readouts are showing a Ω but the edit panel shows a "Ohms".  Should these be intentionally different so students may put it together that Ω means ohms?  Or should they be the same so the sim is consistent?

![image](https://cloud.githubusercontent.com/assets/679486/25769818/f5baf7b6-31e0-11e7-8a8c-2b5840bd7141.png)

[2017-05-06 04:38] samreid opened #305 "Use Panel for the text background in Battery Resistance Control"
In https://github.com/phetsims/circuit-construction-kit-dc/issues/36 @Denz1994 has been developing the battery resistance control.  I noticed that the panel dimensions are hard-coded and do not update when the text gets longer.  To solve these problems, it would be best to use sun.Panel instead of a Rectangle.  The component looks like this at the moment (notice ohms runs off the side):

![image](

[2017-05-08 00:54] samreid opened #306 "Implement battery internal resistance"
We need to model the battery as having a series resistor for its internal resistance.

[2017-05-08 01:21] samreid commented on #306
Implemented above, tested simple cases and it is working well.

[2017-05-08 17:39] samreid commented on #300
Proposed fix is above, @Denz1994 can you please pull and verify?

[2017-05-08 18:11] Denz1994 commented on #300
I checked out a previous version and did side-by-side comparison to the latest version.

![image](https://cloud.githubusercontent.com/assets/13894380/25818254/3e42ce02-33e7-11e7-9482-c2e3f62df259.png)

left screen = latest sha
right screen =  commit a3a0a49

They changes you made fixed the problem and I cannot reproduce the bug. Closing

[2017-05-08 18:11] #300 closed

[2017-05-08 18:12] samreid commented on #289
Rough draft is published here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.16/circuit-construction-kit-dc_en.html

I chose to have these zoom in and out with the zoom level so they don't move or scale relative to the circuit elements (and obscure elements on zoom on). I tried to choose a size that will look good at either zoom level.  I'm applying a rule tha

[2017-05-08 18:19] samreid commented on #289
I also suppressed the internal resistance readout of the battery if it is 0, so it won't be confusing on the first 2 screens where it is always 0.

[2017-05-09 17:10] samreid opened #307 "Should "delete" key on vertex cut the vertex?"
While @jessegreenberg and I were working on https://github.com/phetsims/circuit-construction-kit-common/issues/114 we raised the question of whether the delete key should cut a vertex.

[2017-05-09 18:22] samreid commented on #114
@jessegreenberg and I met and reviewed the accessibility engine and implementation to see how it would be used in Circuit Construction Kit.  By adding startDrag -> self.focus() we can trigger nodes to highlight themselves, and it looks like we could use Display.focusProperty to track the focused items.  However, after our investigation we estimate that it would be much more work to be using the ac

[2017-05-09 18:42] arouinfar commented on #307
@samreid for a non-accessible version, I think using delete to cut a vertex would make sense, as it mirrors the interaction to delete a component. Given how close the cut button is to the vertex, I don't think this feature would be necessary for 1.0.

For a11y, I don't know that we would use the delete key here. We've been mapping sim elements to native HTML elements, so buttons (such as the cut b

[2017-05-09 19:11] emily-phet commented on #307
@samreid @arouinfar "Delete" key for a sim-specific use seems fine to me. We can list custom shortcut keys in the keyboard nav help popup. I don't know of any other expected behavior for the "Delete" key within an HTML page - so I don't think this would be overriding some other expected behavior.

[2017-05-10 16:00] samreid opened #308 "Pool electrons in layout"
[5/10/17, 9:55:17 AM] Sam Reid: CCK Model has Charge.js which can have a charge value of -1 for electron or +1 for conventional current.  Until now I’ve been deleting/recreating them on layout changes but it looks like I might be able to gain up to 5 frames per second on iPad2 by pooling them.  Should I change the charge value (+/-1) to be a variable instead of a constant?
[5/10/17, 9:56:11 AM] Jo

[2017-05-10 16:01] samreid commented on #308
[5/10/17, 10:00:09 AM] Jonathan Olson: 5 fps of change? probably worth it
[5/10/17, 10:00:19 AM] Sam Reid: Thanks!
[5/10/17, 10:00:21 AM] Jonathan Olson: I assume you're doing setStateAndCharge for all charges in both codepaths?
[5/10/17, 10:00:45 AM] Sam Reid: “Up to 5fps”, If I commented out that entire block it went from 25fps to 30fps
[5/10/17, 10:01:04 AM] Jonathan Olson: Ahh! Totally your ca

[2017-05-10 18:16] jessegreenberg opened #309 "Fuzz test error"
[code]

[2017-05-10 18:17] jessegreenberg commented on #309
This can happen by opening the About Dialog and then switching screens.

[2017-05-10 18:22] jessegreenberg commented on #309
Ah, after closing the Dialog there are some things in the DOM that shouldn't be there.
![capture](https://cloud.githubusercontent.com/assets/6396244/25914274/f52d62c8-357a-11e7-8b50-33b870e98aa4.PNG)

That looks like the accessible content for the circuit elements in the screen icons.

[2017-05-10 18:31] jessegreenberg commented on #309
The icons are using ```this.accessibleContent = null``` to remove content from the DOM, which is ignored when the Dialog is hidden again.  This is a Scenery problem, and I will create an issue there.

[2017-05-10 18:48] jessegreenberg commented on #309
Fixed with the above commit and https://github.com/phetsims/scenery/issues/614, fuzz test isn't hitting anything.

[2017-05-10 18:48] #309 closed

[2017-05-10 23:34] samreid commented on #278
Fixed above, closing.

[2017-05-10 23:34] #278 closed

[2017-05-11 16:20] arouinfar commented on #304
@samreid great question. Do you remember any discussion around abbreviations vs. spelled out units in the original design?

I would prefer to use abbreviated units in Show Values to save space in the play area. It would be nice to keep the unit spelled out in the edit panel, particularly because of the younger audience that uses this sim. I don't see a problem with requiring users to coordinate V/

[2017-05-11 16:41] samreid commented on #299
Fixed, closing.

[2017-05-11 16:41] #299 closed

[2017-05-11 21:31] samreid commented on #304
Use "ohms" in the single occurrence panels.  Use "OHM symbol" in where it appears repeated over the circuit elements.

[2017-05-11 22:05] Denz1994 commented on #305
Reassigning for review.

[2017-05-13 01:21] samreid commented on #306
@arouinfar can you test this in the latest dev version and make sure all is well?

[2017-05-13 01:22] samreid commented on #233
@arouinfar can we postpone this until 1.1+ ?

[2017-05-13 01:26] samreid commented on #301
It looks like the `startDrag` pattern of forwarding events doesn't support zoom too well.  @jonathanolson any suggestions?

[2017-05-13 03:33] samreid commented on #301
Proposed fix is above, @Denz1994 can you please pull and verify?

[2017-05-13 03:34] samreid commented on #236
Schematic mode is working pretty well.  There is another issue for adding the schematic render for the light bulb, so I'll close this.

[2017-05-13 03:34] #236 closed

[2017-05-13 03:35] samreid opened #310 "Hit regions are wrong for schematic"
Mouse areas seem wrong, like they only go halfway.

[2017-05-13 03:35] samreid commented on #310
Here's a pic:

![image](https://cloud.githubusercontent.com/assets/679486/26022167/f3c0d0d2-375a-11e7-8772-91c820300a9b.png)

[2017-05-13 03:39] samreid commented on #310
Fixed above.  As I described in the comments I am not sure why using the shape bounds worked but the path bounds did not.  @jonathanolson can you take a look?

[2017-05-13 03:40] samreid commented on #310
Here is a pic of using the shape (instead of path) for the bounds:

![image](https://cloud.githubusercontent.com/assets/679486/26022198/9c1bcbd8-375b-11e7-9d9a-d05839b0b24f.png)

[2017-05-13 04:21] samreid commented on #198
Proposed fix is above and published here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.18/circuit-construction-kit-dc_en.html

@arouinfar can you please take a look?

[2017-05-13 04:35] samreid opened #311 "Why is ImageSVGDrawable.updateURL called so much?"
I noticed that updateURL is a significant part of the stack trace when dragging a single component around, and I noticed the flame is the image corresponding to the base64.  Why does that URL need to be changed?

![image](https://cloud.githubusercontent.com/assets/679486/26022458/3dbdd7ae-3763-11e7-8aa5-acbd31a6875d.png)

[2017-05-15 04:05] arouinfar commented on #233
@samreid I think that would be reasonable, but we should confirm with @kathy-phet.

[2017-05-15 15:12] jonathanolson commented on #310
This looks like it's caused because node.bounds gives you a reference to the Bounds2 that Node mutates when its bounds change (which shouldn't get passed directly to mouseArea/touchArea).

It doesn't look like we discussed adding defensive copies to bounds getters in https://github.com/phetsims/scenery/issues/117, maybe that should be brought up. Thoughts?

[2017-05-15 15:13] jonathanolson commented on #310
(I've been writing code assuming that a node's bounds access is immutable, so I have a preference for a potential defensive copy).

[2017-05-15 15:15] jonathanolson commented on #301
It seems the startDrag pattern in general is independent of anything like zoom. Is this a SimpleDragHandler issue, or specific to the zoom code you have? Let me know if consulting on it would help.

[2017-05-15 20:48] arouinfar commented on #198
Looks great!

[2017-05-15 20:48] #198 closed

[2017-05-15 21:43] samreid commented on #310
From a API & maintainability standpoint, it seems like a copy of the bounds is what clients probably expect.  However, I'm not sure how damaging that would be to performance or garbage collection.  So I'm not sure how to proceed, given that there are currently no known problems caused by this.  (I wonder if adding defensive copying would lead to double copies in some places like https://github.com

[2017-05-15 21:44] samreid commented on #310
In any case, CCK is all set and I'll move this issue to scenery.

[2017-05-15 21:47] samreid commented on #310
New issue is above, closing.

[2017-05-15 21:47] #310 closed

[2017-05-16 03:14] samreid commented on #301
@jonathanolson it would be great to take a look when our time matches up.

[2017-05-16 03:30] samreid commented on #301
@jonathanolson and I discussed it, and it seems like `targetNode` is the best solution for MovableDragHandler.  We tested the new `DragListener` implementation @jonathanolson has been implementing and demonstrated in http://localhost/scenery/examples/input.html and it works great for different coordinate frames.  I'll close this and if/when we upgrade sims to use the new DragListeners, we can revi

[2017-05-16 18:50] samreid commented on #131
I can still reproduce this behavior (bumping occurs when battery is released).  @arouinfar the rule is "whenever a component is dropped, see if there are any vertices that are too close together that can be moved apart."  Should we change this rule?

[2017-05-16 18:53] samreid commented on #88
Will there be animation or continuous motion for the switch?  Or just immediately jumping open and closed? If there is continuous motion, will there be continuous dragging, or only "tap to open/tap to close"?

[2017-05-16 21:21] arouinfar commented on #270
Discussion of the inline ammeter is mostly in the [4/27](https://docs.google.com/document/d/1l9ABgqq4zgsU0f3nW4naylJ9fXGkX4RhBcLNrg0lsLE/edit#heading=h.5vakygffkqb), [5/4](https://docs.google.com/document/d/1l9ABgqq4zgsU0f3nW4naylJ9fXGkX4RhBcLNrg0lsLE/edit#heading=h.fra8bbmxvw0o), and [5/11](https://docs.google.com/document/d/1l9ABgqq4zgsU0f3nW4naylJ9fXGkX4RhBcLNrg0lsLE/edit#heading=h.xzy9uukwh9fl

[2017-05-16 21:27] arouinfar commented on #286
@Denz1994 the toolbox is a bit narrower now, which also frees up space for the other panels. Here's the latest mockup:
![image](https://cloud.githubusercontent.com/assets/8419308/26129107/265a50a6-3a4c-11e7-9f41-9cab610a380e.png)

During the last design meeting, we also decided to use 'ohms' rather than the omega symbol in the battery resistance readout.

[2017-05-16 21:32] arouinfar commented on #306
@samreid things seems to be working nicely in dev.18. My only suggestion would be to make the slider snap to the tick marks. I believe we had discussed allowing the battery resistance to be whole numbers [0, 10], as there doesn't seem to be much pedagogical advantage to allow a resistance such as 6.2 ohms, for example.

[2017-05-16 21:35] arouinfar commented on #289
We discussed the label appearance in the meeting notes from [5/11/17](https://docs.google.com/document/d/1l9ABgqq4zgsU0f3nW4naylJ9fXGkX4RhBcLNrg0lsLE/edit#heading=h.xzy9uukwh9fl) and @samreid did some real-time pixel polishing. I've reviewed the labels in dev.18, and I think they look great! However, the label should be centered over the light bulb.
![image](https://cloud.githubusercontent.com/ass

[2017-05-16 22:03] samreid commented on #306
@Denz1994 can you make the battery resistance slider snap to the tick marks?

[2017-05-16 22:09] arouinfar commented on #88
@samreid tapping or clicking the switch should flip its state - no animation necessary.

We had also talked about allowing users to continuously drag the switch arm, similar to Capacitor Lab: Basics. I think continuous dragging would be nice, but not critical. I'm also not sure how feasible it would be given that the CCK switch would be quite a bit smaller than the CL:B switch.

[2017-05-16 22:28] arouinfar commented on #131
@samreid I think the reason that [this](https://cloud.githubusercontent.com/assets/8419308/15944216/c4ca8798-2e49-11e6-93a9-5765aa165a92.gif) looks so odd is that vertices far away from the battery are being pushed. Perhaps the rule can be modified so that only vertices close to the component being dropped/moved would be checked?

[2017-05-17 03:14] samreid commented on #286
@Denz1994 can you please put the word "ohms" (internationalized) in the battery resistance control instead of the ohm symbol?

[2017-05-17 03:18] samreid commented on #88
I'm skeptical about the continuous dragging working on iPads, so let's plan for now on the tap to toggle idea.

[2017-05-17 03:19] arouinfar commented on #88
Sounds good @samreid.

[2017-05-17 03:38] samreid commented on #88
Should there be a control at the bottom of the screen for opening and closing the switch?

[2017-05-17 16:23] Denz1994 opened #312 "Factor out accordion box for battery and wire resistivity"
It may be useful to factor out options for the accordion box for these two panels. A parent class would be ideal for both ``` WireResistivityControl.js and BatteryResistanceControl.js```.

[2017-05-17 16:54] Denz1994 commented on #286
Layout adjustments were made as suggested such as reducing the padding margins to make room for the resetAllButton. A dev version was published for review @arouinfar. http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.19/circuit-construction-kit-dc_en.html

[2017-05-17 23:22] samreid commented on #88
@arouinfar I got most of the switch features working, including:

* lifelike render
* schematic render
* tap to toggle
* circuit physics
* resistance display when "show values" is selected, with infinity symbol
* icon in toolbox
* readout (circuit is open/closed) at the bottom of the screen

Known issues (will be moved to separate issues):
* the show values box moves up and down based on whether t

[2017-05-17 23:27] samreid opened #313 "SwitchNode should have curves and overlap in lifelike mode"
From https://github.com/phetsims/circuit-construction-kit-common/issues/88#issuecomment-302258137

The switch node should have curved edges and overlap like this:

![image](https://cloud.githubusercontent.com/assets/679486/26180229/7e3d3b10-3b25-11e7-93e8-81bbfa37e5f5.png)

The 2nd and 3rd segments of the switch should be created with Shape.lineTo, and something like ellipticalArcPoint, etc.  The

[2017-05-17 23:28] samreid opened #314 "Switch show values box jumps around when the switch opens and closes"
From https://github.com/phetsims/circuit-construction-kit-common/issues/88#issuecomment-302258137

the show values box moves up and down based on whether the switch is open or closed (unintentional and kind of buggy)

[2017-05-17 23:29] samreid opened #315 "there is no delete button at the bottom of the screen for selected switch"
From https://github.com/phetsims/circuit-construction-kit-common/issues/88#issuecomment-302258137

there is no delete button at the bottom of the screen for selected switch

[2017-05-18 00:10] samreid commented on #304
@arouinfar does this look OK in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.20/circuit-construction-kit-dc_en.html

?

[2017-05-18 00:18] samreid opened #316 "Battery resistance control should say "1 ohm" instead of "1 ohms""
In #305, we worked on the battery resistance control but not it shows "1 ohm" which is incorrect.  Can you change it so when there is only 1 ohm, it says "1 ohm" instead of "1 ohms".  @Denz1994 can you take a look?

![image](https://cloud.githubusercontent.com/assets/679486/26181434/42dc7c86-3b2d-11e7-90bb-1c69c28ad731.png)

[2017-05-18 00:20] samreid commented on #305
I made a few aesthetic improvements in the preceding commit, everything else looks great! I moved a new issue to #316 and this one is good to close, thanks @Denz1994

[2017-05-18 00:20] #305 closed

[2017-05-18 00:33] arouinfar commented on #304
👍

[2017-05-18 00:33] #304 closed

[2017-05-18 02:11] samreid commented on #313
I'm thinking of looking into this, @Denz1994 please make a comment if you start on it so we don't collide.

[2017-05-18 02:53] samreid commented on #313
Implemented and deployed here for testing:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.21/circuit-construction-kit-dc_en.html

Note that I adjusted some of the dimensions so that the electrons wouldn't appear over the notches and to look better in context (in my opinion).  @arouinfar can you please review the notches?

[2017-05-18 03:10] samreid opened #317 "Code Review"
*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*
*Please mark failed items with ❌*

PhET code-review checklist
=============

#### **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims?
- [x] Does the sim start up? (requirejs and built

[2017-05-18 03:25] samreid commented on #270
The shading on this is very slight and I'll need regions to get the 3d clipping effect, so I'm tempted to draw this in code.

[2017-05-18 16:24] samreid commented on #270
@arouinfar will the series ammeter change its appearance in schematic mode?

[2017-05-18 16:28] arouinfar commented on #270
Good question @samreid. I don't think any of the meters should change in schematic mode.

Sounds good! The shading doesn't need to exactly match the mockups so long as it's form a light source in the upper-left corner.

[2017-05-18 16:29] samreid commented on #270
Good plan, thanks @arouinfar

[2017-05-18 17:43] Denz1994 commented on #316
The label is pluralized depending on resistance values. Assigning to @samreid for review.

[2017-05-18 17:44] Denz1994 commented on #306
Assigning to @samreid for review. The snapping action was added to the slider.

[2017-05-18 17:52] samreid commented on #316
Looks great, thanks! Closing.

[2017-05-18 17:58] samreid commented on #306
Looks great, nice work @Denz1994, closing.

[2017-05-18 17:58] #306 closed

[2017-05-18 18:12] arouinfar commented on #88
@samreid the switch looks great!! Tapping to open/close seems intuitive.

Originally, the switch was sitting in a rounded rectangle, with the motivation being that it would help the switch feel like a contained component. However, after seeing the switch in action, I don't think it's necessary.

I find that the flat appearance of the switch looks a bit odd compared to the other components. @samrei

[2017-05-18 18:14] arouinfar commented on #313
Love the lock-and-key mechanism! Thanks @samreid.

Good call @samreid. The electron spacing looks great!

[2017-05-18 18:14] #313 closed

[2017-05-18 18:24] arouinfar commented on #286
@Denz1994 the panel spacing looks great! I think the scene selection buttons should be moved below the Battery Resistance panel, but perhaps that should be tracked elsewhere?

[2017-05-18 20:01] samreid commented on #88
Sounds good, I'll move your two points to new issues.

[2017-05-18 20:01] #88 closed

[2017-05-18 20:02] samreid opened #318 "The switch should have a gradient"
From https://github.com/phetsims/circuit-construction-kit-common/issues/88#issuecomment-302496175

@arouinfar said:

@arouinfar are you thinking something similar to the wires?

[2017-05-18 20:07] samreid opened #319 "z-ordering for the switch"
In https://github.com/phetsims/circuit-construction-kit-common/issues/88#issuecomment-302496175

@arouinfar said:

Here's how it currently looks:
![image](https://cloud.githubusercontent.com/assets/679486/26221182/dbb16cb4-3bd2-11e7-8a6e-86c4e588171f.png)

I'm not sure how difficult it would be to change the layering for this, and also not sure what would look best.  Want to create a mock-up and w

[2017-05-18 20:49] samreid opened #320 "Should we delete the js/common directory?"
[5/18/17, 2:48:43 PM] Sam Reid: New topic: Denzell and I noticed that circuit-construction-kit-common/js has subdirectory common/
[5/18/17, 2:48:49 PM] Sam Reid: And vibe has vibe/js/vibe
[5/18/17, 2:48:55 PM] Sam Reid: But shred doesn’t have shred/js/shred
[5/18/17, 2:49:24 PM] Sam Reid: We are wondering if we should eliminate the “common” directory from circuit-construction-kit-common/js

[2017-05-18 20:53] samreid commented on #320
@jbphet said:

I just looked at a few common code repos, and none have a "common" or a "<repo-name>" subdir.  Vibe should probably be changed.  So yes, I'd say get rid of "common".

[2017-05-18 20:59] Denz1994 commented on #312
Parent class created and both controls are inheriting from this new class. Assigning to @samreid for review.

[2017-05-18 21:08] samreid commented on #312
Looks great, thanks!  Closing.

[2017-05-18 21:08] #312 closed

[2017-05-18 21:09] samreid commented on #301
@Denz1994 reported that he cannot reproduce the problem after the preceding commits, closing.

[2017-05-18 21:09] #301 closed

[2017-05-18 21:10] samreid commented on #286
Thanks @arouinfar, we'll close this issue and move your preceding comment to a new or pre-existing issue.

[2017-05-18 21:10] #286 closed

[2017-05-18 21:15] samreid opened #321 "Move the scene selection buttons above the reset all button."
From https://github.com/phetsims/circuit-construction-kit-common/issues/286#issuecomment-302500760 @arouinfar requested that the scene selection buttons be at the bottom of all other controls.

The current behavior is for the wire resistivity control and battery resistance controls to be appended below the scene selection button, so the scene selection button remains in the same place in the layou

[2017-05-19 03:10] samreid opened #322 "Add icons for electrons and conventional current"
See https://github.com/phetsims/circuit-construction-kit-dc/issues/9

We need to add icons for electrons and conventional current like this:

![image](https://cloud.githubusercontent.com/assets/679486/26231736/63818940-3c0e-11e7-8bc3-02572fd931d1.png)

@Denz1994 can you take a look at this?

[2017-05-19 21:03] ariel-phet commented on #233
@samreid @arouinfar yes, definitely should be postponed.

[2017-05-21 03:00] samreid commented on #270
The first draft is nearly complete. However, right now you can only "put back" series ammeters by putting them in the circuit element toolbox.  I need to change it so they get put back in the sensor toolbox instead.

[2017-05-21 03:10] samreid commented on #322
@jonathanolson would I use AlignBox/AlignGroup to work on the "electrons" and "conventional" icons?

[2017-05-21 23:24] jonathanolson commented on #322
Sounds like an easy way to handle aligning the right part of the labels (put both of the Text instances in an AlignBox with a group?)

[2017-05-22 01:07] samreid commented on #322
Added new icons in the preceding commit, I'll create a separate issue for using AlignBox.

[2017-05-22 01:07] #322 closed

[2017-05-22 01:09] samreid opened #323 "Implement current type icon alignment with AlignBox/AlignGroup"
In https://github.com/phetsims/circuit-construction-kit-common/issues/322 we added icons for the current types.  @jonathanolson suggested checking out AlignBox/AlignGroup for doing the alignment (currently hard-coded).

@jonathanolson said:

@Denz1994 can you look through prior usages of AlignBox/AlignGroup and read the docs and see if it will help here?

[2017-05-22 01:35] samreid commented on #318
I implemented a subtle gradient like this:

![image](https://cloud.githubusercontent.com/assets/679486/26289350/9171a970-3e5c-11e7-8b81-1b0ce5ca1001.png)

@arouinfar does this look OK?

[2017-05-22 01:37] samreid commented on #314
Fixed in 59f48e1af60618151160af1922e8d9c0702bd37e

[2017-05-22 01:37] #314 closed

[2017-05-22 16:08] samreid opened #324 "SeriesAmmeterNode.js shouldn't show a blank value readout"
From #270

The series ammeter shows a blank value readout like this:

![image](https://cloud.githubusercontent.com/assets/679486/26317948/8d7d5c0e-3ed6-11e7-905e-5d4452030211.png)

It should be eliminated.

[2017-05-22 16:09] samreid commented on #270
I published a dev version here with the series ammeter:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.22/circuit-construction-kit-dc_en.html

I already noted #324 about one issue.  @arouinfar can you test it out and provide feedback?

[2017-05-22 16:13] Denz1994 commented on #323
I replaced the hStruts used in the ```DisplayOptionsPanel``` with an ```AlignBox```.  Is there more that can be done so that this isn't considered "hard-coded"? Assigning to @samreid for review.

*Note: This pattern will be useful for https://github.com/phetsims/masses-and-springs/issues/81

[2017-05-22 16:20] samreid commented on #323
Thanks, that seems better.  Can you also use the AlignBox/AlignGroup to position these icons?

![image](https://cloud.githubusercontent.com/assets/679486/26318309/fe3dee26-3ed7-11e7-815a-3b3576a6d909.png)

The problematic layout code is:

[code]

[2017-05-22 16:25] samreid commented on #324
Fixed above, closing.

[2017-05-22 16:25] #324 closed

[2017-05-22 16:26] samreid commented on #320
Common directory is gone, closing.

[2017-05-22 16:26] #320 closed

[2017-05-22 17:42] Denz1994 commented on #323
I've spent some time trying to use AlignBoxes to remove the spacing option in the layout code and reduce the about of HBoxes needed. Despite a lack of success, I was able to implement an align box for the radio buttons, but I feel like it doesn't get us much in regards to reducing code or readability.

It would be helpful to collab on this for maybe 10 min if these changes aren't ideal.